[2019-10-08 03:40] ededals commented on #1242
I am facing a problem that first task is starting to execute before last one is created. The solution I tried was to freeze first task execution by creating self-dependency and force scheduling it before status monitoring. There is a problem with permissions though, as taskId is added to schedule scope. When I try to modify my client scopes to ```queue:scheduler-id:*```  in taskcluster tools I rec

[2019-10-08 04:53] vishakhanihore commented on #217
@djmitche @helfi92 I read about the bug opened in the `Library` but it has no relation to the line mentioned in here.
Moreover, the `hterm-udmjs` is not also maintained. Can you guide what could be the potential way to solve the bug.
[code]

[2019-10-08 08:03] vishakhanihore opened #1527 "[UI] Helper Text in `Info Tab` of `Task Index` missing"
**Describe the bug**

Helper Text in `Info Tab` of `Task Index` missing

**To Reproduce**

Steps to reproduce the behavior:

1. Go to 'http://127.0.0.1:5080/tasks/index'
2. Click on 'Page Information'
3. See error

**Expected behavior**

Please add the `Page Information`

**Screenshots**

If applicable, add screenshots to help explain your problem.

<img width="1139" alt="Screenshot 2019-10-08 at

[2019-10-08 08:04] vishakhanihore commented on #1527
@djmitche Can I work on it or should it be for newcomers ?

[2019-10-08 08:55] ANURADHAJHA99 commented on #222
@helfi92  @djmitche  Can you kindly assign the following issue to me?

[2019-10-08 09:15] sccofield commented on #1527
@djmitche can I work on this?

[2019-10-08 10:04] Rolikasi commented on #1527
Hi @vishakhanihore, it is the same issue as #1386. I've already made PR for that one
I think you can close this issue

[2019-10-08 14:00] helfi92 opened #1529 "[UI] Redirect third-party to login strategy directly when only 1 strategy"
**Describe the bug**
When a third party site tries to get taskcluster credentials, they first need to redirect their users to our site to login. They navigate their users to `/third-party?...`.

**To Reproduce**
Steps to reproduce the behavior:
1. The frontend reads configuraiton variables from relative URL `./static/env.js` on page load. This file is written during `yarn start`. Modify `UI_LOGIN_

[2019-10-08 14:57] djmitche commented on #1245
Clients are made with the aptly-named [auth.createClient](https://docs.taskcluster.net/docs/reference/platform/auth/api#createClient) API method.  To create a client, you'll need some scopes, though.  I just added those scopes to the [`project:taskcluster:smoketests`](https://tools.taskcluster.net/auth/roles/project%3Ataskcluster%3Asmoketests) role.

The intent is for smoketests to be run by admin

[2019-10-08 15:02] ANURADHAJHA99 commented on #1245
![Screenshot from 2019-10-08 20-30-25](https://user-images.githubusercontent.com/34815869/66407297-990f4c80-ea0a-11e9-9b50-2c42e9b884ad.png)

The client-ID is mozilla-auth0/github|34815869|ANURADHAJHA99

[2019-10-08 15:03] ANURADHAJHA99 commented on #1245
@djmitche I provided the details above. Can you kindly check them? Thank you or the help

[2019-10-08 15:31] helfi92 commented on #1529
Hi @JiwoonKim. This issue was actually assigned before it got created for @naimiii while discussing on IRC. Sorry for that.

[2019-10-08 16:19] ajinkabeer commented on #1248
Can I try this one out please?
@djmitche

[2019-10-08 16:28] djmitche commented on #1245
OK, you now have the smoketest role, giving you all of the scopes necessary.  You also have the scopes you need to create your own client using https://tools.taskcluster.net/auth/clients/.  The scope is `auth:create-client:mozilla-auth0/github|34815869|ANURADHAJHA99/*` so you can create any client beginning with `mozilla-auth0/github|34815869|ANURADHAJHA99/`.  Once you create a client, the UI will

[2019-10-08 16:29] djmitche commented on #1248
Sure thing!  If you need scopes added to the role, please let me know.

[2019-10-08 16:55] Rolikasi commented on #1244
@djmitche, can I take this issue?

[2019-10-08 17:02] djmitche commented on #1244
Sure!

[2019-10-08 17:07] Rolikasi commented on #1244
Do I need to sign in at https://tools.taskcluster.net/ and give you Client id?

[2019-10-08 17:10] Rolikasi commented on #1244
If you'll guide me a little bit it would be great!) I look at other smoketest issues and try to figure out how to do it)

[2019-10-08 18:14] #1395 closed

[2019-10-08 18:38] #1448 closed

[2019-10-08 18:51] helfi92 opened #1534 "[UI] Update version of @mozilla-frontend-infra/components"
Let's bring in the updates of https://github.com/mozilla-frontend-infra/components/pull/52 after it gets released.

[2019-10-08 18:56] helfi92 commented on #1407
The disabled prop should stay on the Button since a disabled prop on a div doesn't do anything. A div is a HTML element whereas a Button is a React component.

Here's an example of another repo doing something similar: https://github.com/mozilla-frontend-infra/balrog-ui/blob/c403510923e2823f0575811185e8b34ee6d25413/src/views/Releases/Release/index.jsx#L321-L342. Hope that helps.

[2019-10-08 19:03] #1459 closed

[2019-10-08 19:09] ANURADHAJHA99 commented on #1245
@djmitche Thank you very much. Can you please give me instructions, as to how I have to proceed after generating the secret token? I am very sorry to bother but it will be highly helpful.

[2019-10-08 19:15] helfi92 commented on #1397
@ANURADHAJHA99 We use [CSS-in-JS](https://material-ui.com/styles/basics/) to for styling. See the examples there to see how they style buttons.

@withStyles(theme => ({
actionButton: {
...theme.mixins.fab,
},
this is the piece of code for styling the button, I have tried googling but it is not helping out, can you please guide me? Thank you very much for helping.

The definition of theme.mixins.fa

[2019-10-08 19:31] helfi92 opened #1535 "Add cross-env to support users on windows"
**Reserved** for [outreachy](https://www.outreachy.org/) candidates. In order for this to be assigned to you, make sure to complete the first step of the application process outlined in the [project description](https://www.outreachy.org/december-2019-to-march-2020-internship-round/communities/mozilla/#build-a-component-that-can-display-a-json-schema).

---

Folks on windows are having issues runn

[2019-10-08 19:35] helfi92 commented on #1455
When I run https://github.com/taskcluster/react-schema-viewer locally, and then navigate to http://localhost:5005/, I am able to see the title in a Bootstrap tooltip.

<img width="399" alt="Screen Shot 2019-10-08 at 3 33 47 PM" src="https://user-images.githubusercontent.com/3766511/66426967-0dcd9100-e9e1-11e9-9400-25fdfb10ab59.png">

For some reason it's not showing up when we use it in the Taskcl

[2019-10-08 19:40] Karskaya commented on #1535
Hello! I'm an outreachy applicant, can I try with this bug?

[2019-10-08 20:03] helfi92 opened #1536 "[tc-client-web] Fix regression"
There may have been a regression introduced in https://github.com/taskcluster/taskcluster/issues/285. I noticed it while working on third party logins. `v8.1.1` should work.

[2019-10-08 20:04] helfi92 commented on #1536
Blocks https://bugzilla.mozilla.org/show_bug.cgi?id=1587145.

[2019-10-08 20:05] BlueMona commented on #1535
Also an Outreachy looking for a bug to try. Last time I checked all the
outreachy ones were taken and I was told I should wait...

On Tue, Oct 8, 2019 at 3:40 PM Karskaya <notifications@github.com> wrote:

--
Mona

Twitter <https://twitter.com/blue_mona> Facebook
<https://www.facebook.com/mona.lastheneia> Instagram
<https://www.instagram.com/lastheneia/>
LinkedIn <https://www.linkedin.com/in/zahra

[2019-10-08 20:06] djmitche commented on #1536
The last released version of this library was 19.0.0 ;)

[2019-10-08 20:09] vishakhanihore commented on #1527
Sure

[2019-10-08 20:09] #1527 closed

[2019-10-08 21:14] ANURADHAJHA99 commented on #1247
Hi @ajinkabeer!!! I am trying to set the environment variables too for creating a smoketest as well. However, I am having a lot of trouble. What steps did you take to set the environment variable? while I have done almost everything, like installed gvm and version 1.12.9 of go, run yarn generate and then try to set the environment variables but nothing is working! I am very sorry to disturb you bu

[2019-10-08 21:38] helfi92 opened #1539 "[UI] Improve layout of expanded scopes"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://taskcluster-ui.herokuapp.com/auth/roles/hook-id%3Agarbage%2Fcron-task-johanlorenzo-fenix%2Fnightly
2. Look at the expanded scopes

**Actual behavior**
There is a lot of white space between each scope and the font size is a bit too large.

<img width="799" alt

[2019-10-08 21:40] helfi92 commented on #835
It turns out the two remaining forms are already assigned to other folks (see https://github.com/taskcluster/taskcluster/issues/835#issue-451984858). I filed https://github.com/taskcluster/taskcluster/issues/1539 and assigned it to you. Hope that's okay. Let me know if you had questions.

[2019-10-08 21:44] #1385 closed

[2019-10-08 21:59] helfi92 commented on #222
https://github.com/taskcluster/taskcluster/issues/1397 is currently assigned to you. Let's try to finish that one first before we assign you to this one. Hope that's okay.

[2019-10-08 22:21] ANURADHAJHA99 commented on #222
Sure that's absolutely fine with me.

[2019-10-09 00:56] ajinkabeer commented on #1539
I would like to take up this issue if that's possible.
@helfi92 @djmitche

[2019-10-09 00:58] chefoce commented on #1539
@helfi92 thanks I would start working right away

[2019-10-09 00:58] ajinkabeer commented on #1534
Thank you!

[2019-10-09 01:22] shilpiverma509 commented on #1488
@devnoorfatima  No issues. Thankyou. Lets try figuring out the way @helfi92 has suggested.

[2019-10-09 01:26] ajinkabeer commented on #1247
Oh It's okay, I can help you out. What is the error exactly? Which environment variable are you not able to set?

[2019-10-09 02:07] Karskaya commented on #1535
@helfi92 I'm really sorry, pushed that by mistake. Could you please that commit comment somehow?

[2019-10-09 03:32] ededals commented on #1242
The scope error looks like this:

(node:4368) UnhandledPromiseRejectionWarning: Error: Client ID mozilla-auth0/github|43218607|ededals/ does not have sufficient scopes and is missing the following scopes:

[code]

This request requires the client to satisfy the following scope expression:

[code]

The three lines where cut off in console. And I did not see the error to the end so I kind of am not

[2019-10-09 03:44] djmitche commented on #1242
That the error is unhandled signals an error in the code (missing await?).

What API method are you calling that returns this error?

[2019-10-09 07:46] ANURADHAJHA99 commented on #1247
@ajinkabeer The error is mentioned below:-
TASKCLUSTER_CLIENT_ID= mozilla-auth0/github|34815869|ANURADHAJHA99
bash: export: `mozilla-auth0/github': not a valid identifier
34815869: command not found
ANURADHAJHA99: command not found

Also when I am trying to set the Client_id environment variable, the following error occurs.

[2019-10-09 08:05] ajinkabeer commented on #1247
Okay, can you try passing it like this with a single quote?
`TASKCLUSTER_CLIENT_ID= 'mozilla-auth0/github|34815869|ANURADHAJHA99'
`
The same applies for setting any environment variables. Tell me how it goes.

[2019-10-09 08:12] ANURADHAJHA99 commented on #1247
@ajinkabeer Thank you very much. It ran successfully.

[2019-10-09 08:13] ajinkabeer commented on #1247
I am glad it helped.
@ANURADHAJHA99

[2019-10-09 08:29] ANURADHAJHA99 commented on #1245
@djmitche I have set the environment variables successfully, can you please tell me what is the next step?

[2019-10-09 11:35] km-js commented on #1535
Can I work on this being an Outreachy aspirant??

[2019-10-09 13:02] djmitche commented on #1244
Yes, please.  The process is described in [these comments](https://github.com/taskcluster/taskcluster/issues/1247#issuecomment-537963420).

[2019-10-09 13:03] Jo-IE commented on #1403
Hi @djmitche here is the link to the [gist](https://gist.github.com/Jo-IE/7a8023091ac397df59970f2975843370) with the problems i am facing regarding this issue.

[2019-10-09 13:07] djmitche commented on #1403
thanks! @helfi92 is the better person to answer

[2019-10-09 13:12] djmitche commented on #1245
Great!  Now if you run `yarn smoketest` it should succeed.

If it does, then you can get on to writing your own smoketest.  The smoketests are all in https://github.com/taskcluster/taskcluster/tree/master/infrastructure/tooling/src/smoketest/checks and you can find an example of one that @ededals wrote in there, as well as @ajinkabeer 's in #1525.  This issue is a little more similar to #1525 in t

[2019-10-09 13:59] Rolikasi commented on #1244
mozilla-auth0/github\|44370635\|Rolikasi

[2019-10-09 14:09] #1391 closed

[2019-10-09 14:47] helfi92 opened #1545 "[UI] Remove warnings in console"
**Reserved** for [outreachy](https://www.outreachy.org/) candidates. In order for this to be assigned to you, make sure to complete the first step of the application process outlined in the [project description](https://www.outreachy.org/december-2019-to-march-2020-internship-round/communities/mozilla/#build-a-component-that-can-display-a-json-schema).

---

**To Reproduce**
Steps to reproduce the

[2019-10-09 15:46] djmitche commented on #1244
OK, I created https://tools.taskcluster.net/auth/roles/login-identity%3Amozilla-auth0%2Fgithub|44370635|Rolikasi

[2019-10-09 17:02] shilpiverma509 commented on #1488
@helfi92  I was trying to pass an options object as props in CodeEditor. Well this didn;t work and I am unable to understand how to map the tab key here
`const options = {extraKeys:{
      Tab:false,
      Shift:false,
      indentWithTabs:false,
      "Shift-Tab": false
  }};
and pass it under CodeEditor like :
       <CodeEditor
                    lint
                    value={taskInput}

[2019-10-09 17:20] devnoorfatima commented on #1487
I declared a variable options and gave it the value ` extraKeys: {Tab: false,},` and mentioned it in the code editor tag like `options={options}` .
But it does nothing, I am certainly doing something wrong but can't figure out what.

[2019-10-09 18:33] ANURADHAJHA99 commented on #1245
`const taskcluster = require('taskcluster-client');

const options = {
    method: 'post',
    url: '/clients/<clientId>',
    data = {
        "$id": "/schemas/auth/v1/create-client-request.json#",
        "$schema": "/schemas/common/metaschema.json#",
        "additionalProperties": false,
        "description": "Properties to create a client.\n",
        "properties": {
          "deleteOnExpir

[2019-10-09 18:54] Rolikasi commented on #1244
For the first step do I need to create a task at https://tools.taskcluster.net/tasks/create and what do i need to put in deadline, name, description and owner?

[2019-10-09 19:41] helfi92 opened #1554 "[web-server] implement an azure session store for express-session"
We currently store sessions in memory using [memorystore](https://github.com/roccomuso/memorystore#readme).

Problems:
* Restarting the service clears all user sessions
* Spinning up multiple web-server services for load balancing is not possible since memory sessions belong to a single instance.

One solution would be to implement an azure session store for express-session that is compatible with

[2019-10-09 19:55] ajinkabeer commented on #1545
I managed to fix the warnings in the console. Please excuse the closed PR's because both were accidental. Can you take a look at #1553 please?
@helfi92

[2019-10-09 21:41] helfi92 commented on #1534
Resolved in https://github.com/taskcluster/taskcluster/pull/1556. Thank you @ajinkabeer :)

[2019-10-09 21:41] #1534 closed

[2019-10-09 22:06] djmitche opened #1558 "[UI] no way to go back from a detail page"
**Describe the bug**
When creating or editing a resource using a view for that specific resource, there is no clear way to get back to the list of resources

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the clients view
1. Click "+"
1. Create a clientId with a name `<clientId>/testy`, substituting your signed-in clientId
1. Wonder how to get back to the list of clients (clicking back

[2019-10-10 01:50] yellowwoods12 commented on #1558
@helfi92 @djmitche should I give this a shot?

[2019-10-10 08:27] Rolikasi commented on #1387
We can close this issue, because it was duplicated in #1459 and #1460 . And we all made PRs)
Since I worked on this issue can I add it in my contribution records to the final application?)
Thanks!

[2019-10-10 12:32] susanreenesaa commented on #1539
if @chefoce  did not take up this task, you can allocate it to me, please

[2019-10-10 13:47] djmitche commented on #1122
It appears that the `go mod` in the version of go we use (go1.12.9) is not "stable" and will put different stuff in `go.sum` and `go.mod` depending on where it is run.  In `yarn generate`, we require stable behavior, since we must be able to reproduce the exact same output by running `yarn generate` again.  So for the moment, this issue can't be solved.  When we update to a newer go version, maybe

[2019-10-10 13:48] djmitche commented on #1558
I'd like to hear from @helfi92 if and how this should be solved.

[2019-10-10 13:49] djmitche commented on #1387
Yes, that's fine..

[2019-10-10 15:25] #1387 closed

[2019-10-10 15:35] helfi92 commented on #1529
From IRC:

The error suggests that we must provide a rootUrl. To do that, you could do:

on linux:

[code]

or on windows (i think it's):

[code]

[2019-10-10 15:35] Rolikasi commented on #1244
Sorry, I'm a bit confused. For the 1st step in task creator do i need to make task like this?
provisionerId: indexed-task
workerType: find
created: '2019-10-10T15:32:11.089Z'
deadline: '2019-10-10T18:32:11.090Z'
payload:
  image: 'ubuntu:latest'
  command:
    - /bin/bash
    - '-c'
    - for ((i=1;i<=600;i++)); do echo $i; sleep 1; done
  maxRunTime: 630
metadata:
  name: Smoketest create indexed

[2019-10-10 15:55] djmitche commented on #1492
It looks like this is a go1.13 problem?  There's lots of [workarounds for the issue in go1.13](https://tip.golang.org/doc/go1.13#version-validation) but no explanation of why this occurs.

Wait, *currently*?  So, this might resolve to something else some other time?  Doesn't that defeat the whole purpose?  WAT?

[2019-10-10 15:56] djmitche commented on #1492
Hm, but taskcluster-worker-runner is running go1.12.9.

[2019-10-10 16:12] djmitche commented on #1492
I can only reproduce this locally with go1.13, so I'm not sure what's up with taskcluster-worker-runner.

[code]

[2019-10-10 16:15] djmitche commented on #1492
..sometimes.  So this is intermittent.

[2019-10-10 16:35] chefoce commented on #1539
Yes, i'm working, i'm very confused, but i would like to keep triying if its posible

Enviado desde mi Samsung Mobile de Telcel

-------- Mensaje original --------
De: Hassan Ali <notifications@github.com>
Fecha: 10/10/19 9:12 a. m. (GMT-07:00)
A: taskcluster/taskcluster <taskcluster@noreply.github.com>
CC: Carlos Oceguera <chefoceguera@hotmail.com>, Mention <mention@noreply.github.com>
Asunto: Re

[2019-10-10 17:40] helfi92 commented on #1558
To resolve this issue, we can avoid pushing state to the history when saving a client since we are not really changing views internally. We can use the replace state behavior instead. In other words, we should use `history.replace` instead of `history.push`.

[2019-10-10 17:43] djmitche commented on #1558
So "back" from the created secret would take me to the secrets list?  That works for me..

[2019-10-10 17:44] helfi92 commented on #1558
One easy way to test this without requiring scopes:

1. Navigate to http://localhost:5080/auth/clients
2. Click on any client
3. Login manually with any credentials
4. Change the description of the client
5. Click save and wait until a red error banner shows up
6. Click the browser's back button

**Actual:** The user is not navigated to the list of clients.
**Expected:** The user is navigated to t

[2019-10-10 21:35] helfi92 commented on #1488
Have you tried something like:

[code]

[2019-10-10 21:55] djmitche opened #1572 "Replace "foo: bar" in the secret creation view with a placeholder"
**Describe the bug**
When creating a secret, the secret area has the literal text `foo: bar` in it, which must be deleted to create a secret.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the secrets view
2. Click on '+'

**Expected behavior**
A placeholder that disappears when the user starts entering text

[2019-10-10 22:38] djmitche opened #1573 "No subscriptions in task-group viewer"
The page at https://community-tc.services.mozilla.com/tasks/groups/doiuNx_YT9Ovi-5heI7PYA doesn't seem to be updating (it stays the same, but hitting reload shows jobs having completed).  Loading it with network inspector active shows no connections to `/subscriptions`.  I didn't investigate further..

[2019-10-10 22:54] djmitche commented on #1245
The request payload you're sending looks like the body of the schema for that API method.  And, I'm not sure what `axios` is in this context.  Here's an example of creating a secret, if that sets you on the right course:
https://github.com/taskcluster/taskcluster/blob/ceef3fee91538e01b7ed7bd4aa18c9da1536162b/infrastructure/tooling/src/smoketest/checks/secrets.js#L12-L22

The idea is to create a ne

[2019-10-10 22:56] djmitche commented on #1244
A "task" and a "client" are different things.  You won't be able to create a client with the task creator :)

If you still need to create a client, start at "The next step is for you to create a new client" in #1247

[2019-10-10 23:00] susanreenesaa commented on #1572
Assign this to me, please. I am an outreachy applicant and i accepted the invitation. please also help me know in which directory/file can I find this bug in order to fix it.
thanks

[2019-10-10 23:08] djmitche commented on #1572
I think @helfi92 is tracking who's up next for Outreachy applications, so I'll let him decide.

[code]

[2019-10-11 00:40] djmitche opened #1576 "Remove aws-provisioner support from UI"
**Reserved** for [outreachy](https://www.outreachy.org/) candidates. In order for this to be assigned to you, make sure to complete the first step of the application process outlined in the [project description](https://www.outreachy.org/december-2019-to-march-2020-internship-round/communities/mozilla/#build-a-component-that-can-display-a-json-schema).

---

The "AWS Provisioner" component will no

[2019-10-11 00:54] helfi92 commented on #1576
Anything under `/aws-provisioner` belongs to the aws-provisioner. https://taskcluster-ui.herokuapp.com/aws-provisioner.

[2019-10-11 01:25] vishakhanihore commented on #1536
@helfi92 @djmitche Do we need to upgrade the library and fix the regression for `tc-client-web` in the following issue ? If yes, Can I give it a shot?

[2019-10-11 01:39] kellim commented on #1576
Can you assign this to me please?

[2019-10-11 04:23] ajinkabeer commented on #1248
I have started working on this smoketest, I need scopes to make API requests to Purge Cache API and also can I set any random provisionerId and workerType or should I use any existing ones?

@djmitche

[2019-10-11 05:52] naimiii commented on #1529
Thank you .

On Thu, Oct 10, 2019 at 8:35 PM Hassan Ali <notifications@github.com> wrote:

[2019-10-11 08:03] devnoorfatima commented on #1488
`const options = {
      extraKeys: {
        Tab: false,
      },
    };`
I have written it like this.Also I tried what you suggested but the double brackets are showing error in the code editor.

[2019-10-11 09:08] kushthedude commented on #987
@djmitche @helfi92 I am new to this repo, I would like to solve this ticket. Can I work on it ?

[2019-10-11 09:15] susanreenesaa commented on #1572
okay, You let me know about any feedback. But this issue was not signed to outreachy. thanks

[2019-10-11 12:51] djmitche commented on #1248
Can you tell me the precise scopes you need?

Let's use `built-in` and `succeed` for provisionerId / workerType.

[2019-10-11 13:10] djmitche opened #1577 "Visually divide API references into categories"
**Reserved** for [outreachy](https://www.outreachy.org/) candidates. In order for this to be assigned to you, make sure to complete the first step of the application process outlined in the [project description](https://www.outreachy.org/december-2019-to-march-2020-internship-round/communities/mozilla/#build-a-component-that-can-display-a-json-schema).

---

In [bug 1551848](https://bugzilla.mozil

[2019-10-11 13:21] helfi92 commented on #1536
We need to fix the regression but it will be a bit more than just updating the version.

[2019-10-11 13:30] ajinkabeer commented on #1248
Yes, I need `purge-cache:built-in/succeed:This is a test cache name` as the scope.

[2019-10-11 13:31] djmitche commented on #1248
I added `purge-cache:built-in/succeed:smoketest-cache` to https://tools.taskcluster.net/auth/roles/project%3Ataskcluster%3Asmoketests

[2019-10-11 13:32] ajinkabeer commented on #1248
Okay, so that means my cacheName is smoketest-cache right?
@djmitche

[2019-10-11 13:33] ajinkabeer commented on #1248
Yes, It's working. Thank you.

[2019-10-11 13:49] helfi92 commented on #1488
[code]

or

[code]

[2019-10-11 13:50] helfi92 commented on #1529
No problem!

[2019-10-11 13:58] susanreenesaa commented on #1572
thanks. i am working on it

[2019-10-11 14:05] ajinkabeer commented on #1248
I am having some doubts regarding this test. As you can see, the response I get is `request : {[object]}`. I want the data inside the object to compare if the cacheName is recorded right? Is this the right approach, can you take a loot at this screenshot please?

![Capture](https://user-images.githubusercontent.com/30138596/66657689-e1727880-ec5d-11e9-8baf-025a6181de80.JPG)

[2019-10-11 14:10] #1413 closed

[2019-10-11 14:10] djmitche commented on #1248
It's looking pretty good, yeah.  I'm not sure why the errors are showing up like that, and not spelling out the actual differences.  But if you want to see what the data structure looks like, just add a `console.log` temporarily, and run `yarn smoketest | cat` to avoid the animated, colored output and show the result of console.log.

[2019-10-11 14:13] naimiii commented on #1529
![image](https://user-images.githubusercontent.com/28563415/66658527-18935a80-ec5b-11e9-9800-96e25a4bb840.png)
How do i fix it ? Please assist

[2019-10-11 14:13] helfi92 commented on #987
@JiwoonKim are you still working on this?

[2019-10-11 14:21] helfi92 commented on #1577
The task would involve modifying web-server to expose this new property and then modifying the UI to display a subheader.

[2019-10-11 14:23] JiwoonKim commented on #1577
May I take this issue please, if all other outreachy applicants have already taken one?

[2019-10-11 14:23] JiwoonKim commented on #987
@djmitche I'm having a bit of difficulties in this problem. @kushthedude I think you can take this issue!

[2019-10-11 14:23] djmitche commented on #1577
This is static API data that's baked into the UI image -- no need for web-server changes.

[2019-10-11 14:25] djmitche commented on #1248
#1579 fixes the error display.

[2019-10-11 14:56] ajinkabeer commented on #1248
Nice work!

[2019-10-11 15:18] helfi92 commented on #1529
Debugging ideas:
* Make sure `ui/static/env.js` has `GRAPHQL_ENDPOINT` set to `/graphql` otherwise it won't work. If that doesn't work, can you post the content of that file, please?
* Make sure the web-server service is running. You'll know it's running if `http://localhost:3050/playground` shows a playground. If it's running, can you post a screenshot of it working, please?
* What happens when y

[2019-10-11 15:29] helfi92 opened #1581 "[UI] Invite user to login in /profile when logged out"
**Reserved** for [outreachy](https://www.outreachy.org/) candidates. In order for this to be assigned to you, make sure to complete the first step of the application process outlined in the [project description](https://www.outreachy.org/december-2019-to-march-2020-internship-round/communities/mozilla/#build-a-component-that-can-display-a-json-schema).

---

**To Reproduce**
Steps to reproduce the

[2019-10-11 15:46] helfi92 commented on #1535
Resolved in https://github.com/taskcluster/taskcluster/commit/aece42f0b00e33eed03937cbc04d7b62857d638c.

[2019-10-11 15:46] #1535 closed

[2019-10-11 16:27] km-js commented on #1581
Should I work on this one being an outreachy aspirant??

[2019-10-11 18:53] biddwan09 commented on #1581
Can I start working on this ?

[2019-10-11 19:34] naimiii commented on #1529
1.
![image](https://user-images.githubusercontent.com/28563415/66679446-9f5e2c80-ec87-11e9-9b6d-c8ccfc7cc0ef.png)
2.
![image](https://user-images.githubusercontent.com/28563415/66679472-b0a73900-ec87-11e9-8425-575dc768b1d7.png)
3.Nothing happens when i run git diff
![image](https://user-images.githubusercontent.com/28563415/66679597-04b21d80-ec88-11e9-8d6d-48cd7de57383.png)

[2019-10-11 19:37] helfi92 opened #1584 "[UI] Deep link the "Filter By" dropdown in /provisioners"
**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://taskcluster-ui.herokuapp.com/provisioners/aws-provisioner-v1/worker-types/ami-test
2. Pick "Quarantined" from the "Filter by" dropdown
3. Refresh the page

**Actual behavior**
The dropdown doesn't have "Quarantined" selected.

**Expected behavior**
The dropdown has "Quarantined" selected.

[2019-10-11 19:44] helfi92 opened #1585 "[UI] Make workers view mobile friendly"
**Reserved** for [outreachy](https://www.outreachy.org/) candidates. In order for this to be assigned to you, make sure to complete the first step of the application process outlined in the [project description](https://www.outreachy.org/december-2019-to-march-2020-internship-round/communities/mozilla/#build-a-component-that-can-display-a-json-schema).

---

**To Reproduce**
Steps to reproduce the

[2019-10-11 19:54] helfi92 opened #1586 "[UI] worker manager idea"
From slack:

[2019-10-11 20:11] alphaCentaauri commented on #1585
May I be assigned to work on this issue?

[2019-10-11 20:12] helfi92 opened #1587 "[UI] Remove error in hooks from console"
**Reserved** for [outreachy](https://www.outreachy.org/) candidates. In order for this to be assigned to you, make sure to complete the first step of the application process outlined in the [project description](https://www.outreachy.org/december-2019-to-march-2020-internship-round/communities/mozilla/#build-a-component-that-can-display-a-json-schema).

---

**To Reproduce**
Steps to reproduce the

[2019-10-11 20:19] alphaCentaauri commented on #1587
Can I work on this issue?

[2019-10-11 20:23] helfi92 opened #1588 "[UI] Text is not vertically centered"
**Reserved** for [outreachy](https://www.outreachy.org/) candidates. In order for this to be assigned to you, make sure to complete the first step of the application process outlined in the [project description](https://www.outreachy.org/december-2019-to-march-2020-internship-round/communities/mozilla/#build-a-component-that-can-display-a-json-schema).

---

**To Reproduce**
1. Go to https://taskc

[2019-10-11 20:31] helfi92 opened #1589 "[UI] Card title is indented"
**Reserved** for [outreachy](https://www.outreachy.org/) candidates. In order for this to be assigned to you, make sure to complete the first step of the application process outlined in the [project description](https://www.outreachy.org/december-2019-to-march-2020-internship-round/communities/mozilla/#build-a-component-that-can-display-a-json-schema).

---

**To Reproduce**
Steps to reproduce the

[2019-10-11 20:39] helfi92 commented on #1585
I think you are assigned to https://github.com/taskcluster/taskcluster/issues/1587. We don't have a lot of issues for everyone :)

[2019-10-11 20:44] helfi92 commented on #1529
In the playground, what happens when you put the following in the query and then click the play button?

[code]

[2019-10-11 20:54] Karskaya commented on #1589
Hello @helfi92 ! Can I try with this ticket as an outreachy applicant?

[2019-10-11 21:00] naimiii commented on #1529
![image](https://user-images.githubusercontent.com/28563415/66684708-1b5e7180-ec94-11e9-9f10-014e65ff45d5.png)

[2019-10-11 21:13] naimiii commented on #1588
can i contribute on this one too ? I m an Outreachy applicant.

[2019-10-12 00:57] vishakhanihore commented on #1586
@helfi92 Can I get the slack channel info ?

[2019-10-12 01:52] vishakhanihore opened #1591 "Various dependancies is `ui` are backlogged or not maintained"
**Describe the bug**

Various dependencies is `ui` are backlogged or not maintained. Update them to a new version or a maintained version.

[2019-10-12 01:53] vishakhanihore commented on #1591
@helfi92 @djmitche When I installed the dependency, Many warnings were there due to incorrect peer or unmaintained version. Should I update and test the `UI` and push a PR for this issue ?

[2019-10-12 02:32] djmitche commented on #1591
Some of those can be tricky to untangle, but that would be a great contribution!  I'd suggest taking one single issue and figuring out a minimal fix for it.  It may turn out that many are not easily fixed because they are dependencies of neutrino or other packages we don't directly control.

[2019-10-12 02:34] djmitche commented on #1586
That was the entire discussion, actually.  Slack access requires signing an NDA, and probably isn't worthwhile during the Outreachy application phase.

The data we're looking to show here is https://docs.taskcluster.net/docs/reference/core/worker-manager/api#listProviders, and I think that is already available in the GraphQL schema.

[2019-10-12 03:40] JiwoonKim commented on #1584
May I take this issue please, if all other outreachy applicants have taken an issue?

[2019-10-12 05:11] biddwan09 commented on #1588
Hi can I contribute on this one ?? Please assign to this one to me

[2019-10-12 05:13] biddwan09 commented on #1585
Hi Can I get assigned to this issue please ?? I am looking for a first contribution in this project

[2019-10-12 05:37] ajinkabeer commented on #1584
I have completed all the issues that I have been assigned to me and if its possible I would like to take up this issue please.

[2019-10-12 06:52] JiwoonKim commented on #1577
Hi @djmitche .  My idea of implementing this issue is the following:

1. categorize the entries by `category`: create a map which stores (category, list of entries)
2. display the entries by category using conditional rendering
    - if there is only one entry in the category: don't display headings
    - if there is more than one entry in the category: display small headings above

I've already i

[2019-10-12 10:58] biddwan09 commented on #1305
Hi @helfi92  can I please work on this ??  I wanted to start contributing to this project

[2019-10-12 11:52] helfi92 commented on #1529
The server is running properly. Is it possible you have a firewall running that is catching all of these routes? Have you tried restarting your computer and trying again?

/cc @djmitche in case you have other ideas.

[2019-10-12 12:06] helfi92 commented on #1585
Hey @biddwan09. This issue is reserved to Outreachy candidates. In order for this to be assigned to you, make sure to complete the first step of the application process outlined in the [project description](https://www.outreachy.org/december-2019-to-march-2020-internship-round/communities/mozilla/#build-a-component-that-can-display-a-json-schema).

[2019-10-12 12:08] helfi92 commented on #1545
Resolved in https://github.com/taskcluster/taskcluster/pull/1553.

[2019-10-12 12:08] #1545 closed

[2019-10-12 12:09] helfi92 commented on #1408
Resolved in https://github.com/mozilla-frontend-infra/components/pull/52.

[2019-10-12 12:09] #1408 closed

[2019-10-12 12:09] helfi92 commented on #1248
Resolved in https://github.com/taskcluster/taskcluster/pull/1580.

[2019-10-12 12:09] #1248 closed

[2019-10-12 12:10] helfi92 commented on #1247
Resolved in https://github.com/taskcluster/taskcluster/pull/1525.

[2019-10-12 12:10] #1247 closed

[2019-10-12 12:11] helfi92 commented on #1584
@JiwoonKim I think you are currently assigned to https://github.com/taskcluster/taskcluster/issues/1577. We can assign you to more issues once it is completed.

[2019-10-12 13:09] naimiii commented on #1529
yes I tried restarting the computer and tried again but useless . :(

[2019-10-13 02:06] vishakhanihore commented on #1472
@djmitche I found the error, see here : https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/no-unescaped-entities.md . That was the whole reason the error was shown on console rather than getting shown on CI Clients.

[2019-10-13 02:10] vishakhanihore commented on #1472
Can I look into this issue ?

[2019-10-13 03:59] JiwoonKim commented on #1585
Hi! I've finished all the tasks assigned to me at the moment. May I take this issue?

[2019-10-13 05:40] devnoorfatima commented on #1488
I am doing it in the exact same way. The Tab key is disabled in the code editor but the focus does not transfer to the save button.

[2019-10-13 07:31] ededals commented on #1242
Unhandled promise was caused by missing await in front of queue.scheduleTask(...) method. This consequently is also api method that is causing the error.

Here is the full error code message:

[code]

[2019-10-13 10:32] naimiii commented on #1588
![image](https://user-images.githubusercontent.com/28563415/66714297-84e29b00-edce-11e9-942a-a23d86167511.png)
when i run it locally it shows like this . please assist

[2019-10-13 13:06] helfi92 commented on #1488
The focus will not transfer to the save button if the button is disabled (i.e., cannot be clicked). Depending on the view, we sometimes disable a button when the user is not logged in or if there are no changes to be saved.

[2019-10-13 13:09] helfi92 commented on #1588
Do you get a different error after adding the following line?

[code]

[2019-10-13 14:20] helfi92 opened #1597 "[UI] ConnectionDataTable headers prop"
**Reserved** for [outreachy](https://www.outreachy.org/) candidates. In order for this to be assigned to you, make sure to complete the first step of the application process outlined in the [project description](https://www.outreachy.org/december-2019-to-march-2020-internship-round/communities/mozilla/#build-a-component-that-can-display-a-json-schema).

---

**Describe the bug**
Same as https://gi

[2019-10-13 14:23] susanreenesaa commented on #1572
i am not familiar with js yml or safeDump. I realized that whenever i type js in that method, its not recognized and shows an error. so I am requesting for any documentation that can help me fix this, please.

[2019-10-13 14:37] helfi92 opened #1598 "[UI] Deep link the expand scopes view"
**Reserved** for [outreachy](https://www.outreachy.org/) candidates. In order for this to be assigned to you, make sure to complete the first step of the application process outlined in the [project description](https://www.outreachy.org/december-2019-to-march-2020-internship-round/communities/mozilla/#build-a-component-that-can-display-a-json-schema).

---

**Describe the bug**
It's hard to share

[2019-10-13 14:43] djmitche opened #1599 "reference documentation fail with e.items is undefined"
**Describe the bug**
Lots of reference pages such as https://docs.taskcluster.net/docs/reference/core/purge-cache are showing `e.items is undefined`

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://docs.taskcluster.net/docs/reference/core/purge-cache
1. See error

**Expected behavior**
docs!

[2019-10-13 14:44] helfi92 opened #1600 "[UI] Deep link the Compare Scopes view"
**Describe the bug**
It's hard to share links of the compare scopes view without having to re-type scopes.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://taskcluster-ui.herokuapp.com/auth/scopes/compare
2. Ensure the scope editors have the following values

<img width="1586" alt="Screen Shot 2019-10-13 at 10 40 51 AM" src="https://user-images.githubusercontent.com/3766511/6671

[2019-10-13 14:53] djmitche commented on #1572
The format there is [YAML](https://yaml.org/), not JS.  Hopefully that helps!  [The wikipedia](https://en.wikipedia.org/wiki/YAML) has some nice examples.

[2019-10-13 15:42] devnoorfatima commented on #1600
Can I work on this issue.

[2019-10-13 15:44] devnoorfatima commented on #1597
Can I work on this issue.

[2019-10-13 15:46] shilpiverma509 commented on #1488
@helfi92 I was out for the weekend. Let me try with the way you suggested above

[2019-10-13 15:47] shilpiverma509 commented on #1598
@helfi92  Can I try working on this?

[2019-10-13 16:36] shilpiverma509 commented on #1488
@helfi92  Well this still doesn't work for me. Pressing the Tab key  still adds tabulation/indentation to the form.  @devnoorfatima were you able to work your way out here?
Also I am getting this in my console. Not sure what's wrong here.
[HPM] Error occurred while trying to proxy request /graphql from localhost:5080 to http://localhost:3050 (ECONNREFUSED) (https://nodejs.org/api/errors.html#error

[2019-10-13 17:54] naimiii commented on #1588
No . Still same error .

[2019-10-13 17:57] naimiii commented on #1598
@helfi92  can i contribute on it ?

[2019-10-13 17:58] naimiii commented on #1597
can i  work on it ?

[2019-10-13 18:00] naimiii commented on #1585
can you please assign it to me ? I am an Outreachy candidate ?

[2019-10-13 18:13] JiwoonKim commented on #1599
May I take this issue?

[2019-10-13 18:20] naimiii commented on #1588
yes i m getting different error

![image](https://user-images.githubusercontent.com/28563415/66719964-fc84ea00-ee0f-11e9-8403-f7d885b6d4ca.png)

[2019-10-13 18:43] djmitche commented on #1599
If you know how to solve it, sure!

[2019-10-13 18:50] BlueMona commented on #1581
Also interested

On Fri, Oct 11, 2019 at 2:53 PM biddwan09 <notifications@github.com> wrote:

--
Mona

Twitter <https://twitter.com/blue_mona> Facebook
<https://www.facebook.com/mona.lastheneia> Instagram
<https://www.instagram.com/lastheneia/>
LinkedIn <https://www.linkedin.com/in/zahra-mona-ghassemi-94a14560/>
ResearchGate <https://www.researchgate.net/profile/Zahra_Ghassemi5> Academia
<https://

[2019-10-13 18:52] BlueMona commented on #1587
Also interested

On Fri, Oct 11, 2019 at 4:19 PM alphaCentaauri <notifications@github.com>
wrote:

--
Mona

Twitter <https://twitter.com/blue_mona> Facebook
<https://www.facebook.com/mona.lastheneia> Instagram
<https://www.instagram.com/lastheneia/>
LinkedIn <https://www.linkedin.com/in/zahra-mona-ghassemi-94a14560/>
ResearchGate <https://www.researchgate.net/profile/Zahra_Ghassemi5> Academia
<htt

[2019-10-13 18:52] JiwoonKim commented on #1598
Hi! I've completed all the issues assigned to me. May I take this issue?

[2019-10-13 18:53] BlueMona commented on #1589
Also interested

On Fri, Oct 11, 2019 at 4:54 PM Karskaya <notifications@github.com> wrote:

--
Mona

Twitter <https://twitter.com/blue_mona> Facebook
<https://www.facebook.com/mona.lastheneia> Instagram
<https://www.instagram.com/lastheneia/>
LinkedIn <https://www.linkedin.com/in/zahra-mona-ghassemi-94a14560/>
ResearchGate <https://www.researchgate.net/profile/Zahra_Ghassemi5> Academia
<https://c

[2019-10-13 19:01] BlueMona commented on #1584
I have not been assigned any issues. May I take this one?

On Sat, Oct 12, 2019 at 8:11 AM Hassan Ali <notifications@github.com> wrote:

--
Mona

Twitter <https://twitter.com/blue_mona> Facebook
<https://www.facebook.com/mona.lastheneia> Instagram
<https://www.instagram.com/lastheneia/>
LinkedIn <https://www.linkedin.com/in/zahra-mona-ghassemi-94a14560/>
ResearchGate <https://www.researchgate.net/

[2019-10-13 20:47] #1376 closed

[2019-10-13 20:53] helfi92 commented on #1599
I don't seem to replicate. Perhaps a screenshot might help.

[2019-10-13 20:54] helfi92 commented on #1581
@km-js is working on this one.

[2019-10-13 20:55] helfi92 commented on #1587
How is it going @alphaCentaauri. Let me know if you had any questions :-)

[2019-10-13 21:04] naimiii commented on #1529
@djmitche  kindly help me to figure out what' s wrong in it .

[2019-10-14 02:37] arku commented on #1148
@helfi92 I am occupied with other stuff that I am unable to address your comments in #1238

Do you mind reassigning this issue to someone to make sure it gets fixed?

Thanks!

[2019-10-14 04:55] sccofield commented on #1598
@helfi92 I am an outreachy intern, can I work on this?

[2019-10-14 07:46] Rolikasi commented on #1598
Hi, @helfi92 . It looks interesting, can I work on this issue?)

[2019-10-14 09:01] Rolikasi commented on #1585
Hi, @helfi92. Can I take this issue please?

[2019-10-14 09:04] Rolikasi commented on #1597
Can you assign it to me please?

[2019-10-14 12:47] djmitche commented on #1599
Indeed, it appears to be working again.  :weird:

[2019-10-14 12:47] #1599 closed

[2019-10-14 13:04] naimiii commented on #1529
@helfi92   I tried 'git diff' again and here is the output
![image](https://user-images.githubusercontent.com/28563415/66753301-e24d1980-eeac-11e9-8e83-8cdbf92eb557.png)
please assist.

[2019-10-14 13:12] helfi92 commented on #1529
You can undo the changes by running `git checkout .`

`git diff` after that shouldn't show anything. Does that help?

[2019-10-14 13:20] djmitche commented on #1529
`Cannot GET /login/mozilla-auth0` is expected -- that's an Express-style error message, which shows that it's being proxied to the web-server service (the UI doesn't use Express), and indeed
[code]
so in [this comment](https://github.com/taskcluster/taskcluster/issues/1529#issuecomment-541081743) I think you were just accessing an incorrect URL on the UI.  Try just accessing `http://localhost:5080

[2019-10-14 13:43] helfi92 commented on #1148
No worries. Thanks for letting us know @arku :)

@Rolikasi are you interested in finishing up this PR?

[2019-10-14 13:48] helfi92 commented on #1597
@devnoorfatima @naimiii @Rolikasi You already have issues assigned to you. Let's leave this open for other folks. Thanks for understanding :)

[2019-10-14 13:53] helfi92 commented on #1588
This error usually happens when the web-server service is not running. Make sure that `ui` and `services/web-server` are both running on a separate terminal.

[2019-10-14 14:48] helfi92 opened #1613 "[UI] Interactive task switch not working"
**To Reproduce**
Steps to reproduce the behavior:
1. Go to http://localhost:5080/tasks/create
2. Click on Interactive switch to turn it on

**Actual behavior**
The task description doesn't change.

**Expected behavior**
The task definition is changed. Notable changes:

1. Set `task.payload.features.interactive = true`
2. Strip `task.payload.caches` to avoid poisoning
3. Ensures `task.payload.maxRu

[2019-10-14 14:50] helfi92 commented on #1613
@clrmachado Let me know if you had any questions.

[2019-10-14 15:06] helfi92 opened #1615 "[UI] CodeEditor placeholder text color"
**Describe the bug**
The placeholder for the CodeEditor component doesn't look like a placeholder.

**To Reproduce**
Steps to reproduce the behavior:
1. Add the following diff

[code]

2. Go to http://localhost:5080/secrets/create
3. Erase the content of the editor so that we can see the placeholder

**Actual behavior**

The placeholder looks like actual text, not a placeholder.

_Dark theme:_
![S

[2019-10-14 15:15] Rolikasi commented on #1148
Sure! I want to work on it)

[2019-10-14 15:54] bini11 commented on #1615
Hey @helfi92 I want to work on this bug. can you assign it to me?

[2019-10-14 16:16] vishakhanihore commented on #1536
@helfi92 Can you guide what else, I can give it a try IMO ?

[2019-10-14 17:10] mkneumann777 commented on #1398
I have made it through about 25% of my React course at this time. However, at this point, I don't think I'm any closer to solving this issue. From what I currently understand is that I need to get `scopeTextA` & `scopeTextB` values and update the URL params. Then when that URL is executed the application takes said params values and plugs them into the appropriate places.

[2019-10-14 21:10] arku commented on #1148
@Rolikasi Thanks for taking it up!

[2019-10-14 22:48] #1492 closed

[2019-10-15 04:43] sccofield commented on #1597
hi @helfi92 can I take up this task?

[2019-10-15 06:58] naimiii commented on #1529
@djmitche  Thank you for the response  :)  but i just accessing  http://localhost:5080   and still same problem .

[2019-10-15 06:59] naimiii commented on #1529
@helfi92  trying to solve it by using 'git diff' . I hope it helps .

[2019-10-15 07:03] katherine95 commented on #1573
I would like to work on this. @djmitche

[2019-10-15 08:53] JiwoonKim commented on #1487
@djmitche I've completed the issues assigned to me at the moment. Would like to work on this issue if @devnoorfatima is okay?

[2019-10-15 09:51] JiwoonKim commented on #1597
Can I take this issue?

[2019-10-15 10:00] kellim commented on #1576
@helfi92 I was looking to see if there was a pull request for when AWS Provisioner was added so I could figure out everything that needs to be removed, but instead I found one where it was removed already- https://github.com/taskcluster/taskcluster/pull/929/files
It looks like those changes are no longer in the repo, and that pull request also had some code for Provisioners too, which looks like y

[2019-10-15 12:48] djmitche commented on #1398
You've got it so far!

One good technique is to look for other examples of similar functionality.  One such example is the pulse inspector -- https://taskcluster-ui.herokuapp.com/pulse-messages?bindings%5B0%5D%5Bexchange%5D=abc&bindings%5B0%5D%5Bpattern%5D=%23

[2019-10-15 12:53] naimiii commented on #1588
@helfi92
![image](https://user-images.githubusercontent.com/28563415/66833022-82ba4100-ef74-11e9-9773-c4cc4e1fb8d9.png)
I  figure out that i have  to add code in this portion of file  to fix the bug  .M i right ?

[2019-10-15 12:56] djmitche commented on #1573
Great!  I'd start by seeing if you can replicate it, and then start debugging.  If you load a task group view, do you see any calls to `/subscription`?

I don't know what's wrong, so I can't give much more guidance than that!

[2019-10-15 12:58] djmitche commented on #1487
I'll defer to @helfi92 for assigning issues.

[2019-10-15 13:00] djmitche commented on #1576
See the comments on that PR -- the aws-provisioner view is now OK to remove (worker-manager is in production) but the provisioners view should stay.

[2019-10-15 13:12] #1406 closed

[2019-10-15 13:20] JiwoonKim commented on #1587
Hi! I've currently completed all the issues assigned to me and would like to work on this issue. @alphaCentaauri maybe I can help you?

[2019-10-15 13:43] reuben opened #1630 "[UI] Action buttons (re-run, edit, cancel) directly in group view"
I'm trying out the new TC UI and it's great :D

It'd be really cool to have at least a "rerun task" button inline in the task group view, as otherwise one has to open the details page for each task individually. This would be particularly useful in situations like: forgot to purge a cache used by workers of type XYZ, so now all XYZ jobs in the group need to be re-run.

[2019-10-15 14:00] helfi92 commented on #1529
@naimiii What's the problem. What do you get when you try to access http://localhost:5080?

[2019-10-15 14:03] helfi92 commented on #1588
If you open up a pull-request, It would be easier for me to check the implementation :)

[2019-10-15 14:09] helfi92 commented on #1487
@devnoorfatima Are you still working on adding the change to https://github.com/mozilla-frontend-infra/components or did you want me to assign the issue to someone else? Let me know if you had questions.

[2019-10-15 14:11] helfi92 commented on #1576
We previously removed the `/aws-provisioner` and `/provisoners` views but reverted the change a day or two later. At this time we want to keep `/provisoners` but remove `/aws-provisioner`.

[2019-10-15 14:28] helfi92 commented on #1558
Are you still working on this issue @yellowwoods12? Let me know if you had questions :-)

[2019-10-15 14:31] djmitche commented on #1242
Got it, thanks.  So it looks like we'd need `queue:schedule-task:-/*`.  Unfortunately, that would let anyone who can run the smoketests schedule *any* task, which is probably undesirable.

Long-term, I think the fix will be to use schedulerId `smoketests` for all smoketests.

But in the short term, let's write this test to just use `createTask` and not `scheduleTask`.  That the tasks run immediate

[2019-10-15 14:31] djmitche commented on #1242
(we can do the long-term part in another PR)

[2019-10-15 14:34] helfi92 commented on #1587
How is it going @alphaCentaauri?

[2019-10-15 14:36] helfi92 commented on #1581
Resolved in https://github.com/taskcluster/taskcluster/commit/2cc7b343e53e4079e8ba035d93c982b0f793834d.

[2019-10-15 14:36] #1581 closed

[2019-10-15 14:41] #1589 closed

[2019-10-15 14:48] helfi92 commented on #1584
Resolved in https://github.com/taskcluster/taskcluster/commit/7c4cdc71c6aaa5d487114aad41066fdbcc716c77.

[2019-10-15 14:48] #1584 closed

[2019-10-15 15:08] alphaCentaauri commented on #1587
Hi Hassan, Sorry for the delayed response. I was busy with school work. If possible can you please reassign this issue to someone else. Thanks!

[2019-10-15 15:34] helfi92 commented on #1630
\o/

Would handling this via [actions](https://docs.taskcluster.net/docs/manual/design/conventions/actions) help? For example, we could add an action to rerun/retrigger failed tasks on a group. They would be located bottom right in the speed dial.

[2019-10-15 15:47] helfi92 opened #1633 "[UI] Improve user experience of a paginated table (ConnectionDataTable)"
**Describe the bug**
**Reserved** for [outreachy](https://www.outreachy.org/) candidates. In order for this to be assigned to you, make sure to complete the first step of the application process outlined in the [project description](https://www.outreachy.org/december-2019-to-march-2020-internship-round/communities/mozilla/#build-a-component-that-can-display-a-json-schema).

---

Knowing when a tab

[2019-10-15 16:08] reuben commented on #1630
Sometimes one task fails and I know several others of the same type will also fail for the same reason, so I preemptively cancel them. I can't think of a way to capture that as a single action. But for re-running I think the action approach would work, yes.

[2019-10-15 16:20] Karskaya commented on #1407
@helfi92 Can I try to fix this? As I see it's unassigned

[2019-10-15 16:55] JiwoonKim commented on #1633
Hi! I've completed all the tasks assigned to me at the moment. May I take this issue?

[2019-10-15 17:05] devnoorfatima commented on #1487
I have made the changes I will now make the PR to get reviewed.

[2019-10-15 17:36] helfi92 commented on #1630
Continued in https://bugzilla.mozilla.org/show_bug.cgi?id=1588857.

[2019-10-15 17:36] #1630 closed

[2019-10-15 17:37] helfi92 commented on #564
Continued in https://bugzilla.mozilla.org/show_bug.cgi?id=1588857.

[2019-10-15 17:37] #564 closed

[2019-10-15 17:47] naimiii commented on #1529
@helfi92  when i try to access http://localhost:5080 then it shows like
![image](https://user-images.githubusercontent.com/28563415/66855901-8f9f5a80-ef9d-11e9-80a2-bcf7d583a937.png)
Afterwords i try to 'signup with Auth0' then  this problem happens all the time . :(
![image](https://user-images.githubusercontent.com/28563415/66855995-b1004680-ef9d-11e9-840c-792f9cec1f7e.png)

[2019-10-15 17:55] helfi92 commented on #1529
Are you able to access a page like http://localhost:5080/provisioners?

[2019-10-15 18:14] naimiii commented on #1529
@helfi92   it shows me like this
![image](https://user-images.githubusercontent.com/28563415/66857810-7a2c2f80-efa1-11e9-9079-eaaa41d9ed12.png)

[2019-10-15 18:15] naimiii commented on #1588
@helfi92  Sure . I will .Let me add some code into it according to myself : )

[2019-10-15 18:27] naimiii commented on #1529
@helfi92  let me check it :)

[2019-10-15 18:32] naimiii commented on #1529
@helfi92   Yeah i am able to access
![image](https://user-images.githubusercontent.com/28563415/66859073-017aa280-efa4-11e9-8cc9-05d1556f2c21.png)

[2019-10-15 18:34] helfi92 commented on #1529
From https://github.com/taskcluster/taskcluster/issues/1529#issuecomment-541222527, I see that your web-server is properly configured. It looks like the UI is not communicating with web-server effectively however. For some reason, the proxy is not working...

https://github.com/taskcluster/taskcluster/blob/dc700ea3b0690967fcf0af585d9b34cf60307a7d/ui/.neutrinorc.js#L52-L65

The only thing that come

[2019-10-15 18:37] JiwoonKim commented on #1633
@djmitche @helfi92
hmm... I'm trying to get the web-server running but it seems to get this error that I should provide `option.accountId`. The web-server was working fine until I rebased my code on the upstream/master. Maybe I'm missing something?

<img width="700" alt="error" src="https://user-images.githubusercontent.com/29671309/66859406-34ce2900-efc6-11e9-8ca0-f479e642a737.PNG">

[2019-10-15 18:38] naimiii commented on #1529
@helfi92  So how do i fixed it ? I checked all the firewall  working normally .  :(

[2019-10-15 18:44] helfi92 commented on #1529
Oh, I thought you weren't able to access it. Never mind, the proxy works.

[2019-10-15 18:45] helfi92 commented on #1529
Can you try on a different browser (e.g., Firefox)?  I wonder if there's an installed extension causing this to happen.

[2019-10-15 18:49] naimiii commented on #1529
@helfi92  yeah i can try it on Firefox :) yeah maybe installed extension causing it . I will try both :)

[2019-10-15 18:52] helfi92 commented on #1384
`@mozilla-frontend-infra/components@2.4.5` contains the fix. Thanks @Shubhamchinda!

[2019-10-15 18:56] helfi92 commented on #1633
It will be fixed once https://github.com/taskcluster/taskcluster/pull/1637#pullrequestreview-302126230 is merged :) Sorry about that.

[2019-10-15 20:11] naimiii commented on #1529
I tried on both browsers  and it's useless . :(
![image](https://user-images.githubusercontent.com/28563415/66865942-c3847b00-efb1-11e9-9a0e-97c2c8263cd9.png)
![image](https://user-images.githubusercontent.com/28563415/66866005-dd25c280-efb1-11e9-8fee-e391b3c29f37.png)

[2019-10-15 21:12] helfi92 commented on #1529
OMG. Obviously it wouldn't work. It's because `strategies['mozilla-auth0']` is not defined! Actually, we don't need to set this up because the required task doesn't require the user to be logged in. We just need to make sure the redirect works even the redirect will show you a blank page. Does that help?

[2019-10-15 21:27] helfi92 commented on #1384
Resolved in https://github.com/taskcluster/taskcluster/pull/1638.

[2019-10-15 21:27] #1384 closed

[2019-10-15 22:35] vishakhanihore commented on #1472
or what we can do is to ignore the `MarkDown` docs for checking of following rule ? @helfi92

[2019-10-15 22:36] vishakhanihore commented on #1587
@helfi92 Can I be assigned this issue ?

[2019-10-16 02:02] mkneumann777 commented on #1398
I have developed a solution. First I used `history.push() `on the `this.props` object to explicitly return an object with 2 properties within the `if` statement in `handleCompareScopesClick()` method. I also accounted for comma use within scopes as seen in the example:

[code]

Within the `handleCompareScopesClick()` method:

[code]

This will push a new query string to the Url where each line is

[2019-10-16 04:49] ajinkabeer commented on #1246
I am not assigned any issues at the moment, and if @JiwoonKim is not currently working on it, can I try this one out please?
@djmitche

[2019-10-16 05:50] naimiii commented on #1529
@helfi92 ohky .No need of sorry  :) Let me try to   define strategies . And yeah i understand your point .

[2019-10-16 12:31] susanreenesaa commented on #1572
@djmitche, @helfi92  please help me review my pull request. If what I did was the right thing. thanks
I replaced <CodeEditor> with <Textfield> deleted the imported code editor module and also have not included the value attribute because it throws an error.

[2019-10-16 12:38] #1585 closed

[2019-10-16 12:39] djmitche commented on #1633
(I assigned #1246 to @JiwoonKim so no need here)

[2019-10-16 12:39] djmitche commented on #1246
Sure!

[2019-10-16 12:45] helfi92 commented on #1398
Feel free to create a pull-request. It would be easier to test the implementation that way.

[2019-10-16 12:54] JiwoonKim commented on #1633
No problem! solved it after rebasing the code based on #1637 :)

This sounds like an interesting task.
So I'm thinking a simple solution would be to maybe bring the pages back and forth button (< >), which is at the bottom, to the top of the page? But while this might solve the first problem, I'm thinking it might not help for the second problem for searching a specific client. Should I think of a

[2019-10-16 12:59] JiwoonKim commented on #1633
Oh wow. @djmitche Thanks for assigning me to #1246 , but I was asssigned to this task first and was wondering if I can keep working on this issue. I feel like #1246 will maybe be more fitted for @ajinkabeer  who has already handled a few tasks regarding smoke tests.

[2019-10-16 13:06] djmitche commented on #1572
It looks like there's some commented-out code in https://github.com/susanreenesaa/taskcluster/commit/12cd3704b30b5750061c6993e4eddb3c9d8baa73 - can you describe the error you're seeing and what you've tried in order to solve it?

[2019-10-16 13:09] djmitche commented on #1246
Whoops, sorry, mixed up the usernames there!

[2019-10-16 13:32] helfi92 commented on #1633
I think that's a great idea. What we can possibly do is add the pagination both on top and bottom. We can possibly expose a boolean prop  (e.g., withTopPagination) that would allow us to have small tables like the artifacts table in https://taskcluster-ui.herokuapp.com/tasks/f2WzQXE5RUSVDjPrHZubCQ rendered without the top pagination and have other tables (that take most of the screen)  rendered wi

[2019-10-16 13:51] helfi92 opened #1657 "[UI] Icon replacement"
**Reserved** for [outreachy](https://www.outreachy.org/) candidates. In order for this to be assigned to you, make sure to complete the first step of the application process outlined in the [project description](https://www.outreachy.org/december-2019-to-march-2020-internship-round/communities/mozilla/#build-a-component-that-can-display-a-json-schema).

---

[FileXmlIcon](https://github.com/taskcl

[2019-10-16 14:22] helfi92 opened #1658 "[UI] Filter dropdown sometimes shows an error"
**Reserved** for [outreachy](https://www.outreachy.org/) candidates. In order for this to be assigned to you, make sure to complete the first step of the application process outlined in the [project description](https://www.outreachy.org/december-2019-to-march-2020-internship-round/communities/mozilla/#build-a-component-that-can-display-a-json-schema).

---

**To Reproduce**
Steps to reproduce the

[2019-10-16 15:43] helfi92 opened #1660 "[UI] Error message hard to read in docs"
**Describe the bug**
When viewing docs, sometimes error panel are hard to see.

**To Reproduce**
Steps to reproduce the behavior:
1. Add the following diff

[code]

2. Go to http://localhost:5080/docs/manual/
3. See error

![Screen Shot 2019-10-16 at 11 42 02 AM](https://user-images.githubusercontent.com/3766511/66935461-fe1a0200-f009-11e9-8d07-02997bd5b776.png)

**Expected behavior**
We can see t

[2019-10-16 15:46] mkneumann777 commented on #1398
I have created a pull-request. However, do forgive me if it wasn't done correctly. This would be the first time I have creating a pull-request.

[2019-10-16 15:48] helfi92 commented on #1472
Sure, that works.

[2019-10-16 16:05] DrFeederino commented on #1658
Can I take this one as well?

[2019-10-16 16:38] djmitche commented on #1246
I think we'll want to do something similar to what we did with clients, where we generate a random roleId each time.  So I've added
[code]
and also, as a collection of scopes that you can give to the role you create,
[code]

One difference from clients is, roles don't "expire".  So we'll need to find a way to make sure that smoketests clean up after themselves.  The first version of the test you w

[2019-10-16 17:15] naimiii commented on #1529
@helfi92  kindly assign me another issue .. :(

[2019-10-16 17:16] naimiii commented on #1660
@helfi92  can i contribute into it please ? I am an outreachy  candidate .

[2019-10-16 17:17] naimiii commented on #1658
Can i take this one as well ?

[2019-10-16 17:19] ajinkabeer commented on #1246
Can you please take a look at my pull request?

[2019-10-16 17:52] #1576 closed

[2019-10-16 17:56] helfi92 commented on #1658
I see that you are currently assigned to https://github.com/taskcluster/taskcluster/issues/1660. Let's finish that one first before assigning you another one.

[2019-10-16 17:58] helfi92 commented on #1577
Resolved in https://github.com/taskcluster/taskcluster/commit/ab269e18717d3145047dc92803f78ced09452be4.

[2019-10-16 17:58] #1577 closed

[2019-10-16 18:20] helfi92 opened #1664 "[UI] Make homepage mobile friendly"
**Describe the bug**
The mobile experience of the homepage view is not ideal. We can't see the full text without scrolling for example.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://taskcluster-ui.herokuapp.com/ or http://localhost:5080
2. Make the window really small in width

<img width="319" alt="Screen Shot 2019-10-16 at 2 19 15 PM" src="https://user-images.githubusercont

[2019-10-16 20:45] helfi92 opened #1665 "[web-server] CORS for TPL endpoints"
CORS is only configured for the rootUrl. We should configure CORS for third party login endpoints. We can get the origins from the registered clients redirect URI field.

[2019-10-16 21:28] Hexcles commented on #1492
Hopefully this is now fixed by Renovate: https://github.com/renovatebot/renovate/pull/4386 (they used to generate the pseudo version from a pattern string...)

[2019-10-16 21:42] BlueMona commented on #1658
Me? I have been waiting for an issue and have not been assigned one yet.

On Wed, Oct 16, 2019 at 1:56 PM Hassan Ali <notifications@github.com> wrote:

--
Mona

Twitter <https://twitter.com/blue_mona> Facebook
<https://www.facebook.com/mona.lastheneia> Instagram
<https://www.instagram.com/lastheneia/>
LinkedIn <https://www.linkedin.com/in/zahra-mona-ghassemi-94a14560/>
ResearchGate <https://www.re

[2019-10-16 21:56] km-js commented on #1657
Hey! Just wondering if this one works as an XML file icon?

![Screenshot_41](https://user-images.githubusercontent.com/39799586/66962022-9c02e080-f08d-11e9-8510-860f243ad957.png)

[2019-10-16 22:01] helfi92 commented on #1657
Sure, that works. I think we already use this icon in https://github.com/taskcluster/taskcluster/blob/4786885e8f2680c8067e4ca34bb1b3b61476ceae/ui/src/utils/constants.js#L17

We can definitely re-use it.

[2019-10-16 22:23] BlueMona commented on #1658
Thanks!

[2019-10-17 11:03] Rolikasi opened #1670 "[UI] Views with searchbar are not mobile friendly"
**To Reproduce**
Steps to reproduce the behavior:
1. Go to http://localhost:5080/tasks
2. Make the width of the screen smaller

**Actual**
![Mobile issue tasks](https://user-images.githubusercontent.com/44370635/67003097-128bf680-f0ff-11e9-9ce6-1996d464a8c9.PNG)

**How it looks on wider screen**
![Mobile issue tasks 2](https://user-images.githubusercontent.com/44370635/67003196-45ce8580-f0ff-11e9-

[2019-10-17 11:44] helfi92 commented on #1460
Resolved in https://github.com/taskcluster/taskcluster/commit/34a586f8270a9c9b96d36ad85b48063311d86269.

[2019-10-17 11:44] #1460 closed

[2019-10-17 11:46] helfi92 commented on #1670
https://github.com/taskcluster/taskcluster/pull/1596 should hopefully fix this issue.

[2019-10-17 11:53] Rolikasi opened #1671 "[UI] broken links in page information"
**Describe the bug**
Links in page information in some views redirect to dead site

**To Reproduce**
Steps to reproduce the behavior:
1. Go to http://localhost:5080/tasks/create
2. Click on 'page information'
3. Click on 'documentation' link
4. See dead site https://tc.example.com/docs/

**Expected behavior**
Links must be relevant

**Additional context**
Same with http://localhost:5080/quickstart

[2019-10-17 11:55] Soundharyaam commented on #1670
@helfi92 Yup. I am working on it. Two tasks are pending on my todos. Once it's done, I will let you know. It's a fix for almost all the pages which has entities such as `Search bar`, and a link for  `Documentation`, `Account`, `Sign-in/Sign-out` routes.

[2019-10-17 12:30] devnoorfatima commented on #1487
I made a PR here:
https://github.com/mozilla-frontend-infra/components/pull/65

[2019-10-17 12:39] helfi92 commented on #1671
Ah, that value comes from `TASKCLUSTER_ROOT_URL` which is configured in `ui/static/env.js`. To have that link work, it should point to a deployment. I have mine locally pointing to `https://taskcluster.net`. It should work on https://taskcluster-ui.herokuapp.com/tasks/create/ for example.

[2019-10-17 12:39] #1671 closed

[2019-10-17 12:53] helfi92 commented on #1488
Fixed in https://github.com/taskcluster/taskcluster/commit/059a772d268775b9b0c86d9f69a582f0a16316aa.

[2019-10-17 12:53] #1488 closed

[2019-10-17 12:54] helfi92 commented on #1487
Fixed in https://github.com/taskcluster/taskcluster/commit/059a772d268775b9b0c86d9f69a582f0a16316aa.

[2019-10-17 12:54] #1487 closed

[2019-10-17 13:29] helfi92 commented on #1558
We've been having an overwhelming response to this Outreachy round. Seeing there hasn't been any activity in the past week I've re-assigned this issue to someone else. @yellowwoods12, if you are still interested in tackling an issue, there are a few things you can do:

* look for other good-first-bugs (not labeled "outreachy") in this issue tracker or in https://codetribute.mozilla.org/projects/ta

[2019-10-17 13:34] lailahgrant commented on #1558
Sir, on this Taskcluster signIn, what do I enter? I really don’t have those credentials.

Sent from Mail for Windows 10

From: Hassan Ali
Sent: Thursday, 17 October 2019 16:29
To: taskcluster/taskcluster
Cc: lailahgrant; Assign
Subject: Re: [taskcluster/taskcluster] [UI] no way to go back from a detailpage (#1558)

We've been having an overwhelming response to this Outreachy round. Seeing there ha

[2019-10-17 14:35] helfi92 commented on #1558
Any credentials will do (e.g., `test` for clientID, `test` for access token).

[2019-10-17 15:31] djmitche commented on #1665
I'm curious what the lack of CORS breaks.. I thought CORS was only for XHR requests?

[2019-10-17 17:34] helfi92 commented on #1665
Our current endpoints only work for requests made from the taskcluster UI so `/login/oauth/token` and `/login/oauth/credentials` (called from third party sites) won't work. Does that help answer your question?

[2019-10-17 17:40] djmitche commented on #1665
Ah, yes -- those are indeed accessed with XHR.  Thanks!

[2019-10-17 18:16] #1665 closed

[2019-10-17 18:16] #631 closed

[2019-10-17 19:09] BlueMona commented on #1658
Hi @helfi92 ; so I was able to reproduce the issue and I found where in the code this line comes from in the queue service, and I understand this to be a GET API call, so my guess is when we look for issues by filter we are doing multiple GET calls. I continued looking at the documentation; I'm not yet sure what a quarantined issue is but my first guess is that perhaps the task UGeACCsMRPeFBAYPtH1

[2019-10-17 19:24] helfi92 commented on #1658
I think you're on the right track. Do you know why the UI is making a query to UGeACCsMRPeFBAYPtH1SRg? I don't see that task when I click on the link.

![Screen Shot 2019-10-17 at 3 21 58 PM](https://user-images.githubusercontent.com/3766511/67040674-f59cf680-f0f1-11e9-804c-f3bc1231ef90.png)

Once we know why, our task is to add some logic to ignore that kind of error, similar to how it's done in

[2019-10-17 20:19] naimiii commented on #1664
@helfi92  thank you for assigning it . :)

[2019-10-17 21:12] helfi92 commented on #1455
@Ivilili Are you still working on this issue?

[2019-10-17 21:55] Karskaya commented on #1407
@helfi92 As I see, warning is not because of Tooltip. Buttons which wrapped in MuiSpeedDialAction cause it. I do not see obvious way to fix it. Can you please suggest something?

[2019-10-17 23:35] tomprince commented on #291
I think this is probably possible now, for worker-manager based worker-pools.

[2019-10-18 07:17] JiwoonKim commented on #1588
Hi, @naimiii ! Do you need any help?

[2019-10-18 07:55] km-js commented on #1657
Hey, am getting this error. I think the FileCodeIcon is not supported by v5.

![Screenshot_42](https://user-images.githubusercontent.com/39799586/67076297-8505e080-f1aa-11e9-9fcb-7ba717561898.png)

[2019-10-18 08:38] sccofield commented on #1597
hi @helfi92 from what I understand, I need to change the header props to receive an array of objects instead of an array of strings.

But I am still confused on how to view the connection data table from my localhost.

[2019-10-18 11:09] Rolikasi commented on #895
@helfi92, I wanna try to finish it up!)

[2019-10-18 11:21] naimiii commented on #1588
@JiwoonKim  Thank you for your concern but i  already fixed the issue . :)

[2019-10-18 11:24] Ivilili commented on #1455
@helfi92 sorry, I got stuck on this one for too long. The solution is probably simple...someone else can take this one.

[2019-10-18 12:36] helfi92 commented on #1407
The fix under "Additional Context" in https://github.com/taskcluster/taskcluster/issues/1407#issue-500287017 doesn't remove this error?

[2019-10-18 12:41] #1588 closed

[2019-10-18 12:54] helfi92 opened #1682 "[UI] Fix view title"
**Reserved** for [outreachy](https://www.outreachy.org/) candidates. In order for this to be assigned to you, make sure to complete the first step of the application process outlined in the [project description](https://www.outreachy.org/december-2019-to-march-2020-internship-round/communities/mozilla/#build-a-component-that-can-display-a-json-schema).

---

**To Reproduce**
Steps to reproduce the

[2019-10-18 13:05] helfi92 opened #1684 "[UI] Add confirmation dialog for delete button"
**Reserved** for [outreachy](https://www.outreachy.org/) candidates. In order for this to be assigned to you, make sure to complete the first step of the application process outlined in the [project description](https://www.outreachy.org/december-2019-to-march-2020-internship-round/communities/mozilla/#build-a-component-that-can-display-a-json-schema).

---

**To Reproduce**
Steps to reproduce the

[2019-10-18 13:24] helfi92 opened #1685 "[UI] Make a worker pool that is "scheduled for deletion" editable"
**Reserved** for [outreachy](https://www.outreachy.org/) candidates. In order for this to be assigned to you, make sure to complete the first step of the application process outlined in the [project description](https://www.outreachy.org/december-2019-to-march-2020-internship-round/communities/mozilla/#build-a-component-that-can-display-a-json-schema).

---

**Describe the bug**
A clear and concis

[2019-10-18 13:26] susanreenesaa commented on #1572
I commented out the code just in case what I did is wrong, I just uncomment it but if the code is okay, then I will delete the commented code
currently, there is no error be couese i didnot include the value propety. But when I include the value={editorValue} property,
in the UI, it displays foo: bar in the textField. On trying to delete "foo: bar" it displays "{object Object} which does nto delet

[2019-10-18 13:28] helfi92 commented on #1657
What code gives this error?

[2019-10-18 13:32] helfi92 commented on #1597
Here's an example of a connection data table:
* https://taskcluster-ui.herokuapp.com/auth/clients or in localhost,
* http://localhost:5080/auth/clients

That's right. @Jo-IE recently did this for the `DataTable` component in https://github.com/taskcluster/taskcluster/pull/1559. The code there should help make things a bit clearer :) Hope that helps.

[2019-10-18 13:36] km-js commented on #1657
import FileCodeIcon from 'mdi-react/FileCodeIcon'

Though it's working in mdi-react v6.

[2019-10-18 13:40] helfi92 commented on #1572
@susanreenesaa If you open a pull-request, I would be able to look at the code and be in a better position to test and help :)

[2019-10-18 13:41] helfi92 commented on #1657
I see. Then perhaps you can migrate to mdi-react v6 in this PR while we're at it to make it work.

[2019-10-18 13:45] djmitche commented on #1246
So, next steps:
 * [ ] [parameterized roles](https://docs.taskcluster.net/docs/reference/platform/auth/roles#parameterized-roles) - let's change the test to create a parameterized role (so, one with `<..>` in its scopes and `*` at the end of its roleId), and then expand an example of that scope, and verify that the resulting expansion is what we expect.
  * [ ] The assertion should have an explici

[2019-10-18 13:46] djmitche commented on #1246
You're doing great work on these, by the way.  This is some complex backend JS work!

[2019-10-18 14:01] ajinkabeer commented on #1246
Wow!, looks challenging and I am really looking forward to solving it.

[2019-10-18 14:04] ajinkabeer commented on #1246
Thank you, that means a lot coming from you. And also thanks for guiding me through the tests, I will keep up my work.

[2019-10-18 14:08] ajinkabeer commented on #1685
Can I try this one out if there aren't any new outreachy candidates looking for working on issues?

[2019-10-18 14:21] JiwoonKim commented on #1682
May I take this issue?

[2019-10-18 14:33] km-js commented on #1657
Sure👍

[2019-10-18 15:24] susanreenesaa commented on #1572
@helfi92
Sorry, I thought that I had created one.
the link to the pull request is https://github.com/taskcluster/taskcluster/pull/1686

[2019-10-18 15:35] naimiii commented on #1664
@helfi92  Do we have a mock up of what this screen should look like on mobile? should I make the font smaller or is the requirement to keep the font size the same?

[2019-10-18 16:08] naimiii commented on #1664
@helfi92  this is an idea  i am  having for mobile.
![73395272_412224322777389_6333367398975930368_n](https://user-images.githubusercontent.com/28563415/67110002-32004d80-f1eb-11e9-8fdb-352d7835a26d.png)

[2019-10-18 16:10] Karskaya commented on #1407
@helfi92 I cannot understand how I can apply this fix to this component [MuiSpeedDialAction](https://github.com/taskcluster/taskcluster/blob/31e90eaa058c2d360e144c43a2745bc9bd0de064/ui/src/components/SpeedDialAction/index.jsx#L56)

The fix described in "Additional Context" can be applied to component like this - [Tooltip](https://github.com/taskcluster/taskcluster/blob/31e90eaa058c2d360e144c43a274

[2019-10-18 16:21] naimiii commented on #1684
can  you please assign me this issue ?

[2019-10-18 16:31] Jo-IE commented on #1597
@sccofield I can also help if you need any help :)

[2019-10-18 16:33] JiwoonKim commented on #1682
@helfi92

**Reason Behind Bug**
I played a little bit with the components in `WMViewErrors` and found that this error stems from the problem that the `Dashboard` component uses a `makeTitle()` method, which changes the parameter value uppercase but also as a side-effect eliminates characters such as: -, / ", etc.
(method is from the change-case library. specifics at https://github.com/blakeembrey/

[2019-10-18 17:25] clrmachado commented on #1613
One question @helfi92, in the current default task definition there is no`task.payload.caches` and `task.routes`, so should we add some comment explaining why should those be avoided if the task is interactive?

[2019-10-18 17:55] helfi92 commented on #1664
Making the font size smaller would be a really good fix. We don't need to change the layout.

[2019-10-18 17:58] naimiii commented on #1664
@helfi92  Alright , thank you ! :)

[2019-10-18 18:20] helfi92 commented on #1407
What do you think about:

[code]

[2019-10-18 18:34] helfi92 commented on #1682
Nice write-up! I'm leaning more towards the first option. I think this will be similar to the `disableTypography` prop in [`ListItemText`](https://material-ui.com/api/list-item-text/#listitemtext-api). We can even call the prop `disableTitleFormatting` :)

[2019-10-18 18:41] helfi92 commented on #1613
If they don't exist, that's great but the implementation should work whether the task definition has these properties or not.

When the user clicks on the switch, we could pop out a dialog asking for confirmation. The dialog body could explain the changes that will happen in the task definition.

[2019-10-18 18:41] Karskaya commented on #1407
@helfi92 Thank you! I'll try

[2019-10-18 18:45] helfi92 commented on #1613
We use dialog in multiple locations in our site. For example, in https://taskcluster-ui.herokuapp.com/worker-manager/gecko-1%2Fwin2012-gamma, clicking on the delete button inside the speed dial button will show an example:

![Screen Shot 2019-10-18 at 2 42 27 PM](https://user-images.githubusercontent.com/3766511/67119640-8d174d80-f1b5-11e9-9d4a-371e381f64f2.png)

_Note: If that delete button is di

[2019-10-18 19:01] helfi92 opened #1688 "[UI] Provider dropdown acting weird"
**Reserved** for [outreachy](https://www.outreachy.org/) candidates. In order for this to be assigned to you, make sure to complete the first step of the application process outlined in the [project description](https://www.outreachy.org/december-2019-to-march-2020-internship-round/communities/mozilla/#build-a-component-that-can-display-a-json-schema).

---

**To Reproduce**
Steps to reproduce the

[2019-10-18 19:02] helfi92 commented on #1403
Resolved in https://github.com/taskcluster/taskcluster/commit/8d7211ee6cdd20365111f145b16b3a739a5436fc.

[2019-10-18 19:02] #1403 closed

[2019-10-18 19:05] Jo-IE commented on #1688
can I take this up?

[2019-10-18 19:53] km-js commented on #1685
Can I try this one??

[2019-10-19 08:17] JiwoonKim commented on #1682
Thanks for the direction! I'll soon implement changes and submit a pull request.

[2019-10-19 17:18] devnoorfatima commented on #1600
@helfi92 I tried doing it in the past days but I can't figure out how to use the qs package.Can you please help me a bit.

[2019-10-19 18:31] shilpiverma509 commented on #1598
@helfi92  I have tried to fix this in #1696

[2019-10-19 20:26] Karskaya commented on #1407
@helfi92 This approach works perfectly! Thank you so much!

[2019-10-20 17:04] katherine95 commented on #1688
I would also love to work on this one

[2019-10-20 18:35] vishakhanihore commented on #1587
@helfi92 This issue can be closed, As the this issue has the problem with
`MuiSpeedDialAction` and this issue has already been solved in PR #1697.
Lets close this.

[2019-10-21 13:17] #1657 closed

[2019-10-21 14:52] helfi92 commented on #1633
Resolved in https://github.com/taskcluster/taskcluster/commit/bee9a224fd150ce320966b2d7001214b43c3c11a.

[2019-10-21 14:52] #1633 closed

[2019-10-21 14:53] #1407 closed

[2019-10-21 14:59] #1587 closed

[2019-10-21 17:29] helfi92 commented on #1682
Resolved in https://github.com/taskcluster/taskcluster/commit/08a316b1111cab297910034ca7f42c75a05d087a.

[2019-10-21 17:29] #1682 closed

[2019-10-21 18:12] #1148 closed

[2019-10-21 18:14] helfi92 commented on #1389
@47analogy How is it going?

https://github.com/taskcluster/taskcluster/pull/1663 just got merged and should help makes things a lot easier for you. If you rebase your work on master, then all that is needed to finish your issue is to add the breadcrumb component.

[2019-10-21 18:26] Jo-IE commented on #1061
Hi @djmitche is this issue open to outreachy applicants? Thanks!

[2019-10-21 18:32] djmitche commented on #1061
It is, but note that it's in Go, not JS!

[2019-10-21 18:35] Jo-IE commented on #1061
I just started learning Go and I would like to learn more, could I still work on it?

[2019-10-21 18:41] 47analogy commented on #1389
@helfi92 I added the breadcrumb component, but wasn't getting the namespace params to render properly. I'll rebase and give it another go.

[2019-10-21 19:42] Cressence commented on #1455
Hello i am an outreachy applicant, can I work on this?

[2019-10-21 19:52] helfi92 commented on #1455
@Cressence In order for this to be assigned to you, make sure to complete the first step of the application process outlined in the [project description](https://www.outreachy.org/december-2019-to-march-2020-internship-round/communities/mozilla/#build-a-component-that-can-display-a-json-schema). Thanks!

[2019-10-21 19:53] Vane237 commented on #1455
Hello! I am Vanessa an outreachy applicant, can I work on this?

[2019-10-21 20:22] helfi92 opened #1712 "[UI] Will-change memory consumption is too high"
**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://stage.taskcluster.nonprod.cloudops.mozgcp.net/tasks/groups/QKGlNKIWQYuiZ4hxDMrTTQ
2. Open devtools
3. See error

![Screen Shot 2019-10-21 at 4 20 40 PM](https://user-images.githubusercontent.com/3766511/67240114-cdc5cf80-f41e-11e9-9631-5038eb8d439a.png)

**Expected behavior**
No warning in the console.

**Additional context**
I sus

[2019-10-21 20:43] helfi92 opened #1713 "[UI] Implement CLI login"

[2019-10-21 22:42] imbstack opened #1715 "Update initial value for worker-manager create-workerpool UI"
**Reserved** for [outreachy](https://www.outreachy.org/) candidates. In order for this to be assigned to you, make sure to complete the first step of the application process outlined in the [project description](https://www.outreachy.org/december-2019-to-march-2020-internship-round/communities/mozilla/#build-a-component-that-can-display-a-json-schema).

---

**Describe the bug**
As discussed in #1

[2019-10-21 22:46] #1713 closed

[2019-10-22 06:28] shilpiverma509 commented on #1600
@devnoorfatima  I was working on a similar issue. We need the qs package to manipulate the url.
xI did like this to manipulate my url to add query params:
store the editor value from the query params in the url.
    const query = parse(this.props.location.search.slice(1));

To add the editor value to the url , you can use the replace method from javascript and stringify from qs package.
You are re

[2019-10-22 08:00] devnoorfatima commented on #1600
Thank you so much for the help @shilpiverma509

[2019-10-22 11:59] helfi92 commented on #1572
Resolved in https://github.com/taskcluster/taskcluster/commit/0c6171af4b2ecca0f94ce60a775db65f2e103178.

[2019-10-22 11:59] #1572 closed

[2019-10-22 13:33] lailahgrant commented on #1558
i created a back button and i would like to know if that is the right thing or not??

it doesn't have action yet though

import React, { Component } from 'react';

import ArrowBackIcon from '@material-ui/icons/ArrowBack';

export default class BackButton extends Component {
render() {
    return (
        <div>
            <ArrowBackIcon></ArrowBackIcon>
        </div>
    );
    }
}

this code is

[2019-10-22 13:47] helfi92 commented on #1558
@lailahgrant 👋

I don't think we need a back button. We can just use the browser native back button. The code for this is to replace `push` with `replace`. In other words, it will only be a one line change. The task is to figure out what line it is :)

[2019-10-22 14:27] lailahgrant commented on #1558
is it ok for me to be asking such questions here thou?????

[2019-10-22 14:33] #1688 closed

[2019-10-22 14:37] helfi92 commented on #1558
The file `ViewAwsWorkerTypeDefinition/index.jsx` doesn't exist anymore if you pull the latest changes. I think it's somewhere in `src/views/Clients`.

Yes, it's okay.

[2019-10-22 15:22] helfi92 commented on #1558
I think so. You can open a pull-request now :)

[2019-10-22 15:40] Jo-IE commented on #1715
Hi Could I please take this up?

[2019-10-22 15:44] Jo-IE commented on #1061
bump

[2019-10-22 16:09] Jo-IE commented on #1715
Hi @imbstack I have a quick clarification question about your posting. What does "anything specific" mean?

Thanks!

[2019-10-22 18:13] naimiii commented on #1684
@helfi92  I was debugging the 'deleteRequest' function and got an error for wrong 'clientId' error . Is this a right behavior ?
![74389760_934055763631215_4553600592953475072_n](https://user-images.githubusercontent.com/28563415/67316055-36957080-f521-11e9-8dec-ac214a413a20.png)

[2019-10-22 18:47] helfi92 commented on #1684
Yes, you won't be able to perform the actual delete action. You can comment it out to make it look like it worked.

[2019-10-22 18:49] helfi92 commented on #1664
Resolved in https://github.com/taskcluster/taskcluster/commit/5d28247612d82a2f393a8194c1bb99301c41311b.

[2019-10-22 18:49] #1664 closed

[2019-10-22 18:53] vishakhanihore commented on #1712
@helfi92 Cant reproduce the same ?
<img width="1266" alt="Screenshot 2019-10-23 at 12 22 44 AM" src="https://user-images.githubusercontent.com/54327666/67319984-444ff380-f52b-11e9-9a62-6cd69e741617.png">

[2019-10-22 18:57] helfi92 commented on #1712
I forgot to mention that this issue only happens on Firefox.

[2019-10-22 19:57] naimiii commented on #1684
@helfi92    so I will create a pop-up that will render before so user will have to confirm deletion just like in the Worker Pool form.

[2019-10-22 20:46] clrmachado commented on #1613
About the explanation that will be added to the dialog, I've started with something like:

_"Selecting an interactive task will apply the following changes to the task definition:
                1. task.payload.features.interactive will be set to true
                2. task.payload.maxRunTime is set to a minimum of 60min

In order to avoid poisoning, task.payload.caches should be removed and to

[2019-10-23 11:40] helfi92 commented on #1613
You can use a similar dialog content as the old site:

![Screen Shot 2019-10-23 at 7 39 11 AM](https://user-images.githubusercontent.com/3766511/67389248-3a98b100-f568-11e9-9ee6-0ad5013428d0.png)

Also, feel free to create a PR and we can iterate on it there.

[2019-10-23 13:29] naimiii commented on #1712
@helfi92  can i get this issue as well ? :)

[2019-10-23 14:04] lailahgrant commented on #1558
I need help here, which one is gives navigation that's redirecting from an invalid url ??
I'm hoping it is the one that I should put for replace(), is it right thou?

[2019-10-23 14:58] helfi92 commented on #1558
I'm not sure I understand the question. Could you elaborate, please?

[2019-10-23 15:23] helfi92 commented on #1712
@naimiii I think you are assigned to https://github.com/taskcluster/taskcluster/issues/1684. We can have you assigned to this one after, if it's still available to grab. Thanks!

[2019-10-23 15:55] THEozmic commented on #1712
I think the "will-change" attribute comes from Material UI. This attribute basically hints Firefox about  DOM modifications that are about to happen in order to improve optimization but Firefox informs us that it believes its optimizations would consume too much memory and so ignores it. It's not really an error and I don't think we can remove the warning since it's not coming from our code but fr

[2019-10-23 16:07] vishakhanihore commented on #1712
@helfi92 The following issue has already been solved in MUI according to this commit https://github.com/mui-org/material-ui/pull/14036#issue-241493739 . I think since our MUI is not upgraded, I think an issue already opened for this and this can be closed safely.

[2019-10-23 16:42] vishakhanihore commented on #987
@helfi92 Is this issue still present?
<img width="1259" alt="Screenshot 2019-10-23 at 10 12 11 PM" src="https://user-images.githubusercontent.com/54327666/67415189-2e513a00-f5e2-11e9-8cf4-e5b45ae6bb35.png">

[2019-10-23 18:34] helfi92 commented on #1712
@THEozmic Interesting. Thanks for looking into it.

@vishakhanihore From the linked comment:

     ToggleButton
     CircularProgress
     Fade
     LinearProgress
     TabIndicator
     Zoom

Are we using any of those components in that table?

[2019-10-23 18:35] helfi92 commented on #987
Yep.

![Screen Shot 2019-10-23 at 2 35 10 PM](https://user-images.githubusercontent.com/3766511/67423486-5c168e80-f5a2-11e9-9640-77c7bf4df7b0.png)

[2019-10-23 18:38] vishakhanihore commented on #987
I cant reproduce on safari, is it also firefox specific?

On Thu, 24 Oct, 2019, 00:05 Hassan Ali, <notifications@github.com> wrote:

[2019-10-23 18:52] clrmachado commented on #1613
I've added a [WIP PR](https://github.com/taskcluster/taskcluster/pull/1734) with my changes so you can start reviewing @helfi92.
I'm working on adding the styles on the dialog message.

[2019-10-23 18:53] clrmachado commented on #1613
Also, one other thing I've noticed is that the dialog component is not responsive at the moment:
![Screenshot 2019-10-22 at 19 28 47](https://user-images.githubusercontent.com/25582189/67424801-1e802880-f5d7-11e9-80a9-4bd3c7760a1f.png)

[2019-10-23 19:02] helfi92 commented on #217
Looks like you're on the right track. You can try experimenting locally by changing the code directly there. Once you found a fix, you can share it here, then once we agree on the fix, we could fork the library and publish our own version of it with the fix.

[2019-10-23 19:20] naimiii commented on #1684
@helfi92  what should the string say in the DialogAction component when deleting from the worker pools table component? should it still join the workerPool.workerPoolId1, workerPool.workerPoolId2 ID's?

[2019-10-23 20:34] helfi92 commented on #1684
Do what you think makes sense then we can adjust things on the PR.

[2019-10-23 21:07] mkneumann777 commented on #1398
I have closed the previous PR and created a development branch to fix the issue with `rebasing.` Opened new PR "Implementation of shareable Links #1398"

[2019-10-23 23:11] #1591 closed

[2019-10-24 09:46] Jo-IE commented on #1061
Are these the steps to follow when getting this set up? https://github.com/taskcluster/taskcluster/blob/master/dev-docs/development-process.md#hacking-on-clients

[2019-10-24 13:06] THEozmic commented on #1712
After digging deeper into this, I've discovered that the issue is in fact not coming from Material UI as I earlier said. Material UI did have some issues with `will-change` but that has been fixed a long time ago and the version we are using contains that fix.

The `will-change` warning comes from `react-window` FixedSizeList component. I've been able to replicate the warning outside of `taskclust

[2019-10-24 15:52] djmitche commented on #1061
No, that's a little outdated in fact, since it doesn't mention client-shell.

Like most go projects, you should be able to just run `go test ./...` in the `clients/client-shell` directory to get the tests to run.  Unlike most go projects this one uses `go mod` so it doesn't need to be checked out in a particular directory -- it should just work.  Note that you'll need go1.12.9.

[2019-10-24 15:54] Jo-IE commented on #1061
ok thank you!

[2019-10-24 17:34] THEozmic commented on #1660
What's the status of this?

[2019-10-24 19:13] vishakhanihore commented on #1712
Great observation @THEozmic

[2019-10-24 20:55] naimiii commented on #1712
@helfi92  Can i get this issue now ? :)

[2019-10-24 20:55] imbstack commented on #1715
Yeah, I mostly mean not having a value for `imageId` other than `...` in there or something.

[2019-10-24 23:49] km-js commented on #1712
Hey @helfi92 and @THEozmic . I have  looked a bit into this issue and think as already stated by @THEozmic , the warning is coming from the react-window's component FixedSizeList as I checked out the code and found the `willChange` property there.
![Screenshot_43](https://user-images.githubusercontent.com/39799586/67532089-9a1acc00-f6e2-11e9-954b-275ab01898e5.png)

Just wondering if overriding the

[2019-10-24 23:52] vishakhanihore commented on #1712
A better solution I think would be to create a issue in the library and
send our patch over there. @helfi92?

On Fri, 25 Oct, 2019, 05:19 km-js, <notifications@github.com> wrote:

[2019-10-24 23:53] THEozmic commented on #1712
@km-js, Overriding it might not be the best because it offers performance optimizations. What the warning is telling us is that given a certain number of DOM elements associated with the required optimizations, the resource needed to perform those optimizations do not justify the gains that might be made, hence no optimizations will be made. But that's not always the case, sometimes the optimizati

[2019-10-24 23:58] THEozmic commented on #1712
I know that if we remove the `height` property on the element's class, we won't get that warning. This is because there's more element being rendered at a time if the height is set to `100%`  versus if it's set to `window.innerHeight` as we see here.

[2019-10-25 02:49] vishakhanihore opened #1747 "[UI]: `Account Tab` under docs is ambiguos."
**Describe the bug**

`Account Tab` which is shown in dropdown of `profile` in docs is ambiguos as it redirects to `dashboard` rather than `client information`

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'http://127.0.0.1:5080/docs/'
2. Click on 'Profile Icon'
3. Scroll down to 'Account'
4. Click on 'Account'
5. See error

**Expected behavior**

There should be a dropdown available

[2019-10-25 02:50] vishakhanihore commented on #1747
@djmitche Can I be assigned ?

[2019-10-25 10:29] Jo-IE commented on #1715
ok thank you @THEozmic @imbstack

[2019-10-25 13:32] helfi92 commented on #1712
Thanks for digging into this everyone. I'm not sure if overriding the `willChange` property is the best thing to do since it might affects performance of the virtual list.

I agree that the culprit is

https://github.com/taskcluster/taskcluster/blob/d4c576a7cd0bd843e0bf5e7d462b511fd44bf46c/ui/src/components/TaskGroupTable/index.jsx#L140-L142

Using something like `window.innerHeight` would make se

[2019-10-25 13:36] helfi92 commented on #1539
@chefoce Are you still working on this issue?

[2019-10-25 13:40] helfi92 commented on #1658
@BlueMona How is it going? Are you still working on this issue?

[2019-10-25 13:42] helfi92 commented on #1389
How is it going @47analogy?

[2019-10-25 13:43] helfi92 commented on #1455
How is it going @Vane237?

[2019-10-25 13:44] helfi92 commented on #1660
This issue is free to grab. I haven't heard back from @DrFeederino.

[2019-10-25 13:45] helfi92 commented on #1615
I haven't heard back from @bini11.

[2019-10-25 14:35] djmitche commented on #1598
It looks like this is finished!

[2019-10-25 14:35] #1598 closed

[2019-10-25 14:43] km-js commented on #1539
Hey @helfi92 . I would like to work on here, if @chefoce is not available.

[2019-10-25 14:45] helfi92 opened #1750 "[UI] Align Card title with content"
**To Reproduce**
Steps to reproduce the behavior:
1. Go to http://localhost:5080/provisioners

**Actual behavior**

"aws-provisioner-v1" is indented.

![Screen Shot 2019-10-25 at 10 43 52 AM](https://user-images.githubusercontent.com/3766511/67580484-6a84b780-f714-11e9-91fd-a1c85452f179.png)

**Expected behavior**

"aws-provisioner-v1" is left aligned with the card content.

![Screen Shot 2019-10-

[2019-10-25 15:05] helfi92 opened #1751 "[UI] Artifact names in Task Details are misaligned"
**Reserved** for [outreachy](https://www.outreachy.org/) candidates. In order for this to be assigned to you, make sure to complete the first step of the application process outlined in the [project description](https://www.outreachy.org/december-2019-to-march-2020-internship-round/communities/mozilla/#build-a-component-that-can-display-a-json-schema).

---

**Describe the bug**
Artifact names in

[2019-10-25 15:22] Vane237 commented on #1455
While checking the code to know what is happening, I actually noticed the popover displaying on hover but it is displayed out of the page view port (probably why it can't be seen).
I tried writing some style to override the positioning of the popup but no happy result so far..
Still trying though

[2019-10-25 15:40] helfi92 commented on #1455
Interesting. This makes me think that we might need to adjust the `z-index` property of the tooltip to be similar to material-ui's tooltip z-index which seems to be `1500` when looking at the [default theme](https://material-ui.com/customization/default-theme/#default-theme).

[2019-10-25 16:39] naimiii commented on #1751
Hi ! Could i please take this up ?  :)

[2019-10-25 16:51] naimiii commented on #1684
@helfi92  Kindly check the PR of this issue . :)  thanks .

[2019-10-25 19:23] ededals commented on #1242
Hey @djmitche ,

I see that repo is quite crowded with contributors, but I would like to continue working on this project. Maybe there is something in bugzilla I could try to work on?

[2019-10-25 19:40] aryamanpuri commented on #1750
@helfi92 I am looking forward for it .

[2019-10-25 20:03] BlueMona commented on #1658
Hi Hassan,

Thanks for getting back to me. I felt your initial feedback gave me some
hints, but admittedly I did not spend much time on it or find the cause of
the bug, and I focused more on a different Outreachy project. I don’t get
the sense that I’d be in the running to be accepted for this particular
internship, so feel free to assign the bug to someone else who is better
equipped to solve it.

[2019-10-25 20:54] djmitche commented on #1242
Would you like something in JS, or would Go be OK?

(closing this issue but we can keep discussing next project)

[2019-10-25 20:54] #1242 closed

[2019-10-25 20:55] #1529 closed

[2019-10-25 21:01] ededals commented on #1242
I have tried out a Go, but it was a while ago. I have nothing against brushing it up a little bit :), so I think it can be either of the two.

[2019-10-25 21:15] helfi92 opened #1754 "[UI] Make search case insensitive"
**Reserved** for [outreachy](https://www.outreachy.org/) candidates. In order for this to be assigned to you, make sure to complete the first step of the application process outlined in the [project description](https://www.outreachy.org/december-2019-to-march-2020-internship-round/communities/mozilla/#build-a-component-that-can-display-a-json-schema).

---

**To Reproduce**
Steps to reproduce the

[2019-10-25 22:11] Karskaya commented on #1754
Hi! Can I take it as outreachy applicant?

[2019-10-26 04:21] vishakhanihore commented on #1472
@djmitche @helfi92 The following issue is not related to any checks , Sorry for my naive observation.
After deeper digging such syntax is not recognised as valid one in `mdx-js`, But this issue is already solved in `mdx-js` library, But since we are not using `mdx-js` directly and using `mdx-loader` which is depreciated a long ago.
Please tell me what would be right approach for this, Create our o

[2019-10-26 06:13] vishakhanihore commented on #1750
@aryamanpuri We follow a proper development workflow here. Since @helfi92 assigned this issue to @somchi, You must have waited till you were assigned this issue. But rather than waiting you dropped a PR. Please read `contributing.md`.

[2019-10-26 07:25] aryamanpuri commented on #1750
@vishakhanihore I got your point . So no-one will review the changes I have made .
And for the time being what I can do for this projects. Please give direction .

[2019-10-26 07:30] vishakhanihore commented on #1750
Well I cant comment about the PR you have made, the final decision
obviously is in hands of maintainers.
For the time being you can read the docs and setup the project on your
local and look out for an unclaimed good first issue or any bug which you
think you may solve it. Maintainers will assign you the issue and then, you
are good to go.

On Sat, 26 Oct, 2019, 12:55 Aryaman puri, <notifications@

[2019-10-26 07:54] aryamanpuri commented on #1754
@helfi92 I am too looking forward for this .

[2019-10-26 13:47] djmitche commented on #1472
I'm impressed with your skills in investigating JS dependencies -- it's a rare talent :)

It seems like the right course would be to use the mdx-loader functionality in mdx-util.  But you mention a fork -- why would that be needed?  Could we instead make a PR to mdx-util?

[2019-10-26 14:34] djmitche opened #1758 "Update `taskcluster signin` to work with new deployments"
The [taskcluster shell client](https://github.com/taskcluster/taskcluster/tree/master/clients/client-shell#readme), available for download [here](https://github.com/taskcluster/taskcluster/releases/tag/v21.2.0), has a `taskcluster signin` command which interacts with a deployment's UI to get Taskcluster credentials on the command line.  In #1714, @helfi92 added support for this to the new UI.  How

[2019-10-26 14:35] djmitche commented on #1242
I filed #1758.

[2019-10-26 14:36] djmitche commented on #1245
@ANURADHAJHA99 were you still working on this?

[2019-10-26 14:36] djmitche commented on #1244
@rolikasi were you still working on this?

[2019-10-26 14:36] #1241 closed

[2019-10-26 14:37] #1240 closed

[2019-10-26 15:59] ededals commented on #1758
Is this one for me? Judging by the #1714 the new query parameters should look like this:
```http://localhost:5080/auth/clients/create?client_id=foo&callback_url=http%3A%2F%2Flocalhost%3A9500&expires=3%20days&scope%5B%5D=assume%3Abar&description=client%20for%20cli%20usage```

I guess i will have to modify signin.go url construction part to match the new format.

Just to double check, is the expecte

[2019-10-26 18:36] mkneumann777 commented on #1754
I would like to tackle this issue if I may.

[2019-10-27 00:52] vishakhanihore commented on #1472
Thanks, but its just some googling and stack overflow stuff 😅 .

Firstly, We have to determine which dependency is using `mdx-loader` as a peer. Since `mdx-loader` is not directly used in our `package.json` after that, we have to upgrade that dependency to use `mdx-util` instead of `mdx-loader` and if we are successful in that, I think we can send a PR to mdx-util, as it is maintained regularly.
@

[2019-10-27 02:03] vishakhanihore opened #1762 "Minor changes and enhancements in Issue and PR Template"
There are some lines and para which should be commented in issue template but are not.
Also there should be a option to link `Github Issue` as well with `BugZilla Issue`

[2019-10-27 02:24] vishakhanihore opened #1764 "[UI]:Introduce a field for `Client-Name` in `Sign-In Options`"
#### Description -:
Currently, We don't have a field for `Client Name` in our sign-in options. So when the user sees his profile `Client Id` is used at the place of `Name`.
I propose to introduce a field for `Client Name` during the Sign-In.

#### Screenshots -:

<img width="759" alt="Screenshot 2019-10-27 at 7 53 32 AM" src="https://user-images.githubusercontent.com/54327666/67628635-edca1880-f88

[2019-10-27 02:24] vishakhanihore commented on #1764
@djmitche @helfi92 Please review if the following seems valid for our app. Thanks

[2019-10-27 03:59] djmitche commented on #1764
If I understand what you're suggesting, it's prompting the user for a name which is only ever used to display back to the user.  That seems like asking for extra work (and potentially causing people to get confused and ask us "what do I have to write for client name?") that has no real benefit.

What does bother me is that when I'm signed in manually, it shows "s" in the upper-right corner, presum

[2019-10-27 04:02] djmitche commented on #1758
Indeed

Correct.  Also, it should still work against https://tools.taskcluster.net (with TASKCLUSTER_ROOT_URL=https://taskcluster.net).

[2019-10-27 04:53] vishakhanihore commented on #1764
I didn't quite get it, Whenever you are signed in the first character of your `Client ID` is used to display in the upper-right corner indicating you are signed in.

I dont think it is going to solve any other potential issue.

Having a `Client_Name` may distinguish us to see who is logged in, As treating `client_id` with same as the name may also be confusing. If `Client_Name` is confusing what w

[2019-10-27 08:24] susanreenesaa opened #1765 "change color in "By Type" button drop-down"
Check http://localhost:3000/tag/blog. The "By Type" button dropdown menu should have a consistent color. either the blue should appear on select or hover but it should not be on only Research Notes.
Therefore remove research Notes color and place it on hover over on the dropdown menu

![image](https://user-images.githubusercontent.com/49034794/67631807-1f051180-f8ac-11e9-8b03-8c5a21566444.png)

[2019-10-27 08:28] susanreenesaa opened #1766 "display ellipsis bottom-right drop-down menu on hover"
The ellipsis icon should display the drop-down menu on hover over so that it becomes obvious for the user to see the dropdown even before clicking on the ellipsis button.
*currently dropdown is displayed on click*
*expecting*
dropdown to be displayed on hover and on click
![image](https://user-images.githubusercontent.com/49034794/67631829-828f3f00-f8ac-11e9-98de-f66029990ab8.png)

[2019-10-27 08:28] susanreenesaa commented on #1765
feel free to convert it to an  FTO issue

[2019-10-27 08:54] Rolikasi commented on #1766
@susanreenesaa I think you post the issue in wrong repository. It's taskcluster project, not publiclab

[2019-10-27 08:55] Rolikasi commented on #1765
Hi @susanreenesaa, I think you posted the issue in wrong repository. It's taskcluster project, not publiclab

[2019-10-27 10:07] Rolikasi commented on #1244
Sorry, it is hard to work on several issues at the same time. I wanna try to finish this one tomorrow

[2019-10-27 20:28] naimiii commented on #1754
@helfi92  Can i grab it as i completed all the assigned tasks . :)

[2019-10-28 12:38] djmitche commented on #1764
OK, I think I understand the idea, but in that case we're asking a user to enter their name, and the *only* thing we are going to do is display that name back to the user in their browser.  There's no way to verify that what the user enters is correct, and there's nowhere else to send that information.

[2019-10-28 12:39] helfi92 opened #1771 "[UI] Saving an existent client"
**Reserved** for [outreachy](https://www.outreachy.org/) candidates. In order for this to be assigned to you, make sure to complete the first step of the application process outlined in the [project description](https://www.outreachy.org/december-2019-to-march-2020-internship-round/communities/mozilla/#build-a-component-that-can-display-a-json-schema).

---

**To Reproduce**
Steps to reproduce the

[2019-10-28 12:40] #1766 closed

[2019-10-28 12:40] #1765 closed

[2019-10-28 13:13] helfi92 commented on #1472
It's being used by the ui:

https://github.com/taskcluster/taskcluster/blob/6daa7663b9e1091521961093f363ea52886b89ae/ui/package.json#L65

[2019-10-28 13:20] #1762 closed

[2019-10-28 13:24] Rolikasi commented on #1771
Can I work on this issue?

[2019-10-28 13:25] vishakhanihore commented on #1472
@helfi92
Firstly, my plan is to upgrade the mdx-loader to mdx-util.
Afterwards if the following is still present I will send a PR to mdx-util
upgrading the mdx-js.
How does in sound?

On Mon, 28 Oct, 2019, 18:43 Hassan Ali, <notifications@github.com> wrote:

[2019-10-28 13:37] djmitche commented on #1771
@Rolikasi you mentioned it's hard working on multiple issues at once.. one way to avoid that is working on only one or two at a time :)

[2019-10-28 13:38] djmitche commented on #1472
Sounds good!

[2019-10-28 13:40] helfi92 opened #1772 "[docs] Add syntax highlighting to code blocks"
**Describe the bug**
In many places in our codebase, the UI seems to be missing some code highlighting.

**To Reproduce**

For example,

1. Go https://taskcluster-ui.herokuapp.com/docs/reference/integrations/github/taskcluster-yml-v0#deadlines-and-the-fromnow-function
2. The code block has one color (white) but if you navigate to https://taskcluster-ui.herokuapp.com/docs/reference/integrations/git

[2019-10-28 13:50] lailahgrant commented on #1772
Thank you Sir, let me get straight to it.

[2019-10-28 14:01] km-js commented on #1771
I would like to work on this!

[2019-10-28 14:03] lailahgrant commented on #1772
Sir, should I put the given css on these different elements that have no highlighting??

I don't know what I did was right but when you inspect the different urls, one has <span></span> tags with css declared on them, and the other has no. Should I add those given span tags to the other url or is there reusable code I could use?

Thanks Sir.

[2019-10-28 14:22] helfi92 commented on #1772
To add syntax highlighting, all we have to do is specify the language after the ` ``` `. For example, if the code block is something in javascript, then the latter should have ` ```js ` at the top.

[2019-10-28 14:59] JiwoonKim commented on #1539
@helfi92 I would like to work on this issue, if @km-js is not available.

[2019-10-28 15:31] helfi92 opened #1773 "[UI] next/prev icon in light theme"
**Describe the bug**
The next and previous icon buttons are not showing in the light theme.

**To Reproduce**

Steps to reproduce the behavior:

1. Go to https://taskcluster-ui.herokuapp.com/tasks/eWxW0D38QgOv9WZNKgCgAg
2. Click on the light bulb icon in the app bar to switch to the light theme
3. Look at the right panel Task Run

**Actual behavior**

![Screen Shot 2019-10-28 at 11 29 44 AM](https

[2019-10-28 15:45] helfi92 opened #1774 "[UI] Error not showing in Task Group view"
**To Reproduce**

Steps to reproduce the behavior:

1. Go to https://taskcluster-ui.herokuapp.com/tasks/groups/ZeW7IKcDRQipFT2TN4UAcg

**Actual behavior**

An empty view

![Screen Shot 2019-10-28 at 11 42 32 AM](https://user-images.githubusercontent.com/3766511/67693422-0bbf7800-f978-11e9-84b5-b5e866cd5adc.png)

**Expected behavior**
An error ``` No task-group with taskGroupId: `ZeW7IKcDRQipFT2TN4

[2019-10-28 15:58] lailahgrant commented on #1772
thank you sir..

This is also handy.
https://help.github.com/en/github/writing-on-github/creating-and-highlighting-code-blocks

[2019-10-28 16:17] aryamanpuri commented on #1774
@helfi92 I am looking forward for it . Can you assign this to me .

[2019-10-28 16:22] aryamanpuri commented on #1774
@helfi92 Actually it is showing up . On going to  this link
https://taskcluster-ui.herokuapp.com/tasks/groups/ZeW7IKcDRQipFT2TN4UAcg

![Screenshot from 2019-10-28 21-49-35](https://user-images.githubusercontent.com/43513114/67696552-1a844a00-f9cd-11e9-8420-6952ef3e2221.png)

[2019-10-28 16:38] aryamanpuri commented on #1773
@helfi92 Can you assign me. I will look forward to it .

[2019-10-28 17:02] helfi92 commented on #1774
Ah, it looks like it doesn't always show. Try hard refreshing a couple of times.

[2019-10-28 17:44] helfi92 commented on #1758
@ededals Feel free to create a separate issue to handle the UI bit discussed in https://github.com/taskcluster/taskcluster/pull/1760#pullrequestreview-308029839 if that's more convenient for you. Otherwise, I'm fine keeping the discussion here.

[2019-10-28 17:52] naimiii commented on #1658
@helfi92  can you please assigned me this one ?  If it's free :)

[2019-10-28 17:57] naimiii commented on #1658
@helfi92  Thank you :)

[2019-10-29 01:39] Vane237 commented on #1455
Hey @helfi92,
Is it possible to know where the tooltip was added to the Schema Table row seeing as the table is being generated and I tried looking at the code for the Schema Table and it is minified. Looking at the code for the tooltip that is added to the DOM(using the chrome debugger), the issue appears to be the styling(the top and left values are too big, as shown in the shared image)
<img wi

[2019-10-29 03:04] vishakhanihore commented on #1764
I am getting your point. What I can think of a makeover is rather than giving a field in sign in, We can display an `edit icon` when the user views his profile in front of his name so that he can set his name?
@djmitche

[2019-10-29 04:55] vishakhanihore opened #1813 "[UI]: Unwanted extra space block in `auth/scopes`"
**Describe the bug**

There is a large patch of unwanted space under `Auth/Scopes` which makes no sense.

**To Reproduce**

Steps to reproduce the behaviour:

1. Go to `http://127.0.0.1:5080/auth/scopes`
2. See error

**Expected behavior**

Remove this space as it looks worsens our UI.

**Screenshots**

<img width="1429" alt="Screenshot 2019-10-29 at 10 23 02 AM" src="https://user-images.githubuse

[2019-10-29 04:55] vishakhanihore commented on #1813
@djmitche @helfi92 Is there any use of this unwanted patch of space which is blocking the list of `scopes` ?

[2019-10-29 05:25] ededals commented on #1758
We can continue all discussion here. I think there is a mistake in my code, because I am using ```name``` as ```client_id```. TASKCLUSTER_CLIENT_ID may be allready set as environment variable. In this case we I modify the query to include both ```client_id``` and ```name```. But there can be cases where it is not available, because I think TASKCLUSTER_ROOT_URL is only requirement for this tool

I

[2019-10-29 07:19] lailahgrant commented on #1772
Sir, I'm through with it...
Thanks.

[2019-10-29 11:35] helfi92 commented on #1813
There is no use. Feel free to make the list cover more height.

[2019-10-29 11:40] helfi92 commented on #1758
I think we should just use `name` and `callback_url` as a queries. In the UI, we would read the name and then append it to the clientId which we can retrieve by reading the current logged in user.

We can make it like the /profile view when the user is logged out:

![Screen Shot 2019-10-29 at 7 36 40 AM](https://user-images.githubusercontent.com/3766511/67763784-df126b80-fa1e-11e9-804c-e23d2435a59

[2019-10-29 11:40] helfi92 commented on #1772
If you are done, the next step is to open a pull-request so I can review it.

[2019-10-29 13:05] lailahgrant commented on #1772
should i change the PR in the branch and create a new one?

[2019-10-29 13:50] helfi92 opened #1819 "[UI] Update react-styleguidist to v9"
`yarn styleguide` inside the ui directory should fire up the styleguide. You can see what changed by looking at https://github.com/styleguidist/react-styleguidist/releases. `yarn.lock` shows that we are currently on v7.3.11.

[2019-10-29 14:22] helfi92 commented on #1772
No, it's okay.

[2019-10-29 17:36] helfi92 opened #1822 "[UI] Change "More..." to "See More" and add icon"
**To Reproduce**

Steps to reproduce the behavior:

1. Go to http://localhost:5080/tasks/eWxW0D38QgOv9WZNKgCgAg
2. Look at the last list item of both cards

#### Actual

![Screen Shot 2019-10-29 at 1 32 35 PM](https://user-images.githubusercontent.com/3766511/67793059-95db0f80-fa50-11e9-8081-7c89e82c9747.png)

#### Expected

Instead of "More...", I was thinking of changing the text to "See More".

[2019-10-29 18:01] helfi92 opened #1823 "[UI] Pagination not working in workers table"
**To Reproduce**

Steps to reproduce the behavior:

1. Go to https://taskcluster-ui.herokuapp.com/provisioners/aws-provisioner-v1/worker-types/ami-test-pv
2. Open the developer devTools
3. Click on ">" for next page. Notice how the list of results is not updated
4. Click on "<" for previous page
5. Look at the error in developer tools console

![Screen Shot 2019-10-29 at 1 51 38 PM](https://user-i

[2019-10-29 18:31] Shubhamchinda commented on #1823
Hey, I'd like to take this!

[2019-10-29 18:35] helfi92 commented on #1823
Yay! Go for it :)

[2019-10-29 19:41] aryamanpuri commented on #1773
@helfi92 Should I add two function calls on clicking the toggle light / dark theme button .

[2019-10-29 19:59] helfi92 commented on #1773
Hm, I'm not sure I understand the question. Feel free to create a pull-request then we can look at it there.

[2019-10-30 05:09] vishakhanihore opened #1829 "[Depreciation] Remove react depreciation warnings from console"
**Describe the bug**

Whenever I fire up the app, multiple warnings of depreciation due to `components` also show up.

**Expected behaviour**

Remove the warnings.

**Screenshots**

<img width="1001" alt="Screenshot 2019-10-30 at 10 37 31 AM" src="https://user-images.githubusercontent.com/54327666/67830657-7b14a380-fb01-11e9-9445-23decc9e19c1.png">

[2019-10-30 05:10] vishakhanihore commented on #1829
@helfi92 @djmitche Your opinions?

[2019-10-30 05:50] vishakhanihore commented on #1421
Hello @olympiawoj , Feel free to ask for any help regarding the issue 🙃

[2019-10-30 15:46] helfi92 commented on #1772
What's up? :)

[2019-10-30 15:47] helfi92 commented on #1421
I haven't heard from @olympiawoj for a while. This task is free to grab now. I think what's left is to to simply rebase the pull-request.

[2019-10-30 19:23] devnoorfatima commented on #1421
can i take it

[2019-10-30 19:45] helfi92 opened #1835 "[web-server] expire parameter for whitelisted clients"
Providing an `expires` parameter was is not doing working properly for whitelisted clients. It's defaulting to the client `maxExpires` value instead.

[2019-10-30 22:09] #1835 closed

[2019-10-30 22:39] glandium opened #1838 "Task group list doesn't refresh"
Opening a task group view (e.g. https://community-tc.services.mozilla.com/tasks/groups/FLgCbQUZRVihnZSTLKVpjw) while tasks are proceeding doesn't show any progress. That is, the status of tasks never changes dynamically, and reloading the page is required. (Using Firefox 70)

[2019-10-31 00:37] glandium opened #1839 "Can't sign in with github on community instance with Firefox Nightly"
With Firefox Nightly 72.0a1 (2019-10-30):
- Go to https://community-tc.services.mozilla.com/
- Click Sign in
- Click Sign in with GitHub
- Possibly authenticate with github
- The "temporary" tab that is now open on https://community-tc.services.mozilla.com/login/github/callback?code=... is now stuck on that, instead of disappearing and coming back to the original tab, reloading it, signed in.

[2019-10-31 00:37] glandium commented on #1839
(It works in Firefox Release)

[2019-10-31 00:47] glandium opened #1840 "Can't trigger actions"
- Go to e.g. https://community-tc.services.mozilla.com/tasks/groups/K4JZdi5VQJ2S5pXsBUOApA
- Click the menu thing in the lower right corner
- Pick one of the action items
- Click on the action button in the dialog that opens

This results in the following error:
Schema Validation Failed! Rejecting Schema: https://community-tc.services.mozilla.com/schemas/queue/v1/create-task-request.json# Errors:

[2019-10-31 01:40] djmitche commented on #1839
I feel like this has been a bug "in nightly" for several FF release cycles now.  Is there some feature that's preffed off in release that causes this?

[2019-10-31 02:02] djmitche commented on #1840
Looking deeper, it seems that this `task.options` was added in 61b12b184292ec9e62b6c7401ca9a7ea0b066b68 as a way to pass client options to taskcluster-client.  That's a bit odd, but GraphQL is a private API between web-server and the UI, so it doesn't really matter.  It's especially odd because the comment is wrong!  It's OK from a security perspective: the `client` being used here is initialized

[2019-10-31 02:17] djmitche opened #1842 "All docs show an error"
**Describe the bug**
API reference pages are showing an error message, and no references.

**To Reproduce**

Steps to reproduce the behavior:

1. Go to https://docs.taskcluster.net/docs/reference/platform/queue/api
1. See error: `Unexpected token (6:14)`

**Expected behavior**

**Screenshots**

![image](https://user-images.githubusercontent.com/28673/67913293-f22e5400-fb62-11e9-98ad-44e256049fa4.p

[2019-10-31 02:28] glandium commented on #1839
mozregression points at https://hg.mozilla.org/integration/mozilla-inbound/pushloghtml?fromchange=b526d511169a3ba8ea647d6de9183a62df0da1c8&tochange=e6a4330eb15f1536f505d6794c4efac3ca9fcf7e aka https://bugzilla.mozilla.org/show_bug.cgi?id=1503681

[2019-10-31 02:32] glandium commented on #1839
And setting `dom.targetBlankNoOpener.enabled` to `false` on Nightly fixes it. So presumably, TC would need to adjust to work with the new browser behavior.

[2019-10-31 02:39] glandium commented on #1839
Hotpatching the `<button>` to add `rel="opener"` works, so presumably this patch should fix it, assuming it's the right place:
[code]

[2019-10-31 04:42] vishakhanihore commented on #1842
Looking into it

[2019-10-31 04:50] vishakhanihore commented on #1842
@djmitche Nice to note things is that, if one page breaks, all the other pages breaks too !

[2019-10-31 06:47] naima-shaikh commented on #1842
@djmitche  I m looking into it .It seem's interesting  to fix .Can you plz assign me this one ?

[2019-10-31 06:54] vishakhanihore commented on #1819
@helfi92 Should we fire up directly to 10.0 ? As there would be breaking changes in upgrading to 9.0 too then why not go for 10 :smile: ?

[2019-10-31 10:15] vishakhanihore commented on #217
@helfi92 @djmitche After a lot of trying, I thought to look into h-term for the issue. It is nice to know that the following is not the issue of `hterm-umdjs`.
This error is occurring due to `chromium-hterm` and there is a bug already opened for this in `h-term` repo.
https://bugs.chromium.org/p/chromium/issues/detail?id=980671
I have starred the following bug and hence this multiple hterm issue w

[2019-10-31 10:15] vishakhanihore commented on #217
We can remove the label `good-first-issue` and label it `later` until `hterm` fixes this problem for firefox.

[2019-10-31 10:16] vishakhanihore commented on #1684
@naima-shaikh Are you still working on this ticket ?

[2019-10-31 10:18] naima-shaikh commented on #1684
@vishakhanihore  I already fixed it .Just waiting for the review . :(

[2019-10-31 10:42] naima-shaikh commented on #1838
@glandium  May i take this one ? It looks interesting :) Thanks

[2019-10-31 12:55] helfi92 commented on #1819
Good idea.

[2019-10-31 12:58] #1839 closed

[2019-10-31 13:00] djmitche commented on #1842
@naima-shaikh I can, but we do need this fixed soon -- we need to make another release of TC, with this fixed.  If you can fix it in, say, the next 24 hours that would be great..

[2019-10-31 13:00] djmitche commented on #1842
(if not, that's fine to, just let us know)

[2019-10-31 13:14] naima-shaikh commented on #1842
@djmitche  thanks for assigning it to me . I will try to fix it within 24 hours :)

[2019-10-31 13:21] #1840 closed

[2019-10-31 13:34] vishakhanihore commented on #1842
Please let me know if you are unable yo solve it , I have already debugged
the following, will also send the patch if you can not.
@naima-shaikh

On Thu, 31 Oct, 2019, 18:44 naima, <notifications@github.com> wrote:

[2019-10-31 13:39] helfi92 commented on #1842
Note that there is already an issue and a pull-request open to fix the error panel positioning. https://github.com/taskcluster/taskcluster/issues/1660

[2019-10-31 13:46] vishakhanihore commented on #1842
Cool but I dont think the error would be anyway related to the following
PR😅

On Thu, 31 Oct, 2019, 19:09 Hassan Ali, <notifications@github.com> wrote:

[2019-10-31 13:48] helfi92 commented on #1838
`GRAPHQL_SUBSCRIPTION_ENDPOINT` in the community deployment is currently set as `/subscription` but should instead be set to `https://community-tc.services.mozilla.com/subscription`.

[2019-10-31 14:02] devnoorfatima commented on #1421
@helfi92  I have made the PR for this issue https://github.com/taskcluster/taskcluster/pull/1847

[2019-10-31 14:13] helfi92 commented on #1838
@djmitche This should probably be changed in gcloud. Hm, I'm not sure if I have permissions. I can't seem to locate the env vars for the cluster in the gcloud UI.

[2019-10-31 14:30] naima-shaikh commented on #1842
@djmitche  @vishakhanihore
I can't seem to reproduce this issue running locally http://localhost:5080/docs/reference/platform/auth/api shows no error panel. Is this issue only occuring in production and if so how can I point to production stack locally?

[2019-10-31 14:42] Vane237 commented on #1455
Hey @helfi92 ,
While debugging on the browser, I was actually able to make it display by adding a style to the popover and it displays the popover. I would like to know which style file i can include the popover style in.

<img width="1678" alt="Screen Shot 2019-10-31 at 12 20 14" src="https://user-images.githubusercontent.com/55631241/67956812-f99e3d80-fbf4-11e9-9335-9326dbcec960.png">

[2019-10-31 14:48] naima-shaikh commented on #1842
@helfi92  Sorry . i m doing it now :)

[2019-10-31 14:49] helfi92 commented on #1455
Awesome! Feel free to put it in any file you think it makes sense. Here's how we typically add styles to our views/components: https://github.com/taskcluster/taskcluster/search?q=%22%40withStyles%22&unscoped_q=%22%40withStyles%22

[2019-10-31 14:56] djmitche commented on #1838
I'd like to have this default to `/subscription`, so that people deploying the service don't need to customize it.  The only reason that it is a configuration value is to support netlify deployments.

https://github.com/taskcluster/taskcluster/blob/911be3c69fd6a50c7feefd733a092c6472886b74/ui/src/App/index.jsx#L80

This *almost* does the right thing.  The problem is, it sees `/subscription` and not

[2019-10-31 16:07] #1838 closed

[2019-10-31 17:02] Rolikasi commented on #1389
@47analogy, hi, are you still working on this? Do you need some help?

[2019-10-31 17:06] aerickson opened #1853 "client auth UI: can't persist 'delete on expiration'"
**Describe the bug**
I can't persist changes to the 'delete on expiration' flag for clients.

https://firefox-ci-tc.services.mozilla.com/auth/clients/project%2Fautophone%2Fbitbar-x-batt-g5

I switch the client to not 'delete on expiration', but the save icon doesn't activate.

**To Reproduce**

Steps to reproduce the behavior:

1. Go to https://firefox-ci-tc.services.mozilla.com/auth/clients/proje

[2019-10-31 19:01] helfi92 commented on #1389
I haven't heard back from @47analogy.

[2019-10-31 19:03] helfi92 commented on #1853
This will be fixed in https://github.com/taskcluster/taskcluster/pull/1811.

[2019-10-31 19:09] #1771 closed

[2019-10-31 19:09] helfi92 commented on #1853
PR merged. Should be fixed in the next deployment.

[2019-10-31 19:09] #1853 closed

[2019-10-31 19:12] vishakhanihore commented on #1389
Can i work on it?

On Fri, 1 Nov, 2019, 00:31 Hassan Ali, <notifications@github.com> wrote:

[2019-10-31 19:23] helfi92 commented on #1389
Sure.

[2019-10-31 19:33] Rolikasi commented on #1244
@djmitche , I need to create task first and then find it, am I right?
I try to use createTask function, but get error bellow. Also I dont understand what did you mean by `add index routes` (
I'm very interested in finishing up this issue, it'd be great if you'll guide me a little bit))

X create an indexed task and find it in the index (Error: Client ID mozilla-auth0/github|44370635|Rolikasi/smoke

[2019-10-31 19:54] djmitche commented on #1244
Each providerId/workerType requires corresponding scopes to start a task.  We have some "built-in" workers named built-in/succeed which the smoketests already have scopes to access. So you should be able to call createTask with providerId `built-in` and workerType `succeed`.

Once you've got that working (and you can see an example in `infrastructure/tooling/src/smoketest/checks/builtin.js`), try

[2019-10-31 21:49] glandium opened #1857 "Credential error when launching an action is badly formatted"
The error is shown as a blob of "unformatted" text, which makes it hard to read (with no separation between each scope), but it's also formatted as markdown or something, which makes stars disappear and text between two consecutive stars switch to italic.
See the following screenshot.
![screenshot](https://user-images.githubusercontent.com/1038527/67988478-6f48ee80-fc73-11e9-94dc-60ef81972b7a.png)

[2019-11-01 11:19] Rolikasi commented on #1244
Thanks for the help @djmitche !)

[2019-11-01 15:02] vishakhanihore commented on #1842
@naima-shaikh Any Progress ?

[2019-11-01 15:48] naima-shaikh commented on #1842
@vishakhanihore  This issue is  already fixed  by @djmitche  with a similar logic :)

[2019-11-01 15:54] vishakhanihore commented on #1842
@djmitche is this fixed?

On Fri, 1 Nov, 2019, 21:18 naima, <notifications@github.com> wrote:

[2019-11-01 16:05] djmitche commented on #1842
Sorry, I fixed a different bug in #1849 and pinged @naima-shaikh.  That was my fault.  It's not fixed.

[2019-11-01 16:14] vishakhanihore commented on #217
@helfi92 ?

[2019-11-01 16:47] naima-shaikh commented on #1842
@djmitche  Alright thanks for informing :) .let me look into it again .

[2019-11-01 17:13] vishakhanihore commented on #1842
@naima-shaikh , feel free to collaborate with me if you are stuck anywhere.
Two is always better than one😁

On Fri, 1 Nov, 2019, 22:17 naima, <notifications@github.com> wrote:

[2019-11-01 17:46] helfi92 commented on #1842
https://github.com/taskcluster/taskcluster/commit/905228f94afdb892d56333d678310ee0beb67f6d seems to be the culprit.

[2019-11-01 18:07] vishakhanihore commented on #1842
@helfi92 rather than reverting to lower version, cant we disable ESlint for
this 4 lines ?

On Fri, 1 Nov, 2019, 23:16 Hassan Ali, <notifications@github.com> wrote:

[2019-11-01 18:30] helfi92 commented on #1842
@vishakhanihore Which 4 lines?

[2019-11-01 18:32] vishakhanihore commented on #1842
The place where its showing unexpected token error line 6-10?

On Sat, 2 Nov, 2019, 00:00 Hassan Ali, <notifications@github.com> wrote:

[2019-11-01 18:33] #1842 closed

[2019-11-01 18:47] helfi92 commented on #1842
I'm not sure where which line 6-10 that is. I will file an issue soon to have the UI migrated to eslint v6.

[2019-11-01 18:47] helfi92 opened #1866 "Update eslint to v6 (except UI)"

[2019-11-01 18:51] djmitche commented on #1842
I'm super-confused how eslint -- which is a devDependency -- could cause a failure at runtime.

[2019-11-01 20:42] helfi92 commented on #1842
Probably because of https://github.com/taskcluster/taskcluster/pull/1863/files#diff-41c7b0973853207d6085c8df75e6dc50R1629.

[2019-11-01 21:01] djmitche commented on #1842
:boggle:

[2019-11-02 05:42] lailahgrant commented on #1772
it is about the emails we have been receiving..
I don't know, is it ok to be asking that here??

[2019-11-02 05:43] lailahgrant commented on #1772
Sir, what is the feedback on this issue #1772 ?

[2019-11-02 16:04] vishakhanihore commented on #1866
@helfi92 I would be pleased to fix this for you 😄

[2019-11-02 16:08] djmitche commented on #1866
I think #1865 does so..

[2019-11-02 16:36] vishakhanihore commented on #1866
Oh,I think PR was not linked to the issue.

[2019-11-03 19:56] djmitche opened #1874 "[UI] pop-up menu items not aligned"
**Describe the bug**
The items in the pop-up menu in the lower right are not aligned

**To Reproduce**

1. Go to a https://community-tc.services.mozilla.com/tasks/KdwFUTxUTiWiHoRDBYhEmA/runs/0
2. Hover over the thing in the lower right

**Expected behavior**
Aligned items

**Screenshots**
![screenshot](https://user-images.githubusercontent.com/28673/68091144-12536100-fe4a-11e9-8c30-719243a9e5ca.pn

[2019-11-03 19:57] djmitche opened #1875 "[UI] No cancel button for tasks"
**Describe the bug**
Cancel should be an option alongside "rerun" and "schedule"

**To Reproduce**

1. Go to https://community-tc.services.mozilla.com/tasks/KdwFUTxUTiWiHoRDBYhEmA/runs/0
2. Hover over the thing in the lower right

**Expected behavior**
A "cancel" option

**Screenshots**
![screenshot](https://user-images.githubusercontent.com/28673/68091155-33b44d00-fe4a-11e9-92fe-dd9b2200318a.png)

[2019-11-03 20:00] djmitche commented on #1874
If they do line up for you, un-hover and hover again.  They move every time!!

[2019-11-04 00:20] glandium commented on #1838
Is this deployed? Because the task group list still doesn't refresh for me.

[2019-11-04 00:24] glandium commented on #1838
Oh, there is a difference from before... now I can see error messages in the web console:
[code]
and sometimes:
[code]

I also see 404 errors for requests to https://community-tc.services.mozilla.com/subscription

[2019-11-04 00:25] glandium commented on #1875
Retrigger would be nice too.

[2019-11-04 04:30] ajinkabeer commented on #1874
Can I take a look at this please?
@djmitche

[2019-11-04 06:16] naima-shaikh commented on #1874
@djmitche  can I  get it. If it's free ?

[2019-11-04 06:20] ajinkabeer commented on #1874
Oh, its okay if you want to work on it, please go on. @naima-shaikh @djmitche

[2019-11-04 07:04] aryamanpuri commented on #1875
@djmitche Can you assign me this issue ?

[2019-11-04 07:08] naima-shaikh commented on #1874
@ajinkabeer  It will decide by @djmitche   that who will work on it . :)  I was just asking  :)

[2019-11-04 13:23] djmitche commented on #1838
Yep, cloudops is looking in https://bugzilla.mozilla.org/show_bug.cgi?id=1593564

[2019-11-04 13:34] djmitche commented on #1874
That's very gracious of you @ajinkabeer -- I did fix something i had assigned to @naima-shaikh a few days ago, so I'll give this issue to them.

Note that I have no idea how to fix this!

[2019-11-04 13:38] ajinkabeer commented on #1874
Totally cool!! :) @djmitche

[2019-11-04 13:42] #1866 closed

[2019-11-04 13:46] helfi92 commented on #1772
I approved the pull-request. We're just waiting on #1729 to be done first before merging the code. I will take care of merging the PR. Feel free to add this to the list of contributions.

[2019-11-04 13:51] naima-shaikh commented on #1874
@djmitche  Thank you :)

[2019-11-04 16:03] ededals commented on #1758
I loved how this turned out. Is there anything else I could work on?

[2019-11-04 16:04] helfi92 commented on #1875
web-server uses the following logic to fetch actions https://github.com/taskcluster/taskcluster/blob/7c58773472eac01f3771c7779a9397da5b503eaf/services/web-server/src/loaders/tasks.js#L36-L40

https://community-tc.services.mozilla.com/api/queue/v1/task/QA6K2qySQNaQBb2B806_vg/artifacts/public%2Factions.json returns a 404. @djmitche are we using a bad url or is this file simply non-existent in the co

[2019-11-04 16:11] SimonSapin commented on #1875
Isn’t `actions.json` for customizable, task-specific actions? Shouldn’t "cancel" be built-in without each task configuring it?

[2019-11-04 16:13] helfi92 opened #1878 "[UI] Update eslint to v6"
We use eslint v6 throughout the repo but use v5 in `ui`. We previously tried to upgrade eslint to v6 but for some reason, some pages in the docs site stopped working and so we had to revert the change. See https://github.com/taskcluster/taskcluster/issues/1842 for more information.

After updating eslint to v6, we should test that `http://localhost:5080/docs/reference/platform/queue/api` still wor

[2019-11-04 16:15] helfi92 commented on #1874
Hmm, I'm not able to replicate. @naima-shaikh are you able to replicate the issue?

[2019-11-04 16:20] helfi92 commented on #1758
Me too :)

Are you interested in tackling https://github.com/taskcluster/taskcluster/issues/1878 by any chance? Feel free to comment directly on the issue if you are. Thanks!

[2019-11-04 16:27] ededals commented on #1878
I would like to work on this.

[2019-11-04 16:46] lailahgrant commented on #1772
Okay sir, thanks.

[2019-11-04 16:56] naima-shaikh commented on #1874
@helfi92  @djmitche  Is this issue a browser specific ?

[2019-11-04 17:07] naima-shaikh commented on #1874
@helfi92  I m trying my best :)

[2019-11-04 17:21] djmitche opened #1879 "[UI] Can't copy artifact links from index browser"
**Describe the bug**

Users often use the index browser to find an artifact, and then want to use that artifact elsewhere such as in a `curl` command.  They need a link that is pointing to `<rootUrl>/api/index`.

**To Reproduce**

Steps to reproduce the behavior:

1. Go to https://community-tc.services.mozilla.com/tasks/index/project.deepspeech.tensorflow.pip.r1.14.e77504ac6b941fd2af495b49a0bcd56f

[2019-11-04 17:24] naima-shaikh commented on #1874
@djmitche  @helfi92  When i run from the provided link this is how it shows on my machine
![74241440_860963600971888_4778266410902093824_n (1)](https://user-images.githubusercontent.com/28563415/68142769-e15e5380-ff51-11e9-8e93-eeeda63765c3.png)

[2019-11-04 17:51] djmitche commented on #1874
Could it have to do with window width?  My window is *very* wide..

[2019-11-04 17:52] djmitche commented on #1874
Hm, no, I can replicate even on a window only 1899 pixels wide.  Try rolling over the button a bunch to render and un-render the menu.

[2019-11-04 17:53] djmitche commented on #1874
I'm on Firefox 70.

[2019-11-04 18:11] #1857 closed

[2019-11-04 18:32] naima-shaikh commented on #1874
@djmitche  I tried it in Firefox  on a wide screen and still could not reproduce :(
![74183538_460864514777529_5703551178487365632_n](https://user-images.githubusercontent.com/28563415/68147193-5d10ce00-ff5b-11e9-8072-cb3e00ab085c.png)

[2019-11-04 18:54] helfi92 commented on #1874
@djmitche Is the behavior intermittent?

[2019-11-04 18:56] djmitche commented on #1874
Yes (weird!!)

[2019-11-04 20:18] katherine95 commented on #1879
I would like to work on this one. @djmitche

[2019-11-04 20:31] SimonSapin opened #1881 "Task name is mangled in task view page title"
In https://community-tc.services.mozilla.com/tasks/W3MxM2o_Tw24Nz7oM8LtLw we see

(which is correct), and above that and in the tab’s title:

Similarly in https://community-tc.services.mozilla.com/tasks/UxQR1tHSRN6imKedMGQGsQ/

… becomes:

I would be nice if we could disable this mangling.

[2019-11-04 20:33] djmitche commented on #1881
/cc @lissyx

[2019-11-04 20:44] helfi92 commented on #1879
It has been done in https://github.com/taskcluster/taskcluster/pull/1880.

[2019-11-04 20:49] naima-shaikh commented on #1881
@SimonSapin  May i get this issue ? :)

[2019-11-04 20:50] naima-shaikh commented on #1881
@helfi92  Thank you :)

[2019-11-04 20:50] helfi92 commented on #1881
You'll want to use https://github.com/taskcluster/taskcluster/blob/08a316b1111cab297910034ca7f42c75a05d087a/ui/src/components/Dashboard/index.jsx#L198-L201

[2019-11-04 21:16] helfi92 commented on #1874
Ah, that's most probably a material-ui bug. This might be fixed in v4 after https://github.com/taskcluster/taskcluster/pull/1729 is merged.

[2019-11-04 21:22] helfi92 commented on #1875
Agreed.

[2019-11-04 21:33] helfi92 commented on #1875
@aryamanpuri Let me know if you had questions.

[2019-11-05 01:36] imbstack opened #1884 "[UI] Choose more appropriate "create task" icon"
**Describe the bug**
The "create task" button currently uses the floppy disk save icon. While this is somewhat appropriate, it doesn't really feel right for creating a task. I think (although others can disagree with me) that something with the feeling of "starting", "running", "go", "schedule", etc would make sense.

If my spelunking of the issues is correct, https://materialdesignicons.com is wh

[2019-11-05 01:38] vishakhanihore commented on #1884
@imbstack Can I please work on this issue ?

[2019-11-05 07:37] lissyx opened #1887 "[UI] Unable to perform rerun on mobile"
**Describe the bug**
Trying to re-run a task from a mobile browser (Fennec Nightly) does not work

**To Reproduce**

Steps to reproduce the behavior:

0. Ensure you are signed in
1. Go to a failed task
2. Tap on the menu in the bottom right
3. Tap "Rerun"

**Expected behavior**
The modal dialog to confirm rerun is quickly visible but then disappears

**Screenshots**
Unable to capture screenshots,

[2019-11-05 07:43] lissyx opened #1888 "[UI] Filter not retained on page reload"
**Describe the bug**
Bug or behavior to change.
Filtering tasks by status (running, failed, etc.) disappears once you reload the page

**To Reproduce**

Steps to reproduce the behavior:

1. Go to a task group
2. Click on "running"
3. Reload the page

**Expected behavior**
I should still see only the list of tasks in "running" state.

**Platform (please complete the following information):**

 - OS

[2019-11-05 07:46] rbrishabh opened #1889 "Form labels for check boxes might be misbehaving"
**Describe the bug**
For example, in [taskcluster-ui.herokuapp.com/quickstart](taskcluster-ui.herokuapp.com/quickstart), clicking on checkboxes focuses the form label "This Task Should Run On" at irregular times.

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/22501334/68187872-d6490900-ffcd-11e9-9ac3-49325073260e.gif)

Steps to reproduce the behavior:

1. Go to [taskcluster-u

[2019-11-05 10:27] SimonSapin opened #1890 "Browser session expiry is too aggressive"
**Describe the bug**

I regularly work with https://community-tc.services.mozilla.com lately, and often needs to click the "Sign in with GitHub" button again and again.

**To Reproduce**

Steps to reproduce the behavior:

1. Navigate to https://community-tc.services.mozilla.com/profile
2. If already signed in, click on "Sign out" in the top right menu
3. Sign (back) in with GitHub
4. See that the

[2019-11-05 11:00] lissyx opened #1892 "[UI] No retrigger button"
**Describe the bug**
Previous TC would allow to rerun or retrigger. Current Community TC only allows for rerun.

**Expected behavior**
I want to be able to rerun or retrigger.

[2019-11-05 11:01] lissyx commented on #1875
I filed the same :) https://github.com/taskcluster/taskcluster/issues/1892

[2019-11-05 11:37] aryamanpuri commented on #1875
@helfi92 Can you help me with the onclick function of the cancel button.  The remaining buttons for tasks are " disabled: actionLoading" .

[2019-11-05 12:40] helfi92 commented on #1875
@aryamanpuri Here's one way to add the new cancel button: https://github.com/taskcluster/taskcluster/compare/master...helfi92:fix-cancel-task?expand=1

[2019-11-05 12:44] aryamanpuri commented on #1875
@helfi92 There is no action on the click of buttons in this  link . https://community-tc.services.mozilla.com/tasks/KdwFUTxUTiWiHoRDBYhEmA/runs/0 . So the task performed by them is still active .

[2019-11-05 12:51] helfi92 commented on #1875
I'm not sure I understand the question. Can you elaborate, please?

[2019-11-05 12:54] aryamanpuri commented on #1875
On this link https://community-tc.services.mozilla.com/tasks/KdwFUTxUTiWiHoRDBYhEmA/runs/0 , All the icons/buttons are still active or not? That is these icons are static (there is no action on clicking them).

[2019-11-05 12:59] helfi92 commented on #1875
If the buttons are disabled, there should be a tooltip explaining why. If you see "(Auth Required)", it means you need to login first to use these buttons.

[2019-11-05 13:04] aryamanpuri commented on #1875
@helfi92  My bad .

[2019-11-05 14:08] ajinkabeer commented on #1245
Hello @ANURADHAJHA99, are you still working on this? If you need any help please do ask and I will help you!

[2019-11-05 14:11] helfi92 commented on #1875
https://github.com/taskcluster/taskcluster/pull/1893

[2019-11-05 14:12] #1879 closed

[2019-11-05 14:21] helfi92 commented on #1884
@imbstack This used to be a plus icon but changed to a diskette icon for better consistency/accessibility. Let me know if you disagree with the thread in https://github.com/taskcluster/taskcluster/issues/867. Happy to discuss.

[2019-11-05 14:34] helfi92 commented on #1887
Weird. I can't replicate on my ios device. Let's test again after https://github.com/taskcluster/taskcluster/pull/1729 is merged. The material-ui upgrade may fix the issue.

[2019-11-05 14:42] helfi92 commented on #1889
Hm, if this is a material-ui bug, maybe we should a raise an issue upstream in material-ui repo. Is there an issue already open for this?

[2019-11-05 15:11] djmitche commented on #1758
I think this is done...

[2019-11-05 15:11] #1758 closed

[2019-11-05 15:12] lissyx opened #1895 "`taskcluster-cli signin` fails to create clientId"
STR:

1. Ensure `taskcluster-cli` recent (v22.0)
2. `TASKCLUSTER_ROOT_URL=https://community-tc.services.mozilla.com taskcluster-cli signin`
3. Browser open, clientId creation UI is here
4. `scopes` is filed with `*`
5. Click `create`

Expected:
ClientId is created

Actual:
Error:
[code]

[2019-11-05 15:19] lissyx commented on #1887
Yeah, reuben tested at lunchtime, it was working on his apple device. Mine is Xperia XZ2 Compact, "smaller" screen.

[2019-11-05 15:27] djmitche commented on #1887
Confirmed in Firefox Preview on Android.  But yeah, let's wait for #1729.

[2019-11-05 15:37] rbrishabh commented on #1889
I don't think it's present there. I will create an issue there as well. Anyhow, would you like me to create a PR to fix this one? @helfi92

[2019-11-05 15:39] rbrishabh commented on #1888
@helfi92, can I take this one up?

[2019-11-05 16:06] djmitche commented on #1895
I think the missing bit is that the `scope[]` args should be intersected with the user's scopes to generate the set of scopes added to the client.

[2019-11-05 16:14] helfi92 commented on #1895
Yep.

[2019-11-05 16:40] imbstack commented on #1884
Let's wait for @owlishDeveloper to be back and we can discuss the diskette vs plus icon

[2019-11-05 16:45] #1892 closed

[2019-11-05 16:47] helfi92 commented on #1889
Not at the moment. Let's wait to hear back from material-ui folks first. Also, I noticed that this issue is only on Chrome, not Firefox.

[2019-11-05 17:18] djmitche commented on #1245
I think we'll use a more restricted scope than that, like `auth:create-client:project/taskcluster/smoketest/*` :)

But before jumping onto that, could you take a look at the cleanup?  It doesn't appear to be cleaning up.. I still see lots of temporary roles in https://tools.taskcluster.net/auth/roles/project%3Ataskcluster%3Asmoketest%3ADGLJtjY1TW67aBrFtONl0w%3A* from many days ago.

[2019-11-05 17:18] helfi92 commented on #1889
You can post a link to the issue here if that helps.

[2019-11-05 17:38] djmitche opened #1900 "[UI] include reasons "above the fold" in task runs"
**Describe the bug**

The status of each run is shown at the top (and without clicking "More..."), but that information is incomplete without the reason indication -- things like "claim-expired" for example.  Users often miss that information because it is hidden behind "More...".

I propose moving all three of those "pills" onto the same line of the run, at the top.

![image](https://user-images.

[2019-11-05 17:43] ajinkabeer commented on #1245
I just called and  logged `listRoles2()` right after exiting the while loop. Seems like they are cleaned up. But I wonder whats actually going wrong in the test. I will keep testing it though!
@djmitche

[2019-11-05 17:58] km-js commented on #1900
I would like to work on this.

[2019-11-05 18:07] helfi92 commented on #1900
Be back in a bit, but I would like to ask questions & get clarifications on this proposal.

[2019-11-05 18:18] ajinkabeer commented on #1245
Yes, got it! I found that my `anHourAgo` condition is not working properly. I will fix it at create a new pull request.
@djmitche

[2019-11-05 18:19] ajinkabeer commented on #1246
Yes, got it! I found that my `anHourAgo` condition is not working properly. I will fix it at create a new pull request.
@djmitche

[2019-11-05 19:08] vishakhanihore commented on #1900
@djmitche What about the mobile view, The current screen is compatible with the mobile view but I don't think making them inline would retain such consistency?

[2019-11-05 19:14] djmitche commented on #1900
If they stacked in that view, that'd be OK -- or just always stack them.  I think this information is a little more important than the scheduled/started/resolved times, so perhaps those could be moved below the fold?

[2019-11-05 19:39] ajinkabeer commented on #1246
I think I managed to fix the clean up issue. Can you take a look at it please?
@djmitche

[2019-11-05 20:38] ajinkabeer commented on #1245
Can I start on this one please?
@djmitche

[2019-11-05 20:39] djmitche commented on #1245
Have at it!

[2019-11-05 21:00] ajinkabeer commented on #1245
Oh, thank you!!. I managed to retrieve the access token. Are there any specific API's which I can call using this access token?
@djmitche

[2019-11-05 21:21] Jo-IE commented on #1061
Hi @djmitche sorry for not getting back to you sooner but here is my progress so far:

I understand that I am to make a `verbose -v` flag for the `version` command that directs output to stderr when present or null otherwise and this should be implemented using the `log` library.

I am guessing we will be using the `output` function from the `log` library `log.Output(calldepth, string)` to impleme

[2019-11-05 21:21] #1895 closed

[2019-11-05 21:23] helfi92 commented on #1875
@aryamanpuri I see that you opened a pull request then closed it. Let me know when you want me to review a pull-request.

[2019-11-05 21:47] djmitche commented on #1245
I think you'll want `auth.createClient`, and create a client named `project/taskcluster/smoketest/${randomId}`.  If you set deleteOnExpiration and make expires an hour in the future, then there will be no need for cleanup.

[2019-11-05 22:01] djmitche commented on #1061
I think we want this option for *all* commands, not just `version`.  Logging for the `version` command isn't that interesting!  Maybe a better example is the `taskcluster group cancel` command?

I think this will involve a few things:

1. setting up a [Logger](https://golang.org/pkg/log/#Logger) that is available for every command
1. configuring that logger (via `l.SetOutput`) based on whether `--

[2019-11-05 22:16] helfi92 commented on #1900
Looks like "Reason Resolved" is mainly useful when the task state is an exception to help users understand the reason. I'm unsure, however, whether "Reason Created" is something users look at often when inspecting a task.

Here's what I would like to propose, but feel free to disagree:

<img width="1442" alt="Screen Shot 2019-11-05 at 5 04 08 PM" src="https://user-images.githubusercontent.com/3766

[2019-11-05 23:08] vishakhanihore commented on #1884
Cool!

On Tue, 5 Nov, 2019, 22:27 Brian Stack, <notifications@github.com> wrote:

[2019-11-05 23:09] SimonSapin opened #1903 "Log files are not scrollable horizontally on mobile"
**Describe the bug**

The end of long lines in log files is impossible to see in a mobile browser.

**To Reproduce**

Steps to reproduce the behavior:

1. In Firefox for Android (or Chrome Android, or Firefox Preview, or Firefox Focus), navigate to https://community-tc.services.mozilla.com/tasks/VUtnBHlyTNuvCUBupdiaeA/runs/0/logs/https%3A%2F%2Fcommunity-tc.services.mozilla.com%2Fapi%2Fqueue%2Fv1%2

[2019-11-05 23:14] SimonSapin opened #1904 "URLs of log viewing pages are large and redundant"
**Describe the bug**

It would be nice if those URLs would be shorter

**To Reproduce**

Steps to reproduce the behavior:

1. Go to https://community-tc.services.mozilla.com/tasks/VUtnBHlyTNuvCUBupdiaeA/runs/0
2. Click on "View live log"
3. See that the browser’s URL bar now contains https://community-tc.services.mozilla.com/tasks/VUtnBHlyTNuvCUBupdiaeA/runs/0/logs/https%3A%2F%2Fcommunity-tc.servi

[2019-11-06 02:03] ajinkabeer commented on #1245
Fantasic. Can you take a look at #1905 please?
@djmitche

[2019-11-06 07:25] lissyx opened #1906 "[UI] Using same color for pending and unscheduled is misleading"
Two different states should not be represented with the same color. I'm not good at color picking, but grey for unscheduled seems okay. Could we get another color for pending?

[2019-11-06 08:43] lissyx opened #1908 "[UI] long enough title makes it hard to see the status on mobile"
![Screenshot_20191106-094249](https://user-images.githubusercontent.com/1645737/68294758-35bc1d00-0091-11ea-9d76-4cbc48e57bdc.png)

As you can see, one has to constantly scroll to see status.

At first, it might be good if we could avoid wasting so much space on sides, especially on mobile. The "link" item also wastes space on the same direction.

[2019-11-06 10:49] lissyx commented on #1892
When will this get deployed ? I really need it right now ...

[2019-11-06 12:37] helfi92 commented on #1875
@aryamanpuri How is it going? :-)

[2019-11-06 12:37] lissyx opened #1909 "[UI] Log display page title and header should include task name"
**Describe the bug**
There is no reminder of the task name being inspected when displaying a log page.

**To Reproduce**

Steps to reproduce the behavior:

1. Go to a task
2. Click on log artifact

**Expected behavior**
I should not have to go back and forth just to remember **what** log I am viewing

[2019-11-06 13:15] kellim commented on #1909
@helfi92 can I work on this one please?
And would this be an example of a page with the issue?
https://taskcluster-ui.herokuapp.com/tasks/Hp78eA-4RxWoDir4i8CDFA/runs/0/logs/https%3A%2F%2Fqueue.taskcluster.net%2Fv1%2Ftask%2FHp78eA-4RxWoDir4i8CDFA%2Fruns%2F0%2Fartifacts%2Fpublic%2Fchain-of-trust.json

[2019-11-06 13:17] helfi92 commented on #1909
Yep!

[2019-11-06 13:29] lissyx commented on #1895
@helfi92 It's still not working. Does this requires a new release of `taskcluster-cli` ? New deployment of the web app ?

[2019-11-06 13:31] helfi92 commented on #1875
@aryamanpuri I guess I can create a pull-request from my earlier comment https://github.com/taskcluster/taskcluster/issues/1875#issuecomment-549806424.

[2019-11-06 13:44] helfi92 commented on #1895
It requires a new deployment of the web app.

[2019-11-06 13:53] helfi92 opened #1911 "[UI] Add a default variant to our button component"

[2019-11-06 13:55] #1875 closed

[2019-11-06 13:56] helfi92 commented on #1892
It will be deployed on the next deployment.

@djmitche Any chance we could deploy today?

[2019-11-06 13:58] helfi92 commented on #1906
Sounds good to me.

[2019-11-06 14:04] helfi92 commented on #1908
Agreed. We should definitely improve the experience. Since we only have two columns, we could allocate up to 50% of the screen width to each column.

[2019-11-06 14:13] km-js commented on #1906
Should I try this??

[2019-11-06 14:21] djmitche commented on #1900
It's better, but I'm not sure why that's buried at the bottom?  It feels like

"Hey, your task failed

The weather is nice today

How about those Bills?  Did you see the game?

I was thinking of heading around the corner for lunch, you want to come?

Oh, the reason your task failed is .."

[2019-11-06 14:30] helfi92 commented on #1900
Haha

I just thought Having "Resolved" then "Reason Resolved" sat nicely. We can definitely put it higher, perhaps after "Artifacts".

@vishakhanihore were you interested in tackling this issue?

[2019-11-06 15:50] rbrishabh commented on #1889
https://github.com/mui-org/material-ui/issues/18210

[2019-11-06 18:41] vishakhanihore commented on #1900
Yes!

On Wed, 6 Nov, 2019, 20:00 Hassan Ali, <notifications@github.com> wrote:

[2019-11-06 19:02] naima-shaikh commented on #1881
@helfi92   I started looking into the issue and saw we have this logic "const pageTitle = disableTitleFormatting ? title : makeTitle(title);" and when we take the title "test-linux64/debug-mochitest-e10s-15" and format it, it converts to "Test Linux64 Debug Mochitest E10s 15". My question is should I not format the Task title in the header or update the formatting so it more closely relates to the

[2019-11-06 19:19] helfi92 commented on #1881
Correct. We should not format the task title and instead use the  `disableTitleFormatting` prop.

[2019-11-06 22:00] naima-shaikh commented on #1903
@SimonSapin  May i take this one please ?

[2019-11-07 02:31] ajinkabeer commented on #1246
I think we can close this issue, right?

@helfi92 @djmitche

[2019-11-07 13:13] djmitche commented on #1246
Yes, thanks!

[2019-11-07 13:13] #1246 closed

[2019-11-07 14:45] helfi92 opened #1919 "[UI] Add a status banner component"
We would like to be able to have a status bar where we can inform users with things like "Taskcluster will be down for maintenance on 11/9" in the UI.

[2019-11-07 16:29] #1919 closed

[2019-11-07 16:40] kellim commented on #1908
@helfi92 Can I work on this one please?

[2019-11-07 17:41] naima-shaikh commented on #1904
@SimonSapin  May i get this issue ?

[2019-11-07 17:57] djmitche commented on #1904
Simon just filed the issue, and doesn't control who works on it :)

That said, please do have a look!

[2019-11-07 19:49] naima-shaikh commented on #1904
@djmitche  Oh sorry i forget about it . And thanks for assigning it to me :)

[2019-11-08 13:40] reuben commented on #564
Isn't this making things more complicated than they have to be? TaskCluster doesn't have to know about any subtleties, just let the user choose. My idea is: let the user select several tasks in the group view, then trigger actions that exist on all the selected tasks. The rerun/retrigger/cancel buttons already exist without me having to define any custom actions, I just want some UI to trigger the

[2019-11-09 07:03] vishakhanihore commented on #1900
That was savage 😆

[2019-11-09 07:43] vishakhanihore commented on #1823
Hey @Shubhamchinda How is it going, Feel free to ping if you need help 😄

[2019-11-09 08:42] vishakhanihore opened #1933 "[docs]: Discrepancies in Heading Title for Docs ."
**Describe the bug**

Currently, Some of the documentation pages have `Heading Title` and some don't have which makes their UI look uglier.

**For Example**

**Workers** has a heading
<img width="1020" alt="Screenshot 2019-11-09 at 2 11 32 PM" src="https://user-images.githubusercontent.com/54327666/68525747-e5e08e80-02fa-11ea-8878-705d97682fc4.png">
**Queue** doesn't have any
<img width="1068" alt

[2019-11-09 08:43] vishakhanihore commented on #1933
@djmitche @helfi92 Does this seems legit ?

[2019-11-09 11:49] vishakhanihore opened #1934 "[UI]: GitHub Quickstart is not mobile friendly"
**Describe the bug**

Fields and Descriptions in GitHub Quickstart is not responsiveness.

**To Reproduce**

Steps to reproduce the behaviour:

1. Go to 'http://127.0.0.1:5080/quickstart'
2. Choose <iPhone 8 device
3. See error

**Expected behaviour**

Make the page responsive for all the mobile device.

**Screenshots**

<img width="376" alt="Screenshot 2019-11-09 at 5 16 51 PM" src="https://user-

[2019-11-09 11:49] vishakhanihore commented on #1934
@helfi92 @djmitche May I get assigned 😄 ?

[2019-11-09 12:00] SimonSapin opened #1935 "Double <iframe> nesting on interactive SSH page"
**Describe the bug**

Pages whose URL start with https://community-tc.services.mozilla.com/shell/ show the usual bar at the top with a hamburger menu, page title, theme toggle, docs link, and auth menu. As expected so far.

The body of the page is an `<iframe>` element. In that iframe is another HTML document that contains the same top bar *again*, and another `<iframe>` element. Only that second,

[2019-11-09 12:59] vishakhanihore commented on #1935
Duplicate of https://github.com/taskcluster/taskcluster/issues/217

[2019-11-09 13:00] vishakhanihore commented on #1935
Also, refer to https://github.com/taskcluster/taskcluster/issues/217#issuecomment-548300388

Following is a bug in `chromium's/h-term`.

[2019-11-09 14:27] SimonSapin commented on #1935
Thanks! Closing in favor of #217.

[2019-11-09 14:27] #1935 closed

[2019-11-09 17:37] helfi92 commented on #1934
This view is being revamped in https://github.com/taskcluster/taskcluster/pull/1449.

We can probably just rename the placeholders to "Org Name" and "Repo Name". Feel free to send a PR :)

The description field is a text area component that takes allows multiple lines as input. The space is expected.

[2019-11-09 17:40] helfi92 commented on #1933
If a page contains a subheader (i.e., h2, h3, h4, h5, h6), then it needs an `<h1>` header at the top. If a page contains no headers, that's fine since the app bar will contain the title of the page. That being said, I think the current representation seems okay to me.

[2019-11-09 20:55] imbstack opened #1936 "Errors from hooks creation are hard to read"
**Describe the bug**
If a scopes error causes a hook to not fire, the error display is hard to read.

**To Reproduce**

Steps to reproduce the behavior:

1. Go to https://firefox-ci-tc.services.mozilla.com/hooks/project-relman/code-coverage-cron-production
2. Click on the "i" under "Fire Status" for `UTdd8xNrSC-7Ouams4fRHQ`
3. See that it is hard to read the error

**Expected behavior**
This is a

[2019-11-09 20:59] Archaeopteryx opened #1937 "link to worker from task details links to lists of workers for worker pool because url misses worker pool id"
1. Go to Treeherder https://treeherder.mozilla.org/#/jobs?repo=mozilla-central&resultStatus=success%2Ctestfailed%2Cbusted%2Cexception&classifiedState=unclassified&searchStr=windows%2Cbuild
2. Click on a running or finished task.
3. At the bottom left, click on the task id link next to `Task`.
4. On the right, click on "More...".
5. Click on the "Worker ID".
Expected result: Lists of tasks machine

[2019-11-09 21:50] djmitche commented on #1900
I was going for "funny" not "savage" :)

[2019-11-09 21:51] djmitche commented on #1936
This won't be a UI fix -- the service should be better about what it puts in that field.

[2019-11-09 23:00] vishakhanihore commented on #1934
Or we can placeholders inline in mobile view?

On Sat, 9 Nov, 2019, 23:07 Hassan Ali, <notifications@github.com> wrote:

[2019-11-09 23:31] helfi92 commented on #1934
There's a third icon that has a relationship with both inputs. We would need to always have it beside those two inputs.

If we put them inline, then the icon would need on the right centered between the two inputs. Changing the repo placeholder on the other hand makes more sense to me since that doesn't add any code complexity.

[2019-11-10 00:57] djmitche commented on #1937
This looks like a bug in URL generation in treeherder (the `aws` is the workerGroup).

[2019-11-10 00:59] djmitche commented on #1937
302'd to a treeherder issue

[2019-11-10 01:01] #1937 closed

[2019-11-10 01:01] djmitche commented on #1937
Sorry, this is totally valid!  I misunderstood the STR.

That link needs a `${workerGroup}` in it.

[2019-11-10 01:04] djmitche commented on #217
Thanks, I've adjusted the labels as you suggested.

[2019-11-10 02:43] vishakhanihore commented on #1933
Perfect!

[2019-11-10 02:43] #1933 closed

[2019-11-10 02:59] vishakhanihore commented on #1819
Hello @PaliwalArpit, how is it going, feel free to ask for any help 😄 .

[2019-11-10 11:31] ajinkabeer commented on #1245
I think we can close this issue, right @djmitche ?

[2019-11-10 15:32] djmitche commented on #1245
Yes, thanks for the reminder :)

[2019-11-10 15:32] #1245 closed

[2019-11-10 18:20] naima-shaikh commented on #1936
@helfi92  May i take this one ?

[2019-11-11 07:48] lailahgrant commented on #1772
Sir,I have been going through the <#1729> and it is really the most knowledgeable issue I have so far gone through and maybe about the feedback on issue <#1772>.

If it is okay with you, I would like to get an issue or you could refer a task to keep me busy.

*Thanks sir*

[2019-11-11 09:01] Archaeopteryx opened #1945 "Allow to copy worker id from task page"
Currently the worker ID cannot be selected (and copied) from a task page like e.g. https://firefox-ci-tc.services.mozilla.com/tasks/Dw2UN8mfTwOwW1Dsv89Q7A

I frequently need it for SQL queries and work around that by inspecting the element and copying the test from the developer tools's inspector.

Please either allow to select the worker id text or add a button to copy it.

[2019-11-11 13:13] helfi92 commented on #1945
I am able to select the worker id text:

![Screen Shot 2019-11-11 at 8 12 01 AM](https://user-images.githubusercontent.com/3766511/68589818-f4de5280-045a-11ea-9bfb-10c49dabdc13.png)

One trick that helps me copy text in a button is to start the text selection outside the button.

[2019-11-11 16:24] Rolikasi opened #1946 "Update dev-docs"
`export TASKCLUSTER_ROOT_URL=https://taskcluster.net` not working

`community-tc.services.mozilla.com`
and
`firefox-ci-tc.services.mozilla.com`
are new deployments now

[2019-11-11 17:10] #1946 closed

[2019-11-11 17:33] djmitche opened #1948 "[UI] expand a hook's scopes in the hook editor"
It would be helpful to see the scopes with which a hook runs right in the hook view.

A hook's scopes are the expansion of `['assume:hook-id:<hookGroupId>/<hookId>']`.

Since these are expanded, they're not editable -- instead, let's include some explanatory text such as

[2019-11-11 17:38] naima-shk commented on #1904
@helfi92  @djmitche @SimonSapin
[code]
Is the goal of this issue to remove/format the logUrl at the end of the TaskLog route to make it easier to read and if so, how it will we make it unique for each logUrl? Sorry, I'm not familiar with the specifics for each route parameter.

[2019-11-11 18:03] bluemarvin opened #1949 "Provide a link to the build artifacts in taskcluster community web pages."
**Describe the bug**

The the previous version of taskcluster, it was possible to get a link to a page listing the build artifacts. However, after being moved to community taskcluster, the new web pages no longer provide a way to get a direct link to the build artifacts. I now have to provide a link to the task run page and provide instructions to click the little arrow to show the artifacts.

**T

[2019-11-11 20:45] SimonSapin commented on #1904
Instead of a full `:logUrl`, could we have a (relative) `:artifactFilename`? Since a task ID and a run ID are also provided separately, that should be enough to find a unique log file.

[2019-11-11 21:51] nthomas-mozilla opened #1951 "Worker quarantine time not displayed properly"
I quarantined a worker until 3019 but the UI shows "Quarantine until 11"

**To Reproduce**

1. Go to the [mac-v3-signing8 worker page](https://firefox-ci-tc.services.mozilla.com/provisioners/scriptworker-prov-v1/worker-types/signing-mac-v1/workers/signing-mac-v1/mac-v3-signing8)
2. Look at the Quarantine Until value

Alternatively, find a worker to quarantine and accept the default value of now +

[2019-11-12 00:48] djmitche opened #1952 "[UI] Add "cancel" button to task view"
**Describe the bug**
The Task view, e.g., https://community-tc.services.mozilla.com/tasks/BnTeGj9BRxymQP70fZgBjQ, should have a "Cancel" button in the spinner-thing in the lower right corner.

**To Reproduce**

Steps to reproduce the behavior:

1. Go to https://community-tc.services.mozilla.com/tasks/BnTeGj9BRxymQP70fZgBjQ
1. Hover over the vertical-dot thing in the lower right

**Expected behavio

[2019-11-12 13:16] helfi92 commented on #217
I may have an idea :)

When a user clicks on a log, we can stop showing the menu and instead just render the log full screen.

[2019-11-12 13:43] aryamanpuri commented on #1952
@djmitche  This bug is fixed in  #1910  by @helfi92 .

[2019-11-12 13:50] aryamanpuri commented on #1945
@helfi92 But that is not an ideal way I guess .

[2019-11-12 14:33] lissyx commented on #1952
It's marked as fixed, but there is still no button. Was there no deployment since ?

[2019-11-12 14:36] helfi92 opened #1953 "[UI] Rename Purge Cache to Purge Caches"
**To Reproduce**

Steps to reproduce the behavior:

1. Go to http://localhost:5080/
2. Open the menu drawer

![Screen Shot 2019-11-12 at 9 33 46 AM](https://user-images.githubusercontent.com/3766511/68680411-9e8f1380-052f-11ea-8ef8-24cfa4ddccf0.png)

**Actual behavior**

Clicking on Purge Cache takes the user to /purge-caches

**Expected behavior**
"Purge Cache" should be renamed to "Purge Caches"

[2019-11-12 14:36] helfi92 commented on #1772
Assigned you to https://github.com/taskcluster/taskcluster/issues/1953 :)

[2019-11-12 15:11] helfi92 commented on #1949
Good idea. Clicking on "Artifacts" could add a hash to the url (e.g., https://community-tc.services.mozilla.com/tasks/QW3amtG3SkK3Tp5lBSq_tg#artifacts) and then clicking again (to close the panel) can remove it.

[2019-11-12 15:17] helfi92 commented on #1904
Yes, that's definitely possible. It would add an extra request but I think that's okay. @naima-shk Let me know if you had questions.

[2019-11-12 15:35] lissyx opened #1955 "[UI] Graph completion time"
It would be nice if there was some way to have access to the completion time of the task graph. That would mean:
 - time it took from running the first task to completing the last one
 - only account for execution time, not pending time
 - have some way to access that over time and/or split by any means, so we can know what's the trend (e.g., build time/ test time on a specific operating system).

[2019-11-12 15:45] #1951 closed

[2019-11-12 16:02] djmitche commented on #1952
Looks like it's in 22.1.0, which is not yet deployed on community.  I'll get on that today.

[2019-11-12 16:04] djmitche commented on #1952
https://bugzilla.mozilla.org/show_bug.cgi?id=1595809

[2019-11-12 16:04] #1952 closed

[2019-11-12 18:16] naima-shk commented on #1904
@helfi92  After debugging more I see there is function to generate url that redirects to the logs called [getArtifactUrl](https://github.com/taskcluster/taskcluster/blob/bee9a224fd150ce320966b2d7001214b43c3c11a/ui/src/components/TaskRunsCard/index.jsx#L153). I change the route to use `:artifactFileName` but when we get url we are taking log url and encoding it using `encodeURIComponent` and attach

[2019-11-12 22:34] #1554 closed

[2019-11-12 22:46] reuben opened #1960 "[UI] Show task actions while viewing live log"
Would be nice to be able to trigger task actions (e.g. re-run) while viewing the live log, without having to go back to the task viewer first.

[2019-11-12 23:58] helfi92 opened #1961 "[UI] Form "save" button"
In the old UI, whenever a user wanted to edit a form, they had to click "Edit" first, perform their change, then click "Save". Clicking on "Edit" made it clear that they had to click on "Save" to finish the transaction.

In the new UI, the edit/view/create modes are done in a single view. In order to inform users to not forget to save their changes, we presently animate the save button whenever th

[2019-11-13 01:24] worldomonation opened #1962 "Insufficient scope modal is not scrollable"
**Describe the bug**

Insufficient scope modal that appears when user attempts to execute an action that they do not have permission for is not scrollable.

**To Reproduce**

Steps to reproduce the behavior:

1. Authenticate as a user with minimal scope.
2. Shrink the browser window such that browser window height is a small but usable number.
3. Search for Task ID RiKSwl_jTc26ldcyeSIMQQ
4. Using

[2019-11-13 01:24] worldomonation commented on #1962
![Screen Shot 2019-11-12 at 17 19 10](https://user-images.githubusercontent.com/6549265/68724787-542e8680-0571-11ea-9ff6-5215bdb50d8f.png)

[2019-11-13 01:41] mmbis commented on #1961
Hey, can I help out with this?

[2019-11-13 01:49] helfi92 commented on #1961
Go for it.

[2019-11-13 04:23] vishakhanihore commented on #217
Are you suggesting to redirect to shell rather than showing our hamburger
menu and navbar?

On Tue, 12 Nov, 2019, 18:46 Hassan Ali, <notifications@github.com> wrote:

[2019-11-13 06:13] naima-shk commented on #1960
@helfi92  Can i try this one please ?

[2019-11-13 06:22] lailahgrant commented on #1953
Thanks Sir, I modified  ``` ui/src/components/Dashboard/SidebarList.jsx```  to
[code]

[2019-11-13 06:25] lailahgrant commented on #1953
I have made a pull request @helfi92 ..

[2019-11-13 10:27] lissyx commented on #1952
Thanks @djmitche, now we have it \o/

[2019-11-13 11:42] vishakhanihore commented on #1949
Can I @helfi92 ?

[2019-11-13 13:41] helfi92 commented on #217
Correct.

[2019-11-13 13:43] helfi92 commented on #1953
Where is it? I don't see it in https://github.com/taskcluster/taskcluster/pulls

[2019-11-13 13:46] helfi92 commented on #1949
@vishakhanihore Perhaps after https://github.com/taskcluster/taskcluster/issues/1389, https://github.com/taskcluster/taskcluster/pull/1932, https://github.com/taskcluster/taskcluster/pull/1845 are done?

[2019-11-13 14:16] srfraser opened #1963 "[client-shell] Making it easier to update taskcluster cli client"
Updating the `taskcluster` cli binary is currently a manual process, as is checking for updates. Adding a package to apt/homebrew/etc seems like overkill.  Perhaps it would be useful if there was an `update` sub-command that either:

1. Reported on whether a new version was available, displaying the download url for copy/paste
or
2. Downloaded the new version and copied it in place, if the install

[2019-11-13 14:32] helfi92 commented on #1962
I can replicate. Thanks for bringing this up!

[2019-11-13 14:45] lailahgrant commented on #1953
sorry sir, have you seen it??
seems I had forgotten something.

[2019-11-13 15:03] #1962 closed

[2019-11-13 15:03] helfi92 commented on #1962
Should be fixed in the next deployment.

[2019-11-13 18:44] naima-shk commented on #1904
@helfi92 After debugging more I see there is function to generate url that redirects to the logs called getArtifactUrl. I change the route to use :artifactFileName but when we get url we are taking log url and encoding it using encodeURIComponent and attaching to end of url. My question is what part of this.getCurrentRun() data object do we use to replace encoded url? I don't see artifactFileName

[2019-11-13 20:18] km-js commented on #1949
Should I try this one?

[2019-11-13 20:27] naima-shk commented on #1960
This seems more like new feature or enhancement than a bug.

[2019-11-13 20:29] reuben commented on #1960
Yes, sorry, I used the bug template because I missed the option to file a blank issue. I can't take the bug label out though.

[2019-11-13 20:43] naima-shk commented on #1960
@reuben  No problem . It would be great  if you provide more details about the implementation of new feature or enhancement? :)

[2019-11-13 20:45] reuben commented on #1960
Here's an example of a task: https://community-tc.services.mozilla.com/tasks/co7YayJNRMOD98mziRYDHQ

When I click to view the live log: https://community-tc.services.mozilla.com/tasks/co7YayJNRMOD98mziRYDHQ/runs/0/logs/https%3A%2F%2Fcommunity-tc.services.mozilla.com%2Fapi%2Fqueue%2Fv1%2Ftask%2Fco7YayJNRMOD98mziRYDHQ%2Fruns%2F0%2Fartifacts%2Fpublic%2Flogs%2Flive.log

In the buttons on the bottom ri

[2019-11-13 23:37] helfi92 opened #1968 "[UI] search in log view"
STR:

1. Navigate to https://firefox-ci-tc.services.mozilla.com/tasks/bGO6bNT0RV6ztQn6mE66xQ/runs/0/logs/https%3A%2F%2Ffirefox-ci-tc.services.mozilla.com%2Fapi%2Fqueue%2Fv1%2Ftask%2FbGO6bNT0RV6ztQn6mE66xQ%2Fruns%2F0%2Fartifacts%2Fpublic%2Flogs%2Flive.log

Tasks:
* Add a search input to the app bar similar to https://firefox-ci-tc.services.mozilla.com/tasks/bGO6bNT0RV6ztQn6mE66xQ/runs/0

<img width

[2019-11-14 00:24] Shavindra commented on #1968
@helfi92 just to be absolutely clear the search bar should be at the very top on the left hand of the light bulb?

i am happy to pick this up

[2019-11-14 00:54] helfi92 commented on #1968
Yep, that’s correct. Go for it :)

[2019-11-14 08:59] SimonSapin commented on #1904
Oh and also (sorry I didn’t mention this earlier), I think it’s important that existing URLs keep working. Maybe add a new route (with `/log/` instead of `/logs/` or something) instead of modifying the existing one?

[2019-11-14 10:02] Shavindra commented on #1968
@helfi92 Great :) I made a fork. but can't assign it to me though.

[2019-11-14 10:10] Archaeopteryx commented on #1890
See also https://bugzilla.mozilla.org/show_bug.cgi?id=1515758

[2019-11-14 12:44] helfi92 commented on #1968
That's fine for now.

[2019-11-14 14:21] SimonSapin opened #1972 "Workers list view is unusable for cloud worker pools"
**Describe the bug**

The worker list view such as https://community-tc.services.mozilla.com/provisioners/proj-servo/worker-types/docker is not useful for pools managed by worker-manager.

**To Reproduce**

Steps to reproduce the behavior:

1. Go to https://community-tc.services.mozilla.com/provisioners/proj-servo/worker-types/docker. This pool has short-lived workers started on demand by worker-m

[2019-11-14 14:35] helfi92 commented on #1972
https://github.com/taskcluster/taskcluster/pull/1973 will increase the page size from ~15 to up to 1000. This should show all entries in the same page.

Show at least an estimate of the total number of entries

[2019-11-14 15:03] SimonSapin commented on #1972
#1973 will improve the situation, thanks.

Are stopped workers removed entirely from that list at some point? How long does that usually take?

[2019-11-14 16:14] #1881 closed

[2019-11-14 16:23] Rolikasi commented on #1389
@vishakhanihore, hi) How is it going? Do you need help?

[2019-11-14 16:35] vishakhanihore commented on #1389
Hey Edil, thanks for asking । I have done changes on my loca. Will push it
once I wrap up my old PRs🙂

On Thu, 14 Nov, 2019, 21:53 Edil, <notifications@github.com> wrote:

[2019-11-14 16:39] helfi92 commented on #895
I had to revert https://github.com/taskcluster/taskcluster/pull/1974#issue-341069514 :(

[2019-11-14 16:39] Rolikasi commented on #1960
It looks interesting!)
I can try to add new features

[2019-11-14 16:42] kushthedude commented on #895
@Rolikasi Can I help in the same ?

[2019-11-14 18:06] helfi92 commented on #1972
I don't think this view uses the worker-manager's listWorkersForWorkerPool API. Anything under `/provisioners` currently has the same stuff from the old site. A new Worker UI will be created in the near future. /cc @djmitche.

[2019-11-14 19:22] Rolikasi commented on #895
@kushthedude, yes) It would be great if you'll help me fix second issue in [#1974 (comment)](https://github.com/taskcluster/taskcluster/pull/1974#issuecomment-554037124)

[2019-11-14 21:22] #1972 closed

[2019-11-15 04:27] Callek opened #1986 "Hooks have limiting length"
https://github.com/taskcluster/taskcluster/blob/d740e32431941ce438de2060f3336272cb462bed/services/hooks/src/api.js#L16

I have a case where I was creating a hook as it would be defined if it was a `cron_target` for the android-components repo, and it was defined as `project-releng/cron-task-mozilla-mobile-android-components/geckoview-update-nightly`  [src](https://hg.mozilla.org/ci/ci-configuratio

[2019-11-15 09:30] aryamanpuri commented on #1968
@helfi92 Can I work on this  issue

[2019-11-15 12:03] lissyx opened #1987 "[UI] Add last worker claimTask date"
On https://community-tc.services.mozilla.com/provisioners/proj-deepspeech/worker-types/ds-macos-light for example, we only know about latest task claimed / executed.

Sometime, workers dies (`generic-worker` runs out of space, laptop unplugged, VM crashed) and we only know after some timeout (seems to be 24h) and the worker disappears from the list.

Having a new column showing date of last succes

[2019-11-15 12:12] naima-shk commented on #1987
It looks interesting !
can i try this one ?

[2019-11-15 12:31] helfi92 commented on #1968
I believe @Shavindra is working on the issue.

[2019-11-15 12:39] aryamanpuri commented on #1968
@helfi92 Not a problem, but I have done half of the work .
Should I stop working on that?

[2019-11-15 12:49] helfi92 commented on #1987
That makes sense to me. We could add a "Last Claim" column. I don't think we currently expose this data so it will have to be added in the queue service first before we can do any UI changes.

[2019-11-15 12:53] helfi92 commented on #1968
How is it going @Shavindra?

[2019-11-15 14:08] djmitche commented on #1986
Basically, we need a limit, and one that allows us to embed this value comfortably in other things like scopes, and to fit in URLs, etc.  The idea with 64 was that it's enough to avoid having to artificially shorten things, but without inviting whole paragraphs.

The hookId `cron-task-mozilla-mobile-android-components/geckoview-update-nightly` is startng to feel like a paragraph :)

But, I'm basic

[2019-11-15 15:21] djmitche opened #1988 "Retrigger removes too much stuff"
The built-in "retrigger" button strips TASK_ADDED_FIELDS *recursively*, meaning that if there's a `taskId` property anywhere in the task definition, it is removed.  Those should only be omitted at the top level.

[2019-11-15 16:10] vishakhanihore opened #1990 "[UI]: Complete Logs are not readable"
There is no x-scrolling in logs, which results in half rendered logs and errors. It makes difficult to understand what is the error.

#### Screenshot
<img width="1424" alt="Screenshot 2019-11-15 at 9 39 36 PM" src="https://user-images.githubusercontent.com/54327666/68957634-72ee8080-07f0-11ea-8c82-222091944b66.png">

[2019-11-15 16:11] vishakhanihore commented on #1990
@djmitche Can I be assigned ?

[2019-11-15 16:33] helfi92 commented on #1990
Do you have a link example where it doesn't work. https://firefox-ci-tc.services.mozilla.com/tasks/WzZiD99QRyqUhc9geCehYg/runs/0/logs/https%3A%2F%2Ffirefox-ci-tc.services.mozilla.com%2Fapi%2Fqueue%2Fv1%2Ftask%2FWzZiD99QRyqUhc9geCehYg%2Fruns%2F0%2Fartifacts%2Fpublic%2Flogs%2Flive.log works for me:

![Screen Shot 2019-11-15 at 11 32 47 AM](https://user-images.githubusercontent.com/3766511/68959291-b

[2019-11-15 16:36] vishakhanihore commented on #1990
I am using safari and I am not able to scroll in x direction if logs are
extending screen view, same applies for mobile view too.
Screen Browser: Safari
Mobile Broser : Chrome/Brave

On Fri, 15 Nov, 2019, 22:03 Hassan Ali, <notifications@github.com> wrote:

[2019-11-15 17:10] #1988 closed

[2019-11-15 17:37] Shavindra commented on #1968
@helfi92 yes I am working on it. Looking at it I've noticed that search bar is part of this `react-lazylog` And it doesn't have a prop to take `searchKeyword`.

`repo https://github.com/mozilla-frontend-infra/react-lazylog/blob/5bafa6a115af6c2efd51012152fc6c0a29569e6f/src/components/LazyLog/index.jsx#L36.`

I will need to open a PR for that too. Any issues with that?

[2019-11-15 18:14] vishakhanihore commented on #1990
@helfi92 @djmitche ?

[2019-11-15 18:45] vishakhanihore commented on #217
But not only there is dual rendering of nav bar and side menu, But the `h-term` is also rendering twice in the window .

[2019-11-15 18:51] helfi92 commented on #1968
No need to touch react-lazylog. The search in the log searches within a log but what we are trying to do is add an input to search to a completely different task. Clicking enter on that new search view should navigate the user to `/tasks/${taskId}` where the taskId is from the search input.

[2019-11-15 18:55] vishakhanihore opened #1993 "Any possibility of offering a CI Status badge for TaskCluster CI Integration"
Can we have a badge for our CI to get shown in ReadMe and with every commit?

@helfi92 @djmitche How does this sound to you ?

[2019-11-15 18:55] helfi92 commented on #1990
Works for me on Chrome and Safari but fails to work on mobile. Sure, you can take a look.

[2019-11-15 18:57] vishakhanihore commented on #1990
No it does fail on safari and chrome, just make sure you have a line in log
which is greater than screen width. you wont be able to scroll on right to
see the complete error.

On Sat, 16 Nov, 2019, 00:25 Hassan Ali, <notifications@github.com> wrote:

[2019-11-15 18:57] helfi92 commented on #217
Can you show me in the DOM where you see two renderings of h-term?

[2019-11-15 18:58] helfi92 commented on #1990
This is how it looks for me on Chrome:

![Screen Shot 2019-11-15 at 1 58 14 PM](https://user-images.githubusercontent.com/3766511/68968200-0358a100-07b0-11ea-8c39-22a6f6d98424.png)

[2019-11-15 19:05] vishakhanihore commented on #1990
On safari navigate to `https://community-tc.services.mozilla.com/tasks/DYFUu2q_Q6GLFLQ02MYnjw/runs/0/logs/https%3A%2F%2Fcommunity-tc.services.mozilla.com%2Fapi%2Fqueue%2Fv1%2Ftask%2FDYFUu2q_Q6GLFLQ02MYnjw%2Fruns%2F0%2Fartifacts%2Fpublic%2Flogs%2Flive.log`
Try to squeeze window a little bit and then see some logs which gets cut from the window are not scrollable, mean you cant scroll window in x-di

[2019-11-15 19:08] djmitche commented on #1993
We have one :)

https://docs.taskcluster.net/docs/reference/integrations/github/api#badge

[2019-11-15 19:08] #1993 closed

[2019-11-15 19:08] vishakhanihore commented on #217
when I resize the window, I see two screen widths on shell. Of which I guessed that the h-term is also getting double rendered

[2019-11-15 19:10] vishakhanihore commented on #1993
Why aren't we using in our ReadME ? 🤔

[2019-11-15 19:17] djmitche commented on #1993
It doesn't work very well with the Checks API, which Taskcluster uses.  When the Checks API is finished, we'll add it back.

[2019-11-15 20:22] helfi92 opened #1995 "[web-server] Rely on MemoryStore in local development"

[2019-11-15 20:40] rpappalax opened #1997 "Long URL in taskcluster log gets truncated horizontally in web UI"
**Describe the bug**

Our taskcluster logs for fenix jobs are being truncated horizontally in the web UI.  Most of us are experiencing this, but not everyone.

for example, at the very bottom of this log:  [](https://firefox-ci-tc.services.mozilla.com/tasks/U6o95fCJQWG5sUqVX6bwUw/runs/0/logs/https%3A%2F%2Ffirefox-ci-tc.services.mozilla.com%2Fapi%2Fqueue%2Fv1%2Ftask%2FU6o95fCJQWG5sUqVX6bwUw%2Fruns%

[2019-11-15 20:44] rpappalax commented on #1997
Also, I know we can still access this URL from the raw log by clicking on the 3dot menu in the lower right hand corner, however, the text for the 3 dot menu is extremely small and nearly illegible:

![image](https://user-images.githubusercontent.com/3699494/68974442-a0620c80-07a5-11ea-81a9-b387965f21d9.png)

[2019-11-15 20:48] helfi92 commented on #217
Oh, okay. When in doubt, you can open the developer tools and see if there are two h-terms.

[2019-11-15 20:55] helfi92 commented on #1997
I don't seem to have permissions to access both links. Any chance I could have access so I can understand the issue?

[2019-11-15 22:30] #1995 closed

[2019-11-16 06:28] vishakhanihore commented on #1819
Hello @PaliwalArpit, how is it going, feel free to ask for any help 😄 .

[2019-11-16 06:34] vishakhanihore commented on #1884
@owlishDeveloper ?

[2019-11-16 11:50] PaliwalArpit commented on #1819
@vishakhanihore Hey, I have received confirmation from @helfi92 about v10 version working fine. So please go-ahead to close this issue as we have another PR with v10 in place.
Thanks!

[2019-11-16 12:43] vishakhanihore commented on #1819
@helfi92 Are we already using v.10 in place ?

[2019-11-16 20:17] SimonSapin opened #2004 "Show task payload in YAML syntax?"
**Describe the bug**

The payload of taks is shown in the UI as JSON syntax, which is hard to read.

**To Reproduce**

Steps to reproduce the behavior:

1. Go to https://community-tc.services.mozilla.com/tasks/QBv-eQ6ERE-x67E5bZXT6Q
2. Click on Payload
3. See that the payload is shown in JSON syntax. Part of it is:

[code]

Because it is given in an single string literal, JSON syntax mandates that

[2019-11-16 20:52] djmitche commented on #2004
Ideally we'd be consistent everywhere, both in data-entry and in read-only displays, and allow a tabbed view, or some other way of indicating preference, between the two formats.

[2019-11-16 22:31] SimonSapin opened #2005 "Time duration are given with too little precision"
**Describe the bug**

Time durations in the UI are always given as an integer number of the largest possible unit, which is often not enough precision.

**To Reproduce**

Steps to reproduce the behavior:

1. Go to https://community-tc.services.mozilla.com/tasks/IpzWeA6ZSgairHSwGk3s3Q
2. Look under "Resolved"
3. See that this task was resolved "about 1 hour later" (after it was started)
4. Ponder w

[2019-11-17 07:09] SimonSapin commented on #2004
Consistency is good in general, though the payload in a task view is not quite the data entered on the create page (only part of it, and most tasks aren’t created manually).

I don’t know if I’d go all the way to an explicit switch. YAML is a superset of JSON, so entering JSON in editiable fields would still work. Are there cases where you’d want to copy-paste from a task’s payload into something

[2019-11-17 12:23] vishakhanihore opened #2007 "[UI]: Error messages have cancel icon which results in blank page"
**Describe the bug**

Error messages have cancel icon which results in blank page

**To Reproduce**

Steps to reproduce the behavior:

1. Visit https://community-tc.services.mozilla.com/secrets/project%2Ffirefoxreality%2Ffr%2Fsymbols-token
2. Click on `Cross Icon`
3. See the Blank Page
4. See error

**Expected behavior**

On the pages which have some error or lack of permission , error banner shou

[2019-11-17 12:24] vishakhanihore commented on #2007
@djmitche @helfi92 What are your views on the following?

[2019-11-18 09:16] rbrishabh commented on #1888
I apologize for the delay @helfi92 ! I will look into this today!

[2019-11-18 12:07] naima-shk commented on #1904
@helfi92 I am looking for your reply  since last  5  days on this comment  .

[2019-11-18 13:26] helfi92 commented on #2007
Sure, that makes sense.

[2019-11-18 15:04] vishakhanihore commented on #2007
Thanks.

On Mon, 18 Nov, 2019, 18:56 Hassan Ali, <notifications@github.com> wrote:

[2019-11-18 16:08] naima-shk commented on #1904
@helfi92  Can i get a reply please ?

[2019-11-18 16:34] helfi92 commented on #1904
The URL should have the log name. For example, navigating to https://community-tc.services.mozilla.com/tasks/VUtnBHlyTNuvCUBupdiaeA/runs/0 then clicking on "Artifacts" then on "public/logs/live.log" should navigate to https://community-tc.services.mozilla.com/tasks/VUtnBHlyTNuvCUBupdiaeA/runs/0/logs/public%2Flogs%2Flive.log

To have access to the log name:

![Screen Shot 2019-11-18 at 11 29 27 AM]

[2019-11-18 18:14] naima-shk commented on #1904
@helfi92  Thanks !

[2019-11-18 18:20] rpappalax commented on #1997
@helfi92 Sorry for the confusion.  Those links are posted at the end of the taskcluster log.  For [](example:  https://firefox-ci-tc.services.mozilla.com/tasks/U6o95fCJQWG5sUqVX6bwUw/runs/0/logs/https%3A%2F%2Ffirefox-ci-tc.services.mozilla.com%2Fapi%2Fqueue%2Fv1%2Ftask%2FU6o95fCJQWG5sUqVX6bwUw%2Fruns%2F0%2Fartifacts%2Fpublic%2Flogs%2Flive.log)
You actually don't need to click on the link to Fireba

[2019-11-18 18:50] #2005 closed

[2019-11-18 18:54] #1909 closed

[2019-11-18 19:08] #1911 closed

[2019-11-18 19:13] #1822 closed

[2019-11-18 19:40] #1421 closed

[2019-11-18 19:47] helfi92 commented on #1715
Resolved in https://github.com/taskcluster/taskcluster/commit/ebd4a7debb7490aa17f4d444abaac7023d05771c.

[2019-11-18 19:47] #1715 closed

[2019-11-18 19:51] #1754 closed

[2019-11-18 19:52] worldomonation opened #2018 "NetworkError when attempting to fetch resource when attempting to view logs for currently running task."
**Describe the bug**

**To Reproduce**

Steps to reproduce the behavior:

1. Schedule a task to be run on Try se/rver.
Once the task appears on Treeherder...
2. From Treeherder, click on the task to view the task details.
3. Click on the task ID to open in Taskcluster.
4. Under Task Run 0 > View Live Log, click on the chain icon

**Expected behavior**
5. Live log of currently executing task is sho

[2019-11-18 19:57] #1774 closed

[2019-11-18 19:59] djmitche commented on #2018
Can you link to the specific task?  This looks like a worker misconfiguration.

[2019-11-18 20:01] worldomonation commented on #2018
This happens on all sorts of tasks spread out over many different try pushes. You should be able to reproduce it with this one for now: https://firefox-ci-tc.services.mozilla.com/tasks/RA_2p7zyRFWvblX8AxjMLg

[2019-11-18 20:04] djmitche commented on #2018
I filed https://bugzilla.mozilla.org/show_bug.cgi?id=1597384 so hopefully we can stop seeing this bug :)

[2019-11-18 20:05] worldomonation commented on #2018
@djmitche Thanks, would you prefer to close this bug instead?

[2019-11-18 20:06] djmitche commented on #2018
https://bugzilla.mozilla.org/show_bug.cgi?id=1597386

Thanks :)

[2019-11-18 20:06] #2018 closed

[2019-11-18 20:17] #1558 closed

[2019-11-18 20:37] #1751 closed

[2019-11-18 20:51] #1658 closed

[2019-11-18 21:03] #1747 closed

[2019-11-18 21:08] helfi92 opened #2019 "[UI] Menu items appear lighter"
**Describe the bug**
After migrating to material-ui v4, menu items appear lighter.

![Screen Shot 2019-11-18 at 4 07 52 PM](https://user-images.githubusercontent.com/3766511/69094005-96e2d980-0a1d-11ea-9566-8f007b761568.png)

[2019-11-18 21:22] #1398 closed

[2019-11-18 21:28] helfi92 commented on #1961
How is it going @mmbis?

[2019-11-18 21:28] helfi92 commented on #1953
@lailahgrant Were you able to figure out what was missing?

[2019-11-18 21:29] #1945 closed

[2019-11-18 21:36] helfi92 commented on #1997
Ah, thanks for the clarification. This is how it looks for me:

![Screen Shot 2019-11-18 at 4 33 48 PM](https://user-images.githubusercontent.com/3766511/69095943-600ec280-0a21-11ea-908b-01a4f1bc50cf.png)

It looks like it works for me but not for you for some reason. What device are you using?

[2019-11-18 22:35] mmbis commented on #1961
Hey @helfi92, I was able to get the app setup with yarn and :link dependencies, but I'm not quite sure how to run the app locally.

[2019-11-19 00:49] djmitche opened #2021 "[UI] expanded scopes aren't updated when editing a client"
**Describe the bug**
When a client is saved, its expandedScopes should be updated.

**To Reproduce**

Steps to reproduce the behavior:

1. Create a client that assumes some role
2. Edit the client to not assume the role
3. Click save
4. See error

**Expected behavior**
expandedScopes updates

(I suspect the role editor has the same issue, but haven't verified)

[2019-11-19 06:22] lailahgrant commented on #1558
Good morning sir, I'm just so happy today :+1:
Thanks for the good mentoring... @helfi92

I like the word ```Merged```
it is really an honour

[2019-11-19 06:25] lailahgrant commented on #1953
@helfi92 , yes I did.

Actually this was about the pull request. but I went past that & now I hope my ```commits and  the rebase commands``` worked.. :sweat:

[2019-11-19 09:44] Rolikasi commented on #2019
Material-ui v4 removed color styles for MuiMenuItem
We can add it in overrides in theme.js, because we use MenuItem in several components

[2019-11-19 11:59] Rolikasi commented on #1960
@helfi92, do we need to add all buttons to Log view or only `cancel`, `rerun` and `retrigger`?

[2019-11-19 12:36] theprover97 commented on #2021
Hi @djmitche , I would like to contribute on this.

[2019-11-19 12:38] helfi92 commented on #1960
All :)

[2019-11-19 12:41] helfi92 commented on #1961
No need to link dependencies. Did you have a look at https://github.com/taskcluster/taskcluster/blob/master/dev-docs/development-process.md#hacking-on-the-ui by any chance?

[2019-11-19 12:50] helfi92 commented on #1558
Awesome work!

[2019-11-19 12:50] Rolikasi commented on #1960
All buttons are rendered in views/Tasks/ViewTask/index.jsx
Log is rendered in views/Tasks/TaskLog/index.jsx
We can make a new component with these buttons instead of duplicate them in log. Is it the right way?

[2019-11-19 12:54] helfi92 commented on #1960
💯

[2019-11-19 13:19] djmitche commented on #2021
Go ahead!

[2019-11-19 14:03] lailahgrant commented on #1558
:smile:  :simple_smile:

[2019-11-19 14:36] #2019 closed

[2019-11-19 14:41] #1908 closed

[2019-11-19 14:48] helfi92 commented on #1750
Done in https://github.com/taskcluster/taskcluster/commit/f51b9b0c762cff536aa1eee901c3aaec20336b3f.

[2019-11-19 14:48] #1750 closed

[2019-11-19 14:48] helfi92 commented on #1685
Resolved in https://github.com/taskcluster/taskcluster/commit/1cdc517bd9948bf86c893ad4346715bfed2929d5.

[2019-11-19 14:48] #1685 closed

[2019-11-19 14:55] helfi92 commented on #1539
How is it going @JiwoonKim? :-)

[2019-11-19 14:56] helfi92 commented on #1878
How is it going @ededals? :-)

[2019-11-19 14:57] helfi92 commented on #1823
Are you still working on this @Shubhamchinda?

[2019-11-19 14:58] helfi92 commented on #1772
Resolved in https://github.com/taskcluster/taskcluster/commit/084648878d0c7ddff97eacc9e78b397d06745141.

[2019-11-19 14:58] #1772 closed

[2019-11-19 15:13] #1455 closed

[2019-11-19 15:16] helfi92 commented on #895
This is finally done. A big thank you for everyone who was involved in this! 😍

[2019-11-19 15:16] #895 closed

[2019-11-19 16:27] tomprince opened #2031 "[UI] Expiry times only include date."
Various place in the UI only display dates, where the underlying value also includes times.

The place I've most noticed this is the client page; I usually use CLI clients with expiry <1h, so the lack of being able to see the current expiry time, and adjust it is impactful. I've also noticed that secrets only show the dates There may be other place in the UI that display dates as well.