[2022-04-04 10:40] Eijebong opened #5336 "Sharing a log link with a line anchor doesn't work anymore"
I'm guessing that https://github.com/taskcluster/taskcluster/pull/5283 broke it since you end up at the bottom of the log even when there's a line anchor in the URL.

To reproduce:

- Find a long log from a task
- Click on a line number in the middle of the log. Get teleported back up (that's also the wrong behavior)
- Copy the URL, paste it into a new tab, get teleported at the bottom

[2022-04-04 20:27] davehouse commented on #4942
I think the most valuable metric is how many workers are actively running tasks (and not running "ready" but running a task currently). "ready" is interesting to see if workers are neglecting or failing to pull tasks from the queue, but not necessary. The "requested" is interesting to see if a pool is being scaled_up, or "stopping" for scaling_down.
The primary user for any metrics on pools is the

[2022-04-05 20:00] aerickson commented on #4942
The plan sounds good.

Will the workerManager API be able to provide data on static pools (we still have quite a few of those)?

[2022-04-06 09:14] Archaeopteryx commented on #4942
Sheriffs investigate delays in scheduled but not yet running tasks with the [taskcluster worker pool list](https://firefox-ci-tc.services.mozilla.com/worker-manager) (hardware pool on different page) and the [Grafana](https://earthangel-b40313e5.influxcloud.net/d/slXwf4emz/workers?orgId=1&refresh=5m) worker page.

* worker pool not at max capacity? Checking error messages of provisioner.
* worker

[2022-04-06 14:33] lotas opened #5342 "Create worker manager diagrams: sequence of calls"

[2022-04-06 18:21] matt-boris commented on #4942
@Archaeopteryx which of the new counts/capacity metrics would you like to see displayed in that worker pool list as additional columns?

The initial issue mentions adding running capacity as another column. Would love your thoughts here as well, knowing we'll have worker counts in {requested, running, stopping, stopped} states as well as worker capacities in those same states.

I want to also be s

[2022-04-06 18:36] davehouse commented on #4942
Can we add a state for actively running a task? Maybe I'm misunderstanding--My impression is that the "running" state in the PR is that the worker is "running" but it is unknown if it is idle or active. That active/idle state (and count) is something I think we're often looking for. We currently count this by iterating over workers in a pool and checking the last task state.

[2022-04-06 19:14] Archaeopteryx commented on #4942
Code sheriffs looks how many workers are in the pool, then checks if they are active (= run a task). Having a column which displays this count is the most interesting feature for us because the debugging of workers stuck in other states is done by other teams (which are interested in those other states, @davehouse already provided very good insight).

The 2 new columns we are interested in:
* runn

[2022-04-06 22:49] djmitche commented on #4942
There were plans to create a kind of "unified" worker view that contains both data from the queue (last time it tried to (re)claim a task, number of current tasks, last task) and data from the worker manager (worker state, last time it renewed its credentials).  Together, these can provide quite a bit of information about a specific worker (for example, if a worker is renewing with worker-manager

[2022-04-06 23:19] davehouse commented on #4942
+1 there is an overlap, but "how many workers are active?" and "how many tasks are currently being executed?" aren't always the same.
So these could be separated:
counting active tasks for a queue
count of workers that are active

we(relops) also monitor which workers are active, but that may not be needed for sheriffs

[2022-04-07 11:42] petemoore opened #5344 "Worker Manager should publish pulse message when worker is registered"
Currently Worker Manager only publishes pulse messages when Worker Pool definitions are created or modified (not sure if deletions are also published?).

Ideally pulse messages would be published too for Worker state changes (e.g. worker spawned, worker claimed its credentials).

It could even be possible to have a service listening to these events and combining them with queue events to track all

[2022-04-07 17:35] lotas commented on #4987
Before merging scanner and provisioner into a single process, I would like to experiment in splitting azure scanner from the rest.
Idea would be to have existing `workerScanner` doing loops for everything except `azure` workers. And second one will only check `azure` workers.

Provisional steps towards improving Azure scanner:
- step 1: generic workers on Azure do not need public IP (unless someon

[2022-04-11 16:26] abdelquodr commented on #2924
Is this issue fixed?. because it is still among the unassigned task on codetribute.

[2022-04-11 16:31] abdelquodr commented on #5313
Hello @ahal and @lotas. I'll like to check on this issue. kindly assign it to me

[2022-04-11 16:34] lotas commented on #5313
Hi @abdelquodr! Sounds great, will assign!

[2022-04-11 16:42] lotas commented on #2924
@ahal I think you are the most relevant person to ask if this is still needed?
Thanks

[2022-04-11 17:55] ahal commented on #2924
Yeah, a bit of a mish mash of things in here, but looks like it's mostly still relevant. We should be running the decision task with Python 3 at least now, so the `basestring` stuff should be fixed.

[2022-04-11 18:32] ahal opened #5348 "Copy artifact URL button is clipping the wrong link"
**Describe the bug**
When clicking the "Copy" button next to an artifact, the text copied to the clipboard looks similar to:
https://firefox-ci-tc.services.mozilla.comhttps//firefox-ci-tc.services.mozilla.com/api/queue/v1/task/M0BdslNvR1KAQ7F-u2or0Q/runs/1/artifacts/public%2Fbuild%2FMozillaVPN.pkg

Note that the root URL is listed twice, and the second one is missing the colon after `https`. I'm p

[2022-04-11 18:46] lotas commented on #5348
Interesting. Some of the artifacts are fine on that very task. Looks like text files are being handled differently, and the bug was in this url concat:

https://github.com/taskcluster/taskcluster/blob/c569cf38ada0bc4f31dc3fed7e4d681bf9adbfbc/ui/src/components/TaskRunsCard/index.jsx#L289-L291

[2022-04-12 14:29] abdelquodr commented on #5313
Thanks, @lotas. I'm On it.
But I'm unable to successfully run the repo on my local machine.
I'm running on Linux manjaro. and It has started compiling since yesternight and not done till now

[2022-04-12 14:33] lotas commented on #5313
What are you trying to compile?
For this issue you only need the `ui` component which can run independently and point `https://community-tc.services.mozilla.com/`

We didn't have this feature till now, but if you change targets here to the url above:
https://github.com/taskcluster/taskcluster/blob/8e8bc011239c1910c9007f78ae233c78489d08d9/ui/.neutrinorc.js#L61-L78

you would be able to run the UI l

[2022-04-12 17:33] Shubhamchinda commented on #5348
@ahal I'd like to check this.

[2022-04-13 09:10] abdelquodr commented on #5313
Hello @lotas, followed  your instructions and was able to successfully run it. Thanks

[2022-04-13 09:10] abdelquodr commented on #5313
I'm now presently working on it

[2022-04-13 15:47] matt-boris opened #5361 "Link Worker State Buttons to a filtered view of workers in that state"
On the [Worker Pool details view page](https://firefox-ci-tc.services.mozilla.com/worker-manager/gecko-t%2Fwin10-64-2004), we should make the buttons at the top link to a filtered list of workers in that state, probably the [workers view](https://firefox-ci-tc.services.mozilla.com/provisioners/gecko-t/worker-types/win10-64-2004).

[2022-04-14 09:19] Eijebong opened #5362 "Put the log files at the top of the list in task artifacts"
Currently artifacts are sorted alphabetically, however the chances of you wanting anything but logs there is pretty slim (as far as my workflow goes, maybe my workflow is too specific).

I feel like it would help if the log artifacts would always show up first in the artifacts list instead of me having to look for it.in the list. And yeah, there's a filter, but that's extra work :)

[2022-04-15 16:41] davehouse opened #5363 "Cache missing or corrupted problems repeat"
**Describe the bug**
https://bugzilla.mozilla.org/show_bug.cgi?id=1595217 If a file is missing on the filesystem but still in the file-cache.json or directory-cache.json, then generic-worker attempts to copy it and panics when the filesystem move fails.

https://bugzilla.mozilla.org/show_bug.cgi?id=1539681 If a cached file/dir is corrupted, generic-worker does not run a checksum to catch this. Ins

[2022-04-17 21:41] abdelquodr commented on #5313
@lotas  and @ahal. I'm done fixing the bug. and I'm open to feedback, comment, or suggestion on how to better my solution.
It's really an enjoyable journey for me.
I learned that you use Phabricator for code review. I wanna go through the docs and read and understand the basics before pushing for review.

Thanks, @lotas

[2022-04-17 21:42] abdelquodr commented on #5313
kindly let me know if I can use git.

Thanks

[2022-04-18 02:29] djmitche commented on #5313
@abdelquodr the Taskcluster codebase is in Git, so not using Phabricator -- that's only used for the Firefox codebase itself and a few other things.  You can just make a "normal" GitHub PR.

[2022-04-18 05:24] abdelquodr commented on #5313
ok. thanks @djmitche

[2022-04-18 18:11] ahal opened #5364 "Github `latest` endpoint always returns a 404"
**Describe the bug**
According to the docs, the `latest` endpoint in the Github service is supposed to redirect to a status page:
https://docs.taskcluster.net/docs/reference/integrations/github/api#latest

This also means that the official docs for adding badges provide broken links:
https://docs.taskcluster.net/docs/reference/integrations/github#adding-status-badges-to-your-projects-readme

**To

[2022-04-18 19:29] ahal commented on #5364
Interestingly this one seems to work:
https://community-tc.services.mozilla.com/api/github/v1/repository/mozilla/bugbug/master/latest

Maybe there's a route that's needed or something...

[2022-04-19 00:16] djmitche commented on #5364
I believe it only works for status, not checks -- perhaps that's the issue?

[2022-04-19 11:35] abdelquodr commented on #5313
can anyone pls help, I could not push to my local branches, I've tried all i could
i got ===   remote: Permission to taskcluster/taskcluster.git denied to abdelquodr.
fatal: unable to access 'https://github.com/taskcluster/taskcluster.git/': The requested URL returned error: 403

[2022-04-19 13:01] matt-boris commented on #5313
@abdelquodr please use a fork of the repo instead and make a PR with your fork.

[2022-04-19 13:28] abdelquodr commented on #5313
@matt-boris it works. thanks

[2022-04-19 13:54] abdelquodr commented on #1597
@helfi92 and @djmitche; Is this task assigned to someone already ?
if not, pls I'm interested in working on it

Thanks

[2022-04-19 15:30] ahal commented on #5364
Did a bit of code exploration and I think I see what you mean:
[code]

[2022-04-19 15:43] ahal commented on #5364
I don't understand why the status API is returning empty for these repos, but some Googling brought me to:
https://github.community/t/state-is-pending-statuses-are-missing-with-github-api-v3/14386/3

Which pointed to:
https://docs.github.com/en/rest/reference/checks#list-check-suites-for-a-git-reference

Indeed:
[code]

seems to work.

[2022-04-19 16:12] ahal commented on #5364
Ah, though inspecting the return value of the `check-suites` API, there's no mention of the decision task id, so no way to use it to build a link back to the task group.

[2022-04-20 22:14] djmitche commented on #1597
Looks like nobody is working on it at the moment!

[2022-04-20 23:25] djmitche opened #5372 "Make the task-run card shorter"
Rather than include a heading with the run number _in_ the card, it will be shorter to replace the per-run dots in the card title with the same text:

![image](https://user-images.githubusercontent.com/28673/164340598-e9208de7-cf9a-406a-835d-64c7b5d10493.png)

[2022-04-21 10:41] lotas opened #5373 "UI: Improve proxy url configuration"
At the moment to run UI you need to also run additional services (postgres, service-web).

It is also possible to run local UI against public Taskcluster.

Configuration is defined here: https://github.com/taskcluster/taskcluster/blob/8e8bc011239c1910c9007f78ae233c78489d08d9/ui/.neutrinorc.js#L61-L78

TODO:
* add a way to use `TASKCLUSTER_ROOT_URL` to define root url for the  proxy configuration,

[2022-04-21 13:45] petemoore commented on #5313
I'm very sorry @abdelquodr I don't think taskcluster is participating in Outreachy for this round.

[2022-04-21 14:28] abdelquodr commented on #1597
Thanks, @lotas I'll start looking into this

[2022-04-25 09:43] lotas opened #5379 "UI: Worker pools table is not responsive"
Table on the [worker-manager](https://community-tc.services.mozilla.com/worker-manager) page has limited width and not responsive. Content is being hidden.

<img width="2150" alt="image" src="https://user-images.githubusercontent.com/83861/165063211-f233e9e7-a817-4bb4-a83e-cb5aeece7de8.png">

TODO:
* trim column widths to fit initial content (since whole content is limited at `~1600px`)
* make tab

[2022-04-25 12:48] matt-boris commented on #5379
Same with this view https://firefox-ci-tc.services.mozilla.com/provisioners/gecko-t/worker-types/win10-64-2004 (likely the same component being used).

I noted in https://github.com/taskcluster/taskcluster/pull/5370 about how more columns are to be added to this view, and that makes this ticket you created that much more important, imo.

[2022-04-25 13:01] matt-boris commented on #5379
I'd also be in favor of just removing the email column from that view, as it's already listed in the worker pool detail page (when you click on one of the worker pool IDs). I feel like that column doesn't contain pertinent info for that list view.

[2022-04-26 11:59] lotas commented on #4999
So we see that overall success for Azure provisioning depends on `workerScannerAzure` times.
It needs at least several loops to fully provision VM. Given that default timeout is `30min`, loop times greater than `15min` would most likely result in worker's failure to register within given time.

To speed things up, resources will start to be provisioned immediately during `provisioner` loop - #5382

[2022-04-26 14:53] #4366 closed

[2022-04-26 14:54] #4942 closed

[2022-04-26 15:58] matt-boris commented on #3060
I'm thinking I'll pick up https://github.com/taskcluster/taskcluster/issues/5379 before starting this work because doing this will add additional columns, making the table even less user-friendly.

[2022-04-27 09:37] lotas commented on #5348
@Shubhamchinda not sure what is the status of your fix, but I had it to fix in my branch in order to fix something else, sorry :)

78a017fa1204296adff2ca0e8b73b18b98869fd1

[2022-04-27 09:42] lotas commented on #5362
@Eijebong I just realized that it was already fixed in the past :)

![image](https://user-images.githubusercontent.com/83861/165490356-63995706-e2ed-402e-b5b9-4d513428988d.png)

Link to the logs is a huge button on top. Do you see the same on your instance?

I will still place them on top in the list

[2022-04-27 09:46] Eijebong commented on #5362
![39dd72b7-e654-4326-8038-37d88d65791a](https://user-images.githubusercontent.com/3650385/165491147-a2098fc7-3c23-427e-97d9-f4c39f385f07.png)

It's not there if you don't have livelog enabled

[2022-04-27 12:53] lotas commented on #5362
Fix merged

[2022-04-27 12:54] #5373 closed

[2022-04-27 12:54] lotas commented on #5348
Fix merged to main

[2022-04-27 12:54] #5348 closed

[2022-04-27 12:54] #5362 closed

[2022-04-27 14:45] petemoore opened #5385 "Use local versions of node libraries from monorepo rather than historic release versions"
There are javascript libraries in the monorepo that are listed in package.json files in our repo too, for example [this one](https://github.com/taskcluster/taskcluster/blob/db775652d340f154b8cf7e42b1087659e6a66acb/ui/package.json#L97).

Since this library is from the monorepo itself, ideally the version of the library used shouldn't be a released version, but the currently checked out version shou

[2022-04-29 08:59] lotas opened #5391 "Github handler type errors"
Sentry shows two type errors that happen quite often:

1. `Cannot destructure property 'organization' of 'build' as it is undefined.`

https://github.com/taskcluster/taskcluster/blob/c70d41df3d4eea6ec175268da60c6bbcfc081102/services/github/src/handlers.js#L522

2. `Cannot read properties of undefined (reading 'sha')`

https://github.com/taskcluster/taskcluster/blob/c70d41df3d4eea6ec175268da60c6bbc

[2022-04-29 12:40] petemoore commented on #5363
Thanks for the detailed report @davehouse.

Indeed generic-worker can/should do a sanity check that cached files exist and have correct checksums, where checksums are known.

I _think_ in multiuser engine, it shouldn't be possible for a task to corrupt a cache file, since the task should not have write access to generic-worker's copy of the cached files. Do you know whether this is broken, or whet

[2022-04-29 12:47] petemoore commented on #5270
Have you ever seen this since? Maybe an underlying Windows problem that can be masked if generic-worker retries on failure?

[2022-04-29 13:59] petemoore commented on #5081
This time with `kpnf` instead of `kbnf`:

[code]

[2022-04-29 14:12] petemoore commented on #5081
[code]

[2022-04-29 15:32] Eijebong opened #5393 "`worker_info_update_frequency` is not optional in the helm chart"
[code]

[2022-04-29 15:54] Eijebong opened #5395 "500 when trying to get `latest` build for a repo branch using `checks-v2`"
`{"EnvVersion":"2.0","Fields":{"incidentId":"68462a0f-2931-49c3-81ff-86debe5c938b","message":"Cannot read properties of undefined (reading 'html_url')","method":"latest","name":"TypeError","stack":"TypeError: Cannot read properties of undefined (reading 'html_url')\n    at Proxy.<anonymous> (/app/services/github/src/api.js:550:44)","v":1},"Hostname":"taskcluster-github-web-659cc5b977-bjmss","Logge

[2022-04-29 16:05] ahal opened #5396 "generic-worker failure: [mounts] Not able to rename dir"
**Describe the bug**
MacOS builds in mozillavpn recently started failing with this generic-worker error:
https://firefox-ci-tc.services.mozilla.com/tasks/CUSlv4wpQlCPUoyGbmWcBw/runs/0/logs/public/logs/live.log

Afaict, these tasks have not changed recently. Heitor and I have been standing up signing tasks for these builds, but the signing tasks use a different pool, so not sure how that would be r

[2022-04-29 16:21] ahal commented on #5395
Looks like I was going off the `check-suites` endpoint, but in reality `findTCChecks` was using the `check-runs` endpoint. Good news is the fix should be easy and actually simplify some logic.

This is why a staging Github service would be useful 😅

[2022-04-29 18:37] #5395 closed

[2022-04-29 19:02] ahal commented on #5396
Here's the worker running these tasks:
https://firefox-ci-tc.services.mozilla.com/provisioners/releng-hardware/worker-types/mozillavpn-b-1-osx/workers/mdc1/macmini-r8-179?sortBy=resolved&sortDirection=desc

It's possible we got into some kind of bad state somehow...

[2022-05-01 15:55] petemoore opened #5409 "t is null"
<img width="1410" alt="Screenshot 2022-05-01 at 17 52 02" src="https://user-images.githubusercontent.com/190790/166153914-7f44fe73-a307-4133-84a6-22b5ecd94efc.png">

[2022-05-02 13:47] #5393 closed

[2022-05-02 16:26] #5087 closed

[2022-05-02 18:02] #5336 closed

[2022-05-02 18:16] ahal commented on #5396
Looks like we've hit this issue before:
https://bugzilla.mozilla.org/show_bug.cgi?id=1716287

Though I'm not sure that we've ever diagnosed *why* it happens. Possibly there's a bug in `generic-worker` that can sometimes leave workers in this state? Maybe @davehouse has some context from the first time around.

[2022-05-03 09:37] petemoore opened #5412 "Docker worker payload allows unknown properties"
**Describe the bug**
It is possible to submit a task to docker-worker containing properties that are misspelled or unknown to docker-worker, and it ignores them. It should disallow undefined properties in its payload, to avoid problems and confusion. For example, there could be features which are specific to another worker, such as generic-worker, that are included in a docker-worker payload, and

[2022-05-03 14:29] petemoore opened #5415 "Shell linter"
We don't lint our shell scripts, and this can be useful for detecting problems.

Something like `shfmt -sr -ci -w -i 2 .` could be handy.

Probably this should also run locally when we build, not exclusively in CI.

[2022-05-04 13:40] matt-boris opened #5420 "Rework `.taskcluster.yml` to only produce one task group on release"
Currently, two separate task groups are created on a github release. One from the git commit, which runs the full CI, and the other from the git tag, which runs `release-publish`.

The `docker-worker-chunk` tests that run in the full CI depend on the new images the `release-publish` task is creating, but a dependency cannot be defined because they're running on two separate task groups.

If these

[2022-05-04 15:15] lotas opened #5421 ""Error: Invalid token" messages from auth service"
[code]

[code]

[2022-05-04 23:07] djmitche commented on #5421
It looks like those are coming from the [`auth.sentryDSN`](https://docs.taskcluster.net/docs/reference/platform/auth/api#sentryDSN) endpoint.  IIRC sentry was an error-reporting service that we abandoned some years ago, but I think generic-worker still contains code using it.  I think the token is invalid because it's not set (or the account is closed anyway).  It would probably be good to either

[2022-05-04 23:15] djmitche commented on #5421
..oh, and remove generic-worker's use of the API method :)

[2022-05-05 05:52] lotas commented on #5421
The funny thing that this is error is coming from Sentry :) So I think the deployment configuration is correct and provides a valid sentry link, because Taskcluster is reporting quite a few errors. Or maybe those are different configurations.

@djmitche I thought sentry was important for workers, so they still use this endpoint to get sentry credentials and report problems. I'll check

[2022-05-05 09:56] #5412 closed

[2022-05-05 11:59] djmitche commented on #5421
Ah, sorry, I must have been remembering some other ops deprecation!

[2022-05-05 13:34] ahal opened #5431 "[UI] Duplicate rows added to table when sorting the worker page"
**Describe the bug**
When sorting columns in the worker view, duplicate rows get added to the table.

**To Reproduce**

Steps to reproduce the behavior:

1. Go to the page for a specific worker, e.g:
https://firefox-ci-tc.services.mozilla.com/provisioners/releng-hardware/worker-types/mozillavpn-b-1-osx/workers/mdc1/macmini-r8-179?sortBy=started&sortDirection=asc
2. Click on 'Started' (or any colum

[2022-05-05 13:59] matt-boris commented on #5431
Looks to have something to do with the fact that there are multiple runs of the particular task with taskId `U2sWzy80QAaRpHqGlLbfUA`.

If you visit a different worker, such as https://firefox-ci-tc.services.mozilla.com/provisioners/gecko-t/worker-types/win10-64-2004/workers/centralus/vm-a6m25x4hrdedjwfsulmweofbyrldqjuguac, it's not producible.

[2022-05-05 14:33] lotas commented on #4999
I continue investigation why scanner process throws exception. One particular case was when loop stalled:

<img width="1465" alt="image" src="https://user-images.githubusercontent.com/83861/166945567-271dae79-8a9c-48f5-88e8-e0458f3d8031.png">

last line executed was here: https://github.com/taskcluster/taskcluster/blob/v44.13.5/services/worker-manager/src/providers/azure/index.js#L880-L886

After

[2022-05-05 14:58] lotas commented on #4999
I see that `p-queue` has per-task [`timeout`](https://github.com/sindresorhus/p-queue#timeout) option, which might help here, to avoid getting stuck forever.
It is either p-queue implementation has a bug which hangs the whole process, or there is an issue with some specific provider that receives a call and keeps connection open forever.

@djmitche do you remember if this was ever an issue or conc

[2022-05-06 13:49] #2776 closed

[2022-05-06 15:42] matt-boris opened #5433 "Show workers from last active, desc"
Similar to https://github.com/taskcluster/taskcluster/issues/2776, but https://firefox-ci-tc.services.mozilla.com/provisioners/gecko-t/worker-types/win10-64-2004 should be sorted by last active by default.

[2022-05-06 18:27] matt-boris commented on #5409
Fixed in release v44.13.0 https://community-tc.services.mozilla.com/provisioners/proj-taskcluster/worker-types/gw-ci-macos

[2022-05-06 18:27] #5409 closed

[2022-05-09 19:19] jonalmeida opened #5437 "Taskcluster CI does not report to Github the status of a task re-run"
**Describe the bug**

The Github UI in a pull request does not update when a failed task has been re-run. So it looks like the task is still failed until you click into it and go to the tc UI or until a success is posted.

**To Reproduce**

Steps to reproduce the behavior:

1. Have a Github project with Taskcluster CI running on pull requests.
2. Have one of the CI tasks fail.
3. Observe status of

[2022-05-09 20:10] ahal commented on #5396
This happened again in the VPN repo:
https://mozilla-hub.atlassian.net/browse/RELOPS-148

Though this time, it's in the L3 pool. I think we need to figure out why this keeps happening before we can rely on these builds for releases :/

[2022-05-09 21:20] escapewindow opened #5438 "enhancement: add history of when a given secret was changed to the secrets UI"
Use case: Releng was asked if we knew when a given secret was last changed. We didn't, but Cloudops was able to retrieve this information from the logs.

This could be as simple as "this secret was last changed on `datestring`" (though we may have to store this information in the db if it's not there already).

Bonus points for being able to view a history of the last `n` changes to a given secret

[2022-05-09 23:26] djmitche commented on #5438
Is this a good-first-bug?

[2022-05-10 08:37] lotas commented on #5438
I see several ways we can achieve this.
1. Log all activities (POST/PUT/DELETE) + user info. It would allow to see when specific resource was changed.
2. Keep real history of secret values. It would allow to see previous values as well.
3. Trivially add `lastModified` and `lastModifiedBy` fields to the secret (that would always be last change only).

Question is, if we implement 1. or 2. what othe

[2022-05-10 13:23] #5287 closed

[2022-05-10 14:46] lotas commented on #4810
I have split scanner into azure vs non-azure, since then it seems to be pretty fast and stable for both of them, and loops most of the time finishing quickly.
To improve it more, I think we could try using list endpoints to retrieve status for many (all) workers at once

[2022-05-11 08:43] lotas commented on #5437
Hi @jonalmeida  thanks for reporting this.
Can you please tell me how you do "Re-run the task from taskcluster CLI" this step?

[2022-05-11 11:34] lotas opened #5440 "Add functionality to remove cloud worker from UI"
According to sheriff's [how-to notes](https://wiki.mozilla.org/Sheriffing/How_To/Intermittent_bugs#Machine-specific_failures) it was possible to terminate cloud worker from the UI, but it is not anymore.

TODO

- Add remove worker functionality to remove single cloud VM. This should call worker-manager's `removeWorker` endpoint.
- Add batch action to remove all workers in the pool

[2022-05-11 11:39] lotas commented on #5440
@Archaeopteryx I was going through my notes and noticed this one. I believe this is still an issue for you?
How often do you go through this manual worker removal?
How often do you remove all of the workers in a single pool? (I mean if it makes sense to add this to UI, or this is something to be better done manually?)

Thanks!

[2022-05-11 15:19] petemoore commented on #5363
That is a great idea!

[2022-05-11 19:13] lotas opened #5441 "Worker manager provisioner DDoSing web service"
Incident: 2022-05-11 Worker Manager

Api calls started to get slower: from 100s of ms to 1s and up

`17:45:36 CEST` (2022-05-11T15:45:36.543810767Z)  Api calls started to get slower: from 100s of ms to 1s and up

`17:47:00 CEST` those calls were taking up to 1min
`17:47:10 CEST` + api calls begin to be terminated by nginx after 60s

Overall count of `registerWorker` calls rose from 30 calls/minute

[2022-05-11 19:19] lotas commented on #5441
Sentry reported around the same time:

[code]

which might be related to a fix from #5003

[2022-05-11 19:22] ahal commented on #5396
This happened for a 3rd time in 12 days:
https://firefox-ci-tc.services.mozilla.com/provisioners/releng-hardware/worker-types/mozillavpn-b-1-osx/workers/mdc1/macmini-r8-179?sortBy=resolved&sortDirection=desc

At this point I think these pools are more or less unusable as we can't keep asking relops to fix them whenever it keeps happening. @petemoore any chance we can bump the priority of this issu

[2022-05-11 19:29] petemoore commented on #5396
I can look into this tomorrow.

[2022-05-11 19:50] ahal commented on #5396
Thanks, appreciate it!

[2022-05-11 21:19] jonalmeida commented on #5437
@lotas I used the CLI tool for my device. For example: [`taskcluster-darwin-amd64`](https://github.com/taskcluster/taskcluster/releases/download/v44.13.6/taskcluster-darwin-amd64)

Then:
1. `TASKCLUSTER_ROOT_URL=https://firefox-ci-tc.services.mozilla.com/; taskcluster signin`
2. Authenticated.
3. `taskcluster task rerun [taskId]`

[2022-05-12 09:36] lotas commented on #5441
It looks like there is nothing bad in the work of the provisioner, at the beginning of the loop it had those:

[code]

So from existing capacity of `230` and pending tasks `1667` it had to request additional workers.

[2022-05-12 11:14] Eijebong opened #5442 "When rerunning a task, it doesn't take dependencies into account"
Scenario:

I have an `A` task that generates an artifact used by a `B` task. `B` depends on `A`.
I want to rerun `A` then `B` because some environment changed so the generated artifacts is different.
I click rerun on `A` then on `B`.
`B` runs without waiting for the new `A` run to finish.

[2022-05-12 11:42] lotas commented on #5442
Just to clarify, was the first time it run, `A` was successful?

So in other words, dependency check should be against the most recent run. We probably don't reset task state once we rerun it.

[2022-05-12 11:44] lotas commented on #5437
Indeed. Let's keep both until resolved.

[2022-05-12 11:45] Eijebong commented on #5442
Yeah, first `A` run was successful. The UI shows the right state though

[2022-05-12 11:51] jonalmeida commented on #5437
I'm quite alright with closing this as a dupe since Aki has commented on that bug on behalf of MoCo mobile. :)

[2022-05-12 11:52] lotas commented on #5437
alright :) Let's then close this one and work on the fix in #5085.
Thanks!

[2022-05-12 11:52] #5437 closed

[2022-05-12 11:57] #5441 closed

[2022-05-12 14:13] matt-boris commented on #5440
I'd imagine that a `terminate` button could live on each row in the table here https://firefox-ci-tc.services.mozilla.com/provisioners/gecko-t/worker-types/win10-64-2004-gpu but am questioning the best location for a `terminate all` button.

Maybe one at the top of that same page? Or maybe in each row of this table https://firefox-ci-tc.services.mozilla.com/worker-manager? Or even the worker pool

[2022-05-12 14:32] ahal commented on #5396
Awesome, thanks for the patch @petemoore !

Now I can't remember.. will this rollout with the regular FirefoxCI upgrades? Or is there a separate process for the workers? I feel like it's the latter but wanted to check.

[2022-05-12 15:04] #5363 closed

[2022-05-12 15:07] petemoore commented on #5396
Yes, that's right. Whoever manages the worker pools that are affected will need to deploy new workers, once the new release is made.

[2022-05-12 17:01] mostlygeek opened #5444 "Make a one step setup for Taskcluster"
Taskcluster is really difficult and complex to setup quickly.   I would like a one step script (.sh, .py, .whatever) that creates a cluster for me (someone without much knowledge) to get a cluster to play with and learn on.

Some asks / ideas for v0.1 of this scripts:

* give it a GCP API key and it'll create a K8s cluster with all necessary microservices and dependencies (rabbitmq, postgresql, et

[2022-05-12 17:13] ahal commented on #5396
Thanks! I'll ping relops to see if they can test this out. The two pools that seem to be affected here have a grand total of 3 workers, so it might actually be a good enough fix for now :p

[2022-05-12 17:53] lotas commented on #5444
I had created this ticket in JIRA couple of months ago: FCP-50. It  can be used as a starting point or ideas for discussion. Contents below:

Current dev-deployment  process involves several manual steps:
* provisioning unique public IP for dev deployment
* adding domain name → IP mapping in AWS’s Route53
* issuing manually with cert-bot certificate and using manual DNS verification in Rotue53
* u

[2022-05-12 17:57] lotas commented on #5444
One other idea was to make db and queue part of the deployment, so there will be no dependency on external services (pulse/ cloud sql/etc), FCP-51:

Problem:
Current dev deployment relies on external services and steps:

* **rabbitmq**
  - there should be a rabbitmq instance running somewhere in the cloud
  - management credentials are required to make initial setup
* **postgresql**
  - postgresql

[2022-05-13 08:54] lotas opened #5445 "Add support for ESM modules"
There are more and more dependencies that switch to ESM-only distribution, which makes it impossible to upgrade to recent versions.

Some examples:
#5417
#5388

TODO:
- estimate the cost of switching to `"type": "module"` and refactoring that will be needed
- refactor code to use `import` instead of `require` where needed

[2022-05-13 09:04] lotas commented on #1712
I will close this, as it is no longer an issue, checked in Safari and Firefox

[2022-05-13 09:04] #1712 closed

[2022-05-13 09:06] lotas commented on #2336
@petemoore do you think we can close this one now? I feel like some of the issues were fixed already, some are in progress in different tickets

[2022-05-13 09:09] lotas commented on #2240
I will close this one as we have already implemented secondary link to take user directly to the log:
<img width="443" alt="image" src="https://user-images.githubusercontent.com/83861/168251202-fd259586-a003-4ef1-b6d8-8925bdff3c68.png">

[2022-05-13 09:09] #2240 closed

[2022-05-13 09:19] lotas commented on #3066
#5306 might be a better way of achieving this, if we modify workers to send its own version as part of `registerWorker` call, then we would always have the actual info without extra work.
wdyt @djmitche, can we close this one?

[2022-05-13 13:31] lotas commented on #3362
Implemented in #5209

[2022-05-13 13:31] #3362 closed

[2022-05-13 13:35] lotas commented on #3518
@petemoore is it still a thing? I don't see gw-workers in the code anymore

[2022-05-13 13:37] petemoore commented on #3518
Oh, interesting, I'd forgotten about this tool! I wonder where it has gone, and if it was removed at some point. I wouldn't mind keeping it alive, or moving it e.g. to the taskcluster cli, as it was a super way of interfacing with workers.

[2022-05-13 13:41] lotas commented on #3518
True, it moved to separate repo - https://github.com/taskcluster/community-tc-utils

[2022-05-13 13:49] lotas commented on #1305
This might be combined with #222 to display extra information about runs

[2022-05-13 13:51] lotas commented on #1955
I think this one also can be related to #222 to provide different timing information about running tasks

[2022-05-13 14:10] lotas commented on #2926
@petemoore do you think it is still important?

[2022-05-13 14:14] matt-boris commented on #2881
Tracking work in duplicate ticket https://github.com/taskcluster/taskcluster/issues/3060.

[2022-05-13 14:14] #2881 closed

[2022-05-13 14:22] lotas commented on #4028
I would be  :+1:  for Typescript.

[2022-05-13 14:30] petemoore commented on #2926
Good question. It may already be done for community cluster and/or firefox-ci. We should be able to determine that by seeing if the queue's registry of all workers (when looping through all provisioners and worker types of each provisioner) matches worker manager's view of all worker pools. If that is the case, I think we can consider this done.

There is another question about whether we want to

[2022-05-13 15:54] Archaeopteryx commented on #5440
Usually 0-3x per week

Once per quarter or less. This might be more interesting for Pete or RelOps when new AMIs get deployed. But doing it from the command line should be fine. At the moment code sheriffs [retrieve the list of machines known to the pool](https://wiki.mozilla.org/Sheriffing/How_To/Intermittent_bugs#Machine-specific_failures) (even ones which got released) and try to terminate each

[2022-05-13 17:50] matt-boris commented on #5440
@Archaeopteryx thanks for these notes.

Just to clarify what you're referring to, I'm going to provide a link to a page.

You would like to see a terminate worker button on this page? https://firefox-ci-tc.services.mozilla.com/provisioners/gecko-1/worker-types/b-linux-gcp/workers/us-central1/101278286944937797

[2022-05-13 18:02] gabrielBusta commented on #5444
Maybe leveraging an IaC tool could help us here?

These tools check the one step set-up / tear-down boxes and they support outputs (one of those could be the cluster's URL)

These tools can also can be parametrized to bring your own infra (VPC, clusters, buckets). Eventually, it could support a resource ID parameter for a K8 cluster.

Calling the GCP APIs from a script is also a valid approach. Bu

[2022-05-13 18:08] Archaeopteryx commented on #5440
Yes.

[2022-05-15 00:28] djmitche commented on #3066
Yeah, it makes more sense to just _have_ that information rather than generating a report.

[2022-05-15 00:28] #3066 closed

[2022-05-15 00:33] djmitche commented on #5306
You might consider also sending the worker's payload schema in `registerWorker`, even if it's ignored for now, as that would be a step toward supporting schema validation at task creation time.  I think the concern has been that it's a lot of data to pass on every registerWorker call, so maybe it's better left to another issue.

(But, one way to solve that may be to send a hash of the schema by de

[2022-05-16 08:28] Eijebong opened #5446 "[Suggestion] Change the submenu on the logs page by its content"
![raw_log](https://user-images.githubusercontent.com/3650385/168550954-4e3d4065-1321-4421-9799-817cb85b71a6.png)

This menu only has one item, maybe we can replace it by a link to the raw log. That would avoid having to hover over it and then "carefully" going on the raw log link.

[2022-05-18 11:30] lotas commented on #5179
I've spent some time debugging the issue. Problem there that Roles page (and most of the others) are using `1000` as default page size to render all elements.
Rendering of each single row takes time, because of dozens of components wrapped around it.

I see two approaches how we can solve this:

1. Reduce markup to the bare minimum (For example list of `280` roles renders around `4700` dom element

[2022-05-18 15:55] lotas commented on #5179
@Eijebong can you please remind how big was your Roles table? Community has around 280 roles so it is somewhat bearable. Iirc you had around 600?
I think the easiest fix is to set page size to ~100, or just implement custom rendering

[2022-05-18 17:34] Eijebong commented on #5179
Well I'm hitting pagination limits so more than 1000

[2022-05-19 08:01] lotas commented on #4999
Timeout fix was deployed and already one loop saved:
<img width="823" alt="image" src="https://user-images.githubusercontent.com/83861/169243432-5411ab05-e561-4611-b618-93cde519e7ac.png">

Possibly 10min can be reduced to 5min

[2022-05-19 08:36] lotas commented on #4999
I think it is not possible to fully get rid of those errors, so I will close this ticket.
Over the past months, number of such incidents were noticeably reduced, happening 5-10 times a day.
Major issue was that Azure Provisioner/Scanner was ineffective (single resource privisioning per loop). This was mitigated by reducing number of calls needed (Public IP can be skipped + first resource provision

[2022-05-19 08:36] #4999 closed

[2022-05-19 15:28] ahal commented on #5396
Hmm, this may not be fixed. Looks like it's happening again:
https://firefox-ci-tc.services.mozilla.com/provisioners/releng-hardware/worker-types/mozillavpn-b-1-osx/workers/mdc1/macmini-r8-179?sortBy=resolved&sortDirection=desc

I'll have to confirm with @davehouse that the `generic-worker` binary he copied onto there didn't somehow get re-puppetized or something.

[2022-05-19 15:31] petemoore commented on #5396
It looks like the correct version of generic-worker - so indeed it looks like this fix didn't work! 👎 😭

[2022-05-19 15:35] petemoore commented on #5396
That was my bad - I suggested trying it before we had a release, and didn't mention it to you, sorry Boris! I followed the "source" link above, and it looks like it includes my "fix".

[2022-05-19 15:40] petemoore commented on #5396
@davehouse Are the worker logs in papertrail? I'd like to take a look at them to see if I can work out what is going on.

[2022-05-19 17:51] ahal commented on #5396
I asked Michelle to dig up the papertrail for this worker and she says that it appears to not be connected :/

[2022-05-19 20:05] petemoore commented on #5396
The worker logs should still be on the machine though, is it possible to send them? I think under /var/log/generic-worker iirc

[2022-05-20 09:26] #5179 closed

[2022-05-20 09:27] lotas commented on #5179
Fix was merge. It will now should render only rows visible on the page. Layout was simplified a bit also (removed link icon, as the whole row is clickable anyway)

[2022-05-20 11:13] petemoore commented on #5396
OK, I see the problem (at least part of it).

The worker isn't rebooting between tasks, so it isn't logging in as a new task user each time. When I look through the recent tasks, they are _all_ using task_163336061065616 user. That's not how the multiuser engine is intended to be used.

At this point, I don't know what caused the first exception, but subsequent exceptions are caused by the machine

[2022-05-20 11:46] petemoore commented on #5396
The integer part of the task user name is the unix timestamp of the time the user was created. This timestamp maps to 4 October 2021, which means it was created over 7 months ago. That suggests this worker has been using the same task user account for all this time, or that something is resetting machine state back to something from 7 months ago, or that the clock is 7 months off.

Looking at [ano

[2022-05-20 12:34] petemoore commented on #5396
So indeed, looking through history of that worker too, it never reboots, even for successful tasks.
That's the reason for all the problems.

[2022-05-20 13:38] ahal commented on #5396
Thanks for the investigation! Sounds like this is something that will need to be fixed on the relops side. This is happening frequently enough that it might still be worth investigating the root cause.. but it will definitely be a much smaller priority if we can get a clean slate between each task so the failure isn't recurring.

[2022-05-23 09:06] Eijebong commented on #5179
Will test as soon as a release contains the patch and let you know ;)

Please remind me in two weeks that I haven't tested it because there's a 99.9% change I will forget though.

[2022-05-23 10:15] lotas commented on #41
I will close this issue in favor of #5085

[2022-05-23 10:15] #41 closed

[2022-05-23 10:18] lotas commented on #3780
I will close this issue and work on a fix in #5046

[2022-05-23 10:18] #3780 closed

[2022-05-23 15:46] #3490 closed

[2022-05-24 19:47] ahal commented on #5396
Is it normally `generic-worker` that determines the user?

@petemoore would you mind re-opening this issue? I don't have permission.

[2022-05-25 13:16] ahal commented on #5396
@petemoore I think it was in the community meeting you mentioned something about these workers using `simple` engine or something like that, which was only supposed to be for development. Could that be why the user never changes?

[2022-05-25 15:58] matt-boris opened #5456 "Filter workers by state and quarantined should happen in a separate db func"
@lotas commented in this PR https://github.com/taskcluster/taskcluster/pull/5448#discussion_r881444469 that adds additional filtering by worker state using the same pattern that was used in the queue service.

Try toggling the `Filter By` selection to notice the slowness: https://firefox-ci-tc.services.mozilla.com/provisioners/gecko-t/worker-types/win10-64-2004?sortBy=Last%20Active&sortDirection=d

[2022-05-26 17:37] ahal commented on #5396
Looks like we're able to work around this by disabling caches in the affected tasks. We should still figure out what's going on here and fix it, but at least it's not blocking VPN automation anymore.

[2022-05-30 08:46] Eijebong opened #5457 "Dead link in artifacts documentation"
https://docs.taskcluster.net/docs/manual/using/artifacts

The `Generic Worker` link points to https://github.com/taskcluster/generic-worker/blob/master/native_windows.yml which doesn't exist anymore

[2022-05-31 14:04] matt-boris opened #5459 "Add retries to `execCommand` method"
`release-publish` tasks intermittently fail due to the [`dockerPush`](https://github.com/taskcluster/taskcluster/blob/66941613e4242d69dd2aff3fb560359eb633d59c/infrastructure/tooling/src/utils/docker.js#L246-L291) command failing, usually during the build websocktunnel docker image. This is fixed by rerunning the task over a few times until it succeeds. An extra param passed to `execCommand` with n

[2022-05-31 14:35] lotas commented on #5459
It could also be some quirk of streams/pipes, maybe there's another bug that fails.
But in general retries sounds like a good idea

[2022-05-31 17:25] #5459 closed

[2022-05-31 20:07] #5446 closed

[2022-06-01 12:44] lotas commented on #5152
For non-standard rabbitmq deployment / ports it should also contain port:
[code]

[2022-06-01 13:15] lotas commented on #5179
Woo-hoo! Great, now we need to go through the rest of the tables with grids and possibly do the same..
Do you have any other pages with hundreds of rows?

[2022-06-01 13:54] #3060 closed

[2022-06-01 13:54] #5440 closed

[2022-06-06 20:00] Eijebong commented on #4912
Didn't know there was an issue for that. This has been fixed by https://github.com/taskcluster/taskcluster/pull/5464

[2022-06-07 08:09] #5042 closed

[2022-06-07 08:09] #5043 closed

[2022-06-07 08:38] #4912 closed

[2022-06-07 13:53] #5361 closed

[2022-06-08 15:03] lotas commented on #5444
We managed to do several changes on the taskcluster-dev env that we have in GCP. What we did:

* provisioned single IP, used Route53 to point *.alpha.taskcluster-dev.net → ip
* installed ingress-nginx in our dev cluster to listen to this IP
*  installed certbot and added ClusterIssuers for prod/stage letsencrypt
*  tweaked ingress.yml to include necessary annotations for certbot and ingress-nginx

[2022-06-09 15:49] ahal commented on #5396
I'll leave that up to @petemoore. There may be an argument to be made that it shouldn't be possible for workers to be misconfigured in this way, and / or that `generic-worker` should detect and warn when they are.

[2022-06-09 16:05] petemoore commented on #5396
Yeah, that is fair. I think generic-worker could reasonably mark OS users as having been "used", and not allow them to be used more than once. I'm not sure if it is best to have a separate issue for that, or use this one. Probably would be cleanest to open that as a new issue, and close here. I'll do that.

[2022-06-09 16:09] petemoore opened #5498 "generic-worker: don't allow OS users to be used more than once in multiuser engine"
Context: https://github.com/taskcluster/taskcluster/issues/5396#issuecomment-1151326763

Currently, with multiuser engine, if you set `numberOfTasksToRun` to 1, and then restart generic-worker after tasks complete (e.g. because launch daemon is configured to relaunch on termination) then you will end up reusing the same task OS user, and it isn't immediately obvious. We should find a way to make s

[2022-06-10 15:03] Eijebong opened #5501 "The new `Terminate button` seems out of place on the worker view"
It's in the middle of the page while all actions on taskcluster are usually at the bottom right.
Maybe jam it with the `Quarantine Worker` button?

[2022-06-10 15:04] matt-boris commented on #5501
Good call, thank you @Eijebong!

[2022-06-10 16:22] lotas opened #5503 "Github rerun action missing scopes"
Scopes are not correctly applied at the moment:

[code]

_Originally posted by @lotas in https://github.com/taskcluster/taskcluster/pull/5458#issuecomment-1152531070_

[2022-06-10 17:22] kkleemola opened #5506 "Log additional information for Github webhook events"
Currently when trying to troubleshoot intermittent failures for the Github integration, minimal information is logged about the webhook events received (only the installation id and the event id - these identifiers may not be easily accessible by those doing the troubleshooting).

Including additional information from the webhook request would allow less people to start to troubleshoot intermitten

[2022-06-10 19:57] lotas commented on #5503
@djmitche I guess this scoped client doesn't have enough scopes, but I'm not sure where to add those yet. It shouldn't be the static github client most likely.

[2022-06-11 00:30] djmitche commented on #5503
Its scopes include `assume:repo:github.com/*` so if the required scopes are granted to _any_ GitHub repo, then the rerun will work for _all_ GitHub repos.  Which is kind of not what you want.

TC-GitHub uses roles like `repo:github.com/foo/bar:pull-request`, `repo:github.com/foo/bar:branch:<branchname>`, etc. when it does other things on behalf of a repo.  So it would make sense to do something si

[2022-06-13 10:55] #5506 closed

[2022-06-13 12:54] petemoore commented on #5503
I think `repo:<repo>:rerun` is probably enough although it does obviously only allow rerun access to be limited by repo alone. Limiting by branch / PR / project etc may be useful, but may just complicate things. Perhaps we can change the scope requirements later if this becomes important (we have often adapted required scopes over time as complexity has increased).
Currently the `.taskcluster.yml`

[2022-06-13 14:18] #5501 closed

[2022-06-13 14:20] matt-boris commented on #5501
@Eijebong this will be in the next release! Sometime before Wednesday.

[2022-06-13 21:00] ahal opened #5512 "Error banner when logging in: `buildSignedUrl missing required credentials`"
Lately I've noticed when logging in to the TC web UI I get a  big red banner afterwards:
![image](https://user-images.githubusercontent.com/273734/173444333-07f23543-999c-4f9e-8a48-bd3cbd7eaa88.png)

This happens on both the `firefox-ci` and `community` instances.

If I refresh the page, it appears that the login was actually successful and things seem to work as normal. So it's more of an inconve

[2022-06-14 03:09] matt-boris commented on #5318
Dup #4943

[2022-06-14 03:09] #5318 closed

[2022-06-14 03:10] matt-boris commented on #5512
Dup #4943

[2022-06-14 03:10] #5512 closed

[2022-06-14 14:23] kkleemola commented on #5506
@lotas Thanks for this! Do I need to adjust the logging levels to enable this?

firefoxci has `level: root:notice handlers:debug` for github

(stage has level: debug and community is default notice, I can enable for community as well.)

[2022-06-14 14:28] lotas commented on #5506
@kkleemola yes, you need `debug` level for this. Once this change gets deployed

[2022-06-14 19:54] mostlygeek opened #5514 "Support Postgresql > 11"
PostgreSQL 11 is EOL Nov/2023.   This issue is to track work updating Taskcluster to support PostgreSQL > 11.

[2022-06-14 19:57] matt-boris commented on #5514
More information here https://www.postgresql.org/support/versioning/

Version | Current minor | Supported | First Release | Final Release
-- | -- | -- | -- | --
14 | 14.3 | Yes | September 30, 2021 | November 12, 2026
13 | 13.7 | Yes | September 24, 2020 | November 13, 2025
12 | 12.11 | Yes | October 3, 2019 | November 14, 2024
11 | 11.16 | Yes | October 18, 2018 | November 9, 2023

[2022-06-14 20:03] glandium opened #5515 "Mount preparation is very slow on mac workers"
Example log:
[code]
from https://firefoxci.taskcluster-artifacts.net/cyKVwjEcRLWcAJdeSaxNAg/0/public/logs/live_backing.log

That's half an hour spent on `chown -R`...

[2022-06-15 07:47] petemoore commented on #5515
Code is [here](https://github.com/taskcluster/taskcluster/blob/3c15c004d960b5ace54ec37e8115b56b70784faa/workers/generic-worker/multiuser_posix.go#L173).

[2022-06-15 08:10] petemoore commented on #5515
@davehouse Are you able to get the worker log for macmini-r8-198? It should show any output of the above `chown -R command`. I'm also curious how many files are in the cache.

[2022-06-15 15:20] petemoore commented on #5515
Ideas welcome here - I can't think of a simple fix. Task users have different ids, and only some tasks should be able to access the cache. Perhaps there is some option of controlling access to the top level directory, and making all files inside caches world-read/writable, so long as the existence of a parent directory that isn't world read/writable prevents files in the directory from being  acce

[2022-06-15 15:22] petemoore commented on #5515
Perhaps it could be an opt-in option, though, for cases like this where there are large numbers of files.

It could also be that this cache is growing unexpectedly, and tasks are just appending to it rather than reusing it. Since one task took 15 mins and another took 30 mins I wonder if this cache has a reference to the task user in its directory structure, and every use of the cache is increasin

[2022-06-15 16:02] jrmuizel commented on #5515
Can you have a cache group that has access to the cache and task user ids get added/removed from the group if they're supposed to have access to the cache?

[2022-06-15 20:25] glandium commented on #5515
that's what the sticky-bit is for, but it's not automatically added to subdirectories.

what unit is that?

[2022-06-15 20:46] glandium commented on #5515
72k files is a small number to spend 30 minutes to `chown -R`... (it seems low for a checkout too... there are more than 314k files in mozilla-central right now)

Taking a step back, if there's only one task running at a time, is there a technical reason not to make them run under the same uid?

[2022-06-16 14:36] ahal opened #5517 "[UI] Quarantined worker column displays past dates"
### STR

Visit:
https://firefox-ci-tc.services.mozilla.com/provisioners/scriptworker-prov-v1/worker-types/signing-mac-v1?sortBy=Last%20Active&sortDirection=desc

The `Quarantined` value is positive for all workers there (implying they are all quarantined). However if you drill down into one of them, you'll notice that we're actually displaying the days since they were quarantined.

### Expected

N

[2022-06-16 15:02] ahal opened #5518 "[github] Assume a separate role for Github pre-releases"
With Github releases, you can specify that a release is a "pre-release". The intent here is that QA can then validate the release prior to it being ready to publish. Once validated, the release can be updated to a regular release.

For release automation, it might be desirable to run parts ofthe pipeline at the "pre-release" phase (e.g signing tasks), but other parts at the "release" phase (e.g ac

[2022-06-16 15:59] escapewindow commented on #5518
As a workaround, we could possibly trigger an initial phase (build or promote) on pre-release (all github-release, and require additional actions to [promote/]push/ship.

We could ignore the github-release when githubscript moves it out of draft, by looking at the user; we do this in android-components. https://github.com/mozilla-mobile/android-components/blob/main/.taskcluster.yml#L111

[2022-06-16 16:15] lotas commented on #5518
At the moment github service ignores `action` value of the [release webhook](https://docs.github.com/en/developers/webhooks-and-events/webhooks/webhook-events-and-payloads#webhook-payload-object-40).

So far we only processed `published` action, so we can extend it to assume different scope for `prereleased` action.
Handling itself should stay the same, only scope will be changed, right?

[2022-06-16 16:32] ahal commented on #5518
Correct, just a separate scope.

However reading your link clarified some things for me.. and I think we might not actually support VPN's use case after all. From the link:

So if we're only generating graphs for `published`, that implies we don't send any event when a `pre-release` is changed to a `release`. If I'm understanding things correctly, I *think* instead of handling the `published` even

[2022-06-16 16:34] ahal commented on #5518
I'll try crafting some dummy releases on a staging repo to see what events get fired when and report back. We'll want separate scopes for sure, we just may also need to support upgrading a pre-release to a release.

[2022-06-16 21:19] ahal commented on #5518
I set up a local server to listen to the webhook and created a pre-release and then "promoted" it. Indeed, it only seends the `released` action and not the `published` action. So we'll need to listen to the former if we're going to support VPN's intented process here.

[2022-06-17 08:04] JohanLorenzo commented on #5518
TIL! I hadn't realized there are other types of event we could handle.

Thanks for checking the actual behavior! Just to make sure I understand fully, would the process for the VPN be:

 * `action == "published" && release.prerelease == False`: taskgraph generates a `promote` graph for QA.
 * `action == "release"|| (action == "published" && release.prerelease == True)`: taskgraph generates a `ship

[2022-06-17 11:48] ahal commented on #5518
I think you have the `prerelease` values mixed up, but if you swap them yes that could be one approach. Another approach could be:

`action = preleased` -> promote graph
`action = released` -> ship graph (and possibly also promote if it doesn't exist)

Note that making new a release sends 3 events:
* Published
* Created
* Released or prereleased

(Draft releases do not send that last one but I thi

[2022-06-17 12:59] JohanLorenzo commented on #5518
Oops, you're right!

I agree porting the VPN onto shipit makes sense and would solve this problem. Although, I wouldn't be surprised if a new team just wants to release their new product as fast as possible. Github Release is the most immediate way to go. So I concur: supporting preleases would be a good general feature 👍

[2022-06-20 09:52] lotas commented on #2393
I believe we can close this one, it was mostly implemented, and hooks page deserves a bigger refactoring to make it more usable: expand/collapse all, search/filter, etc.

[2022-06-20 09:52] #2393 closed

[2022-06-20 10:58] lotas commented on #3055
@matt-boris I believe we can close this one, both Terminate and Quarantine buttons are available

[2022-06-20 11:28] lotas commented on #5445
Seems to be a duplicate of #4260

[2022-06-20 11:28] #5445 closed

[2022-06-20 11:52] lotas commented on #4001
I will close this one in favor of #5265

[2022-06-20 11:52] #4001 closed

[2022-06-20 12:01] lotas commented on #5438
@escapewindow there's also an older ticket about quarantine #4343

It feels like we should implement a proper audit log for most of the entities.
Common approach I've seen in the past is to have a second table for each entity to store all actions: create/update/delete, but this might be too much for our use-case.

Maybe we can implement single audit table for all (most) entities to log such events

[2022-06-21 10:01] Eijebong opened #5521 "Allow customizing badges text"
Allow us to replace `TC` by some custom text. `TC` is a nice default but it doesn't mean much to external people. Especially if #5272 ever gets fixed, it'd be nice to have a `Build` badge and a `Deploy` badge for example.

I had a quick look and unfortunately this doesn't seem trivial as the SVG contains a rendered version of the text already

[2022-06-21 13:17] matt-boris commented on #3055
@lotas there is now a terminate button on the workers view, but no quarantine button yet. That's only on the individual worker view. Can probably close this and refine the quarantine button for the workers view in a new issue?

[2022-06-21 13:22] #5235 closed

[2022-06-21 13:22] #5238 closed

[2022-06-23 18:13] ahal commented on #5017
I discovered it's possible to work around this in the `.taskcluster.yml` by adding `tasks_for` to the Decision task name, e.g like in this PR:
https://github.com/mozilla-mobile/mozilla-vpn-client/pull/3835/files

The individual tasks will still overwrite one another, but at least we can find them via their respective Decision tasks. This is just a work around though and I still think having separa

[2022-06-24 15:23] matt-boris opened #5529 "`meta-generate` task fails on newly released TC version"
**Describe the bug**
When a new version is released, the `meta-generate` task fails (like this, for example: https://community-tc.services.mozilla.com/tasks/MJpcbwBPQV-vWlUPrZuFKA) due to the taskcluster docker image not being updated in the `docker-compose.yml` file during a `yarn release`.

**To Reproduce**

Steps to reproduce the behavior:

1. `yarn release` to cut a new release.
2. View `meta-

[2022-06-27 10:04] #5529 closed

[2022-06-27 15:07] #5456 closed

[2022-06-30 12:50] lotas commented on #5391
It looks like all those errors are coming from hooks. Either event-based or schedule based. Github handlers pick up those events as if it was pull request/push event, and try to do it's best to publish status updates or something else.
But for scheduled tasks, github builds do not even exist, so those updates fail.

TODO: figure out if hook's events should reach this point, or handlers should just

[2022-06-30 22:15] saigoud25 commented on #5313
can I work on this issue?

[2022-07-01 07:27] lotas commented on #5313
@saigoud25 sure, feel free to contribute!

[2022-07-02 14:44] saigoud25 commented on #5313
hey @lotas while trying to reproduce the same issue on my local host I have got this error when opened this url http://localhost:5080/worker-manager

can you help me to get out it?

![image](https://user-images.githubusercontent.com/42228297/177005282-88fb179e-fc82-4756-b78c-88d657059664.png)

And what are the credentials for sign in?

[2022-07-02 15:17] lotas commented on #5313
@saigoud25 please check the network inspector tab to see what is the exact error
Also, how did you start the server? If you didn't provide taskcluster root url, it would talk to localhost:3050, and if nothing is running there, chances are it is going to fail like this.

Try
[code]

[2022-07-05 13:49] #5391 closed

[2022-07-05 20:14] lotas opened #5553 "Deploy built image after cloudbuild to alpha env"
Add extra step in  `cloudbuild.yaml` to automatically deploy new image to the GKE cluster.
We can create new namespace `dev` and link it to `dev.alpha.taskcluster-dev.net` domain where we can deploy our images that were built from `main` branch

[2022-07-06 15:38] matt-boris opened #5554 "Split docker-compose into prod and dev versions"
We can split `docker-compose.yml` in two:

* one for prod-like deployments: `docker-compose up -d` and you can use it
* dev-like deployment where source code will be mounted as volumes (for dev/debug purposes)

For dev deployment we need to add ui container that will run webpack (yarn start) in live mode, instead of serving statically built artifacts

[2022-07-08 15:12] Eijebong opened #5555 "The quarantine "filter by" doesn't seem to work for static workers"
I have a macos worker that is quarantined but the `filter by` filter for it doesn't seem to be working
![quarantine1](https://user-images.githubusercontent.com/3650385/178020467-748c8f9c-1ebe-440e-bad3-9257dc9d12c5.png)
->
![quarantine2](https://user-images.githubusercontent.com/3650385/178020477-f61ec6d6-40b1-4bb1-96ab-ba1108222244.png)

[2022-07-08 18:26] matt-boris opened #5556 "Migrate to Node.js v18"
v16 reaches EOL on 2023-09-11. v18 starts Active LTS on 2022-10-25 with EOL on 2025-04-30.

More info can be found [here](https://nodejs.org/en/about/releases/).

[2022-07-10 20:41] matt-boris opened #5557 "Upgrade to Debian 10 docker images"
Debian 9 ("stretch") reached EOL on 2022-06-30. We should upgrade to Debian 10 ("buster") which has LTS support until June 2024.

https://lists.debian.org/debian-lts-announce/2022/07/msg00002.html

- [ ] Upgrade and test in `infrastructure/docker-images/build-rabbit-test.sh`
- [ ] Upgrade and test in `infrastructure/docker-images/build-browser-test.sh`

[2022-07-11 14:27] petemoore opened #5560 "Create multi-arch docker images"
It is useful to have multi-arch docker images to e.g. improve performance of macOS/ARM dev deployments.

[2022-07-12 07:58] marco-c opened #5563 "The hooks service was unable to create a task"
[code]

[2022-07-14 10:18] Eijebong opened #5566 "The error display for hooks that errored out due to missing scopes shows nothing but an empty red box"
To reproduce:

- Create a hook and forget `provisionerId` in the task description. (or anything that'll make it complain about missing scopes)
- Save hook and trigger it manually. It'll tell you which scopes you're missing.
- Go back to the hook page, you'll see that the last firing failed and have an `i` button. Click it.

![hooks1](https://user-images.githubusercontent.com/3650385/178960085-25d6

[2022-07-20 08:22] lotas commented on #5391
Fix worked:
<img width="1286" alt="image" src="https://user-images.githubusercontent.com/83861/179933832-2d451245-d366-47bf-a3db-eb6ad6798732.png">

[2022-07-20 11:04] lotas commented on #5563
Thanks for reporting this @marco-c

I checked logs for the week but couldn't see this error message, so this was probably just a one-time issue. Did you get multiple reports of this?

Looking in the code it seems like this is a normal situation that can happen, although I don't see yet how. And it is being logged after hook was already executed/scheduled. Only the "logging" step failed as far as I

[2022-07-20 11:17] lotas opened #5573 "UI: Hooks view fetches all executions of a hook"
Hooks that run frequently may produce lots of tasks (like [this hook](https://community-tc.services.mozilla.com/hooks/project-mozci/check-backfills-production)).

UI page is doing a query to fetch all recent runs, which loads all tasks. Some responses reach megabytes in size and take some time to fetch from db.

TODO:
- [ ] Add server-side pagination to load less
- [ ] Add an option for UI to disp

[2022-07-20 12:18] marco-c commented on #5563
I got only one report so far.

[2022-07-20 15:08] Eijebong commented on #5278
I found another way to end up with the same error message.

If you define your client scopes as `["foo", "bar"]` on tasckluster but only request the `"foo"` scope when logging in.

I had a configuration like that:
[code]

And my client was connecting like that:
[code]

(note the missing `hooks:*`)

[2022-07-21 16:59] #5554 closed

[2022-07-25 10:04] lotas opened #5577 "UI: Create task view should provide options or templates for generic-worker/docker-worker, and should be able to lint payload before submission"
Currently if you try to create a payload it would only fail when it will reach the worker.
Would be good to provide templates in "Create task" view (because docker worker and generic worker have different payloads), plus when desired template/type is selected, we should be able to easily validate it against schema before it will reach queue and worker

Also, `generic-worker` binary has `show-paylo

[2022-07-25 10:13] lotas commented on #5577
Related to: https://bugzilla.mozilla.org/show_bug.cgi?id=1609099

[2022-07-26 16:06] #5553 closed

[2022-07-26 16:13] petemoore opened #5580 "Customisable strap line for homepage"
At the moment, every installation of taskcluster has this text on its homepage:

"A task execution framework that supports Mozilla's continuous integration and release processes."

This should be configurable text, so deployers can put whatever they like there.

[2022-07-27 20:51] #5555 closed

[2022-07-28 13:57] lotas opened #5583 "Build and publish generic-worker docker image"
Could we remove this todo and maybe make a github issue for it if you see fit?

_Originally posted by @matt-boris in https://github.com/taskcluster/taskcluster/pull/5213#discussion_r932224577_

[2022-08-02 09:55] lotas opened #5598 "Add linux/windows distribution methods"
Ideas:

Add support for `choco` on windows to install taskcluster-cli/generic-worker

Add linux support: apt/apk/snap to install taskcluster cli, generic worker and all required tools, bootstrap service to run worker.

[2022-08-02 16:24] #5577 closed

[2022-08-02 16:41] lotas commented on #5577
For now it was only implemented in the UI: task payload validation

[2022-08-03 11:34] lotas opened #5602 "Docker compose: include all background jobs under different profile(s): https://docs.docker.com/compose/profiles/"
TODO: include all background jobs from procs to the same `docker-compose.yml` with different profiles (either single `background` profile for everything, or independent `${serviceName}-jobs` individual to allow fine-grained control of what to start.

[2022-08-03 19:52] #5602 closed

[2022-08-04 15:22] ahal opened #5607 "[github] Don't forward `github-push` events when a branch is deleted"
**Describe the bug**
While doing some local testing with ngrok, I noticed that when deleting a branch Github sends a webhook with an `x-github-push` header, which the `github-web` service happily processes as if it were a regular push event. It appears that there is a `delete: true` key in the event which is I guess how you're supposed to differentiate it?

We don't check for this property in any

[2022-08-04 15:26] ahal commented on #5607
Alternatively, we may want to continue forwarding this event if there are use cases to run a "cleanup" graph when a branch is deleted? Seems unlikely, but if it's something we wanted to support, maybe we should invent a new special `tasks_for` for it or something.

[2022-08-08 08:31] Eijebong opened #5611 "The worker type selector on the `Create Task` page is missing left padding when focused"
![padding](https://user-images.githubusercontent.com/3650385/183374345-8d65d6e5-0b14-4487-91b0-7aa95a1cdae9.png)

To repro, change the worker type with the select and don't click anywhere else on the page or press tab a couple times until that element is focused.

[2022-08-08 13:40] lotas commented on #5311
Checking [github docs](https://docs.github.com/en/actions/managing-workflow-runs/skipping-workflow-runs), they support for the workflows/actions:
* [skip ci]
* [ci skip]
* [no ci]
* [skip actions]
* [actions skip]

[Circle CI](https://circleci.com/docs/skip-build) supports those:
* [skip ci]
* [ci skip]

[Gitlab](https://docs.gitlab.com/ee/ci/pipelines/#skip-a-pipeline) supports (although we don't

[2022-08-08 23:08] ahmedDevs commented on #5611
Hey, I'm interested in taking this on.

[2022-08-09 07:40] lotas commented on #5611
Hi @ahmedDevs, sure, go ahead!

[2022-08-09 08:29] lotas commented on #5311
There are few things worth discussing:

1. should it work if you push several commits at once?
* `commit1: do some work`
* `commit2: do extra changes`
* `commit3: [skip ci] this is scratch..`

Should we run the tasks? Should we just check if one of the commits have it? Should all commits have it? Should just last commit have it?

2. Should we add the same for the `pull_request` events, so when you

[2022-08-09 10:52] petemoore commented on #5311
I think this is a great idea.

We can look at other CI systems for prior art regarding the best approach here. Also [try syntax](https://firefox-source-docs.mozilla.org/taskcluster/try.html#try-option-syntax).

When a push contains multiple new commits, we run a single taskgraph, so task graphs are really per-push rather than per-commit. The task runs for the commit that was pushed, so I feel this

[2022-08-09 18:34] jonalmeida commented on #5085
I see some merged changes linked to this bug, but I'm still seeing facing this issue in mozilla-mobile/android-components with tasks that are re-run, and then put in the the pending state on TC, but not reflected in the Github UI.

[2022-08-09 19:16] lotas commented on #5085
hey @jonalmeida thanks for letting us know. This needs a bit more testing, I got stuck with missing roles and discussions who should configure those. This is also part of our priorities for this quarter. Hopefully it will be working soon

[2022-08-10 02:01] ahmedDevs commented on #5611
Hey is that the issue you're referring to?
![error-repro](https://user-images.githubusercontent.com/102767737/183794055-abe5b805-09e2-4d80-91ec-ac6b54b48e2b.png)

[2022-08-10 03:37] ahmedDevs commented on #5611
Hey, is that the error you're referring to?
![error-repro](https://user-images.githubusercontent.com/102767737/183807718-6924110b-66aa-4766-a6ba-847fe6e14058.png)

[2022-08-10 08:25] Eijebong commented on #5611
Nah. While I don't really like the circle in the middle of the button on hover, this seem to be a design choice and not a bug.

The issue I'm referring to is on the worker type selector. If you change the value from `Docker worker` to anything else and don't click back on the page, you'll see that the leftmost character is touching the left border which looks very weird.

[2022-08-10 10:47] lotas commented on #4913
I've made some changes to make it work in #5613

Initially I thought I could simply use helm templating to introduce conditional rendering `{{ if eq .Values.ingressType "nginx" }} ..` but that turned out to be problematic, since `ingress.yml` is autogenerated. And that means it goes through several YAML parsers before it comes to its final state. And all those templating constructs are not valid Y

[2022-08-10 10:55] lotas commented on #3295
I've addressed some of those concerns in #5613.

As ingress.yml is autogenerated, it is almost impossible to introduce helm templates features like flow control, to conditionally include or exclude parts of it. Instead, I've added few annotations and couple of new config values.

This allows to use ingress-nginx and certbot through annotations. And also generate proper routes for nginx

[2022-08-10 14:53] #5311 closed

[2022-08-10 15:53] #4913 closed

[2022-08-11 14:50] ahal opened #5616 "[github] Implement `public_untrusted` pullRequest policy (RFC 170)"
Issue to track implementation of the upcoming [RFC 170](https://github.com/ahal/taskcluster-rfcs/blob/github_author_association/rfcs/0170-author-association-for-PRs.md) which will introduce a new `public_untrusted` pulll request policy. This policy will allow admins to grant a separate set of scopes to pull requests opened by collaborators vs non-collaborators.

[2022-08-11 15:37] lotas commented on #5085
@jonalmeida quick update from my side, I was just fixing something related in github integration and also tested 're-run' functionality: #5617

It worked for me, but I had to make few tweaks:
- before it didn't send an error message properly if TC was setup incorrectly (missing scopes). Now taskcluster bot should send a comment with a detailed error message.
- you need to make sure that taskcluste

[2022-08-11 16:26] ahal commented on #5085
I'm a bit confused, it sounded like `reruns` were working for folks but just weren't updating Github properly? Or are you saying that your changes now require new scopes? A link to a task that hits the scope expression error would be helpful for me.

[2022-08-11 16:46] lotas commented on #5085
Reruns were working properly through cli/web ui, but not from Github pages. We added support for the `rerun` event that happens when someone clicks "Re-run" on a failed task in PR. And for this scenario, github repo needs to have roles that would allow to rerun the task.. Yeah, it's complicated :)

[2022-08-11 17:19] Eijebong commented on #5085
FYI, when I opened this issue it was about the status not getting updated when rerunning a task (from the taskcluster UI), it wasn't about the github retry button not working.

[2022-08-11 17:29] jonalmeida commented on #5085
Yes, to add clarity from myself too: it was about the status, not the ability to re-run from the GitHub UI.

[2022-08-11 20:02] lotas commented on #5085
@Eijebong @jonalmeida oops, my bad. I missed that part :) Was focused on the other side of it, will have a look

[2022-08-11 21:19] lotas commented on #5085
upd: tested this scenario locally and "it works on my machine" :D
If I rerun task locally, it sends back all statuses back to github, and I observed status of the build going from failed to succeeded. Maybe still some permission issues? Will have to debug on one of the broken repos then

[2022-08-11 22:06] jonalmeida commented on #5085
@lotas to avoid any ambiguity, I've written down some STR below and highlighted the parts in the results that is the current bug I (and probably also @Eijebong) is referring to. How this helps:

### Steps to reproduce
1. Have a task that has succeed or failed.
2. Observe in Github UI.
3. Re-run the task.
4. Before the task starts running, observe in Github UI.
5. When the task starts running, obse

[2022-08-12 05:30] ahmedDevs commented on #5611
It appears that the issue is a result of the default stylings of a certain class from the MUI library. I added code to the theme.js file to override the default styling and set it to the desired one.

[2022-08-12 06:02] lotas commented on #5085
@jonalmeida thanks, that helps :)

Okay, so the problem we are trying to solve here is that once the status was set to completed with any result, it will only stay in this state until resolved to success/fail again.
And this is actually what code is doing, it only listens to `task-failed` and `task-completed` events :)
So that's why any other states are not being reported 🤦  Gonna add more states

[2022-08-12 11:57] lotas commented on #5085
Things are getting more interesting here .. :) Turns out, this is a feature according to [this comment](https://github.com/orgs/community/discussions/24761#discussioncomment-3245360)

Okay, so we cannot simply patch the status, instead we need to trigger [rerequestRun](https://docs.github.com/en/rest/checks/runs#rerequest-a-check-run) endpoint, so github would reset status back to `queued` and era

[2022-08-12 14:09] petemoore commented on #5598
I'm starting with https://ubuntu.com/tutorials/create-your-first-snap#1-overview

[2022-08-12 15:31] lotas opened #5621 "Auto-cancellation of task groups"
Create a configuration option to auto-cancel the previously running task group on a new commit to a PR. This will free up resources, time, and $$$.

[2022-08-15 14:01] petemoore commented on #5598
After reading up a lot on snaps, AppImage and flatpak, I think I'm tempted to go with none of the above, and try https://fpm.readthedocs.io/en/latest/ instead.

Reasoning: each cross-distro solution has its own caveats/complexities, and requires that users install a package in a way that isn't idiomatic for their platform (most of the packages they install will be with their own native package man

[2022-08-16 09:14] lotas commented on #5621
TODO: Add RFC

[2022-08-16 11:56] #5611 closed

[2022-08-17 10:52] lotas commented on #5046
@Eijebong can you please confirm that this is still a thing? Trying locally, works fine.
Although status updates are not being reflected automatically, but at least UI switches to the latest run

[2022-08-17 12:25] lotas commented on #5046
Ah I see.. there are some steps missing to reproduce it.

So what I've found if you just open the task page and rerun it, it goes to new step.
If you manually switch to some step, url gets update, and reruning a task no longer takes you to the next run.

[2022-08-17 15:09] lotas commented on #5165
I believe this might have been fixed already in https://github.com/taskcluster/taskcluster/pull/5617
Please wait for next release to test, I will test it on our dev env

[2022-08-18 00:02] ahmedDevs commented on #5295
Hey, I'd like to work on this issue.

[2022-08-18 06:57] lotas commented on #5295
@ahmedDevs please do!

[2022-08-18 07:45] #5046 closed

[2022-08-18 14:22] lotas commented on #5086
Page was not listening to state updates and was simply using poll to re-fetch task every xx seconds, maybe that refetch was also not working properly. Latest fix from #5625 adds subscription to status updates, and reloads task with proper status information automatically on any task-related change.

Btw, this subscription requires that anonymous role has `queue:get-task:*` (or currently logged in

[2022-08-18 14:23] lotas commented on #4950
The first part of the problem was already resolved, `re-run` event is now being processed

[2022-08-18 14:26] lotas commented on #5085
This is very likely fixed already, will be testing on dev/stage.

Problem was two-fold:
1. github doesn't allow to update status of check runs that were resolved already (necessary to call `rerequestRun`)
2. taskcluster's github service was not listening for all status updates, only resolved/errored ones. I've added queued/in_progress listeners, and logic to rerequest check run

[2022-08-22 20:18] petemoore opened #5634 "Build go docker images "from scratch""
**Describe the bug**
We used to build docker images using `FROM scratch` so that the docker image contained just the self-contained statically linked standalone go binary that it was for, plus any additional files it required, such as a certs file, or an empty `/tmp` directory.

It looks like this changed for livelog in #3866. In that case we probably are just missing the empty /tmp directory and/

[2022-08-22 20:24] petemoore commented on #5634
The certs file can go e.g. here: `/etc/ssl/certs/ca-certificates.crt` and we can take it from e.g. https://launchpad.net/ubuntu/+source/ca-certificates

The go standard library uses the following search path: https://github.com/golang/go/blob/f2e51f00158c2dcdff37c573c24f798d1e63db31/src/crypto/x509/root_linux.go

[2022-08-24 10:41] lotas commented on #5560
Currently build fails with
[code]

we'll need to investigate if this is a CI image that doesn't support this, or something else

[2022-08-24 13:35] cknowles-admin opened #5639 "Convert taskcluster-bot from an org member to an outside collaborator"
In discussions around the upcoming effort to migrate this org to GitHub Enterprise, and enforce SAML/SSO on the org, we need to deal with the non-human members of the org.  The only one found is [taskcluster-bot](https://github.com/orgs/taskcluster/people/taskcluster-bot).  Given that it's only got access to 1 repo (this one), and is only doing repo-level things, this is a good candidate for conve

[2022-08-26 08:35] lotas commented on #5085
I am still testing this, looks like there are some extra unknowns, doesn't always work still

[2022-08-28 10:11] #5041 closed

[2022-08-29 09:45] ahmedDevs commented on #5379
Hey, if this issue is still open; I'm happy to take a crack at it:)

[2022-08-29 12:38] lotas commented on #5379
Hey @ahmedDevs, sure, be our guest :)

[2022-08-29 12:50] lotas commented on #5217
todo: check if there is a 64kb limit for a check run description

[2022-08-29 13:23] lotas commented on #5073
TODO: check how much this overlaps with actions.json

[2022-08-29 13:34] lotas commented on #5621
Possibly use index service to track previous pushes to a given PR

[2022-08-29 13:49] lotas commented on #5621
Worth checking "superseding":
https://github.com/taskcluster/taskcluster/pull/4136/files#diff-b4515503b2a0159d08b95c7630dad22a2bcb57970386b85d00d0221e9be0f4e1
https://github.com/taskcluster/taskcluster/issues/3773

[2022-08-29 14:47] lotas commented on #5214
It was boolean in the past: https://github.com/taskcluster/taskcluster/commit/f09926033d7c952a1acb0659c5ee9dadf3130a89

[2022-08-29 15:27] lotas commented on #5214
@Archaeopteryx @Eijebong @davehouse @aerickson @markcor we are curious if it is useful to use a time-based quarantine, or just explicitly quarantine and un-quarantine a worker?
How important is it to be able for a worker to unquarantine itself. We can see about 400 workers are being quarantined until year 3000. So maybe a boolean flag is more appropriate? `On/Off`

[2022-08-29 15:38] aerickson commented on #5214
I've never wanted the quarantine to automatically expire (I usually quarantine for a very long period like 1000 years).

[2022-08-29 18:20] markcor commented on #5214
It would be useful to be able to either set a temporary quarantine or a persistent quarantine.  From my perspective the major of the time we don't want to a worker to unquarantine without human interaction. This mainly applies to hardware/static workers.

I suspect that many of these workers were cloud workers that has since been terminated, so it maybe useful to have a temp quarantine there. In w

[2022-08-29 19:05] Archaeopteryx commented on #5214
Sheriffing only uses permanent quarantine actively. Automatic expiration of quarantine is useful for RelOps' duties,

[2022-08-30 07:55] #5295 closed

[2022-08-30 09:27] lotas commented on #5065
This needs several UI fixes:
1. making it clear that first textarea is for description (proper tab labels)
2. make scopes a required field and add a description about why it is needed

[2022-09-01 18:59] lotas opened #5653 "Github integration fails to change status updates"
Introduced in the latest release 44.19.1, github falls into some sort of race condition or uses incorrect check run to update status.
Example: https://github.com/mozilla-releng/build-mar/runs/8135486860
Although task was resolved https://firefox-ci-tc.services.mozilla.com/tasks/X0wOnzqKTEmMEBYPqDpNbg

Related to #5085

[2022-09-01 19:20] lotas commented on #5653
Looks like extra check-run was created
Github shows this: https://github.com/mozilla-releng/build-mar/runs/8135486860 (check run id=8135486860)

While in the database it has check run id=8135486858
[code]

[2022-09-01 19:36] lotas commented on #5653
<img width="1353" alt="image" src="https://user-images.githubusercontent.com/83861/187997781-796f5f24-2b0f-4774-afd4-91bb25d41658.png">

two handlers created check run at the same time
`taskDefined` and `status`

Status handler should check if checkrun exists right before creating new status

[2022-09-01 21:26] jcscottiii commented on #5653
I think this may also be impacting the WPT [repo](https://github.com/web-platform-tests/wpt).

There are many instances where the tasks are still in Queued.
![image](https://user-images.githubusercontent.com/7788930/188015449-f538a509-fe13-43d5-aced-542975dda765.png)

Upon examining this particular [run](https://github.com/web-platform-tests/wpt/runs/8107718187). You will see many of the taskclust

[2022-09-02 12:08] #5653 closed

[2022-09-02 15:18] matt-boris commented on #5217
Introduced last 250 lines of `live.log` in GH checks UI in [v44.20.0](https://github.com/taskcluster/taskcluster/releases/tag/v44.20.0).

[2022-09-02 15:18] #5217 closed

[2022-09-05 12:31] lotas opened #5660 "Auth service sends `401` when headers are too large"
At the moment generic worker sends this [error](https://sentry.io/organizations/mozilla/issues/3318009908/?project=6462337&statsPeriod=1h)

[code]

This `401` code is misleading, probably it is better to return other 4xx status like [431](https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/431)

[2022-09-05 12:35] lotas commented on #5660
This is coming from hawk library directly: https://github.com/mozilla/hawk/blob/main/lib/utils.js#L135

[2022-09-05 15:26] petemoore commented on #5660
Note, this happens when `task.scopes` hits a certain size, since they are encoded into the the `Authorization` header of the queue.createArtifact http request made by the worker that claims the task.

Note this is a generic issue, for any API request from a temporary client, whose scopes consume a lot of characters. I'm not sure what size limitation hawk places on the Authorization header, or whet

[2022-09-05 15:32] djmitche commented on #5660
Yeah, this is a longstanding issue :(

My understanding is that various HTTP things (servers, proxies, browsers, etc.) place various arbitrary limits on header sizes, so I don't think trying to increase the bound is a good strategy.

JWTs would suffer from the same issue.  That might be a place to start investigating: is there any "escape hatch" mechanism defined for large JWTs?

[2022-09-05 15:48] lotas commented on #5660
I wonder if we can create "disposable" role in TC, replace all those scopes with `assume:temp-role-xx` and then cleanup the role after some time

[2022-09-05 16:01] djmitche commented on #5660
You could also create a client with the necessary scopes -- but doing one for each task may be a _lot_ of client rows!

[2022-09-05 16:44] lotas commented on #5660
True .. maybe the best thing to do here is to push the responsibility on a user doing this. API should just clearly return non-`401` error when this happens, and inform user that if he needs so many scopes, he should create a role himself.

[2022-09-06 10:41] petemoore commented on #5660
If we do this, I think the size-check lives in taskcluster-lib-api (rather than hawk, of course) and status code 431 indeed is probably a more accurate reflection of the problem. Although I think the error message is more important than the response status code, as the root cause can only be determined by a user if they understand that taskcluster scopes are encoded into the Authorization header,

[2022-09-06 18:53] matt-boris opened #5663 "Upgrade to v2 Docker endpoints"
Currently getting `401 Gone` errors during the release process like here https://github.com/taskcluster/taskcluster/runs/8213362049

v1 was deprecated yesterday, September 5th https://www.docker.com/blog/docker-hub-v1-api-deprecation/

[2022-09-06 19:45] #5663 closed

[2022-09-08 09:59] Eijebong opened #5666 "A worker shouldn't stop after getting a 503"
Right now if a worker gets a 503, it'll panic, exit and never come back.

[code]

The queue service had a few issues coming back up after an update which might explain all those `EOF` lines (not related to taskcluster itself).

[2022-09-08 10:15] petemoore commented on #5666
I think the root cause was a nil pointer error, which might be why it panicked.

[code]

[2022-09-08 10:18] petemoore commented on #5666
Which release of generic-worker is this?

[2022-09-08 10:27] Eijebong commented on #5666
Unfortunately a pretty old one, `44.2.2`

[2022-09-08 11:09] petemoore commented on #5666
Looks like the bug lies in the go client [here](https://github.com/taskcluster/taskcluster/blob/v44.2.2/clients/client-go/http.go#L255). The `HTTPResponse` appears to be `nil` and the code doesn't handle this case. Perhaps because the connection was terminated prematurely.

[2022-09-09 09:49] lotas opened #5669 "Enhance github integration: Include more useful information in check run output"
At the moment, when task is finished, github service is sending `output.text` information for each check run, like [here](https://github.com/taskcluster/taskcluster/pull/7057/checks?check_run_id=26643525105)

At the moment it includes:

[code]

Some ideas what could be included as well, in order to provide as much information as possible:

- total task execution time, when started, when finished,

[2022-09-09 10:46] petemoore commented on #5669
Great ideas, Yarik!

[2022-09-09 16:56] #5666 closed

[2022-09-12 12:56] samihda commented on #4534
@djmitche I created a PR to address this, please have a look.

[2022-09-14 09:25] #4534 closed

[2022-09-21 12:00] Eijebong opened #5677 "Clicking on the cross to clear the quarantine time field validates the form and tells you `Invalid time value`"
To reproduce:

- Go to a worker's page, click on `Update quarantine`
- On the popup that opens, click on the cross to empty the date input

![](https://img.bananium.fr/eijebong/25ecb0ac-c786-4527-ad59-33727d7826d6.png)

[2022-09-21 12:04] Eijebong opened #5678 "When unquarantining a worker and using the breadcrumbs menu at the top, the workers table doesn't get updated"
To reproduce:

- Go to a worker's page, update its quarantine settings
- Click on the worker type in the breadcrumb menu
  - `windows` here: ![](https://img.bananium.fr/eijebong/175f1300-90be-4575-af8a-25b51f35587c.png)
- The table still shows the previous quarantine info which is kind of annoying if you're de-quarantining multiple workers and forgot which one you just did.

[2022-09-21 12:26] Eijebong opened #5679 "Add the information about pending tasks on a worker type's page"
The information is in the table shown on a provisioner's page:

![](https://img.bananium.fr/eijebong/c6a9ba46-ba4f-411b-a6e2-10218fae59ba.png)

But once you click on the worker type you're interested in, the information isn't accessible anymore. You have to go back to the table to get it. It would be nice if it could be displayed there too. Maybe at the top between the breadcrumb and the table?

!

[2022-09-23 15:58] Eijebong opened #5680 "Suggestion: Add a way to find back the names of registered static workers"
I have a `test` worker pool with a registered worker which is a machine that doesn't exist anymore.

I would like to reuse that worker name to avoid having to register a worker again and can't find a way to get said name back because the workers table is empty (the old machine hasn't communicated for a while).

Maybe there could be a way to see all workers that were registered manually? (Not even

[2022-09-27 06:42] ahmedDevs commented on #5379
PR submitted.

[2022-10-03 15:11] matt-boris commented on #5639
@cknowles-admin @aerickson-admin could we please get this migrated over and I'll verify things are working still over the following days? Feel free to slack me

[2022-10-04 10:57] cknowles-admin commented on #5639
I'll reach out on slack for final negotiations.

[2022-10-04 13:28] cknowles-admin commented on #5639
Confirmed that they had email/login capabilities, and that there are no timing restrictions.
Did the conversion - confirmed that the bot account maintained the access to the taskcluster/taskcluster repository that it had as a member.
At this point I think this is closed, but feel free to reach out if there are questions or concerns.

[2022-10-04 13:28] #5639 closed

[2022-10-04 13:30] matt-boris commented on #5639
Thanks for your help @cknowles-admin!

[2022-10-14 15:30] Eijebong opened #5708 "The new dashboard caps numbers at 1000 for paginated APIs"
I have more than 1000 roles on my instance but because that API is paginated, it only shows 1000 (max per page) roles on the dashboard

![](https://img.bananium.fr/eijebong/c667bda6-ecd8-4784-8a52-5b81d4530ace.png)

[2022-10-14 15:32] Eijebong opened #5709 "Going from a privileged user to an unprivileged one doesn't clear the dashboard until a page refresh happens"
To reproduce:

- Login as a privileged user (access to all APIs), wait for the dashboard to load
- Logout
- Log in as an unprivileged user (access to no API or less)
- See that the dashboard is still there with numbers from all APIs

Refreshing the page after logging in makes those values disappear

[2022-10-17 08:59] lotas commented on #5708
Nice one. I will use this bug to also add some auto-refresh for the dashboard.

[2022-10-17 14:45] lotas opened #5716 "Docker worker incorrect proxy credentials"
Reported by @marco-c in https://chat.mozilla.org/#/room/#taskcluster:mozilla.org

Some tasks fail with scope errors when trying to fetch secret.

https://community-tc.services.mozilla.com/tasks/FS86-USUQbKXUQV9TbX9iw, https://community-tc.services.mozilla.com/tasks/bNenmYf3Su-cVikF3ZMOZw, and https://community-tc.services.mozilla.com/tasks/DOrbz0lxQrWcxFh-X7K6sg are other examples

Investigation s

[2022-10-17 15:20] lotas commented on #5716
Around 400 errors logged since 12th of October

<img width="2668" alt="image" src="https://user-images.githubusercontent.com/83861/196217136-40b30f96-9769-40cf-94c3-cd3928389494.png">

[2022-10-18 12:00] lotas commented on #5716
Rolling back to 44.21.0 stopped those errors from showing up.

There were few changes that could have caused that in 44.22.0:
* node upgrade to 16.17.1
* dependency upgrades
* clients were updated

[2022-10-18 12:40] lotas commented on #5716
Some of the task contained matrix routes that were failed to be processed because of the broken upgrade

[2022-10-18 14:08] lotas commented on #5716
@petemoore commented in slack:

and then we can hopefully fix the underlying problem too

[2022-10-19 07:30] lotas commented on #5716
Latest release contains fix for this issue: https://github.com/taskcluster/taskcluster/releases/tag/v44.22.1

[2022-10-19 07:30] #5716 closed

[2022-10-19 13:18] petemoore opened #5726 ""certificate has expired" sentry alerts for github service"
**Describe the bug**
Sentry issue: https://sentry.io/organizations/mozilla/issues/3555315507/?project=6459385

Exception "certificate has expired" being raised by github service when trying to fetch live log of a task.

**Expected behavior**

**Taskcluster version**
Sentry reports this started in taskcluster release 44.20.0.

**Screenshots**
![image](https://user-images.githubusercontent.com/19079

[2022-10-19 17:15] lotas opened #5728 "Github status handler slowing down on FxCI"
Firefox CI last upgrade to `44.21.0` had to be reverted after few hours, as status handler stopped sending status updates.

Now, with the `44.22.1` upgrade there seems to be similar symptoms: status handler slows down and new messages are being processed very slowly:
* number of "ready" messages in rabbitmq can stay on a 50-200 range for few minutes
* some handlers take 20+ minutes to finish (fetc

[2022-10-20 08:25] #5726 closed

[2022-10-20 20:42] lotas commented on #5728
So the problem with turning callHandler from sync to async was that pulse consumer was pausing until it could process and ack those messages.
Looks like default `prefetch` is `5` and if handlers take longer to process, messages would start to pile up.

Before that, all messages would be thrown at handler and executed in parallel. But without being acked right away, status handler only processes 5

[2022-10-25 12:13] petemoore opened #5734 "Take a firefox ci decision task, and work out how to transform it to run under generic-worker"
In order to run docker-worker tasks under generic-worker, it is desirable to have the facility to take a docker-worker task, and transform it into a generic-worker task.

This transformation eventually could be performed in several places:
* inside generic-worker itself; first identify that the task has a docker-worker payload, transform it to a native generic-worker format, and then internally ex

[2022-10-25 13:06] petemoore commented on #5734
Here is a real world decision task from firefox-ci deployment of taskcluster:

* in [treeherder](https://treeherder.mozilla.org/jobs?repo=mozilla-central&revision=ca2873779214f6109ffe1b23e1455350294ac325&selectedTaskRun=XJZwMq2zRI6ZXs7KveM5GQ.0)
* in [taskcluster](https://firefox-ci-tc.services.mozilla.com/tasks/XJZwMq2zRI6ZXs7KveM5GQ)

Note this example task expires on 20 October 2023, so here is

[2022-10-25 13:23] petemoore commented on #5734
The task has been converted to a generic-worker payload [here](https://community-tc.services.mozilla.com/tasks/FF2pTY2BQliF4raM4_HiIQ/runs/0).

In order to preserve the task definition, since it will expire on 24 October 2023, here it is in full:

[code]

The following is an explanation of the transformation that was performed.

1. Give the container a name, because we are going to extract artifac

[2022-10-25 13:24] #5734 closed

[2022-10-25 14:38] petemoore opened #5735 "Work on docker-worker deprecation decision brief"

[2022-10-25 16:11] #5728 closed

[2022-10-26 16:15] ahal opened #5737 "Save task group filters as a URL parameter"
This is essentially a clone of https://github.com/taskcluster/taskcluster/issues/5313 except for the task group filter. Sometimes graphs can have hundreds (or thousands) of tasks and you need to filter down to the set you care about. Only if you navigate away (e.g by clicking a task) and then go back, the filter is lost and you need to type it out again.

If the filter were added as a URL param, t

[2022-10-27 13:36] petemoore opened #5739 "Grant dw-ci tasks the docker-worker capability disableSeccomp"
The `disableSeccomp` capability is required by the dw-ci task that runs the docker-worker tests, in order that the docker-worker tests themselves have the capability.

_Originally posted by @jschwartzentruber in https://github.com/taskcluster/taskcluster/issues/5695#issuecomment-1271591913_

[2022-10-27 18:37] ahal opened #5742 "Context menu labels not visible except for half of last character"
**Describe the bug**
The three dot context menu labels are covered in solid blue. Just the last character is partially visible. See screenshot.

This is reproducible for me on all tasks and task group pages.

**To Reproduce**
Hover over the three dot menu on any task or task group.

**Expected behavior**
Labels are visible.

**Taskcluster version**
44.20.4 and 44.23.0 (I can repro on fxci and comm

[2022-10-27 18:38] ahal commented on #5742
I wonder if this is a Firefox bug, as I'm not aware of any recent TC deployments and I can't reproduce this in Edge..

[2022-10-27 18:40] matt-boris commented on #5742
I just tried reproducing on stable Firefox and cannot. Though, I am seeing this on Nightly.

[2022-10-27 18:43] matt-boris commented on #5742
I actually can't reproduce anymore after getting the latest Nightly

[2022-10-27 18:44] ahal commented on #5742
Oh lol, I just updated and can't reproduce anymore either.. Must have been a regression that got fixed recently. Figures I would file this with the fix just waiting to be applied on my system.

[2022-10-27 18:44] #5742 closed

[2022-10-31 11:50] #5737 closed

[2022-10-31 16:37] escapewindow commented on #5734
Running docker as root directly in the task.payload.command is not recommended for security/auditing purposes.

[2022-11-02 17:52] jwmoss commented on #5598
@lotas Happy to help with the chocolatey implementation.

[2022-11-04 13:56] matt-boris commented on #5739
Completed via https://github.com/taskcluster/taskcluster/pull/5744

[2022-11-04 13:56] #5739 closed

[2022-11-04 17:59] ahal opened #5759 "Dependents / Dependencies should re-paginate after entering a search term into the filter"
**Describe the bug**
If a task has a lot of dependents or dependencies, the list will get paginated (so you have to click little arrows to see the next batch). However, if you use the filter bar above these, it'll keep all the pre-existing pages. The result is that the filtered tasks will still be on the same "page" as they were before, and you'll have to page through all pages to find them.

**To

[2022-11-04 18:06] ahal opened #5760 "Dependent filter stays applied after clicking to new task"
**Describe the bug**
I noticed this while filing #5759

If you apply a filter to the dependents list, that filter will still be applied after clicking through to a sub-task. In the sub-task, there is no way to remove the filter without hard refreshing or going back and removing the filter from the parent task.

**To Reproduce**

Steps to reproduce the behavior:

1. Go to https://firefox-ci-tc.serv

[2022-11-08 18:06] djmitche commented on #4605
Let's put this behind a worker configuration flag that controls whether it creates an type=s3 or type=object artifact.

[2022-11-08 18:23] escapewindow opened #5767 "[clients] verify hashes for simple downloads"
If this isn't implemented already.

[2022-11-08 19:23] djmitche commented on #5767
By this, do you mean something like
[code]

[2022-11-09 10:00] Archaeopteryx opened #5770 "support for bulk scheduling of tasks by submitting a task blob"
Mozilla uses a "Gecko Decision Task" which schedules all tasks which shall run for a push. There are also cron tasks which can add additional task sets, e.g. for releases.

If such a task starts to run and schedule tasks but fails to complete (most commonly because the spot instance gets revoked), it will run again and schedule the already submitted tasks a second time. This can cause issues like

[2022-11-09 10:20] jcristau commented on #5770
Some more context:
- tasks typically have a dependency on the decision or action task that schedules them so if the decision task fails then nothing in the graph runs
- however that doesn't help in case the failure was intermittent, the decision task gets rerun, and the rerun is green, because them any tasks that were created by run 0 are unblocked when run 1 is green; we mitigated that somehow fo

[2022-11-09 11:54] petemoore commented on #5770
Ahhhhhh nasty! Thanks for raising. Indeed, we certainly should implement protections here. I would like to open up the discussion about the best way to solve this, as I can imagine several different approaches that would have relative merits and disadvantages. For example, one possible solution might be to optionally be able to declare a task as depending on a specific run of a given task. But the

[2022-11-09 12:00] petemoore commented on #5770
Note, if the submission of a task blob and the resolution of the current task is not an atomic operation (i.e. a single API call) then there is still a risk that a spot termination occurs after a task has submitted a task blob, but before it has resolved the task as successful.

[2022-11-09 15:15] djmitche commented on #5770
It'll be worth doing a bit of bug archaeology here, as we've considered this before.

The main objection, IIRC, was that the queue's web process is in no better position to atomically create 1000's of tasks than the client -- so we would have a `queue.bulkCreateTasks` method which could fail having only partially accomplished its goal.  And, that call would take a long time to run - more than the

[2022-11-09 16:54] escapewindow commented on #5770
GMTA!

IIRC, historically (pre-taskgraph), we did generate the entire task group in memory (I think including the taskIds and datestrings) and scheduled it in a single submission to the scheduler service. Since then, things have changed:

- @djmitche wrote taskgraph,
- Releng stopped using bespoke ways of generating release graphs and instead used in-tree taskgraph,
- and the Taskcluster team EOLe

[2022-11-14 12:45] Archaeopteryx opened #5773 "taskcluster pages fail to load: TypeError: can't access property "displayName", n.profile is undefined"
**Describe the bug**
When I opened https://firefox-ci-tc.services.mozilla.com/worker-manager today, the error message `TypeError: can't access property "displayName", n.profile is undefined` got shown in red. The behavior was reproducible with visits to https://firefox-ci-tc.services.mozilla.com/

The issue was resolved after I deleted cookies, local storage etc.

The account used for login is not

[2022-11-14 12:54] Archaeopteryx commented on #5773
console:
[code]

[2022-11-14 20:20] djmitche opened #5774 "`build.sh` modifies `go.sum/mod` in a fresh checkout"
**Describe the bug**
The `build.sh` script for `generic-worker`, run in a fresh checkout, modifies `go.mod` and `go.sum`

**To Reproduce**

[code]

**Expected behavior**
`go.mod` and `go.sum` should be the way Go "wants them to be", so `./build.sh` should not produce any changes.

**Taskcluster version**
`main`

**Screenshots**

**Platform (please complete the following information):**

 - OS: [e.

[2022-11-14 20:53] escapewindow commented on #5767
I filed this after our object service meeting.
Looks like `taskcluster download` already exists. If we also verify the sha on download, either with a flag or by defaulg, then this issue is resolved.

[2022-11-14 21:09] djmitche commented on #5767
Ah, in fact it does not verify the hash on download, as the client-go implementation does not.  In fact, it looks like none of the clients do so for "simple" downloads.  I think the intent was to implement this with the "full" download type, but in principle there's no reason not to do so with the simple type (and it would avoid potential downgrade attacks).

@escapewindow can you assign this to m

[2022-11-14 22:18] djmitche commented on #4605
OK, I put a bit of time into this today:
 * getting generic-worker tests passing
 * refactoring artifact handling into a Go package

The tricky bit I see here is that object-service's putUrl upload method does not support a non-identity content-encoding.  This is by design: the simple download method cannot assume that the receiver supports any particular encoding, and at least S3 does not support

[2022-11-14 22:19] djmitche commented on #4605
Ah, I did think about this way back when.  From the docs of the `putUrl` method:

so I guess that's not tricky :)

[2022-11-14 22:28] djmitche commented on #4607
I don't think this is required, for two reasons:
 * docker-worker is being removed (still!)
 * docker-worker just uses `GET` to get artifacts, and that continues to work without change for object artifacts.

[2022-11-14 22:28] #4607 closed

[2022-11-14 22:32] djmitche commented on #5767
Hm, https://github.com/taskcluster/taskcluster/issues/4624 suggests a slightly-more-than-simple download method, which includes hashes.  I'll add a note there that clients should support some "allow un-checked downloads" option, without which the "simple" download method will not be alowed, thereby avoiding downgrade attacks.

So, I think there's nothing to do here, but let's leave this open depen

[2022-11-14 22:36] djmitche commented on #4624
Once this method is available, we'll want a way for callers of client libraries to ensure that they are using it (and thus checking hashes).  This will help avoid "downgrade attacks" where an attacker forces a "simple" method and then forges object data.  I don't see a way for an attacker to do so, but let's avoid the possibility anyway.  This can be accomplished by just not proposing the "simple"

[2022-11-15 14:52] matt-boris commented on #5735
Yarik's working on https://docs.google.com/document/d/11HmwfVzAmAjLOrYuRo8ghsZyYkUHGNTIbrkiuqpPlUY/edit#

[2022-11-15 16:02] whimboo opened #5776 "Scrolling in an interactive task shell doesn't work"
**Describe the bug**
Shell for interactive tasks doesn't allow to scroll through the output.

**To Reproduce**

Steps to reproduce the behavior:

1. Go to a [Marionette job on Treeherder](https://treeherder.mozilla.org/jobs?repo=mozilla-central&searchStr=mn%2Clinux%2Cship%2Cheadless&revision=e41a026123699f325cc4931a405d41c69ac729c5&selectedTaskRun=X4jqMhi1TOCJwu35_DOrbA.0)
2. Click the ellipse in

[2022-11-15 16:36] whimboo commented on #5776
Actually this only seems to happen after closing the tab with the connection details, and switching back to the shell tab.

[2022-11-15 20:45] matt-boris opened #5779 "View Logs button in GH Checks UI sometimes has `undefined` runId in link"
Here's an example link that returned a 400 bad response: https://community-tc.services.mozilla.com/tasks/QSSAaYHjTpChZfwphV2Dqg/runs/undefined/logs/public/logs/live.log.

[2022-11-16 14:27] petemoore opened #5781 "Generic worker test failures difficult to find"
When generic-worker tests fail in the CI, the failure text is often not at the end of the log, but at the point the test occurred, which can make it harder for people not familiar with this, to find the failures. It might (?) be nicer if we specify `-failfast` when running generic-worker tests so that tasks stop as soon as they hit a failure.

Note, an alternative would be to log a message after t

[2022-11-16 14:33] djmitche commented on #5781
Part of the issue is that "FAIL" appears frequently in the normal test output, so it's a bit difficult to find.  I find this a little more difficult when running tests locally, than in CI -- my scrollback buffer is so big and its search facilities are not great.

[2022-11-16 15:12] petemoore commented on #5781
Yeah, I tend to suffix a `:`, i.e. search for `FAIL:` rather than `FAIL` but indeed, it isn't ideal. We could also update `build.sh` to not generate the verbose output too...

[2022-11-16 15:16] petemoore commented on #5781
I've added cc505b1249f694155e3b7effa01b0a3ac3ae8cb9 in #5782 to do that now...

[2022-11-16 20:36] escapewindow commented on #5781
One thing I've done is:
- run the tests through a wrapper
- have the wrapper parse the output for substrings like `FAIL:` while also outputting to the console or logfile
- at the end of the run, output a summary of the run, e.g. all `FAIL:` lines detected with a count of the failures

[2022-11-17 10:58] Eijebong opened #5785 "Generic-worker crash on macos when trying to spawn `taskcluster-proxy` but unable to do so"
Not entirely sure why, I can see that the worker leaves a lot of `taskcluster-proxy` zombies behind, might be related.

[code]

[2022-11-17 11:05] petemoore commented on #5785
Thanks @Eijebong! Which version of generic-worker is this?

On main, the line that panics seems to be this one, but that confuses me, as grabbing a mutex shouldn't cause a fork/exec failure!

https://github.com/taskcluster/taskcluster/blob/main/workers/generic-worker/tcproxy/tcproxy.go#L61

The generic-worker logs should report when they terminate taskcluster-proxy, and also when they start it. Do

[2022-11-17 11:10] Eijebong commented on #5785
Oh right, I always forget. This is `44.2.2`.

[2022-11-17 11:33] Eijebong commented on #5785
Also doesn't `[taskcluster:error] github.com/taskcluster/taskcluster/v44/workers/generic-worker/tcproxy.(*TaskclusterProxy).Terminate(0x0, 0x0, 0x0)` mean that `l` here is `0x0`? That would explain why.

My guess is that the worker calls terminate if the proxy fails to spawn. So let's dig up...

If we go back from the stacktrace with the hypothesis that `l` is indeed `0x0` it would mean that it wa

[2022-11-17 16:12] #5779 closed

[2022-11-18 13:30] lotas commented on #5773
I wonder how is it possible to login with out mozilla account? Is it still through auth0 or using credentials?

[2022-11-18 13:40] Archaeopteryx commented on #5773
Auth0 backed by an LDAP account.

[2022-11-18 16:33] Eijebong opened #5786 "generic-worker leaves zombie taskcluster-proxy processes behind"
![image](https://user-images.githubusercontent.com/3650385/202754608-2b17d6a6-e86b-4d58-b59a-6e2ea0c50ab2.png)

Version: 44.2.2

[2022-11-20 21:30] djmitche commented on #4604
We won't be adding more functionality to docker-worker, so this won't get done.

[2022-11-20 21:30] #4604 closed

[2022-11-20 21:42] djmitche opened #5788 "Sort out handling of content-encoding"
Current status:
 * S3 does not support Accept-Encoding.  It just returns objects with the Content-Encoding with which they were uploaded.
 * GCS supports Accept-Encoding, and will [uncompress a gzip-encoded object if the HTTP client does not accept gzip](https://cloud.google.com/storage/docs/transcoding).
 * The queue service's S3 artifacts are just S3 objects and thus don't support Accept-Encodin

[2022-11-21 10:13] #5379 closed

[2022-11-21 10:54] #4605 closed

[2022-11-22 21:09] djmitche opened #5791 "Require hashes on objects"
Let's set some kind of enforced minimum of hashes for an object upload to be accepted, which downloaders can then expect to find.

For the moment, we define `sha256` and `sha512`, but don't say anything about when they must be defined.  Over the years, we'll probably want to add hash algorithms, and eventually older hash algorithms will be deprecated (as md5 and sha1 have been), so we should have

[2022-11-22 21:10] djmitche commented on #5791
Oh, we should probably also update schemas so that the hash algorithms are named for downloads, too.  Right now upload specifies the two algorithms, while download is just a string->string map.

[2022-11-22 22:28] lotas commented on #5791
I like the idea of making it strict and enforcing user to provide secure hashes (plus possibly disallowing weak ones).
Question here would be if we want to allow objects to be uploaded without hashes, or objects with incomplete set of hashes?

[2022-11-23 01:18] glandium opened #5792 "log viewer doesn't handle sgr0 escape sequence"
**To Reproduce**

Steps to reproduce the behavior:

1. Go to https://firefox-ci-tc.services.mozilla.com/tasks/create
2. Create a docker-worker task with the payload:
[code]
4. Once the task is completed, open its log.
5. See below

**Actual output**
[code]

**Expected output**
[code]

**Taskcluster version**
44.23.4

**Additional context**
The sgr0 escape sequence essentially resets things that ha

[2022-11-23 01:20] djmitche commented on #5791
I think we should disallow uploads without hashes -- there's absolutely no reason not to have a hash for an uploaded file.  Hashes can be provided after the upload is completed, so hashing doesn't even require reading a data stream twice.

I think incomplete sets are OK, since that allows us to slowly phase-in new algorithms, and phase in new algorithms.  So we'll sort of have a sliding window of

[2022-11-23 12:08] lotas commented on #5792
Hi! Thanks for reporting this.
View log is using this [react-lazylog](https://github.com/mozilla-frontend-infra/react-lazylog) component to render logs.
I checked it, and it is not using external libraries for parsing, so we'd have to patch that component to add support for additional sequences.

[2022-11-23 15:52] petemoore opened #5793 "Provide support in generic-worker for audio loopback and video loopback inside docker containers"

[2022-11-23 16:43] djmitche commented on #4606
Reopening to track testing this.  I created
 * https://github.com/mozilla/community-tc-config/pull/531
 * https://github.com/mozilla/community-tc-config/pull/532
to generate scopes to run a local generic-worker instance as a static worker, and then created [a task for it](https://community-tc.services.mozilla.com/tasks/QVK0BevBQeKbpNjiHbnUXw).

This failed with
[code]

[2022-11-23 16:58] djmitche opened #5794 "Static workers' workerConfig is "locked" at createWorker time"
The workerConfig supplied to a static worker via `registerWorker` is stored in the `providerData` row of the `workers` table, and [put there in `createWorker`](https://github.com/taskcluster/taskcluster/blob/51ac97dcac93f8a219a464c0753a8d914899a449/services/worker-manager/src/providers/static.js#L26).

This means that if you modify the workerConfig in the worker pool after calling `createWorker`,

[2022-11-24 15:10] djmitche commented on #4606
@lotas pointed out that there's a cluster that's easier to admin: https://dev.alpha.taskcluster-dev.net/

So let's use that.  We'll need:
 * A backend configured (S3 is easiest, and just mapping all objects to that backend is easiest)
 * The same configs as in [community-tc-config](https://github.com/mozilla/community-tc-config/blob/c1fcf15e00379d6f7c996be036fc8cbdbcf7256c/config/projects/taskclus

[2022-11-24 17:53] djmitche opened #5795 "generic-worker must call finishArtifact for object artifacts"
All other artifact types do not require this, so I missed adding it for type=object

[2022-11-28 12:03] Eijebong opened #5797 "Docker worker just hangs when it cannot pull the image for its task"
The task doesn't fail but stays running. Was getting 403s when trying to get an image

[2022-11-28 13:51] lotas opened #5798 "Add dashboard with worker distribution status"
We would want to track how many tasks are being run by which worker type.
This will give us a quantitative and visual clues when we will migrate off to generic worker

UPD: Instead of guessing worker type inside services, and then exposing this information through logs, we'd go the other way. We would use existing utils  [mozilla-history](https://github.com/taskcluster/mozilla-history/) and [commu

[2022-11-28 14:45] #5795 closed

[2022-11-28 14:59] lotas commented on #5798
Might be worth considering #5306 #2982 to collect this information from the workers directly

[2022-11-28 15:48] petemoore opened #5799 "disableSeccomp CI test failing"
**Describe the bug**
We are hitting the following permafail in taskcluster CI for docker-worker-chunk-2 tasks:

[code]

From [this manually crafted task](https://community-tc.services.mozilla.com/tasks/KVt31Cu_TXGocWO6yshomQ/runs/0) we can see that the disableSeccomp capability [works](https://serverfault.com/questions/929589/docker-check-if-default-seccomp-profile-is-applied) as intended. However

[2022-11-29 09:22] marco-c opened #5804 "https://firefox-ci-tc.services.mozilla.com/hooks/project-relman/code-review-production errors out with 504"
Loading https://firefox-ci-tc.services.mozilla.com/hooks/project-relman/code-review-production or https://firefox-ci-tc.services.mozilla.com/hooks/project-relman/code-review-testing doesn't work. After a while, the following error is displayed:

[2022-11-29 10:25] lotas commented on #5804
So there's a network time out.
And I believe that's because it tries to fetch _all_ last fires without pagination.
For the `project-relman/code-review-production` it already has `203461` records, which will probably take long to serialize to respond.

We should introduce proper pagination and maybe split calls to load page without that initially.

[2022-11-29 11:21] lotas commented on #5804
related to #4870

[2022-11-29 11:25] lotas commented on #5804
Discovered that it's not only the UI that tries to fetch everything, hooks api is also loading all of the fires to determine the most recent one

[2022-11-29 22:30] lotas opened #5807 "Github webhook is being rejected with 403 and x-hub-signature mismatch"
It seems like some of the check runs are affected and could not reach github handlers.

Clicking re-run on this one: https://github.com/taskcluster/taskcluster/pull/5805/checks?check_run_id=9774357242
Makes webhook payload to be rejected with 403
<img width="741" alt="image" src="https://user-images.githubusercontent.com/83861/204662584-98a7fc6e-4916-48cc-a912-a1eeed32b4a8.png">

But another one i

[2022-11-29 22:31] lotas commented on #5807
**Headers**

[code]

**Payload**

[code]

[2022-11-29 22:38] lotas commented on #5807
Maybe it has something to do with `check_run.output.text` that is different for successful and failed tasks, which include some characters that are being treated differently on github side and on webhook handler side?

[2022-11-30 15:27] #5634 closed