[2019-11-19 21:19] #1412 closed

[2019-11-19 21:33] helfi92 commented on #2031
SGTM. We could include a time picker.

[2019-11-20 05:38] Manish-Giri commented on #2031
Hello, I'd like to give this a shot. If anyone could give a brief overview on what needs to be done, that'll be very helpful.

[2019-11-20 05:58] Manish-Giri commented on #1878
I'd be interested to work on this, if it is still open.

[2019-11-20 13:59] helfi92 commented on #2031
Awesome, thanks @Manish-Giri. Here's what I think should be done:

The change will need to be done in our custom [DatePicker](https://github.com/taskcluster/taskcluster/blob/master/ui/src/components/DatePicker/index.jsx) component. We would need to stop using `KeyboardDatePicker` and instead use [DateTimePicker](https://material-ui-pickers.dev/demo/datetime-picker).

https://github.com/taskcluster

[2019-11-20 14:01] helfi92 commented on #1878
@Manish-Giri I just assigned you to a different issue. Let's do one at a time :)

[2019-11-20 14:05] helfi92 commented on #1953
Resolved in https://github.com/taskcluster/taskcluster/commit/ab2fb8a17789ba40592c8ce82d93441cd4690989.

[2019-11-20 14:05] #1953 closed

[2019-11-20 14:23] #1968 closed

[2019-11-20 17:08] vishakhanihore opened #2044 "docs.taskcluster.net redirects to community deployment"
Wrong link to documentation in Repository Description as it is still pointing to `taskcluster.net`

[2019-11-20 17:09] vishakhanihore commented on #2044
@helfi92 @djmitche  I think only guys can fix this up 😅

[2019-11-20 18:18] #1934 closed

[2019-11-20 18:32] djmitche commented on #2044
What link are you describing?

And, why can only guys fix it??

[2019-11-20 18:32] vishakhanihore commented on #2044
The link given in repo description. Only repo maintainers can fix it.

On Thu, 21 Nov, 2019, 00:02 Dustin J. Mitchell, <notifications@github.com>
wrote:

[2019-11-20 18:48] djmitche commented on #2044
This one?

![image](https://user-images.githubusercontent.com/28673/69268056-6d9c8780-0b9c-11ea-83d2-015d614dffde.png)

that's fine -- it's docs.taskcluster.net, which will stay as the docs generated from the master commit.

[2019-11-20 18:53] vishakhanihore commented on #2044
But it redirects to communitytc

On Thu, 21 Nov, 2019, 00:18 Dustin J. Mitchell, <notifications@github.com>
wrote:

[2019-11-20 19:03] djmitche commented on #2044
That's definitely a bug -- we're working on it now.

[2019-11-20 22:43] #1244 closed

[2019-11-21 02:45] rpappalax commented on #1997
Firefox Nightly on MacBook Pro.  Others on my team are seeing same.

[2019-11-21 08:43] tomprince opened #2049 "[UI] Worker page appears to only display only the month of the quarantine."
If you look at [thjis worker](https://firefox-ci-tc.services.mozilla.com/provisioners/scriptworker-k8s/worker-types/comm-3-tree/workers/comm-3-tree/comm-3-tree-bgwc9kawqe6l3is4uydwpg), it has a quarantine of `3019-11-21T04:53:54.847Z` but only displays `11`.

[2019-11-21 08:49] vishakhanihore commented on #2044
Ok, cool atleast there was a bug.

[2019-11-21 12:41] helfi92 commented on #2044
Fixed.

[2019-11-21 12:41] #2044 closed

[2019-11-21 12:44] helfi92 commented on #2049
This was fixed in https://github.com/taskcluster/taskcluster/pull/1954. It should be there in the next deployment. One thing we could do here is add the time in addition to the date. I'll make sure it's being taken care of in https://github.com/taskcluster/taskcluster/issues/2031.

[2019-11-21 12:44] #2049 closed

[2019-11-21 14:32] helfi92 commented on #1773
Resolved in https://github.com/taskcluster/taskcluster/commit/be2876a740821888562fbd57717fadadc42b37b5.

[2019-11-21 14:32] #1773 closed

[2019-11-21 15:10] #1900 closed

[2019-11-21 16:21] #1906 closed

[2019-11-21 18:59] Manish-Giri commented on #2031
@helfi92 Thank You for the detailed explanation! I'm on it.

[2019-11-21 19:01] helfi92 commented on #1961
How is it going @mmbis?

[2019-11-21 19:02] mmbis commented on #1961
Just got it up and running in the browser. Will look at the bug tonight and into the weekend! Thanks for the help.

[2019-11-21 20:00] helfi92 commented on #1961
Great to hear!

[2019-11-22 14:30] aryamanpuri opened #2058 "Engine "node" is incompatible with this module"
Taskcluster works on node version "10.16.3".
But those developers who are on node version more/updated than "10.16.3"  are giving the error "The engine "node" is incompatible with this module".
How to make it comfortable for the developer to have version equal to or more than "10.16.3" will work fine for them.

[2019-11-22 14:33] djmitche commented on #2058
We require a specific version of Node, to avoid issues with differences between node versions.  The tool `nvm.sh` makes it very easy to switch node versions, so we suggest using that.

Note that we now require node 12, rather than node 10.

[2019-11-22 14:34] djmitche commented on #2058
See https://github.com/taskcluster/taskcluster/blob/d6a4adddb44f22c6b202773ce334bfdff56de8c5/dev-docs/development-process.md#node

[2019-11-22 14:34] #2058 closed

[2019-11-22 15:48] #1903 closed

[2019-11-22 15:48] #1990 closed

[2019-11-22 15:48] #1997 closed

[2019-11-22 15:48] helfi92 commented on #1903
This is fixed in the next deployment of Taskcluster.

[2019-11-22 15:49] helfi92 commented on #1997
The fix will make it in the next deployment of Taskcluster.

[2019-11-22 15:54] km-js commented on #1539
Should I try??

[2019-11-22 15:55] vishakhanihore commented on #1990
I was going to send the PR @helfi92 😅. Anyway faster the resolve better is
it.

On Fri, 22 Nov, 2019, 21:18 Hassan Ali, <notifications@github.com> wrote:

[2019-11-22 16:41] #1949 closed

[2019-11-22 16:41] helfi92 commented on #1949
This will be available in the next deployment of Taskcluster.

[2019-11-23 07:08] Manish-Giri commented on #2031
Hi @helfi92, I'm having some trouble getting the environment up and running, and was hoping you might be able to shed some light.

1. [web-server](https://github.com/taskcluster/taskcluster/tree/master/services/web-server) - Since Taskcluster ui requires the `web-server` service to be running on port 3050 prior to launching the UI, I  followed the instructions [here ](https://github.com/taskcluste

[2019-11-23 13:47] aryamanpuri commented on #1878
@helfi92 Can I take this issue ?

[2019-11-23 14:09] ededals commented on #1878
Hey @aryamanpuri  what I found out is that there is some conflict in mdx package. At least the MDX component is the one that is throwing the error. Hope this helps.

[2019-11-23 14:35] aryamanpuri commented on #1878
@helfi92 On "npm i eslint" eslint upgraded to "^5.16.0". Do I have completely remove the package and then reinstall it to get v6 ?

[2019-11-23 14:47] helfi92 commented on #1878
We use `yarn`, not `npm` to handle dependencies.

[code]

[2019-11-24 01:40] Manish-Giri commented on #2031
@helfi92 So, I just switched in `DateTimePicker`, and I fiddled with different date-time combinations in both dark and light themes. Here are the screenshots - https://imgur.com/a/wOaJjEk

If you could take a look to verify that the colors look right, I'll submit a PR. Else I can go in to `theme.js` and override the styles accordingly.

[2019-11-24 10:32] Rolikasi commented on #2031
Hello @Manish-Giri
You may follow [this](https://github.com/taskcluster/taskcluster/blob/master/dev-docs/development-process.md) development docs to setup your environment
Note that the `https://taskcluster.net` instance is shut down, you need to use either `https://firefox-ci-tc.services.mozilla.com/` or `https://community-tc.services.mozilla.com/`

[2019-11-24 10:37] Rolikasi commented on #2031
Is it possible to fix that regression?

Before

![before](https://user-images.githubusercontent.com/44370635/69493371-6943d780-0ed8-11ea-86af-ae9fa591ae8f.PNG)

After

![after](https://user-images.githubusercontent.com/44370635/69493376-6c3ec800-0ed8-11ea-8993-3764361a213d.PNG)

[2019-11-24 12:17] Rolikasi commented on #2031
I think `KeyboardDateTimePicker` is better option here, because it can show the time in a tab and users can use keyboard. @helfi92 what do you think?

[2019-11-24 14:46] theprover97 commented on #2021
I am not sure as how to assign role to a client. Can you tell me how to do it, so that I can recreate this bug...

[2019-11-24 14:50] helfi92 commented on #2031
You may follow this development docs to setup your environment
Note that the https://taskcluster.net instance is shut down, you need to use either https://firefox-ci-tc.services.mozilla.com/ or https://community-tc.services.mozilla.com/

Thanks for helping @Rolikasi! We should definitely update that file to say https://community-tc.services.mozilla.com rather than https://taskcluster.net :)

Agree

[2019-11-24 23:08] Manish-Giri commented on #2031
@Rolikasi @tomprince Thank You for your inputs. I'll use `KeyoardDateTimePicker` and test if things are working correctly.

While I'm at it, should I also update the [`web-server` doc](https://github.com/taskcluster/taskcluster/blob/fcb83f7cf149b61ac52367d25eba17f2eaf0b5cd/services/web-server/README.md#running-taskcluster-web-server-locally) to use  https://community-tc.services.mozilla.com instea

[2019-11-25 04:36] mmbis commented on #1961
Hey @helfi92, looks like removing the requiresAuth attribute for non-new hooks in the /HookForm index.jsx offers the desired functionality. Is the removal of this attribute sufficient or would you want something like another conditional Save Hook fragment button?

[2019-11-25 08:18] Manish-Giri commented on #2031
Meanwhile, here's the new set of screenshots with `KeyboardDateTimePicker` - https://imgur.com/a/Ks0H2xO

I tested that keyboard input is working, in the last screenshot.

[2019-11-25 09:17] Manish-Giri commented on #2031
@Rolikasi @helfi92 Thank You for your inputs! I replaced `DateTimePicker` with `KeyboardDateTimePicker`. Here are the new set of screenshots - https://imgur.com/a/Ks0H2xO

I noticed one potential issue though - the picker won't let me add in a **time** manually, just the **date**. This is weird because I did add the `format` prop to `KeyboardDateTimePicker` like so -

[code]
When I inspected the c

[2019-11-25 09:25] aryamanpuri commented on #1878
@helfi92  http://localhost:5080/docs/reference/platform/queue/api , queue/exhanges ,auth/api and api/exhanges are also not working.
But how does Eslint cause a faliure at the runtime , which is a dependency

[2019-11-25 11:16] Rolikasi commented on #2031
There are 3 components that use DatePicker: `SecretForm`, `ClientForm` and `AuthConsent`.
IMO you can remove `format` prop from these components and add `format="yyyy/MM/dd hh:mm a"` in `KeyboardDateTimePicker` before `{...props}`

[2019-11-25 13:01] helfi92 commented on #2031
Agreed with @Rolikasi. Also, from the screenshots, the minute and hour hands of the clock are not showing:

#### From the screenshot

![Screen Shot 2019-11-25 at 7 58 29 AM](https://user-images.githubusercontent.com/3766511/69542463-82d93380-0f59-11ea-8489-135decc7a070.png)

#### From https://material-ui-pickers.dev/demo/datetime-picker

![Screen Shot 2019-11-25 at 7 58 56 AM](https://user-images.

[2019-11-25 13:05] helfi92 commented on #1961
Yeah, I believe that would be sufficient :)

[2019-11-25 13:09] helfi92 commented on #1878
Updating eslint to v6 [updates](https://github.com/taskcluster/taskcluster/pull/1863/files#diff-41c7b0973853207d6085c8df75e6dc50R1629) acorn-jsx which for some reason seems to break the docs site. You can try to figure out why that specific update breaks the site and whether there's anything we can do from our end.

[2019-11-25 17:50] CosminSabou opened #2073 "Clicking on worker ID from firefox-ci-tc.services.mozilla.com/tasks doesn't return the exact worker task"
**Describe the bug**

**To Reproduce**

Steps to reproduce the behavior:

1. Go to https://firefox-ci-tc.services.mozilla.com/tasks/Q_ffTr6qS7WN7aeva8TcUg
2. Click on More... and then Worker ID
3.  It opens https://firefox-ci-tc.services.mozilla.com/provisioners/gecko-t/worker-types/t-linux-xlarge/workers/i-0471b07e09a790abb that doesn't point to the jobs from i-0471b07e09a790abb but to the entire

[2019-11-25 17:59] #1874 closed

[2019-11-25 19:19] mmbis commented on #1961
Good deal. Do you want me to add a save button to the quick-start view? Right now, there is no save button or requiresAuth attributes.

[2019-11-25 19:41] jonalmeida opened #2076 "[UI] Kebab menu button on a task should not open when hovered on."
**Describe the bug**

When looking at a particular task, the kebab menu on the bottom right opens when hovered over it. This is a confusing UX since that menu type is meant to open when clicked on only which leads one to click immediately on the button, and then have it close.

**To Reproduce**

Steps to reproduce the behavior:

1. Go to a task page. [This one](https://firefox-ci-tc.services.mozil

[2019-11-25 19:46] tomprince opened #2077 "[UI] Control+Enter doesn't sumbit tasks on task-creation page."
It appears that pressing control+enter doesn't cause the task to be created. I suspect there are a bunch of places in the new UI which have the same behavior difference.

[2019-11-25 21:37] Manish-Giri commented on #2031
@helfi92 Regarding this -

The hour and minute hands are actually there, but it's very faint, so hard to see.

Here, the hour hand is there pointing at 2 -

![Untitled](https://user-images.githubusercontent.com/11348778/69579675-fe120800-0fa0-11ea-9e7a-6cc45996c023.png)

and here at 54, but again very faint -

![Untitled](https://user-images.githubusercontent.com/11348778/69579818-429da380-0fa1-11

[2019-11-25 21:45] aerickson opened #2078 "web ui: quarantined hosts not listed"
**Describe the bug**
Quarantined workers aren't shown in the UI by default.

If I select 'quarantined' from the 'filter by' popup they're shown.

**To Reproduce**

Steps to reproduce the behavior:

1. Go to https://firefox-ci-tc.services.mozilla.com/provisioners/terraform-packet/worker-types/gecko-t-linux
2. Machine-23 isn't visible.
3. Optional: Select 'quarantined' in the 'filter by' popup. The

[2019-11-25 23:20] helfi92 commented on #2077
Agreed. Let's do it.

[2019-11-25 23:21] helfi92 commented on #1961
No save button required to the quick-start view.

[2019-11-25 23:30] #2078 closed

[2019-11-26 13:13] #677 closed

[2019-11-26 13:14] #2073 closed

[2019-11-26 13:48] djmitche commented on #2021
Hm, this might be difficult to accomplish without extra scopes assigned to you while logged in.  I've invited you to the "smoketesters" team, and once you accept you should see some scopes beginning with "auth:create-role:" and ending in "*" in https://community-tc.services.mozilla.com/profile.

Once that's in place, you can create roles and scopes that match the patterns you see in that view.

[2019-11-26 14:51] mozbhearsum opened #2088 "[UI] search on scopes page only filters clients"
**Describe the bug**
When applying a filter on https://firefox-ci-tc.services.mozilla.com/auth/scopes, it only affects the "Clients" section. I would expect it to also filter "Roles".

**To Reproduce**

1. Go to https://firefox-ci-tc.services.mozilla.com/auth/scopes
2. Type "shipit" in the Search field
3. Observe that the list of Roles does not change, but the list of Clients does

**Expected beha

[2019-11-26 15:01] helfi92 commented on #2088
The list of roles seems to change. Are you seeing something different?

![Kapture 2019-11-26 at 10 00 00](https://user-images.githubusercontent.com/3766511/69645066-92c54600-1033-11ea-980c-97b159334f6f.gif)

[2019-11-26 15:05] mozbhearsum commented on #2088
I don't see a change. Before:
![image](https://user-images.githubusercontent.com/49649/69645403-1ed76d80-1034-11ea-8628-e4e09332315f.png)

After:
![image](https://user-images.githubusercontent.com/49649/69645440-2c8cf300-1034-11ea-8f00-ff05d0c893b1.png)

[2019-11-26 15:06] mozbhearsum commented on #2088
Perhaps it's filtering in a way that I don't expect though. I was expecting the first level of Roles to only show things with "shipit" in them. If I enter gibberish, all the Roles are filtered away, so I guess it's filtering on Roles that hold a scope matching the search string?

[2019-11-26 15:10] helfi92 commented on #2076
I tried to replicate a similar behavior as the one shown in https://material.io/components/buttons-floating-action-button/#extended-fab under the "Behavior" subheader under "Extended FAB".

[2019-11-26 15:34] helfi92 commented on #2088
Correct. This view helps identify which roles/clients have a certain scope, hence the search placeholder "Scope contains". If you are looking for a specific role or client, then there's https://firefox-ci-tc.services.mozilla.com/auth/scopes and https://firefox-ci-tc.services.mozilla.com/auth/clients.

We should perhaps make this a bit clearer...

[2019-11-26 16:21] theprover97 commented on #2021
I am somewhat new here, so could you tell me how to access this invite link.

[2019-11-26 17:27] djmitche commented on #1371
This link has been removed in a renovation of the tutorial.  Thanks!

[2019-11-26 17:27] #1371 closed

[2019-11-26 18:30] helfi92 commented on #2031
Awesome :)

[2019-11-26 22:59] tomprince opened #2096 "[UI] The "provisioners" page is not very dense."
If I go to https://firefox-ci-tc.services.mozilla.com/provisioners/ I can only see ~6 of 38 "provisioners"[1]. I wanted to look at what all was being used and this made it hard to get an overview.

[1] These no longer represent provisioners, but the part of the worker-pool name before the `\`, but the point still stands.

[2019-11-26 23:25] helfi92 commented on #2096
Hm, I can definitely see more than 6:

<img width="816" alt="Screen Shot 2019-11-26 at 6 23 57 PM" src="https://user-images.githubusercontent.com/3766511/69680780-f4a89e80-1079-11ea-81bf-250d471fabb4.png">

A screenshot or something I can look at to understand the issue would help. Thanks!

[2019-11-26 23:30] tomprince commented on #2096
I think we may have different size monitors. My screen fits 6 (of 38) cards.. And I can see more if I scroll, but it makes it hard to see all them easily.

I think a table, rather than cards makes more sense, given the number of entries.

[2019-11-26 23:48] helfi92 commented on #2096
OH, I thought you were only seeing 6 in total even if you tried to scroll down. I guess I read the issue description without really paying attention to the title 😅

I believe https://bugzilla.mozilla.org/show_bug.cgi?id=1577840 will create a whole new UI in the near future. I agree that the table is a bit easier to scan so we will probably stay away from using cards.

[2019-11-27 00:06] tomprince commented on #2096
That will likely address the issue. Though if this bug is straightforward, and the linked one will take some time, I think it may be worthwhile doing this anyway?

[2019-11-27 14:49] djmitche commented on #2021
Hm, I'm not sure -- I would have expected GitHub to send you an email.  I re-invited you just now.  You might also see the invitation at https://github.com/orgs/taskcluster/teams/smoketesters?

[2019-11-27 15:11] helfi92 opened #2099 "[UI] Add cache-control CSP headers"
Let's add similar cache-control headers that are found in https://github.com/taskcluster/taskcluster/blob/679ea9b792b2535fcb204609008d117ffd1e9c52/static.json#L24-L61 to https://github.com/taskcluster/taskcluster/blob/master/ui/web-ui-nginx-site.conf.

[2019-11-27 16:41] aryamanpuri commented on #1878
@helfi92 From the console error I have changed "CollapseProps" to "collapseprops" in entry.jsx .
 I doubt at the following code in /api and /exchanges
 _const { serviceName, apiVersion } = this.props;
    const { ref, version } = findRefDoc({
      type: 'api',
      serviceName,
      apiVersion,
    }); ._
What are your thoughts on that ?
Because the rest code looks fine .

[2019-11-27 16:47] aryamanpuri commented on #1878
I am not sure about that because in the _/logs_ it is working properly, whereas it is throwing an error on the _/api and /exchange_

[2019-11-27 18:18] jonalmeida commented on #2076
I think that's correct, but even in the extended FAB, a touch or click is needed to change the state of the button.

[2019-11-27 21:51] helfi92 commented on #2099
Done in https://github.com/taskcluster/taskcluster/pull/2098.

[2019-11-27 21:51] #2099 closed

[2019-11-27 21:52] helfi92 commented on #1878
What does the error say?

[2019-11-27 22:34] mmbis commented on #1961
Thanks for all the help with the app given my newb status @helfi92! I'll PR in the next few minutes. Let me know if there's anything incorrect or additional that I need to work on.

[2019-11-27 22:38] mmbis commented on #1961
Actually, I'm getting a 403 permission denied when attempting to push.

[2019-11-28 10:47] AtharvaSune commented on #1823
Hey I would like to take this

[2019-11-28 16:06] aryamanpuri commented on #1878
@helfi92
WARNING in ./docs/manual/deploying/github.mdx
Module build failed (from ./node_modules/mdx-loader/index.js):
SyntaxError: unknown: Expected corresponding JSX closing tag for <deployment-name> (13:97)

Same for login-strategies.mdx

[2019-11-28 19:15] Shubhamchinda commented on #1823
@helfi92 I Didn't get time for this, pardon!

[2019-11-28 22:51] djmitche commented on #1878
I think @helfi92 fixed that yesterday, if you want to pull the latest from master.

[2019-11-29 03:04] Manish-Giri commented on #2031
@helfi92 I sent in a PR, including some screenshots of the changes in `theme.js`.

[2019-11-29 06:20] aryamanpuri commented on #1878
@djmitche He has fixed the bug of <deployement> in #2102  .
But I am talking about this issue .
Looks like problem in the mdx packge

[2019-11-29 15:59] #450 closed

[2019-11-29 16:32] helfi92 commented on #1961
You will need to create a fork of the repo first and then push to your fork.

[2019-11-29 16:41] aryamanpuri commented on #1878
@helfi92 Your views on the error ?

[2019-11-29 19:02] helfi92 commented on #1878
The error seems to say that there's a syntax error of an unexpected token. Did you try finding the token it is complaining about?

[2019-11-29 20:14] aryamanpuri commented on #1878
@helfi92 It is not specific about the error?

[2019-11-29 21:57] #2076 closed

[2019-11-30 04:10] mmbis commented on #1961
Thank you! PR is out there

[2019-11-30 05:03] MooseJ commented on #2096
Did not know that putting the issue number in the commit message actually links the two 😅
I guess now is a good time to ask, can I help with this issue?

[2019-11-30 14:01] helfi92 commented on #2096
👋 @MooseJ

Thanks for offering your help :) Let me know if you had questions. Also, if you have something working, feel free to create a PR and we can iterate on it there if necessary.

[2019-12-02 19:46] jonalmeida opened #2122 "[UI] Live log view doesn't have horizontal scrolling."
**Describe the bug**

Can't scroll horizontally to see a long log line.

**To Reproduce**

Steps to reproduce the behavior:

1. Go to [these logs](https://firefox-ci-tc.services.mozilla.com/tasks/DcMDbrHATk61uuVLfoqacQ/runs/0/logs/live/https%3A%2F%2Ffirefox-ci-tc.services.mozilla.com%2Fapi%2Fqueue%2Fv1%2Ftask%2FDcMDbrHATk61uuVLfoqacQ%2Fruns%2F0%2Fartifacts%2Fpublic%2Flogs%2Flive.log).
3. Scroll do

[2019-12-02 20:06] helfi92 commented on #2122
Duplicate of https://github.com/taskcluster/taskcluster/issues/1997. This has been fixed in v24.0.0.

[2019-12-02 20:09] helfi92 commented on #2122
Duplicate of https://github.com/taskcluster/taskcluster/issues/1997.

This has been fixed in v24.0.0.

[2019-12-02 20:09] #2122 closed

[2019-12-03 14:21] #2096 closed

[2019-12-03 14:25] helfi92 commented on #705
Oh no! I'm sorry to hear that :( I hope you are feeling better now. Also, no worries at all!

[2019-12-03 15:34] helfi92 opened #2123 "[UI] Deep link search in /secrets"
**To Reproduce**

Steps to reproduce the behavior:

1. Go to https://firefox-ci-tc.services.mozilla.com/secrets/
2. Type "project/" in the search bar located in the app bar and then press enter.
3. Click on any secret
4. Click back

**Expected behavior**
The list of secrets only contains secrets that start with "project/".

**Taskcluster version**
23.0.0

**Additional context**
In order to fix thi

[2019-12-03 15:38] helfi92 opened #2124 "[UI] Deep link search in /worker-manager"
**To Reproduce**

Steps to reproduce the behavior:

1. Go to https://firefox-ci-tc.services.mozilla.com/worker-manager
2. Type "gecko-t/" in the search bar located in the app bar and then press enter.
3. Click on any worker pool id
4. Click back

**Expected behavior**
The list only contains worker pools that start with "gecko-t/".

**Taskcluster version**
23.0.0

**Additional context**
In order to

[2019-12-03 15:43] helfi92 opened #2125 "[web-server] Replace Promise.all in loaders with try/catch"
**Describe the bug**
If an error is thrown in Promise.all, the whole thing is rejected. We should gracefully catch errors in graphql loaders.

**Taskcluster version**
23.0.0

**Additional context**
We would need to find all `Promise.all` calls in `src/loaders` and replace them with try catch statement. The change should be similar to https://github.com/taskcluster/taskcluster/pull/1944/files.

[2019-12-03 19:49] helfi92 opened #2127 "[UI] Clicking on the copy icon should show feedback"
**Describe the bug**
Clicking on the copy icon does not show any kind of feedback that whatever the user was trying to copy has now been copied to the clipboard.

**To Reproduce**

Steps to reproduce the behavior:

1. Go to https://firefox-ci-tc.services.mozilla.com/tasks/UBaqTi4kQ0elIUsYW2YdKg
2. Click on the list item with the copy icon

![Screen Shot 2019-12-03 at 2 43 28 PM](https://user-image

[2019-12-03 19:52] helfi92 opened #2128 "[UI] Remove error in console from /tasks and /tasks/groups"
**Describe the bug**
Navigating to https://firefox-ci-tc.services.mozilla.com/tasks/ or https://firefox-ci-tc.services.mozilla.com/tasks/groups on a private window shows an error in the console.

![Screen Shot 2019-12-03 at 2 51 16 PM](https://user-images.githubusercontent.com/3766511/70084504-6170eb00-15dc-11ea-9980-6131187111a5.png)

Let's fix this.

**Taskcluster version**
23.0.0

[2019-12-03 20:09] helfi92 opened #2129 "[UI] Deep link views roles, clients, scope views"
**Describe the bug**
The `/auth/scopes`, `/auth/roles` views are not deep-linked. In other words, you cannot search for something then share the URL with somebody else without losing the refined search result.

**To Reproduce**

Steps to reproduce the behavior:

1. Go to https://firefox-ci-tc.services.mozilla.com/auth/scopes
2. Search for something in the app bar (e.g., "list") and press enter
3.

[2019-12-03 20:20] helfi92 opened #2130 "[web-server] Add graphql tests"
**Describe the bug**
Whenever we get new updates from the renovate-bot to bump package versions related to the web-server service, we are [not confident](https://github.com/taskcluster/taskcluster/pull/2067#issuecomment-558659636) 100% that things will still work. We should look into adding some tests to tests graphql queries, mutations, and subscriptions.

[2019-12-04 04:58] glandium opened #2132 "[UI] Task view marks many artifact text files as "LOG""
Steps to reproduce the behavior:

1. Go to https://firefox-ci-tc.services.mozilla.com/tasks/LvQcKn0sRbOEOf7NG4AsNA
2. Click on 'Artifacts'
3. Check the list of artifacts. Many have a "LOG" marker, but most of those marked as such are not, in fact, logs.

What's weird, though, is that while they all have in common that they are plain text files, there are also plain text files that _aren't_ marked

[2019-12-04 12:49] helfi92 commented on #2132
This was fixed in https://github.com/taskcluster/taskcluster/pull/2091. It will be deployed on Taskcluster 24.0.0. FirefoxCI is running on 23.0.0 atm. I believe a new deployment will be made either this week or the next one.

![Screen Shot 2019-12-04 at 7 46 25 AM](https://user-images.githubusercontent.com/3766511/70143786-7dbb6900-166a-11ea-9c4d-528d89490408.png)

[2019-12-04 16:09] theprover97 commented on #2021
Thanks for the help. I am able to create clients with roles now but am facing issues regarding creating and editing roles, or assigning new roles to a client. The roles are being assigned as per scopes already defined  for smoketesters, but it is not clear as how to create entirely new roles or edit existing roles. I tried reading the documentation, but I am not able to follow it. Could you help m

[2019-12-04 16:38] aryamanpuri commented on #2127
@helfi92 Can I give this a try?
Thinking of changing the icon to the text "copied" .

[2019-12-04 17:30] aryamanpuri commented on #2127
@helfi92 How to setup locally as the task is already submitted and creating new task locally is giving Unknown server error ?

[2019-12-04 18:52] MooseJ commented on #2125
Hey @helfi92, mind if I work on this bug?

[2019-12-04 19:27] #1878 closed

[2019-12-04 20:55] helfi92 commented on #2127
Does http://localhost:5080/tasks/fFaGg92IRWa5Rmj69FMDNQ work?

[2019-12-05 01:26] djmitche commented on #2021
I don't think you need to create roles -- just add scopes like `assume:project:taskcluster:smoketest:fBXBgg8tRsK80ODw9bXlOQ:foo` to the client, and then remove that scope again, and you should see that the expandedRoles do not update accordinglyt.

[2019-12-05 17:01] ss77995ss commented on #2129
Hi, @helfi92 could I take this one up?
I might use `URL parameters` to store the information we need in `URL`
Something like `?k=list`

[2019-12-05 18:36] armenzg commented on #1536
This is preventing us updating Treeherder to the latest version.
Can we back out the code that caused the regression?

[2019-12-06 15:18] aryamanpuri commented on #2127
@helfi92 No

[2019-12-06 16:11] aryamanpuri commented on #2127
@helfi92 Yes it worked

[2019-12-06 16:12] aryamanpuri commented on #2127
Yes it worked

[2019-12-10 15:39] helfi92 opened #2152 "[UI] information drawer shows null for a split second"
**To Reproduce**

Steps to reproduce the behavior:

1. Go to https://community-tc.services.mozilla.com/provisioners/
2. Click on any information icon beside the provisioner name
3. Press the ESC key while looking at the drawer title

**Expected behavior**
The content in the drawer does not change while the drawer is being closed.

**Actual behavior**
The title becomes empty while the drawer is bei

[2019-12-10 15:39] helfi92 commented on #2152
/cc @MooseJ

[2019-12-10 16:53] #217 closed

[2019-12-10 19:32] MooseJ commented on #2152
@helfi92 Took a look at the code for the provisioner component. It looks like this is happening since the onClose function for the Drawer empties out the drawer as soon as it's called and changes a variable tied to a Drawer prop that causes the close animation to play after. So the animation is playing while `drawerProvisioner` is null.

I think this should be fixable by never setting `drawerProvi

[2019-12-10 19:48] helfi92 commented on #2152
That's a good idea!

[2019-12-11 10:51] Archaeopteryx opened #2155 "click on collapsed 'Artifacts' dropdown goes to next run, shall expand artifacts list"
If one clicks the collapsed 'Artifacts' dropdown at the right of
https://firefox-ci-tc.services.mozilla.com/tasks/H5nU0YljTqyBTxcJSY9TZw/runs/0 , one gets taken from run 0 to run 1 instead of expanding the list of artifacts. Is there no artifact for run 0?

[2019-12-11 13:48] #2152 closed

[2019-12-11 14:02] helfi92 commented on #2155
Yikes, that's a bug. Feel free to use https://firefox-ci-tc.services.mozilla.com/tasks/H5nU0YljTqyBTxcJSY9TZw/runs/0#artifacts for now but I'll get that fixed ASAP.

[2019-12-11 14:33] helfi92 opened #2159 "[UI] Paging through clients, failed loading chunk"
From Slack:

ChunkLoadError: "Loading chunk 33 failed.
(error: https://firefox-ci-tc.services.mozilla.com/assets/Profile.462c3f5a.js)"
I also don't get all the clients loaded when I load https://firefox-ci-tc.services.mozilla.com/auth/scopes - if I click the page button in ends up loading more, but it rotates through different sets, never showing them all.
I have to pop out for a bit now, just wan

[2019-12-11 14:34] helfi92 commented on #2159
/cc @mozbhearsum.

[2019-12-11 14:48] #2155 closed

[2019-12-11 14:48] helfi92 commented on #2155
will be resolved in the next deployment.

[2019-12-12 02:40] aerickson opened #2166 "web ui: can't remove worker from quarantine"
**Describe the bug**
I can't remove machine-23 from quarantine. The job it's trying to bring up has been purged.

https://firefox-ci-tc.services.mozilla.com/provisioners/terraform-packet/worker-types/gecko-t-linux/workers/packet-sjc1/machine-23

`XPOFNuq0TsCPvleqTCdubw does not correspond to a task that exists. Are you sure this task exists?`

**To Reproduce**

Steps to reproduce the behavior:

1.

[2019-12-12 13:30] helfi92 commented on #2166
I can reproduce. Thank you for bringing this up.

[2019-12-12 15:55] #2125 closed

[2019-12-12 18:05] #2166 closed

[2019-12-12 18:06] helfi92 commented on #2166
The fix for that will be deployed in the next deployment of firefoxci.

[2019-12-15 22:42] MooseJ commented on #2130
@helfi92 So I started working on this, but then realized that I'm not 100% what you wanted. Are you looking for tests to be created for every GraphQL query, mutation, and subscription?

[2019-12-16 14:22] helfi92 commented on #2130
You have the right idea :) We can start with "Roles" first.

[2019-12-17 12:13] katherine95 commented on #2128
I would like to work on this but I can't reproduce the console error.
<img width="1437" alt="Screenshot 2019-12-17 at 15 12 29" src="https://user-images.githubusercontent.com/17095461/70994612-aec28180-20df-11ea-9b0d-a4ad29f3e5b2.png">

[2019-12-17 13:23] helfi92 commented on #2128
The error seems to show on Firefox, but not on Chrome.

[2019-12-17 15:23] katherine95 commented on #2128
This is what I have from firefox.
<img width="1435" alt="Screenshot 2019-12-17 at 18 19 45" src="https://user-images.githubusercontent.com/17095461/71008567-de7e8300-20f9-11ea-9203-04ed01232ea6.png">

[2019-12-17 15:40] helfi92 commented on #2128
Interesting. Do you have the latest code pulled from the github repository? What does `git log --oneline -n 10` show for you?

[2019-12-17 18:17] helfi92 opened #2187 "[UI] Form resetting when creating a new client"
**Describe the bug**
Creating a new client while missing scopes will show an error but then clear the form. We should not clear the form when there is an error.

**To Reproduce**

Steps to reproduce the behavior:

1. Go to http://localhost:5080/auth/clients/create and make sure you are not logged in
2. Fill the form with any values
2. Click on the save button icon on the lower right
3. Close the e

[2019-12-17 18:21] helfi92 opened #2188 "[UI] Add a way for a user to know when a client is disabled"
For a user to know if a client is disabled, they currently need to open the action menu in the bottom right then see if the action button says "Enable Client". We should improve this experience. We could probably use a warning panel to indicate that the client is disabled.

[2019-12-17 20:03] #2188 closed

[2019-12-18 01:44] ss77995ss commented on #2187
Hi, can I take this one up?

[2019-12-18 04:14] theprover97 commented on #2187
Hi @helfi92 , can I work on this issue?

[2019-12-18 13:48] helfi92 commented on #2187
@ss77995ss Go for it.

[2019-12-18 14:49] katherine95 commented on #2128
This is what `git log --oneline -n 10` shows. My forked repo is in sync with the original repo
<img width="718" alt="Screenshot 2019-12-18 at 17 48 22" src="https://user-images.githubusercontent.com/17095461/71096045-aee57e80-21be-11ea-9743-3469877db7c2.png">

[2019-12-18 15:06] helfi92 commented on #2128
Hm...Were you running on a private window in Firefox?

[2019-12-19 04:54] katherine95 commented on #2128
Got it. Thanks @helfi92. Let me start working on it.
<img width="499" alt="Screenshot 2019-12-19 at 07 53 29" src="https://user-images.githubusercontent.com/17095461/71146049-b7789c00-2234-11ea-9f44-632054fb0629.png">

[2019-12-19 15:10] #1684 closed

[2019-12-19 15:12] #1813 closed

[2019-12-19 15:13] helfi92 commented on #2187
How is it going @ss77995ss? :-)

[2019-12-19 15:23] ss77995ss commented on #2187
Hi @helfi92 , I just start developing today, I'll update my status if I have some process!

[2019-12-19 15:34] helfi92 commented on #2187
Sounds good. Thanks for the update.

[2019-12-20 05:27] ss77995ss commented on #2187
Hi @helfi92 , I have created a PR for this ticket, could you help me review it?
I use `expires` from `query` as the `memoize` cache key so the `key` prop should not update until we get data from `GraphQL`

[2019-12-20 18:55] helfi92 opened #2200 "[UI] Can't save worker config when editing"
From https://bugzilla.mozilla.org/show_bug.cgi?id=1605430:

[2019-12-20 18:57] helfi92 commented on #2200
/cc @walac

[2019-12-20 19:01] helfi92 opened #2201 "[UI] Worker manager required owner field"
STR:

1. Navigate to http://localhost:5080/worker-manager/create
2. Fill out all the fields except the owner field

![Screen Shot 2019-12-20 at 2 00 03 PM](https://user-images.githubusercontent.com/3766511/71284575-0a377e00-2331-11ea-8ea1-228731d839bd.png)

**Actual:** The save button (diskette icon) is enabled.
**Expected:** The save button is disabled since the owner field is required but empty

[2019-12-20 20:52] #2187 closed

[2019-12-23 04:41] theprover97 commented on #2201
Hi @helfi92 ,can I work on this issue? Are we required to add an appropriate indication for the missing field of ' owner ' ?

[2019-12-23 12:55] helfi92 commented on #2130
@MooseJ How do you feel about giving the following a try https://github.com/taskcluster/taskcluster/blob/de2c662e1780f884204b94c167d0a54d61f5d05d/services/web-server/src/graphql/Tasks.graphql#L376-L379

It would be our first subscription test.  Once we have a subscription tested, we would be able to merge https://github.com/taskcluster/taskcluster/pull/2067

[2019-12-23 13:00] helfi92 commented on #2201
Yep, go for it.

Good question. There should be a "*" beside Owner's Email to indicate that this field is required. Also, when a user writes something that is not an email, there's already an error that will show up:

<img width="326" alt="Screen Shot 2019-12-23 at 7 59 22 AM" src="https://user-images.githubusercontent.com/3766511/71359356-25390680-255a-11ea-89e9-ae059b5903a1.png">

To answer your

[2019-12-23 18:22] ccooper opened #2213 "Migrate bare metal testing from packet.net to AWS"
https://bugzilla.mozilla.org/show_bug.cgi?id=1578460

[2019-12-23 18:24] ccooper opened #2214 "Implement Azure provider"
https://bugzilla.mozilla.org/show_bug.cgi?id=1600966

[2019-12-23 18:26] ccooper opened #2215 "Migrate tier 1 builds from AWS to GCP"
Rationale: Save money by using cheaper instances in GCP

https://bugzilla.mozilla.org/show_bug.cgi?id=1547111

[2019-12-24 02:03] #1660 closed

[2019-12-24 03:18] theprover97 commented on #2201
Got it. Thanks.

[2019-12-24 04:03] theprover97 commented on #2021
Hey there @djmitche . Sorry for this long period of inactivity. I am working on this issue, and have following points to make:-
- Refreshing the page after editing and saving the scopes changes the expanded scopes, but the same does not happen upon only clicking the ' Save Client ' button.
- The same thing is also happening with the 'Save Client' button. Saving the client after making changes does

[2019-12-24 16:23] MooseJ commented on #2130
@helfi92 Yeah I can give that shot!

[2019-12-24 16:48] helfi92 commented on #2130
Thank you so much!

[2019-12-24 23:04] Manish-Giri commented on #2123
@helfi92 Can I claim this one and #2124 (since they're both similar)? My other contribution is still in-progress, so technically I'm still a new contributor, and no one else has asked for these two issues either!

[2019-12-24 23:18] helfi92 commented on #2123
Yep, go for it :)

[2019-12-24 23:19] helfi92 commented on #2124
Assigned to @Manish-Giri.

[2019-12-26 17:36] djmitche commented on #2021
The first point sounds like you've correctly reproduced this, and the second point sounds like another bug, which you are also welcome to fix.

I would guess that the "onclick" is sending the request, as the client is updated -- what's missing is updating the expanded scopes based on the response to that request.

I'd like to add one additional wrinkle here: once the scopes has been edited, the ex

[2019-12-28 05:50] theprover97 commented on #2201
I have opened a PR for it ( #2220 Fixed #2201). Please check it.

[2019-12-28 05:58] theprover97 commented on #2201
![check1](https://user-images.githubusercontent.com/43466272/71539629-2062c100-2965-11ea-9c3f-040ca24e38ea.png)

[2020-01-03 14:47] helfi92 opened #2232 "[UI] Icon size not consistent"
**Describe the bug**
The icon size in the table is not the same.

**To Reproduce**

Steps to reproduce the behavior:

1. Go to https://firefox-ci-tc.services.mozilla.com/provisioners/mobile-3/worker-types/b-linux-large
2. Resize the window width until the icons under the First Claim and Worker ID column change

**Expected behavior**
The icons don't change in size when the window width changes.

**

[2020-01-03 14:54] aryamanpuri commented on #2232
@helfi92 Can I look upon this?

[2020-01-03 15:24] helfi92 commented on #2232
Definitely. Also, for future PRs, it would be great to send them from a branch other than master. https://www.atlassian.com/git/tutorials/using-branches/git-checkout

[2020-01-03 16:41] aryamanpuri commented on #2232
@helfi92 It is in all the Columns, maybe we should fix this with fixing the Icon size ?

[2020-01-06 10:45] aryamanpuri commented on #2232
@helfi92 What about making Icon out of the _TableCellItem_, It will look like this.
![Screenshot](https://user-images.githubusercontent.com/43513114/71813436-9bcc1d00-309f-11ea-847f-671595bee32e.png)
Your views?

[2020-01-06 14:37] #2031 closed

[2020-01-06 14:46] helfi92 commented on #1600
This has been resolved. It is no longer an issue.

[2020-01-06 14:46] #1600 closed

[2020-01-06 15:09] helfi92 commented on #2232
The copy icon should be inside the table cell item. One way to do this, I think, is to wrap the icon with a div element.

[code]

^ This is untested. You might need to change some stuff to make sure it aligns properly.

[2020-01-06 16:19] helfi92 opened #2240 "[UI] Show live log when available"
**Describe the bug**

When a user clicks on the Taskcluster status link on GitHub, we navigate the user to the task viewer rather than the log viewer because we don't have the log URL at the time the link is posted on Github.

Users [most of the time](https://bugzilla.mozilla.org/show_bug.cgi?id=1527606#c0), however, just want to know why a task has failed. The current behavior requires too many c

[2020-01-06 16:31] aryamanpuri commented on #2232
The use of the div element will make sure that the icon size is the same in each case. But those table cell item having time in minutes is touching with the icon.

[2020-01-06 16:38] #2201 closed

[2020-01-06 16:40] helfi92 commented on #2232
I'm not sure I understand the problem. A screenshot might help here.

[2020-01-06 16:46] aryamanpuri commented on #2232
![Screenshot from 2020-01-06 22-14-51](https://user-images.githubusercontent.com/43513114/71833020-29286500-30d2-11ea-8019-f3c7ae20d44b.png)

[2020-01-06 16:51] helfi92 opened #2241 "[UI] Update material-ui to v4.8.3+"
material-ui introduced the Alert component that we should try to at least use in our documentation site rather than create our own component in https://github.com/taskcluster/taskcluster/pull/2209 for documentation.

We're currently running on v4.5.1 https://github.com/taskcluster/taskcluster/blob/4f935ea671b1255f0f2598406e8fdeb656c3b75e/ui/yarn.lock#L1159-L1160

The [releases page](https://github

[2020-01-07 02:41] #2215 closed

[2020-01-07 02:44] #2214 closed

[2020-01-07 02:46] #2213 closed

[2020-01-07 05:27] Shubhamchinda commented on #2240
Hi @helfi92 , I'd like to work on this!

[2020-01-07 06:07] theprover97 commented on #2241
Can I work on this issue?

[2020-01-07 15:50] helfi92 commented on #2240
Go for it :)

[2020-01-08 01:11] ergilaze commented on #1615
Hi, I want to have a try on this one

[2020-01-08 01:12] helfi92 commented on #1615
Go for it.

[2020-01-08 02:03] ergilaze commented on #1615
@helfi92 is there like a global styles file, because I think that I need to use CSS (I don't see you using styled-components) to change the placeholder color.

[2020-01-08 02:10] helfi92 commented on #1615
We use css in js. Here’s where styles are defined in the code editor component:
https://github.com/mozilla-frontend-infra/components/blob/master/src/components/CodeEditor/index.jsx#L16

[2020-01-08 02:41] ergilaze commented on #1615
@helfi92 I managed to do it this way. I don't if this will do it, but tell me if there is a better way.
<img width="754" alt="Screenshot 2020-01-08 at 03 39 19" src="https://user-images.githubusercontent.com/44012466/71945998-a9c98d00-31c8-11ea-8433-e9cae8268a51.png">
<img width="793" alt="Screenshot 2020-01-08 at 03 41 05" src="https://user-images.githubusercontent.com/44012466/71946014-ba7a0300-

[2020-01-08 02:44] helfi92 commented on #1615
hm, I think the change should be in mozilla-front end-infra/components, not in this repo.

[2020-01-08 02:45] helfi92 commented on #1615
See the comment in https://github.com/taskcluster/taskcluster/pull/1755 for some context.

[2020-01-08 03:22] ergilaze commented on #1615
@helfi92 I changed the style from mozilla-front end-infra/components, but I don't have permission to push my code

[2020-01-08 03:31] helfi92 commented on #1615
Ah, you’ll have to create a fork of the repo and push to that fork rather than pushing directly to the repo. The GitHub UI will then give you the ability to create a pull-request from your fork branch.

[2020-01-08 03:52] ergilaze commented on #1615
@helfi92 https://github.com/mozilla-frontend-infra/components/pull/75

[2020-01-08 10:14] walac opened #2246 "[worker-manager] Estimator reports false overprovisioned error when capacityPerInstance > 1"
Description:
------------

`minCapacity` and `maxCapacity` are in terms of the number of instances, while `existingCapacity` is the number of instances times capacity per instance. This may trigger false overprovisioned errors when `capacityPerInstance` is greater than 1.

How to reproduce:
------------------

Set `minCapacity=0`, `maxCapacity=2` and `capacityPerInstance=30`. When we have one inst

[2020-01-08 14:41] helfi92 commented on #1615
Thanks! I'll take a look soon.

[2020-01-08 18:56] imbstack commented on #2246
We discussed this in chat and figured out that this was a miscommunication about what `maxCapacity` means. It is the same "capacity" as `existingCapacity` is talking about rather than number of instances.

[2020-01-08 18:56] #2246 closed

[2020-01-09 17:28] imbstack opened #2249 ""Next Page" icons for paginated entities are non-obvious"
**Describe the bug**
We had multiple team members confused today about why the secrets for workerpools didn't exist in firefox-ci deployment. It turns out they did exist but nobody thought to click on the little arrow to expose more entities. It seems like this could be made more obvious somehow? Unfortunately I don't have any specific ideas -- happy for this to be fixed however!

**To Reproduce**

[2020-01-09 18:07] helfi92 commented on #2249
After migrating to postgres, we should be in a better position to provide more information about a paginated endpoint. For example, we would be able to jump to different pages and then also display the total number of pages. I could very well see us display something like (1-100 of 300) beside the arrows to make it more explicit that you're viewing the first 100 results and that 200 rows are hidde

[2020-01-09 18:32] imbstack commented on #2249
That seems like a great place to solve this. Should we leave this open for then or just close it.

[2020-01-09 18:41] helfi92 commented on #2249
We can keep this open :)

[2020-01-10 06:07] theprover97 commented on #2241
I have opened a PR for this (#2248 ). Please check it.

[2020-01-10 07:44] theprover97 commented on #2249
Can I take this issue? Also, should we display row-wise page numbers in between the arrows, or on left side of both the arrows?

[2020-01-10 11:30] aryamanpuri commented on #2249
Can I take this one?

[2020-01-10 14:08] helfi92 commented on #2249
It's not ready to be worked on at the moment, unfortunately. Moving our data from Azure to Postgres is a blocker to this issue. We should be ready once there are no more cards in https://github.com/taskcluster/taskcluster/projects/3.

[2020-01-10 14:09] aryamanpuri commented on #2249
Okay @helfi92. Can you have a look at my PR #2242

[2020-01-10 15:21] #2132 closed

[2020-01-10 15:21] helfi92 commented on #2130
@MooseJ Happy new year! How is it going? :-)

[2020-01-10 18:46] DantrazTrev commented on #1963
Is this issue open to work for?

[2020-01-10 19:21] djmitche commented on #1963
It is!

It's a bit exploratory -- probably a good place to start is to look at how similar CLI tools for cloud services update themselves.  I can think of a few examples: `travis`, `heroku`, `aws`, `gcloud`, `kubectl`, `az` (for Azure).  Ideally we'd have a way to update securely, so that users aren't at risk of installing and using a malicious binary!

[2020-01-11 02:32] DantrazTrev commented on #1963
Does this issue needs the update command to be created in CLIs other then shell?
I've completed the one with shell , using the first approach.

[2020-01-11 12:03] DantrazTrev commented on #1963
What level should the changelog be of?

[2020-01-11 13:50] DantrazTrev commented on #1963
I'm facing an issue that the check taskcluster-client-shell-1.12.13 is failing in the PR . Can you please help me with this?

[2020-01-11 15:24] MooseJ commented on #2130
@helfi92 Hey sorry, I've been going a bit slower with this because of the holidays. I have an idea of what the tests are going to be, but this was a more difficult than I thought it would be 😄I also think I have an idea of what I need to do, but I'm going to ask you some questions later because I feel like I'm going to get stuck. I should have a better idea of things by the end of the weekend

[2020-01-11 16:24] srfraser commented on #1963
I've commented in the PR. I won't be able to look again until Monday, however. Thanks for working on this!

[2020-01-11 19:25] DantrazTrev commented on #1963
I've made the desired changes and ran the tests

[2020-01-12 03:12] MooseJ commented on #2130
@helfi92

So, I am currently getting this error from my test results:
[code]

And this is what I currently have for my subscription test:
[code]

I mocked out the PulseEngine in the helper.js file since I saw it was being used is the task resolver and was getting issues before mocking it out https://github.com/taskcluster/taskcluster/blob/master/services/web-server/src/resolvers/Tasks.js#L128. I'm

[2020-01-12 12:38] reuben opened #2255 "[Feature request] Notify on failure/completion in single task view"
When viewing a single task (e.g. as a result of editing a task), I can't find any way to get notified on task failure/completion like it's possible in the group view.

[2020-01-13 13:47] djmitche commented on #1963
Nope, just that one.

[2020-01-13 15:19] #2232 closed

[2020-01-13 15:31] helfi92 commented on #1961
@aryamanpuri It looks like we're still missing the implementation in "ui/src/views/Quickstart/index.jsx".

[2020-01-13 15:35] helfi92 opened #2263 "[UI] Remove error in console"
**To Reproduce**

Steps to reproduce the behavior:

1. Go to http://localhost:5080/worker-manager/create
2. Open dev-tools
3. See error

![Screen Shot 2020-01-13 at 10 33 48 AM](https://user-images.githubusercontent.com/3766511/72268662-37094900-35f0-11ea-85dd-76369060735d.png)

**Expected behavior**
The 6 errors in the screenshot do not show on the console.

**Taskcluster version**
v24.1.1

[2020-01-13 15:42] aryamanpuri commented on #1961
@helfi92 oh misses it .

[2020-01-13 15:43] helfi92 commented on #1961
New PR. The previous one was already merged.

[2020-01-13 15:44] aryamanpuri commented on #1961
Okay

[2020-01-13 15:44] aryamanpuri commented on #2263
@helfi92 Can I give this a try too.

[2020-01-13 16:32] helfi92 commented on #2263
Go for it

[2020-01-13 17:57] aryamanpuri commented on #1961
@helfi92 There is no feature of saving in the Quickstart, so I have to implement the whole save feature right.

[2020-01-13 18:06] helfi92 commented on #1961
Oh, you're right. My bad.

[2020-01-13 18:06] #1961 closed

[2020-01-13 18:08] aryamanpuri commented on #1961
And one more thing, the title of the page is `Git Hub Quickstart`
Is it done intentionally?

[2020-01-13 18:22] helfi92 commented on #1961
Good observation! That's a bug. We can use the Dashboard component `disableTitleFormatting` prop to fix this. Feel free to send a fix. Thanks!

[2020-01-13 18:22] aryamanpuri commented on #1961
@helfi92 okay

[2020-01-13 18:35] helfi92 commented on #2130
This is coming from https://github.com/taskcluster/taskcluster/blob/7257c949b2ec724d65bcffbe6ae6d526578ae209/services/web-server/src/resolvers/Tasks.js#L150

If you change this to:

[code]

you'll notice that the input for the resolve function is probably null so destructuring doesn't work.

Before subscribing to a task group, we might need to create the task first

[code]

That's a good question.

[2020-01-13 19:50] aryamanpuri commented on #1961
@helfi92 Can you add me to the contributors in README.md !

[2020-01-13 23:08] jdm opened #2266 "godoc links in clients/client-go/README.md are broken"
**Describe the bug**

All of the links in https://github.com/taskcluster/taskcluster/tree/3885ee21bb8772efa1d7ee15c487b8125f6f9c8a/clients/client-go#http-apis are 404s. https://godoc.org/github.com/taskcluster/taskcluster/clients/client-go/tcnotify is a working link I found by manipulating the URL.

[2020-01-14 13:35] djmitche opened #2268 "automatically generate the links in clients/client-go/README.md"
#2267 identifies some bad links in this file.  Rather than try to maintain them automatically, let's make this a part of the code-generation process in `clients/client-go`.

To solve this, first get this repository out and get set up to where `yarn generate` will run without error.  Then look at the [code-generation process](https://github.com/taskcluster/taskcluster/tree/master/clients/client-go#

[2020-01-14 14:02] #2266 closed

[2020-01-14 14:29] petemoore opened #2269 "Links to specific log lines don't autoscroll to correct location"
**Describe the bug**
When linking to specific lines of a log file, the web page opens with the log scrolled to the bottom rather than the location of the linked lines within the log file.

**To Reproduce**

Steps to reproduce the behavior:

1. Go to https://community-tc.services.mozilla.com/tasks/UGDwKh5hQ4K4I1Qd1XdaqQ/runs/0/logs/https%3A%2F%2Fcommunity-tc.services.mozilla.com%2Fapi%2Fqueue%2Fv1%

[2020-01-14 15:51] djmitche commented on #2130
I'm not sure, and it's hard to say without seeing the code in a PR.

Creating a task as suggested wouldn't work because tests don't run against a "real" service -- everything should be mocked internally.  So, if necessary you could [fake queue methods to return tasks](https://github.com/taskcluster/taskcluster/tree/master/clients/client#fake-api-methods), but that wouldn't get you any events.

You

[2020-01-14 17:04] aryamanpuri commented on #1961
@helfi92 Can you add me to the contributors?

[2020-01-14 18:34] helfi92 commented on #1961
@all-contributors please add @aryamanpuri for code.

[2020-01-14 18:34] helfi92 commented on #1961
Definitely.

[2020-01-14 18:36] aryamanpuri commented on #1961
@helfi92 Looking forward to working more with this organization. Learned a lot from this project.

[2020-01-14 18:52] #2269 closed

[2020-01-14 19:46] helfi92 commented on #1961
Grateful for your help!

[2020-01-15 13:49] aryamanpuri commented on #2263
@helfi92 Changing children from `node.isRequired` to `node` solves the first error .
Not sure about the material UI ones

[2020-01-16 01:29] djmitche opened #2273 "perf-testing framework"
new repo containing some code to simulate workers, creating tasks, scanning tasks, and other API calls at approximately the level we see in production

TODO:
 * [x] refactor config to take a YAML file instead of env vars, allow running the same loader multiple times at once
 * [x] some way to use multiple taskQueueIds in parallel for creating/consuming tasks, as that seems to be the limit to scali

[2020-01-16 01:29] djmitche commented on #2273
WIP at https://github.com/taskcluster/performance-tester

[2020-01-16 01:36] djmitche commented on #2273
This is currently topping out at about 45 tasks/second in my dev env.  That's with 25 replicas of the queue-web service.  It hit about 40 with one replica.

Azure is showing about 60k transactions / minute (so 1k/sec) at that rate.

[2020-01-16 01:40] djmitche commented on #2273
I haven't seen any ServerBusy or other Azure errors from this account.

I saw some MAX_MODIFY_ATTEMPTS errors updating the worker info table when I had 300 "workers" with the same workerId, but no error logging at all since I fixed that.

[2020-01-16 01:45] djmitche commented on #2273
Running this with 1000 "workers" in parallel ends up with some 502's from the load balancer.

[2020-01-16 01:58] djmitche commented on #2273
I suspect we may be running into limits of the ingress here -- running both the expandscopes and claimwork generators in parallel makes the expandscopes calls fall behind -- but that's a totally different service!

[2020-01-16 14:08] helfi92 commented on #2263
Not sure about the material UI ones

children doesn't seem to be used so we can just do:

[code]

[2020-01-16 14:16] helfi92 commented on #2255
That's a good idea. A good place for this would probably be in the top right section of that view.

![Screen Shot 2020-01-16 at 9 13 30 AM](https://user-images.githubusercontent.com/3766511/72532096-c5740980-3840-11ea-99c3-dc64380a110f.png)

[2020-01-16 17:48] parshva-b commented on #2263
Can I give this issue a try as well, @helfi92? Or is this issue assigned to @aryamanpuri

[2020-01-16 18:32] djmitche commented on #2273
Ah, this might be due to the limit on number of sockets that TC-client will use, by default.

[2020-01-16 18:50] aryamanpuri commented on #2263
Hi @parshva-b  , you can try on other issues .This issue has been solved

[2020-01-22 04:03] jaskeerat789 commented on #2268
Hey @djmitche I would like to work on this...

[2020-01-22 19:09] djmitche commented on #2268
All yours!

[2020-01-23 01:12] djmitche opened #2292 "figure out how queueing will work with entities"
Plan is to introduce a tc-lib-msgqueue to support this.

[2020-01-23 01:13] djmitche commented on #2292
Some notes from reading the queue source.

# QueueService

`services/queue/src/queueservice.js`

config:
 - prefix = short prefix for pending-task queues
 - creds
 - claimQueue  / resolvedQueue  / deadlineQueue
 - deadlineDelay - extra delay for deadlines

ensureClaimQueue / ensureResolvedQueue / ensureDeadlineQueue
 - create queues if they don't exist

putClaimMessage - enqueue to become visible

[2020-01-23 01:15] djmitche commented on #2292
We could re-implement either of those APIs in postgres.  But, I think that the Azure client API is simpler, and also lower-level and less likely to introduce undesirable bugs.

[2020-01-23 02:14] djmitche commented on #2292
If we're implementing the azure queues level, maybe this should be tc-lib-azqueue or something like that.  Like entities, it's temporary code, so the name's not critical.

Notes on how to do queueing in postgres are in https://docs.google.com/document/d/10OOznky4qTpi7JyY7sVNOMr66THUL1EUyCgfhu08B1o/edit

Basically that boils down to a SELECT .. LIMIT 1 from some table.  The fancy bits are around av

[2020-01-23 16:04] djmitche opened #2293 "Client creator "blanks" the scopes"
**Describe the bug**
When using the `taskcluster signin` command line tool to login, the user is redirected to the client creator, e.g.,
  https://firefox-ci-tc.services.mozilla.com/auth/clients/create?scope=assume%3Aproject%3Ataskcluster%3Asmoketests&name=smoketest-TmaUSR&expires=1d&callback_url=http%3A%2F%2Flocalhost%3A36339&description=Temporary+client+for+use+on+the+command+line

This screen s

[2020-01-23 19:14] Shubhamchinda commented on #2240
Hey @helfi92 , Could you please provide some information on where to start?

Thanks a lot!

[2020-01-23 19:32] helfi92 commented on #2240
A good place to start would probably be `src/views/Tasks/ViewTask/index.jsx`.

To add a query parameter, you can look at how we do it in other places. One place is the workers view https://firefox-ci-tc.services.mozilla.com/provisioners/gecko-t/worker-types/t-linux-large. Changing the filter dropdown will add a `?filterBy` query at the end of the url. This is handled in https://github.com/taskclus

[2020-01-24 04:47] Shubhamchinda commented on #2240
Thank you so much, I'm on it now!

[2020-01-24 21:19] #2130 closed

[2020-01-25 04:54] djmitche commented on #2292
This is pretty much done, with the results at
  https://github.com/taskcluster/taskcluster/tree/tc-lib-postgres/libraries/azqueue

I've done a bit of EXPLAINing and decided on an index over (query_name, inserted) as the best choice.  With a LIMIT in the getMessages function, postgres *really* (and legitimately) wants to scan something, vs. building a bitmap or aggregating, so it really only wants

[2020-02-03 13:22] #1963 closed

[2020-02-04 15:29] djmitche opened #2310 "Smoketests create clients without delete-on-expire set"
This is leading to "leftover" clients like https://community-tc.services.mozilla.com/auth/clients/project%2Ftaskcluster%2Fsmoketest%2FfJCAPBhSRzSnYpxI_wXZgA which are expired but still exist.

[2020-02-04 21:32] djmitche opened #2312 "Auto-capitalization of titles mistakes "API""
**Describe the bug**
Auto-capitalization of titles in the docs seems to fail with the word "APIs".  I'm not sure why we're auto-capitalizing, anyway -- the doc title should be correctly capitalized already.

**To Reproduce**

Steps to reproduce the behavior:

1. Go to https://docs.taskcluster.net/docs/manual/design/apis
1. See error

![image](https://user-images.githubusercontent.com/28673/7378881

[2020-02-04 21:34] djmitche commented on #2310
This will require a bit of familiarity with server-side JS (Node).  The code is under `infrastructure/tooling/src/smoketest`.  If you'd like to work on this, comment here and I can set you up with credentials that you can use to run the smoketests.

[2020-02-05 01:36] ajinkabeer commented on #2310
Can I try this one out please?
@djmitche

[2020-02-05 04:02] djmitche commented on #2310
Absolutely!  I think you already have the credentials, right?

[2020-02-05 04:08] ajinkabeer commented on #2310
Yes, I have the credentials. But, when I ran ``yarn smoketest``, getting insufficient scope error. I think it got expired.

[2020-02-05 21:47] djmitche commented on #2310
OK, I think we now have a newer, cooler way to do it :)

I've invited you to https://github.com/orgs/taskcluster/teams/smoketesters/members.  Once you accept, you should be able to run the [tc shell client](https://github.com/taskcluster/taskcluster/tree/master/clients/client-shell#readme)'s `taskcluster signin` command:

[code]
that will set some environment variables in your shell that will allo

[2020-02-06 00:04] ajinkabeer commented on #2310
Awesome, thanks for the invite @djmitche. I am setting up the taskcluster client right now.

[2020-02-06 13:37] djmitche commented on #2273
I got up to 50 tasks/sec yesterday, while also running 200 rq/s of other API methods.

[2020-02-07 01:30] ajinkabeer commented on #2310
[code]
This is what I get when I added a log inside the if block.
[code]
Similarly, I added a log outside the if and this is what I get.
[code]
Which contains ```project:taskcluster:smoketests```

[code]
We are checking if the role contains ```project:taskcluster:smoketests``` whereas the log displays only ```project:taskcluster:smoketests```.

This is my finding. What do you think about it?

[2020-02-07 01:38] djmitche commented on #2310
Because of the way we display the output, which actually involves writing the whole display over and over every 100ms, console.log doesn't work very well.  One alternative is to pipe the output to cat:

[code]

However, as a quick hint, you're in the wrong file :)  The bug is regarding *clients*, not roles.

[2020-02-07 01:43] djmitche opened #2318 "UI uses tc-lib-scopes, which now requires lodash and json-stable-stringify"
https://app.netlify.com/sites/taskcluster-web/deploys/5e3c9c8c64d9e2000ae68341

[2020-02-07 01:44] ajinkabeer commented on #2310
Oh, yes!. I completely forgot. I am still getting back into the swing of things.

[2020-02-07 01:55] ajinkabeer commented on #2310
By default ```deleteOnExpiration``` is false right?

[2020-02-07 13:34] #2310 closed

[2020-02-07 15:50] djmitche opened #2321 "Make tc-lib-scopes an external library (again!)"
This library is useful outside of TC.  We have re-implemented parts of it in Python for tc-admin, for example.  But more pressingly, in #2318 it turns out that we need this library in tc-ui, and the use of `link:..` in `package.json` doesn't pull in dependencies the way we might expect.

So, let's un-archive the [old repo](https://github.com/taskcluster/taskcluster-lib-scopes), move the code back,

[2020-02-07 17:53] djmitche commented on #2321
https://github.com/taskcluster/taskcluster-lib-scopes/pull/35 - when that's landed I'll release it as 11.0.0 and then update the monorepo to refer to it.

[2020-02-07 21:27] djmitche commented on #2273
I sampled 10 minutes of API calls on the firefoxcitc cluster, and here are the counts:

[code]

Overall that's 397442 API calls, or about 663 r/s.

[2020-02-10 16:56] djmitche opened #2328 "merge tc-lib-postgres with an empty or trivial db"
(maybe a getWidget api function?) and get that deployed before putting any data in it.  A chance to practice deploying and see if tc-lib-postgres "works" in production without risking production data.

[2020-02-10 19:13] djmitche commented on #2273
..and 2/3 of that is `queue.status`.  Yikes!

[2020-02-11 18:16] petemoore opened #2336 "Show pending tasks in worker pool page"
When I'm in the task group inspector, and I see I have a pending task, I can click on the link that takes me to the worker pool page showing recent tasks for that worker pool.

It would be useful on that page to show the number of pending tasks, and maybe current pool size, and max capacity, and even possibly average task time (which is most useful if pool is at max capacity). Even cooler, when we

[2020-02-11 18:47] helfi92 commented on #2336
We can use the WorkerPool graphql query to get that information.

https://github.com/taskcluster/taskcluster/blob/7f19e8098cfc797ebea8d8fbf88e63dcee7549b9/services/web-server/src/graphql/WorkerManager.graphql#L75

Example:

[code]

Pending count would be `pendingTasks`. Max capacity can be found inside `config`. @petemoore by pool size, do you mean `capacityPerInstance`?

[2020-02-11 18:53] djmitche commented on #2336
Be careful about assuming things about the shape of data that are not defined in the documentation.  Not every workerPool has a `config.maxCapacity`, and potentially it could mean something totally different for some worker pools.

[2020-02-12 21:48] djmitche commented on #2292
Work in progress on rebasing this atop #2330 is in https://github.com/taskcluster/taskcluster/compare/tc-lib-postgres...djmitche:tc-lib-postgres-azqueue-b

[2020-02-12 21:58] djmitche opened #2342 "support deploying postgres databases in dev environments (`yarn dev:init`, etc.)"

[2020-02-13 00:08] djmitche commented on #2342
WIP at https://github.com/djmitche/taskcluster/pull/new/issue2342

[2020-02-13 14:55] djmitche commented on #2318
Once #2321 lands, I'll re-land #2296 and we can call this finished :)

[2020-02-13 15:50] #2321 closed

[2020-02-13 18:00] djmitche commented on #2292
^^ that should be ready to go once other PRs land.

[2020-02-13 21:39] djmitche commented on #2342
WIP largely complete.  I'll make a PR out of it once #2330 lands.

[2020-02-13 22:00] #2312 closed

[2020-02-14 17:16] #2318 closed

[2020-02-16 18:44] MooseJ commented on #2293
Hey @djmitche. I started taking a look at this issue. I was unable to get scopes to not show up. I followed the steps above, and logged in through my Github account.

I was always getting this:
![image](https://user-images.githubusercontent.com/15016463/74610548-374ea580-50c2-11ea-902c-5960965c9f48.png)

Should I be logging in through my github or is there another way I should be logging in?

[2020-02-16 19:35] djmitche commented on #2293
Hm, I can't reproduce right now either.  However, I just signed in.

When it does work, I see that scopes is initially `*`, then is expanded to all of my scopes.

I wonder if this occurs if you haven't accessed the site in something like 6 hours, so the UI needs to refresh the authentication informatin -- and expands the scopes before it can refresh the authentication.  Maybe try it first thing ne

[2020-02-16 19:41] MooseJ commented on #2293
@djmitche I was just able to reproduce the bug. Yeah it seems to happen if I haven't used the taskcluster app for a while, like about an hour for me. It works again right after a refresh.

I'll take a closer look at when the scopes get expanded and when the authentication gets refreshed

[2020-02-16 19:43] djmitche commented on #2293
Awesome!  A bit of me was worrying it was just me :)

[2020-02-17 11:35] petemoore opened #2367 "go.mod and go.sum have been soiled"
**Describe the bug**

`go.mod` and `go.sum` contain erroneous entries. For example, `go.sum` refers to an older release of taskcluster itself:

[code]

**To Reproduce**

Check out taskcluster, and run `go mod tidy && git diff`.

**Expected behavior**
No changes shown

**Taskcluster version**
`master` branch.

[2020-02-17 14:33] #2367 closed

[2020-02-18 10:58] petemoore opened #2371 "Remove imagesets directory"
**Describe the bug**
The image sets directory now lives [here](https://github.com/mozilla/community-tc-config/tree/master/imagesets) in community-tc-config repository, so we can remove the copy at `/workers/generic-worker/imagesets` in this repo.

[2020-02-18 14:27] #2371 closed

[2020-02-18 15:13] djmitche opened #2375 "Fix failing tc-client-web tests"
These have started failing in the past few days.  Some discussion with @helfi92 reveals that this might be a change in Firefox's CORS behavior.

The tests are still hitting taskcluster.net, so let's start by aiming them somewhere else.  That requires feeding TASKCLUSTER_ROOT_URL into the karma run.  If that helps, great!  If not, ..

[2020-02-18 16:25] djmitche opened #2377 "Editing tasks fails with "Invalid Date""
**Describe the bug**

Editing a task results in an "Invalid date" error from the task creator

**To Reproduce**

1. Go to https://community-tc.services.mozilla.com/tasks/LiS_O4MhTkKHKOk4WVXp-A
2. Click on 'Edit'
4. See error

**Expected behavior**
Task displayed for editing

**Additional context**

Using the debugger shows that this occurs in `parameterizeTask`.

[2020-02-18 16:30] djmitche commented on #2377
Ah, I bet it's this:

`      "apt-get -qq update && apt-get -qq -y install curl pixz && mkdir -p /tmp/artifacts/; cache_file=`curl -sSIL -o /dev/null -w \"%{http_code}\" https://community-tc.services.mozilla.com/api/index/v1/task/project.deepspeech.tensorflow.pip.r1.15.ceb46aae5836a0f648a2c3da5942af2b7d1b98bf.osx/artifacts/public/home.tar.gz` && if [ \"$cache_file\" != \"200\" ]; then\n  curl -SL

[2020-02-18 21:29] djmitche commented on #2375
I think these failures were because the cert for https://auth.taskcluster.net had been revoked.  Oops!  Still, we should update to not use that deployment.

[2020-02-18 22:27] #2377 closed

[2020-02-19 22:20] sciurus opened #2657 "Websocktunnel leaks memory and cpu"
Over time, the amount of memory used by the firefox ci deployment of websocktunnel grows. The rate of cpu utilization also grows. See the graphs below. I believe the drops in them are due to restarts.

<img width="1189" alt="Screen Shot 2020-02-19 at 17 17 20" src="https://user-images.githubusercontent.com/677595/74881703-cdd9cb80-533b-11ea-9dcb-f755ec60bdee.png">
<img width="1181" alt="Screen Sho

[2020-02-20 14:13] #2375 closed

[2020-02-20 17:48] owlishDeveloper opened #2386 "Deleting roles"
This probably applies to deleting other things, not just roles, but I noticed this when working with roles in the UI.

1. Feature request: can we have a Delete button in the table so that I don't have to open a role editor to delete a role? It would be one click less.

2. Once the role is deleted and the role table is loaded, the deleted role appears in that table. I need to refresh the page to ma

[2020-02-20 19:11] petemoore commented on #2004
This sounds like a great win for user experience. What do you think @helfi92?

[2020-02-20 22:08] djmitche commented on #2273
@sciurus has suggested using bigquery to get a more representative sample of API calls.

[2020-02-21 02:06] MooseJ commented on #2293
I was trying to reproduce the bug by running the ui and web server locally, but I can't seem to get the option to sign in with Github to work

I have the option to sign in with credentials, but then the client won't have any scopes, and I am unable to add scopes to that client.

Any idea what I should do next? Is there a test client I can use to sign in that has scopes, or is the a way to add scop

[2020-02-21 14:24] helfi92 commented on #2386
Yep, we can. I'll go ahead and create a separate issue listing all the views that need to be changed.

I just created https://github.com/taskcluster/taskcluster/pull/2392 to have this fixed :)

[2020-02-21 14:35] helfi92 opened #2393 "[UI] Add a delete action in roles, clients, secrets, hooks views"
Feature initially proposed in https://github.com/taskcluster/taskcluster/issues/2386#issue-568468798.

**Describe the bug**
In order to delete something from (e.g., https://community-tc.services.mozilla.com/auth/roles), a user needs to click on the role to delete, then click/hover on the triple dot fab button on the lower right then click on "Delete". That's a lot of clicks that we can perhaps avo

[2020-02-21 14:41] djmitche commented on #2293
Getting sign-in to work locally is pretty hard -- GitHub apps are intended to work with "real" sites, not local development.  I think it may be easier to get to the bottom of this with the developer tools on the "real" site -- maybe putting a breakpoint on the render method, and watching the network tools to see what network transaction happens between renders?

I suspect that this won't be reprod

[2020-02-21 14:50] helfi92 commented on #2004
A simple fix to be able to see the entire command without having to use the scroller would be to wrap the text. Thoughts?

![Screen Shot 2020-02-21 at 9 48 21 AM](https://user-images.githubusercontent.com/3766511/75044436-a3008c00-548f-11ea-808e-80ccae83e573.png)

[2020-02-21 14:54] djmitche opened #2394 "[docs] Rewrite the tutorial"
**Describe the bug**
The [tutorial](https://docs.taskcluster.net/docs/tutorial) is quite out of date, but the first place that people look to figure out "what is this Taskcluster thing?"

**Expected behavior**
A page-by-page tutorial that guides a new user through running a task in Taskcluster and other high-level features of Taskcluster.  But does so in a way that makes sense on any deployment, w

[2020-02-21 14:58] djmitche opened #2395 "[docs] Provide a way to link to site-specific docs"
The docs site is currently identical for every deployment.  But deployments are different, and it would make sense to have some links to specific documentation for each deployment.

Let's add a UI configuration parameter, similar to `ui.banner_message`, that gives some links that are substituted into the docs, if they are set.

I would like to allow multiple links, since there are several places u

[2020-02-21 14:58] SimonSapin commented on #2004
This is certainly an improvement.

As far as I can tell the YAML serializer has some heuristic for choosing between multiple syntax styles for string literals, some of which render multi-line strings (with `"…\n…"` in JSON) on as many lines, which would be even better.

[2020-02-21 14:58] djmitche commented on #2395
@helfi92 I'm curious what you think about this idea -- maybe there are other things we could include too?

[2020-02-21 15:13] helfi92 opened #2396 "[UI] Update react-router to v5"
**Describe the bug**
Renovate opened a PR in https://github.com/taskcluster/taskcluster/pull/1728 but turns out something broke. Let's try to fix this.

**Additional context**
Check out the [releases](https://github.com/ReactTraining/react-router/releases?after=v5.0.1) page of react-router to see what has changed.

[2020-02-21 15:22] helfi92 commented on #2004
Awesome, great to hear!

Got it. For now, I would say let's just wrap the text to maintain the consistency of the [task definition](https://community-tc.services.mozilla.com/api/queue/v1/task/QBv-eQ6ERE-x67E5bZXT6Q) format with the payload (JSON). We could revisit this if we start hearing complaints with the new way data is being displayed.

[2020-02-21 17:21] gijsk opened #2398 "Make it easier to find API docs from the reference documentation"
I opened https://docs.taskcluster.net/docs/reference/core/index to find the documentation for the index APIs, and I was disappointed. The page does a great job explaining concepts behind the index, but doesn't actually contain the API doc. Nor did I see an obvious link to it - I ignored the "next page" and "previous page" buttons at the bottom, one of which would have helped me.

It would be nice

[2020-02-21 19:10] helfi92 commented on #2398
One thing we could perhaps do is add the next/previous buttons at the top. We would then have these buttons at the top and bottom of each page.

[2020-02-21 19:13] #2004 closed

[2020-02-21 21:10] imbstack commented on #1884
Looks like we've decided to stick with the diskette. Thanks for the good work on this, @vishakhanihore sorry it didn't end up getting used. That was my bad.

[2020-02-21 21:10] #1884 closed

[2020-02-22 09:59] aryamanpuri commented on #2396
@helfi92 Can I take up this issue?

[2020-02-22 13:02] crystalarc commented on #2393
@helfi92 I'd like to work on this one.

[2020-02-24 01:22] Callek opened #2404 "t.run is null on worker-type page"
When loading https://firefox-ci-tc.services.mozilla.com/provisioners/gecko-3/worker-types/decision I'm currently presented with an error dialog `t.run is null` as the only text.

Traceback and the error itself looks deep in obfuscated/compressed JS.

[2020-02-24 12:44] helfi92 commented on #2393
Awesome! Go for it.

[2020-02-24 16:33] #2404 closed

[2020-02-24 18:06] djmitche commented on #2377
This is in 25.3.0 and is being deployed to community now and firefox-ci shortly.

[2020-02-24 18:37] djmitche opened #2408 "could not terminate livelog exposure: close tcp [::]:xxxxx: use of closed network connection"
https://community-tc.services.mozilla.com/tasks/SKpYULcgTwmvtVklJwy25g/runs/0/logs/https%3A%2F%2Fcommunity-tc.services.mozilla.com%2Fapi%2Fqueue%2Fv1%2Ftask%2FSKpYULcgTwmvtVklJwy25g%2Fruns%2F0%2Fartifacts%2Fpublic%2Flogs%2Flive.log
[code]

The failure occurred on the landing of https://github.com/taskcluster/taskcluster/pull/2389 but the landing after that one succeeded.

@petemoore can you take a

[2020-02-24 23:39] owlishDeveloper commented on #2386
Thank you Hassan! Closing this one because new issues were open

[2020-02-24 23:39] #2386 closed

[2020-02-24 23:45] owlishDeveloper opened #2409 "Provide UI to help development of taskcluster.yml's"
🐞 https://bugzilla.mozilla.org/show_bug.cgi?id=1471574

[2020-02-24 23:52] owlishDeveloper opened #2410 "Let's allow .taskcluster.yml to extend other .taskcluster.yml"
🐞 https://bugzilla.mozilla.org/show_bug.cgi?id=1496153

[2020-02-24 23:54] owlishDeveloper opened #2411 "Build status for the same SHA in different branches"
🐞 https://bugzilla.mozilla.org/show_bug.cgi?id=1608897

[2020-02-25 14:20] gijsk commented on #2398
I think moving next/previous would *maybe* help a bit, but to be quite honest I would still be very likely to just skim over them, because if I'm looking at a reference section, "next" and "previous" are no use to me. It's like looking in an index; I don't really mind what got sorted alphabetically before/after the thing I'm interested in. I'm not reading the entire book / website, I just want the

[2020-02-25 15:01] petemoore commented on #2408
The real issue was little disguised, further up the log:

[code]

When go tests fail, I typically open the raw log and search for `FAIL:` and that usually finds it (as the failure can be a little buried).

The cause of that intermittent failure seems to be a problem the test had with livelogging. If you go to https://community-tc.services.mozilla.com/tasks/Z84gjoj3QVilvG9FmEYJ4A#artifacts you will

[2020-02-25 15:05] petemoore commented on #2408
Looks like several failed for the same reason:
[code]

The error in the [worker logs](https://community-tc.services.mozilla.com/tasks/SKpYULcgTwmvtVklJwy25g/runs/0/logs/https%3A%2F%2Fcommunity-tc.services.mozilla.com%2Fapi%2Fqueue%2Fv1%2Ftask%2FSKpYULcgTwmvtVklJwy25g%2Fruns%2F0%2Fartifacts%2Fpublic%2Flogs%2Flive.log#L14403-14405) was e.g.

[code]

[2020-02-25 15:07] petemoore commented on #2408
So probably it failed to shutdown on a previous task. Perhaps a race condition killing the livelog, and the next task's livelog starting up? I bet that's it! Perhaps the process kill was non-blocking, i.e. didn't wait for the kill to complete.

[2020-02-25 15:14] petemoore commented on #2408
I see things like [this](https://community-tc.services.mozilla.com/tasks/SKpYULcgTwmvtVklJwy25g/runs/0/logs/https%3A%2F%2Fcommunity-tc.services.mozilla.com%2Fapi%2Fqueue%2Fv1%2Ftask%2FSKpYULcgTwmvtVklJwy25g%2Fruns%2F0%2Fartifacts%2Fpublic%2Flogs%2Flive.log#L2360) in the log:

[code]

@djmitche Do you know what might cause this?

[2020-02-25 15:25] petemoore commented on #2336
OK maybe pending count is enough for a first stab, and that is well-defined. I've noticed that if we navigate up one level, we see the pending count already, but this would save one extra click.

So for example, if I am looking at https://community-tc.services.mozilla.com/provisioners/proj-firefoxreality/worker-types/ci-linux which I reached from a given task, I don't see the pending count directl

[2020-02-25 15:27] djmitche commented on #2336
Also worth noting that this is going to be completely rewritten in the "Worker UI" project, if that affects the level of investment it warrants..

[2020-02-25 22:44] helfi92 commented on #2395
Do you have an example of a link that you want to include to a specific deployment? Why not show it on every deployment?

[2020-02-25 22:57] djmitche commented on #2395
For Firefox-CI, https://firefox-source-docs.mozilla.org/taskcluster/taskcluster/ would be an example.

[2020-02-25 23:10] djmitche commented on #2408
I see the "use of closed network connection" error quite frequently in otherwise-successful runs even before the merge to monorepo (such as [this one](https://community-tc.services.mozilla.com/tasks/AOeeTXnBSfiEfPlHAc68lw/runs/0/logs/https%3A%2F%2Fcommunity-tc.services.mozilla.com%2Fapi%2Fqueue%2Fv1%2Ftask%2FAOeeTXnBSfiEfPlHAc68lw%2Fruns%2F0%2Fartifacts%2Fpublic%2Flogs%2Flive.log)).  So this is ea

[2020-02-26 15:34] helfi92 commented on #2395
Ah I see. Thanks for the link.

By top level link, do you mean an external link that would be added after "Resources" both as a menu in the left drawer navigation and a card in the main content of that view?

Where were you thinking of displaying this on the docs site?

[2020-02-26 16:47] mstange opened #2419 "No "parent folder" navigation in the index browser"
If I'm at https://firefox-ci-tc.services.mozilla.com/tasks/index/project.mobile.fenix.v2.nightly I can click subfolders to make my way down to the file I'm looking for, and I can use the browser's back button to go back up the folder structure. But if I start at https://firefox-ci-tc.services.mozilla.com/tasks/index/project.mobile.fenix.v2.nightly.2020.02.26/latest I don't know how to go back up o

[2020-02-26 19:09] djmitche commented on #2395
I was just thinking of including it as a card, actually.

Primarily for the cord on the "Resources" page, but also in the tutorial where there would be additional links such as "how to get credentials" or "what worker pool to use for a tutorial task".

[2020-02-26 19:19] helfi92 commented on #1389
This issue is still available for someone to pick up.

[2020-02-26 19:31] helfi92 commented on #2419
Duplicate of https://github.com/taskcluster/taskcluster/issues/1389.

Another workaround you can use for now until that issue is resolved is to edit the value of the search component:

![Screen Shot 2020-02-26 at 2 29 51 PM](https://user-images.githubusercontent.com/3766511/75380124-7a6bfe00-58a4-11ea-9212-8d4016236808.png)

[2020-02-26 19:31] #2419 closed

[2020-02-26 19:39] helfi92 commented on #2395
Got it. That makes sense to me.

[2020-02-28 15:53] jschwartzentruber opened #2427 ""Unauthorized: Bad mac" when viewing private log artifacts."
**Describe the bug**

When a task generates private `.log` artifacts, those logs are not viewable from the online log viewer.

**To Reproduce**

Steps to reproduce the behavior:

1. Create a task with private `.log` artifacts.
2. Once task has completed, click on the private log under Artifacts.
3. See error message.

**Expected behavior**

Private logs should be viewable using the log viewer.

**

[2020-02-28 16:19] djmitche commented on #2273
Google doesn't let you save data from BigQuery with Firefox, apparently.  I for one welcome our new Alphabet Overlords.

![image](https://user-images.githubusercontent.com/28673/75565517-15d3af00-5a1c-11ea-8ff1-f378100c90d4.png)

[code]

[2020-02-28 16:20] djmitche commented on #2273
(no great surprises there, really)

[2020-02-28 16:32] djmitche commented on #2427
You can reproduce this by copying the URL from the browser and running `curl -v <url>`.

I had a look at the bewit when I ran this.  I don't see anything wrong.  It's a base64-encoded string containing `<clientId>\<expiry>\<accessToken>\<ext>`.  For me, the clientId was `github/28673|djmitche`, the expiry was 30 minutes from the time of the request, and the `ext` contained a certificate with a rea

[2020-02-28 16:48] helfi92 commented on #2427
The line that generates the URL for the private artifact in web-server is https://github.com/taskcluster/taskcluster/blob/024bd6f2ad0d511ed1943475a7de2e838433373d/services/web-server/src/loaders/artifacts.js#L52

[2020-02-28 17:32] jschwartzentruber commented on #2427
btw, I can access the artifact via the Go CLI client. It looks normal.

[2020-03-01 11:47] StarWonder67 commented on #1389
@helfi92 Is this issue still open? I would like to work on it.

[2020-03-02 12:38] helfi92 commented on #2240
How is it going, @Shubhamchinda :-)

[2020-03-02 12:41] helfi92 commented on #1389
Yep, it is. Go for it @StarWonder67. Let me know if you had any questions.

[2020-03-03 08:05] StarWonder67 commented on #1389
@helfi92 I am new to FOSS. The link you have mentioned above is not available. Should I be adding the code to add breadcrumbs in index.jsx file under this path taskcluster/ui/src/index.jsx in the github repo?

[2020-03-03 14:27] helfi92 commented on #1389
Sorry for that. I just updated the link. It should work now :)

[2020-03-03 14:31] helfi92 commented on #1389
No, I think the change will happen somewhere in `src/views/Tasks/TaskIndex/IndexedTask/index.jsx` and `src/views/Tasks/TaskIndex/ListNamespaces/index.jsx`.

[2020-03-03 15:25] helfi92 opened #2441 "[UI] schema viewer inline code font size"
**To Reproduce**

Steps to reproduce the behavior:

1. Go to http://localhost:5080/docs/reference/platform/auth/api#createClient

**Actual behavior**

The font size in both the short version and the popup area for code segments is bigger than its surrounding text.

![Screen Shot 2020-03-03 at 10 23 02 AM](https://user-images.githubusercontent.com/3766511/75790294-fb117b00-5d38-11ea-9a77-7a396e6361

[2020-03-03 15:37] helfi92 opened #2442 "[UI] API endpoint description font size"
**To Reproduce**

Steps to reproduce the behavior:

1. Go to http://localhost:5080/docs/reference/platform/auth/api#createClient

**Actual behavior**

The description has the same font size as "Description"

![Screen Shot 2020-03-03 at 10 33 20 AM](https://user-images.githubusercontent.com/3766511/75791462-98b97a00-5d3a-11ea-8ed9-cabb42a512c3.png)

**Expected behavior**

The description has a smal

[2020-03-03 18:28] #2441 closed

[2020-03-04 11:51] championshuttler commented on #2442
@helfi92 Can i take this up?

[2020-03-04 12:51] helfi92 commented on #2442
Go for it :-)

[2020-03-05 16:06] djmitche opened #2454 "validate format of usernamePrefix and statementTimeout"
These two config parameters are substituted into SQL statements during DB upgrades.  Just to be sure, let's include comments as to their required format and why they don't use pg parameters, and validate their format.

[2020-03-05 16:07] djmitche opened #2455 "Test for sqli in the js methods calling stored functions"
https://github.com/taskcluster/taskcluster/blob/8a0efa84a93673a1daf012ef4e96a6be5a9f71c3/libraries/postgres/src/Database.js#L48-L66 is the only bit of dynamic SQL that's called in running services, and it's designed to avoid the possibility of SQLi.

Let's add some tests with "weird" strings that double-check it.

[2020-03-05 16:08] djmitche opened #2456 "Add a Security Invariants section to the tc-lib-postgres docs"
We have a few important "NEVER DO THIS" things for postgres security.  Let's write those in one place with brief rationales.

[2020-03-05 16:10] djmitche opened #2457 "test entities scan methods for SQLi"
The tc-lib-entities scan method takes a condition which is substituted into the resulting SQL query.  We've been careful to only allow datestamps there, a format which doesn't allow arbitrary text.  Let's verify that with some tests.

[2020-03-05 17:06] #2454 closed

[2020-03-05 20:25] djmitche opened #2465 "`yarn test:meta` doesn't fail in CI"
https://github.com/taskcluster/taskcluster/pull/2463/checks?check_run_id=488594308 is green, yet

[code]

[2020-03-10 13:25] djmitche opened #2479 "Catch version numbers in internal/"
#2478 fixes some version numbers missed in `yarn release`.  The release mechanics should be fixed, too, so that this doesn't happen on the next major version bump.

Should we also add a run of `go test -c` to the `yarn release` mechanics, such that if it fails the tag is not pushed upstream?

[2020-03-10 17:38] #2457 closed

[2020-03-10 17:38] #2456 closed

[2020-03-10 17:38] #2455 closed

[2020-03-10 17:39] djmitche commented on #2408
I think what remains is ephemeral port collisions, which we can fix if we see again..

[2020-03-10 17:39] #2408 closed

[2020-03-10 18:25] djmitche opened #2486 "Add matrix to the denylist UI"
The denylist UI only mentions IRC, pulse, and email.  It should also allow adding denylist items for matrix.

[2020-03-10 19:06] #2479 closed

[2020-03-10 21:12] djmitche commented on #2293
I haven't seen this in a while.. I'll close as irreproducible and re-open if I see it again (which, knowing my luck, will be in 20 minutes)

[2020-03-10 21:12] #2293 closed

[2020-03-11 17:33] djmitche commented on #2342
This is merged to tc-lib-postgres.  I think we'll end up doing a big merge of that branch into master soon.

[2020-03-11 17:33] #2342 closed

[2020-03-12 15:49] djmitche opened #2498 "Ensure that per-service postgres users are not superusers"
In `db:ugprade`, we check that per-table permissions correspond to those in `db/access.yml`, but we don't look at whether a user is a superuser.  We should.

[2020-03-12 15:53] edunham commented on #2498
This is because when users are created with gcp's command line tooling, they automatically get the `superuser`, `createrole`, and `createdb` roles assigned. I believe that `alter role taskcluster_notify set nosuperuser nocreaterole nocreatedb` (or whatever the correct perms are) will no-op if the service user's roles are correct, and fix them if they aren't.

I have verified that the credentials w

[2020-03-12 16:53] sciurus commented on #2498
If this can be done in such a way that

1) Any unexpected attributes are removed from each services role
2) Any unexpected role memberships are removed from each services role

then it sounds okay.

What will happen by default if we continue setting up the non-admin users the way edunham is doing it is

[code]

We can verify by testing after this command is run and seeing

[code]

[2020-03-12 17:26] #2328 closed

[2020-03-12 19:27] djmitche commented on #2498
So far we've been *checking* but not *enforcing* permissions in db:upgrade.  The idea is that any discrepancy is potentially an IOC and we don't want to sweep it under the rug.  So I'll continue to do that here.

[2020-03-13 13:36] djmitche opened #2503 "Direct links to schemas not working"
https://community-tc.services.mozilla.com/docs/reference/core/worker-manager/static

![image](https://user-images.githubusercontent.com/28673/76625629-0e2d0380-650e-11ea-8391-13130eea3ef4.png)

[2020-03-13 14:09] #2503 closed

[2020-03-13 14:57] djmitche commented on #2498
[code]

[2020-03-13 15:04] djmitche commented on #2498
[code]

[2020-03-13 16:01] djmitche opened #2507 "Add newrelic support to TC, especially for DB access"
This will likely be necessary to drill down into DB performance issues.

[2020-03-13 16:12] djmitche commented on #2507
I got an invite to NR from @sciurus as well as a license key.  I'll want to set app_name to something useful like dustindev.

[2020-03-13 19:18] djmitche commented on #2507
WIP at https://github.com/taskcluster/taskcluster/compare/master...djmitche:issue2507

@imbstack I think the next step is to support configuring this through Helm.  The critical constraints are that the `require('newrelic')` needs to happen before anything else is required, so we can't use tc-lib-config; and that without newrelic config we should avoid requiring newrelic at all, so that it doesn't

[2020-03-16 13:17] djmitche commented on #2395
Thinking more about this, it will probably be important to "call out" these additions visually so that users know they are seeing something site-specific.  Something like

![image](https://user-images.githubusercontent.com/28673/76760696-7aa14000-6764-11ea-8f5e-56402e911246.png)

So, I'm envisioning something in the tc-ui config:

[code]

Then a component that generates a card like the above, with

[2020-03-16 15:17] #2292 closed

[2020-03-16 21:50] #2498 closed

[2020-03-17 10:39] petemoore opened #2518 "Missing line wrapping in generic-worker payload schema docs"
**Describe the bug**
The descriptions in https://community-tc.services.mozilla.com/docs/reference/workers/generic-worker/multiuser-windows-payload are unreadable since there is no line wrapping, and the text goes off-screen.

**To Reproduce**

Click [here](https://community-tc.services.mozilla.com/docs/reference/workers/generic-worker/multiuser-windows-payload) and read the descriptions.

**Expect

[2020-03-17 13:27] helfi92 commented on #2518
This is by design. It's not the best, but we considered the trade-offs and decided to only show the text on hover. For more information on that, see comment/thread in https://github.com/taskcluster/taskcluster/pull/2412#issuecomment-592580364.

[2020-03-17 13:27] #2518 closed

[2020-03-17 17:18] #2507 closed

[2020-03-17 17:58] djmitche opened #2522 "Add monitoring for DB activity"
* DB pool client counts
 * function invocation counts (aggregate?)

[2020-03-17 18:11] djmitche opened #2523 "Build an api-based importer for secrets, clients, etc. that are signed / encrypted in production"
We cannot import these items from production into a staging or development environment because they contain secrets that are encrypted and/or signed (and anyway we don't want such secrets in staging / dev environments).

Let's build a very temporary importer that uses the TC API to import them, without the secret data.  For example, it can list the clients and their scopes on production, and then

[2020-03-17 20:19] djmitche commented on #1472
I think this got fixed up :)

[2020-03-17 20:19] #1472 closed

[2020-03-18 14:51] #2486 closed

[2020-03-19 19:18] aerickson opened #2534 "web ui: feature request: sticky sorting"
It would be sweet if the sorting order was injected into the URL. Whenever I refresh the URL below the sort order needs to be set again (e.g. if I'm sorting by resolved, newest first).

https://firefox-ci-tc.services.mozilla.com/provisioners/terraform-packet/worker-types/gecko-t-linux/workers/packet-sjc1/machine-13

Thanks!

[2020-03-19 19:30] helfi92 commented on #2534
Good idea. Thanks for bringing this up.

[2020-03-20 16:56] djmitche opened #2536 "azqueue tests fail on a machine with non-UTC timezone"
Running the azqueue tests on a laptop that's not set to UTC fails.  Something's wrong with the conversion of Date objects into timezonetz columns in the DB.

[2020-03-20 17:17] djmitche commented on #2536
https://github.com/brianc/node-postgres/issues/2141

[2020-03-20 18:20] djmitche commented on #2522
WIP in `issue2522` on my repo.

[2020-03-20 18:41] djmitche opened #2538 "refactor queue to use lib-azqueue"
..on the tc-lib-postgres branch

[2020-03-20 18:42] helfi92 commented on #2538
Either tc-lib-postgres branch or https://github.com/taskcluster/taskcluster/pull/2530 if it makes more sense to put it there.

[2020-03-20 18:52] djmitche commented on #2538
good point, thanks

[2020-03-20 23:16] djmitche commented on #2538
landed in tc-lib-postgres

[2020-03-20 23:16] #2538 closed

[2020-03-20 23:50] djmitche commented on #2273
As written, this is not breaking a sweat and not causing TC or Pg to break a sweat in my dev environment.  I need to add some more simluators (the checkboxes above) but I'm confident that will work just fine.

[2020-03-22 15:19] djmitche opened #2541 "summarize table columns automatically in db docs"
This will work a lot like `access.yml`: a file containing the expected DB configuration (with comments and descriptions) that is compared at test time with the actual DB structure, failing if they do not match.

[2020-03-22 15:21] djmitche commented on #2541
WIP in https://github.com/taskcluster/taskcluster/compare/master...djmitche:issue2541?expand=1

I was considering also creating a nice markdown file with the DB structure, but I want to avoid tempting people to treat the table structures as a public API.  I think keeping them in a YML file with a big "WARNING" comment at the top will help.

[2020-03-23 20:33] djmitche opened #2555 "[tc-lib-azqueue] pending counts should exclude expired"
We only expire every hour, so we should exclude queued messages with expires < now when counting pending tasks.

[2020-03-23 20:40] #2536 closed

[2020-03-24 11:51] helfi92 opened #2557 "[importer] Make importer give good metadata"
Number of rows imported and elapsed time. Additioanlly, we could show this data per table.

[2020-03-24 12:55] helfi92 opened #2558 "[postgres] Update services to use tc-lib-entities"

[2020-03-24 14:08] djmitche commented on #2427
I suspect this is fixed in v27 (so some time ago).  Can you confirm @jschwartzentruber ?

[2020-03-24 17:12] djmitche commented on #2523
https://github.com/djmitche/tc-api-importer

@helfi92 do you think this will be useful for you?

[2020-03-24 21:23] djmitche opened #2562 "[websocktunnel-monorepo] migrate websocktunnel to the monorepo"

[2020-03-25 13:53] #2541 closed

[2020-03-25 14:07] helfi92 opened #2564 "[importer] Comment out signed / encrypted tables"
Comment out the importer to not import secrets, clients, etc. that are signed / encrypted. We'll use the api-based importer for now. We can uncomment them after the firefoxci production data is imported.

[2020-03-25 14:15] helfi92 commented on #2523
Yes, that would be helpful. Thank you. Should we also add the signed/encrypted tables in the web-server service?

[2020-03-25 14:58] djmitche commented on #2523
I think it's OK to just initialize those to blank tables.  They don't have CRUD API methods, so they can't be copied using this approach.

[2020-03-25 14:58] #2523 closed

[2020-03-25 14:59] #2555 closed

[2020-03-25 19:25] djmitche opened #2566 "Set statementTimeout to 30s in server processes"
tc-notify has
[code]
and I think all services should have the same.  This aborts queries after 30s in server processes (those serving APIs) and lets them run forever in other processes (e.g., expiration).

[2020-03-25 20:05] djmitche opened #2567 "README TOC generation sometimes duplicates db README"
`README.md`:
[code]

then later those disappear..

[2020-03-25 20:19] helfi92 opened #2568 "[postgres] Make Role an entity (currently a blob)"

[2020-03-26 12:13] #2568 closed

[2020-03-26 16:10] helfi92 opened #2573 "[postgres] Test importing production (requires Azure access)"
Also exeperiment with ways to make the script faster.

[2020-03-26 21:46] djmitche commented on #2273
I've been running this successfully with
[code]
against my dev environment running the latest tc-lib-postgres -- so no azure queues or tables at all (even roles have now been converted).  This is a steady 800 tps on the DB server, with about 75 active DB connections.  DB ingress is 300kiB/s, egress 530KiB/s.  CPU utilization is stable at about 45%.

I'll add the additional perf testers described i

[2020-03-26 21:46] #2273 closed

[2020-03-26 21:49] djmitche opened #2577 "Overloaded pods crash with session-idle-in-transaction errors"
When I was loading things far more than a single tc-queue pod could handle, it stayed up but its memory usage went through the roof and it started logging a lot of session-idle-in-transaction errors.

This parameter is currently set at 1s, because we really really shouldn't be idle in a transaction at all, since we open and close transactions tightly around each operation.  Still, when Node is ove

[2020-03-27 06:43] aryamanpuri commented on #2396
Sorry @helfi92 , I got stuck in some other work.
I bumped the version to 5.0.0 but got stuck as it is showing the same error.
I will try to debug this and respond to you shortly.

[2020-03-28 13:39] jschwartzentruber commented on #2427
It is not. Same error here: https://community-tc.services.mozilla.com/tasks/aqXDpGutSqq9zL8n9ebojg#artifacts (TC v28.0.0)

[2020-03-29 23:11] ashishzingh commented on #2534
hey!! can i take up this issue?

[2020-03-30 11:59] helfi92 commented on #2534
Hey @ashishzingh. Your help will be greatly appreciated. Go for it.

We do something similar in https://firefox-ci-tc.services.mozilla.com/provisioners/xpi-1/worker-types/b-linux where we have the URL tied to the "Filter By" ([source](https://github.com/taskcluster/taskcluster/blob/62cbb7a62eddda0b45e0b917f55247c97207550f/ui/src/views/Provisioners/ViewWorkers/index.jsx#L237-L248)) dropdown. Toggli

[2020-03-30 12:59] mushie101 commented on #2393
Heyya is someone already working on this? I was wondering If i could pick this issue up.

[2020-03-30 13:26] crystalarc commented on #2393
@mushie101 Yeah, I'm, sorry for the delay, I was busy lately.

[2020-03-30 13:27] helfi92 commented on #2393
@crystalarc Are you working on this?

[2020-03-30 16:46] crystalarc commented on #2393
@helfi92 Yeah, half-done, will finish it soon.

[2020-03-30 16:54] #2564 closed

[2020-03-30 16:54] #2558 closed

[2020-03-30 16:56] helfi92 commented on #2396
Sounds good. https://github.com/taskcluster/taskcluster/pull/1728#pullrequestreview-362689060 suggests there was a breaking change so it will probably involve figuring out what changed in their react-router changelog/releases page then fixing it here.

[2020-03-30 16:58] helfi92 commented on #2241
Resolved in https://github.com/taskcluster/taskcluster/pull/2418.

[2020-03-30 16:58] #2241 closed

[2020-03-30 16:59] helfi92 commented on #2200
@walac Are you still seeing this issue these days?

[2020-03-30 17:01] helfi92 commented on #2123
@Manish-Giri How is it going? :-) Still interesting in finishing this up? Happy to help.

[2020-03-30 19:29] helfi92 commented on #1888
@rbrishabh How is it going? :-)

[2020-03-30 19:30] helfi92 commented on #1829
This was fixed a while ago :)

[2020-03-30 19:30] #1829 closed

[2020-03-30 19:31] helfi92 commented on #1389
How is it going @StarWonder67 :) Still working on this?

[2020-03-30 19:33] #987 closed

[2020-03-30 19:33] #835 closed

[2020-03-30 19:34] helfi92 commented on #773
This is no longer needed. We started using hooks so we are OK to close this.

[2020-03-30 19:34] #773 closed

[2020-03-31 00:10] walac commented on #2200
I haven't seen it since then

[2020-03-31 11:46] #2200 closed

[2020-03-31 12:23] helfi92 commented on #2534
How is it going @ashishzingh? Let me know if you had questions :-)

[2020-03-31 12:23] #2557 closed

[2020-03-31 13:04] helfi92 commented on #2127
Resolved in https://github.com/taskcluster/taskcluster/commit/22772ba5c17aaeaab6a192245600db20afa5a197

[2020-03-31 13:04] #2127 closed

[2020-03-31 13:06] helfi92 commented on #2129
Ah, I forgot to reply back :( @ss77995ss do you still have the bandwidth to work on this? Happy to help :)

[2020-03-31 13:07] helfi92 commented on #2128
How is it going @katherine95? :-) Are you still working on this?

[2020-03-31 13:08] helfi92 commented on #2124
@Manish-Giri Are you still interested in finishing this up?

[2020-03-31 13:10] helfi92 commented on #1936
@imbstack @djmitche Do you know if this was fixed? I remember seeing a possible fix a while ago but I'm not certain.

[2020-03-31 13:12] helfi92 commented on #1890
@SimonSapin Are you still being logged out every 15 minutes?

[2020-03-31 13:14] helfi92 commented on #1889
It looks like material-ui won't be fixing this. Closing this as a won't fix.

[2020-03-31 13:14] #1889 closed

[2020-03-31 13:28] helfi92 commented on #2088
We tried making this clearer with:

<img width="1782" alt="Screen Shot 2020-03-31 at 9 28 03 AM" src="https://user-images.githubusercontent.com/3766511/78031760-f806ac00-7331-11ea-96f6-9945ca8d7c98.png">

[2020-03-31 13:28] #2088 closed

[2020-03-31 14:04] #2442 closed

[2020-03-31 17:06] #1615 closed

[2020-03-31 17:08] #1764 closed

[2020-03-31 17:10] helfi92 commented on #1452
It looks like we aren't doing this anymore? Feel free to re-open if this still needs to be done.

[2020-03-31 17:10] #1452 closed

[2020-03-31 18:39] helfi92 commented on #2522
Completed in https://github.com/taskcluster/taskcluster/commit/979653f465104abb27709e7532128a9cf5963dbc.

[2020-03-31 18:40] helfi92 commented on #2566
Completed in https://github.com/taskcluster/taskcluster/commit/10b8db02858e4af4843cc3d2958615f1a048ce35.

[2020-03-31 18:40] #2566 closed

[2020-03-31 19:07] helfi92 opened #2591 "[postgres] Test load on production data"

[2020-03-31 19:09] helfi92 opened #2592 "[postgres] Work with cloudops on load testing"
Schedule time to work with bpitts, edunham, hassan on the load testing so we can perform [active benchmarking](http://www.brendangregg.com/activebenchmarking.html). Primary goal is sizing the PostgreSQL instance appropriately, but we can also try to look for any potential bottlenecks.

[2020-03-31 19:32] helfi92 opened #2593 "[importer] wall-clock times for both firefoxci and community"
Figure out roughly how much time we would need to migrate firefoxci and community.

As of right now, we would need more than a day to import firefoxci (script still running). It would be good to know if migrating the community cluster would take more than a day.

[2020-03-31 20:15] helfi92 opened #2594 "Add UI banner to community 1 week before migration"
[Instructions](https://github.com/taskcluster/taskcluster/blob/caec22bccd3481e7d0f02c091ce1bc8eba3263a7/ui/README.md#banner-message) on how to add a banner.

[2020-03-31 20:25] helfi92 commented on #2594
The message could perhaps be "Community-TC will be down for maintenance on 3/17".

[2020-03-31 20:38] helfi92 opened #2595 "[postgres] Grant access to cloudops for hassan's deployment"
Grant bpitts, edunham, and dustin project viewer access to hassan’s deployment as well provide superuser login to the postgresql instance

[2020-04-01 00:16] gaborszekely commented on #2124
@helfi92 Could not replicate this bug.

[2020-04-01 00:24] Manish-Giri commented on #2123
@helfi92 Sorry, I had to step away for a few weeks for interview prep, and then completely forgot about this due to what's going around.

I already did some work on this (and #2124) the last time, I'll get back on both right away. Thank You for bearing with me.

[2020-04-01 07:01] Manish-Giri commented on #2124
@helfi92 Yes, I am. Sorry for the delay, I had to step away for a bit, I'll get back on both the issues right away.

[2020-04-01 10:09] rbrishabh commented on #1888
Hey @helfi92 !  How are you? I hope you are keeping well! :)
I got into so much stuff and completely forgot about this!

But, I'll look into this over the weekend! Thanks for the reminder and also for the constant mentoring you had given me earlier! (I got myself my first job because of that!)

I hope to get back in here and start crushing some bugs soon!

Cheers!

[2020-04-01 10:34] ashishzingh commented on #2534
@helfi92  just did the setup for ui and web-server . i am a newbie so am going through the codebase and learning graphQL, will post my doubts soon.

[2020-04-01 12:28] helfi92 commented on #2123
No worries! Stay safe.

[2020-04-01 12:29] helfi92 commented on #2124
I just tried and was able to replicate. What exactly were you not able to replicate?

Awesome. Thanks!

[2020-04-01 12:33] helfi92 commented on #1888
No worries! Things are wild right now with everything that's happening. Stay safe.

woooo, awesome! That is some really great news. Happy to help!

💪

[2020-04-01 12:35] helfi92 commented on #2534
Sounds good to me. Thanks for spending the time looking at this. The change will most probably just be inside the `ui` directory and will not involve any changes to the graphql query.

[2020-04-01 12:46] #1389 closed

[2020-04-01 14:02] ss77995ss commented on #2129
Yeah, I could help! I'll start working on it if there is no concern.
I might use `react-router`'s `history.push` to set query parameters then use `useQuery` to get it to do the deep links.

[2020-04-01 14:32] helfi92 commented on #2129
Awesome, thanks! We use deep linking in other views of the site so you could use that to see how they are implemented.

[2020-04-01 14:34] ss77995ss commented on #2129
Hi @helfi92,
Hmm looks like `auth/client` and `auth/scopes` has deep linking already.
Then I only need to handle `roles` views?

[2020-04-01 14:42] helfi92 commented on #2129
I just updated the bug description for /auth/scopes (the view had changed slightly since last time). Looks like /auth/clients already has deep linking.

[2020-04-01 14:49] ss77995ss commented on #2129
Thanks for the update!
BTW, could I have a try on rewriting `<ViewScope />` and `<ViewRoles />` with `react hooks`?

[2020-04-01 16:27] SimonSapin commented on #1890
No. I am still logged out occasionally, but much less frequently now. What changed?

[2020-04-01 16:48] helfi92 commented on #1890
I don't remember what changed exactly but I think it was an issue with the renewal not working due to CORS issues on the new site. Glad to hear that it's working again.

[2020-04-01 16:48] #1890 closed

[2020-04-02 13:26] helfi92 commented on #2595
<img width="590" alt="Screen Shot 2020-04-02 at 9 24 37 AM" src="https://user-images.githubusercontent.com/3766511/78254374-cfaeb700-74c3-11ea-96ff-a14e620b52d3.png">

It looks like I am missing permissions to grant viewer access to my deployment that's in taskcluster-dev. @djmitche / @imbstack Are you able to provide me with permissions?

[2020-04-02 14:02] helfi92 opened #2598 "Add GraphQL docs"
From slack:

GraphQL can be a bit overwhelming for users that don't interact with it on a daily basis. Let's add some documentations on how to add an endpoint (i.e., graphql, resolver, loader) and on how to use the playground.

[2020-04-03 06:37] ashishzingh commented on #2534
@helfi92  i am trying to figure out how to get the url in the prop of WorkerTable component so that i can tie the url to the table columns.
The prop and State on clicking sort is structured as below
<img width="609" alt="doubt" src="https://user-images.githubusercontent.com/13368710/78331122-060f3380-75a3-11ea-90d1-cd0719cf0a7a.PNG">

can you guide me ?

[2020-04-03 17:44] helfi92 opened #2601 "Rename child monitors"
From https://github.com/taskcluster/taskcluster/pull/2600#discussion_r403182785:

[2020-04-03 18:11] helfi92 commented on #2594
Filed https://bugzilla.mozilla.org/show_bug.cgi?id=1627324.

[2020-04-04 19:33] ashishzingh commented on #2534
@helfi92  I have finished the feature but have some linting errors. i am new to open source. what should be by next steps before raising a PR. on doing yarn test 23 test cases are passing.

[2020-04-06 12:02] helfi92 commented on #2534
You can fix most linter errors by running `yarn lint --fix` from within the `ui` directory. Once this is done, feel free to create a PR.

[2020-04-06 12:33] helfi92 opened #2606 "[UI] Hooks view empty state"
**To Reproduce**

Steps to reproduce the behavior:

1. Go to https://firefox-ci-tc.services.mozilla.com/hooks
2. Search for something that doesn't exist (e.g., foobar)

**Expected behavior**
Some text telling the user that there are no hooks to be shown with this search term.

**Actual**
An empty screen.

<img width="1490" alt="Screen Shot 2020-04-06 at 8 31 26 AM" src="https://user-images.githubu

[2020-04-06 12:41] helfi92 opened #2607 "[UI] Search terms with empty table results"
**To Reproduce**

Steps to reproduce the behavior:

1. Go to https://firefox-ci-tc.services.mozilla.com/secrets
2. Search for something that doesn't exist (e.g., foo-bar-foo)

**Expected behavior**
"No  items for this page with search term foo-bar-foo." is shown.

**Actual behavior**

"No items for this page." is shown. It's hard to infer whether there are no results for this page or no results fo

[2020-04-06 12:41] djmitche commented on #2522
Not quite done yet -- still need to rebase and land https://github.com/taskcluster/taskcluster/pull/2571/commits/a5072f023182373398c02091328bb1ece3f67ac7 from #2571.

[2020-04-06 12:45] djmitche commented on #2595
I think this is a project-owner-only thing?  Hopefully @imbstack can work on this when he's back, as he's the owner of the project iirc.

[2020-04-06 12:48] djmitche commented on #2522
And note to self, #2600.

[2020-04-06 12:49] helfi92 commented on #2595
Ah, I see. I'll reach out to him tomorrow.

[2020-04-06 13:04] djmitche commented on #1936
I don't believe so.  The fix would be somewhere around [here](https://github.com/taskcluster/taskcluster/blob/0e63621bee2dfaf166f7e56ad04dc1ccb623b847/services/hooks/src/taskcreator.js#L138-L154).

[2020-04-06 13:21] rohanharikr commented on #2607
On it!

[2020-04-06 13:35] helfi92 commented on #2607
Thanks @rohanharikr!

[2020-04-06 13:50] helfi92 commented on #2601
@imbstack Do you remember where that was? I wasn't able to to find what you were referring to with `git grep childMonitor`.

[2020-04-06 13:55] helfi92 commented on #2593
wall-clock times as of April 6:

firefoxci: [~24 hours](https://bugzilla.mozilla.org/show_bug.cgi?id=1626314#c11)
community-tc: [~40 mins](https://bugzilla.mozilla.org/show_bug.cgi?id=1626314#c14)

https://github.com/taskcluster/taskcluster/pull/2599 is an attempt to make the importer faster. Results will be posted soon.

[2020-04-06 14:32] djmitche commented on #2601
For example, `services/queue/src/main.js`
[code]

I'll fix this up in #2522.

[2020-04-06 16:50] edunham commented on #2594
Banner is added.

As Dustin mentioned in that bug: "Let's get a note out to tools-taskcluster@ and TaskCluster-"Announce <taskcluster-announce@lists.mozilla.org> announcing this.

[2020-04-06 17:04] helfi92 commented on #2594
Done.

[2020-04-06 17:04] #2594 closed

[2020-04-06 21:43] ashishzingh commented on #2606
i would like to work on this issue

[2020-04-07 11:59] helfi92 commented on #2606
Go for it.

[2020-04-07 14:18] walac opened #2615 "It is not possible to create a new client ID through UI"
**Describe the bug**

When you click to create a new client ID you get a message saying `e.scopes is undefined` and the console shows this error:

[code]

**Expected behavior**

You should get the form to create a new client

**Taskcluster version**

It happens on version `28.2.2` deployed in the staging environment, but works in version `28.0.0` deployed in production.

**Platform (please complet

[2020-04-07 14:45] helfi92 commented on #2615
That's a weird! Wasn't that working not too long ago? I wonder if the issue came after upgrading a dependency or something. I can look at it. @walac While we get a fix for this, could you create a client using the API directly instead?

[2020-04-07 14:49] walac commented on #2615
Hrm, maybe through taskcluster shell, I will give it a look

[2020-04-07 20:28] helfi92 commented on #2615
Looks like creating a client works on the firefoxci deployment which is running v28.0.0. Community is running v28.2.2.

[2020-04-07 20:29] helfi92 commented on #2615
Ah it's probably coming from the new scope diff viewer that got introduced in 28.1.0.

[2020-04-07 20:41] #2601 closed

[2020-04-07 20:41] #2522 closed

[2020-04-07 20:41] #2577 closed

[2020-04-07 21:26] #2615 closed

[2020-04-08 11:16] julienpan commented on #2607
Hi, is this issue still open ?

[2020-04-08 17:55] djmitche commented on #1492
Indeed, I haven't seen this in some time.  I'll remove the check in an upcomging PR.

[2020-04-08 18:03] helfi92 commented on #2607
Not at the moment. There's a pull-request fix for that already.

[2020-04-08 21:28] helfi92 commented on #2606
How is it going? :-)

[2020-04-08 22:22] ashishzingh commented on #2606
i am trying to figure out how to access the subtree in material ui once the search is performed.

[2020-04-09 13:03] helfi92 commented on #2591
Results for that have been posted in the google doc "Taskcluster PG Migration Load Testing Planning".

[2020-04-09 13:03] #2591 closed

[2020-04-09 13:04] helfi92 commented on #2592
This happened yesterday.

[2020-04-09 13:04] #2592 closed

[2020-04-09 14:37] djmitche opened #2631 "Pg Importer Improvements"
* give more runtime metrics, maybe using a display similar to the perf-tester.
  * how full that 5-chunk buffer is
  * rows-per-second for each concurrent copy operation, with total
  * number of active Pg connections
  * regular logging to a file of some sort so we can go back and figure what happened at a particular time
* be resilient to connection errors
* configurability
  * concurrency
  * n

[2020-04-09 15:07] helfi92 commented on #2573
Latest run was 9 hours for FirefoxCI https://bugzilla.mozilla.org/show_bug.cgi?id=1626314#c25

The latest branch of tc-lib-postgres should hopefully bring this down to something that's less than 8h.

[2020-04-09 15:07] #2573 closed

[2020-04-09 23:28] djmitche commented on #2567
and of course, once I file a bug it stops happening..

[2020-04-10 07:03] aryamanpuri opened #2637 "AssertionError [ERR_ASSERTION]: readDbUrl is required"
**Describe the bug**
Unable to start the graphql server

**To Reproduce**

Follow the dev docs to produce local web server using https://github.com/taskcluster/taskcluster/blob/master/dev-docs/development-process.md#hacking-on-the-ui

**Error Log**
[code]

**Additional context**
I don't if there are any server code changes that are giving this error.

[2020-04-10 07:11] aryamanpuri commented on #2263
@helfi92 Should be closed!

[2020-04-10 07:16] aryamanpuri commented on #2606
Yes, we can show like this :
![Screenshot from 2020-04-10 12-45-33](https://user-images.githubusercontent.com/43513114/78971454-3c136100-7b29-11ea-845e-0fa5fefda222.png)

[2020-04-10 11:23] #2263 closed

[2020-04-10 12:42] ashishzingh commented on #2606
@aryamanpuri  do we need to access the subtree to find out whether the search has no results or is there any other method?

[2020-04-10 14:27] helfi92 commented on #2637
We're in the midst of a migration today. Once the migration is done, I think you would be able to have it point at the community deployment db url as a default. For now, I think you can just `git checkout 012c24e4073df8a8e67c41836ec9977324ba5571` (commit right before the db change) and then try again. It should work.

[2020-04-10 14:55] ajinkabeer commented on #2598
Hello @helfi92, I would love to work on this but I have a very basic GraphQL knowledge. What do you think?

[2020-04-10 15:04] djmitche commented on #2637
Credentials for that URL won't be available.  I think we'll have to run postgres in docker from here on out, even for running the web-server process.

[2020-04-10 15:17] helfi92 commented on #2598
Hey! I actually already started working on this on a separate branch. Is there a different task you are interested in tackling? If not, we can always create new issues :-)

[2020-04-10 15:22] ajinkabeer commented on #2598
Oh, you already started working on it, that's awesome. Yes, I will be on the lookout for new issues :)

[2020-04-10 15:29] aryamanpuri commented on #2637
It is not working. Giving the same error. Hold on until the migration is done.

[2020-04-10 15:52] djmitche commented on #2268
@ajinkabeer any interest in hacking on this?

[2020-04-10 16:03] djmitche commented on #2637
Do the docs in #2638 help?

[2020-04-10 16:30] ajinkabeer commented on #2268
Hello there @djmitche , I would very much like to take it up :)

[2020-04-10 16:46] djmitche commented on #2268
All yours!

[2020-04-10 17:22] ajinkabeer commented on #2268
Thanks, @djmitche. I would also like to get some more insight into this issue. I have looked at #2267 and found that you manually removed `v24 `from the links in `clients/client-go/README.md`.

When I ran `yarn generate`, got the following errors.

[code]

[2020-04-10 17:27] djmitche commented on #2268
Hm, when it finished running it should have shown a full traceback for one
of those.  What did that say?

[2020-04-10 17:31] ajinkabeer commented on #2268
Thanks for the quick response @djmitche . Here is the traceback I got.

[code]

[2020-04-10 17:36] djmitche commented on #2268
Hm, that looks like a Windows path issue.  We haven't had great luck doing development of Taskcluster services on Windows.  Do you have WSL available?

[2020-04-10 17:42] ajinkabeer commented on #2268
Oh, I am really sorry for that  @djmitche

Yes, I have WSL. So I guess after ``yarn generate`` runs without error, I can go ahead and look into ``codegenerator/model``  directory to start working on the issue.

[2020-04-10 17:49] #2637 closed

[2020-04-10 18:10] ajinkabeer commented on #2268
``yarn generate`` ran without any errors. Yay!
[code]

[2020-04-10 19:06] #2562 closed

[2020-04-10 21:11] #2631 closed

[2020-04-10 22:51] djmitche commented on #2395
work in progress at https://docs.taskcluster.net/docs/reference/integrations/github/api#badge

[2020-04-13 12:47] helfi92 commented on #2593
wall-clock times as of April 13:
firefoxci: [~3 hours](https://bugzilla.mozilla.org/show_bug.cgi?id=1626314#c26)

[2020-04-13 12:47] #2593 closed

[2020-04-13 13:23] helfi92 opened #2646 "Figure out phase 2 importing story"
Figure out an efficient way to import data out of tables created in phase 1 to phase 2 tables. We will be moving a lot of data and so we want to minimize the time it takes to do so in order to avoid going over the TCW (8 hours).

Have a better understanding of how postgres behaves around ALTER and so on.

[2020-04-13 15:09] djmitche opened #2647 "Upgrade and migrate tc-livelog to the monorepo"

[2020-04-13 16:28] djmitche commented on #2647
Wow, the tests for this are in JS!

[2020-04-13 19:51] helfi92 commented on #2646
2 strategies for importing the data:

1. Clone the table and then use ALTER & UPDATE

This would involve creating a clone of the entities tables, then using ALTER to modify the table as we find fit.

2. Create an empty table and then use INSERT

[code]

[code]

---

It turns out ALTER is not super great on large tables. The process involves touching two rows for row that is modifed (one to delete

[2020-04-13 20:06] helfi92 opened #2649 "*cleanup* - remove dependency on azure-entities / azure-blob-storage in monorepo"

[2020-04-13 21:53] #2598 closed

[2020-04-14 00:05] djmitche commented on #2647
In other news, the Range support in livelog was completely broken.  I removed it.

[2020-04-14 05:12] ashishzingh commented on #2606
@helfi92 can you please guide me how to find whether the subtree on searching inside <MuiTreeView> is empty or not.
https://github.com/taskcluster/taskcluster/blob/796b4ed7273c005cf58bfac461ab004bf30f6225/ui/src/views/Hooks/ListHooks/index.jsx#L90-L100
hookGroups remain constant even on searching.

[2020-04-14 13:02] ajinkabeer commented on #2268
Hello @djmitche, I have a few questions in my mind. So are we going to write a function that reads the `README.md` file line by line and check the status codes of links by sending HTTP requests to all the links in the file?

[2020-04-14 14:09] jonasfj opened #2658 "make webhooktunnel work with an HTTPS terminating load-balancer"
We need an environment variable to indicate that TLS have already been terminated by a load balancer...

[2020-04-14 14:10] jonasfj opened #2659 "test websocktunnel client with disappearing requests..."
Let's try to stream a response out (like a livelog) using `whclient`, while a livelog viewer downloads half the request before aborting the request in various dirty ways.

I fear I've seen requests getting stuck, we should test for this.

[2020-04-14 17:34] djmitche commented on #2646
For the second option, could we be sure that concurrent modifications to the old table were reflected in the new table?  Insertions?  Deletions?

I suspect that to avoid those issues we'd have to lock the old table during the transaction, which if the transaction takes more than a few seconds would result in a service outage (or downtime if planned).

If an alter can occur with less locking and do

[2020-04-14 17:39] helfi92 opened #2662 "[UI] Index view breadcrumb"
**To Reproduce**

Steps to reproduce the behavior:

1. Go to https://community-tc.services.mozilla.com/tasks/index
2. Type anything in the search input field (e.g., "foo")

**Expected behavior**
Text should only change in the input field. The breadcrumb view should not be changed until the user presses enter.

**Actual behavior**
The breadcrumb view is being displayed and the text changes while th

[2020-04-14 17:45] djmitche commented on #2646
A few other half-baked ideas that have been knocking about in my head:
 * We could use multiple upgrade "steps", for example a step adding a new table and updating the functions to read from both old and new, but only write to the new table.  Then a later step can move data out of the old table and into the new, knowing that nothing is writing to the old table
 * Rows in some tables are never modi

[2020-04-14 17:54] djmitche commented on #2268
There was a bug to do something like that, but this is not it!  This one is easier :)

The idea is to automatically generate a part of the README file, based on information read directly from the repository.  Here's another example: [this code](https://github.com/taskcluster/taskcluster/blob/master/infrastructure/tooling/src/generate/generators/db-users.js) reads the list of DB users indirectly fr

[2020-04-14 17:58] #2647 closed

[2020-04-14 18:59] helfi92 commented on #2646
Hm, I was under the impression that taking a downtime would be okay. In that case, the "multiple upgrade" step you suggested might make more sense to ensure no downtime.

That's a good idea to avoid using a downtime. I think that shouldn't be too complicated and also removes the burden of trying to fit the full upgrade in the TCW. Perhaps we could write to the db in small batches rather than one b

[2020-04-14 19:01] ajinkabeer commented on #2268
I was able to find an older version of Taskcluster client package on [pkg.go.dev]( https://pkg.go.dev/github.com/taskcluster/taskcluster/v28@v28.2.3/clients/client-go?tab=doc). But since the latest version is v29, it should be automatically updated right?

[2020-04-14 19:08] djmitche commented on #2268
Indeed, yes.  If you'd like to work on that, that's great -- let's file another issue here to track that work, though.

[2020-04-14 19:09] ajinkabeer commented on #2268
Yes. Thanks for confirming that. I think I will move onto that issue once I finish this one up

[2020-04-14 19:12] ajinkabeer commented on #2268
So should we add a marker in `README.md ` file before writing a function?

[2020-04-14 19:14] #2567 closed

[2020-04-14 19:16] djmitche commented on #2268
Yes

[2020-04-14 19:18] ajinkabeer commented on #2268
Thanks. I will open a PR once I make some meaningful progress.

[2020-04-14 19:39] djmitche commented on #2646
I think downtime is OK, but we should try to avoid it.  It will mean waiting for a TCW, which will be six weeks now.

[2020-04-14 19:47] helfi92 commented on #2646
There's definitely a way to avoid it, but obviously there are trade-offs which don't seems to be that bad. Ok, let's avoid it :)

[2020-04-15 01:59] #2395 closed

[2020-04-15 13:27] #2649 closed

[2020-04-15 16:48] ss77995ss commented on #2129
Hi @helfi92 , I've created a PR for this issue, have a look!

[2020-04-15 19:50] helfi92 opened #2671 "*cleanup* - remove azure tables meta test"

[2020-04-15 20:03] helfi92 opened #2674 "*cleanup* - remove the azure table/container cleanup in the auth test suite"

[2020-04-15 20:04] #2671 closed

[2020-04-15 21:54] #2674 closed

[2020-04-16 12:37] #2534 closed

[2020-04-16 12:47] helfi92 opened #2677 "*cleanup* - delete importer"
To be done after the FirefoxCI migration.

[2020-04-16 12:52] djmitche commented on #2677
:cry:

[2020-04-16 14:19] helfi92 commented on #2606
This one is a bit not like the other. If we want to render something when the list is empty, we have two choices:

1. Use `forwardRef` as defined in https://reactjs.org/docs/refs-and-the-dom.html#adding-a-ref-to-a-class-component.

2. Expose a new prop on material-ui-treeview (e.g., `onEmptySearch`) that would accept a react element to render when the tree is not empty but the search term finds no

[2020-04-16 16:49] tomprince opened #2679 "[UI] Prompt for logging in immediately when using `taskcluster signin`."
**Describe the bug**
When signing in via `taskcluster sign`, if you are not signed via the web (or the signin has expired), it gives you a page that says "sign in to create client". You need to then click in the top right to sign in.

**Expected behavior**

It would be nice if instead, it automatically prompted you to sign in, rather that requiring the extra click.

[2020-04-16 17:06] helfi92 commented on #2679
Agreed, that would be good to have.

[2020-04-16 17:20] djmitche opened #2681 "Make the 'script' portions of DB upgrades optional"
Some upgrades just modify stored functions, and there's no need for upgrade or downgrade scripts.  Let's make those optional.

[2020-04-16 21:21] #2465 closed

[2020-04-17 18:33] #2268 closed

[2020-04-20 17:25] #2677 closed

[2020-04-21 12:36] helfi92 commented on #2129
Reviewed. Let me know if you had any questions.

[2020-04-21 20:21] helfi92 opened #2707 "Update netlify to reflect recent breaking changes"
https://community.netlify.com/t/changed-behavior-in-redirects/10084.

[2020-04-21 21:28] djmitche commented on #2646
We met and talked about this and still have a number of unknowns. We're both continuing to work on different services, and going to regroup and see what we've run into and how to do this after gathering a bit more experience.

[2020-04-22 01:23] ss77995ss commented on #2129
Thank you! I just updated the PR. Have a look :)

[2020-04-22 19:49] rohanharikr commented on #2637
@aryamanpuri if you are still facing this issue, try these commands
[code]
thanks @helfi92 !

[2020-04-22 21:24] #2681 closed

[2020-04-24 00:22] #2409 closed

[2020-04-24 00:22] #2410 closed

[2020-04-24 00:22] #2411 closed

[2020-04-26 07:36] ashishzingh commented on #2679
i would like to work on this

[2020-04-26 15:12] owlishDeveloper opened #2721 "[tc-proxy] Bug when rewriting url with %2F%2F"
https://github.com/taskcluster/taskcluster-proxy/issues/44

[2020-04-26 15:13] owlishDeveloper opened #2722 "Report crashes to sentry (at least as a configurable option)"
https://github.com/taskcluster/taskcluster-proxy/issues/33

[2020-04-27 12:16] helfi92 commented on #2679
Go for it.

[2020-04-27 16:43] #2129 closed

[2020-04-27 23:10] djmitche opened #2734 "Use latest tc-proxy in generic-worker"
Generic-worker uses a fixed version of tc-proxy in its CI (`workers/generic-worker/gw-decision-task/tasks.yml`).

It also a few links to the old repo in the docs -- let's fix that up too.

[2020-04-28 18:00] djmitche opened #2739 "Add tc-proxy back to the release-publish process"
I'm removing tc-proxy from the publish process for the moment since it doesn't work.  Let's add it back!

[2020-04-28 20:45] #2595 closed

[2020-04-28 20:52] helfi92 commented on #2646
Still trying to figure this out but so far the tentative plan is to migrate things table by table where each migration will be split in two parts. The parts are db migration and service migration. The db migration will involve touching code under the db directory and the service migration would involve rewriting the affected service to use the new db methods.

[2020-04-28 20:53] helfi92 commented on #2396
Are you still working on this @aryamanpuri?

[2020-04-28 21:03] helfi92 commented on #2159
The scopes view has been reworked to remove the confusion. Please re-open if you see the loading chunk error again. I can't seem to reproduce.

[2020-04-28 21:03] #2159 closed

[2020-04-28 21:18] helfi92 commented on #2128
Ah, the error seems to come from `db.userPreferences.get('theme')` in `App/index.jsx`.

[2020-04-28 22:27] #2662 closed

[2020-04-29 04:10] aryamanpuri commented on #2396
Sorry @helfi92, I am bit busy nowadays.
Please reassign this issue to someone else.

[2020-04-29 12:55] helfi92 commented on #2396
No worries!

[2020-04-29 13:46] helfi92 commented on #2606
Should be fixed in material-ui-treeview@4.2.1 thanks to @ashishzingh 💯

[2020-04-29 17:57] virgilt commented on #2393
@helfi92 Is this still being worked on or may I work on it?

[2020-04-29 18:00] virgilt commented on #2255
@helfi92 Can I work on this?

[2020-04-29 18:27] vnzongzna commented on #1122
Is this issue still up for new contributors? I would like to take this since the `go.mod` is taking `go1.13` now

[2020-04-29 18:43] djmitche commented on #1122
It looks like this already got done -- sorry for not closing this issue!
[code]

[2020-04-29 18:43] #1122 closed

[2020-04-30 04:26] crystalarc commented on #2393
@virgilt you can take it, I didn't get to it

[2020-04-30 12:44] #2396 closed

[2020-04-30 12:50] helfi92 opened #2749 "Remove material-ui-treeview"
We started using https://github.com/helfi92/material-ui-treeview/ in https://community-tc.services.mozilla.com/hooks because material-ui did not have a tree view component available at the time, but now they do. Let's move away from what we were using and use material-ui's [TreeView](https://material-ui.com/api/tree-view/#treeview-api) component. The [demo](https://material-ui.com/components/tree-

[2020-04-30 12:56] helfi92 commented on #2255
Go for it @virgilt. We do something similar in the task group view https://community-tc.services.mozilla.com/tasks/groups/c727T42WRGmg060OtQkC-g so you could take a look to see how it is implemented and possibly re-use some of the code. Let me know if you have any questions. Happy to help.

[2020-04-30 13:09] virgilt commented on #2255
@helfi92 Ok, thanks for the tip!

[2020-04-30 13:10] virgilt commented on #2393
@crystalarc Ok, thanks for getting back to me 👍🏻

[2020-04-30 17:32] sarah-clements commented on #1536
Any idea when you'll get to this? We're still on v8.1.1 :)

[2020-04-30 21:15] djmitche commented on #1536
Is there still an issue here?  Details are light and my memory, at least, has faded..

[2020-04-30 23:51] sarah-clements commented on #1536
hrm, I don't remember what this bug was for either. I tried installing v29.2.0 via yarn and I'm seeing a `ReferenceError: hawk is not defined` from
    `taskcluster index.js:1`

Wondering if that's a webpack/neutrino issue.

[2020-05-01 02:10] virgilt commented on #2255
@helfi92 I am having some problems setting up the postgres server with docker, following the instructions here: https://github.com/taskcluster/taskcluster/blob/master/dev-docs/development-process.md

I am not sure how to set the READ_DB_URL, WRITE_DB_URL, or TASKCLUSTER_ROOT_URL.

[2020-05-01 02:28] vnzongzna commented on #1061
Hi @djmitche
I would like to work on this issue 🙂

[2020-05-01 13:12] djmitche commented on #1061
It's all yours!

[2020-05-01 18:31] helfi92 commented on #1536
I will look into that now.

[2020-05-01 19:13] helfi92 commented on #1536
I believe that's a webpack issue. Created https://github.com/taskcluster/taskcluster/pull/2755 for the fix.

[2020-05-01 19:39] helfi92 commented on #1536
The fix should be available in the next release of taskcluster `v29.3.0` (not yet released).

[2020-05-01 19:39] sarah-clements commented on #1536
Thanks! I was just gonna ask that :)

[2020-05-01 19:47] helfi92 commented on #2255
To run the db, you could do:

[code]

To run the UI, you can do:

[code]

Does that help?

[2020-05-01 20:21] virgilt commented on #2255
@helfi92 That did the trick. I was not exporting READ_DB_URL and WRITE_DB_URL. I followed the rest of the instructions fine. Thanks!

[2020-05-06 13:56] petemoore opened #2776 "Show worker tasks from most-recent to least-recent"
**Describe the bug**

The Worker historic tasks view has a default task ordering that lists the tasks from oldest to newest, but would be much nicer to reverse the order and list from newest to oldest.

See e.g. https://community-tc.services.mozilla.com/provisioners/proj-taskcluster/worker-types/gw-ci-macos/workers/proj-taskcluster/63-135-170-250

[2020-05-06 16:12] djmitche opened #2777 "Add more tests for monopacker"
* rendered template contains the expected provisioners
* config merging works as expected (recursively)

[2020-05-07 07:25] #2734 closed

[2020-05-07 12:56] #2777 closed

[2020-05-07 13:19] Luni-4 opened #2778 "Different types of accepted artifacts for workers"
**Describe the bug**

A docker-worker and a generic-worker accept different types of artifacts. It would be helpful that both of them could accept the same kind of artifacts.

A docker-worker accepts artifacts as objects, as stated by the relative [schema](https://raw.githubusercontent.com/taskcluster/docker-worker/master/schemas/v1/payload.json)

A generic-worker accepts artifacts as arrays, as s

[2020-05-07 13:24] #2607 closed

[2020-05-07 13:36] rohanharikr commented on #2749
I would love to work in this project!

[2020-05-07 13:37] helfi92 commented on #2749
All yours.

[2020-05-07 14:31] djmitche commented on #2778
There are other differences, too -- for example, generic-worker in some of its incarnations takes an array of arrays as command.  And in general, payloads will always differ depending on the kind of worker in the worker pool.

There are a few things in motion that address this:
 * docker-worker will eventually be deprecated in favor of generic-worker everywhere (but note that different flavors of

[2020-05-07 15:34] petemoore commented on #2778
@Luni-4 Many thanks for raising.

Indeed, it is rather unfortunate that the payload formats are different w.r.t artifacts. I agree it would be better if generic-worker supported either format, which unfortunately it presently doesn't do. Our plan is to eventually support docker-worker style payloads too.

Note, generic-worker payloads are always backwardly compatible, so properties may get added,

[2020-05-07 19:01] edunham opened #2781 "Please add build URL to version.json in Taskcluster Docker image"
Version.json currently looks like this:

[code]

Cloudops would like to use this version information to validate Docker images when deploying them to Mozilla-run clusters. However, to validate a Docker image we also need the `build` parameter to contain the URL of the build which created the image, in order to pass the validation checks at https://github.com/mozilla-services/cloudops-infra-deployl

[2020-05-07 19:51] djmitche commented on #2781
What would that look like?

[2020-05-07 20:36] djmitche commented on #2781
It would need to be a link to a TC raw log, and should contain the image digest somewhere in that log.

[2020-05-07 20:37] djmitche commented on #2781
The version.json is currently hardcoded in the Dockerfile, so making that dynamic would be a bit of work, and we'd need to make it conditional on actually being built in a task (since we also build locally for development).

[2020-05-07 22:09] djmitche opened #2783 "generic-worker tests are connecting to parent livelog, crashing it"
https://community-tc.services.mozilla.com/tasks/ayBq3Tp8SiawxTzH6psUBA/runs/0/logs/https%3A%2F%2Fcommunity-tc.services.mozilla.com%2Fapi%2Fqueue%2Fv1%2Ftask%2FayBq3Tp8SiawxTzH6psUBA%2Fruns%2F0%2Fartifacts%2Fpublic%2Flogs%2Flive.log
[code]

141 is from EPIPE, I think.

[2020-05-07 22:15] djmitche commented on #2783
(This started in #2736

[2020-05-07 22:53] djmitche commented on #2783
Ah, #2736 changed `internalGETPort` from 60099 to 60022.  The LiveLogGETPort and internalGETPort are two different ports, but when using websocktunnel LiveLogGETPort is ignored, so I *think* this will be OK in production and only causes issues in testing.

The failure here is, I think, when the g-w under test tries to start its own livelog server using the default ports.  So the livelog process tr

[2020-05-07 23:08] djmitche commented on #2783
Ah, now I remember our conversations about this a week ago -- this never worked, we were just obscuring and ignoring the errors before.  So we need to find a way to invent three new ports for the generic-worker under test.

[2020-05-08 12:37] Luni-4 commented on #2778
Thanks for your reply @djmitche and @petemoore!

That would be sufficient for me, I don't want to complicate things more than necessary.

[2020-05-08 13:40] djmitche commented on #2778
The TC team is quite short-handed so this is not something we can do quickly (as @petemoore described it's more work than I thought initially).  Is this something you'd be willing to work on?  Otherwise, we can add it to the team's backlog.

[2020-05-08 13:53] helfi92 commented on #2776
If you click on the "Started" column, it will re-order the list. The link will also be deep linked so it can be shared for example:

https://community-tc.services.mozilla.com/provisioners/proj-taskcluster/worker-types/gw-ci-macos/workers/proj-taskcluster/63-135-170-250?sortBy=started&sortDirection=desc

Does that help?

[2020-05-08 14:03] Luni-4 commented on #2778
Add it to the team's backlog thanks, I'm not in a hurry, I can use arrays for now :)

[2020-05-08 18:52] djmitche commented on #2783
Running this locally, I started listeners on ports 60022 and 60023 and ran the TestWorkerShutdown test.  It got to
[code]
at which point the listener on port 60022 returned (curiously, without an HTTP request body)

[2020-05-08 19:25] djmitche commented on #2783
Pete pointed out that there are several places where config is generated for tests, not just helper_test.go.  I've addressed a few more of them (emulation of the (unused!) gcp and aws worker-manager interfaces)

[2020-05-08 19:34] djmitche opened #2788 "create a release asset for docker-worker tarball"
Like in [docker-worker-deploy](https://github.com/taskcluster/docker-worker-deploy/blob/master/deploy/bin/build#L32).  This should have a precise definition and a documented set of steps as to how to install this on an image.  This is the hand-off from TC as a development platform to users using the worker.  We *also* provide a tool to accomplish it (monopacker + skeleton), but use of that tool is

[2020-05-08 20:55] #2606 closed

[2020-05-10 19:22] #2783 closed

[2020-05-11 17:33] djmitche commented on #2739
Reminding myself what didn't work in https://github.com/taskcluster/taskcluster/runs/664214390

[2020-05-11 18:25] djmitche commented on #2739
https://github.com/taskcluster/taskcluster/runs/664373186

[2020-05-11 18:52] djmitche commented on #2739
https://community-tc.services.mozilla.com/tasks/AlKdI61fTlegKe_cSUJxHA (almost there!!)

[2020-05-11 22:06] klahnakoski opened #2805 "Speed Dial disappears on click"
In the bottom right there is a triple-dots icon

<img src="https://user-images.githubusercontent.com/2334429/81614120-8f3d3580-93ad-11ea-99d2-a168f3cbc34b.png" width=60>

Hovering over the icon show the "trigger hook" option.

<img src="https://user-images.githubusercontent.com/2334429/81614210-b1cf4e80-93ad-11ea-9cc3-efdfd027f04d.png" width=200>

When I move my pointer to "trigger hook" it disapp

[2020-05-11 22:16] #2788 closed

[2020-05-11 22:20] #2739 closed

[2020-05-12 14:40] djmitche opened #2808 "Docker-worker artifact build failing"
[code]
This worked when I landed it, I think -- although looking back at #2789 the link to the staging run now points to a different run.

[2020-05-12 15:40] djmitche commented on #2808
This is failing to build fs-ext, and fs-ext is required because it's used to `flock` a file for communication with interactive tasks.

[2020-05-12 16:08] djmitche commented on #2808
I think there are three ways to fix this:
 * build a custom machine image that has python and build-essential installed, and run releases on that (we currently use the base generic-worker image)
 * install python and build-essential on the host at the beginning of the task (we install gox and a few other things too, in .taskcluster.yml)
 * run the docker-worker build in a docker image (the node im

[2020-05-12 17:03] #2781 closed

[2020-05-12 18:11] vnzongzna commented on #1061
@djmitche since all the subcommands are separated by packages, do we have to define a `verbose` flag in each command seperately? or can we have a single `PersistentPreRun` that can be defined for `root` command and pass use that instead?
A sample snippet that I could find from [Scaffold](https://github.com/GoogleContainerTools/skaffold/blob/69776b15674898a87ac61b9431f93ee68cffa6fd/cmd/skaffold/app

[2020-05-12 18:37] djmitche commented on #1061
I don't know much about Cobra, but if that approach works, it seems like the best solution.

[2020-05-13 00:35] escapewindow opened #2811 "allow for ssh:// source urls"
I'm trying to figure out how to detect if a source url is in a private repo or a public repo, so I don't end up trying to search for a private repo every 404 [during CoT verification]. I thought it might be useful to use `ssh://git@github.com:org/reponame` source urls for private repos. The schema prevents that currently.

Filing so I have an issue to track my PR against :)

[2020-05-13 01:20] virgilt commented on #2255
@helfi92 Just letting you know that I am still working on this feature. I have the notification button functioning. I am working out tracking the task right now.

[2020-05-13 13:31] djmitche opened #2813 "process for building and running a worker artifact"
Build a process for building and running a worker artifact (g-w or d-w) in a dev environment, similar to `yarn dev` but for workers.   This should aim to shorten the development cycle for manually testing workers, so running locally in vagrant is a good example.

[2020-05-13 13:40] djmitche commented on #2813
If this uses worker-runner and a static worker pool, then the only information required to run a worker is the rootUrl and the static secret in a runner config file, plus a copy of worker-runner and a copy of the relevant worker asset.

We want to be general enough to allow this testing to happen in a variety of contexts: locally for things that just run a "hello world" task, but on a specific sys

[2020-05-13 16:20] djmitche opened #2814 "[monpacker] generate top-level packer config directly rather than via Jinja2"
..but continue to use Jinja2 for builders

The existing template is mostly loops and a bit confusing to read.  It can probably be done in Python, perhaps pulling in a few utility YAML files for set-up provisioners.

[2020-05-13 19:34] #2808 closed

[2020-05-14 14:07] helfi92 commented on #2255
Many thanks for the update. Great to hear that there's been some progress :)

[2020-05-14 14:28] djmitche opened #2822 "Make docker-worker config work on Fedora"
Fedora doesn't support Virtualbox, so switch to libvirt.  And, libvirt doesn't support filesystem "mounting" and instead rsync's everything, so don't use the whole user's homedir.

[2020-05-14 17:46] #2811 closed

[2020-05-14 17:58] djmitche opened #2827 "Centralize and improve testing of providers"
Let's build some testing infrastructure around worker-manager providers.

The rough plan is to rewrite the fakes to not use sinon and to assert that the resource-creation requests match a JSON schema, which we can hand-craft based on reading the docs (and only including fields we use).  And then build a framework to do a lot of small tests that run the provisioner with a given input and assert som

[2020-05-14 21:18] klahnakoski opened #2835 "Show full hook ID"
In an effort to update [configuration for a project](https://github.com/mozilla/community-tc-config/blob/master/config/projects/cia.yml), I would like to know the hook ID. I can navigate to the hook I am interested in, but hook ID shown seems incomplete.  What is the full hook ID?

![image](https://user-images.githubusercontent.com/2334429/81986329-98c0da80-9605-11ea-9eb4-387a9396ae5a.png)

Right

[2020-05-14 21:41] helfi92 commented on #2835
As far as I understand the hook ID is simply `etl-schedulers` as displayed in the UI. @taskcluster/services-reviewers can you confirm?

[2020-05-14 21:43] djmitche commented on #2835
that's correct -- in that view, hookGroupId is project-cia nad hookId is etl-schedulers.

[2020-05-14 21:46] djmitche commented on #2835
Ah, I think you're interested in the name of the role.  It might be useful to add a role expansion to the view.  Something like

[2020-05-14 22:04] #1061 closed

[2020-05-15 00:10] virgilt commented on #2255
@helfi92 Yes making progress. I am debugging a props error, but I have located the cause, now just to figure out the why.

[2020-05-15 14:27] #2814 closed

[2020-05-15 14:41] djmitche opened #2838 "Review eslint configs in docker-worker subfolder"
[code]

[2020-05-15 15:13] #2838 closed

[2020-05-15 16:40] djmitche opened #2841 "docs.taskcluster.net not updating"
Its current revision is 5e011a8c213f46f3198a0aa1870ca8e4e94d4ab7 from May 7.

[2020-05-15 16:49] helfi92 commented on #2841
That's probably because the CI has been failing on master.

[2020-05-15 17:03] djmitche commented on #2841
Oh, sweet, so should be fixed now.

[2020-05-15 17:32] djmitche commented on #2841
Well, stuff's still failing (d-w and g-w) on master.. I'll leave it open until we get a green build.

[2020-05-15 18:36] djmitche opened #2844 "Run all or most API services in a mock configuration"
Investigate the possibility of a general mock-services thing against which workers, etc. can run.  How difficult would this be?

Think about using [supertest](https://github.com/visionmedia/supertest) to avoid the need to make a real HTTP connections.

Ideally this would scale to something that can be exposed for testing go things against, too.

[2020-05-15 18:36] djmitche opened #2845 "do not require special scopes to run docker-worker tests"
Using something like that in #2844, or perhaps a much more limited set of fakes.

[2020-05-15 19:21] djmitche commented on #2844
Ramblings..
---
* services require cwd for loading their config (easy fix)
* services need to be able to find each other (new discovery scheme?)
* lots of dependencies need to be faked (other clouds, artifacts, pulse, etc.)
* need some API for configuring fakes and making assertions (resetting to default state, injecting data, etc.)

Incidental benefit should be an easy setup for tests within a se

[2020-05-15 22:43] djmitche commented on #2844
So I'm working on a "One Loader To Rule Them All" kind of thing.  It adds "parameters" to loader components, one of which is serviceName, so it's possible to load `api{"serviceName":"queue"}` and `api{"serviceName":"secrets"}` in the same process, for example.  And I'm setting things up so that basically each library registers its components, leaving `main.js` very sparse.  Hopefully I can get to

[2020-05-18 11:05] klahnakoski commented on #2835
@djmitche

I was specifically referring to `hook-id:project-cia/*`, which I thought was a hook, but maybe is a role; you know better.

I am still confused about what the ID (?GUID?)  prefixes are;  I had thought `hook-id:`, `assume:` or
`auth:aws-s3:read-write:` was a datatype or directive outside user control.  But it seems I had given my role a `hook-id:` prefix?

[2020-05-18 12:32] djmitche commented on #2835
The strings you're seeing are [scopes](https://docs.taskcluster.net/docs/manual/design/apis/hawk/scopes).  The link between a hook and the scopes it uses to create tasks is [here](https://docs.taskcluster.net/docs/reference/core/hooks/#hooks).

[2020-05-18 12:35] #2822 closed

[2020-05-18 12:39] djmitche commented on #2841
There are at least a couple of green checkmarks since May 7, but it is still on the same revision :(

[2020-05-18 12:40] djmitche commented on #2841
![image](https://user-images.githubusercontent.com/28673/82214040-268d1600-98e3-11ea-86b5-fc5bc7d1123b.png)
deploy cancelled?

[2020-05-18 13:52] klahnakoski commented on #2835
OK, I must give that some more thought.  Thank you.

[2020-05-18 14:03] djmitche commented on #2835
https://github.com/taskcluster/taskcluster/issues/2835#issuecomment-628903215 is still probably worth doing.  Even without the expansion, it would be useful.

[2020-05-18 19:51] djmitche commented on #2845
It's become pretty clear that getting #2844 to the point where it can support docker-worker tests is a pretty massive project, and not going to be completed any time soon.

[2020-05-18 19:58] djmitche commented on #2844
Progress is here:

https://github.com/taskcluster/taskcluster/compare/master...djmitche:issue2844?expand=1

This includes what turned into #2853, plus some work to refactor how tc-lib-monitor is initialized.  That turned out to be a big diff for a fairly small return, but it's almost done so I'll get it fixed up for PR.

The last commit is my work on the "One Loader To Rule Them All".  I think the

[2020-05-18 20:59] djmitche commented on #2844
I'm going to stop working on this now, having made those two PRs.  It's in a place where someone else could pick it back up and carry it further, if desired.

[2020-05-19 15:31] djmitche opened #2856 "deploy d-w with new tarball format and new releases"
Let's make sure all of this new stuff works

[2020-05-19 15:32] djmitche commented on #2845
I'm going to get this to the point where running `yarn test` works out of the box, but skips most everything.  Then I'll work on #2856.  Then I'll come back to this and write fakes.

[2020-05-19 22:10] djmitche commented on #2856
Blocked by https://github.com/taskcluster/monopacker/issues/67

[2020-05-19 22:15] djmitche opened #2861 "Remove balrog VPN and relengapi support"
This functionality is no longer used, so let's remove it from docker-worker.

[2020-05-19 22:17] djmitche opened #2862 "[docker-worker] only enable loopbackAudio/Video where necessary"
In community, we don't need loopback audio/video, for example.  Setting up loopback video, in particular, has us doing all kinds of weird kernel stuff.  If we could configure that support off, then d-w would start up with just a vanilla kernel, and we'd have a much easier time of things.  The monpacker config for community-tc would be pretty simple.

[2020-05-19 22:26] djmitche commented on #2856
https://github.com/taskcluster/monopacker/pull/69

[2020-05-19 22:26] djmitche commented on #2856
https://github.com/taskcluster/monopacker/pull/68

[2020-05-19 22:49] djmitche commented on #2862
This already exists!!

[code]

[2020-05-19 22:54] djmitche commented on #2862
Let's save this for after we've split monopacker into two repos.

[2020-05-19 23:16] djmitche commented on #2861
Sorry-not-sorry, I :heart: deleting code sooo much!

[2020-05-20 12:24] djmitche commented on #2856
OK, next step is to start *actually* deploying this, first in community and later in firefox-ci.

[2020-05-20 15:26] #2861 closed

[2020-05-20 16:30] helfi92 opened #2865 "[UI] Add search feature in /purge-caches"
**To Reproduce**

Steps to reproduce the behavior:

1. Go to https://community-tc.services.mozilla.com/purge-caches

**Expected behavior**
You should be able to search for a cache

**Actual behavior**
There is no easy way to search for a cache name. You need to click the next page button until you find the cache you are looking for.

Like other views, we should add a functional search box in the u

[2020-05-20 16:31] helfi92 commented on #2865
Let's also increase the number of entries per page to 1000.

[2020-05-20 22:10] djmitche commented on #2845
I put a few good hours into trying to get this to work with fakes.  I don't think it's possible without the near-certainty of introducing new bugs.

The integration tests currently spawn a new worker process, with which they communicate by dropping files on-disk and by communicating with the production TC services (e.g., to monitor for a task completing).  So, we couldn't do this with the usual fa

[2020-05-20 22:10] #2845 closed

[2020-05-21 17:45] djmitche commented on #2856
[code]

[2020-05-21 21:33] djmitche commented on #2856
^^ those were built without secrets :facepalm:

[2020-05-21 21:48] djmitche commented on #2856
--> docker_worker_gcp_community: A disk image was created: docker-worker-gcp-community-googlecompute-2020-05-21t21-31-41z

[2020-05-21 22:11] djmitche commented on #2856
woo, working images!

[2020-05-22 09:43] ajinkabeer commented on #2865
Hey @helfi92, this one looks interesting. Can I work on this?

[2020-05-22 12:56] helfi92 commented on #2865
Hey @ajinkabeer 👋 It's all yours!

[2020-05-22 16:22] helfi92 opened #2875 "[docker-worker] Add defaults for Object.keys"
https://github.com/taskcluster/taskcluster/pull/2874#pullrequestreview-417029786

[2020-05-22 18:16] imbstack opened #2877 "migrate the workers table in postgres"
This will be required to support a storing a re-registration token.

[2020-05-22 18:17] imbstack opened #2878 "96% overhead in community?"
We should figure out either how the reporting is missing useful work being done or find where the wasted usage is coming from. Followup work can be either fixing the wastage or helping make it so that reporting is more reliable.

[2020-05-22 18:20] imbstack opened #2879 "figure out next steps for provisioning improvements"
Some starter ideas:
* bring back scaling ratio (aka only provisioning N% of pending)
* intentional under-provisioning in some other fashion
* track historical task runtimes per pool and/or per label and use it to estimate total time of pending tasks in a queue
* estimating load at a given time of day based on historical load a that time on that day of the week, etc (forecasting in general)

[2020-05-22 18:21] imbstack opened #2881 "add a ui page for workers that combines data from queue and worker-manager"
This should also include a page that lists workers in a workerpool whether or not they've claimed work.

This is blocked on converting all standalone workers to static (#2926)

[2020-05-22 18:23] imbstack opened #2882 "Update workerpool page in UI to be more useful"
This includes making pending count, existing capacity, workers, and errors for a workerpool visible on the ui page for a workerpool without going back up to the list of workerpools

This depends on adding existing capacity to workerpools as a top-level field in w-m api (#2883). That blocks in-turn on making all static pools register/reregister (#2926). That blocks in turn on supporting reregistrat

[2020-05-22 18:23] imbstack opened #2883 "Make `existing capacity` a top-level field of workerpools"
This will be useful in making UI more useful

[2020-05-22 18:24] imbstack opened #2884 "azure provider may leak resources on removeWorker API call"
Reported by @djmitche:

From my read of the source:

* a call to the removeWorker API method will call the removeWorker method of the provider
* this method will call removeResource for the VM and return. Notably, it does not modify the state in the workers table
* on the next checkWorker call, when the VM has been deleted, the call to get its status will return a 404
*  checkWorker will do nothin

[2020-05-22 18:25] imbstack opened #2885 "google provider might be hiding user errors?"
Reported by @djmitche

Once handleOperation is called for an instance, the instance state is set to STOPPED, which means that checkWorker won't be called again. So this comment

    // Let's check back in on the next provisioning iteration if unfinished
    if (operation.status !== 'DONE') {
      return true;
    }

is incorrect. However, handleOperation is only called when the instance is not fo

[2020-05-22 18:26] imbstack opened #2886 "[**handle-exit**] handle worker exit and failure"
This includes deciding what to do when the worker process exits and has not handled things on its own: halt? reboot? restart it?

(this might be very rare, especially for generic-worker)

[2020-05-22 18:27] imbstack opened #2887 "[**report-error**] support reporting errors from workers to worker-manager (requires **g-w-protocol** and **protocol-startup**)"
Discussion of what to do with this is  in https://bugzilla.mozilla.org/show_bug.cgi?id=1562285

[2020-05-22 18:28] imbstack opened #2888 "add a background scanner to worker-manager"
background scanner to get orphaned instances/volumes/nics that worker-manager has lost track of. it needs to get all resources in a project and scan them to see if they're made by w-m and delete them if they're "unknown"

[2020-05-22 18:28] imbstack opened #2889 "add restart handling to worker-runner reregistering"
when workers restart, worker-runner needs to call reregister to get new creds

[2020-05-22 18:28] imbstack opened #2890 "Add a new-creds message to the worker/runner protocol, use it in g-w and d-w"
This is needed because temp creds last 30 days at most so we have to swap them out at reregister

[2020-05-22 18:31] imbstack opened #2891 "rfc for `deploymentId` style workerpool cycling"
This is useful for being used by worker-runner to decide if it needs to terminate cloud workers or change config in static ones

Previous discussion in https://bugzilla.mozilla.org/show_bug.cgi?id=1593482

[2020-05-22 18:34] imbstack opened #2892 "support worker reregistration in general"
Previous discussion in https://bugzilla.mozilla.org/show_bug.cgi?id=1622435

[2020-05-22 18:37] imbstack opened #2893 "support re-registering workers with worker-runner with variable "lease""
Re-registration informs w-m that the worker is still "alive" and also provides a chance to refresh credentials, rather than using a hard-coded 96-hour expiration.

Entails
* Supporting re-registration in worker-manager (see the bug and linked documents for security discussion)
* Supporting re-registration in worker-runner
  * In particular, support re-registering on startup after a reboot (#2889)

[2020-05-22 18:38] imbstack opened #2894 "[bstack] [**dead-worker-term**] support terminating workers that are not "alive" (requires **re-register**)"
Previous discussion in https://bugzilla.mozilla.org/show_bug.cgi?id=1587516

[2020-05-22 19:01] imbstack commented on #366
We're now tracking as much work as possible in github issues

[2020-05-22 19:01] #366 closed

[2020-05-22 19:16] imbstack commented on #2887
(requires **g-w-protocol**  and **protocol-startup**)

[2020-05-22 21:08] imbstack commented on #2892
this is actually #2893

[2020-05-22 21:08] #2892 closed

[2020-05-22 21:22] imbstack commented on #2884
I'm 70% sure that it actually handles this correctly. @milescrabill will be the best person to diagnose this when he returns.

[2020-05-22 21:26] imbstack commented on #2891
The actual implementation of this should be easy so marking it as a small task. Figuring out exactly what we want to do first might take a few more days than that

[2020-05-25 19:45] ccooper opened #2906 "docker crashing on gen 5 AWS instances"
This is very visible on gecko-t/t-linux-xlarge workers because they are used for a high volume of tasks, but I suspect it is also affecting other worker types.

Debugging from the sheriff/relops side is happening in https://bugzilla.mozilla.org/show_bug.cgi?id=1639176

[2020-05-26 15:35] djmitche commented on #2887
I believe this is no longer blocked, as generic-worker now uses the protocol and it is initialized properly at startup.

[2020-05-26 15:47] tomprince commented on #2891
From [bugzilla](https://bugzilla.mozilla.org/show_bug.cgi?id=1593482#c7)

My first thought (for ci-admin) is to use the image name from [worker-images.yml](https://hg.mozilla.org/ci/ci-configuration/file/tip/worker-images.yml), but that doesn't handle the case of changing instance types.

[2020-05-26 18:55] ccooper commented on #2878
See also: https://bugzilla.mozilla.org/show_bug.cgi?id=1639872

[2020-05-26 19:16] ccooper commented on #2878
I posit that this is mostly due to some projects having minCapacity > 0: https://github.com/mozilla/community-tc-config/search?q=minCapacity&unscoped_q=minCapacity

Setting minCapacity to zero should be our first step.

Deepspeech is also the worst offender by a country mile, accounting for >$21,000 in overhead against only $60 in real CI costs. I will set their maxCapacity to 2 instead of 96 whil

[2020-05-26 19:51] ccooper commented on #2878
https://github.com/mozilla/community-tc-config/pull/278

[2020-05-27 12:52] #2865 closed

[2020-05-27 13:59] virgilt commented on #2255
@helfi92 If I want to test the task completion notification how would you suggest I do it? Pass the expected value manually?

[2020-05-27 14:12] helfi92 opened #2910 "Display dependent tasks in the tasks view"
https://bugzilla.mozilla.org/show_bug.cgi?id=1639279

**Describe the bug**
When viewing a task we display the list of dependencies but not the tasks that depend on the task we're currently viewing.

Having a section in the task view that displays the tasks that depend on it can give us a better idea about when a given task would run or what other tasks will be affected if it fails or if you cancel

[2020-05-27 19:18] ccooper commented on #2878
We had a lot of instances getting wedged in the Firefox CI cluster, and I'm beginning to suspect that a similar thing is happening in the community cluster.

I'm currently trying to get access to the community workers account in AWS to test my theory. I'll document what I find, and clean it out as necessary.

[2020-05-27 22:09] ccooper commented on #2878
Well, I did find some, but not as many as I was expecting:
[code]

[2020-05-27 22:17] djmitche commented on #2856
Hassan finished this up today.  Thanks hassan!

[2020-05-27 22:17] #2856 closed

[2020-05-27 23:29] ccooper commented on #2878
I tracked down a similar, small number (10) of long-running GCP instances, but haven't scripted that process up yet. I'm going to hold off on terminating them in case we want to poke at one for diagnostics.

[2020-05-27 23:31] ccooper commented on #2878
Tomorrow I want to dig into why we seem to spin up many instances that never claim work, e.g.: https://community-tc.services.mozilla.com/provisioners/proj-relman/worker-types/compute-smaller/workers/?sortBy=First%20Claim&sortDirection=desc

[2020-05-28 12:35] djmitche opened #2913 "Intermittent tc-lib-pulse failures"
https://community-tc.services.mozilla.com/tasks/frPWCpblTGSc5cdWawYkEA/runs/0/logs/https%3A%2F%2Fcommunity-tc.services.mozilla.com%2Fapi%2Fqueue%2Fv1%2Ftask%2FfrPWCpblTGSc5cdWawYkEA%2Fruns%2F0%2Fartifacts%2Fpublic%2Flogs%2Flive.log
[code]

[2020-05-28 13:52] helfi92 commented on #2910
https://github.com/taskcluster/taskcluster/pull/2912 is the first part of the puzzle. The last bit is to add some UI for this.

[2020-05-28 16:09] djmitche commented on #2913
This uses a rabbitmq server bundled in the docker image, so it's not a credentials issue.  At a guess, this might be failing due to using a newer version of rabbitmq in that image, when the image was last generated.  I can't reproduce locally.

[2020-05-28 16:29] imbstack commented on #2879
@catlee has a `scalingRatio` patch mostly done in https://github.com/taskcluster/taskcluster/compare/master...catlee:slow_provisioning

[2020-05-28 17:35] ccooper commented on #2878
TIL setting minCapacity doesn't prevent a worker from shutting down after idleTimeoutSecs. Worker-manager will see the empty pool and start new workers up to minCapacity. The net effect is that for idle worker pools with a minCapacity set, there will be near-constant number of workers, modulo the cycle time for worker shutdown, restart, and worker-manager noticing the empty pool. That explains all

[2020-05-28 17:37] ccooper commented on #2878
My next step is to do some quick math based on the April reporting numbers to determine how much of the time overhead was attributable to worker pools with a minCapacity > 0. This should give me a new overhead percentage that is hopefully less than 96%, and may give me a new target for investigation as well.

[2020-05-28 19:15] imbstack opened #2915 "merge generic-worker decision task logic into taskgraph decision task logic"
Right now taskgraph triggers a task that runs g-w decision task which then spawns tasks. Let's just cut out the middleman

[2020-05-28 19:17] imbstack opened #2916 "restore caches to monorepo CI tasks"
In the process of migrating from straight `.taskcluster.yml` to taskgaph we dropped support for yarn/pip installs to be cached. Could be nice to bring them back

[2020-05-28 19:18] imbstack opened #2917 "bake monorepo CI images in the standard taskgraph manner"
currently we bake them manually and then reference them in taskgraph. This does not get us the benefit that taskgraph has of automatically rebuilding images when needed.

[2020-05-28 19:19] imbstack opened #2918 "let's do test chunking for docker-worker CI automatically"
currently we manually configure 5 chunks of tests. We could just generate those chunks automatically in the taskgraph transforms.

[2020-05-28 19:20] imbstack opened #2919 "We should use run-task in monorepo CI"
It does a lot of nice things with setting up permissions/users for us and helps us avoid mistakes that run-task already knows how to avoid due to its long history. This would be replacing the `bare` task runner that we are currently using in taskgraph

[2020-05-28 19:20] imbstack opened #2920 "Add support for actions/cron to monorepo taskgraph CI"
This will allow us to rerun again as well as having other custom actions

[2020-05-28 20:14] djmitche opened #2921 "Refactor Google provider tests to use newer fakes"
A follow-on to #2827, which addressed AWS and Azure.

[2020-05-28 20:19] djmitche commented on #2916
Jonas-level crazy idea: build those caches in a dependent task!  We can identify the tasks by hashes of `requirements.txt` and `yarn.lock` (plus node versions), and unless those change continue to use the same tasks' metadata.  When they do change, we run a task that runs `yarn install --frozen-lockfile` or `pip install -r reqiurements.txt` and then does up a nice tarball of the result.

Did I men

[2020-05-28 20:26] imbstack commented on #2881
From a card about this by @owlishDeveloper:

Examine the workers' view to make sure it includes the necessary info.

* Worker Group (since workers' view will be accessed from within worker pools - maybe this one not as a table column, but as a table subheader)
* provider ID
* WorkerPool ID (with a link to the editing interface)
* Worker ID
* Most Recent Task (from queue)
* Task State (from queue)

[2020-05-28 20:34] #2827 closed

[2020-05-28 20:46] djmitche commented on #2884
Having stared at this for #2827 I think I am also 70% sure this is right.  I'll take another look.

[2020-05-28 20:47] djmitche commented on #2881
I'll build up some wireframes for this and #2882, and perhaps break it out into a few smaller issues.

[2020-05-28 21:04] djmitche opened #2922 "Write a `yarn dev:db:wipe` command to wipe a dev DB"
Just like `yarn dev:db:upgrade` connects manually to the DB and upgrades it, let's write a `wipe` subcommand that will drop the whole DB.  This will be useful when we've deployed a version to a dev environment and later modify that version -- and easier than rolling back.

[2020-05-28 21:10] imbstack opened #2923 "add yarn scripts for making writing db migration easier"
This would basically automate some of [this checklist](https://github.com/taskcluster/taskcluster/tree/master/db#checklist) and comprise:

`yarn db:migration:create`: using some templates, create the files needed to make a migration, incrementing version numbers automatically, etc

`yarn db:migration:check`: this can be run locally and also should be run in CI for PRs to check that all files menti

[2020-05-28 21:51] djmitche commented on #2913
Ah, I can repro locally now.

[2020-05-28 21:51] tomprince commented on #2879
As :jmaher points out [here](https://bugzilla.mozilla.org/show_bug.cgi?id=1641675#c1) we have two instance types defined for the `gecko-t/t-linux-metal` pool:
- r5.metal with capacity 32, at ~$0.18/capacity
- m5.metal with capacity 15, at ~$0.30/capacity

So, if there was some way to prefer the r5.metal there would be a reasonable savings. My understanding is that wcosta ran into issues with the t

[2020-05-28 21:52] djmitche commented on #2913
This passed in 3d306c5b6c7ccf8de7aaa7ac57dcfa1819e78639 but is now failing for me locally with that version, suggesting it's an external change..

[2020-05-28 21:54] tomprince commented on #2879
Another thought that occurs to me is if there is any potential savings in preferring one region over another, for better locality of data. This might have impact on data transfer costs, or speed of downloads/uploads.

On the other hand I'm not sure how big either of those effects are, to offset the engineering effort required.

[2020-05-28 21:55] djmitche commented on #2913
..but https://hub.docker.com/layers/taskcluster/rabbit-test/12.16.3/images/sha256-8b633034ccd22464de33bbdef56a0669e7d6c52bc5f789fad633269bae57f977?context=explore hasn't been updated in 24 days, and this really only started failing yesterday when I filed this issue.

[2020-05-28 21:59] djmitche commented on #2913
Locally, this is intermittent, occurring on about 70% of runs :(

[2020-05-28 22:10] djmitche commented on #2913
This seems to occur all the way back to rabbitmq-3.7.24, from 2 months ago.  The version in the `taskcluster/rabbit-test:12.16.3` image is 3.6.6, and it fails with that version, too.

amqplib hasn't been updated in a year.

We rotated credentials around this time, but especially for the local reproduction I don't see how that could be related.

[2020-05-28 22:25] imbstack opened #2924 "Clean up decision task hacks"
Things noted by @tomprince:

1. `TransformSequence` in `taskcluster/src/transforms/__init__.py` is not necessary
2. We should also change `basestring` to `six.text_type` wherever used
3. Consider using level-1 vs level-3 to keep decision task stuff on its own workers instead of a `decision` worker.

[2020-05-28 22:27] tomprince commented on #2924
More specifically to keep pull-request tasks on separate workers for tasks for pushes. This is probably most relevant for any tasks that are involved in the release process (including the decision task).

[2020-05-28 22:28] tomprince commented on #2924
Also, consider moving `tascluster/src` to taskcluster/taskcluster_taskgraph` or the like. The convention releng has adopted is `<something>_taskgraph` for local taskgraph code. (Though nothing enforces this or cares)

[2020-05-28 22:32] djmitche commented on #2913
Looking at the code, I can definitely see how this happens: we start a consumer asynchronously and then call the `onConnected` hook.  Nothing in there guarantees that the consumer won't immediately call the message function before we call onConnected.  That still doesn't explain the sudden onset of this issue!

Also, there's another race here between beginning to publish messages and beginning to

[2020-05-29 13:15] ccooper commented on #2878
I did some math last night using a project I have full access to, proj-taskcluster/gw-ci-windows2012r2-amd64.

For April 2020:
* \# tasks: 1,132
* \# hours total: 1,583
* \# hours overhead[1]: 1,498
* \# hours running tasks[1]: 85
* avg time/task for April: 0.07 hours (or 4.2 minutes)
* avg time/task validated from recent tasks: 4.47 minutes
* idleTimeoutSecs: 1 hour (3600 secs)

From the above nu

[2020-05-29 13:15] ccooper commented on #2878
https://github.com/mozilla/community-tc-config/issues/282

[2020-05-29 13:20] djmitche opened #2925 "state=stopping is not allowed by API"
If you try to list workers when one is in the 'stopping' state (which is only used by Azure) you get a 500 errors.

[2020-05-29 13:26] djmitche commented on #2884
So to reproduce I:
 * stole the Azure configuration from miles' dev env and set it up in my dev env, running 30.0.2 and with a different resource group configured
 * copied the worker definition from miles' dev env and set minCapacity=1
 * watched it create a pip, a nic, and a vm+disk
 * called removeWorker
 * watched it delete all the things
 * noted #2925, which confirms that something is settin

[2020-05-29 13:30] djmitche commented on #2884
Ah, I see it now.  I had forgotten that there's an extended "Deleting" phase for VMs.  So

* removeWorker API call deletes the VM, does not change state in the workers table (the provider method returns STOPPING but the API ignores the return value)
* checkWorker runs, sees VM in Deleting state, which is one of `failProvisioningStates`, and calls removeWorker
* removeWorker returns STOPPING again

[2020-05-29 13:33] djmitche commented on #2925
(I think the fix here is a simple schema change)

[2020-05-29 16:29] djmitche opened #2926 "Convert all existing standalone workers to static"
See https://bugzilla.mozilla.org/show_bug.cgi?id=1602946 and its dependencies.  Roughly:
 * a bunch of standalone workers in community
 * scriptworkers
 * all firefox-ci hardware workers
   * bitbar?

[2020-05-29 17:17] tomprince commented on #2891
I was thinking about this a bit, and I wondered if the thing that makes sense to track is the launch-config associated to a given worker. And then worker-runner can terminate an instance if the launch-config that created the worker is no longer one of the launch-configs configured for the pool.

It feels a little bit like the idea of a deployment is trying to be an approximation of this, but in a

[2020-05-29 17:36] imbstack opened #2927 "Set a deprecation date and alert users that standalone workers will no longer be supported"
Once reregistration is supported, we're going to start assuming that all workers are registered in worker-manager. This means we'll start building UI and tooling that works with this assumption.

At first, standalone workers (workers that are not known to worker-manager) will still be supported but they will not show up in UI, etc. Eventually we'll want to disallow this at all. Options include:

*

[2020-05-29 18:29] djmitche commented on #2881
I sketched up some stuff for this before putting it back in the backlog

![rect1454](https://user-images.githubusercontent.com/28673/83292668-81165400-a1b8-11ea-81a8-2094a0c30727.png)

In subsequent discussion we decided that trying to write the UI such that it mixes standalone and non-standalone workers and worker pools is not a good idea, and we should build a UI that assumes that everything is

[2020-05-29 18:29] ccooper commented on #2906
@davehouse appears to have fixed this in https://bugzilla.mozilla.org/show_bug.cgi?id=1639176 by adding the missing EBS volumes.

[2020-05-29 18:29] #2906 closed

[2020-05-29 18:52] imbstack opened #2928 "try to make db fns take named rather than positional arguments"
Right now db fns take ordered arguments due to how postgres takes arguments. This is mostly fine but many of our fns have 7 or even more arguments and this gets unwieldy with chances of transposition high. Theoretically tests should catch cases where we do this by accident but it would be nice if we just ensured it at the library interface level by taking named arguments. This could also allow us

[2020-05-29 19:41] djmitche commented on #2913
I'm "bisecting" back in the git history.  I haven't found a "good" commit yet so maybe it's not bisecting?  Anyway, I'm now back to when we were running node-12.16.1, and it's still failing.  I'm using the docker image and a docker-run command taken from the task payload, so this should be a good reproduction.

It does seem to be taking more iterations to fail.  A rev from March 11 just succeeded

[2020-05-29 19:58] djmitche commented on #2913
I've gone back 2500 commits and it's still failing.  I'm giving up on trying to figure out why this worked for so long..

[2020-05-29 20:46] djmitche opened #2930 "port authorization_codes_table_entities & access_token_table_entities to use normal DB tables"
This service currently uses azure-entities emulation to store its data in the DB. This bug entails writing a new DB version that will smoothly migrate the service to use more typical DB tables with nicely-named columns and easy joins.

https://bugzilla.mozilla.org/show_bug.cgi?id=1630022

Complications:
 * tables are encrypted and signed

[2020-05-29 20:47] djmitche opened #2931 "Port the secrets_entities table to use a normal DB table"
This service currently uses azure-entities emulation to store its data in the DB. This bug entails writing a new DB version that will smoothly migrate the service to use more typical DB tables with nicely-named columns and easy joins.

https://bugzilla.mozilla.org/show_bug.cgi?id=1630021

Complications:
 * tables are encrypted and signed

[2020-05-29 20:50] djmitche opened #2932 "port the queue's task-tracking tables to use normal DB tables"
This involves 7 tables:

* queue_task_group_active_sets_entities:
* queue_task_requirement_entities:
* queue_task_groups_entities:
* queue_tasks_entities:
* ~queue_artifacts_entities:~ #3112
* queue_task_group_members_entities:
* queue_task_dependency_entities:

The queue relies on the details of Azure's semantics for correctness around these tables, so care will be required in ensuring that the r

[2020-05-29 20:53] djmitche opened #2933 "port the queue's worker tables to use normal DB tables"
This involves

* queue_worker_entities:
* queue_worker_type_entities:
* queue_provisioner_entities:

These tables might be quite large, and the information they contain is of a historical nature only.  It may make sense to drop some or all of that data during the transition (e.g., workers that haven't been seen in more than a day)

https://bugzilla.mozilla.org/show_bug.cgi?id=1630020

[2020-05-29 20:55] djmitche opened #2934 "Port the denylisted_notification_entities table to use a normal DB table"
This is just denylisted_notification_entities.  Migrating this should be easy.

https://bugzilla.mozilla.org/show_bug.cgi?id=1630018

[2020-05-29 20:58] djmitche opened #2935 "port the index service to use normal DB table"
These tables can be quite large, so consider finding ways to handle them efficiently or do the migration in a TCW, perhaps with #2932.

https://bugzilla.mozilla.org/show_bug.cgi?id=1630017

[2020-05-29 20:59] djmitche opened #2936 "port the hooks service's tables to use normal DB tables"
https://bugzilla.mozilla.org/show_bug.cgi?id=1630016

Complications:
 * some tables are encrypted and signed

[2020-05-29 21:00] djmitche opened #2937 "port the github service's tables to use normal DB tables"
https://bugzilla.mozilla.org/show_bug.cgi?id=1630015

[2020-05-29 21:02] djmitche opened #2938 "Port the roles_entities table to use a normal DB table"
https://bugzilla.mozilla.org/show_bug.cgi?id=1630014

Complications:
 * Roles must be validated and updated as a complete set of roles; concurrent operations to, for example, remove one role and add another role can lead to an inconsistent set of roles due to use of role parameterization.

[2020-05-29 21:10] djmitche opened #2939 "Allow listing pending tasks for a worker pool"
$ROOT_URL/provisioners/localprovisioner/worker-types shows how you how many pending tasks there are for each worker type, but it doesn't allow you to view those tasks. Doing so would be nice.

Requires #2932, #2940.

[2020-05-29 21:28] djmitche opened #2940 "Migrate queue's queue to a more visible form"
The queue uses tc-lib-azqueue for its core "queueing" operations.  This supports both queues for tasks for workers, and delay queues for things like deadlines and task claims.

Because it mixes so many things in there, this queue is not easily introspected to find out, say, what tasks are pending for a particular task queue.

Let's find a way to do task queueing that's linked to the tasks table in

[2020-05-29 21:42] djmitche opened #2942 "Allow longer deadlines"
The task deadline limit is based on Azure's limit for queue entry lifetime (7 days).  We're not using Azure anymore, though.

https://bugzilla.mozilla.org/show_bug.cgi?id=1604175

We can actually lift this restriction now, but let's wait for #2940 so as not to cause headaches.

[2020-05-29 21:44] djmitche commented on #2881
See also https://bugzilla.mozilla.org/show_bug.cgi?id=1518928

[2020-05-29 21:56] djmitche commented on #2881
See also https://bugzilla.mozilla.org/show_bug.cgi?id=1518927 - sort by last-seen, task state, lsat-resolved

[2020-05-29 22:01] djmitche commented on #2940
Note that postgres supports NOTIFY/LISTEN, allowing us to avoid polling (or for safety's sake, polling very infrequently) the DB when nothing is changing.

[2020-05-31 19:59] 090max commented on #2924
I want to work on this .

[2020-06-01 13:03] djmitche opened #2951 "[docker-worker] intermittent file_artifact_test.js timeout"
https://community-tc.services.mozilla.com/tasks/cCpAzB_gTVumPN_J3hrwsA/runs/0/logs/https%3A%2F%2Fcommunity-tc.services.mozilla.com%2Fapi%2Fqueue%2Fv1%2Ftask%2FcCpAzB_gTVumPN_J3hrwsA%2Fruns%2F0%2Fartifacts%2Fpublic%2Flogs%2Flive.log
[code]

[2020-06-01 14:19] helfi92 opened #2952 "WorkerPool using old API"
https://github.com/taskcluster/taskcluster/blob/b2c6f6131e56cd84d0de65bfe55ccbbbb1364dc1/services/worker-manager/src/providers/testing.js#L22-L24

WorkerPool was previously migrated to phase 2 but ^ is still using the old API.

[2020-06-01 14:21] helfi92 commented on #2952
@djmitche should this rather use `this.db.fns`? Unless the migration of worker pool hasn't been deployed, I wonder why we haven't seen any errors for this yet.

[2020-06-01 14:30] djmitche commented on #2952
That's in the test provider that's only used for testing.  And the very next line is throwing an error.  So I'm guessing it's failing due to the missing method and that's enough for the tests (of failure-handling) to succeed.

[2020-06-01 14:58] ccooper commented on #2878
Looking at the workerType cost breakdown over the past week, proj-bergamot had the most hours (688) and it was *all* overhead. Over the last three days, it had zero tasks which translated to zero overhead. The minCapacity change is having the desired effect.

So this is getting better in AWS, although the idleTimeoutSecs change needs to be apply to reduce it further. It will take a few weeks to be

[2020-06-01 15:29] #2913 closed

[2020-06-01 15:51] imbstack commented on #2924
Thank you, @090max! I've assigned you. All work takes place inside the `taskcluster` directory and `.taskcluster.yml` file. Let me know if you want any further pointers.

[2020-06-01 16:36] trink commented on #2878
@ccooper GCP overhead is being corrected https://bugzilla.mozilla.org/show_bug.cgi?id=1642342

[2020-06-01 21:48] djmitche opened #2957 "Run decision tasks at higher priority than others"
Now that we have scaled back the resources we use for TC CI, things are backing up a bit more.  I've had a PR waiting for a decision task for a while now, for example.  We should probably prioritize those higher than other tasks.

[2020-06-01 21:49] djmitche commented on #2957
https://community-tc.services.mozilla.com/tasks/aOvA3I68R2i0q3XsAw7fYg

[2020-06-02 06:48] 090max commented on #2924
sure

[2020-06-02 07:37] 090max commented on #2924
Just had these two queries:
1) Can you please elaborate task 3 "Consider using level-1 vs level-3 to keep decision task stuff on its own workers instead of a decision worker."
2) By removing TransformSequence , all the functions proceeding @transforms.add would no longer be required in the file taskcluster/src/transforms/__init__.py , right ?

[2020-06-02 12:39] #2123 closed

[2020-06-02 13:03] #2952 closed

[2020-06-02 13:03] djmitche commented on #2951
https://community-tc.services.mozilla.com/tasks/FEAh5K_8RwWePqRYsbMeTw/runs/0/logs/https%3A%2F%2Fcommunity-tc.services.mozilla.com%2Fapi%2Fqueue%2Fv1%2Ftask%2FFEAh5K_8RwWePqRYsbMeTw%2Fruns%2F0%2Fartifacts%2Fpublic%2Flogs%2Flive.log

[2020-06-02 14:28] ccooper commented on #2878
I've added a [script to cleanup errant GCP instances](https://github.com/ccooper/cloud-cleanup/blob/master/gcp/delete_old_resources_gcp.bash). It gets the job done, but it's synchronous and slow and not particularly bulletproof. I'm trying to get a version working in python using the SDK similar to [what I have for AWS](https://github.com/ccooper/cloud-cleanup/blob/master/aws/terminate_long_runnin

[2020-06-02 14:29] ccooper commented on #2878
I think we understand overhead to a level where I can call this done. It's not 96% any more at least.

[2020-06-02 14:29] #2878 closed

[2020-06-02 14:51] djmitche commented on #2394
Lots of notes in https://docs.google.com/document/d/1FpgJ_ufmoh1lmrntvXr_vpwg822ZQkm1RGBl4NJuwz4/edit#

[2020-06-02 15:36] imbstack opened #2962 "Support encrypted columns in postgres"
This is required to support a token for reregistration. @djmitche and @helfi92  can help fill out the other bits of this about what we actually need to do.

Blocks #2893

[2020-06-02 15:59] djmitche commented on #2962
High-level concerns:
 * We'll need to support migration to/from tc-lib-entities' encryption implementation
 * The keys should remain in the service pod, not be sent to the postgres server - as with Azure, this means that a compromise of the DB server alone cannot reveal these secrets
   * This could make migrations difficult
 * Should we implement signing at the same time, or can the two be separa

[2020-06-02 16:41] imbstack commented on #2924
Ah sure. Right now we use a `release` worker to do certain kinds of tasks and `ci` to do others. These are defined in `taskcluster/ci/config.yml` and you can see where they're used elsewhere. We could instead use workers called `ci-level-1` and `ci-level-2` or something like that.

Now that I think about it, this is a slightly more involved change. Let's do the other changes first and then we can

[2020-06-02 17:39] djmitche commented on #2962
[This](https://www.postgresql.org/docs/10/encryption-options.html) is a super-concise summary of our options.  Pg docs are really top-notch.

[2020-06-02 17:47] djmitche commented on #2962
The encrypted columns we need to plan for are:

[code]

Signed tables:
[code]

(AuthorizationCode should probably be encrypted too..)

[2020-06-02 17:52] djmitche commented on #2962
Some background on the concern around keeping the key material on the service pod (I'm having second thoughts about this requirement!)

In Azure, we do our crypto (encryption and signing) client-side, with key material and cleartext data never communicated to Azure.  Crypto is done with aes-256-cbc on individual columns, and signing with a sha512 hmac over the whole row.

Postgres has some signing

[2020-06-02 18:57] mozbhearsum commented on #2910
I'm digging into the UI side.

[2020-06-02 19:02] helfi92 commented on #2910
Thanks @mozbhearsum. Let me know if you hit any issues.

[2020-06-02 19:29] #2925 closed

[2020-06-02 19:40] djmitche commented on #2889
I rolled this into #2893, as it's really just an implementation detail of that issue.

[2020-06-02 19:40] #2889 closed

[2020-06-02 21:18] djmitche opened #2969 "docker-worker will terminate if its idle timeout is shorter than the time it takes to call claimWork"
[Setting the `afterIdleSeconds` value to 1](https://github.com/mozilla/community-tc-config/commit/2e8f6fa3a711b66ea610e06f889aa1a1ba8428fe#diff-4083ba8a0fdfa215bc0f2edbab4b7b3dR424) seems to result in workers terminating during the call to `claimWork`.

Generic-worker does not have this issue.

[2020-06-02 21:21] imbstack opened #2970 "allow using the same name for postgres functions that have changed signature"
Currently to update the signature of a function, you have to change the name of the function so that the old and new one can both be stored in the db for migration purposes. This is good but a bit of a leaky abstraction. We should instead have a `version` field of functions that needs to be incremented when signatures change. We can enforce with a test that this happens. Then, in js code, we alway

[2020-06-02 21:40] djmitche commented on #2962
Brian and I talked this through, and I think we have a high-level plan, but there may be devils in the details.

We'll continue to do all of the crypto client-side.

We won't consider signing right now.

We'll invent a container format for encrypted columns that has a key identifier, a format identifier, and the ciphertext.  Format 0 will be identical to that used by azure-entities (with `__buf0_<

[2020-06-03 02:38] djmitche commented on #2962
I wrote up a README with some notes in https://github.com/djmitche/taskcluster/pull/new/issue2962.  I don't see any devils yet.

A few minor worries:
 * With this plan, we would be unable to encrypt a previously-un-encrypted column during a migration.  That's probably OK.
 * The configuration format for the key material might be a bit complicated, as we really should specify the algorithm for each

[2020-06-03 17:06] djmitche commented on #2879
aws-provisioner had a `utility` factor for each configuration which it used to evaluate differences in price.  For example if m5.metal is twice as efficient for our purposes as r5.metal, then the utility factors would be 2 and 1, respectively, so the utility-adjusted prices would be $0.36 and $0.30.  We would need to figure out whether utility included or excluded capacity.

John also talked about

[2020-06-03 20:14] djmitche commented on #2885
I'll see if I can test this out with #2921.

[2020-06-03 20:31] tomprince opened #2973 "[docker-worker] Support new container image formats"
Currently, docker-worker only supports loading images from tasks or artifacts in the [v1 image format](https://github.com/moby/moby/blob/master/image/spec/v1.md). While this is the format generated by our docker-in-docker tasks, it is no longer well supported by tools, and is hard to generate with current tools. In particular, I've need to workaround this limitation in [Bug 1626058](https://bugzil

[2020-06-04 07:38] #2969 closed

[2020-06-04 15:32] ccooper opened #2976 "Create and update tools to facilitate work with new db format"

[2020-06-04 15:34] ccooper opened #2977 "Manage resources more effectively and recover from worker failures better"

[2020-06-04 16:40] imbstack commented on #2883
currently blocking (probably for a short time) on #2877

[2020-06-05 13:10] petemoore opened #2981 "Auto-generate generic-worker README.md as part of yarn generate"
See [comment from #2854](https://github.com/taskcluster/taskcluster/pull/2854/files#r432045951) - the [`refresh_readme.sh`](https://github.com/taskcluster/taskcluster/blob/9d9885692504e26e1bb5b0f47cb655b8edf4cf47/workers/generic-worker/refresh_readme.sh) script should run as part of `yarn generate`.

[2020-06-05 13:11] ccooper opened #2982 "worker-manager should track the version of running workers"
We make a lot of changes to the workers to add features and address bugs. We should be collecting the version of worker binaries running on the worker to make sure we know which worker pools, if any, are being left behind as we make updates.

Some work was done in https://github.com/mozilla/community-tc-config/pull/286 to create a series of tasks to collect this data, but the proper place to do th

[2020-06-05 13:32] ccooper opened #2983 "Install new versions of the worker binary using worker-runner"
To avoid the need to generate new images every time we make a change to workers, worker-runner should be able to update the version of worker binary that is installed on the machine.

This doesn't make much sense for cloud-based workers, i.e. installing new versions of the worker binary may add significant overhead for ephemeral workers. The solution here is to automate the pipeline for generating

[2020-06-05 15:58] djmitche opened #2986 "Only update worker state when it changes"
The `checkWorker`function for most providers currently updates the worker state on every iteration.  We can cut down DB traffic a bit by only doing so when the state actually changes.

[2020-06-05 16:00] djmitche commented on #2986
Oh, never mind -- we do want to update lastChecked on every round.

[2020-06-05 16:00] #2986 closed

[2020-06-05 17:19] djmitche commented on #2879
From @imbstack

[2020-06-05 18:42] petemoore opened #2987 "reruns broken for taskcluster repo CI tasks"
**Describe the bug**
Since we've moved to using a decision task, it looks like reruns of tasks are broken. The user is taken to an actions page, with what I think might be an empty action.

[2020-06-05 19:05] djmitche commented on #2879
I made a script to do this.  Basically it gets the price for each launchConfig, and then averages them since we select randomly.

https://github.com/djmitche/tc-cloud-prices

Downside is, I don't have access to billing information for GCP, so I can't determine GCP prices.

Here's the current output (with N/A for anything we don't have a price for)

[output.txt](https://github.com/taskcluster/taskc

[2020-06-05 20:10] #2885 closed

[2020-06-05 20:10] #2921 closed

[2020-06-05 22:59] imbstack opened #2992 "private artifact links in ui now go nowhere"
**Describe the bug**
The link for private artifacts appears to go right back to the ui home.

**To Reproduce**

1. Go to https://community-tc.services.mozilla.com/tasks/a3TRMvMERZuRwCGHb9dpcA/runs/0#artifacts
2. Click on any of the private artifacts

**Expected behavior**
I _think_ I should be linked to the artifact? If my understanding is wrong please feel free to close. The [runs in the api](htt

[2020-06-06 01:11] #2877 closed

[2020-06-06 09:06] petemoore opened #2994 "generic worker CI to use real services, not mocks"
In #2854 mocks have been introduced for generic-worker tests. Tests now run against mocks, but the mocks were written in a way that tests can continue to run against real services.

The scope of this issue to set the CI to run against real services, instead of mocks, to maximise test coverage. Tests should continue to run against mocks by default when run by developers locally.