[2016-07-24 13:46] jhford opened #47 "debugging issues with the loader stinks"
Example: We have a cycle, we know that, but the way that we're checking for cycles makes it impossible to determine where the cycle is without manually tracing it.  We also can't run the graphviz generator target to see where the cycle is because we do the cycle check first.

Two things:
1. this error message ought to say what the cycle is
2. we should be able to generate a graphviz dot file that

[2017-01-05 00:14] djmitche opened #1061 "[client-shell] Add -v / --verbose"
This option should interface with the standard `log` library.  If the option is not given, the logs should be directed to a null output.  If the option is given, direct that output to stderr.

[2017-01-31 14:46] djmitche opened #1067 "[client-shell] Create a `taskcluster trigger-hook` command"
[code]

What makes this interesting is, I would like an easy way to add parameters to the payload.  For example:
[code]

Currently these parameters are ignored on the server, but that's OK -- we'll get that fixed separately.

[2017-01-31 16:38] jonasfj opened #1066 "[client-shell] `taskcluster pulse-listen` command"
Read about pulse here:
https://wiki.mozilla.org/Auto-tools/Projects/Pulse

It would be cool to have a command to inspect pulse exchanges...
[code]
where 'exchange' is a pulse exchange... Then it'll print messages to terminal as JSON or YAML, like:
[code]
Or if `--format json` is specified it could print a JSON blob per line, so that it can be fed into `jq`.

We can store the username/password in t

[2017-02-16 21:36] imbstack opened #48 "Entity too large can cause us to silently error"
getsentry/raven-node#153 affects us. I just saw it in tc-gh

[code]

The exception was indeed quite a long list of validation errors. We should probably handle this case intelligently.

[2017-03-15 16:20] djmitche opened #1064 "[client-shell] Display error.message on failure"
[code]

so I got a 400.. but what's the error message? 😿

The error responses are described [here](https://docs.taskcluster.net/manual/integrations/apis/errors).

[2017-09-13 17:38] mozbhearsum opened #39 "Release events don't work?"
I started trying to make use of release events today, and as far as I can tell, events are never fired for them. For example, I was watching the "exchange/taskcluster-github/v1/release" exchange with the Pulse Inspector while I created both tags and full fledged releases on https://github.com/testbhearsum/balrog/releases, but no events showed up. I also have two Tasks that should be created when a

[2017-10-05 13:43] djmitche opened #40 "Allow "approval" of a push by collaborators"
From https://github.com/taskcluster/taskcluster-rfcs/issues/95

The idea would be that someone on a whitelist (configurable in the defeault-branch `.taskcluster.yml`) can write something specific in a comment like `@taskcluster: please run` and the push would be re-run as if it had been allowed to begin with.

The downside is that this requires either caching the Github PR webhook payload, or re-c

[2018-04-13 16:11] djmitche opened #1062 "[client-shell] Require `--force` to rerun successful or scheduled tasks"
From #188

@escapewindow
For rerun, we specifically want to check for status in ['failed', 'exception'] and require --force to rerun completed tasks.

---

@srfraser
I wonder whether there is also value in checking a task's dependencies for some operations. For example, if Task C depends on tasks A and B, and we want to rerun C, that doesn't really make sense if A and B didn't complete.

[2018-06-22 12:53] JohanLorenzo opened #41 "Rerun task doesn't update status on PR"
Happened on https://github.com/mozilla-releng/build-puppet/pull/82.

# STR

1. Open PR and let tests run.
2. Have one task failing
3. When the task graph is done, rerun failed task.
4. Let failed task pass.
5. See taskgraph being green, but PR still showing red.

[2018-07-21 01:33] jugglinmike opened #42 "Triggering builds through tagging"
I'd like to trigger TaskCluster to run in response to pushing a tag to my repository on GitHub. The GitHub API docs on the "push" event read, "Any Git push to a Repository, including editing tags or branches." This leads me to believe I can react to tags in my `.taskcluster.yml` file with something like

    $if: 'event.ref == "refs/heads/master" || event.ref[:13] == "refs/tags/tc-"'

I can verify

[2018-08-07 07:06] ydidwania opened #46 "Add no-unused-vars"
Is there any specific reason why  we have left out `no-unused-vars` ?

[2018-09-10 12:33] jgraham opened #43 "Allow setting the GitHub status context in .taskcluster.yml"
For wpt we have a situation where on some pushes we run multiple TaskCluster taskgroups with different settings (this is controlled by pushes to different branches). Unfortunately the way that the status API works in GitHub it will hide all but the latest run with a specific context name, making it hard fo figure out where to find all the results. This could be solved by giving the ability to over

[2018-10-26 18:52] davehouse opened #225 "[UI] always allow collapsing the drawer"
Could you add an action to collapse the drawer or leave the accordion button when the screen is wide (then I can choose to collapse it)?

As a user, I would like to hide the navigation when I am looking at content. This would provide more space to view content and prevent horizontal scrolling.

Here is a screenshot showing the limited content space (half of the table is displayed, and I must scrol

[2018-11-28 17:24] owlishDeveloper opened #45 "Builder needs a retry"
While working on a project where I had to use builder frequently, I noticed that sometimes the creation of an image fails for some relatively force majeure reasons (like connectivity problems during `npm install` etc). When restarted with no changes made, the builder is usually able to complete the build. So I thought that it would be great if the builder could restart the failed build on its own,

[2018-12-07 16:15] helfi92 opened #224 "[UI] Improve /provisioners UX for aws-provisioner"
Allow a user to somehow transition to the aws-provisioner view when viewing aws-provisioner worker types & workers from the `/provisioners` view.

[2018-12-17 19:47] owlishDeveloper opened #44 "Residual images need to be deleted in the case of failure"
I noticed that if the build process fails (in particular, it seems to be a concern for a process where we install things on an image) the residual image is left on the disk. It lacks tags, and looks like just a copy of a base image. I think these are best be deleted in case of failure

(Example - building tools service. If the installation of nginx on a node image fails, we are left with an untagg

[2018-12-20 19:13] renovate[bot] opened #1 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Location: `package.json`
Error type: The renovate configuration file contains some invalid settings
Message: `Configuration option 'packageRules[0].node' should be a json object, Invalid configuration option: engine-strict, Invalid configuration opt

[2018-12-29 13:47] helfi92 opened #223 "[UI] Tab switching"
STR:

1. Navigate to https://taskcluster-web.netlify.com/aws-provisioner/gecko-1-b-win2012
2. Click on the "EC2 Resources" tab

Actual: It takes a couple of seconds before the tab switches

Expected: The tab switches right away and a `<Spinner loading />` is displayed inside the tab while the list is being loaded.

[2019-01-03 16:05] helfi92 opened #221 "[UI] Support triggering tasks in response to pulse messages"
This is similar as https://github.com/taskcluster/taskcluster-tools/pull/595 but for taskcluster-web.

[2019-01-04 20:17] jonasfj opened #35 "Make an example with a decision task"
Notable problem is:
https://github.com/taskcluster/taskcluster-github/blob/master/src/intree.js#L16-L29

when the decision task from .taskcluster.yml is created, it's not able to declare a role in:
`task.scopes` such that it can actually use all the scopes it has...

Or we need an example of how to do this...
Maybe it's a parameter substitution...

----
In other words tc-gh is setting authorizedSc

[2019-01-04 20:17] Standard8 opened #36 "Greenkeeper doesn't work with new tc-github integration"
Previously greenkeeper landings would fail to generate taskcluster runs for a branch, but generate taskcluster runs for PRs (this may have been a bug).

Now it won't generate taskcluster runs at all.

It says to add `greenkeeper[bot]` as a collaborator, however, greenkeeper is an integration and doesn't have a bot account.

Can we allow integrations as committers?

For example, see https://github.

[2019-01-04 20:18] srfraser opened #37 "Allow clearer lists of commands in a payload"
Due to payload->command being passed directly to taskcluster, our `.taskcluster.yml` files are ending up of the form:

       command:
         - "/bin/bash"
         - "-c"
         - "nix-env -iA nixpkgs.gnumake nixpkgs.curl nixpkgs.cacert && export SSL_CERT_FILE=$HOME/.nix-profile/etc/ssl/certs/ca-bundle.crt && mkdir /src && cd /src && curl -L https://github.com/mozilla-releng/services/archive/

[2019-01-04 20:18] imbstack opened #38 "Allow tasks to be scoped with per-PR-issue and per-sha scopes"
This will allow more specificity in the scopes that we'll allow in tasks for things like setting statuses and adding comments to PRs. Currently we can only go to repo level of specificity.

[2019-01-04 20:42] djmitche commented on #46
@imbstack @owlishDeveloper good question :)

[2019-01-04 20:45] djmitche commented on #47
@jhford is this still worth keeping as an open issue?

[2019-01-04 21:37] owlishDeveloper commented on #46
We didn't use that rule before (and there are lots of unused variables in the code). 🤔 It's not a bad rule in its own... Especially as far as unused imports go. I don't know

THe documentation seems to suggest that `The "extends": "eslint:recommended" property in a configuration file enables this rule.` - I did see `"extends": "eslint:recommended"` in @imbstack's PR, I'm not sure

[2019-01-05 00:03] djmitche commented on #44
Can you give an example of this?  It sounds like intermediate images from the build process are left over?  I'm not sure how to clean those up, since we don't ever see the id for them..

[2019-01-14 19:34] imbstack commented on #46
Yeah, it is just disabled since it was going to be a lot of work to fix. @hybrid1999 is fixing it now!

[2019-01-15 01:00] mitchhentges opened #220 "[UI] Allow opening hooks in new tab"
**Summary:**
I want to view both the staging and nightly hooks for Fenix. However, when I `ctrl-click`, it doesn't open the link in a new tab - instead, it brings my _current_ tab to the hook's page, and making me have to re-open and re-search for Fenix manually to open the other hook.

I would love to be able to
* Right click, open in new tab
* `ctrl-click` to open in new tab
on items in the hook

[2019-01-15 17:58] mitchhentges opened #219 "[UI] Hooks: behaviour when group (but not items) matches search isn't ideal"
**Summary:**
Searching for all hooks in a group doesn't quite work, since the search that matches the hook's name probably doesn't match the items, too

**To reproduce:**
1. Go to [hooks](https://taskcluster-web.netlify.com/hooks)
2. Search for "project-gecko"
3. Expand the "project-gecko" group
* There's no hooks in "project-gecko" :thinking:

**Preferred behaviour:**
We could show all items in a

[2019-01-15 18:01] mitchhentges opened #227 "[UI] Hooks: Disable "save" button unless some values have changed"
**Summary:**
When I go back to an old hook tab that I had open, I see that the "save" button isn't disabled, which makes me wonder: do I have unsaved changes? Did I change the hook before I left the tab some hours ago? If we disabled the hook unless there's unsaved changes, it could improve usability.

**To reproduce:**
1. Go to [a hook](https://taskcluster-web.netlify.com/hooks/project-mobile/foc

[2019-01-16 22:49] mitchhentges opened #301 "[UI] Remove redundant sign-in chooser"
**Summary:**
Right now, there's only one way to Sign in: via credentials. Since, in my workflow, I've already made it explicit that I've wanted to sign in by clicking the button, and I've only got one sign in method, I think that I should go straight to the "Sign in with credentials" form

![2019-01-16-144911_460x223_scrot](https://user-images.githubusercontent.com/7784737/51283694-e55abe00-199d-1

[2019-01-17 17:36] imbstack commented on #48
This will all go away with structured logging stuff so I'm closing.

[2019-01-17 17:36] #48 closed

[2019-01-23 20:18] helfi92 opened #218 "[UI] Prefetch link on mouse hover"
We should write a component that wraps the `Link` component of `react-router-dom` which uses the `onMouseOver` event to prefetch the link in order to increase perceived performance.

[2019-01-28 10:16] edmorley opened #162 "[taskcluster-lib-scopes] Remove usage of Node built-in 'assert' from published library"
Hi!

Treeherder uses `taskcluster-lib-scopes` in the browser, for the taskcluster actions feature - eg:
https://github.com/mozilla/treeherder/blob/23036375f9faec4c0f343e51024eb7feb2195c45/ui/models/taskcluster.js#L64-L68

In the upcoming webpack 5, webpack no longer automatically polyfills node built-ins in imported libraries in an effort to reduce unintended bundle size bloat.

Trying webpack 5 o

[2019-01-28 14:16] djmitche commented on #162
Hm, we no longer publish `taskcluster-lib-scopes`.  I had forgotten that it was being used in treeherder.  Perhaps we should move this functionality to tc-client/tc-client-web.

[2019-01-28 14:17] edmorley commented on #162
Ah sorry I didn't know. Moving that functionality to tc-client-web would work for us :-)

[2019-01-28 15:08] djmitche commented on #162
In fact, once we have scope expression evaluation support, I think we will want to call the auth service to make this check, rather than doing so locally (/cc @imbstack)

[2019-01-28 23:39] mitchhentges opened #164 "[taskcluster-web]: Show "recently-created" task definitions"
As I rotate between tickets I'm working on, I need to re-create some very similar builds. For example, last week, I created some tasks that would trigger a build on my custom `worker_type`. However, it's been a couple work days, and I've changed contexts. I can't quite remember exactly how my task definition looked, so I need to re-create it. It would potentially be neat if I could use recently-cr

[2019-01-29 15:56] djmitche commented on #164
They could possibly be grouped by `metadata.label`, so it only shows the latest with a particular label.  If @helfi92 thinks this is a good idea, then it will probably make a great contributor project!

[2019-01-30 21:44] iFlameing opened #167 "How I can contribute to "Support GitHub Logins in Taskcluster" projects."
@djmitche can you help me with getting  started with this project ? . sorry for opening this issue but I am asking the same question in irc channel for 2 days but didn't get any response.

[2019-01-30 22:20] djmitche commented on #167
I'm sorry!  That channel gets a bit busy, and while we try to spot everything, sometimes it gets missed. There's also a #tc-contributors channel that might be better.

That project is only just proposed, so it may not be accepted by Mozilla or by Google.  But!  You could get started on it by looking at the `login` service in this repository as well as the login strategies in the `web-server` servi

[2019-01-31 15:45] iFlameing commented on #167
@djmitche ok then I will wait for the final proposal by the mozilla organisation . As I already contributed to [Iodide](https://github.com/iodide-project/iodide) (which is also a mozilla project )which support singning in with github we can use there's approach also, just for suggestion. Is there any starter issue related to this project at which I might work .I am doing react, node and javascript

[2019-01-31 22:05] mitchhentges opened #171 "[taskcluster-web] Can't trigger hook"
**Describe the bug**
The menu that shows all the hook actions doesn't pop up

**To Reproduce**
1. Go to [a hook](https://taskcluster-web.netlify.com/hooks/project-mobile/reference-browser-nightly-staging)
2. Mouse over the bottom right menu
3. Option to trigger hook doesn't appear

**Expected behavior**
I should be able to click a button to trigger a hook

**Screenshots**
![out](https://user-image

[2019-01-31 23:38] djmitche commented on #167
Sounds good!

[2019-01-31 23:38] #167 closed

[2019-02-02 00:17] mitchhentges commented on #171
Interestingly, I can only reproduce this on my laptop (Dell P56F).
Perhaps this is related to its 4K screen?

I'm back on my desktop today, and the bottom-right circle is properly raising the menu with the "trigger" button, but my laptop still isn't showing it today. I did a force-refresh for kicks, but that didn't fix it.

(I've also just updated to Firefox 65 to see if that somehow solves the pr

[2019-02-02 00:33] mitchhentges opened #175 "[taskcluster-web] Add ability to search for secrets"
If I want to jump to existing secrets, the new UI doesn't allow me to search for them.

**Potential solution:**
Like the other pages, show a search in the top-right that will filter the results

[2019-02-03 18:21] helfi92 commented on #175
STR:

1. Navigate to https://taskcluster-web.netlify.com/secrets

Expected: A search bar is shown top right allowing a user to search a secret after hitting on the enter key, similar to how we're able to search clients in https://taskcluster-web.netlify.com/auth/clients.

Actual: No search bar is shown.

You can see how it's being done one some of the site other views like:
* https://taskcluster-w

[2019-02-04 13:34] helfi92 commented on #171
I can't seem to replicate. @mitchhentges Could you try clicking on the lower-left side of the button and see if the menu opens up? fwiw, the speed dial component is supposed to open on hover as well. It is also worth checking if the behavior is the same on Chrome.

[2019-02-04 19:16] mitchhentges commented on #171
This behaviour is working properly in Chrome :thinking:
I tried clicking the lower-left side, but it still wouldn't open. This is bizarre!

[2019-02-05 14:00] helfi92 opened #184 "[UI] Update Material UI versions"
This includes @material-ui/core, @material-ui/lab and @material-ui/icons.

[2019-02-05 19:04] twisted-sres commented on #175
Hey, can I take this up?

[2019-02-05 19:05] helfi92 commented on #175
Go for it :)

[2019-02-06 19:02] twisted-sres commented on #175
Hey, I was trying to build taskcluster but I am getting this error
![screenshot from 2019-02-07 06-01-10](https://user-images.githubusercontent.com/36242614/52366449-c668bc80-2a6f-11e9-94b6-b8fe7f84bb80.png)

[2019-02-06 19:06] mitchhentges commented on #175
Hmm, are you running docker?
If you `systemctl status docker.service`, it should say that it's running. If not, make sure it's started!

If it _is_ running, perhaps you have a permissions issue?
Try following the "Manage Docker as a non-root user" guide at the top of [this instructions page](https://docs.docker.com/install/linux/linux-postinstall/)

[2019-02-06 19:22] twisted-sres commented on #175
![screenshot from 2019-02-07 06-21-28](https://user-images.githubusercontent.com/36242614/52367652-90790780-2a72-11e9-83de-cccd6442153c.png)
Now I am getting this

[2019-02-06 19:23] mitchhentges commented on #175
Intesting, I'd recommend looking at the log file it says it created at `/tmp/taskcluster-builder-build/service-docs/yarn.log`, maybe it'll tell you what's going wrong

[2019-02-06 19:37] helfi92 commented on #175
@twisted-sres Why are you trying to build taskcluster?

To run the ui, clone the project, navigate to the ui directory, run `yarn` to install the dependencies and then `yarn start` to start the development server.

To run the server, from the root directory, run `yarn` to install the dependencies and then `yarn workspace taskcluster-web-server start`.

[2019-02-06 19:59] twisted-sres commented on #175
Thanks @mitchhentges @helfi92 , I have got it running but it shows this
![screenshot from 2019-02-07 06-57-47](https://user-images.githubusercontent.com/36242614/52369943-c4a2f700-2a77-11e9-8377-fefc233ea496.png)

[2019-02-07 01:33] helfi92 commented on #175
Did you forget to create a `user-config.yml` file by any chance with `rootUrl` set to `https://taskcluster.net`? Instructions for the server can be found in https://github.com/taskcluster/taskcluster/tree/master/services/web-server#running-taskcluster-web-server-locally. If it's still not working, please show a screenshot of both the ui and server terminal output.

[2019-02-07 09:10] vaniyst commented on #175
Is this bug fixed ?

[2019-02-07 10:18] twisted-sres commented on #175
![screenshot from 2019-02-07 15-46-12](https://user-images.githubusercontent.com/36242614/52404642-821d0100-2aef-11e9-9467-a04ce7554801.png)
I've now created the file like this, and the ui shows the same result
![screenshot from 2019-02-07 15-48-22](https://user-images.githubusercontent.com/36242614/52404769-cb6d5080-2aef-11e9-81a8-b52e7dd240fe.png)

[2019-02-07 13:11] helfi92 commented on #175
Remove the semicolon from the rootUrl. It should be `"https://taskcluster.net"`, not `"https://taskcluster.net";`

[2019-02-07 13:26] twisted-sres commented on #175
It still shows the same thing, user-config.yml file had to be in taskcluster/services/web-server only no?

[2019-02-07 13:46] helfi92 commented on #175
Yes, only web-server. Is it possible you've done some other changes? Is it possible you've changed `config.yml` by accident? Don't forget to restart the server after fixing `user-config.yml`. Maybe that would do it.

[2019-02-07 14:59] helfi92 commented on #164
I like this idea a lot! Let's make it happen.

@djmitche, `metadata.label` doesn't seem to be defined in the task definition schema. Did you mean `metadata.name`?

[2019-02-07 15:05] djmitche commented on #164
Yes, sorry!  (we call it "label" in the Gecko taskgraph code..)

[2019-02-07 15:30] helfi92 commented on #164
STR:

1. Navigate to http://localhost:5080/tasks/create
2. Login. The instructions for logging in can be found in https://github.com/taskcluster/taskcluster/tree/master/ui#web-server. You'll need to clone the server and make sure you follow the instructions that shows you how to set up the `rootUrl`. More information on the server can be found [here](https://github.com/taskcluster/taskcluster/tree

[2019-02-08 16:45] twisted-sres commented on #175
![screenshot from 2019-02-08 22-15-03](https://user-images.githubusercontent.com/36242614/52492342-fc807a80-2bee-11e9-8093-82435a5930b1.png)
I tried doing it all, but it still shows the same error

[2019-02-08 19:14] helfi92 commented on #175
The screenshot you are showing is for the user interface. You still need the web-server component running in a separate terminal. Do you have this running?

[2019-02-08 19:32] twisted-sres commented on #175
Yeah, I did that now, but the same results
![screenshot from 2019-02-09 01-01-52](https://user-images.githubusercontent.com/36242614/52501411-49238000-2c06-11e9-94e2-b721e4439d51.png)
![screenshot from 2019-02-09 01-01-30](https://user-images.githubusercontent.com/36242614/52501414-4a54ad00-2c06-11e9-87ee-1ac771d00c9f.png)
![screenshot from 2019-02-09 00-56-41](https://user-images.githubuserconten

[2019-02-08 21:55] helfi92 commented on #175
Where did you create `user-config.yml`?

[2019-02-08 21:59] twisted-sres commented on #175
Yeah, there only

[2019-02-08 22:15] helfi92 commented on #175
Can you try copy pasting the content of [this file](https://raw.githubusercontent.com/taskcluster/taskcluster/master/services/web-server/config.yml) in `config.yml`. I'm wondering if it got changed by accident. Can you also run the server with `DEBUG=* yarn start` and see if there's anything interesting outputted.

[2019-02-09 09:46] twisted-sres commented on #175
@helfi92 Is it possible that any of this warning is causing the error?
![screenshot from 2019-02-09 15-02-57](https://user-images.githubusercontent.com/36242614/52519064-d3f29200-2c7b-11e9-89e2-0f3351ef4090.png)

[2019-02-10 02:20] owlishDeveloper commented on #40
Currently the build can be triggered in those cases if one of the core maintainers closes and reopens the PR.

[2019-02-10 02:28] owlishDeveloper commented on #44
Yep. I don't remember the specific example at the moment... But the id could definitely be seen by running `docker images` command

[2019-02-10 02:51] djmitche commented on #44
I *think* this will be fixed when we're just building one image.  The overall 'docker build' command, though, creates intermediate images as it runs.  I don't think there's any way to cancel an ongoing docker-build command, though.  I'm not sure we could ever fix this...

[2019-02-10 02:51] #44 closed

[2019-02-10 13:36] helfi92 commented on #175
No, that should be okay. Your issue is coming from the backend, not the front end. Could you try https://github.com/taskcluster/taskcluster/issues/175#issuecomment-461965534, please? Maybe a screenshot of the last couple of debug statements would help to understand what's going on :)

[2019-02-11 14:57] helfi92 opened #208 "[taskcluster-web] Missing view titles"
STR:

1. Navigate to http://localhost:5080/tasks/groups/cbxWJaKyTKagmTMjEb17FQ

Actual: There is no view title.
Expected: "Task Group"  shows in the app bar.

![screen shot 2019-02-11 at 9 53 42 am](https://user-images.githubusercontent.com/3766511/52571122-f652ef80-2de2-11e9-9917-7bd335a681b5.png)

2. Navigate to http://localhost:5080/tasks/groups

Actual: There is no view title.
Expected: "Task

[2019-02-11 15:25] ededals commented on #208
I would like to work on this issue

[2019-02-11 15:28] helfi92 commented on #208
Go for it.

[2019-02-11 20:38] djmitche commented on #162
https://github.com/taskcluster/taskcluster-lib-scopes/pull/31

[2019-02-12 00:18] imbstack commented on #162
Moving it into clients makes sense to me. I'm not really sure when we'll get expression support in auth but once that happens the rest of the plan is A+.

[2019-02-12 00:43] djmitche commented on #162
You should be good to use taskcluster-lib-scopes@10.0.2 without assert.

[2019-02-12 00:43] #162 closed

[2019-02-12 08:16] edmorley commented on #162
Thank you :-)

[2019-02-12 21:16] iFlameing commented on #164
I would like to work on this issue

[2019-02-12 21:19] helfi92 commented on #164
Awesome! Go for it.

[2019-02-13 18:19] iFlameing commented on #164
@helfi92 How I can sign in taskcluster ui. I already configured my user-config.yml in web-server. you can see my user-config at this [link](https://pastebin.com/MsiVwp5L).

[2019-02-13 18:26] helfi92 commented on #164
Remove the github stuff. Replace the file with:

[code]

[2019-02-13 18:27] helfi92 commented on #164
After that, you will need get taskcluster credentials via https://github.com/taskcluster/taskcluster/tree/master/services/web-server#taskcluster-credentials.

[2019-02-13 18:42] helfi92 opened #217 "[UI] Remove duplicate navigation bars"
STR:

1. Navigate to http://localhost:5080/shell

<img width="1680" alt="screen shot 2018-12-24 at 3 48 50 pm" src="https://user-images.githubusercontent.com/3766511/50406467-8eddd380-0793-11e9-848c-a9db411e7013.png">

Actual: There are 2 navigation bars on the left

Expected: There is 1 navigation bar on the left

[2019-02-13 18:43] helfi92 commented on #217
This issue only happens in Firefox and seems to be coming from `hterm-umdjs`. Created https://github.com/dbkaplun/hterm-umdjs/issues/6.

[2019-02-13 18:45] iFlameing commented on #164
@helfi92 I download the binary file for linux-amd64 and execute command `chmod +x taskcluster` and after that I run the executable file `./taskcluster` but nothing happened and my terminal shows taskcluster command not found. How I can resolve this?

[2019-02-13 18:46] helfi92 commented on #164
Make sure you are running `chmod +x taskcluster` in the same directory where that binary is downloaded.

[2019-02-13 18:49] iFlameing commented on #164
Screenshot of the error .![screenshot from 2019-02-14 00-18-18](https://user-images.githubusercontent.com/33936987/52735647-1f939b80-2fee-11e9-95de-ec04f65a233c.png)

[2019-02-13 18:51] helfi92 commented on #164
It seems to be working. Now run `./taskcluster signin --name taskcluster-web-server`.

[2019-02-13 19:01] iFlameing commented on #164
@helfi92 when I execute this I successfully signed in and my terminal showed up with this Credentials output as environment variables where I can find my access-token I found my client id.

[2019-02-13 19:05] helfi92 commented on #164
You don't need the json certificate. You can leave that input field empty. The access token should be there somewhere beside the client ID :)

[2019-02-13 19:10] iFlameing commented on #164
@helfi92 thanks for helping me I successfully signed in :)

[2019-02-13 19:11] helfi92 commented on #164
Awesome!

[2019-02-13 19:12] helfi92 opened #222 "Task Group task timings"
We should find a way to upstream https://addons.mozilla.org/en-CA/firefox/addon/taskcluster-group-stats/ into taskcluster-web. The source code for this extension can be found at https://github.com/grigoryk/tc-group-stats.

`taskcluster-group-stats` is an extension that helps users identify which/why tasks are taking too long to finish.

[2019-02-13 19:18] eliperelman opened #226 "[UI] Documentation redirects"
The legacy documentation site maintains a list of redirects from old pages to new pages. This list will need to be updated to any changes that may happen from #54, and also may need to be captured in react-router's redirects.

[2019-02-13 19:36] #227 closed

[2019-02-13 19:44] helfi92 commented on #227
@mitchhentges This should now be fixed. Thanks again for creating the issue. If you have a similar problem with other views of the new site, feel free to create another issue :)

[2019-02-13 20:12] djmitche commented on #219
It might make sense to remove the group/hook distinction in the UI and just treat them as slash-separated strings.  I don't know why I designed hooks with two levels of names like that.

[2019-02-13 20:16] djmitche commented on #224
We won't have an AWS provisioner for much longer (it will not be redeployed, and will be replaced with worker-manager), so I'd suggest dropping this issue.

[2019-02-13 20:18] djmitche commented on #226
We may only need this on `docs.taskcluster.net`, not on the redployed site -- so we could potentially do this with a static list of redirects in the nginx configuration for that host.

Have we decided if we're going to redirect from `docs.taskcluster.net` to some other site, or leave the content on that URL?

[2019-02-13 20:26] djmitche commented on #226
(and the related question of, what will become of taskcluster.net -- is it a "marketing" site?)

[2019-02-13 21:04] iFlameing commented on #164
@helfi92 I saw the code of ceateTask and I am thinking that I should create a functional component in createTask folder which handles list rendering logic and use the same database(db.taskIdsHistory
) which is already available and passed the recently added task to functional component.what do you think? another doubt, should I place this Tasklist above the codeEditor or below?

[2019-02-13 21:18] helfi92 commented on #164
Sure. Feel free to do whatever you think will fix the issue. We can always make some changes later after the initial pull-request.

You'll want to use the same database but with different key to index the data. I think the value of `metadata.name` would make a good key to index on.

You can do what you think feels right. It shouldn't be too hard to change later during the review process :)

[2019-02-14 13:56] helfi92 commented on #224
Good to know :)

[2019-02-14 13:56] #224 closed

[2019-02-14 13:59] iFlameing commented on #208
@helfi92 since there is no work going on this issue can I take this?

[2019-02-14 14:02] helfi92 commented on #208
@iFlameing Aren't you working on https://github.com/taskcluster/taskcluster/issues/164?

[2019-02-14 14:02] helfi92 commented on #208
@ededals How is it going?

[2019-02-14 14:07] iFlameing commented on #208
@helfi92 yes I just created a pr related to that issue. If @ededals is working on it I will choose another issue. thanks :)

[2019-02-14 14:09] helfi92 commented on #208
I will review the PR now :)

[2019-02-14 15:00] pocmo opened #231 "New taskcluster UI: List of tasks doesn't use full height."
The list of tasks doesn't use the full height of my browser window. In the following screenshot there are a lot of tasks, but I can only scroll the list in a small rectangle/window:

![screenshot_2019-02-14 taskcluster](https://user-images.githubusercontent.com/89638/52795200-97ef7080-3071-11e9-86ae-31acc400c2cf.png)

Task: https://taskcluster-web.netlify.com/tasks/groups/fVcAa2R5Qt-sSItyLFK5Rg

[2019-02-14 15:10] helfi92 commented on #231
We are using displaying a virtualized list which requires a number for the height in order to calculate how many rows to display. That being said, we could try calculating how much space there is available before rendering the list.

[2019-02-14 17:50] helfi92 commented on #175
How is it going @twisted-sres? Let me know if you had any questions.

[2019-02-14 19:48] worldomonation opened #235 "[UI] Loading circle is momentarily not centred"
**Describe the bug**
When the page is loading, the loading circle (or spinner) is not centred until the side and top bar appear.

**To Reproduce**
Steps to reproduce the behavior:
1. Access a task, such as [this](https://taskcluster-web.netlify.com/tasks/PEQi4rYBSR6QQ-fXGLUE_g)

**Expected behavior**
Either:
- loading circle first appear in the dead centre of the browser window, then relocate when

[2019-02-14 22:16] helfi92 commented on #235
Agreed. We should have this fixed.

[2019-02-14 23:13] glandium opened #245 "New UI: can't search for a task in task group list"
When you have thousands of tasks in a group, like in https://taskcluster-web.netlify.com/tasks/groups/OedTF0wpS6Cg_AJUpFdcvw, you can't search in the page to find the task you'd be looking for, because not all tasks are actually in the page from the browser's perspective.

[2019-02-14 23:16] glandium opened #246 "New UI: confusing default order for task list in a group"
Take, e.g. https://taskcluster-web.netlify.com/tasks/groups/OedTF0wpS6Cg_AJUpFdcvw

While one can click on "Name" to order the tasks by name, the default order is... I don't even know what it is.

[2019-02-14 23:16] glandium opened #247 "New UI: can't scroll task group list with keyboard"

[2019-02-14 23:24] glandium opened #248 "New UI feels slower"
Loading a large task group feels slower than in the old UI, despite being actually faster, because it only displays the list once it has everything while the old UI would start displaying things before everything is downloaded.

Displaying one task, though, _is_ slower.

[2019-02-15 01:00] glandium opened #249 "New UI: The menu on the left should be foldable/hideable"
The menu on the left takes precious horizontal space, and it can be useful to hide it or make it smaller in some views, like the live log view, or the task view.

[2019-02-15 02:44] glandium opened #250 "New UI: routes are not visible"
See screenshot below:

![screenshot_2019-02-15 taskcluster](https://user-images.githubusercontent.com/1038527/52831163-f7ec2280-3116-11e9-8e8f-097ea01de1dc.png)

(from https://taskcluster-web.netlify.com/tasks/Au1xzBapRmilX7Z5w5Iztg)

[2019-02-15 12:48] helfi92 commented on #249
Duplicate of https://github.com/taskcluster/taskcluster/issues/225.

[2019-02-15 12:48] #249 closed

[2019-02-15 13:12] twisted-sres commented on #175
![screenshot from 2019-02-12 20-18-42](https://user-images.githubusercontent.com/36242614/52858794-2b4ba300-3151-11e9-9b61-79012cfe2e6e.png)
This shows up when I run server with DEBUG=* yarn start

[2019-02-15 14:27] #250 closed

[2019-02-15 14:42] helfi92 commented on #247
Given that the list is now virtualized, the list needs to be in its own container with a fixed height. In order to allow using the keyboard to move up and down the list, we would need to add extra logic. I'm  thinking we could add a listener for when the user presses the keyboard down/up keys and then use javascript to set the focus to the task group list. I'll try to think of something else...

[2019-02-15 14:52] helfi92 commented on #175
Is this the end of the output? There seems to be more stuff from what I can see in the screenshot.

[2019-02-15 15:22] helfi92 commented on #245
Agreed. A search component could be added to the view which could either filter the list or make the scroller jump to the first task name it matches.

[2019-02-15 15:47] #246 closed

[2019-02-15 15:56] #235 closed

[2019-02-15 18:08] srfraser opened #257 "New UI: Light theme elements not visible"
Some UI elements are an unhelpful colour in the light theme.

For example, with https://taskcluster-web.netlify.com/tasks/c0snVitvSyCxGHDt5qCjPw
<img width="346" alt="screenshot 2019-02-15 at 18 02 42" src="https://user-images.githubusercontent.com/5933384/52875588-93e45100-314c-11e9-80d4-9c390588c62a.png">
<img width="346" alt="screenshot 2019-02-15 at 18 02 51" src="https://user-images.githubuse

[2019-02-15 18:11] srfraser opened #258 "New UI: Width of some elements"
The width of some UI elements could ideally be wider, such as the search box, which truncates contents:

<img width="247" alt="screenshot 2019-02-15 at 18 09 53" src="https://user-images.githubusercontent.com/5933384/52875716-efaeda00-314c-11e9-84d8-20621795d8d9.png">

Or the payload expansion, which requires side-scrolling. Would it be better with Payload/Extra expansions in their own box, so tha

[2019-02-15 18:44] #257 closed

[2019-02-15 18:54] helfi92 commented on #258
Clicking on the search box should expand the component. We truncate the search box when not being used so that it we could fit other things in the app bar for smaller screens:

![screen shot 2019-02-15 at 1 51 10 pm](https://user-images.githubusercontent.com/3766511/52877762-f4fa2d80-3128-11e9-8ad8-56a3aef16a44.png)

I'll experiment with this idea.

[2019-02-15 19:27] helfi92 commented on #258
That definitely didn't sit well :(

![screen shot 2019-02-15 at 2 19 58 pm](https://user-images.githubusercontent.com/3766511/52879633-9e432280-312d-11e9-8045-cd1895bb3d67.png)

[2019-02-15 20:14] helfi92 commented on #171
@mitchhentges I created a possible fix :) Could you tell me if https://deploy-preview-255--taskcluster-web.netlify.com/hooks/garbage/abc456 works for  you?

[2019-02-15 21:14] srfraser commented on #258
Thank you for trying it out. I'm not sure what the best option is there, but with Tab Center down the left side, then the page's own left menu, there isn't a lot of room left for the expanded json.

Perhaps I need to adjust my own layout and stop using tabs down the side.

Or Copy icons for Task Definition, Payload and Extra so we can paste the json elsewhere? Random idea rather than necessarily g

[2019-02-15 21:19] helfi92 commented on #171
I got a confirmation on IRC that it works :)

[2019-02-15 21:19] #171 closed

[2019-02-15 21:21] helfi92 commented on #258
Ah, perhaps allowing the left drawer to collapse would improve the UX. There's an issue already filed for that [here](https://github.com/taskcluster/taskcluster/issues/225).

[2019-02-16 11:16] iFlameing commented on #225
@helfi92 I would like to work on this issue :)

[2019-02-16 11:56] #208 closed

[2019-02-16 12:46] helfi92 commented on #225
Great to hear! Go for it.

[2019-02-16 13:01] helfi92 commented on #225
Here's how I would tackle the issue:

1. Add a "<" icon button on the right hand side of the "Taskcluster" text

![screen shot 2019-02-16 at 7 53 18 am](https://user-images.githubusercontent.com/3766511/52900108-0e01ed80-31c0-11e9-9bc4-08278cf34052.png)

You can import it in the code via:

[code]

2. Use an `IconButton` to wrap the icon so that it's clickable

3. Add a tooltip to the button that s

[2019-02-16 13:21] helfi92 commented on #225
Actually, I think there might be an easier approach which is by simply adding a hamburger menu at the left hand side of "Taskcluster" :) No need for the "<" icon.

[2019-02-16 17:31] lebonganza commented on #231
Hi,
I'm new to open source contribution and I would like to start here!
Thank you.

[2019-02-16 17:32] helfi92 commented on #231
Hi @lebonganza, this issue is being taken care of in https://github.com/taskcluster/taskcluster/pull/264. Feel free to find another issue :) Happy to help.

[2019-02-16 17:53] lebonganza commented on #231
Thanks for the quick reply.
I'm just new to all of this,I thought if an issue was open then I could work on it?

[2019-02-16 17:56] helfi92 commented on #231
The best thing is to ask if it can be assigned to you and start working on the issue once you get a confirmation :)

[2019-02-16 18:00] lebonganza commented on #231
Got it.
Thank you!

[2019-02-16 18:00] helfi92 commented on #231
You can also look at https://codetribute.mozilla.org/projects/taskcluster for good first bugs if that helps.

[2019-02-17 02:21] djmitche commented on #231
@ebonganza usually we try to assign issues to people when they start working on them, but that's hard to do in github.  There are lots of good bugs out there that nobody else is working on, to get started on!

[2019-02-17 20:16] #231 closed

[2019-02-17 20:16] #247 closed

[2019-02-17 21:53] #220 closed

[2019-02-18 00:28] #219 closed

[2019-02-18 06:37] Aditya-Kolla commented on #225
Can I give this a go?

[2019-02-18 07:57] iFlameing commented on #225
@Aditya-Kolla I already working on this. You can work on another issue.

[2019-02-18 08:01] iFlameing commented on #225
@helfi92 I added hamburger menu but I have doubt in implementing the onClick handler because right now we are hiding the drawer using CSS. Can you give me some starter suggestion on, how I should tackle it?

[2019-02-18 13:07] helfi92 commented on #225
The code uses breakpoints. To have a better understanding of how they work, refer to [Breakpoints](https://material-ui.com/layout/breakpoints/).

Regarding the onClick, you will be calling the [`handleDrawerToggle`](https://github.com/taskcluster/taskcluster/blob/a60f57c3215c46022a3f0d6f59834bb9134359c1/ui/src/components/Dashboard/index.jsx#L199-L201) method to open/close the drawer. It would also

[2019-02-18 13:54] Aditya-Kolla commented on #175
If this is unassigned, can I work on this?

[2019-02-18 13:55] helfi92 commented on #175
Sure, go for it.

[2019-02-18 14:32] Aditya-Kolla commented on #175
@helfi92  Do we need the defaultValue in secrets too? Like in clients?
If yes, what would the defaultValue in this case be?

[2019-02-18 14:46] helfi92 commented on #175
If yes, what would the defaultValue in this case be?

Good question. Let's not have a `defaultValue` for now. We can always revisit later if we think it's necessary.

[2019-02-18 14:48] Aditya-Kolla commented on #175
Alright :)

[2019-02-18 18:02] Aditya-Kolla commented on #175
Hey, I made some progress into this.
I've managed to make the search work but when I'm setting state and trying to refetch data the filter won't work.

![screenshot from 2019-02-18 23-27-49](https://user-images.githubusercontent.com/31780340/52969092-25fe8a80-33d5-11e9-98ff-2683e7f6fce7.png)

Any suggestions what I'm doing wrong?

One another thing I observed was that the main content was getting

[2019-02-19 13:37] helfi92 commented on #175
@Aditya-Kolla I'll be in a better position to help if you open a pull-request so I can have access to the code. I'll be able to help you and then you can add additional commits to make it work.

[2019-02-19 14:02] Aditya-Kolla commented on #175
@helfi92 I've opened a PR.

[2019-02-19 16:46] pocmo opened #274 "New UI: Getting to task from id in log more complicated"
Quite often I need to go through the following flow:

* Open a task that was triggered by a hook, e.g. this one: https://tools.taskcluster.net/groups/eOMZxg6lS-mst_yYNZBTKg
* Go to the log and get the group ID of the scheduled task
* Paste the group id into the box at the top and then look at the new graph.

In the new UI that is way more complicated:
https://taskcluster-web.netlify.com/tasks/grou

[2019-02-19 16:47] pocmo commented on #274
Sorry, a bit vague. :)

[2019-02-19 18:03] helfi92 commented on #274
There's a "View Live Log" list item above the Artifacts dropdown which should get you to the Log faster. Perhaps we should make that a bit clearer by adding one of these "LOG" labels:

![screen shot 2019-02-19 at 12 45 51 pm](https://user-images.githubusercontent.com/3766511/53035837-5c272300-3444-11e9-9226-d18148e04891.png)

I'll create a separate bug to bring that back :) We currently only show

[2019-02-19 18:09] helfi92 opened #275 "[UI] Bring back the "Follow Log" button for logs that are not live"
STR:

1. Navigate to https://taskcluster-web.netlify.com/tasks/eOMZxg6lS-mst_yYNZBTKg/runs/0/logs/https%3A%2F%2Fqueue.taskcluster.net%2Fv1%2Ftask%2FeOMZxg6lS-mst_yYNZBTKg%2Fruns%2F0%2Fartifacts%2Fpublic%2Flogs%2Flive.log

Actual: There is no follow log button
![screen shot 2019-02-19 at 1 06 04 pm](https://user-images.githubusercontent.com/3766511/53037058-32bbc680-3447-11e9-8f37-5f6a20b7dbcb.png)

[2019-02-19 19:45] Aditya-Kolla commented on #275
I'll try.

[2019-02-19 19:45] helfi92 commented on #275
Awesome, go for it.

[2019-02-19 20:01] Aditya-Kolla commented on #275
@helfi92 Please verify if I've done what is required.

[2019-02-19 20:22] #164 closed

[2019-02-19 20:45] helfi92 commented on #225
Resolved in https://github.com/taskcluster/taskcluster/commit/2b77a7b9d497767e0561f6f9f57b9ed961cd4190.

[2019-02-19 20:45] #225 closed

[2019-02-19 20:54] helfi92 opened #277 "[UI] Add a "Sign In" button to the app bar"
Now that https://github.com/taskcluster/taskcluster/issues/225 is completed, the navigation bar is closed by default on the site. The current flow of signing-in when the user is not on the home page requires 2 clicks:

1. Open the navigation bar
2. Click on Sign In

Let's make that process easier. In addition to the sign in button in the left drawer, let's add one in the app bar.

When the user is

[2019-02-19 21:48] iFlameing commented on #277
@helfi92  I would like to work on this issue.

[2019-02-19 21:49] helfi92 commented on #277
Go for it.

[2019-02-21 13:49] iFlameing commented on #277
@helfi92 I implemented the above feature but there is lot of code repeation is going on because most of code is already their in usermenu component. what should I do?

[2019-02-21 13:55] helfi92 commented on #277
You can try to minimize code duplication by extracting common code into their own file.

[2019-02-21 18:06] #175 closed

[2019-02-21 18:09] #275 closed

[2019-02-21 20:19] helfi92 opened #282 "[UI] Add a view for blacklist notifications"
Blocks https://bugzilla.mozilla.org/show_bug.cgi?id=1520918.

[2019-02-21 20:44] helfi92 commented on #282
Regarding the view, I was thinking of having:

* A "+" button in the bottom right (similar to http://localhost:5080/tasks/create). Hovering on the button should show a tooltip.
* A table using the `DataTable` component that we have under `ui/src/components/DataTable` with 3 columns:
  - "Notification Type"
  - "Destination"
  - A column with an empty title to hold the delete buttons

* Clicking a

[2019-02-22 03:08] OjaswinM commented on #282
I feel this is enough to get started. I'll ping you if I have any doubts along the way :)

[2019-02-22 20:01] edmorley opened #285 "[client-web] Bundle size increase in v9.0.0"
**Describe the bug**
The minified bundle size of the `taskcluster-client-web` package was 92KB (18KB gzipped) in v8.1.1, but increased to 145KB (35KB) in v9.0.0:
https://bundlephobia.com/result?p=taskcluster-client-web@8.1.1
https://bundlephobia.com/result?p=taskcluster-client-web@9.0.0

This resulted in our webpack build exceeding the size threshold for the Renovate PR updating us to v9.0.0:
http

[2019-02-22 20:06] helfi92 opened #286 "[UI] Reopen the section menu when clicking "next""
STR:

1. Navigate to https://taskcluster-web.netlify.com/docs/reference
2. Click on "Reference" on the side menu. This should collapse the Reference section.
3. Click on the "NEXT" button (bottom of the page)

Expected: The Reference section in the navigation menu re-opens.
Actual: The Reference section is collapsed.

[2019-02-22 20:21] helfi92 opened #287 "[UI] Table styling in docs"
STR:

1. Navigate to https://taskcluster-web.netlify.com/docs/reference/platform/auth/references/events#clientUpdated
2. Look at the table under the "Routing Keys" header

**Expected**: The styling looks similar to a table that is being used outside docs (e.g., https://taskcluster-web.netlify.com/provisioners/aws-provisioner-v1)

**Actual**: My eyes are bleeding. The spacing and border coloring is

[2019-02-22 20:40] sudipt1999 commented on #286
I would like to work on this @helfi92

[2019-02-22 20:46] helfi92 commented on #285
The ES6 version is the default export of the package. I don't know if adding a `module` property would help in this case.

I think that might be it :) We could certainly try.

[2019-02-22 20:48] helfi92 commented on #286
Go for it.

[2019-02-22 21:36] jonalmeida opened #289 "New UI feedback: use a max viewport for widescreen monitors"
With the new UI, lists of items (e.g. task groups) are harder to see when information is separated to either end of the page.

For example, looking at this task group on a widescreen 4k monitor where the browser is fullscreen is harder: https://taskcluster-web.netlify.com/tasks/groups/OXQNcpc6SNeSUYII8attgA

This wasn't an issue with old UI since the task names were left aligned and fairly close t

[2019-02-22 21:38] helfi92 commented on #289
Good idea, thanks for bringing that up.

[2019-02-22 21:43] edmorley commented on #285
It seems be to packaged as CJS? See the `module.exports` here:
https://unpkg.com/taskcluster-client-web@9.0.0/build/index.js

[2019-02-22 23:19] worldomonation opened #291 "Add worker online status to Workers Explorer"
**Describe the bug**
Worker Explorer shows a lot of relevant information for workers, but one piece of information that I feel is missing is whether worker is currently online or not.

This difficulty is particularly pronounced during new worker setup process such as with windows10-aarch64, where users would like to determine if a particular machine is online and ready to accept tasks. Currently,

[2019-02-23 00:11] #289 closed

[2019-02-23 07:23] Aditya-Kolla commented on #287
I would like to work on this.

[2019-02-23 10:01] sudipt1999 commented on #286
@helfi92  I have started the web server and its showing
`yarn run v1.13.0
$ NODE_ENV=development webpack

webpack is watching the files…

Hash: d900399b73e3bafcffb2
Version: webpack 4.29.0
Time: 2860ms
Built at: 02/23/2019 1:58:48 AM
   Asset     Size  Chunks             Chunk Names
index.js  494 KiB   index  [emitted]  index

No Pulse namespace defined; no Pulse messages will be received.

Web se

[2019-02-23 10:08] iFlameing commented on #286
@sudipt1999 You have to open another terminal and run the yarn start in UI folder to interact with url locally. After that, the website is accessible on localhost:5080.

[2019-02-23 10:10] sudipt1999 commented on #286
Thanks @iFlameing  !

[2019-02-23 13:03] helfi92 commented on #287
Go for it :)

[2019-02-25 02:05] helfi92 opened #296 "[UI] Line length"
Let's create the best reading experience for the site.

STR:

1. Navigate to https://taskcluster-web.netlify.com/docs/manual

**Actual**: The line length is > 150 characters per line

<img width="1679" alt="screen shot 2019-02-24 at 8 59 04 pm" src="https://user-images.githubusercontent.com/3766511/53309653-0bb22a00-3877-11e9-8a6a-f1f6515c0d92.png">

**Expected**: Paragraphs are wide enough to fit

[2019-02-25 13:55] OjaswinM commented on #282
@helfi92 actually, won't it be better if we use `ConnectionDataTable` as the notification list results are in from of a grpahql connection?

[2019-02-25 14:01] helfi92 commented on #282
Yep!

[2019-02-25 14:21] helfi92 commented on #286
Thanks @iFlameing for helping. @sudipt1999 Let me know if you had any questions :)

[2019-02-25 14:50] djmitche commented on #291
We don't necessarily know if a worker is online or offline -- only how recently it has contacted the queue.  For a worker with idle capacity, we expect it to be calling claimWork every minute or so.  For a worker that is active, we expect it to be calling reclaimTask every 15 minutes or so.  We could potentially use the timing of those calls to determine a `lastSeen` property which, if within 15 m

[2019-02-25 15:57] helfi92 commented on #285
Apologies for my confusion. You're absolutely right. Is there a way to generate an es6 version? I don't seem to see  a `module` value for webpack's `libraryTarget` property. https://webpack.js.org/configuration/output/#outputlibrarytarget. Would having the `module` property point to [`src/index.js`](https://github.com/taskcluster/taskcluster/blob/b34aacc27c4e96565b598abf7c638e8fa3ce5530/clients/cl

[2019-02-25 17:49] sudipt1999 commented on #286
@helfi92  I am sorry but I am not able to recognize which jsx file if for sidebar ! Kindly help me out ! Thank You

[2019-02-25 18:33] mitchhentges opened #300 "[UI] Copy-and-paste task definition into "create task" fails validation"
**Describe the bug**
I frequently need to run tasks very similar to existing tasks, such as to diagnose a failing build.
However, when I copy-and-paste the definition of the existing task, it fails validation, such as for `.requires`: when I copy it ([e.g.: from here](https://queue.taskcluster.net/v1/task/KtK5-mBtQ3uMuHsCgDpnGQ)), it has a value in lowercase with hyphens (like `all-completed`), bu

[2019-02-25 18:38] helfi92 commented on #286
The file used for the documentation sidebar is https://github.com/taskcluster/taskcluster/blob/master/ui/src/components/Dashboard/DocsSidebarList.jsx. Hope that helps.

[2019-02-25 18:39] sudipt1999 commented on #286
Yeah surely will do ! Thank you

On 26-Feb-2019 12:08 AM, "Hassan Ali" <notifications@github.com> wrote:

[2019-02-25 20:16] helfi92 commented on #300
Sorry for that, It's most probably a bug from our end. I will take care of that one. Thanks for the issue!

[2019-02-25 20:17] jonalmeida opened #304 "New UI: Bring back 'notify on failure' in Task Group view"
Not sure if it was intentionally removed, but it was very helpful to have a notification go off if there was a TC failure in the group.

[2019-02-25 20:20] jonalmeida opened #305 "New UI: Add notify on task group success"
Similar to #304 it's useful to know when a task group is completed in addition to the green status icon in the tab icon.

Making this another opt-in feature would probably work.

[2019-02-25 20:24] helfi92 commented on #304
You can rely on the favicon to see if there was a failure:

<img width="227" alt="screen shot 2019-02-25 at 3 20 17 pm" src="https://user-images.githubusercontent.com/3766511/53366243-1faa6a00-3911-11e9-8d7d-d32cf07c0b17.png">

[2019-02-25 20:24] jonalmeida opened #306 "New UI: Success/failure colour in favicon is too small"
Trying to notice the status of a TC build job from the icon is much harder now with the new UI's icon.

Could this be made bigger and with [more accessible colours](https://en.wikipedia.org/wiki/Color_blindness#Deuteranopia)?

<img width="277" alt="screen shot 2019-02-25 at 3 21 36 pm" src="https://user-images.githubusercontent.com/1370580/53366333-52ecf900-3911-11e9-976e-ef23e34d1b4c.png">

[2019-02-25 20:26] jonalmeida commented on #304
See #306. TC tabs aren't always in the current window or if you have 50+ tabs. :)

[2019-02-25 20:35] helfi92 opened #307 "[UI] Task Group view polling"
The group view polls every 2.5 minutes for new results. For groups with <1000 tasks, this is fine but for a group with >3000 tasks this means the user would be looking at a spinner for a bit. We should figure out a way to show the old data until the new data has finished loading.

[2019-02-25 22:08] worldomonation commented on #291
I understand and would like to agree that using the `reclaimTask` action to also imply the worker has been online within 15 minutes is a good approach.

[2019-02-26 12:54] #301 closed

[2019-02-26 18:11] helfi92 commented on #285
Added crypto-js to webpack's externals in `v9.1.0`.

[2019-02-26 19:00] helfi92 commented on #258
The left drawer is no longer permanent.

![screen shot 2019-02-26 at 1 59 52 pm](https://user-images.githubusercontent.com/3766511/53438899-db7d9f00-39ce-11e9-939d-5b8004065e68.png)

[2019-02-26 19:01] helfi92 commented on #258
Closing this as resolved.

[2019-02-26 19:01] #258 closed

[2019-02-26 19:10] helfi92 commented on #245
STR:

1. Navigate to https://taskcluster-web.netlify.com/tasks/groups/BcRLZJV4SgSIj_qCGznsrg

**Expected**: There is a search component that allows searching for task group names by filtering out task names that don't match the search value.

**Actual**: There is no search component.

Why not use something like CTRL + F? Because we don't render the full list of tasks at any time. We only render en

[2019-02-26 19:18] helfi92 commented on #226
Similar to how we're going to run tc-web with tc-tools in parallel for a while until things are stable possible major bugs (yet to be discovered) have been fixed, I think we can do the same thing with docs. We can have both doc sites run in parallel and include a banner in tc-docs letting users know about the new tc-web docs and providing them with a link. Let me know if you don't think this is a

[2019-02-26 19:20] helfi92 commented on #218
Resolved in https://github.com/taskcluster/taskcluster/commit/7b058a76c4a92305c85083cfbcf19effcb53603a.

[2019-02-26 19:20] #218 closed

[2019-02-26 19:27] #300 closed

[2019-02-26 20:19] helfi92 opened #314 "[UI] Keyboard accessibility"
STR:

1. Navigate to https://taskcluster-web.netlify.com/tasks/index
2. Click the tab key until the focus goes to the first namespace item:

![screen shot 2019-02-26 at 3 13 56 pm](https://user-images.githubusercontent.com/3766511/53443209-2ac8cd00-39d9-11e9-82ed-0093e3f23b31.png)

**Problem**: The is no way to jump the app bar with the tab key.

**Expected**: A "Skip to Content" button appears af

[2019-02-26 20:32] djmitche commented on #226
Running both in parallel sounds like a good plan, and avoids the need for redirects.

Should we get `https://taskcluster.net/docs` running the new docs site, then, and point there with the banner?

[2019-02-26 20:37] helfi92 commented on #226
That's a good idea :)

[2019-02-26 21:31] #296 closed

[2019-02-27 02:48] helfi92 opened #317 "[UI] Search default value in Task Group view"
STR

1. Navigate to https://taskcluster-web.netlify.com/tasks/groups/ZbTIz9c1TKuTtUIsxj5jXw

Expected:

<img width="410" alt="screen shot 2019-02-26 at 9 44 51 pm" src="https://user-images.githubusercontent.com/3766511/53461795-c2e1a900-3a0f-11e9-83c3-9f4637149d3f.png">

Actual:

<img width="396" alt="screen shot 2019-02-26 at 9 45 18 pm" src="https://user-images.githubusercontent.com/3766511/5346

[2019-02-27 05:42] Manish-Giri commented on #245
Hi, I'd like to work on this. Would appreciate any getting-started pointers!

[2019-02-27 10:26] sudipt1999 commented on #286
@helfi92
https://github.com/taskcluster/taskcluster/blob/master/ui/src/utils/constants.js
this is where the content of the page is present but I am unable to find the children of reference . Kindly guide me here!

[2019-02-27 11:15] iFlameing commented on #286
@sudipt1999 can you explain what are you trying to do so that I can help you.

[2019-02-27 11:17] sudipt1999 commented on #286
On the link above when on reference section two buttons appear on the main
div next and prev when we click next or prev we want our refence section to
collapse! But i am unable to find the child components of reference ,
because there will be the buttons that can toggle the collapase bar

On 27-Feb-2019 4:45 PM, "Alok Kumar" <notifications@github.com> wrote:

[2019-02-27 11:58] iFlameing commented on #286
@sudipt1999 I think this is the file you are searching for https://github.com/taskcluster/taskcluster/blob/master/ui/src/components/Dashboard/DocsSidebarList.jsx

[2019-02-27 12:17] sudipt1999 commented on #286
@iFlameing  I have already checked that out but that dosen't contain the children of reference component . I am lost there I guess! Any pointer would be really appreciated! @helfi92

[2019-02-27 12:46] helfi92 commented on #286
@sudipt1999 The list of children is coming from https://github.com/taskcluster/taskcluster/blob/master/ui/src/autogenerated/docs-table-of-contents.json. Hope that helps.

[2019-02-27 12:52] helfi92 commented on #245
Hi @Manish-Giri. The first step is to have the front end and server running. The client can be found in https://github.com/taskcluster/taskcluster/tree/master/ui and the server in https://github.com/taskcluster/taskcluster/tree/master/services/web-server. Once you're able to view the list of task groups in localhost:5080/tasks/groups/BcRLZJV4SgSIj_qCGznsrg then you're all set.

https://github.com/

[2019-02-27 16:11] #317 closed

[2019-02-27 17:52] projectyang commented on #306
@helfi92

Since I helped implement the first version of the icon, more than happy to take on redesigning it for a better UI experience.

In terms of accessibility, maybe we can introduce difference shapes (circle, triangle, square) / and or textures to help differentiate? Let me know your thoughts.

[2019-02-28 01:31] helfi92 commented on #306
Hey @projectyang :)

That's awesome, thanks for offering your help. You can try experimenting with different designs (e.g., vertically stretching the status dot, adding a thick border around the "T" with the status color) and see what works best. Looking forward to seeing what you come up with!

[2019-02-28 14:10] vansjyo commented on #286
@helfi92 I have fixed the bug and made a pull request. Please have a look.

[2019-02-28 14:33] sudipt1999 commented on #286
@vansjyo I was working on that issue .

[2019-02-28 16:19] helfi92 commented on #286
@vansjyo In the future, we ask that contributors ask if they can work on an issue before committing  to it, please. @sudipt1999 I'm sorry for that :(

[2019-02-28 16:22] sudipt1999 commented on #286
No problem ! Will work on some another one then.

On 28-Feb-2019 9:51 PM, "sudipt dabral" <sudiptdabral2991999@gmail.com>
wrote:

[2019-02-28 17:09] vansjyo commented on #286
@helfi92 . I am sorry about that. I am a newbie to open source. Since the label for this issue was unassigned, I thought I could work on it.  @sudipt1999. I apologize.

[2019-02-28 17:12] sudipt1999 commented on #286
Don't be sorry , even I am not much experienced with open source . It's was
not even your mistake either , I was a bit slow to fix the bug .

On 28-Feb-2019 10:40 PM, "Vanshika Gupta" <notifications@github.com> wrote:

@helfi92 <https://github.com/helfi92> . I am sorry about that. I am a
newbie to open source. Since the label for this issue was unassigned, I
thought I could work on it. @sudipt1999

[2019-02-28 18:03] Aditya-Kolla commented on #287
@helfi92 Hey, sorry I was away for a bit.
Any suggestions how I may get started with this?

[2019-02-28 19:25] djmitche opened #324 "Error displays have white-on-white text"
The background of the error display has white-on-white text

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://taskcluster-web.netlify.com/aws-provisioner/hg-push without being signed in
2. See error

**Screenshots**
![screenshot_2019-02-28 aws provisioner hg push - taskcluster](https://user-images.githubusercontent.com/28673/53592608-a7d47d80-3b64-11e9-83cf-9e047ea7317c.png)

Not

[2019-02-28 19:25] djmitche commented on #324
The them *does* make a difference!

[2019-02-28 20:00] helfi92 commented on #287
Hey @Aditya-Kolla, I'm working on rewriting the way we style each components that is being rendered in docs and so I'm not sure anymore if you should focus your energy this issue (or anything that relates to the documentation section of the site) since it will most likely overlap with my current change. I forgot to comment in here. Apologies for not letting you know earlier. Let me know if you wan

[2019-02-28 20:32] Aditya-Kolla commented on #287
Hello @helfi92, It's completely fine. I hadn't started any comprehensive work on it anyway.
And yes, I'm interested to work on another issue :D

[2019-02-28 20:48] helfi92 opened #325 "[UI] Add breadcrumbs to the Provisioners view"
We want to implement breadcrumbs in a similar fashion to the old taskcluster site

Old site with breadcrumbs: https://tools.taskcluster.net/provisioners/aws-provisioner-v1
New site has no breadcrumbs: https://taskcluster-web.netlify.com/provisioners/aws-provisioner-v1

![kapture 2019-02-28 at 15 43 54](https://user-images.githubusercontent.com/3766511/53597270-bc6a4300-3b6f-11e9-9a27-96552ecd6c68.

[2019-02-28 20:50] helfi92 commented on #287
Would you like to work on the breadcrumb issue in https://github.com/taskcluster/taskcluster/issues?q=is%3Aopen+is%3Aissue+label%3Aui+label%3A%22good+first+issue%22?

[2019-02-28 21:11] Paarmita commented on #325
Hey @helfi92,
I would like to work on it?

[2019-02-28 21:15] helfi92 commented on #325
Awesome, go for it.

[2019-02-28 21:17] Paarmita commented on #325
Can you please provide some details on which file needs to be changed?

[2019-02-28 21:18] helfi92 commented on #325
The entry point for the provisioners view is in `ui/src/views/Provisioners/index.jsx`.

[2019-02-28 21:19] Paarmita commented on #325
And I could see the new site has a different UI, so where should there be breadcrumbs?

[2019-02-28 21:23] helfi92 commented on #325
1. Same height as the dropdown
![screen shot 2019-02-28 at 4 21 24 pm](https://user-images.githubusercontent.com/3766511/53599324-ebcf7e80-3b74-11e9-891d-bba30fb51be3.png)

2. Below the blue bar
![screen shot 2019-02-28 at 4 21 17 pm](https://user-images.githubusercontent.com/3766511/53599325-ebcf7e80-3b74-11e9-83ac-638389d46190.png)

3. Same height as the dropdown
![screen shot 2019-02-28 at 4 20

[2019-02-28 21:25] Paarmita commented on #325
New Site is this one and it has provisioners view like this. Am I right?
<img width="1440" alt="screenshot 2019-03-01 at 2 54 31 am" src="https://user-images.githubusercontent.com/26546816/53599514-5d3b1b80-3bcd-11e9-8ea7-5e8f893d9a09.png">

[2019-02-28 21:27] helfi92 commented on #325
Yep.

[2019-02-28 21:31] Paarmita commented on #325
Thanks! Got it.

[2019-03-01 01:49] bccrisan opened #328 "Terminated instances appear in the list of workers mixed with running workers"
**Describe the bug**
Terminated instances appear in the list of workers mixed with running workers

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://tools.taskcluster.net/provisioners/aws-provisioner-v1/worker-types/gecko-3-b-linux'
2. Copy the Worker ID of an instance that has the task state completed.
3. Go to instances in aws_console and search for that instance.

**Expected

[2019-03-01 02:39] djmitche commented on #328
I don't understand the bug report -- the instances still appear in the AWS console?  If the instance is still running, that makes sense.  If the instance is no longer running, the console displays it as state "terminated" for a while.  At any rate, we don't control the AWS console, so we can't change what it displays.

[2019-03-01 03:54] Aditya-Kolla commented on #287
Well, looks like someone has contacted you already. It's okay, I'll pick up another issue :smile:

[2019-03-01 04:04] Aditya-Kolla commented on #314
Could I work on this?
I'll just list out the steps I need to do, please guide me.
1] Setup a component which has three props

- id: the id of the Skip to Content button
-text: the text that we want to be displayed
-target: the target id to where we want to jump

2]Make the SkipToContent button appear after one one single tab press. (Should I do this by adding a eventlistener to the window? )

3] P

[2019-03-01 04:07] bccrisan commented on #328
The problem is that we have terminated workers in the taskcluster UI, and there are so many that we cannot look at the good workers that pick up tasks.

[2019-03-01 04:21] helfi92 commented on #314
Go for it. Heading to sleep now :)

[2019-03-01 04:22] helfi92 commented on #314
We can discuss more when I’m back online. Good luck!

[2019-03-01 05:56] vansjyo commented on #324
@djmitche @helfi92 . I would like to work on this.

[2019-03-01 07:05] iFlameing commented on #307
@helfi92 I would like to work on this :)

[2019-03-01 10:21] vansjyo commented on #245
@helfi92 How can the local server have the tasks groups or the tasks? Do we need to be running something else too?

[2019-03-01 11:16] iFlameing commented on #245
@vansjyo you have to start two servers on in the UI folder and one in the web-server. just open the terminal in these folders and install dependencies. After that just run yarn start, now you are good to go and you can see the UI at localhost 5080. just one note please configure  user-config.yml to getting started with the server.

[2019-03-01 11:22] vansjyo commented on #245
@iFlameing I have already set it up as instructed by @helfi92 in the last comment and it runs successfully. However, the task groups is empty.
![screenshot from 2019-03-01 16-49-49](https://user-images.githubusercontent.com/25532570/53635194-58fd1580-3c42-11e9-913c-f35077bb6b79.png)

[2019-03-01 11:28] iFlameing commented on #245
@vansjyo then you have to just add the id of  task and you see the task group like this
![screenshot from 2019-03-01 16-56-53](https://user-images.githubusercontent.com/33936987/53635443-26075180-3c43-11e9-962d-6aa396204d4c.png)

here is the link for localhost
http://localhost:5080/tasks/groups/BcRLZJV4SgSIj_qCGznsrg

[2019-03-01 12:30] vansjyo commented on #245
@iFlameing Can you please tell me how should the user-config.yml file in the web-server look like(the root_url) ? I guess I might have made some mistake there.

[2019-03-01 12:34] iFlameing commented on #245
just put these configs in user-config.yml.
[code]

[2019-03-01 12:37] vansjyo commented on #245
@iFlameing Thanks. That worked.

[2019-03-01 12:44] iFlameing commented on #245
@vansjyo if you are getting started with this issue please ask to @Manish-Giri and @helfi92 before.

[2019-03-01 12:45] helfi92 commented on #307
Awesome! Go for it :)

[2019-03-01 12:45] helfi92 commented on #307
Note that I will be away all of next week so I won't be there to help answer questions.

[2019-03-01 12:49] iFlameing commented on #307
can you give me an overview of the work which I have to do for this issue?

I will wait for you. and please merge [this](https://github.com/taskcluster/taskcluster/pull/280).

[2019-03-01 12:53] helfi92 commented on #245
@iFlameing is correct. Before working on the issue, it would be nice to see if @Manish-Giri is currently working on this issue since they claimed it 2 days ago :)

[2019-03-01 15:54] helfi92 commented on #286
Resolved in https://github.com/taskcluster/taskcluster/commit/2e5ea8038ce24b771d398bb2c64c3d7118675319 🎉.

[2019-03-01 15:54] #286 closed

[2019-03-01 16:00] #287 closed

[2019-03-01 16:28] #324 closed

[2019-03-01 16:48] Paarmita commented on #325
Hey @helfi92, I got some other high priority issues assigned, so I would not be able to work on this one. You can assign it someone else.
Thanks for the help.

[2019-03-01 18:35] vansjyo commented on #325
@helfi92  Can I work on this?

[2019-03-01 18:35] helfi92 commented on #325
Definitely!

[2019-03-01 18:36] helfi92 commented on #325
Note that I will be away all of next week. If you have questions, feel free to ask me either today. I will be able to review it when I'm back. I'm really looking forward to this feature :)

[2019-03-01 18:41] helfi92 commented on #314
I'm not sure we need a component but I guess you can try. We can always change the code once we have something working.

We don't need to create any event listeners. We just need to create an `onClick` event on the button that would jump the focus to the first focusable element in `<main>`.

[2019-03-01 18:44] helfi92 commented on #314
You can also see a working example on chrome (is not supported on firefox for some reason).

_Example: After searching for "hello" in google_

![screen shot 2019-03-01 at 1 32 44 pm](https://user-images.githubusercontent.com/3766511/53658823-e97a2c80-3c27-11e9-9bee-008b58512c60.png)

_After disabling some of the css properties:_

![screen shot 2019-03-01 at 1 33 56 pm](https://user-images.githubus

[2019-03-01 18:46] Aditya-Kolla commented on #314
I just opened a PR with initial commit. Please look into it :smiley:

[2019-03-01 19:02] djmitche commented on #328
Ah, I see.  The problem is that we don't know when an instance terminates, and can only infer that it has terminated based on how long it has been since we have heard from the instance.  The [worker manager](https://github.com/taskcluster/taskcluster-rfcs/blob/master/rfcs/0124-worker-manager.md) will provide a totally different approach to this problem, and address this particular bug in the proce

[2019-03-01 19:02] #328 closed

[2019-03-01 19:04] vansjyo commented on #325
@helfi92  sure.

[2019-03-01 21:15] sarah-clements commented on #285
Unfortunately, the bundle size is still high: 144.7kB (Minified 34.5 kB) https://bundlephobia.com/result?p=taskcluster-client-web@9.1.0

[2019-03-01 22:14] djmitche commented on #285
It looks like crypto-js is still in there..

[2019-03-01 22:53] aerickson opened #340 "queue: feature request: provide queue-max-age or queue-last-consumed"
I maintain a cluster of workers. We recently had some downtime, but it wasn't easy to detect. The queues kept growing, but that can be normal if lots of pushes/merges are happening.

If a queue is non-zero and a task hasn't been consumed in X minutes, alert.
If a queue's max-age is over X minutes, alert.

[2019-03-01 22:57] Manish-Giri commented on #245
Hi, sorry. Yes, I am currently working on this. I'll be sending a PR soon.

[2019-03-02 04:01] vansjyo commented on #325
@helfi92 Just to clarify, I need to make a breadCrumbs components in the component folder as there was in the previous taskcluster site right?

[2019-03-02 10:36] sudipt1999 commented on #305
Can I work on this @jonalmeida  !Some pointers would be really helpful!

[2019-03-02 15:25] helfi92 commented on #305
@sudipt1999 We should wait until we have a setting view before we decide to implement this feature. Feel free to tackle another issue :)

[2019-03-02 15:34] helfi92 commented on #325
You can look at the old site code to have an idea of the implementation but I wouldn't do something just because it's in the old site. The new site is different than the old one. Do what you think is best. As long as the functionality works, we could always change the code structure later :)

[2019-03-02 16:00] djmitche commented on #340
Could you file this in Bugzilla?  It's something that will be more possible when the queue uses postgres, so it will need to get linked into the dependency tree.

[2019-03-03 18:07] sudipt1999 opened #345 "Bug 1527606 'Details' link on GitHub should directly point to the task logs"
[Bugzilla bug link](https://bugzilla.mozilla.org/show_bug.cgi?id=1527606)

Most of the time, when you click on the Taskcluster status link on GitHub, you want to see why a task failed, so it makes sense to go to the logs by default.

@helfi92  could you give some pointers on how to solve this . I would love to solve this

[2019-03-04 12:39] sudipt1999 commented on #223
I would like to solve this ! Basically what I am getting is to add a loader to the site , unless all the data is loaded.

[2019-03-04 12:56] edmorley commented on #285
webpack cannot tree shake CJS modules - releasing taskcluster as a dual CJS (under `main`) and ESM (under `module`) library would likely be the best next step :-)

[2019-03-04 15:04] djmitche commented on #345
Let's keep this on Bugzilla until we figure out how to solve it..

[2019-03-04 15:04] #345 closed

[2019-03-04 18:20] aerickson commented on #340
Definitely. https://bugzilla.mozilla.org/show_bug.cgi?id=1532360

[2019-03-04 18:45] djmitche commented on #340
Thanks!  We need to have more clear guidelines on when to file a GH issue and when a Bugzilla bug.  Sorry about that..

[2019-03-04 18:45] #340 closed

[2019-03-05 02:16] projectyang commented on #306
![screen shot 2019-03-04 at 8 49 22 pm](https://user-images.githubusercontent.com/13473834/53775105-36c3fb80-3ebf-11e9-922d-483c46e005d4.png)
![image](https://user-images.githubusercontent.com/13473834/53775513-df268f80-3ec0-11e9-8007-a02b408e0015.png)
![image](https://user-images.githubusercontent.com/13473834/53775606-388ebe80-3ec1-11e9-8e47-200c50ab7749.png)
![image](https://user-images.githubu

[2019-03-05 14:04] Jaffrey98 opened #359 "[PROJECT SETUP] Server not starting on `yarn start`"
I have followed the steps mentioned [here](https://github.com/taskcluster/taskcluster/tree/master/services/web-server#user-content-running-taskcluster-web-server-locally)

But when I run `yarn start` the server doesn't seem to start but it seems a build operation is being performed:

Since I'm running it on Windows I had to modify the `start` script to :
[code]

This is the output when I execute `

[2019-03-05 14:09] djmitche commented on #359
I think you changed the definition of `yarn start` to the wrong thing.  Check what the original setting is, and try to modify that to work on Windows.

[2019-03-05 14:35] Jaffrey98 commented on #359
@djmitche Thanks for the tip!!

I installed a package called `cross-env` and modified the `start` script to
[code]

and that fixed it!!!!

[2019-03-05 15:22] djmitche commented on #359
Great!

[2019-03-05 15:22] #359 closed

[2019-03-06 00:03] glandium opened #361 "New UI: Task group summary requires more attention than the old one"
With the old task group summary, it was obvious, at a quick glance, whether everything was green or not: if that were the case, you'd have a 100% width green bar, and nothing else. If there were some failures, then the green bar would be smaller and other colors would pop in.

In the new UI, all the statuses take up the same space in all cases, and now you actually need to go through all the statu

[2019-03-06 01:18] owlishDeveloper commented on #345
@sudipt1999 FYI - this bug is about taskcluster-github. That is the component I mostly work on, not Hassan, so I am the one whom you should be asking.

[2019-03-06 06:49] sudipt1999 commented on #345
I am really sorry ! Wasn't aware of that !will keep in mind from next time
really sorry!
On Wednesday, March 6, 2019, owlishDeveloper <notifications@github.com>
wrote:

[2019-03-07 00:11] djmitche commented on #47
I haven't seen a circular reference in the loader, so I think this is OK for now.

[2019-03-07 00:11] #47 closed

[2019-03-07 00:16] djmitche commented on #46
The complexity around fixing it is that we want to allow function arguments that are unused, as often function signatures are formulaic.  For example [json-e](https://github.com/taskcluster/json-e/blob/master/src/index.js) defines a bunch of operators, all of which get `(template, context)` whether they need either of those or not.  It's easier for someone reading the code later to know that conte

[2019-03-07 00:18] imbstack commented on #46
I believe if we set [args](https://eslint.org/docs/rules/no-unused-vars#args) as an option to it, it should work for our case.

[2019-03-07 00:29] imbstack commented on #46
This work is being tracked in https://bugzilla.mozilla.org/show_bug.cgi?id=1518568

[2019-03-07 00:48] djmitche opened #366 "✨ See also: Bugzilla ✨"
The Taskcluster team uses Bugzilla as its primary bug-tracking tool.  In particular, bugs which are connected to other work or people at Mozilla and bugs which involve a large amount of work are best tracked in Bugzilla.

*tl;dr*: **If the issue you are raising is not a UI bug or is more than a quick-fix, please file it on Bugzilla.**

You can see a list of all Taskcluster bugs [here](https://bugz

[2019-03-08 17:54] escapewindow opened #749 "switch python client to use pytest"
pytest is a better test framework; let's use it.

[2019-03-08 23:23] #46 closed

[2019-03-11 11:21] jgraham opened #383 "Too hard to find the logs in the new UI"
When using taskcluster with GitHub the most common reason for people to be looking at a task is to understand why something failed. In time hopefully the checks api support allows us to upload a summary of the error and a direct link to the logs, but even so it seems like it should be obvious at a glance how to see the output from a task. At present it isn't; the log link is right at the bottom on

[2019-03-11 13:33] helfi92 commented on #223
Awesome! Go for it.

Not quite. What we want is to "virtualize" the table. You can achieve that by using the `react-window` package.

For inspiration, you can look at the roles view:
* https://github.com/taskcluster/taskcluster/blob/7b058a76c4a92305c85083cfbcf19effcb53603a/ui/src/components/RoleScopesTable/index.jsx#L16
* https://taskcluster-web.netlify.com/auth/roles.

[2019-03-11 13:36] djmitche commented on #223
(I've invited sudipt1999 to the org; once that is accepted, this issue can be assigned)

[2019-03-11 18:22] helfi92 commented on #361
Agreed. In order to improve the experience, one thing we can do is decrease the opacity of a status button that has a "0".

![Screen Shot 2019-03-11 at 2 17 34 PM](https://user-images.githubusercontent.com/3766511/54147595-e857b500-4408-11e9-87f4-906474ef2286.png)

[2019-03-11 19:27] #361 closed

[2019-03-11 21:49] helfi92 commented on #325
@vansjyo How is it going? Let me know if you had any questions for me :)

[2019-03-11 21:53] helfi92 opened #392 "[UI] Docs scroll issue when clicking next/previous page"
STR:

1. Navigate to https://taskcluster-web.netlify.com/docs/reference/platform/queue/docs/worker-interaction#reporting-task-result
2. Click the next button

**Expected**: The page transition is smooth

**Actual**: The window is scrolled to the top before the page transition happens messing up with the user experience

[2019-03-12 12:30] #392 closed

[2019-03-12 12:56] helfi92 commented on #383
Agreed, we should find a way to make the live log more prominent. Thank you for bringing that up!

[2019-03-12 13:28] helfi92 opened #394 "[UI] links are hard to see when text is selected (dark theme only)"
STR:

1. Navigate to https://taskcluster-web.netlify.com/docs
2. Select the text: "Follow the tutorial to learn about Taskcluster, focusing on the parts most relevant to you."

**Expected**: The links are visible.

**Actual**: The links are hard to see in the dark theme.

![Screen Shot 2019-03-12 at 9 24 19 AM](https://user-images.githubusercontent.com/3766511/54203533-d0d00900-44a8-11e9-920b-e082

[2019-03-12 13:54] Anubhavshakya commented on #394
@helfi92 Can I work on this...

[2019-03-12 13:59] helfi92 opened #395 "[UI] docs "Next Steps" section theming"
STR:

1. Navigate to http://localhost:5080/docs/tutorial/hello-world or https://taskcluster-web.netlify.com/docs/tutorial/hello-world

2. Scroll to the bottom

Expected: The theme is consistent with the rest of the site.

Actual: Everything under "Next Steps" is not consistent with the rest of the site.

![Screen Shot 2019-03-12 at 9 45 26 AM](https://user-images.githubusercontent.com/3766511/5420

[2019-03-12 14:01] helfi92 commented on #394
Go for it.

[2019-03-12 14:15] helfi92 opened #397 "[UI] "Next Steps" section missing from the Tutorial "root" page"
STR:

1. Navigate to https://taskcluster-web.netlify.com/docs/tutorial

**Expected**: There is a "Next Steps" section shown, similar to https://docs.taskcluster.net/docs/tutorial

**Actual**: There is no "Next Steps" sections

The "Next Steps" section do however appear in the other pages of the tutorial (e.g., https://taskcluster-web.netlify.com/docs/tutorial/hello-world).

[2019-03-12 15:29] #395 closed

[2019-03-12 19:17] helfi92 commented on #397
Resolved in https://github.com/taskcluster/taskcluster/commit/8656c170c15d233736eda04c0f5b68c56c42bcb8.

[2019-03-12 19:17] #397 closed

[2019-03-12 21:51] helfi92 commented on #245
@Manish-Giri Many people are asking for this feature. I have an implementation of this feature on my local machine which I think we can use. I'll create a PR and you can let me know what you think.

[2019-03-12 22:12] helfi92 commented on #394
I was thinking maybe we could remove the blue color and simply use a dotted bottom line. Something like:

![Screen Shot 2019-03-12 at 6 10 18 PM](https://user-images.githubusercontent.com/3766511/54239668-3dbbc100-44f2-11e9-8a6a-87540a454cc2.png)

[code]

[2019-03-13 02:43] helfi92 opened #405 "[UI] docs logs deep linking not working"
STR:

1. Navigate to https://taskcluster-web.netlify.com/docs/reference/platform/auth/logs#monitor.count (notice the `#monitor.count` at the end of the url)

**Expected**: The `monitor.count` panel is expanded
**Actual**: The `monitor.count` panel is not expanded

[2019-03-13 11:44] Anubhavshakya commented on #394
Yes, We can remove the blue colour but without blue colour, the UI is not looking good. So I was thinking that change the colour of **selection** and **reduce the opacity**
![github](https://user-images.githubusercontent.com/38704248/54276482-71125480-45b3-11e9-9a7f-5f71ed00f4a9.png)

[2019-03-13 11:57] helfi92 commented on #394
In order to keep the blue color, we could possibly do something like:

![Screen Shot 2019-03-13 at 7 55 35 AM](https://user-images.githubusercontent.com/3766511/54277222-a5f7ba80-4565-11e9-908b-3eee40bf8a90.png)

[2019-03-13 12:00] helfi92 commented on #394
Feel free to create a PR with the change :)

[2019-03-13 12:07] #245 closed

[2019-03-13 12:14] helfi92 opened #406 "[UI] Task Group progress button (focus state)"
STR:

1. Navigate to https://taskcluster-web.netlify.com/tasks/groups/OpKtd9z4SF-jkPCDlp_c1Q
2. Press the TAB key until the information icon in the app bar is focused

![Screen Shot 2019-03-13 at 8 08 59 AM](https://user-images.githubusercontent.com/3766511/54277860-531f0280-4567-11e9-8291-f9e8d3e1607c.png)

3. Press the TAB key one more time

Expected: The green box shows that it has focus
Actual

[2019-03-13 12:49] helfi92 opened #407 "[UI] Book icon focus state"
STR:

1. Navigate to http://localhost:5080/tasks
2. Press the TAB key 3 times until the focus is on the light bulb

![Screen Shot 2019-03-13 at 8 47 58 AM](https://user-images.githubusercontent.com/3766511/54279976-beb79e80-456c-11e9-817a-8cd3a129730b.png)

3. Press the TAB key one more time

**Expected**: The book icon has focus
**Actual**: The information icon has focus

![Screen Shot 2019-03-13

[2019-03-13 13:12] Anubhavshakya commented on #394
@helfi92 Please check #408

[2019-03-13 13:15] helfi92 opened #409 "[UI] Ignore casing when matching search term in Task Group"
STR:

1. Navigate to https://taskcluster-web.netlify.com/tasks/groups/PnUuYtALTAqY-P9HRHYRrw
2. Type 'retrigger' in the search box below the progress buttons and then press enter

![Screen Shot 2019-03-13 at 9 12 42 AM](https://user-images.githubusercontent.com/3766511/54281490-3935ed80-4570-11e9-9391-254a11ae048e.png)

**Actual**: No tasks available, however if you type "Retrigger" and then press

[2019-03-13 15:16] helfi92 commented on #394
Resolved in  https://github.com/taskcluster/taskcluster/pull/410 🎉

[2019-03-13 15:16] #394 closed

[2019-03-13 16:21] djmitche opened #412 "Hooks don't display"
STR:
* https://taskcluster-web.netlify.com/hooks/hg-push/autoland

I suspect that the GraphQL is assuming that the task template will match a task definition.  It doesn't -- it's a JSON-e data structure so entirely arbitrary.

[2019-03-13 17:46] helfi92 opened #413 "[UI] taskcluster.net/docs"
Deploy new docs on taskcluster.net/docs.

TODO:

* [x] Create a new Heroku app taskcluster-net
* [x] Create a CloudFront entry that points to the heroku app
* [x] Redirect docs.tc.net to tc.net/docs (aws lambda?)

[2019-03-13 18:42] djmitche commented on #413
Let's talk about this on Friday before pulling the switch.

[2019-03-13 18:47] helfi92 commented on #412
I'm on it.

[2019-03-14 13:52] #406 closed

[2019-03-14 15:54] djmitche opened #424 "[UI] display "plain old" JSON in pulse inspector"
![Screenshot_2019-03-14 Pulse Messages - Taskcluster](https://user-images.githubusercontent.com/28673/54371456-699c8b00-4647-11e9-96f0-6edf9b3de235.png)

This tree-shaped JSON display is confusing, but more importantly very difficult to copy/paste from.  I need to reconstruct that message and the only way to do so is to retype it :(

[2019-03-14 15:58] djmitche commented on #412
Hm, still not working:

https://taskcluster-web.netlify.com/hooks/hg-push/try is another example.

[2019-03-14 15:58] djmitche commented on #412
![Screenshot_2019-03-14 Hook - Taskcluster](https://user-images.githubusercontent.com/28673/54371858-28f14180-4648-11e9-9b58-b78a63168d81.png)

[2019-03-14 16:00] djmitche commented on #412
Or, was the fix just not deployed to production?

i see in the network inspector:
[code]
(would it make sense to show that error, too?)

[2019-03-14 17:16] helfi92 commented on #412
Sorry, I forgot auto deployment was turned off after bringing web-server to the monorepo. I just deployed it. https://taskcluster-web.netlify.com/hooks/hg-push/autoland work for me. Can you confirm?

[2019-03-14 17:38] djmitche commented on #412
Sweet, yes, and sorry for the false alarm!

[2019-03-14 17:38] #412 closed

[2019-03-14 17:47] helfi92 commented on #424
Agreed, It's definitely not the best to copy/paste. I'm on it.

[2019-03-14 17:51] helfi92 opened #425 "[UI] Add a way to preview inputs that accept markdown"
STR:

1. Navigate to https://taskcluster-web.netlify.com/hooks/garbage/abc456
2. Write some markdown in the description text field

![Screen Shot 2019-03-14 at 1 50 27 PM](https://user-images.githubusercontent.com/3766511/54379648-3286a380-4660-11e9-8e0c-739714e70e20.png)

**Expected**: There is a way to preview the rendered markdown
**Actual**: There is no way to preview the render markdown.

[2019-03-14 17:55] helfi92 commented on #425
One way to do this is to have the text field nested in a [tab panel](https://material-ui.com/demos/tabs/#tabs) where one tab would be the rendered markdown and the other the raw input.

[2019-03-14 18:39] djmitche commented on #424
(I'd be happy to drop all uses of whatever component generates that output)

[2019-03-14 18:42] helfi92 commented on #424
@djmitche I'm not sure I follow. Are you proposing we don't show the payload?

[2019-03-14 18:55] projectyang commented on #425
Hey @helfi92,

I'd like to tackle this.

[2019-03-14 19:18] helfi92 commented on #425
Hey @projectyang 👋

Go for it!

[2019-03-14 19:38] helfi92 opened #428 "[UI] Reduce spacing in the search component"
Navigate to http://localhost:5080/tasks/QCAMmsXtS62QOgSU65Nh_w

<img width="218" alt="Screen Shot 2019-03-14 at 3 36 59 PM" src="https://user-images.githubusercontent.com/3766511/54386310-0888ad80-466f-11e9-8c63-46f6b04452a6.png">

Let's reduce the spacing between the magnifying glass and the text

[2019-03-14 21:47] djmitche commented on #424
No, just to display the JSON as JSON like we do in most of the UI

[2019-03-14 22:05] helfi92 commented on #424
\o/ I like that

[2019-03-15 01:01] #424 closed

[2019-03-15 12:44] helfi92 commented on #407
This seems to be a Firefox only issue. I was able to make it work after doing what is suggested in https://stackoverflow.com/a/11713537/6150432:

[2019-03-15 12:44] #407 closed

[2019-03-15 12:49] helfi92 commented on #383
@jgraham Is it better now?

[2019-03-15 12:50] #428 closed

[2019-03-15 17:45] HarieshJay commented on #409
Hi @helfi92,

May I work on this issue?
This would be my first fix, so hopefully, it's not too intensive.

[2019-03-15 19:11] djmitche commented on #413
We talked about using https://taskcluster.net/docs instead.  And that once we have figured out what to do with worker docs, we can start redirecting from https://docs.taskcluster.net/docs to this site.

[2019-03-15 19:15] djmitche opened #438 "Use allcontributors for tracking contributors"
We used to have a "[people](https://docs.taskcluster.net/docs/people)" page, but it didn't get ported.

Let's set up [allcontributors](https://allcontributors.org/) to do this instead.  It can be configured to edit arbitrary files, so we can have it modify something under `ui/docs`.

For contributions that aren't to this repo, it's still quite easy to open an issue to add the person.

[2019-03-15 19:18] djmitche opened #439 "Begin every docs page with its title in a header"
The old site begins each page with an `h1` containing its title.  The new site does not, since that title appears in the navigation bar.  But that means that most pages just jump right in with a paragraph, lacking the visual context of the heading.  Let's consider adding the heading back in.

[2019-03-15 19:20] djmitche opened #440 "[UI] make a nicer docs getting-started page"
Instead of "plain" markdown with `hr` lines, this could be much more attractive and inviting.

The tutorial and the manual's first page could also probably stand some revision.

[2019-03-15 19:22] djmitche opened #441 "Add deployment documentation"
Let's get started with some documentation on how to deploy taskcluster.  For the moment, that can mostly refer to the terraform as authoritative.

[2019-03-15 19:23] djmitche opened #442 "Edit the manual"
Read over the manual and update / expand where necessary (filing issues for larger chunks of work)

[2019-03-15 19:25] djmitche opened #443 "Update all docs links in the UI, docs"
Lots of links are currently pointing to `https://docs.taskcluster.net` or possibly to pages that are no longer present.  Let's make a sweep and update those all to be internal links.

[2019-03-15 19:27] djmitche opened #444 "Check that all links in docs are valid"
Once #443 is done, we will have lots of links that may get stale.

Add a test to the tests und `ui/` that checks for links in all documentation markdown files and verifies that there's a document served at the link destination.

[2019-03-15 20:18] helfi92 commented on #409
Go for it :)

[2019-03-15 20:46] helfi92 opened #447 "[UI] Weird focus state in **Firefox**"
STR:

1. Navigate to https://taskcluster-web.netlify.com/tasks/groups/ZbTIz9c1TKuTtUIsxj5jXw
2. Press the tab key many times until the focus goes to the task list

**Actual**: The left border focus is weird:

![Screen Shot 2019-03-15 at 4 42 14 PM](https://user-images.githubusercontent.com/3766511/54460928-61287b00-4741-11e9-89af-8473e19834f5.png)

![Screen Shot 2019-03-15 at 4 44 21 PM](https://u

[2019-03-15 20:53] HarieshJay commented on #409
Could you please assign me to this task?

[2019-03-15 21:02] helfi92 commented on #409
Done. You should accept the invitation :)

[2019-03-15 21:05] HarieshJay commented on #409
Perfect, Thanks!

[2019-03-15 21:41] djmitche opened #448 "Remove empty references categories"
Libraries, etc. are no longer uesd

[2019-03-15 21:55] djmitche opened #449 "[UI] improve loading performance of docs.html"
We can remove some chunks and functionality from the /docs view to allow it to load faster.

[2019-03-15 21:56] djmitche opened #450 "[UI] support searching docs"
The docs are spread over quite a few pages, and it's not always obvious where to find some key piece of information.

A search feature would help!

[2019-03-16 03:18] helfi92 commented on #439
STR:

1. Navigate to https://taskcluster-web.netlify.com/docs/reference/platform/auth/docs/clients

**Expected**: There is a title "Clients" below the blue app bar

**Actual**: There is no title below the blue app bar

<img width="898" alt="Screen Shot 2019-03-15 at 11 17 29 PM" src="https://user-images.githubusercontent.com/3766511/54470079-85ec1500-4778-11e9-806e-d444e6c52bcd.png">

[2019-03-16 04:39] littlebobby commented on #439
hey, can I work on this issue as my first contribution? To clarify, I just need to add a `h1` title back to the main contents, and there is no need to remove the one showing in the `app bar`. Am I right?

[2019-03-16 13:26] djmitche commented on #439
That's right!  Once you accept the invitation to this repository, let me know here and I'll assign the issue to you.

[2019-03-16 13:36] djmitche opened #453 "[UI] show git version somewhere out of the way"
We have `.git-version` in the root of the repository, when taskcluster is deployed.  We currently use that in logging to indicate which version of Taskcluster we're running.  As we get more and more deployments running, it would be helpful to have that visible somewhere in the UI as well so that users can report the version they're running.  @helfi92 what do you think would be most appropriate way

[2019-03-16 13:47] littlebobby commented on #439
hey, I accepted just now. Thank you for your invitation!

[2019-03-16 23:50] HarieshJay commented on #409
I am having a little trouble setting up the taskcluster-web UI application, and I am not finding IRC helpful. Is there any other resource I can check out?

[2019-03-17 18:11] helfi92 commented on #409
What problem are you facing?

[2019-03-17 20:03] HarieshJay commented on #409
I am not sure how to actually run the UI application.

I followed the docs in the taskcluster/ui folder that first said to set up the taskcluster/services/web-server docs, which I did and can run http://localhost:3050/playground on my local environment, but I do not know how to run anything besides that.

Then I added a .env file to the root of the directory with the contents:

APPLICATION_NAME="T

[2019-03-17 20:06] helfi92 commented on #409
The `.env` file should be located under the `ui` directory.

Run `yarn install` before to install all the dependencies.

[code]

That's fine.

[2019-03-17 20:32] HarieshJay commented on #409
Where would you actually find the UI application, since the server is only running on port 3050, and not on 9000 as the docs stated and as I put in the .env variable?

[2019-03-17 21:08] helfi92 commented on #409
Assuming you put PORT=9000 in `ui/.env`, the UI will be displayed on http://localhost:9000/

<img width="423" alt="Screen Shot 2019-03-17 at 5 08 30 PM" src="https://user-images.githubusercontent.com/3766511/54497959-50aa0900-48d7-11e9-8505-76a3fea44913.png">

[2019-03-17 21:20] HarieshJay commented on #409
Thank you very much,

It finally works! I am getting a network error now, but I should be able to figure that out on my own.

[2019-03-18 13:09] helfi92 commented on #450
We could perhaps use [Docsearch](https://community.algolia.com/docsearch/) to provide the search feature. The normal way requires sending the documentation URL to the algolia team. In order to not have to reach out to the Algolia team for every spawned cluster, we could [run our own crawler](https://community.algolia.com/docsearch/run-your-own.html) instead. We could potentially use the [documenta

[2019-03-18 13:16] djmitche commented on #450
We could potentially run that during `yarn build`, which runs lots of other stuff in docker images.  But from a glance at the "run your own crawler" link, it seems like it scans static pages via GET requests -- would it have any success trying to scan a react app?

It seems like something that indexes the `.md`/`.mdx` files (and maybe the references?) directly would be a better fit for our needs.

[2019-03-18 13:22] helfi92 commented on #450
Setting [`start_urls`](https://community.algolia.com/docsearch/config-file.html#start_urls) to https://taskcluster-web.netlify.com/docs and [`js_render`](https://community.algolia.com/docsearch/config-file.html#js_render-optional) to `true` in the config file will perform the crawling in a Selenium browser. I believe we should be okay.

[2019-03-18 13:34] djmitche opened #459 "[UI] provide a universal schema viewer"
Sometimes I just want to link to a particular schema or sub-schema, rather than finding a documentation page that includes that schema.

Let's add a "Schema Index" to the docs page, that lists all schemas in the references by their `$id` and displays the selected schema.

[2019-03-18 13:35] djmitche commented on #450
True, but that's not a great URL to crawl, as it's not necessarily running the version of the docs that we're building.  To use selenium to do the crawling, we'd need to run a full copy of tc-ui in another docker container at the same time and link the two.  That seems like a super-complicated way to index markdown files :)

[2019-03-18 13:45] helfi92 opened #460 "[UI] headers in docs"
From https://github.com/taskcluster/taskcluster/pull/454#issuecomment-473787210:

#### Docs have one/multiple `h1` tags already
- [`services/github/docs/taskcluster-yml-v0.md`](https://raw.githubusercontent.com/taskcluster/taskcluster/master/services/github/docs/taskcluster-yml-v0.md).
- [`services/github/docs/taskcluster-yml-v1.md`](https://raw.githubusercontent.com/taskcluster/taskcluster/master

[2019-03-18 14:36] helfi92 commented on #450
Many of the files are not markdown. They contain Javascript.

[2019-03-18 14:47] djmitche commented on #450
Give it a shot, then :)

[2019-03-18 15:20] helfi92 commented on #450
Sure. Just wanted to see if there was consensus before doing this :)

[2019-03-18 15:50] helfi92 commented on #453
Out of curiosity, why do we put the version of Taskcluster in a file named `.git-version` instead of something like `.taskcluster-version`?

Having it below the application name sounds good to me:

![Screen Shot 2019-03-18 at 11 48 57 AM](https://user-images.githubusercontent.com/3766511/54543344-e09d9080-4973-11e9-873f-1f79f47ea691.png)

[2019-03-18 15:57] djmitche commented on #453
We could change the filename.  I don't think there's any particular reason for that name.

[2019-03-18 17:55] #447 closed

[2019-03-18 20:55] djmitche commented on #438
@all-contributors please add @djmitche and @helfi92 as core developers

[2019-03-18 21:08] djmitche commented on #438
@all-contributors please add @djmitche, @helfi92, @petemoore, @owlishDeveloper, @imbstack, @walac for code

[2019-03-18 21:09] djmitche commented on #438
Wow, your NLP is terrible.

@all-contributors please add @djmitche and @helfi92 and @petemoore and @owlishDeveloper and @imbstack, and @walac for code

[2019-03-18 21:09] djmitche commented on #438
lol

[2019-03-19 02:29] HarieshJay commented on #409
Hi again,

I am having the same error that appeared in this [issue:](https://github.com/taskcluster/taskcluster/issues/175)

[Here](https://imgur.com/a/VUn4Ciy) it is on my computer:

Did you guys end up finding the problem?

I am running a server on both [/ui](https://imgur.com/a/WqLAEgS) and [/services/web-server](https://imgur.com/a/6Q3ILkL)

This is my .env file in /ui:
[code]

This my .env fi

[2019-03-19 03:03] helfi92 commented on #409
Two things:
1. There shouldn't be any `.env` file in `services/web-server`. Delete it.
2. In `user-config.yml`, delete everything under `pulse`. The end output should be:

[code]

[2019-03-19 03:54] HarieshJay commented on #409
I have done those 2 things and I still get the "Network error: Failed to fetch error".

Also, when I delete the .env file the web-server defaults to port 3050, while the ui server is at port 9000, is that fine?

[2019-03-19 11:55] helfi92 commented on #409
Yes, the ports need to be different.

Did you restart the server after doing that?

[2019-03-19 12:46] djmitche commented on #438
#465 adds all the people.  Now I just need to generate that in a page in the docs.

[2019-03-19 12:46] djmitche commented on #438
..and update the contributing file

[2019-03-19 14:22] HarieshJay commented on #409
Yea, I turned off both servers and ran yarn and yarn build just in case, and then yarn start again.

[2019-03-19 20:55] helfi92 commented on #409
Can you show me the content of both `.env` and `user-config.yml`.

[2019-03-19 21:15] HarieshJay commented on #409
Here is my .env in /ui
[code]

And here is my user-config.yml inside /services/web-server
[code]

[2019-03-19 21:44] helfi92 commented on #409
There seems to be two `APPLICATION_NAME` in `ui/.env`. Please remove one of them.

[2019-03-19 21:45] helfi92 commented on #409
How are you running the web server?

[2019-03-19 21:47] HarieshJay commented on #409
I just run yarn start in the web-server folder

[2019-03-19 21:49] helfi92 commented on #409
Run it with:

[code]

and see if you see anything interesting there.

[2019-03-19 21:51] HarieshJay commented on #409
This is the output I got

[code]

[2019-03-19 21:54] helfi92 commented on #409
Ok, that looks good. What about the ui, what do you see in the terminal?

[2019-03-19 21:55] helfi92 commented on #409
Also, what url are you using for which you are getting an error?

[2019-03-19 22:11] HarieshJay commented on #409
When I run DEBUG=* yarn start on ui I get a large output which is at least a couple hundred lines long, and when I run just yarn start I get:

[code]
I get that error on several pages including /tasks/index, and /tasks/groups/ whenever I search for something.

[2019-03-19 22:15] helfi92 commented on #409
Oh, try making `PORT=5080` instead of 9000.

[2019-03-19 22:20] HarieshJay commented on #409
Perfect it works now.
Thank you so much!

[2019-03-20 01:29] jonalmeida opened #469 "New UI: Task status updates aren't seen as accurately as the old"
**Describe the bug**
A clear and concise description of what the bug is.

When comparing a new PR in https://github.com/mozilla-mobile/android-components which leads to may individual tasks in a group being created, I see the old using is updated far quicker than the new UI (which seems to poll for updates).

**To Reproduce**
Steps to reproduce the behavior:
1. Create a PR in android-components.
2

[2019-03-20 01:32] jonalmeida commented on #306
Hello @projectyang, sorry for the slow reply!

Unfortunately, it's still a bit hard for me to distinguish the difference between the light themed first and third status icons, and the second and third dark themed icons.

[2019-03-20 08:40] sudipt1999 commented on #223
@helfi92  can you please tell me what does this `size` means , In what terms is size in https://github.com/taskcluster/taskcluster/blob/7b058a76c4a92305c85083cfbcf19effcb53603a/ui/src/components/RoleScopesTable/index.jsx#L141

[2019-03-20 09:21] sudipt1999 commented on #223
@helfi92  I am getting `Network error: NetworkError when attempting to fetch resource.` when I am opening the `http://localhost:8080/aws-provisioner` I have started the web-server then I started the ui.

[2019-03-20 12:14] helfi92 commented on #285
I published v9.2.0. https://bundlephobia.com/result?p=taskcluster-client-web@9.2.0 (17.6
kB minified).

@sarah-clements Let me know if that works for you.

[2019-03-20 12:23] helfi92 commented on #223
in `ui/.env`, try adding `PORT=5080` and see if that fixes it.

[2019-03-20 12:34] helfi92 commented on #469
Thanks for the issue. I do agree that it would make more sense to subscribe to a task instead of polling in this situation. Polling becomes a problem when you have to support task groups that takes a while to load (10k+ tasks) for something like a release job. I will experiment with switching to a subscription model and see if that improves the experience.

[2019-03-20 14:16] sudipt1999 commented on #223
Ya it worked ! but why that was happening ? any idea !

[2019-03-20 15:53] djmitche opened #472 "[ui/docs] drop "Presentations" field"
This is [currently a 404](https://taskcluster-web.netlify.com/docs/resources), and it seems the content itself remains in the tc-docs repo.  For an unknown reason, it's also a 404 on the [old docs site](https://docs.taskcluster.net/docs/presentations).

We could potentially move that content somewhere else (tc-media, perhaps), but most of it is horribly out of date anyway.  So, I'd propose we just

[2019-03-21 13:05] petemoore commented on #472
I think the youtube videos still have value (setting up Windows worker types) but I don't recall any other presentations which may still be useful. Is there any way of digging up the old page to see what was there before?

[2019-03-21 13:06] djmitche commented on #472
It's all still in the repo, with the index at https://github.com/taskcluster/taskcluster-docs/blob/master/src/presentations/index.md

[2019-03-21 13:08] djmitche commented on #472
Linking to YouTube videos is a lot easier than hosting a reveal.js presentation, so we could definitely keep those around.

[2019-03-21 22:17] sudipt1999 commented on #443
Can I work on this !

[2019-03-21 22:20] djmitche commented on #443
Yep, that sounds like about it!  Anything linking directly to a `taskcluster.net` hostname needs to get changed.

[2019-03-21 22:36] sudipt1999 commented on #443
Changed to internal `readme` files!

[2019-03-21 22:39] djmitche commented on #443
Note that you may want to wait for #476 to land before getting too into this -- it moves a lot of files around!

[2019-03-21 22:41] sudipt1999 commented on #443
I guess that the only way, since all the docs are being moved to `ui/docs` also #444 is related to this bug only so I need to wait a little! Thank you

[2019-03-21 23:01] djmitche commented on #443
Yes, that work was blocking a lot of other things so I prioritized it.  Soon!

[2019-03-22 13:34] djmitche opened #479 "Logs reference viewer has bad link"
![Screenshot_2019-03-22 Logs - Taskcluster](https://user-images.githubusercontent.com/28673/54826178-a0952100-4c85-11e9-98e1-f97418e78e3d.png)

The link doesn't lead to a page that exists, and also needs a bit of whitespace added. /cc @imbstack

[2019-03-22 14:47] helfi92 commented on #285
Closing as resolved but feel free to re-open if you are still experiencing an issue.

[2019-03-22 14:47] #285 closed

[2019-03-22 16:24] sarah-clements commented on #285
Thanks Hassan!

[2019-03-22 18:38] djmitche opened #480 "creating a client does not show an accessToken"
**Describe the bug**
When creating a new client, the UI does not display the client's accessToken

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Authentication -> Clients
2. enter a clientId, click +
3. See the new client

**Expected behavior**
Should be shown the accessToken as a one-time display.

[2019-03-22 18:42] djmitche commented on #480
Note that the "reset accessToken" button does show the access token.

[2019-03-22 20:26] djmitche commented on #438
Will be fixed in #482

[2019-03-22 20:26] #438 closed

[2019-03-22 20:29] djmitche commented on #443
@allcontributors please add @sudipt1999 for code

[2019-03-22 20:58] #448 closed

[2019-03-22 20:58] #472 closed

[2019-03-23 13:06] helfi92 opened #488 "[UI] Entry component padding in docs"
STR:

1. Navigate to https://taskcluster-web.netlify.com/docs/reference/platform/auth/logs

**Actual**: The text is too close to the border.

<img width="927" alt="Screen Shot 2019-03-23 at 9 02 09 AM" src="https://user-images.githubusercontent.com/3766511/54866484-a3a61500-4d4a-11e9-95eb-04a90be18292.png">

**Expected**: There is enough padding (24px).

<img width="923" alt="Screen Shot 2019-03-2

[2019-03-23 13:54] RizwanSyed357 commented on #488
hey - this looks interesting. Can you assign it to me please? This will be my third patch to Firefox :)

[2019-03-23 16:52] helfi92 commented on #488
👋 @RizwanSyed357

Go for it :)

[2019-03-23 16:52] helfi92 commented on #488
Check your email, I sent you an invitation.

[2019-03-23 21:51] sudipt1999 commented on #443
Since pr #476 has been merged, I will start working on it!

[2019-03-25 03:05] ziyadElon commented on #405
Hi @helfi92
The attached url directs to a 404.
Could you please look into this?

[2019-03-25 03:11] ziyadElon commented on #325
@vansjyo Are you still working on this?
If not, @helfi92 may i pick this up?

[2019-03-25 11:45] helfi92 commented on #405
Sorry about that. It should work now.

[2019-03-25 13:37] #440 closed

[2019-03-25 17:26] #480 closed

[2019-03-25 18:47] #479 closed

[2019-03-26 11:57] helfi92 opened #497 "[UI] Hooks list focus state"
STR:

1. https://taskcluster-web.netlify.com/hooks
2. Press the tab key many times until the focus is on the first element of the hooks list

**Expected**: The focus effect background color looks like

![Screen Shot 2019-03-26 at 7 55 35 AM](https://user-images.githubusercontent.com/3766511/54995215-9718fb00-4f9c-11e9-9477-6a3fe1a85f90.png)

**Actual**:

![Screen Shot 2019-03-26 at 7 54 40 AM](htt

[2019-03-26 12:22] #314 closed

[2019-03-26 15:29] helfi92 opened #498 "[UI] Show application name beside the logo"
STR:

1. Navigate to https://taskcluster-web.netlify.com/
2. Click the hamburger menu to open the navigation drawer

**Actual**:

<img width="267" alt="Screen Shot 2019-03-26 at 11 25 56 AM" src="https://user-images.githubusercontent.com/3766511/55010110-05b88180-4fba-11e9-8f6e-ea60456a26d9.png">

When the user hovers on "Taskcluster", the text is replaced by the logo:

<img width="336" alt="Scree

[2019-03-27 17:18] kritisingh1 commented on #498
Hi @helfi92 I would like to work on this. May I take this up? Thanks!

[2019-03-27 17:33] helfi92 commented on #498
Go for it.

[2019-03-27 19:02] djmitche commented on #498
@kritisingh1 I invited you to the organization.  Once you've accepted, let me know and I can assign this issue to you.

[2019-03-27 19:08] kritisingh1 commented on #498
@djmitche Accepted.

[2019-03-28 16:58] #425 closed

[2019-03-28 20:45] RehabHussein commented on #405
@helfi92 Hi Hassan, I'm new to open source contribution - would like to get started on this. Is it OK?

[2019-03-28 21:16] helfi92 commented on #405
Go for it. I sent you an invitation via email. Let me know once your accept it so I can assign the issue to you.

[2019-03-28 21:50] RehabHussein commented on #405
@helfi92 Perfect !
I accepted the invitation. Thank you !

[2019-03-29 11:54] mitchhentges opened #504 ""e is undefined" when viewing task"
**Describe the bug**
Viewing [this task](https://taskcluster-web.netlify.com/tasks/cL0g7J-ERDiB8Vws7XvMhA) doesn't show me my information, but instead shows the error "e is undefined"

**To Reproduce**
I'm not sure why [this task](https://taskcluster-web.netlify.com/tasks/cL0g7J-ERDiB8Vws7XvMhA) is special, but it shows the error

**Expected behavior**
Show the task contents rather than the error

[2019-03-29 12:04] mitchhentges commented on #504
The task is now loading properly for me.
When I checked the Firefox console, there was no additional exception information.

Was this logged into an external exception-tracking system, like Sentry, so you have enough information?
Alternatively, is there some way I can collect more information and post it here next time this happens?

[2019-03-29 17:36] owlishDeveloper opened #508 "Right-click on links opens them"
**Description**
When you right-click on the link to see the context menu, it will show the context menu, but also navigate.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to anywhere in the documentation on the new website (for example https://taskcluster-web.netlify.com/docs/manual/task-execution/queues )
2. Right-click on any link to another page within the docs (for example, on the ab

[2019-03-29 21:04] djmitche opened #511 "Cannot add new secrets"
**Describe the bug**
Creating a new secret gives an error

**To Reproduce**
Steps to reproduce the behavior:
1. Go to "secrets"
2. Click on the plus
3. Make a new secret
3. Click on the disk
4. See error

**Expected behavior**
Secret is saved

**Screenshots**
![Screenshot_2019-03-29 Secrets - Taskcluster](https://user-images.githubusercontent.com/28673/55262550-7c68af80-5244-11e9-8ba3-c5d8519cdbc1

[2019-03-29 21:07] djmitche commented on #511
Saving existing secrets seems to work.

[2019-03-29 21:08] djmitche opened #512 "Secret values are displayed"
**Describe the bug**
Secret values appear when clicking on the secret name

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://taskcluster-staging.net/secrets and sign in
2. Click on a secret

**Expected behavior**
Secret value is hidden behind a click to avoid secrets being inadvertently revealed and screen-surfed.

[2019-03-29 21:09] djmitche commented on #512
I notice that the secret is also immediately editable.  I know there's an overall push to have no distinct "view" and "edit" modes -- maybe that's worth a second thought?

[2019-03-29 21:28] djmitche opened #513 "[UI] remove search pattern for clients viewer"
On the old tools site, by default we searched for clients whose names have the current user's clientId as a prefix.  This was done because we have a convention of naming users' clients after their own clientId (and tc-login gives them permission to do so).  That convention is now embodied in the client creator, and most users generate clients that way.

The old UI showed the search pattern right a

[2019-03-29 21:28] djmitche commented on #513
![Screenshot_2019-03-29 Clients - Taskcluster](https://user-images.githubusercontent.com/28673/55263649-19791780-5248-11e9-9db7-f7b460cf12c1.png)
*omg where's my client*

[2019-03-30 18:04] Mozilla-GitHub-Standards opened #515 "CODE_OF_CONDUCT.md isn't correct"
**Your required text does not appear to be correct**

As of January 1 2019, Mozilla requires that all GitHub projects include this [CODE_OF_CONDUCT.md](https://github.com/mozilla/repo-templates/blob/master/templates/CODE_OF_CONDUCT.md) file in the project root. The file has two parts:

1. Required Text - All text under the headings *Community Participation Guidelines and How to Report*, are requir

[2019-04-01 10:43] mitchhentges opened #519 "[UI] Group with task that failed with exception shows green favicon"
**Describe the bug**
[This task group](https://taskcluster-web.netlify.com/tasks/groups/JpzmQxqFTK2KlKsRDoUh6Q) has a task with the "exception" status, but the favicon for the group is still green.

This affects me because I see my taskcluster task with the green icon, I think "oh good, it passed!", but when I actually view the tab, I see that not all the builds are green

**To Reproduce**
1. Go t

[2019-04-01 11:48] helfi92 commented on #519
Good catch! Sending a fix now.

[2019-04-01 11:57] #519 closed

[2019-04-01 13:00] ccooper commented on #515
Fixed in place

[2019-04-01 13:00] #515 closed

[2019-04-02 12:22] #511 closed

[2019-04-02 12:58] helfi92 opened #530 "[UI] An unscheduled task fails to display"
<img width="1549" alt="Screen Shot 2019-04-02 at 8 57 30 AM" src="https://user-images.githubusercontent.com/3766511/55404226-71a06a00-5525-11e9-9852-4301ed3ffb66.png">

[2019-04-02 13:04] helfi92 commented on #530
Resolved in https://github.com/taskcluster/taskcluster/commit/e4b20cf57c1336b4795f93906749b5d20815aef8.

[2019-04-02 13:04] #530 closed

[2019-04-02 19:04] projectyang commented on #306
Hi @jonalmeida, sorry for the wait on your feedback. I've been trying to come up with other approaches for a status icon that could potentially work for accessibility but wasn't very successful.

Going back to my previous iteration, I've taken your feedback and slightly emphasized the third status (rectangle) a bit more since it seemed to be the common issue between light/dark themes.

Let me know

[2019-04-02 20:01] projectyang commented on #513
Hey,

I can remove this - I implemented the previous behaviour, so would be familiar with reverting it.

[2019-04-02 21:40] helfi92 commented on #513
Awesome, go for it :)

[2019-04-02 21:42] helfi92 commented on #513
Check your email. I sent you an invitation to become a collaborator :)

[2019-04-02 21:56] helfi92 commented on #498
How is it going @kritisingh1?

[2019-04-02 21:58] helfi92 commented on #460
Resolved in https://github.com/taskcluster/taskcluster/commit/d0683c46ca792867e2d9f6b1385ea9d9dc4773e2.

[2019-04-02 21:58] #460 closed

[2019-04-02 21:59] helfi92 commented on #383
Closing as resolved.

[2019-04-02 21:59] #383 closed

[2019-04-02 22:06] helfi92 commented on #409
I'll try and see if I can make this work.

[2019-04-02 22:08] helfi92 commented on #409
@HarieshJay In case you were wondering how to do this, I was able to do it in https://github.com/taskcluster/taskcluster/pull/532/commits/a1d7bb1c1270e5a0006545fb9ae83d33a62b4271 :) Thanks for offering your help!

[2019-04-02 22:09] helfi92 commented on #439
Resolved in https://github.com/taskcluster/taskcluster/commit/e5bbac637806fcd917c154409c8728780e6e629f.

[2019-04-02 22:09] #439 closed

[2019-04-02 22:11] helfi92 commented on #307
We are moving away to a subscription model instead of polling. This issue will no longer be relevant once https://github.com/taskcluster/taskcluster/pull/477 is merged.

[2019-04-02 22:12] helfi92 commented on #325
@ziyadElon Go for it. I haven't heard back from @vansjyo.

[2019-04-02 22:15] helfi92 commented on #488
This issue is no longer relevant since we don't show long descriptions on the panel header anymore.

![Screen Shot 2019-04-02 at 6 13 56 PM](https://user-images.githubusercontent.com/3766511/55439623-32990580-5573-11e9-806e-cf662aaa94f3.png)

@RizwanSyed357 Aplogies for that. As always, if you're interested in another issue, let me know and I'll assign it to you. Thanks!

[2019-04-02 22:15] #488 closed

[2019-04-02 22:29] #409 closed

[2019-04-02 22:43] helfi92 opened #533 "[UI] Date picker calendar icon"
STR:

1. Navigate to http://localhost:5080/secrets/create

Actual:

![Screen Shot 2019-04-02 at 6 41 23 PM](https://user-images.githubusercontent.com/3766511/55440879-1303dc00-5577-11e9-9acb-47777d6f1b8c.png)

Expected: The calendar icon is above the line

[2019-04-02 22:44] HarieshJay commented on #409
Thanks for working on this.

Sorry I couldn't finish it in time.

[2019-04-03 13:25] mitchhentges opened #534 "[UI] Streamline trigger-hook flow"
From my usage of the Taskcluster UI so far, I have triggered hooks hundreds of times, but I've never supplied a custom `context`. Therefore, I'm making the broad assumption that, perhaps, supplying a `context` is an edge case?

If so, perhaps the hook-triggering UI can be optimized for the case where the `context` isn't edited. I'd love to avoid the think-and-click that happens every time the hook

[2019-04-03 14:19] helfi92 commented on #534
I think we can have the initial focus be on the "Trigger Hook" button when opening the modal assuming that most hooks are triggered with an empty context. This would allow people to press the enter key right after the trigger hook dialog opens up.

[2019-04-03 14:59] mitchhentges opened #543 "[UI] Unify order of delete buttons"
The location of the "delete" button is different between different pages. For example:
* For hooks, the delete button is on the bottom of the pop-up menu
* For roles, the delete button is on the top of the pop-up menu

I had built up a muscle-memory of the non-deletion action after working with hooks, and I just went to edit a role, but deleted it instead! :man_facepalming:

[2019-04-03 15:07] helfi92 commented on #543
Oh no! Sorry for that. Agreed, let's have the red button above the green one in the speed dial component. We should also add an extra layer of protection by showing a confirmation box when deleting...but we can take care of that later.

[2019-04-03 16:53] kritisingh1 commented on #498
I'm on it.

[2019-04-03 17:29] helfi92 commented on #508
It seems to work on Chrome but not on Firefox.

[2019-04-03 18:41] projectyang commented on #513
If a user has submitted a search in the view, and then signs in/out, is the expected behaviour:

1. The search query and results remain as before
2. The search query and results reset back to default

[2019-04-03 18:49] helfi92 commented on #513
The search query and results remain as before.

[2019-04-05 15:50] jonalmeida commented on #306
Hey @projectyang , thanks for taking a look at this issue! Thinking about this more, having the shapes alone should be enough to rely on.

I think I like the first suggestion more for the square shapes rather than a rectangle. 😉 Maybe just a tad bit bigger and it should be perfect?

[2019-04-06 13:41] ziyadElon commented on #325
@helfi92 Picking this up!

[2019-04-06 15:42] helfi92 commented on #325
Go for it.

[2019-04-08 10:10] mitchhentges opened #554 "[UI] Hard to know requests fail when on tall pages"
When an action fails (such as when your authentication tokens have expired), a red banner appears at the top of the screen. However, on taller pages, if you aren't at the top of the screen, it seems like the action succeeded, because the button you clicked is clickable again, and nothing notable happened (other than the page shifting down by an inconspicuous amount).

Perhaps the red banner should

[2019-04-08 12:09] helfi92 commented on #554
Agreed. We should find a better way to deliver the error message to the user.

We could give that a try and see if it's good enough.

[2019-04-11 03:13] arshadkazmi42 commented on #533
I can take this up, if no one is working on it.

[2019-04-11 03:26] helfi92 commented on #533
Go for it :)

[2019-04-11 15:25] helfi92 commented on #513
How is it going @projectyang? Let me know if you had questions :)

[2019-04-11 15:54] projectyang commented on #513
Hey @helfi92,

I'm a bit stuck.

I'm using componentDidUpdate as a way to refetch the previous query and results after a sign in/out event:

`async componentDidUpdate(prevProps, prevState) {...
if (this.props.user !== prevProps.user) { refetch...}`

However, this approach will briefly cause the

whenever a user signs in and out.

I assume the problem is because the refetch is occuring during the s

[2019-04-11 19:19] helfi92 commented on #513
No need to do a refetch after a sign in/out event :)

[2019-04-11 19:23] arshadkazmi42 commented on #533
on debugging this, I see icon is getting rendered here
https://github.com/taskcluster/taskcluster/blob/master/ui/src/components/DatePicker/index.jsx#L34

It looks like its some material component. Where can I modify the code for this? Or are we planning on developing a new component for this?

[2019-04-11 19:36] projectyang commented on #513
Sorry if I'm misunderstanding, but if I don't include a refetch, wouldn't a sign in/out event reset the previous query and results on the clients view.

[2019-04-11 20:15] helfi92 commented on #533
I don't think the issue is with the CalendarIcon. I think adding `alignItems: center` on the parent element should fix it.

[2019-04-11 20:16] helfi92 commented on #533
![Screen Shot 2019-04-11 at 4 16 32 PM](https://user-images.githubusercontent.com/3766511/55990232-33b5eb00-5c75-11e9-861a-4ba725cd13b6.png)

[2019-04-11 21:20] projectyang commented on #306
How's this looking @jonalmeida?

![screen shot 2019-03-04 at 8 49 22 pm](https://user-images.githubusercontent.com/13473834/53775105-36c3fb80-3ebf-11e9-922d-483c46e005d4.png)
![image](https://user-images.githubusercontent.com/13473834/53775513-df268f80-3ec0-11e9-8007-a02b408e0015.png)
![Screen Shot 2019-04-11 at 4 47 51 PM](https://user-images.githubusercontent.com/13473834/55992063-a7f28d80-5c79-

[2019-04-12 03:20] jonalmeida commented on #306
@projectyang really liking the last set. :)

[2019-04-12 11:05] lissyx opened #564 "[UI] Provide way to act on several tasks from group view"
Use case is being able to `rerun` or `retrigger` several failed tasks with little effort from the group view.

[2019-04-12 15:06] helfi92 commented on #513
Sorry, I forgot about that. In that case, let's just stop resetting the store since it's causing too much trouble. We can use `.clearStore` instead which won't clear the previous queries.

[2019-04-12 15:37] helfi92 commented on #413
https://taskcluster.net.

[2019-04-12 15:37] #413 closed

[2019-04-12 21:20] projectyang commented on #513
I'm probably missing something very obvious...

If I use clearStore on both sign in and sign out components or even disable it entirely, the clients data still resets to the full list. Does onAuthorize/onUnAuthorize automatically force a reset?

[2019-04-13 11:35] sudipt1999 opened #567 "[UI] cancel button dosen't closes the modal"
**To Reproduce**
Steps to reproduce the behavior:
1. Go to [https://docs.taskcluster.net/docs](https://docs.taskcluster.net/docs)
2. Click on  Sign in
3. Click on Close

**Expected behavior**
Modal should close

**Screenshots**

![Screenshot from 2019-04-13 16-56-46](https://user-images.githubusercontent.com/38929617/56079166-4f082e00-5e0e-11e9-8936-7887298d0b61.png)

[2019-04-13 12:53] arshadkazmi42 commented on #533
I cant seem to find this css in React code, I think its part of DatePicker component.

[2019-04-13 17:09] helfi92 commented on #567
I can't seem to replicate. What browser and version are you using?

[2019-04-13 17:28] helfi92 commented on #533
I pushed a fix in https://github.com/taskcluster/taskcluster/pull/568/files. Have a look to see if it makes sense. Happy to answer any questions :)

[2019-04-13 18:04] arshadkazmi42 commented on #533
@helfi92 Yes, it does make sense, override the styles of the component. I was planning on doing something like this but wasn't so sure where exactly to start.
I was also thinking, that there is somewhere CSS available which we will be able to modify to fix this.

[2019-04-13 18:24] helfi92 commented on #533
Agreed. Sometimes components expose properties to override internal components but I don't think the DatePicker did so we had to rely on CSS specificity to override the style.

[2019-04-13 18:46] sudipt1999 commented on #567
Google Chrome

[2019-04-13 20:10] helfi92 commented on #567
What version of Firefox?

[2019-04-13 20:30] iFlameing commented on #453
@djmitche can you assign me this?

[2019-04-13 20:33] helfi92 commented on #405
How is it going Rehab? Let me know if you had questions.

[2019-04-13 20:34] helfi92 commented on #277
Resolved in https://github.com/taskcluster/taskcluster/commit/6ada7a7519e5e8ff2b79199ca9635df795ff1d97.

[2019-04-13 20:34] #277 closed

[2019-04-13 20:38] helfi92 commented on #498
Do you have any questions @kritisingh1? Let me know if there's anything unclear.

[2019-04-13 20:44] djmitche commented on #453
I need to invite you to the org first.  Once you've accepted, let me know and I will assign.

[2019-04-13 20:45] djmitche commented on #453
Oops, I don't have my Github password with me.  @helfi92 any chance you could invite @iFlameing?  Otherwise I will in the next day.

[2019-04-13 21:11] helfi92 commented on #453
Invitation sent.

[2019-04-13 21:14] helfi92 commented on #405
I can take care of it this time, np. If you're still interested in another problem, let me know and I can assign it to you.

[2019-04-13 21:19] iFlameing commented on #453
@djmitche accepted the invitation.

[2019-04-13 21:19] RehabHussein commented on #405
@helfi92 I was just stuck in some issues deploying the app :(
Sorry for being late !
Sure I am still interested in participating in task cluster, will find another suitable issue and ping you :)
Thanks Hassan for your understanding !

[2019-04-13 21:36] djmitche commented on #453
Thanks hassan :)

[2019-04-14 09:03] kritisingh1 commented on #498
Hi. Could you let me know how to start the local server of netlify for testing the changes? I can't find a relevant command in package.json. Builds and tests are completed successfully.

[2019-04-14 15:29] buscasangre commented on #567
@sudipt1999  I am using Mozilla Firefox 66.0.2 and there is no such kind of problem .

[2019-04-14 16:15] sudipt1999 commented on #567
@buscasangre  my version is same as yours 66.0.2 (64-bit),

Please see this!
![Peek 2019-04-14 21-43](https://user-images.githubusercontent.com/38929617/56095852-78a08280-5efe-11e9-808e-d51578ace4a8.gif)

[2019-04-14 18:40] buscasangre commented on #567
@sudipt1999  the same problem is in chrome browser too and this dialog box is only causing problem when you are selecting the sign in option from the top left corner . This is working fine when we select the sign in option from the top right corner.

[2019-04-14 19:17] helfi92 commented on #567
Agreed. I was able to replicate.

[2019-04-15 12:40] helfi92 commented on #498
Hi @kritisingh1. You don't need Netlify to start the local server. You just need two terminals, one running the UI and the other running the server. For this specific task I don't think you even need to have the server running.

Have a look at the [README](https://github.com/taskcluster/taskcluster/blob/master/ui/README.md) for how to run the UI. From the root of the project, I think you can do so

[2019-04-15 14:14] #533 closed

[2019-04-15 14:26] helfi92 opened #577 "[UI] Add top margin to headers in documentation"
STR:

1. Navigate to something like https://taskcluster-web.netlify.com/docs/manual/design/apis/pulse#taskcluster-pulse-resources

**Expected**:

![Screen Shot 2019-04-15 at 10 24 30 AM](https://user-images.githubusercontent.com/3766511/56140334-b2a66e80-5f68-11e9-878b-64e1407d0eae.png)

**Actual**:

![Screen Shot 2019-04-15 at 10 23 32 AM](https://user-images.githubusercontent.com/3766511/5614034

[2019-04-15 14:32] helfi92 commented on #469
Resolved in https://github.com/taskcluster/taskcluster/commit/fd837dfde1cce4e813c054c41091f9c1d57bc519. Thank you for bringing this up.

[2019-04-15 14:32] #469 closed

[2019-04-15 14:33] helfi92 commented on #248
The new UI should now feel a lot faster. We no longer wait for the whole list to load before displaying it in the UI. Resolved in https://github.com/taskcluster/taskcluster/commit/fd837dfde1cce4e813c054c41091f9c1d57bc519.

[2019-04-15 14:33] #248 closed

[2019-04-15 14:34] #405 closed

[2019-04-15 14:52] helfi92 opened #578 "[UI] Interactive Task re-wording"
Many users don't know the feature of connecting to SSH when creating a task. I think this is because the word "Interactive" is a bit vague for the average user. We should consider changing the wording. For example, when creating a task, instead of saying "Create Interactive" we should say "Create with SSH".

[2019-04-15 16:28] djmitche commented on #441
I think this will wait a few weeks until we've worked out the new deployment process that is compatbile with cloudops /cc @edunham and @imbstack

[2019-04-16 11:50] arshadkazmi42 commented on #543
@helfi92 I would like to take this up

[2019-04-16 11:54] helfi92 commented on #543
Go for it. This will make @mitchhentges really happy :)

[2019-04-16 14:00] helfi92 commented on #513
Ah, I see. Yes it forces a reset because the when a user logs in/logs out, the state is changed in `src/App/index.jsx` which ends up re-rendering all of its children. When the clients view gets re-rendered, it will trigger the graphql query.

One solution would be to embed the search string in the url `http://localhost:5080/auth/clients?search=github` for example. Want to do that?

[2019-04-16 14:18] projectyang commented on #513
Ah, I see. And the search string method sounds good, I'm on it.

[2019-04-16 14:30] helfi92 opened #581 "[UI] Secrets view UX"
STR:

1. Navigate to https://taskcluster-web.netlify.com/ and login
2. Navigate to https://taskcluster-web.netlify.com/secrets/garbage%2Fhassan%2Ftest

**Expected**: The Save button is visible and shows a confirmation message when a user click on "Save".

![Screen Shot 2019-04-16 at 10 29 30 AM](https://user-images.githubusercontent.com/3766511/56218209-8b1bd880-6032-11e9-8e65-ab74c8de3c28.png)

*

[2019-04-16 18:55] #512 closed

[2019-04-16 19:23] djmitche opened #587 "[UI] Deleting a secret returns to a list of secrets with that secret still appearing"
**Describe the bug**
Deleting a secret does not delete the secret from the onscreen list, although it does appear to delete it from the backend.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Secrets page
2. Create a garbage secret
3. Go to the list of secrets
4. Select your garbage secret
1. Delete it

**Expected behavior**
A list of secrets not containing the one just deleted.

**Sc

[2019-04-16 20:08] #587 closed

[2019-04-17 13:21] arshadkazmi42 commented on #543
Can you share create pages url?
@helfi92 Do I need to setup backend also to work on this?

[2019-04-17 13:38] arshadkazmi42 commented on #543
Created a PR

[2019-04-17 13:56] helfi92 commented on #543
Thanks @arshadkazmi42! I will look at it as soon as I get the chance.

[2019-04-17 15:31] djmitche opened #592 "[UI] better error message on nonexistent task group"
**Describe the bug**
When a taskGroup is not found, the error is "e.taskGroupConnection is null"

**To Reproduce**
https://taskcluster-staging.net/tasks/groups/PPgFNzlMSRe99wlGNg6tUw

**Expected behavior**
A clear and concise error message :)

[2019-04-17 15:39] helfi92 commented on #592
FYI, the browser currently throws: Unable to connect to https://taskcluster-staging.net/tasks/groups/PPgFNzlMSRe99wlGNg6tUw.

[2019-04-17 15:46] djmitche commented on #592
Huh, that link works fine for me, even in Chrome.  Notably, it complains "Cannot read property 'edges' of null" in chrome, but maybe that's just different words for the same error.

[2019-04-17 15:51] helfi92 commented on #592
Weird. Works on my phone, just not on my laptop.

[2019-04-17 16:10] djmitche commented on #592
Maybe something in /etc/hosts?

[2019-04-17 16:37] djmitche opened #594 ""Rerun" fails with message in console"
**Describe the bug**
Clicking "rerun" on a task does nothing, but gives an error in the console.

**To Reproduce**
Steps to reproduce the behavior:
1. https://taskcluster-staging.net/tasks/EJnb_6N-QRSQnzGmNdrxtA
1. Click "rerun"

**Expected behavior**
Rerun succeeds, or fails with an error.

[2019-04-17 17:10] helfi92 commented on #592
`cat /etc/hosts` shows:

[code]

[2019-04-17 17:39] helfi92 commented on #594
Created https://github.com/taskcluster/taskcluster/pull/595.

By the way, when I try to run the task, an error is thrown:

![Screen Shot 2019-04-17 at 1 35 23 PM](https://user-images.githubusercontent.com/3766511/56308674-e1157c80-6115-11e9-9a14-97beb2493fee.png)

I think the error is coming from https://github.com/taskcluster/taskcluster/blob/c85e4e4fbc395e4212452a1dfce70afb4451d331/ui/src/utils/

[2019-04-17 17:39] #592 closed

[2019-04-17 19:14] helfi92 opened #598 "[UI] Auth Client UX"
Same as https://github.com/taskcluster/taskcluster/issues/581 but for the auth clients and roles view:

Client Form: https://taskcluster-web.netlify.com/auth/clients/github%2Fhelfi92%2F

Role Form: https://taskcluster-web.netlify.com/auth/roles/github-admin%3A*

[2019-04-17 22:30] projectyang commented on #306
Awesome, I've cleaned it up a bit and opened up a WIP pull request with images. Let me know if you have any more feedback on it.

[2019-04-18 10:20] iFlameing commented on #453
@djmitche where I can see the prototype of .git-version file?

[2019-04-18 12:09] #543 closed

[2019-04-18 12:45] djmitche commented on #594
It's possible that we've started using v7 schemas in actions recently -- I don't remember that, but I forget things :)

See the "Please Note" [here](https://github.com/epoberezkin/ajv#using-version-6) -- it should be a matter of adding that line.

[2019-04-18 13:22] helfi92 commented on #594
Makes sense. Thank you.

[2019-04-18 13:30] #594 closed

[2019-04-18 14:41] helfi92 commented on #325
How is it going @ziyadElon? I recently added breadcrumbs to the Task Group view in  https://github.com/taskcluster/taskcluster/commit/5ac70a15886a5e7fe64b5b67bd48ffa5f8787834. You can use it for inspiration. Here's how it looks live: https://taskcluster-web.netlify.com/tasks/fBCfJ3vFRK-3zYVPs8SsLw

![Screen Shot 2019-04-18 at 10 40 48 AM](https://user-images.githubusercontent.com/3766511/56368969-

[2019-04-18 14:46] ziyadElon commented on #325
@helfi92 I've hit a bit of a roadblock.
I'm assuming you have created a component for breadcrumbs to do this?

[2019-04-18 14:47] helfi92 commented on #325
Yeah. It's in `src/components/Breadcrumbs`. If you pull the latest changes, you'll be able to see it in your codebase.

[2019-04-18 14:47] helfi92 commented on #325
Also, if you're stuck, just shoot me me a message here and I'll try my best to help.

[2019-04-18 14:48] #567 closed

[2019-04-18 14:48] ziyadElon commented on #325
@helfi92 Awesome! I'll look into the component and get back to you if I need any further help :)

[2019-04-18 14:55] helfi92 commented on #504
We used to have sentry but was disabled. I'll work in setting up something to log into Stackdriver. For now, reporting the errors from the console is the only option.

[2019-04-18 14:55] #504 closed

[2019-04-18 14:56] helfi92 opened #604 "[UI] Report errors to Stackdriver"
We currently support reporting errors to sentry but not Stackdriver.

[2019-04-18 14:56] helfi92 commented on #504
Filed https://github.com/taskcluster/taskcluster/issues/604.

[2019-04-18 15:20] djmitche commented on #453
You can see what the running docker image looks like with
[code]
and you'll see the file in `/app`.

[2019-04-18 15:36] djmitche opened #605 "[UI] "signature" in API docs should include payload"
**Describe the bug**
The signature of a method that takes a request payload should include the `payload` argument

**To Reproduce**
1. Go to https://docs.taskcluster.net/docs/reference/core/notify/api#email
1. Expand the email method

**Expected behavior**
Should see `email(payload)`.

**Screenshots**
![Screenshot_2019-04-18 Api - Taskcluster](https://user-images.githubusercontent.com/28673/563730

[2019-04-18 15:49] helfi92 commented on #453
@allcontributors[bot] please add @iFlameing  for code!

[2019-04-18 21:08] djmitche opened #610 "[UI] Add capacity to edit bindings in hooks view"
The [old UI](https://tools.taskcluster.net/hooks/garbage/test) allows users to edit the bindings property of a hook.  We need the same functionality in the new UI.

[2019-04-19 02:33] arshadkazmi42 commented on #605
@djmitche I can take this up.
Can you give some more details, what exactly needs to be done here?
Adding payload with the other details? And from where we can get the payload?

[2019-04-19 03:02] djmitche commented on #605
The payload is already defined below -- we just need to include a parameter named `payload` in the signature.  [Here](https://github.com/taskcluster/taskcluster-docs/blob/125a1319e7ffabb161ebcec29827bf300c112163/layout/reference.pug#L91-L103) is how it was done in the old docs site.

I'll invite you to the repo. Once you accept, I can assign this to you :)

[2019-04-19 03:21] arshadkazmi42 commented on #605
I will have a look at it later today.
I have accepted the invite

[2019-04-19 12:07] arshadkazmi42 commented on #577
@helfi92 I would like to work on this

[2019-04-19 17:53] #605 closed

[2019-04-19 19:15] iFlameing commented on #453
When I run the above command, I successfully pull the image but when I am running the command in bash i.e(
bash-4.4#  /app .
bash: /app: Is a directory
)

I got the following error. what should I do now?

[2019-04-19 19:18] djmitche commented on #453
Right, is is a directory.  It has a file in it, named `.git-version` :)

[2019-04-19 21:12] iFlameing commented on #453
I have to just include this string below the application name right?

[2019-04-19 21:41] djmitche commented on #453
Yes.  I'll defer to @helfi92 as to exactly how to format it.

[2019-04-21 19:07] helfi92 commented on #453
👋 Having the version number displayed in the bottom of the navigation drawer sounds good to me. See the purple box in the screenshot below. Thanks!

<img width="366" alt="Screen Shot 2019-04-21 at 3 04 53 PM" src="https://user-images.githubusercontent.com/3766511/56474394-19cf9180-6447-11e9-95b7-ae979e18fc51.png">

[2019-04-21 19:41] #498 closed

[2019-04-21 20:13] iFlameing commented on #453
@helfi92 I found that we can use [Filereader](https://developer.mozilla.org/en-US/docs/Web/API/FileReader) to read the .git-version file and output the App version to the pink area. can you please! tell me if I am in the right direction or not?

[2019-04-22 11:56] #577 closed

[2019-04-22 12:24] helfi92 commented on #453
You could probably use the `import` statement. Something like https://github.com/taskcluster/taskcluster/blob/47e624812b715d30fdee85f046df1b440ef05992/ui/src/views/Documentation/index.jsx#L116.

[2019-04-22 13:29] helfi92 commented on #610
Not sure why this was omitted. We should definitely add a way to edit bindings.

[2019-04-23 13:43] helfi92 opened #627 "[UI] Stop rendering a List & ListITem in `TableCellListItem`"
Context: From https://github.com/taskcluster/taskcluster/pull/566#discussion_r277479268:

We should:
* Rename `TableCellListItem` to something else (something without the ListItem suffix)
* Possibly add the following diff:

[code]

[2019-04-24 13:19] helfi92 opened #629 "[Login] Add a .md doc describing the whole login process"
For easy access, the markdown file should be linked from the README.

[2019-04-24 17:28] owlishDeveloper opened #631 "Data field names are coupled with UI"
The way `DataTable` component is currently set up, the names of the fields in the data and the names of the columns in the table must be the same. `DataTable` takes in the array of strings - which we define, and which later will become the keys of the columns to sort by. We map the names of the columns to the data fields by using `camelCase` function (see my last link) - which removes the spaces f

[2019-04-24 17:47] helfi92 commented on #631
Agreed. Adding a label would make this neater. We currently use a mapping function for that. For example:

https://github.com/taskcluster/taskcluster/blob/a60f57c3215c46022a3f0d6f59834bb9134359c1/ui/src/components/AwsProvisionerWorkerTypeStatus/index.jsx#L122-L131

[2019-04-25 13:18] helfi92 opened #635 "[Docs] Report docs links that are not found"
We probably have a lot of broken links from so many years of changing the docs. Given that we are dealing with a single page application, it would be tricky to use a crawler since it would be tricky to tell the crawler what a 404 page looks like. To that end, whenever a user lands on the 404 page in production, we should report that link to a place like Stackdriver.

[2019-04-25 13:18] helfi92 commented on #635
Blocker: https://github.com/taskcluster/taskcluster/issues/604

[2019-04-25 13:22] helfi92 opened #636 "[UI] Last fired result table "Result" column unclear"
From a discussion on IRC:

[code]

Let's remove that confusion :)

[2019-04-25 13:22] helfi92 commented on #636
/cc @Biboswan

[2019-04-25 17:54] helfi92 opened #637 "[docs;aws-lambda] Add redirection once aws console is back up"
Once AWS console is back up, modify the AWS lambda to handle references redirections. See https://github.com/taskcluster/taskcluster/pull/634#discussion_r278662856.

![Screen Shot 2019-04-25 at 1 50 30 PM](https://user-images.githubusercontent.com/3766511/56757180-96bd7c80-6761-11e9-985f-7c6143e71b56.png)

[2019-04-25 20:32] iFlameing commented on #453
@helfi92 when I am importing the .git-version as you suggested above. I am getting this error, I am not able to understand it.

[code]

[2019-04-25 20:37] helfi92 commented on #453
Can you share the code you are trying to use, please?

[2019-04-25 20:46] iFlameing commented on #453
You can see the modified code at https://pastebin.com/f201BqdK

[2019-04-25 20:48] helfi92 commented on #453
Can you show me what files are being modified? I think if you do `git diff | pbcopy` in your terminal and paste the code here, then It'll do.

[2019-04-25 20:55] iFlameing commented on #453
diff --git a/ui/src/components/Dashboard/index.jsx b/ui/src/components/Dashboard/index.jsx
index 0dda7b9..c6a386e 100644

[code]

[2019-04-26 07:40] arshadkazmi42 commented on #459
@djmitche I would like to take this up, can you share some more details about this issue

[2019-04-26 08:18] Biboswan commented on #636
Previously I named it the table title as `Last Fire Attempts` and may be replace `result` with Fire Status`?

[2019-04-26 12:07] helfi92 commented on #636
What do you think about "Trigger Status"?

[2019-04-26 12:13] djmitche commented on #459
Awesome!

If you look on a page like [auth api docs](https://docs.taskcluster.net/docs/reference/platform/auth/api#client), you'll see a schema (under "Response Payload" in this case).  This is a [JSON schema](http://json-schema.org/) and comes from [the JS source](https://github.com/taskcluster/taskcluster/blob/master/services/auth/schemas/v1/get-client-response.yml).  We have *lots* of schemas.

[2019-04-26 12:14] djmitche commented on #636
"Fire" means that the hook tried to create a task.

"Trigger" is specific to the triggerHook and triggerHookWithToken methods, and doesn't include firings at particular times or in response to pulse messages.

[2019-04-26 12:22] Biboswan commented on #636
Hence i think `Fire Status` to be apt

[2019-04-26 12:41] #306 closed

[2019-04-26 13:26] helfi92 commented on #453
Ah, this is probably because webpack was not told how to import a file as a string. You can do:

[code]

Then add the following diff in `.neutrinorc.js`

[code]

[2019-04-26 15:11] mitchhentges opened #639 "[UI] update status favicon while viewing logs"
When I'm viewing a task, the icon in the tab shows the status of the build (running, passed, failed) even if I change to a different tab.
It would be awesome if the status was still shown in the icon, even if I was viewing a log file [like this one](https://taskcluster-web.netlify.com/tasks/JU3ALKFIQTuN7kaTuTJ5KQ/runs/0/logs/live/https%3A%2F%2Fqueue.taskcluster.net%2Fv1%2Ftask%2FJU3ALKFIQTuN7kaTuT

[2019-04-26 15:12] helfi92 commented on #639
Agreed :)

[2019-04-29 05:06] arshadkazmi42 commented on #459
Any suggestions for any `ListComponent` which I can use to render this?

[2019-04-29 11:11] arshadkazmi42 commented on #459
Should we make the page UI similar to this page?
https://docs.taskcluster.net/docs/reference/platform/queue/task-schema

[2019-04-29 13:14] #636 closed

[2019-04-29 13:24] helfi92 commented on #459
https://docs.taskcluster.net/docs/reference/platform/queue/task-schema

Given that we will have a lot of schemas to display, we can put each schema in a panel. Something like https://taskcluster-web.netlify.com/docs/reference/platform/auth/api.

I found this file
https://github.com/taskcluster/taskcluster/blob/master/generated/docs-table-of-contents.json
Do we have to add new page details in this

[2019-04-29 13:33] arshadkazmi42 commented on #459
Where can I find the loaded data structure? If I want to access the loaded data in a component?

[2019-04-29 13:42] helfi92 commented on #459
The references files is auto generated so it will be under the `generated` directory. https://github.com/taskcluster/taskcluster/blob/master/generated/references.json

[2019-04-29 23:20] helfi92 opened #654 "[UI] Resetting the store causes issues in the UI"
STR:

1. Navigate to https://taskcluster-web.netlify.com/tasks/groups/e_7vMlcZTcys5OQ03EPFSQ while being logged out
2. Login

Expected:

<img width="1336" alt="Screen Shot 2019-04-29 at 6 53 40 PM" src="https://user-images.githubusercontent.com/3766511/56932030-263f9400-6ab0-11e9-9a51-a2305dd5dc70.png">

Actual: The task status cards shows a loading symbol that never goes away

<img width="1336" a

[2019-04-30 03:10] djmitche commented on #654
In "Learning GraphQL", I noticed that the process they use is `cache.readQuery` -> modify value -> `cache.writeQuery`.  Would that help in this case?

[2019-04-30 12:41] helfi92 commented on #654
We want to re-fetch the full query when a user logs in/out to make sure the state reflects the current user's permissions. `readQuery` and `writeQuery` only interacts with the cache unfortunately.

[2019-04-30 12:52] djmitche opened #657 "Fix SchemaTable to parse refs relatively"
The `readReference` function in `ui/src/components/SchemaTable/index.jsx` currently treats relative `$ref` as relative to id `/schemas/<serviceName>`.  This is the calculation that should be used to find a schema for a reference document's "input" or "output" property, but *not* how `$ref` should be parsed -- it should be parsed using the usual relative-URL joining.

[2019-04-30 15:32] #654 closed

[2019-04-30 17:50] helfi92 opened #659 "[web-server] Construct jwks once (rate-limiting)"
https://github.com/taskcluster/taskcluster/pull/547#discussion_r279836433

[2019-04-30 17:52] helfi92 opened #660 "[web-server] Use the numeric github user ID"
https://github.com/taskcluster/taskcluster/pull/547#discussion_r279815834

[2019-04-30 17:54] helfi92 opened #661 "[web-server] Use github instead of github-oauth2 for identityProviderId"
https://github.com/taskcluster/taskcluster/pull/547#discussion_r279817152

[2019-04-30 17:59] djmitche opened #662 "[web-server] log credential generation"
https://github.com/taskcluster/taskcluster/pull/547/files#r276752600

[2019-04-30 18:09] helfi92 opened #663 "[web-server] Check the audience when verifying the jwt"
https://github.com/taskcluster/taskcluster/pull/547#discussion_r279840738

[2019-04-30 19:26] mozbhearsum opened #665 "[UI] new task/group viewer reloads entire graph when going from group -> task -> group"
**Describe the bug**
When using the new task/group viewer, the group is unexpectedly reloaded when I start from a group, view a task, and then go back to the group. On large task groups, this ends up being a significant hit, and is a regression from the old UI where the group would remain fully loaded.

**To Reproduce**
1. Go to https://taskcluster-web.netlify.com/tasks/groups/Jw3OURbYTN2zLIuBKzPV

[2019-04-30 23:54] helfi92 commented on #665
Agreed. We should have this fixed. In the meantime, feel free to open tasks in a new tab. Sorry for the trouble.

[2019-05-01 14:57] mitchhentges opened #668 "[taskcluster-web] Can't sign in: "Received status code 400""
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
1. Use `taskcluster` CLI to create credentials with `taskcluster signing`
2. Click "Sign in" and fill in credentials
3. Modal goes away, but I am still not signed in

**Screenshots**
[code]

[2019-05-01 15:03] helfi92 commented on #668
I'm on it.

[2019-05-01 15:12] #668 closed

[2019-05-01 15:13] helfi92 commented on #668
I just pushed a hot fix. I'll let you know when the change has been deployed.

[2019-05-01 15:36] helfi92 commented on #668
Deployed :)

[2019-05-01 15:46] #663 closed

[2019-05-01 16:17] djmitche opened #672 "[web-server] take login strategies config as a single object"
We would like to be able to make deployments with no login strategies at all (since the login strategies tend to require a lot of configuration), but have other deployments with one or more strategies enabled.  Currently, we require that both github and auth0 are enabled, and require configuration for both of them, in the form of a half-dozen terraform variables.

Let's shrink that to one terrafor

[2019-05-01 17:56] iFlameing commented on #453
@helfi92 I am stuck at a position where I can't figure out how I can handle the error if .git-version file not present in a directory. I searched a lot but didn't find any solution. currently, when I am deleting the .git-version file it shows me this error:-
[code]
can you provide me some link from where I can learn it :)
after implementing your changes as you suggested the drawer looks like this

[2019-05-01 17:59] helfi92 commented on #453
Could you push your changes, please? That way I can take a look at the error on my machine.

[2019-05-01 19:07] helfi92 commented on #637
Done a while back. Forgot to close this issue.

[2019-05-01 19:07] #637 closed

[2019-05-01 19:10] #659 closed

[2019-05-01 19:11] #661 closed

[2019-05-01 19:20] helfi92 opened #677 "[Docs] Write a simple crawler that indexes our doc files"
Problem: https://taskcluster-web.netlify.com/docs doesn't have a search bar that can search through our docs.

Solution: Let's write a simple crawler that indexes the .md/.mdx files. We would then be able to use the result of that crawler to add search support to our docs.

[2019-05-01 20:04] djmitche commented on #657
WIP on `issue657`.  I'll wait until #651 lands, as I think this will conflict.

[2019-05-01 21:39] djmitche commented on #629
Oh, I don't think this is fixed -- we should have some step-by-step documentation of how login works ("a redirects to b with query parameter c, ..."), as that will help guide understanding, implementation, review, and analysis of that process.

[2019-05-01 21:49] helfi92 opened #679 "[UI] Preload indexed task view"
STR:

1. Navigate to https://taskcluster-web.netlify.com/tasks/index/buildbot.branches.mozilla-esr52/
2. Click on an indexed task

Expected: The indexed task entry is loaded instantly
Actual: There is a moment of a white flash before the indexed task is loaded

Culprit: We are using the <a> tag instead of our custom Link tag

[2019-05-01 23:04] #679 closed

[2019-05-01 23:24] djmitche commented on #672
I should know better than to be idealistic.

[2019-05-02 15:25] mitchhentges opened #685 "[UI] Page is blank, exception thrown in console"
**Describe the bug**
My screen just shows the background dark blue colour, the UI elements aren't showing up.
![Screenshot from 2019-05-02 15-05-24](https://user-images.githubusercontent.com/7784737/57078308-4e1c3b00-6cee-11e9-8941-64998373fd7e.png)

**To Reproduce**
Unsure - perhaps related to a new version of the UI being released?

**Additional context**
[code]

[2019-05-02 15:27] helfi92 commented on #685
I will test this out by having a page open then seeing if I can replicate after a new version of the UI is released.

[2019-05-02 17:53] djmitche commented on #685
I'm guessing, based on the error logging, that the existing page loaded in the browser is going looking for the named asset, and that asset is gone so it gets an HTML 404 page that does not parse as JS (and has the wrong content-type).

[2019-05-02 19:30] #672 closed

[2019-05-02 19:43] djmitche commented on #672
OK, landed. Note that https://taskcluster-web.netlify.com/ still has no login strategies.  I'll update netlify.toml in a PR in a moment (but still leave it empty).

[2019-05-02 20:53] helfi92 commented on #685
I wasn't able to replicate but it was probably because one of the deployed files changed its filename hash characters.

[2019-05-02 21:08] helfi92 commented on #662
I assume you want this to be done via `monitor.info()`.

[2019-05-03 13:41] djmitche commented on #662
This partly addresses https://bugzilla.mozilla.org/show_bug.cgi?id=1307271 (but that bug also includes logging for changes to roles and clients' scopes, from the auth service)

[2019-05-03 14:06] helfi92 opened #689 "[Docs] schema is undefined"
From https://github.com/taskcluster/taskcluster/pull/651#issuecomment-488938780:

I don't think this is expected.
I did some digging on this and found `references.json` file these two specific schema has below values

[code]

and for this reference is going in and executing this code

`https://github.com/taskcluster/taskcluster/blob/master/ui/src/components/SchemaTable/index.jsx#L141-L162`

and it

[2019-05-03 14:13] #459 closed

[2019-05-03 14:35] helfi92 commented on #657
Possibly related: https://github.com/taskcluster/taskcluster/issues/689.

[2019-05-03 15:05] SimonSapin commented on #508
Middle click also navigates instead of opening a new tab.

[2019-05-04 16:10] arshadkazmi42 commented on #689
@helfi92 I can have a look at it.
I understand the bug, but not sure what is the expected fix for this?
Any inputs here?

[2019-05-05 16:26] arshadkazmi42 commented on #677
I would like to take this up.
Can you give some more details on the issue. What type of crawler is needed here?

[2019-05-05 19:32] helfi92 commented on #677
Hey @arshadkazmi42 👋

I have an implementation on my local machine of the crawler. I just need to finalize it and then I should be ready to push it. Once the crawler is merged, we will need to hook it up to the frontend. Maybe you can help here :) I should have assigned the issue to myself earlier. Sorry for the trouble. I'll ping you once we are ready with the second part of this task.

[2019-05-06 11:09] mitchhentges opened #698 "[UI] In Hook's "last fired attempts", show task status, not hook-fire status"
My initial reaction to seeing the status column in "last fired attempts" is that it's the status of the hook's task, not the status of the intermediate "hook fire" action.

Perhaps this display could be made easier to understand and more useful by showing the triggered _task's_ status, rather than just the status of the hook fire itself?

[2019-05-06 11:10] mitchhentges commented on #698
Looks like this is related to #636 :)

[2019-05-06 12:06] #508 closed

[2019-05-06 12:26] helfi92 commented on #698
There won't be a triggered task's status if the trigger itself fails so we would still need to show the hook fire status if we decide to a column for the task status.

Example:

![Screen Shot 2019-05-06 at 8 20 10 AM](https://user-images.githubusercontent.com/3766511/57224567-e90b6280-6fd7-11e9-85a0-87ebb426f6b2.png)

Adding the task status would require an extra request for every hook trigger ret

[2019-05-06 12:29] mitchhentges commented on #698
I think the page is limited to five "last fired attempts", IIRC.
I agree that if the hook fails, the "status" should still be "error"/"failed" (to me, I'd argue that the "task I trigger" failed if the hook fails to work).

[2019-05-06 12:35] helfi92 commented on #698
The UI limits it to 5 per page but the request still requests all of them. In other words, there are no network requests being done when a user clicks next or previous.

If we do add a "Task Status" column, we could still keep "Fire Status".

Note that all of the additional requests will happen in the back end so it's not as bad as it sounds. We could give it a try and see :)

[2019-05-06 12:40] mitchhentges commented on #698
Oh, I see, I didn't notice that it was paginated on the front-end (I hadn't found a need to jump to a build > 5 runs old yet).

As a user, I'm not sure that this makes sense - the purpose of this column is to tell me at a glance if my build failed. _If_ it failed, I want to determine why. If it _didn't_, I want to see a success. Showing the states separately more-closely models the internals of ta

[2019-05-06 14:04] petemoore commented on #635
@helfi92 Can we test for a 404 page based on the HTTP status code rather than the page content?

[2019-05-06 14:16] helfi92 commented on #635
We technically won't check for 404 because the docs are not stored in the server. They are stored locally. The way we could do it involves modifying the following  `catch` statement in https://github.com/taskcluster/taskcluster/blob/32d6afd4c525f3eb6eb5e1cb30491df9b02bf454/ui/src/views/Documentation/index.jsx#L126-L137 to be:

[code]

[2019-05-06 14:43] helfi92 opened #700 "[docs] header semantics"
For proper semantics, there should be only one `<h1>` tag per page.

[2019-05-06 15:42] helfi92 commented on #689
@djmitche Is this by any chance related to https://github.com/taskcluster/taskcluster/issues/657?

[2019-05-06 16:15] helfi92 commented on #610
@arshadkazmi42 Is this something you would be interested in tackling? :-)

[2019-05-06 16:18] arshadkazmi42 commented on #610
Yes. I am interested to work on this. Can you give some more details, what I understand from this is that `Edit Hook` button is missing in the new UI in current repo

[2019-05-06 16:39] mitchhentges commented on #685
@helfi92 Are you sure you want to close this? This happened to me again today, and it might be a pretty costly end-user experience.
It's not clear to the user if the page is still loading, or if something internal failed.

[2019-05-06 16:49] helfi92 commented on #685
Hmm, you're right. Let's keep it open.

[2019-05-06 16:59] helfi92 commented on #610
Thank you, you're awesome :-)

In the new UI the "edit" and "new" form are using the same form so we don't need an edit button. Example:
* New hook form - https://taskcluster-web.netlify.com/hooks/create
* Existent hook form - https://taskcluster-web.netlify.com/hooks/garbage/test

What we want is to add a similar UI to https://taskcluster-web.netlify.com/pulse-messages?bindings[0][exchange]=excha

[2019-05-06 17:06] arshadkazmi42 commented on #610
What I understood from this is, this needs to be change

<img width="1587" alt="Screen Shot 2019-05-06 at 10 34 13 PM" src="https://user-images.githubusercontent.com/4654382/57241689-2eb74200-704f-11e9-9658-d223fda18cfe.png">

to this

<img width="1597" alt="Screen Shot 2019-05-06 at 10 34 30 PM" src="https://user-images.githubusercontent.com/4654382/57241788-6c1bcf80-704f-11e9-8284-ec9f48479db3.p

[2019-05-06 17:13] mitchhentges commented on #685
(heads up @helfi92 that I can't re-open this, I think you have to)

[2019-05-06 17:14] #700 closed

[2019-05-06 17:22] helfi92 commented on #610
This stays the same because the old UI also has a "Schedule" section.

Unlike the old UI, the new UI doesn't have a "Bindings" section. The "Bindings" section consists of 2 text fields _Pulse Exchange_ and _Routing Key Pattern_. We should add those.

The task would roughly be to:
* Add a label "Bindings"
* Add 2 text fields
* Add a plus button
* When the user types something in both fields then cl

[2019-05-06 17:24] helfi92 commented on #685
Sorry, I thought I did re-open 😅

[2019-05-06 17:36] arshadkazmi42 commented on #610
Yes got it now. I will start looking into it. Thank you for detailed explaination

[2019-05-06 17:42] helfi92 commented on #610
My pleasure!

[2019-05-06 19:24] helfi92 commented on #453
@djmitche

Right now importing a file that doesn't exist causes webpack to throw. @djmitche Would it be possible to either:
1. Rename `.git-version` to `git-version` or `taskcluster-version`. `require.context` excludes dot files so it's hard to check if the file exist.
2. Put `.git-version` in a parent directory e.g., `meta`. In webpack's build process, when webpack is not sure whether a file exis

[2019-05-06 19:44] #513 closed

[2019-05-06 19:54] djmitche commented on #689
I think it's the same, yes.

[2019-05-06 19:59] helfi92 commented on #689
I guess we can close this issue then. Thanks!

[2019-05-06 19:59] #689 closed

[2019-05-06 20:18] helfi92 opened #705 "[UI] Update date package (date-fns)"
This task is about updating `date-fns`.

**Current version**: `2.0.0-alpha.7`.
**Wanted version**: `2.0.0-alpha.27`.

You can have access to the docs at https://date-fns.org/docs/Getting-Started. There's a neat feature where you view older doc versions in the top right corner of the page.

![Screen Shot 2019-05-06 at 4 15 51 PM](https://user-images.githubusercontent.com/3766511/57252543-5c35c880-7

[2019-05-07 10:07] arshadkazmi42 commented on #610
@helfi92 I am a bit confused, so above mentioned things needs to be added in [this](https://taskcluster-web.netlify.com/pulse-messages?bindings%5B0%5D%5Bexchange%5D=exchange%2Ftaskcluster-treeherder%2Fv1%2Fjobs&bindings%5B0%5D%5Bpattern%5D=%23) page?
As that page already contains `Add Binding` option.

Or it needs to be added in [this](https://taskcluster-web.netlify.com/hooks/create) below `Sched

[2019-05-07 16:18] djmitche commented on #685
Following on my earlier comment, it's getting an HTML document instead of a 404 because of the way we configure every URL to serve `index.html`.

Is there a way to hook into the webpack chunk loader?  If that could detect the HTML content-type on a load, that would identify this situation -- and then maybe a popup that informs the user of an update and asks for a reload?

[2019-05-07 16:28] djmitche commented on #453
Renaming is fine, but note that the file is used by `taskcluster-lib-monitor` as well, so you'll need to make sure that still works properly, as well as changing the `yarn build` process that creates the file.

[2019-05-07 16:45] helfi92 commented on #610
No, nothing needs to be added to the pulse-messages view. The screenshot was simply used to show you how bindings were implemented in a different view for inspiration.

You are correct here. The change will be located in the hook view.

[2019-05-07 17:05] helfi92 commented on #705
👋 @sagalbot

Apologies for that. I made a mistake with specifying the versions :( What we want is to actually go to the latest release of v2. In other words `2.0.0-alpha.7` -> `2.0.0-alpha.27`. I'll update the initial comment. Sorry for the trouble.

[2019-05-07 18:21] helfi92 commented on #685
The problem happens when a user is being navigated to a view (chunk) that no longer exists since most views are lazily loaded. Asking to reload the page can become annoying when the user is asked multiple times per day. Instead, what we can possibly do is reload the site with the new url (the page the user is being navigated to) once a chunk fails to load.

[2019-05-07 20:49] #685 closed

[2019-05-07 20:51] helfi92 commented on #685
This should hopefully be resolved in https://github.com/taskcluster/taskcluster/commit/b710181deed394cc55e7f06ff4848257b98babfb. If ever you experience the same issue, let us know :) Thanks for bringing this up!

[2019-05-08 11:22] mitchhentges opened #711 "[UI] Can't expand "Authorization" in side-menu"
**To reproduce:**
1. Go to [Taskcluster](https://taskcluster-web.netlify.com/)
2. Click to open the menu, then click "Authorization"
3. The button doesn't expand, but rather you're brought to a 404 page

[2019-05-08 15:53] helfi92 commented on #711
Resolved in https://github.com/taskcluster/taskcluster/commit/29f2ec4679b01a269f118c9f59f187167f036c48. Deployment is in progress :)

[2019-05-08 15:53] #711 closed

[2019-05-08 23:34] worldomonation opened #716 "Task creator: Interactive toggle does not update state on first click"
<img width="681" alt="Screen Shot 2019-05-08 at 16 31 35" src="https://user-images.githubusercontent.com/6549265/57414966-29710900-71af-11e9-8972-1adcf87a5885.png">

**Describe the bug**
Taskcluster UI does not refresh to reflect the updated state of interactive task creator form.

**To Reproduce**
Steps to reproduce the behavior:
1. Navigate to https://taskcluster-web.netlify.com/tasks/create/int

[2019-05-09 00:26] helfi92 commented on #716
Good catch. Created a pull-request to fix this :) Thanks for bringing this up!

[2019-05-09 11:59] #716 closed

[2019-05-09 14:26] helfi92 commented on #443
I believe this is done :)

[2019-05-09 14:26] #443 closed

[2019-05-09 14:40] helfi92 commented on #223
We will soon remove the aws-provisioner view. No need to spend time optimizing it anymore :) Closing for now.

[2019-05-09 14:40] #223 closed

[2019-05-09 16:39] #662 closed

[2019-05-10 11:51] cvan opened #724 "Feature request: expose a GitHub URL endpoint to redirect to latest"
First off, thanks for Taskcluster. It's a fantastic tool. Would it be possible to add a URL that redirects to the latest **completed** Task from a GitHub repo using Taskcluster?

To give some context:

I work on the [Firefox Reality](https://github.com/mozillareality/firefoxreality) team. @bluemarvin did awesome work on integrating Taskcluster with our GitHub repo.

To test the latest on our maste

[2019-05-10 12:52] djmitche commented on #724
The solution you've created -- custom dashboard with a little logic on the backend to find the latest -- is the preferred solution, since it means you can account for all of the particularities of your situation.

However, we have some better support for linking directly to artifacts that you may not have found: [`index.findArtifactFromTask()`](https://docs.taskcluster.net/docs/reference/core/inde

[2019-05-10 13:07] helfi92 opened #725 "[UI] Move taskcluster-web.netlify.com to heroku"
Netlify is not vetted yet so we can't turn on auth in production. Let's move to Heroku but leave preview PRs on Netlify.

[2019-05-10 13:37] #629 closed

[2019-05-11 05:55] ziyadElon commented on #325
@helfi92 I'm unable to see my changes on the UI.
I'm running into one issue after another.
First,
`Invalid value for prop `component` on <div> tag. Either remove it from the element, or pass a string or number value to keep it in the DOM.`

Even If I bypass the above error,
I'm getting a `network error: Failed to fetch`
`http://localhost:5080/graphql net::ERR_CONNECTION_REFUSED`

I have followed t

[2019-05-11 09:39] arshadkazmi42 opened #729 "Duplicate function in PulseMessages"
There is `handleInputChange` function defined twice in PulseMessages component

At these lines, [Line 143-145](https://github.com/taskcluster/taskcluster/blob/master/ui/src/views/PulseMessages/index.jsx#L143-L145) and [Line 168-179](https://github.com/taskcluster/taskcluster/blob/master/ui/src/views/PulseMessages/index.jsx#L168-L170)

[2019-05-13 13:58] helfi92 commented on #729
Good catch! Feel free to create a PR to remove on of them.

[2019-05-13 14:32] helfi92 commented on #325
There seems to be a bad property value being fed to a `<div>` element. If you haven't changed any code and you see that error, feel free to ignore it for now. There a couple of console message we need to fix.

http://localhost:5080/graphql net::ERR_CONNECTION_REFUSED

This error happens when the `services/web-server` is not configured properly. To fix the issue, you have to make sure `TASKCLUSTER_

[2019-05-13 16:10] #729 closed

[2019-05-13 16:29] #657 closed

[2019-05-13 17:41] cvan commented on #724
This is helpful, thank you! I'll still need to stand up a service to do the API calls and redirects, but this info. can help me clean up the existing script. Feel free to close this issue, or if you feel others would benefit from having a similar service provided by Taskcluster's endpoints, feel free to keep it open. Thanks again!

[2019-05-13 21:25] helfi92 commented on #453
Resolved in https://github.com/taskcluster/taskcluster/commit/4f068930c5e87fc6c3f208b42e60f7204f063079.

[2019-05-13 21:25] #453 closed

[2019-05-14 14:11] mitchhentges opened #739 "[UI] Action buttons aren't doing anything"
**Describe the bug**
Clicking on a button such as "save" for a role isn't actually performing the intended action. The button "looks" clicked, but there's no network requests or errors in the console.

**To Reproduce**
1. Go to a hook, like [`fenix-nightly-staging`](https://taskcluster-web.netlify.com/auth/roles/hook-id%3Aproject-mobile%2Ffenix-nightly-staging)
2. Make a change (e.g.: to the descr

[2019-05-14 14:19] helfi92 commented on #739
Seems to work for me both locally and in production. I'll send a PR to never use the cached version. That might help.

[2019-05-14 14:22] djmitche commented on #739
Also, it *does* say "DO NOT EDIT" on that role :)

[2019-05-14 18:19] helfi92 commented on #739
This seems to be a known issue https://github.com/mui-org/material-ui/issues/13006.

[2019-05-16 22:46] escapewindow opened #748 "feature request: taskcluster-github should allow for a custom schedulerId per repo"
Afaict, taskcluster-github hardcodes `taskcluster-github` as the `schedulerId` for tasks. When using [ci-taskgraph](https://hg.mozilla.org/ci/taskgraph), ci-taskgraph creates the graph with the `schedulerId` [`{trust-domain}-level-{level}`](https://hg.mozilla.org/ci/taskgraph/file/tip/src/taskgraph/create.py#l34), which breaks.

I'm currently using [this workaround](https://phabricator.services.mo

[2019-05-17 16:04] helfi92 opened #750 "Allow users to login via Auth0"
This would involve granting web-server root scopes.

[2019-05-17 21:47] helfi92 commented on #750
@djmitche auth0 logins in https://taskcluster-staging.net/ is done. Did you want to test it?

[2019-05-20 12:45] djmitche commented on #750
will do!

[2019-05-21 18:37] tomprince opened #763 "New UI: The list of artifacts is confusing."
**Describe the bug**
Looking at https://taskcluster-web.netlify.com/tasks/FsZs1H_ISa6xJQ6hmOr2rQ
- the buttons to scroll forward/back in the list are not obvious, so it isn't clear that there are more artifacts than are displayed
- scrolling forwards to the end, and then backwards gives inconsistent results: the first back press appears to make the UI think that it is on the first page of artifact

[2019-05-21 18:55] helfi92 commented on #763
I can see how this is possible. We can fix this by grouping the artifacts in a card so that it has a slightly different background.

Good catch. This is a bug.

[2019-05-21 19:35] tomprince commented on #763
It also looks like the logs are being displayed as artifacts, or as the normal link, for the task I linked.

[2019-05-21 20:00] djmitche commented on #750
This is looking good -- it all works, at least after #764.  I'm glad we're testing this in staging, as any issues here are low-stakes.  Auth0 logins, in particular, seem fine, and are similar enough to the existing login flow that I think we can safely deploy them soon.  Github looks like it is not so straightforward, unfortunately.  We should probably do an RRA for that functionality.

Anyway, he

[2019-05-22 00:54] shubhamgupta2956 commented on #705
Hi,
I am new to open source and wants to take this issue. I know the basics of js. Please guide me on how to start

[2019-05-22 01:02] shubhamgupta2956 commented on #578
hi,
I am new to open source and want to contribute to this issue. Please guide me on how to start.

[2019-05-22 12:34] helfi92 opened #767 "[UI] Staying signed in"
From https://github.com/taskcluster/taskcluster/issues/750#issuecomment-494536404:

[2019-05-22 12:36] helfi92 opened #768 "[UI] Automatic Refreshes"
From https://github.com/taskcluster/taskcluster/issues/750#issuecomment-494536404:

[2019-05-22 12:39] helfi92 opened #769 "[web-server] Scanning"
From https://github.com/taskcluster/taskcluster/issues/750#issuecomment-494536404:

[2019-05-22 12:44] helfi92 commented on #750
Thanks for looking into this @djmitche.

I've created https://github.com/taskcluster/taskcluster/issues/767 to make sure I look into this ASAP as a follow-up.

I've created https://github.com/taskcluster/taskcluster/issues/768 to look into this in a follow-up

I've filed https://github.com/taskcluster/taskcluster/issues/769. Agreed. we should try to have it run in our deployments.

I don't plan to

[2019-05-22 13:03] helfi92 commented on #750
https://taskcluster-ui.herokuapp.com/ is configured to only allow auth0 logins. @djmitche Do you have any objections if I go ahead and provide the following scopes to [`project/taskcluster/tc-web-server/production`](https://taskcluster-ui.herokuapp.com/auth/clients/project%2Ftaskcluster%2Ftc-web-server%2Fproduction) https://github.com/taskcluster/taskcluster/blob/b3771d6b17e037dcb867d0e19e2e627795

[2019-05-22 13:06] helfi92 commented on #750
Note to self:

Once scopes have been granted,
* Merge https://github.com/taskcluster/taskcluster-tools/pull/604
* Remove https://taskcluster-web.netlify.com/ and only keep preview URLs on netlify

[2019-05-22 13:23] djmitche commented on #767
I'm even still logged in (via Github) this morning, so I'm leaning even more strongly toward "@djmitche is missing something".

[2019-05-22 13:24] djmitche commented on #750
I agree.

I don't -- let's go!

[2019-05-22 15:08] helfi92 commented on #750
Users are now able to login via Auth0. Closing as resolved.

[2019-05-22 15:08] #750 closed

[2019-05-22 18:56] helfi92 opened #773 "[UI] Rewrite top level classes as a regular functions"
Problem: Writing a hook inside a class [does not work in React](https://reactjs.org/docs/hooks-faq.html#should-i-use-hooks-classes-or-a-mix-of-both)
Solution: Rewrite the top level classes as regular functions so that users can start using hooks inside their views.

We would need to convert the following to regular functions
* src/App/Main.jsx
* src/App/index.jsx

Note:
* The `componentDidCatch` m

[2019-05-22 19:01] helfi92 commented on #578
Welcome @shubhamgupta2956. See the [README](https://github.com/taskcluster/taskcluster/blob/master/ui/README.md) for how to get the UI running. Let me know if you had questions.

[2019-05-22 19:04] helfi92 commented on #705
Hi @shubhamgupta2956. Let's work on https://github.com/taskcluster/taskcluster/issues/578 first then we can look at other issues. Hope that's okay with you.

[2019-05-22 19:04] helfi92 commented on #705
@sagalbot How is it going? Let me know if there's anything I can do to help :-)

[2019-05-22 21:37] helfi92 commented on #763
@tomprince https://taskcluster-ui.herokuapp.com/tasks/FsZs1H_ISa6xJQ6hmOr2rQ. Better?

I'm not sure I understand the issue. Could you help me understand, please.

_Note: We are moving away from Netlify. You can use https://taskcluster-ui.herokuapp.com instead._

[2019-05-23 16:44] #769 closed

[2019-05-23 16:45] helfi92 opened #778 "[web-server] Add tests to the scanner process"

[2019-05-24 13:06] helfi92 commented on #763
Closing for now but feel free to re-open if there are still issues.

[2019-05-24 13:06] #763 closed

[2019-05-24 13:26] #554 closed

[2019-05-24 21:21] subhdcode20 commented on #773
I would love to work on this. I have recently started working with hooks.
Please guide me with the local environment setup?

[2019-05-26 22:28] shubhamgupta2956 commented on #578
@helfi92 please review my pr and let me know about anything wrong with it or any other thing

[2019-05-27 13:30] helfi92 commented on #773
Welcome @subhdcode20. See the [README](https://github.com/taskcluster/taskcluster/blob/master/ui/README.md) for how to get the UI running. Let me know if you had questions.

[2019-05-27 14:07] shubhamgupta2956 commented on #581
@helfi92 I am interested in taking this issue. Please assign it to me.

[2019-05-27 14:09] helfi92 commented on #581
Please accept the invitation in https://github.com/taskcluster/taskcluster/invitations :)

[2019-05-27 15:04] helfi92 opened #792 "[UI] Enable search in logs"

[2019-05-27 16:20] #792 closed

[2019-05-28 14:13] mitchhentges opened #795 "[UI] When viewing task, update page title with task name"
When I have multiple tasks open in separate tabs, it would be awesome if I could distinguish them by the tab title.

Note: some sites identify their pages/tabs by prefixing the title with their product name ("Taskcluster"). However, since we already have a recognizable icon, we might be able to use all available "title" space for the task name itself, which woudl be awesome

[2019-05-28 14:21] helfi92 commented on #795
Good idea.

[2019-05-28 17:09] #795 closed

[2019-05-29 11:42] mitchhentges opened #799 "[UI] Can't view logs"
**To reproduce:**
1. Go [here](https://taskcluster-ui.herokuapp.com/tasks/F_B6duziT5iKZS9wFk4CWw/runs/0/logs/https%3A%2F%2Fqueue.taskcluster.net%2Fv1%2Ftask%2FF_B6duziT5iKZS9wFk4CWw%2Fruns%2F0%2Fartifacts%2Fpublic%2Flogs%2Flive.log)

Nothing was printed in the console

[2019-05-29 13:17] helfi92 commented on #799
This was probably introduced in https://github.com/taskcluster/taskcluster/pull/793. The change has been reverted. The issue seems to happen in production only. I'll investigate.

[2019-05-29 14:35] djmitche commented on #799
@helfi92 Is this relaeted to https://bugzilla.mozilla.org/show_bug.cgi?id=1555075 ?  I saw the same error message yesterday when web-server had crashed.

[2019-05-29 17:41] #768 closed

[2019-05-29 18:37] helfi92 commented on #767
Resolved in https://github.com/taskcluster/taskcluster/commit/4999a958971eced7b77ecf832d9a7aa872edc6dd.

[2019-05-29 18:37] #767 closed

[2019-05-29 18:44] helfi92 commented on #799
I don't think so. I pushed a PR to fix Bug 1555075. Still need to investigate this issue.

[2019-05-29 18:45] helfi92 commented on #725
This is done[1].

[1] https://taskcluster-ui.herokuapp.com/

[2019-05-29 18:45] #725 closed

[2019-05-29 18:46] helfi92 commented on #748
/cc @owlishDeveloper

[2019-05-29 19:04] helfi92 opened #806 "[web-server] auth changes"
#### TODOs:
* [x] Generate a jwt token when a user uses a strategy (mozilla-auth0, github) in web-server.
* [x] Return a taskcluster token (jwt) and an expiration time when using a strategy to login

Nits:
* [x] Remove `api.sso.mozilla.com` from the `audience` config and `taskcluster-credentials` from `scope`. I don't think we need this anymore.  We will not need `audience` or `scopes` config for

[2019-05-29 19:35] subhdcode20 commented on #773
Hi @helfi92 , i was able to run the local environment. As expected, i am getting the Home view with a sign in option.
We only need to convert the mentioned top level classes in the src/App/ directory to hooks and the rest will stay the same right?
Any pointers before i start working on this?

[2019-05-29 20:06] helfi92 commented on #773
Good to hear!

Right. I would probably start with the `Main.jsx` method since it looks to be less complicated. The goal of all of this is so that we can start using hooks in our views (`src/views`). I guess you'll know when it works when you're able to use something like `useState` inside something like `ui/src/views/CachePurges/ViewCachePurges/index.jsx` which can be accessed via http://localhost

[2019-05-30 00:21] helfi92 commented on #799
Resolved in https://github.com/taskcluster/taskcluster/commit/37c5098c9cdd5bf324b85a3ce3045a82d7f24944.

[2019-05-30 00:21] #799 closed

[2019-05-30 05:44] subhdcode20 commented on #773
Thanks, i will start working on a new branch soon.
If i run into any issues will give you a mention here.

[2019-05-30 15:08] djmitche commented on #806
I modified the first nit slightly.

[2019-05-30 17:01] owlishDeveloper opened #813 "Add the workertype creation interface (non working)"
https://bugzilla.mozilla.org/show_bug.cgi?id=1554798

[2019-05-30 17:04] #813 closed

[2019-05-30 21:19] helfi92 commented on #806
@djmitche Would you recommend the private signing key to be stored as an environment variable?

[2019-05-31 12:06] djmitche commented on #806
I think it should be service config -- that's what we do for, for example, crypto keys for Azure tables.

[2019-05-31 14:03] djmitche commented on #45
Let's handle this in https://bugzilla.mozilla.org/show_bug.cgi?id=1551607.

[2019-05-31 14:03] #45 closed

[2019-05-31 14:04] djmitche commented on #42
No answer, so I think we can close this..

[2019-05-31 14:04] #42 closed

[2019-05-31 14:08] ccooper commented on #39
@mozbhearsum Is this fixed for you now?

[2019-05-31 14:11] djmitche commented on #36
@imbstack it looks like that community post is ..gone?  What shoudl we do here?

[2019-05-31 14:12] djmitche commented on #35
For the moment there's no reason to keep this open -- we have a few decision-task implementations coming up, and at some point we can recommend one or more of them.

[2019-05-31 14:14] djmitche commented on #217
@helfi92 it looks like dbkaplun/hterm-umdjs might be unmaintained?  Should we consider forking it and fixing it locally?

[2019-05-31 14:15] djmitche commented on #221
Looks like this needs to be finished.. @ydidwania do you have time to work on it?

[2019-05-31 14:16] #282 closed

[2019-05-31 14:18] djmitche commented on #291
@owlishDeveloper FYI!

This is something that we can address once we have better support from queue and worker-manager.

[2019-05-31 14:19] djmitche commented on #274
@helfi92 is there anything left to do here?

[2019-05-31 14:22] djmitche commented on #449
@helfi92  I think you fixed this up by putting all docs in one chunk?

[2019-05-31 14:22] ccooper commented on #305
Duplicate of #304

I think we would tackle both types of notifications at the same time.

[2019-05-31 14:22] #305 closed

[2019-05-31 14:26] mozbhearsum commented on #39
It is!

[2019-05-31 14:26] #39 closed

[2019-05-31 14:28] helfi92 commented on #325
This view will be removed soon. Closing for now.

[2019-05-31 14:28] #724 closed

[2019-05-31 14:38] helfi92 commented on #217
We could try sending a pull-request to `dbkaplun/hterm-umdjs` first and see if we can get it merged. If that doesn't work, forking it might be a good idea.

[2019-05-31 14:44] helfi92 opened #818 "[UI] Add a way to jump to a task ID/task group from the log viewer in less clicks"
Relates to https://github.com/taskcluster/taskcluster/issues/274#issue-412021119.

[2019-05-31 14:44] helfi92 commented on #274
The only thing I think that is left to do is possibly to figure out a way to jump to a task and task group ID from the log viewer in less clicks. I've filed https://github.com/taskcluster/taskcluster/issues/818 to tackle this issue. We should be okay closing this issue now.

[2019-05-31 14:44] #274 closed

[2019-05-31 14:49] helfi92 commented on #449
Yes, docs are a lot faster now. We can still improve performance however by removing the apollo stuff since we don't do any graphql queries and don't render things differently whether the user is logged in or not. I think it should be okay closing this given that we're okay with current docs performance.

[2019-05-31 14:49] #449 closed

[2019-05-31 16:04] imbstack commented on #36
I'm not sure this is still an issue. I think maybe next steps would be for someone to try it out and confirm it still exists?

[2019-05-31 18:45] helfi92 commented on #739
@mitchhentges Could you try to see if it works in https://deploy-preview-822--taskcluster-web.netlify.com/auth/roles/hook-id%3Aproject-mobile%2Ffenix-nightly-staging. I tried something a bit differently. If that doesn't work, I will request a machine where I can replicate this issue. Let's get this fixed!

[2019-06-01 00:06] owlishDeveloper opened #825 "Suggestions for improving UX of forms"
The conversation starts [here](https://github.com/taskcluster/taskcluster/pull/814#discussion_r289383883)

[2019-06-01 16:29] helfi92 commented on #581
@shubhamgupta2956 I think we are still missing the confirmation message when a user saves a secret. https://github.com/taskcluster/taskcluster/issues/581#issuecomment-483691829

Feel free to create a new PR. Don't forget to pull in the recent changes first so that you have a fresh copy of the codebase:

[code]

[2019-06-01 19:48] melvin2016 commented on #749
where should i start?

[2019-06-01 20:12] djmitche commented on #749
Hi!  Probably a good place to start is to get the repository checked out and get the *current* test suite running.  You'll want to work in the `clients/client-py` subdirectory of this repository -- you can safely ignore everything else in the repository.

Once that's working for you, let's come up with a plan to use pytest, instead of the existing `unittest` approach.  Rewriting one or two of the

[2019-06-02 18:25] subhdcode20 commented on #773
Hey @helfi92 , i changed both mentioned components using hooks. A few points to discuss:
- i had to update `neutrinorc.js` for using `@hot-loader/react-dom` to enable hot reloading for hooks as mentioned in [docs](https://github.com/gaearon/react-hot-loader#react--dom).
- i tried using hooks in `ui/src/views/CachePurges/ViewCachePurges/index.jsx` as you suggested by replacing it with a basic hooks

[2019-06-02 23:00] helfi92 commented on #773
Hey! Yeah, push all the changes so I can take a look :) Thanks!

[2019-06-03 09:45] sudipt1999 commented on #631
If I am not getting it wrong we are planning to change the type props is being received in the component,
something to be received as array where each element would look like this

[code]
where id would represent the `column names`.

If that so I would like to try this one then!

[2019-06-03 10:37] subhdcode20 commented on #773
I am getting this error on pushing to my new branch `subham-fix-773` :

`remote: Permission to taskcluster/taskcluster.git denied to subhdcode20.
fatal: unable to access 'https://github.com/taskcluster/taskcluster.git/': The requested URL returned error: 403`

[2019-06-03 13:04] helfi92 commented on #581
@shubhamgupta2956 Thank you again for the confirmation message. It looks really good! The last I see us doing on this view would be to disable the save button unless some values have changed. Something similar to how we do it in the hooks view. You can look at https://github.com/taskcluster/taskcluster/pull/202/files for inspiration. It will involve adding the `isSecretDirty` logic.

[2019-06-03 13:23] helfi92 commented on #773
You'll want to create a fork of this project and push to your fork. Once you push to your fork, navigating to the UI will give you an option to create a PR from out of your fork.

![Screen Shot 2019-06-03 at 9 22 47 AM](https://user-images.githubusercontent.com/3766511/58805005-2c5dee80-85e1-11e9-8623-40e0df524dd8.png)

[2019-06-03 14:45] helfi92 commented on #825
If we wanted to implement the [last idea](https://github.com/taskcluster/taskcluster/pull/814#discussion_r289563602) of the discussion thread, the change would be really simple and would probably do the job. For each form that we have in the site, we would need to add the [`autoFocus`](https://material-ui.com/api/text-field/#props) property to the first `TextField` component. This will make the fi

[2019-06-03 14:55] helfi92 commented on #825
Forms that will require the change:
* [ ] [`ui/src/components/SecretForm/index.jsx`](https://github.com/taskcluster/taskcluster/blob/master/ui/src/components/SecretForm/index.jsx)
* [ ] [`ui/src/components/HookForm/index.jsx`](https://github.com/taskcluster/taskcluster/blob/master/ui/src/components/HookForm/index.jsx)
* [ ] [`ui/src/components/ClientForm/index.jsx`](https://github.com/taskcluster/

[2019-06-03 22:39] shubhamgupta2956 commented on #581
Thanks @helfi92 for adding me as contributor. I have made a new PR #833 to add isSecretDirty logic.

[2019-06-03 22:49] helfi92 commented on #581
My pleasure! Really happy with the work you're doing. I will review the PR soon. What's next for you? Did you want to tackle https://github.com/taskcluster/taskcluster/issues/598? It's a similar issue but it will get you involved with different views (clients and roles). If you're interested, feel free to comment on the issue directly. Thanks again for your work!

[2019-06-03 22:53] shubhamgupta2956 commented on #598
@helfi92 I want to take this issue. Please assign it to me. Thanks.

[2019-06-04 01:03] ydidwania commented on #221
@djmitche I am sorry I cannot work on this for now. I can maybe get back to it around end of July. Is that okay?

[2019-06-04 08:34] subhdcode20 commented on #773
Thanks. Created a pull request (#834) from my fork.

[2019-06-04 12:51] mitchhentges commented on #739
Interestingly, testing now, all of these work:
* `deploy-preview-822--taskcluster-web.netlify.com`
* `taskcluster-ui.herokuapp.com`
* `taskcluster-web.netlify.com`

I updated my machine from Ubuntu 18.04 to 19.04, perhaps the "touch" system changed?

[2019-06-04 13:04] helfi92 opened #835 "[UI] Improve layout of forms"
The UI of our forms tends to be quite compact. We should make it more "breathable" by adding more spaces between sections and perhaps using sub headers if it makes sense.

* [x] ui/src/components/SecretForm/index.jsx
* [x] ui/src/components/HookForm/index.jsx - https://github.com/taskcluster/taskcluster/pull/1410
* [x] ui/src/components/ClientForm/index.jsx
* [x] ui/src/components/RoleForm/index.j

[2019-06-04 13:07] helfi92 commented on #739
w00t! Really happy to hear that. Closing as WONTFIX.

[2019-06-04 13:07] #739 closed

[2019-06-04 14:01] djmitche commented on #835
Just as a user datapoint, I feel the opposite -- I think the forms are really sparse and use a lot of screen-space per piece of information, making me scroll or zoom out to fit a useful amount of data onscreen. And I don't have a small screen :)

[2019-06-04 14:03] helfi92 commented on #835
Could you share a screenshot of a form that uses a lot of screen-space for you, please?

[2019-06-04 14:17] djmitche commented on #835
![Screenshot_2019-06-04 Hook - Taskcluster](https://user-images.githubusercontent.com/28673/58886305-a8c00280-86b1-11e9-8b25-6b6c4f64f586.png)
![Screenshot_2019-06-04 Provisioners - Taskcluster](https://user-images.githubusercontent.com/28673/58886306-a8c00280-86b1-11e9-920f-b29211b85d3e.png)

There's a *lot* of background space there, especially horizontally, and labels, text-entry areas, and hel

[2019-06-04 14:20] djmitche commented on #835
BTW, this is not a criticism of tc-ui -- I think tc-ui is better-designed and easier to use than a lot of google sites that also employ MD.  It's a criticism of MD itself :)

[2019-06-04 16:32] owlishDeveloper commented on #835
I wonder if we can make changes to make the forms both more breathable/organized _and_ compact (I also sometimes feel some forms could take less space) - for example, we could do double column layout on larger screens, adjust some components' sizes etc.

[2019-06-04 19:36] subhdcode20 commented on #773
Also, now i am getting this error `Module not found: Error: Can't resolve 'react-dom'` when i install `react-error-boundary` which seems like and issue with the webpack alias for `@hot-loader/react-dom` .
Not sure how to get around this and `react-error-boundary` also doesn't show in `package.json` when i install it! Any ideas?

[2019-06-05 02:47] djmitche commented on #835
That sounds wonderful :)

[2019-06-05 04:15] aryabharat commented on #444
Hi, @djmitche Is this issue is resolved or not?
If not then I would like to do it, can you give m a bit more idea about it.

[2019-06-05 11:21] pocmo opened #839 "[UI] View Live log -> Follow automatically"
In 99% of the cases where I need to read the log of a task, I need to read it from the bottom (to see the last error or copy some follow-up task ID). In the old UI when clicking on "Run logs" it had automatically "Follow log" enabled and jumped to the bottom of the log (or does it just remember what I used last? 🤷‍♂).

In the new UI I wonder if there could be a quick action next to "View Live Log"

[2019-06-05 12:16] helfi92 commented on #839
It remembered what you used last.

I think we can probably just default to the bottom if most people start reading a log from the bottom.  It makes sense to me.

[2019-06-05 14:21] helfi92 opened #840 "[UI] Reposition log action buttons"
Log: http://localhost:5080/tasks/fRav6OG-Sbij116H7gfqag/runs/0/logs/https%3A%2F%2Fqueue.taskcluster.net%2Fv1%2Ftask%2FfRav6OG-Sbij116H7gfqag%2Fruns%2F0%2Fartifacts%2Fpublic%2Flogs%2Flive.log

When viewing a log, let's position actions that interact directly with the log to be beside the search input.

**Actual:**

![Screen Shot 2019-06-05 at 10 19 07 AM](https://user-images.githubusercontent.com/3

[2019-06-05 14:25] helfi92 commented on #840
In order to position the buttons beside the search input, we would probably need to do something like:

[code]

[code]

[2019-06-05 17:15] helfi92 opened #842 "[web-server] Refactor userIdFromIdentity"
https://github.com/taskcluster/taskcluster/pull/826#discussion_r290840581

[2019-06-05 18:00] djmitche commented on #444
Hi!  No, it's not resolved.

This will be a bit tricky.  We want to write a test case that checks all links in the documentation.  There are a few tests already in https://github.com/taskcluster/taskcluster/tree/master/ui/test but they are very limited unit tests that just run a function and check the result.

If i was working on this, I might start by getting those existing tests to run for me, t

[2019-06-05 19:56] djmitche commented on #221
Ah, now that I look more closely @arshadkazmi42 is working on this in #730.  So, all good :)

[2019-06-05 19:56] #221 closed

[2019-06-05 21:03] helfi92 commented on #631
I'm not sure I understand but what I can probably say is that we need to change the `headers` prop in `DataTable` from accepting only an array of strings to being able to receive an array of objects of the form `{ label: '<column-name>', id: '<property-name-in-original-object' }`. Does this help get you started?

[2019-06-06 03:55] aryabharat commented on #444
Thanks for the details.
I think the second approach of checking the .md is better, but still, we have to figure it out exactly what constitutes a "valid location" might be a bit difficult to determine. I can give it a try,
I will do some work n then get back to you.

[2019-06-06 04:11] aryabharat commented on #444
We have to check that the link points to a local file or external file or both?