[2019-06-06 04:32] sudipt1999 commented on #631
@helfi92  Yeah! Sure will give it a try !

[2019-06-06 12:55] helfi92 commented on #631
Awesome, many thanks!

[2019-06-06 14:15] djmitche opened #847 "[UI] last-fired table doesn't paginate"
**Describe the bug**
On pages like https://taskcluster-ui.herokuapp.com/hooks/project-releng/cron-task-mozilla-central, only five last-fires are displayed, and the pagination buttons are disabled, despite hundreds of last-fire events being returned from the GraphQL response.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://taskcluster-ui.herokuapp.com/hooks/project-releng/cron-t

[2019-06-06 14:18] djmitche commented on #444
Only internal links need to be checked -- external links can be ignored.

[2019-06-06 14:29] aryabharat commented on #444
And by checking we mean to see if the file is present or not that's it?

[2019-06-06 14:49] #847 closed

[2019-06-06 14:53] djmitche commented on #444
Correct!

[2019-06-06 15:04] helfi92 commented on #598
I think the only thing left would be to add the snackbar confirmation when saving a role/client. Awesome work so far!

[2019-06-06 16:48] shubhamgupta2956 commented on #598
I will add it and submit a PR for it.Thanks.

[2019-06-06 20:39] helfi92 commented on #598
Thank you for your work @shubhamgupta2956. Very nice!

[2019-06-06 20:39] #598 closed

[2019-06-06 20:39] #581 closed

[2019-06-06 21:19] VirmaniDivya commented on #497
Hi! Can I take up this issue, please?

[2019-06-06 21:34] owlishDeveloper opened #853 "Switch from implicit documenting of our code to explicit one"
Context: [here](https://github.com/taskcluster/taskcluster/pull/843#discussion_r291198728).

We would like to switch from implicit documenting of our code to explicit one, and add comments to spots in the code that we want to warn other developers about. For example, in that PR [I added warning comments to graphql code](https://github.com/taskcluster/taskcluster/pull/843/commits/fde2c4cbb23a06f463

[2019-06-06 21:40] owlishDeveloper opened #854 "Let's automate code style checking"
Currently, in lots of PRs to `web-server` and `web-ui` services we suggest stylistic changes that are important enough for us to suggest in a PR review. I propose we free up our cognitive resources for finding actual bugs, security vulnerabilities and the like, and automate the styling and naming checks by using project-specific linting rules.

[2019-06-07 00:29] #578 closed

[2019-06-07 11:42] shubhamgupta2956 commented on #497
@helfi92 I would like to take this issue.
One more thing, I am having difficulty in running web-services due to which `Network error: Failed to fetch` is coming when I open hooks page in my setup. Also when I start web services with `yarn start` it gives this output:
`$ NODE_ENV=development node src/main.js devServer

No Pulse namespace defined; no Pulse messages will be received.
Error: Unable to

[2019-06-07 13:55] helfi92 commented on #497
You'll want to remove `github` from the login strategies and then try running the server again.

[2019-06-07 13:56] helfi92 commented on #497
Make sure https://github.com/taskcluster/taskcluster/tree/master/services/web-server#github is **not** configured or set to an empty object.

[2019-06-07 18:57] shubhamgupta2956 commented on #497
@helfi92 it is still showing `Network error: failed to fetch` even after starting web services. Please help me with how to get a list of entries in pages

[2019-06-09 04:44] aryabharat commented on #444
Hi, I was writing the test to check the valid links n all, but I got a npm package
https://github.com/remarkjs/remark-validate-links
This package fulfills all our requirements, below are the files found missing by the remark
[missing.txt](https://github.com/taskcluster/taskcluster/files/3269195/missing.txt)

Now do let m know that does it suitable for out projects or should I proceed with the test

[2019-06-10 11:24] aryabharat commented on #444
Hey, have you seen this???

[2019-06-10 13:43] djmitche commented on #444
That package looks great -- let's use it!

However, it seems that it only validates internal links to hashes:

[code]
and not links between files:
[code]
so it doesn't quite do the whole job here.

[2019-06-11 05:28] aryabharat commented on #444
Sorry! I will you pls explain it more. If it doesn't complete the work I will try something else.

[2019-06-11 14:05] djmitche commented on #444
It won't detect broken links from one document to another -- only broken links *within* a document.

[2019-06-12 20:57] owlishDeveloper opened #867 "Button colors/icons inconsistency"
**Describe the bug**
On Create Task page, we have a green button with a "plus" icon. The button performs Save operation. Typically, we have a blue button with a "plus" icon to open an editor or a creation interface, and a green button with a "diskette" icon to save things in the editor/creation interface.

I think we need to replace the "plus" icon with the "dikette" icon here to be consistent wit

[2019-06-13 02:44] djmitche commented on #867
I like that this also helps distinguish things for those with red/green color blindness :)

[2019-06-13 08:53] Soundharyaam commented on #867
Hi, Is this up for grab? Can I work on this?

[2019-06-14 12:26] aryabharat commented on #444
I have gone for your approch

So i have used **markdown-link-extractor** to extract link and filer out all the External URLs.
[code]
I still need to work on it as it does give true for a link with a # and its case sensitive
eg:(src/component/DateDistance#README.md)

**Just wanted to know that the approch is working corect or not?**

[2019-06-14 22:05] djmitche commented on #444
Yes, it seems like you're on the right track!

[2019-06-16 00:00] djmitche opened #874 "[ui] sign-in methods don't set window.opener, so callback doesn't work"
`callback.ejs` expects to post a message to `window.opener`, but currently the github sign-in (at least) is a link that does not result in `window.opener` being set, causing the postMessage to never happen.

[2019-06-16 00:01] djmitche commented on #874
STR:
 * https://dustin.taskcluster-dev.net
 * sign in -> github
 * sign in

Result: "Logging In..." page, no login

[2019-06-16 16:27] helfi92 commented on #497
Could you show me the output of both terminals, please? Btw, to put code segments in the comment section, you can refer to https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet#code-and-syntax-highlighting. It will make it easier in terms of readability.

[2019-06-16 20:32] shubhamgupta2956 commented on #497
![Screenshot from 2019-06-17 01-58-07](https://user-images.githubusercontent.com/43504292/59569193-b9a24800-90a3-11e9-8814-d4b1b8d9706d.png)
![Screenshot from 2019-06-17 01-57-57](https://user-images.githubusercontent.com/43504292/59569194-b9a24800-90a3-11e9-89f6-5e9ee1fb0b85.png)
These are the screenshots of my browser page and terminal. It is not showing any error in terminal now but still showi

[2019-06-16 21:50] helfi92 commented on #867
Agreed 💯

[2019-06-16 21:52] helfi92 commented on #867
👋 @Soundharyaam Go for it.

[2019-06-16 22:41] helfi92 commented on #497
For web-server, instead of `yarn start` use

[code]

Let me know if that helps.

[2019-06-17 03:44] Soundharyaam commented on #867
@helfi92 Thank you.

[2019-06-17 19:44] shubhamgupta2956 commented on #497
I have tried that too but it is still giving the same error in browser.

[2019-06-18 10:17] aryabharat commented on #444
Hey! I tried it for ui/readme its working, do suggest me any chnages if you want
[code]

[2019-06-18 15:29] helfi92 commented on #497
Interesting. Did you change `services/web-server/config.yml` by any chance? Could you show me the output of `git diff`. Also, did you create a `user-config.yml`? If so, what is the content of that file?

[2019-06-18 16:46] shubhamgupta2956 commented on #497
![Screenshot from 2019-06-18 22-11-07](https://user-images.githubusercontent.com/43504292/59702949-8633fa80-9216-11e9-8c29-df2a2309d996.png)
Content of user-config.yml:-
[code]

[2019-06-18 16:50] helfi92 commented on #497
Change `user-config.yml` to:

[code]

[2019-06-18 16:57] shubhamgupta2956 commented on #497
I tried it now but problem still remains the same with same output on the browser.

[2019-06-18 18:15] helfi92 commented on #497
What is the output of `.env` in the `ui` directory?

[2019-06-18 18:43] shubhamgupta2956 commented on #497
Did you mean output of `env`. It is:-
[code]

[2019-06-18 18:45] helfi92 commented on #497
Sorry, I was referring to https://github.com/taskcluster/taskcluster/tree/master/ui#environment (i.e., `ui/.env`). It's not required to have this file. If you don't have it, no need to create it.

[2019-06-18 18:46] helfi92 commented on #497
Did you erase

[code]

from `services/web-server/user-config.yml`?

[2019-06-18 18:46] shubhamgupta2956 commented on #497
yes

[2019-06-18 18:47] shubhamgupta2956 commented on #497
I didn't have this file

[2019-06-18 18:49] helfi92 commented on #497
Try running `git checkout .` inside the root directory of the monorepo. After that, turn off both ui and web-server.

Inside `ui/`, run `yarn start`. Inside `services/web-server` run `yarn start`. What do you get now?

[2019-06-18 18:53] shubhamgupta2956 commented on #497
I am getting the same thing again.

[2019-06-18 18:54] helfi92 commented on #497
One second, I'll try cloning a fresh copy of the repo and see if I can replicate.

[2019-06-18 18:59] helfi92 commented on #497
Hm, could you try pulling the most recent changes and trying again. Something like:

[code]

[2019-06-18 19:04] helfi92 commented on #497
OK i figured it out. You need to run the ui on port 5080:

[code]

[2019-06-18 19:04] helfi92 commented on #497
Does it help?

[2019-06-18 19:10] shubhamgupta2956 commented on #497
Yes it works. Thanks a lot. Just one more thing. When I save a hook it says that client with clientId shubham not found. What should I do for that?

[2019-06-18 20:00] helfi92 commented on #497
I don't think you need to worry about this issue for the focus state. Feel free to ignore this for now.

Regarding `ECONNRESET`, it's probably because the ui can't seem to connect to web-server. Make sure the web-server process is on.

[2019-06-19 13:19] aryabharat commented on #444
SIr?

[2019-06-19 15:45] djmitche commented on #444
It's looking good so far.  There will probably be several types of links, not all of them pointing to markdown files.  I'd suggest abstracting the is-this-link-ok check a little bit, so that we can add a few different definitions of "valid link" and allow a link that matches at least one such definition.

Also, we will want to put this in the form of a Mocha test suite, so rather than using `conso

[2019-06-19 16:18] #442 closed

[2019-06-19 23:43] shubhamgupta2956 commented on #497
@helfi92 I think this is the error in node_modules/material-ui-treeview as when I pressed tab multiple times in [https://hassanali.me/material-ui-treeview/](url) I got the same white shade there also. Can you please guide me how can I change its properties and whether I should change it or not.

[2019-06-20 05:08] aryabharat commented on #444
Sure!  I will do it in mocha, and I am sure this code checks the link when it is pointing to different not particularly an md file.

[2019-06-20 15:30] helfi92 opened #884 "[UI] Clicking on a scope that starts with assume:"
STR:

1.  Navigate to https://taskcluster-ui.herokuapp.com/auth/roles/hook-id%3Ahg-push%2Fautoland
2. View the expanded scopes.
3. Click on `assume:project:taskcluster:gecko:level-3-sccache-buckets` (a scope that begins with `assume:`)

Expected: The user is able to inspect that role. In other words, the user is navigated to `/auth/roles/project%3Ataskcluster%3Agecko%3Alevel-3-sccache-buckets`

Ac

[2019-06-21 18:16] melvin2016 commented on #884
Can you assign this to me?

[2019-06-21 18:37] melvin2016 commented on #884
can you guide me on the files to consider while working on this.

[2019-06-21 20:28] helfi92 commented on #884
👋 @melvin2016

The first step is to go through https://github.com/taskcluster/taskcluster/blob/master/ui/README.md and make sure `localhost:5080/auth/roles/hook-id%3Ahg-push%2Fautoland` work for you. In terms of code, you can find the roles view in https://github.com/taskcluster/taskcluster/blob/master/ui/src/views/Roles/ViewRoles/Roles.jsx. Hope that helps.

[2019-06-21 20:34] helfi92 commented on #497
Ah, interesting. Good job for tracking this down. What you can do is send a pull-request to the material-ui-treeview repo. The repository is under my GitHub account so it will be easy for us to get the fix merged.

[2019-06-21 23:48] shubhamgupta2956 commented on #497
@helfi92 I am out of town now. I will try to send a pull request by Monday.

[2019-06-23 00:43] arku commented on #842
@helfi92 I would like to take a stab at this.

[2019-06-23 05:36] arku commented on #842
@helfi92 I have submitted a [PR](https://github.com/taskcluster/taskcluster/pull/890) fixing this issue. Take a look when you get a chance.

Thanks!

[2019-06-24 12:43] helfi92 opened #895 "[UI] Migrate to material-ui v4"

[2019-06-24 13:00] #842 closed

[2019-06-24 13:03] helfi92 commented on #497
Sounds good, thanks!

[2019-06-24 17:23] djmitche opened #902 "Check that headings in docs files match expectations"
In markdown files under `ui/docs`, the rule is:

* if there are any headings (`#`, `##`, etc.), then there should be a single top-level heading (`#`) at the beginning of the file
* if there are no headings besides a single top-level heading, there should be no top-level heading

Let's write a meta-check to verify this.

[2019-06-24 17:54] subhamskm commented on #902
I want to take up this issue. Can you help me with some more info?

[2019-06-24 22:02] helfi92 opened #904 "[UI] Give special characters in scopes more emphasis"
STR:

* Navigate to https://taskcluster-ui.herokuapp.com/auth/roles/hook-id%3Ahg-push%2Fautoland
* View the expanded scopes.

**Expected:** `assume:`, `*` and `<..>` substrings are given more emphasis. This could probably be done by making the special characters have a bold font.

**Actual:** special characters are not standing out.

![Screen Shot 2019-06-24 at 5 59 40 PM](https://user-images.gith

[2019-06-25 03:57] arku commented on #840
@helfi92 Just submitted a [PR](https://github.com/taskcluster/taskcluster/pull/906) fixing this issue.

Take a look when you get a chance.

Btw, the 'Go to Line Number' does not work fine (or so I think). If I fill in 3025 in the dialog, it ends up on line 3096. Not sure what's going on there. Can you please check?

Thanks!

[2019-06-25 11:22] subhamskm commented on #904
I want to take up this issue. Can you help me with some more info?

[2019-06-25 12:45] shubhamgupta2956 commented on #497
@helfi92 sorry for late reply. I have found that the color property
(```focused {
    background-color: theme.palette.grey[300]
},```)
is set by node_modules/@material_ui. I tried hard to find a way to overwrite this property but can't find a good solution. Please guide me how can I solve it. Thanks.

[2019-06-25 12:51] helfi92 commented on #840
I just checked and was able to reproduce only when the follow button is first clicked. Otherwise, if it's not clicked, it works as expected. This is a bug. Thanks for catching it. I'll file an issue for it.

[2019-06-25 12:54] helfi92 opened #908 "[UI] Go to line feature stops working when follow log is first clicked"
STR:

1. Navigate to http://localhost:5080/tasks/fRav6OG-Sbij116H7gfqag/runs/0/logs/https%3A%2F%2Fqueue.taskcluster.net%2Fv1%2Ftask%2FfRav6OG-Sbij116H7gfqag%2Fruns%2F0%2Fartifacts%2Fpublic%2Flogs%2Flive.log
2. Click the follow log button

![Screen Shot 2019-06-25 at 8 52 38 AM](https://user-images.githubusercontent.com/3766511/60099910-7a13d580-970d-11e9-8e26-bf0305b3f8a1.png)

3. Click the "1 2 3

[2019-06-25 12:55] helfi92 commented on #840
Filed https://github.com/taskcluster/taskcluster/issues/908. Let me know if you wanted to tackle this issue as well :-)

[2019-06-25 13:01] helfi92 commented on #904
👋 @subhamskm. Go for it. The part of the code where a scope is rendered can be found [here](https://github.com/taskcluster/taskcluster/blob/601536dd3207e37f4d72189d10a8f6272f1fcf26/ui/src/components/RoleForm/index.jsx#L205). Can't wait to see what you come up with :)

[2019-06-25 13:26] helfi92 commented on #497
Ah, that's the culprit. Good job!

We could override the style in `src/ui/theme.js`. Something like:

[code]

I looked at https://github.com/mui-org/material-ui/blob/dbc788f7d231b4eceaa7a6a3e253104de5de9af0/packages/material-ui/src/ExpansionPanelSummary/ExpansionPanelSummary.js#L28 to understand how to override this value.

[2019-06-25 15:12] djmitche commented on #902
Hi, great!  I've invited you as a collaborator and can assign the issue to you once you've accepted.

The `test` directory in the repository contains some test files that work over the whole repo -- for example, there is one that looks for misspellings of "Taskcluster".  You can add another test there.  I'd suggest writing a test that scans all markdown files in the `ui/docs` repository and checks

[2019-06-25 15:40] helfi92 commented on #874
I just tried logging in with GitHub on https://dustin.taskcluster-dev.net. Login worked for me. Is it still not working for you?

[2019-06-25 15:46] djmitche commented on #874
It doesn't. I'm using Firefox 68.0b7 and have tried with Content Blocking both in "Strict" and "Custom" modes.  I'll try "Standard"..

[2019-06-25 15:48] djmitche commented on #874
Still no luck..

[2019-06-25 17:17] subhamskm commented on #902
I don't know to write a test. But I would like to learn and contribute.

On Tue, Jun 25, 2019 at 8:42 PM Dustin J. Mitchell <notifications@github.com>
wrote:

[2019-06-25 18:27] djmitche commented on #902
Here's an example:
https://github.com/taskcluster/taskcluster/blob/10f24724047621d6e0f6ed342aed612b019f8be7/test/meta_test.js#L100-L121

You can add another `test(..)` clause like that to the same file.  You can probably use `glob` to find all markdown files, and then use some regular expressions to find and check the headings.

[2019-06-25 18:27] djmitche commented on #902
By the way, we use `mocha` to run our tests, if you want to read some of the background on how it works.  You can run the meta tests with `yarn test:meta`.

[2019-06-25 19:24] helfi92 commented on #497
Resolved in https://github.com/taskcluster/taskcluster/commit/680661c6488a0ebcbe3281b0fe5b43199a9d3f3a.

[2019-06-25 19:24] #497 closed

[2019-06-25 19:42] shubhamgupta2956 commented on #534
@helfi92 I want to take this issue. Please assign it to me. Thanks

[2019-06-25 21:15] shubhamgupta2956 commented on #534
@helfi92 what I can understand in it is that we want the initial focus on the "TRIGGER HOOK" button in the dialog that opens so that the user just can press enter to trigger hook. But this thing is implemented in the code. Can you please explain me what we want to solve in this issue.

[2019-06-25 21:32] arku commented on #840
@helfi92 Perfect!

Haha, for sure 🙂

[2019-06-25 21:40] #840 closed

[2019-06-25 22:57] helfi92 commented on #874
Also works when I try on Chrome 75.0.3770.100. Does it work on Chrome for you?

[2019-06-25 23:01] helfi92 commented on #874
I wonder if it's an extension in Firefox causing this for you.

[2019-06-25 23:08] helfi92 commented on #534
That's right!

Pressing "enter" might trigger a hook but the user doesn't know that. We want to show the ripple in the button to let the user know that the button is focused:

![Screen Shot 2019-06-25 at 7 06 54 PM](https://user-images.githubusercontent.com/3766511/60139616-8d11be80-977c-11e9-8afd-eccdf768c479.png)

[2019-06-26 09:04] subhamskm commented on #902
Thanks! I am working on it.

[2019-06-26 11:31] subhamskm commented on #902
`test('headings in docs files match expectations', async function () {
    const markdowns = glob.sync(
      'ui/docs/*/*.md',
      { cwd: ROOT_DIR });

    for (let filename of markdowns) {
      var data = fs.readFileSync(filename);
      var md = data.toString();
      var hd = [];

      //hd[i] stores the number of headings with level i
      hd[1] = md.match(/^# /gm).length;
      hd[2] =

[2019-06-26 13:08] djmitche commented on #902
It may -- there's only one way to find out!

I'm a little confused reading your code, though -- it seems like "topLevelHead" refers to the *longest* string of `#`, rather than the shortest?  Anyway, running code is the ultimate proof :)

As examples of things that should fail:

* Remove `# Manipulating Tasks` from https://raw.githubusercontent.com/taskcluster/taskcluster/master/ui/docs/manual/task

[2019-06-26 13:28] djmitche commented on #874
Huh, it does work in a fresh Firefox profile.

[2019-06-26 13:30] djmitche commented on #874
Oh, I also updated to the latest beta after this morning's sec vulns.  It seems to work even on my normal profile now -- so this was a Firefox bug!

[2019-06-26 13:30] #874 closed

[2019-06-27 07:30] subhamskm commented on #902
"topLevelHead" refers to the longest string of #. I have tested the code and detected the changes you told to do in 'manipulating.md' and 'dependencies.md'. Also it detects an error in  'ui/docs/manual/using/administration.md' because there is no other heading than a single top-level heading.

[2019-06-27 10:00] subhamskm commented on #902
It is saying 'permission to taskcluster/taskcluster denied' when trying to push the changes.

[2019-06-27 13:03] djmitche commented on #902
Sounds good -- I'm looking forward to seeing the code!

You'll need to "Fork" the repository and push to your own fork, then make a pull request.
https://guides.github.com/introduction/flow/

[2019-06-28 11:59] helfi92 commented on #867
How is it going @Soundharyaam? Let me know if you had any questions.

[2019-06-28 12:14] Soundharyaam commented on #867
Hi @helfi92 , Got some questions. Pinged in IRC.

[2019-06-28 12:39] helfi92 commented on #867
Ah, I missed the message. Just replied now.

[2019-06-28 12:43] helfi92 commented on #534
How is it going @shubhamgupta2956? Let me know if you had any questions :)

[2019-06-28 12:44] #304 closed

[2019-06-28 13:19] shubhamgupta2956 commented on #534
Sorry for inactivity @helfi92.

I had tried to search for the problem. Not sure but it seems that when we open dialog action, it takes it like the dialog box was in the same page and thus disables ripple effect. I am still confused about it and searching for proper solution.

[2019-06-28 14:26] helfi92 opened #925 "[UI] Remove aws-provisioner and provisioners"
Worker manager UI will be replacing the aws-provisioner and provisioners views. Brace yourself, red diffs incoming!

[2019-06-28 18:47] #902 closed

[2019-06-28 19:21] #925 closed

[2019-06-28 19:52] jonalmeida opened #931 "[UI] Task name doesn't show full text"
There's a bunch of white space on the grid that the task name can fill.

Example: https://taskcluster-ui.herokuapp.com/tasks/groups/Kbsw50hcSK23OkdBjKdM9g

<img width="1572" alt="Screen Shot 2019-06-28 at 3 48 08 PM" src="https://user-images.githubusercontent.com/1370580/60367424-0ab71380-99a3-11e9-9017-7d2a2512bbf0.png">

[2019-06-28 19:58] jonalmeida opened #932 "[UI] Pressing enter on search in the log view doesn't activate the search"
STR:
1. Go to task.
2. Click 'View Live Log'.
3. Enter a search term and hit enter.

Expected:
- Enter goes to the first search term.

Thanks for the great features! 😄  ✨

[2019-06-28 20:43] jonalmeida commented on #304
Thank you! I used it today and it was :sparkles:!

[2019-06-28 22:10] djmitche opened #933 "Add Miles to staff"
@all-contributors please add @milescrabill  for code, staff

[2019-06-28 22:10] djmitche commented on #933
@all-contributors please add @milescrabill for code, staff

[2019-06-28 22:11] djmitche commented on #933
@all-contributors please add @ccooper  for code, staff

(OMG embarassing!)

[2019-06-28 22:14] #933 closed

[2019-06-28 23:35] #931 closed

[2019-06-29 00:08] #932 closed

[2019-06-29 09:59] subhamskm commented on #444
Hey @aryabharat, are you still working on this issue?

[2019-06-29 10:38] subhamskm commented on #904
Hi @helfi92 , I am a beginner and I am not getting how to proceed. Can you help me out?

[2019-06-29 13:01] aryabharat commented on #444
Hi @subhamskm! yes, I am working on it.

[2019-06-29 19:20] shubhamgupta2956 commented on #534
@helfi92 am I going in correct direction. Is my assumption correct as I can hardly find any solution for it. Please suggest me in what direction should I go. Thanks.

[2019-06-30 23:02] arku commented on #908
@helfi92 Do you mind helping me understand how the 'Go to Line' feature works?

[2019-07-01 00:41] 9k01 opened #938 "ping queue.taskcluster.net timeout??"
http://ping.chinaz.com/queue.taskcluster.net

all  ping timeout
please check

[2019-07-01 08:04] arku commented on #904
@subhamskm Have you been to able to set up the project locally? If not, please refer to [this guide](https://github.com/taskcluster/taskcluster/blob/master/dev-docs/development-process.md). It would be helpful if you could provide more information on the issue you're running to.

[2019-07-01 09:52] sonyshubham commented on #884
👋 @melvin2016,

Are you still working on this issue?

[2019-07-01 10:12] sonyshubham commented on #639
Hey,

Can I start working on this?
This will be my first contribution to Open Source, any guidance is appreciated.

[2019-07-01 14:08] #938 closed

[2019-07-01 18:51] tinoism commented on #884
👋 @melvin2016 @sonyshubham
PR #949 should be able to close this issue. The issue was mainly due to the lack of conditional checks to distinguish between scopes that begin with `assume:` and those that don't. Adding the conditional check and branching off the linkage based on that should do the job.

[2019-07-02 04:31] sonyshubham commented on #884
👋 @tinoism
Thanks for the update, is there any issue I can start working on?

[2019-07-02 06:45] steve-cahn commented on #825
Hey @helfi92 Hope I contributed correctly. Let me know if I did anything wrong, since this is my first time contributing to open source. Thanks!

[2019-07-02 13:14] helfi92 commented on #534
According to https://material-ui.com/api/button-base/#props, I think we should be able to add the focus ripple effect via the action prop:

[code]

Hopefully that helps.

[2019-07-02 13:23] helfi92 commented on #908
Sure. The LazyLog component (aka log viewer) accepts a `scrollToLine` prop which will theoretically jump to that line when that value changes. I think the logic for that can be found [here](https://github.com/mozilla-frontend-infra/react-lazylog/blob/e8951828d6ac4e94d0592b501921de73ced4d990/src/components/LazyLog/index.jsx#L293-L299).

For some reason, when we click the follow log icon, the jump t

[2019-07-02 13:28] helfi92 commented on #639
Go for it @sonyshubham. The ui [README](https://github.com/taskcluster/taskcluster/blob/master/ui/README.md) should help you get started. Let us know if you had any questions.

[2019-07-02 14:00] helfi92 commented on #884
I believe you are now working on https://github.com/taskcluster/taskcluster/issues/639 :)

[2019-07-02 14:23] djmitche commented on #806
Is this finished?

[2019-07-02 14:32] helfi92 commented on #806
Indeed.

[2019-07-02 14:32] #806 closed

[2019-07-02 20:02] helfi92 opened #957 "[UI] Confirmation dialog when deleting a hook"
Destructive actions (e.g., a delete operation) should have a confirmation step.
It’s an added click but will prevent accidental data loss frustration.

STR:

1. Navigate to http://localhost:5080/hooks/garbage/abc456
2. Hover/Click on the triple vertical dots icon then click on "Delete Hook"

![Screen Shot 2019-07-02 at 3 59 57 PM](https://user-images.githubusercontent.com/3766511/60542677-7de1c200

[2019-07-02 20:56] helfi92 opened #958 "Headings in docs files"
From https://github.com/taskcluster/taskcluster/pull/924#issuecomment-507796201:

* Remove the test that checks for "if there are no headings besides a single top-level heading, there should be no top-level heading"
* Undo the changes in ui/docs/*

[2019-07-03 06:13] sonyshubham commented on #884
Yeah, I have started with that :)

[2019-07-03 12:28] helfi92 commented on #825
@steve-cahn I think there are two more forms we would need `autoFocus` then we should be able to consider this issue resolved :)

[2019-07-03 12:34] helfi92 commented on #534
Resolved in 8b32ca1. Thank you @shubhamgupta2956 for your work.

[2019-07-03 12:34] #534 closed

[2019-07-03 15:49] #958 closed

[2019-07-03 18:20] rbrishabh commented on #957
Can I take up this issue? Thanks!

[2019-07-03 18:21] helfi92 commented on #957
Go for it.

[2019-07-03 18:51] shubhamgupta2956 commented on #534
Thanks @helfi92. Can you suggest what should I do next.

[2019-07-03 19:05] helfi92 commented on #698
Closing as `WONTFIX` for now. Happy to reconsider if this issue is flagged to me again. Thanks @mitchhentges for filing it :)

[2019-07-03 19:05] #698 closed

[2019-07-03 19:10] #307 closed

[2019-07-03 19:16] helfi92 opened #965 "[UI] Confirmation dialog when deleting"
Destructive actions (e.g., a delete operation) should have a confirmation step.
It’s an added click but will prevent accidental data loss frustration.

Forms that require a confirmation step dialog:
* [x] Role View (e.g., https://taskcluster-ui.herokuapp.com/auth/roles/hook-id%3Agarbage%2Fgecko-cinnabar-mirror)
* [x] Denylist (e.g., https://taskcluster-ui.herokuapp.com/notify/denylist/jan%40mozill

[2019-07-03 19:19] helfi92 commented on #534
Do you want to work on https://github.com/taskcluster/taskcluster/issues/965? Thank you for wanting to offer your help btw. It is very appreciated :)

[2019-07-03 19:28] shubhamgupta2956 commented on #965
@helfi92 I want to take this issue . Please assign it to me. Thanks.

[2019-07-03 22:39] helfi92 commented on #631
Let's also add a `type` (string or number) property to the object so that we can right align columns that are numbers.

[2019-07-03 22:39] helfi92 commented on #631
@sudipt1999 How is it going?

[2019-07-04 18:52] helfi92 opened #969 "[UI] Redirect taskcluster-web.netlify.com to taskcluster-ui.herokuapp.com"
Netlify is only used for preview PRs. Let's have taskcluster-web.netlify.com redirect to the new site but not redirect preview URLs.

[2019-07-04 18:57] helfi92 opened #970 "[UI] Show relative date in a tooltip"
STR:

1. Navigate to https://taskcluster-ui.herokuapp.com/tasks/index/gecko.v2.mozilla-beta.latest.firefox/linux64-opt
2. Hover on text below "Created"

Actual: Nothing appears
Expected: Show the actual date in a tooltip

Something similar to:

<img width="318" alt="Screen Shot 2019-07-04 at 2 56 27 PM" src="https://user-images.githubusercontent.com/3766511/60684484-f758ec00-9e6b-11e9-9a53-22ec0b0

[2019-07-04 22:36] subhamskm commented on #904
Thanks @arku. I am running into an issue.
![Screenshot (38)](https://user-images.githubusercontent.com/31374351/60689360-34f45e00-9eda-11e9-8ff5-de61116d7e70.png)

[2019-07-05 07:57] ivanicharts commented on #970
Can I take up this issue? Thanks!

[2019-07-05 14:32] #970 closed

[2019-07-05 21:30] owlishDeveloper opened #975 "Add ability to see the current document's location in documentation tree"
Currently, if I open a documentation page on the docs site, it doesn't show me the documentation tree and where the document is on that tree (for example, maybe I would like to see what other pages are there in the section and view some other pages from that section)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://docs.taskcluster.net/docs/reference/integrations/github/' for e

[2019-07-05 21:39] helfi92 commented on #975
Works for https://docs.taskcluster.net/docs/reference/integrations/github. I think the issue happens only when there is a trailing slash at the end. Good catch. This should be fixed.

[2019-07-07 16:58] ruchikabgosain commented on #627
Hey @helfi92 i would like to take this up. Since i'm a beginner, any guides would be appreciated! Thankyou :)

[2019-07-07 17:00] ruchikabgosain commented on #975
Hey @helfi92 I would like to take this up. Is this issue available?

[2019-07-07 17:01] helfi92 commented on #975
Yep, go for it.

[2019-07-08 12:42] helfi92 commented on #627
Hey @ruchikabgosain. I believe you are working on https://github.com/taskcluster/taskcluster/issues/975. Once that is done, we could talk about your next issue. Hope that's okay :)

[2019-07-08 13:52] #884 closed

[2019-07-08 14:12] arku commented on #908
@helfi92 Thanks for clearing it up. Gonna take a look at it.

Will get back to you after making some progress.

[2019-07-08 14:17] helfi92 commented on #908
Awesome! Also thanks for helping other contributors on the other issues :)

[2019-07-08 14:45] arku commented on #908
@helfi92 Looks like the issue is on [this line](https://github.com/mozilla-frontend-infra/react-lazylog/blob/e8951828d6ac4e94d0592b501921de73ced4d990/src/utils.js#L20). When the 'Follow Log' icon is clicked, the `follow` property in `Log` component's state is set to `true` and is never reset when `lineNumber` is updated. And it looks like the 'Go to line' functionality isn't working when actually

[2019-07-08 14:59] arku commented on #908
@helfi92 I have submitted a [PR](https://github.com/taskcluster/taskcluster/pull/984) fixing the issue. Take a look when you get a chance.

[2019-07-08 15:03] helfi92 commented on #908
Nice! Well done tracking the issue down. I'll take a look soon.

[2019-07-08 15:06] arku opened #985 "[UI] Go to Line does not work when line number is 1"
### Steps to reproduce

   1. Navigate to http://localhost:5080/tasks/fRav6OG-Sbij116H7gfqag/runs/0/logs/https%3A%2F%2Fqueue.taskcluster.net%2Fv1%2Ftask%2FfRav6OG-Sbij116H7gfqag%2Fruns%2F0%2Fartifacts%2Fpublic%2Flogs%2Flive.log
   2. Click the 'Go to Line' icon

![image](https://user-images.githubusercontent.com/7039523/60820695-99781d00-a167-11e9-8906-de90a477cc4b.png)

   3. Enter `1` in the dia

[2019-07-08 15:12] arku commented on #908
@helfi92 Perfect, thanks!

Btw, I noticed another bug when you try to go the first line. I created an [issue](https://github.com/taskcluster/taskcluster/issues/985) for it.

I guess it happens because the [`getScrollToIndex`](https://github.com/mozilla-frontend-infra/react-lazylog/blob/e8951828d6ac4e94d0592b501921de73ced4d990/src/utils.js#L12) function [returns 0 when `lineNumber` is 1](https://gi

[2019-07-08 15:16] helfi92 commented on #908
That's very possible and I think you may be right here :)

[2019-07-08 18:09] helfi92 opened #987 "[UI] Extend logviewer scrollbar to the window"
STR:

1. Navigate to https://taskcluster-ui.herokuapp.com/tasks/A3nNtW92QFGETYErI_BR8Q/runs/0/logs/https%3A%2F%2Fqueue.taskcluster.net%2Fv1%2Ftask%2FA3nNtW92QFGETYErI_BR8Q%2Fruns%2F0%2Fartifacts%2Fpublic%2Flogs%2Flive.log

![Screen Shot 2019-07-08 at 2 04 10 PM](https://user-images.githubusercontent.com/3766511/60832250-6777b280-a189-11e9-8cd3-bba4a188f96b.png)

**Actual:** The horizontal and veri

[2019-07-08 18:11] ruchikabgosain commented on #627
Hey @helfi92 , right, i will let you know :)

[2019-07-08 18:48] imbstack opened #988 "Add edunham to contributors"
@all-contributors please add @edunham   for code

[2019-07-08 18:58] imbstack opened #990 "add sciurus to contributors"
@all-contributors please add @sciurus for code

[2019-07-08 19:39] imbstack commented on #990
@all-contributors please add @sciurus for code

[2019-07-08 19:39] imbstack commented on #988
@all-contributors please add @edunham for code

[2019-07-08 19:50] #990 closed

[2019-07-08 19:54] imbstack commented on #988
@all-contributors please add @edunham for code

[2019-07-08 20:02] #988 closed

[2019-07-08 20:39] helfi92 commented on #975
The issue probably revolves around this line: https://github.com/taskcluster/taskcluster/blob/e4aeca4a794799920e016dceb01724b06f4b5415/ui/src/components/Dashboard/DocsSidebarList.jsx#L145.

[2019-07-08 22:51] #610 closed

[2019-07-09 13:25] #904 closed

[2019-07-09 23:31] #748 closed

[2019-07-10 20:22] arku opened #1002 "[UI] Log search is not case-insensitive"
**Steps to reproduce**
1. Go to http://localhost:5080/tasks/ZeW7IKcDRQipFT2TN4UAcg/runs/0/logs/https%3A%2F%2Fqueue.taskcluster.net%2Fv1%2Ftask%2FZeW7IKcDRQipFT2TN4UAcg%2Fruns%2F0%2Fartifacts%2Fpublic%2Flogs%2Flive.log
2. Search for 'Public'. You should find a match on line 6.

![image](https://user-images.githubusercontent.com/7039523/61002056-67f98000-a326-11e9-8185-a858815c12c2.png)

3. Search f

[2019-07-11 14:23] #908 closed

[2019-07-11 16:55] kanurag94 commented on #867
Hi @helfi92 , Is anyone working on it? If not, I would like to work on this please?

[2019-07-11 17:03] helfi92 commented on #867
Feel free to give it a try. I haven't heard from @Soundharyaam for a bit.

[2019-07-11 17:05] kanurag94 commented on #867
@helfi92  Thank you

[2019-07-11 17:53] kanurag94 commented on #635
Hi @helfi92 , I started out with setting up taskcluster and came up with many broken links in contributing readme. I will be fixing them

[2019-07-11 18:44] helfi92 commented on #1002
In order to fix this, we could probably expose a `caseInsensitiveSearch` prop to in the `react-lazylog` repo.

[2019-07-12 14:10] helfi92 commented on #749
@melvin2016 Are you still working on this?

[2019-07-12 14:13] helfi92 commented on #639
How is it going @sonyshubham? Let me know if you had questions for me.

[2019-07-12 14:13] helfi92 commented on #627
How is it going @ruchikabgosain?

[2019-07-12 14:14] melvin2016 commented on #749
Sorry for this.. can you take this up

On Fri, 12 Jul, 2019, 19:40 Hassan Ali, <notifications@github.com> wrote:

[2019-07-12 14:14] helfi92 commented on #444
👋 @aryabharat How is it going? :-)

[2019-07-12 19:30] jonalmeida opened #1012 "[UI] Notifications dialog has the cancel button selected with a "breathing" animation"
**To Reproduce**
Steps to reproduce the behavior:
1. Click on 'Notifications' in a Task Group (e.g. [this one](https://taskcluster-ui.herokuapp.com/tasks/groups/SqW48e9cRt-93xlDXkQ6hw))
2. Observe the 'Cancel' button on the dialog

**Expected behavior**
The Cancel button is not selected in any way.

**Actual behavior**
The Cancel button is selected with a "breathing" animation on it.

**Screenshot

[2019-07-12 19:40] aryabharat commented on #444
HI, @helfi92 I am stuck with some issue in mocha, as I just started it.
I got free from some of my work just now, ill be back on it now.
and if you have a different approach then pls let m know.

[2019-07-12 19:41] aryabharat commented on #444
HI, @helfi92 I am stuck with some issue in mocha, as I just started it.
I got free from some of my work just now, ill be back on it now.
and if you have a different approach then pls let m know.

[2019-07-12 19:45] helfi92 commented on #1012
This is actually intentional. All buttons have a "breathable" effect when focused. We also set the initial focus on the least destructive action button (Cancel) to avoid unwanted consequences like accidentally pressing enter.

[2019-07-12 19:45] #1012 closed

[2019-07-12 20:13] #825 closed

[2019-07-13 06:49] ruchikabgosain commented on #627
Hey Hassan
I'm still working on the previous issue and having some issues with it
since I haven't previously worked with React. It would be great if you
could help me out.
Thankyou and Have a nice weekend!

On Fri, 12 Jul 2019, 19:43 Hassan Ali, <notifications@github.com> wrote:

[2019-07-13 18:43] ruchikabgosain commented on #975
Hey @helfi92 , This is my suggestion, try replacing the code with this workaround. Let me know if this works.

const isLinkActive = removeReadmeFromPath(location.pathname) === href || removeReadmeFromPath(location.pathname) === href + "/";``

[2019-07-14 22:14] arku commented on #969
@helfi92 Can we close this as it is done in https://github.com/taskcluster/taskcluster/pull/983 or is there something missing?

[2019-07-15 02:29] arku commented on #895
@helfi92 I have submitted a [PR](https://material-ui.com/guides/migration-v3/#list) attempting to upgrade Material UI from v3 to v4. Take a look when you get a chance.

Thanks in advance!

[2019-07-15 12:53] helfi92 commented on #969
It's actually not fixed. Not sure why at the moment. Let me know if you had any ideas. Navigating to https://taskcluster-web.netlify.com/ doesn't redirect to https://taskcluster-ui.herokuapp.com/ for example.

[2019-07-15 20:59] helfi92 opened #1038 "[web-server] Stop generating the JWT token"
The secops folks recommend maintaining a session via cookies.

[2019-07-16 02:46] arku commented on #969
@helfi92 I submitted a [PR](https://github.com/taskcluster/taskcluster/pull/1041) attempting to fix this issue. Hopefully, it works. Take a look when you get a chance.

[2019-07-16 04:00] arku commented on #969
@helfi92 I tested this on an app of mine and the redirect rule works :ok_hand:

[2019-07-16 13:02] ss77995ss commented on #839
Hi, can I take up this one? Thanks:)

[2019-07-16 13:23] #969 closed

[2019-07-16 13:29] helfi92 commented on #839
Go for it :)

[2019-07-16 14:11] helfi92 commented on #969
w00t 🎉 The redirect works perfectly! Thanks for taking the time to look into it @arku :)

[2019-07-16 17:26] jonalmeida opened #1043 "[UI] As a user, I want to know the progress of a build so far on the group view"
This might not be feasible, so please close if so.

I sometimes find that I want to know which variant of a build is close to being done so I can monitor that more and it's hard to know which one is the closest to being completed.

For example, in the screenshot below, I want to know that at least one build variant of the `assemble` task passes because there's a high probability that everything el

[2019-07-16 17:33] helfi92 commented on #1043
I'm not sure I know how to do that. I think it's hard to know how long is the duration of a command to be able to identify which variant is close to being done.

[2019-07-16 18:06] djmitche commented on #1043
I think the best you can do in this situation is filter down to the set of interesting jobs and look at that (so maybe Name Contains -> "assemble" in this case?).  We don't have any information on task duration: as far as TC is concerned, it's just a shell command that could last 3ms or 3 days.

[2019-07-16 18:07] #1043 closed

[2019-07-17 12:55] helfi92 opened #1046 "[web-server] Update dependency sift to v8"
From the release notes:

This will involve changing all sift invocations and making sure .filter is not called on an undefined/null array.

[2019-07-17 12:57] helfi92 commented on #867
How is it going @kanurag94? Let me know if you had any questions :-)

[2019-07-17 14:27] kanurag94 commented on #867
@helfi92 Can you help me

[2019-07-17 14:27] helfi92 commented on #867
Sure. How can I help?

[2019-07-17 14:36] projectyang commented on #1046
Hey @helfi92, I'd love to take this on.

[2019-07-17 14:37] helfi92 commented on #1046
Hey @projectyang 👋 Welcome back!

[2019-07-17 16:16] kanurag94 commented on #867
@helfi92

[2019-07-17 18:33] rbrishabh commented on #957
Hi @helfi92 ! I am sorry for the delay!

I am not able to configure the user-config.yml file needed to start the taskcluster web-server service. Can you please help me with the same?

This is the error I am getting.

![taskcluster-error](https://user-images.githubusercontent.com/22501334/61400369-bb9f3700-a8ed-11e9-9478-b8453bbd6db2.png)

This is my user-config.yml file, it is situated in web-serv

[2019-07-17 18:37] helfi92 commented on #957
Remove everything under `pulse` and `login`. That should hopefully fix the issue.

[code]

[2019-07-17 19:22] rbrishabh commented on #957
Thanks! That fixed the issue!
Right now, when I hover over the three dots, it says (Auth Required) along with Delete Hook.

Do I need to set up taskcluster credentials as it is mentioned here?
https://github.com/taskcluster/taskcluster/tree/master/services/web-server

[2019-07-17 19:24] helfi92 commented on #957
You should be able to login with any credentials (e.g., clientId: "foo", access token: "bar").

[2019-07-17 19:53] ruchikabgosain commented on #627
Hey @helfi92 the previous issue has been done! Let me know if i can take this up?

[2019-07-17 20:14] helfi92 commented on #975
Resolved in https://github.com/taskcluster/taskcluster/commit/8c1ec40012aa2298f4b0bd2a4418e7e080e9ad98. Should be deployed in a bit :)

[2019-07-17 20:14] #975 closed

[2019-07-17 20:14] helfi92 commented on #627
Go for it.

[2019-07-17 20:44] rbrishabh commented on #957
Thanks a lot once again!

I did create a confirmation dialog and was able to implement it successfully.

Does it look okay? Or do I need to make any UI changes?

![how-is-it](https://user-images.githubusercontent.com/22501334/61410364-bc41c880-a901-11e9-8743-e260f8c45fd1.png)

Also I got a lot of prettier errors. How do I go about solving them? Thanks again!

[2019-07-17 21:47] helfi92 commented on #957
My pleasure :-) Good questions!

Add a `title` prop with value `Delete?`. Next, modify the body to say `This will delete <hook-group-id><hook-id>`.

You can fix most linting errors by running `yarn lint --fix` inside the `ui` directory.

[2019-07-18 02:30] arshadkazmi42 commented on #1002
@helfi92 I can take this up, if no one is working

[2019-07-18 03:04] helfi92 commented on #1002
👋 @arshadkazmi42 I think it’s free to grab. It’s all yours :-)

[2019-07-18 03:31] djmitche opened #1056 "worker-manager docs not appearing"
There are several docs files in the repo under https://github.com/taskcluster/taskcluster/tree/master/ui/docs/reference/core/worker-manager but only "Worker-Manager - Worker Interaction" appears in the sidebar at

https://docs.taskcluster.net/docs/reference/core/worker-manager

Loading https://docs.taskcluster.net/docs/reference/core/worker-manager/google or https://docs.taskcluster.net/docs/refer

[2019-07-18 03:31] djmitche commented on #1056
I wonder if this is because they don't have titles..

[2019-07-18 03:39] arku opened #1058 "[UI] [Docs] Taskcluster Hello World video link broken"
The [video link](https://vreplay.mozilla.com/replay/showRecordingExternal.html?key=7AvN2iczQYcI3lY) mentioned in our [Hello World tutorial](https://github.com/taskcluster/taskcluster/blob/master/ui/docs/tutorial/hello-world.md#see-also) seems to be unavailable.

/cc @djmitche

[2019-07-18 03:42] djmitche commented on #1058
Hmm, @petemoore any idea if that was saved elsewhere?  vreplay was part of our Vidyo installation, which was shut down a few months ago.

[2019-07-18 06:22] Shubhamchinda commented on #749
Hey, can I work on this ?

[2019-07-18 10:20] kanurag94 commented on #867
@helfi92 I couldn't find the save/diskette icon on the create task page : [Taskcluster Create task](https://taskcluster-ui.herokuapp.com/tasks/create/interactive)

Let me know if I am looking at the wrong place.

[2019-07-18 10:22] kanurag94 commented on #867
I'll be reporting soon, I have started working on this.

[2019-07-18 12:37] #867 closed

[2019-07-18 12:48] #1056 closed

[2019-07-18 13:06] djmitche commented on #749
You sure can!  My comments from June 1 should get you started.

[2019-07-18 16:00] JohanLorenzo opened #1063 "[cllient-shell] Errors when cancelling large graphs: `dial tcp: lookup queue.taskcluster.net: too many open files`"
## Steps to reproduce

1. Land a commit in-tree.
1. Realize it needs a follow up, and land it.
1. `./taskcluster group cancel GROUP_ID_OF_WRONG_COMMIT`

## Results

More than half of task aren't cancelled. tc-cli spews hundreds of lines like:
[code]

I guess this is a limitation on the OS-side, where you can't have more than a certain number of ports open at the same time. I don't know the interna

[2019-07-18 16:43] ss77995ss commented on #985
Hi, I just found that when we give `scrollToLine` value to `1`, scrollToIndex would be `-1` but actually number should be `0`. Maybe it's a bug from `react-lazylog`?

<img width="1279" alt="Screen Shot 2019-07-19 at 00 39 46" src="https://user-images.githubusercontent.com/28031139/61475692-f2dd1900-a9bd-11e9-95c9-e94f6cfe571b.png">

[2019-07-18 16:52] rbrishabh commented on #957
Hey!

Does this look okay?

![is this ok](https://user-images.githubusercontent.com/22501334/61476361-7c82eb80-a9aa-11e9-9997-87b01858faf3.png)

Let me know if I need to make any other changes!

[2019-07-18 16:58] ss77995ss commented on #839
@helfi92 / I created a PR for this issue, please kindly have a look when you have time, thanks :)

[2019-07-18 17:33] helfi92 commented on #957
Yep.

No need to delete it. It is actually in `.gitignore` so git will not ask you to add it.

[2019-07-18 17:46] helfi92 commented on #985
Yeah, I think the bug is in `react-lazylog`.

[2019-07-18 18:05] #839 closed

[2019-07-18 18:52] helfi92 commented on #965
\o/ we are half way done :)

[2019-07-18 19:28] shubhamgupta2956 commented on #965
@helfi92 I tried opening denylist and adding secret but it is restricting me asking to add clientID. How can I add it?

[2019-07-18 19:31] helfi92 commented on #965
You will need to use the CLI to get a TC client and access token. The instructions can be found [here](https://github.com/taskcluster/taskcluster/tree/master/services/web-server#taskcluster-credentials). Let me know if that helps.

[2019-07-18 21:36] #957 closed

[2019-07-19 00:28] arku commented on #1064
@djmitche FYI, the error responses link shared in the issue description seems to be broken.

[2019-07-19 01:52] arku commented on #985
@helfi92 This bug was fixed in https://github.com/mozilla-frontend-infra/react-lazylog/pull/43

Fun fact, the above-mentioned PR wasn't intended to fix this issue :smile: I updated the description to help others understand the issue. Let me know if it is unclear.

I have submitted a PR upgrading react-lazylog to 4.2.0 [here](https://github.com/taskcluster/taskcluster/pull/1070) with which we can c

[2019-07-19 06:39] Shubhamchinda commented on #639
Hey, @helfi92 , Can I take this issue?

[2019-07-19 08:26] helfi92 commented on #639
Go for it.

[2019-07-19 08:38] Shubhamchinda commented on #639
Thanks, could you please tell more details about the issue?

[2019-07-19 12:07] helfi92 commented on #639
If you navigate to the Task view of a task (e.g., https://taskcluster-ui.herokuapp.com/tasks/LoVU_7KCSGK0pKI92GNTCQ), you will be able to see the current status in the favicon:

![Screen Shot 2019-07-19 at 8 03 35 AM](https://user-images.githubusercontent.com/3766511/61533750-bfb97a80-a9fb-11e9-973b-5a47ef8f5951.png)

Clicking on the "View Live Log" button of that view will bring you to https://ta

[2019-07-19 12:21] helfi92 opened #1073 "[UI] Label is overflowing"
STR:

1. Navigate to https://taskcluster-ui.herokuapp.com/
2. Click sign in
3. Set Client ID to "test", Access Token to "test" and JSON certificate to `11111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111

[2019-07-19 12:51] rbrishabh commented on #1073
Hey! Can I take this up?

[2019-07-19 12:53] djmitche commented on #1064
Ah, it's https://docs.taskcluster.net/docs/manual/design/apis/errors now.

[2019-07-19 12:57] helfi92 commented on #1073
Go for it.

[2019-07-19 13:11] #985 closed

[2019-07-19 13:12] helfi92 commented on #985
Many thanks @ss77995ss and @arku for looking into it 😍

[2019-07-19 13:27] ss77995ss commented on #818
I think it has already had a button to redirect to task ID/task group in the bottom right of the Log page. (Go to page like `http://localhost:5080/tasks/NlNDq14dSw-9GR9JBeIfrg/runs/0` directly) But maybe it is not clear enough for the users to notice the button.
<img width="1263" alt="Screen Shot 2019-07-19 at 21 20 11" src="https://user-images.githubusercontent.com/28031139/61538013-1742ff00-aa6b

[2019-07-19 13:35] helfi92 commented on #818
I think the user wants a way to jump to a different task ID than the one "View Task" button takes you to.

[2019-07-19 13:54] ss77995ss commented on #818
OK, I see. Perhaps we can add a button to let the user enter the task or group ID and redirect to the target page?

[2019-07-19 14:12] ss77995ss commented on #987
Hi, can I take this up? Thanks:)

[2019-07-19 14:20] helfi92 commented on #987
Go for it. It's a tricky issue.

[2019-07-19 14:23] #1046 closed

[2019-07-19 14:28] helfi92 commented on #818
Good idea. I'm thinking of the following:

1. Use a SpeedDial component with the following buttons inside:
* Raw Log
* View Task
* View Different Task
2. Remove the current Raw Log button since it will be inside the speed dial
3. Clicking on "View Different Task" would open up a dialog asking to insert a task ID to view

[2019-07-19 14:29] helfi92 commented on #818
We use the SpeedDial component in many of our views. For example, https://taskcluster-ui.herokuapp.com/tasks/groups/dVkjPihESQeA8eugE2KJ4w.

[2019-07-19 19:05] Shubhamchinda commented on #639
@helfi92 Thanks for the details, So we need to show the same status of the task in the "task log" favicon?

[2019-07-19 19:26] helfi92 commented on #639
Yeah.

[2019-07-19 19:48] ncalexan opened #1079 "Artifacts with URL encoded filenames can't be downloaded"
My Task Cluster task most naturally produces artifacts identified by URLs, so these URLs are encoded in the filename (well, in the directory part of the filename).  These appear to be uploaded correctly but they cannot be downloaded.  See, for example, https://tools.taskcluster.net/groups/Lp77UnjWSo65lTmcgyA1Pg/tasks/G7fVftFGTg6BMkjg0geGXQ/runs/0/artifacts which has an artifact named like `public/

[2019-07-19 20:08] djmitche commented on #1079
The fully-encoded URL `https://queue.taskcluster.net/v1/task/G7fVftFGTg6BMkjg0geGXQ/runs/0/artifacts/public/test_info%2Fbrowsertime-results%2Fhttps%253A%252F%252Fwww.facebook.com%2Fbrowsertime.json` is correct.  That the UI generated an unescaped filename is a bug that we should fix.

There's an issue in cloud-mirror/S3 around escaped filenames.  I think setting the header [`x-taskcluster-skip-cac

[2019-07-19 21:33] djmitche commented on #1079
The second bug is not something we can fix quickly.  It's also not something that affects users who are not in EC2 (and thus not getting redirected by cloud-mirror).

The first is a UI bug that could be fixed..

[2019-07-19 22:47] shubhamgupta2956 commented on #965
@helfi92 I am a bit confused on how to use taskcluster-cli. Like how to use it for adding those variables.

[2019-07-20 00:49] helfi92 commented on #965
taskcluster-cli is used to generate taskcluster credentials. Once you have the credentials, you click on the "sign in" button in the UI and then fill the clientID and access token with whathever taskcluster-cli creates for you. You can ignore the certificate input.

<img width="719" alt="Screen Shot 2019-07-19 at 8 48 28 PM" src="https://user-images.githubusercontent.com/3766511/61572061-9a158b00-

[2019-07-20 06:15] rbrishabh commented on #1073
Hey @helfi92 ! I hope you're doing well.

![bug-2](https://user-images.githubusercontent.com/22501334/61574942-b0156100-aae3-11e9-8227-8d34371c6111.png)

Does this look okay?

Also to achieve this, I can do both -- Add inline styling on certificate field, or change it's styling from material-ui in node modules. Which way should I do it?

Thanks!

[2019-07-20 10:16] Shubhamchinda commented on #639
Hey @helfi92

![Screenshot (195)](https://user-images.githubusercontent.com/21038543/61577488-82d9aa80-ab05-11e9-96bc-b215d255b57c.png)

Is this the fix you're looking for?

[2019-07-20 13:58] shubhamgupta2956 commented on #965
Sorry for not making the question clear. I just want to know about the commands or methods from which I can use taskcluster-cli to generate credentials. There are no instructions for that in the taskcluster-cli repo.

[2019-07-20 17:19] Shubhamchinda commented on #749
Thanks, I'll look into it and ask you if I get stuck.

[2019-07-20 18:17] ss77995ss commented on #987
Hi @helfi92 , I have some questions while I developing this issue
1. It seems like `Dashboard` max-width is `1592px` just curious why to set this number

<img width="1280" alt="Screen Shot 2019-07-21 at 01 57 31" src="https://user-images.githubusercontent.com/28031139/61582261-24d7b200-ab5b-11e9-8d60-480ec0a489be.png">

2. I tried to use the same way in `TaskGroupTable`, but they are a little diff

[2019-07-21 05:38] rbrishabh commented on #1079
Hey @djmitche! Can I take up the first UI bug part of this issue?

Thanks!

[2019-07-21 13:44] djmitche commented on #1079
Yes please!  I think you can see an example of it at the first link in nick's comment, and the resulting URL should be the third link in their comment (with lots of %)

[2019-07-21 17:43] rbrishabh commented on #1079
@djmitche Alright, I think I got it. But I still don't know where in code is the ui generating the unescaped filename. Can you please guide me with this?

Thanks!

[2019-07-21 18:29] globefire commented on #639
@helfi92 is this issue assigned? I would love to contribute to this issue.

[2019-07-21 19:02] helfi92 commented on #639
Yeah.

[2019-07-21 19:03] helfi92 commented on #639
Yeah. It's assigned to @Shubhamchinda.

[2019-07-21 19:36] djmitche commented on #1079
I'm not sure either -- I'd guess under https://github.com/taskcluster/taskcluster/tree/master/ui/src/components/TaskRunsCard since it appears in the task run card?

[2019-07-22 06:28] sonyshubham commented on #639
@helfi92 sorry for the delayed response, was travelling and did not have access to internet. Since it is assigned to @Shubhamchinda now is there anything else I can work on.

Thanks

[2019-07-22 08:24] rbrishabh commented on #1079
Hey @djmitche !

Over inside of [https://github.com/taskcluster/taskcluster/blob/master/ui/src/components/TaskRunsCard/index.jsx](url), I am guessing --
[code]

This is the relevant code that needs to be changed. Instead of returning url when if(isLog) is false, we need to return encoded url, something like,
```return encodeURIComponent(url)``` in the end.

Did I get it right?

If not, just let me

[2019-07-22 12:58] djmitche commented on #1079
I think you're close, but it looks like that's for the livelog URL, which is used to show logs in the UI.  And it's already encoded.  The URLs that *aren't* encoded are in the "Artifacts" section of the run card.

[2019-07-22 13:20] helfi92 commented on #639
No worries. Let me know if there an unassigned issue that you're interested in tackling. We also have many issues that are tracked in bugzilla. You can look at https://codetribute.mozilla.org/projects/taskcluster.

[2019-07-22 13:59] #1073 closed

[2019-07-22 14:47] rbrishabh commented on #1079
Hey @djmitche !

After going through the code again, I believe both ```live log``` section and ```Artifacts``` section make use of the same ```getArtifactUrl``` method to encode the url.

When ```live log``` calls the url, it calls it with ```isLog``` value which is ```true```, which returns the encoded url.

While ```Artifacts``` section calls ```renderArtifactsTable()``` method, which in turn ca

[2019-07-22 15:03] projectyang commented on #665
Hey @helfi92, I'd like to help with this.

Based on the docs, it seems like there's a requirement for network-only on views like this. Would changing the fetch policy to 'cache-and-network' be a suitable compromise?

[2019-07-22 15:36] jonalmeida commented on #1043
I figured as much, but thought I'd ask regardless. Thank you! :)

[2019-07-22 15:39] helfi92 opened #1093 "[UI] documentation menu is hard to close on mobile"
STR:

1. Navigate to https://taskcluster-ui.herokuapp.com/docs/resources
2. Open the developer tools and click on the responsive design mode button

![Screen Shot 2019-07-22 at 11 36 54 AM](https://user-images.githubusercontent.com/3766511/61645624-0665d980-ac75-11e9-9f16-a1bf370bf7d3.png)

3. Refresh the page
4. Click the hamburger menu to open the side drawer

Actual: It's hard to close the menu

[2019-07-22 15:41] helfi92 commented on #1073
I just created https://github.com/taskcluster/taskcluster/issues/1093. If you're interested, comment on the bug directly :)

[2019-07-22 15:41] rbrishabh commented on #1093
Can I take this up? @helfi92

[2019-07-22 15:47] helfi92 commented on #1093
Go for it.

[2019-07-22 17:55] sonyshubham commented on #639
Thanks for the tip, will check out the issues and proceed accordingly.

[2019-07-22 18:27] helfi92 commented on #665
That may or may not work. I'm not sure how this would interact with the subscriptions that we have in https://github.com/taskcluster/taskcluster/blob/master/ui/src/views/Tasks/TaskGroup/index.jsx#L242-L248. When updates come (e.g., a task status has changed), we update the cache using [`subscribeToMore`](https://www.apollographql.com/docs/react/advanced/subscriptions/#subscribetomore) https://gith

[2019-07-22 18:58] #1038 closed

[2019-07-22 18:59] helfi92 opened #1095 "Update dev-docs/login-process.md"
There's been changes, notably https://github.com/taskcluster/taskcluster/pull/1039. We'll also need to modify this document once third party login is implemented.

[2019-07-22 20:06] djmitche commented on #1079
(thanks for the note about editing the comment -- it's very confusing when comments get edited without any notes!)

Interesting, so it looks like we use encoding only for `isLog === true`.  Those links lead to another page in the UI that displays the log, rather than linking to the artifact itself.  So we can leave those along.

The only reason I can think of to *not* escape artifact links is to a

[2019-07-23 07:26] ss77995ss commented on #818
Cool, thanks for the information. Can I take this one up if nobody is working on it?

[2019-07-23 08:04] whimboo commented on #217
Any update here? Thanks

[2019-07-23 12:31] helfi92 commented on #818
Definitely. Go for it.

[2019-07-23 14:00] helfi92 commented on #987
We set a max width so that elements don't keep stretching on wider screen. This kind of constraint is done on many site, including GitHub.

That sounds like a great idea.

[2019-07-23 14:02] helfi92 commented on #965
Ah, the instructions are in the README of web-server. https://github.com/taskcluster/taskcluster/tree/master/services/web-server#taskcluster-credentials

Basically `./taskcluster signin --name taskcluster-web-server` would open a browser for you to login. Once you login via the browser, credentials will be outputted in the terminal.

[2019-07-23 14:10] rbrishabh commented on #1079
Hey @djmitche !

Following the second approach mentioned by you,

[code]

I think this should fix it.

That being said, even I don't know where ```artifact``` gets their ```url``` property from. Could be entirely possible it's from web-server as well.

Should I make a PR with the above fix?

[2019-07-23 14:17] #1093 closed

[2019-07-23 14:24] djmitche commented on #1079
Yeah, I think it's easier to discuss a fix in a PR.  I'm not sure that will work, but there's one way to find out :)

[2019-07-23 14:37] helfi92 opened #1099 "[web-server] Cookies not working properly in production"
STR:

1. Navigate to https://taskcluster-ui.herokuapp.com/
2. Open the developer console and type window.open('/login/mozilla-auth0')
3. Login

Expected: The user is logged in
Actual: The user is not logged in in production. Works in localhost.

Problem: Cookies are not being set for some reason. https://github.com/taskcluster/taskcluster/pull/1097 was an attempt to fix the issue but that didn't f

[2019-07-23 16:37] arshadkazmi42 commented on #1002
<img width="919" alt="Screen Shot 2019-07-23 at 10 06 04 PM" src="https://user-images.githubusercontent.com/4654382/61730022-2345fe00-ad96-11e9-95a8-cd4778b6df0a.png">

@helfi92 I am seeing this error, and the url is giving me ResourceNotFound.
Do I need to configure something for this?

[2019-07-23 18:22] helfi92 commented on #1002
@arshadkazmi42  give https://taskcluster-ui.herokuapp.com/tasks/ErcaD1nfRUiuXYCudbZO0A/runs/0/logs/https%3A%2F%2Fqueue.taskcluster.net%2Fv1%2Ftask%2FErcaD1nfRUiuXYCudbZO0A%2Fruns%2F0%2Fartifacts%2Fpublic%2Flogs%2Flive.log a try.

[2019-07-23 18:23] Shubhamchinda commented on #217
Can I take it?

[2019-07-23 18:31] helfi92 commented on #217
Definitely. The bug is in hterm-umdjs. There's an issue filed [here](https://github.com/dbkaplun/hterm-umdjs/issues/6). You will want to clone that repo and symlink it so you can test the changes using Taskcluster UI.

Reference: https://yarnpkg.com/lang/en/docs/cli/link/

Hope that helps.

[2019-07-23 20:53] shubhamgupta2956 commented on #965
I tried the command
```eval $(./taskcluster signin --name taskcluster-web-server)```
but it is not opening any browser. It just gives an error saying ```No such file or directory```

[2019-07-23 21:49] helfi92 commented on #965
You need to download the binary for your OS from the taskcluster-cli README

[2019-07-24 19:31] shubhamgupta2956 commented on #965
It is not available for linux.

[2019-07-25 02:07] arku commented on #1099
@helfi92 How do I go about testing this locally?

[2019-07-25 12:35] helfi92 commented on #1099
👋 @arku

I think it would be easiest to test this using GitHub. To configure the strategy,
you will need to register an application with GitHub. If you don’t have one,
you can create one at [developer applications](https://github.com/settings/applications/new) within
GitHub’s setting panel. Once the application is created, In order to enable the github strategy, changes to both`taskcluster-ui` and

[2019-07-25 12:37] helfi92 commented on #965
In https://github.com/taskcluster/taskcluster/tree/master/clients/client-shell#installation, there's linux-amd64. Does that work?

[2019-07-25 16:52] shubhamgupta2956 commented on #965
No, it is not working.

[2019-07-25 18:11] helfi92 commented on #965
Interesting. Any chance you are running the command outside the directory of where the binary is installed? I would expect a different error than `No such file or directory` if the binary is not for your OS.

[2019-07-25 18:51] shubhamgupta2956 commented on #965
No, I mean to say that the linux-amd64 file is not available in the site. It is giving github page 404 error.

[2019-07-25 19:30] ruchikabgosain commented on #705
Hey @helfi92 are there still changes needed in this one? Let me know i'll be happy to take this up :)

[2019-07-25 19:34] ruchikabgosain commented on #631
Hey @sudipt1999 are you still working on this one?

[2019-07-25 19:35] helfi92 commented on #965
Oh I see. Does https://github.com/taskcluster/taskcluster/releases/tag/v15.0.0 work?

[2019-07-25 20:45] helfi92 commented on #705
I haven't heard from @sagalbot. Feel free to give it a try.

[2019-07-25 20:46] arku commented on #705
@helfi92 FYI, there is an open [PR](https://github.com/taskcluster/taskcluster/pull/858) which fixes this issue.

[2019-07-25 21:40] arku commented on #1099
@helfi92 I am running into a similar error when trying to use Github login strategy :confused:

[code]

I am running the web server with `UI_LOGIN_STRATEGIES='{"github": {"clientId": "..", "clientSecret": ".."}}' TASKCLUSTER_ROOT_URL=https://taskcluster-staging.net yarn start`

What am I doing wrong? :thinking:

[2019-07-25 21:47] helfi92 commented on #1099
Ah. That’s because the process running web-server needs taskcluster creds to run. You can get the taskcluster binary from https://github.com/taskcluster/taskcluster/blob/master/clients/client-shell/README.md

The command to run is written [here](https://github.com/taskcluster/taskcluster/blob/master/services/web-server/README.md#taskcluster-credentials). Make sure the command is run in the same te

[2019-07-25 23:47] arku commented on #1099
@helfi92 Running into an 'Invalid client error' messsage :confused:

[2019-07-26 01:03] helfi92 commented on #1099
Interesting. Were you able to sign-in in the browser after running the command?

[2019-07-26 01:30] arku commented on #1099
@helfi92 I ran `eval $(./taskcluster signin --name taskcluster-web-server)` and got the following output:
[code]

And if I open the URL, I find a 'Client not found' message. Do you see what I am missing?

[2019-07-26 05:48] sudipt1999 commented on #631
Sorry ! currently I am on my internship so can't work on it, feel free to
take on this !

On Fri, Jul 26, 2019 at 1:04 AM Ruchika <notifications@github.com> wrote:

[2019-07-26 09:55] shubhamgupta2956 commented on #965
It is showing this error
![Screenshot from 2019-07-26 15-24-45](https://user-images.githubusercontent.com/43504292/61943657-8ebbe580-afb9-11e9-87a0-c7471bb2774f.png)

[2019-07-26 13:02] helfi92 commented on #1099
You shouldn't try to open the URL yourself. The binary itself will open the browser tab for you. Is it possible you didn't see the tab that was opened for you?

[2019-07-26 13:04] helfi92 commented on #1099
Will close after verifying that it works in production.

[2019-07-26 14:02] helfi92 commented on #965
@djmitche Any idea how @shubhamgupta2956 can get unblocked?

[2019-07-26 14:03] helfi92 commented on #705
Whoops, thanks for the link @arku. Not sure how this got out of my radar.

[2019-07-26 16:37] ss77995ss commented on #818
Hi @helfi92 , I just created a PR for this issue and I leave some questions in it. Please kindly have a look when you have time, thanks!

[2019-07-26 16:44] ss77995ss commented on #987
Hi @helfi92 , I'm working on this issue in `react-lazylog`, now. Can you help me know how to change the **Styleguidist Demo** page? I want to preview the `<LazyLog />` component with other layouts. Thanks.

[2019-07-26 17:13] helfi92 commented on #987
@ss77995ss I think the issue is in this repository but it doesn't hurt to look in react-lazylog. To run the styleguide, you have to run `yarn styleguide` to start the server. To change particular components, you could modify the README.md file inside `src/component/<component-name>`. It should update the styleguide.

[2019-07-26 17:15] helfi92 commented on #818
Many thanks @ss77995ss. I took a quick look and it looked really good :) I will review soon.

[2019-07-26 17:51] arshadkazmi42 commented on #1002
@helfi92 Looks like this will need a fix in this repo also https://github.com/mozilla-frontend-infra/react-lazylog
So, we will need to accept a flag in lazylog for `caseInsensitiveSearch` and need to pass this flag during search from taskcluster log search.
Is my thought process in right direction?

[2019-07-26 18:35] ruchikabgosain commented on #631
AFAIK, we need to change the `headers` prop in `DataTable` from accepting only an array of strings to being able to receive an array of objects of the form `{ label: '<column-name>', id: '<property-name-in-original-object', type: '<to-right-align-columns>' }`.

Am I right? @helfi92 Is there anythign else i need to know to work upon this?

[2019-07-26 18:50] arshadkazmi42 commented on #1002
I feel like this diff should be enough for LazyLog component
[code]

[2019-07-26 20:40] helfi92 commented on #1002
Looks good. Feel free to open a pull-request there.

[2019-07-27 18:14] arshadkazmi42 commented on #1002
@helfi92 Added a PR at [mozilla-frontend-infra/react-lazylog#47](https://github.com/mozilla-frontend-infra/react-lazylog/pull/47)

[2019-07-29 12:39] djmitche opened #1122 "Run 'go mod tidy' in yarn generate"
`go mod tidy` seems to do a good job of cleaning out the cruft that other `go` tools put into `go.mod` and `go.sum`.  Let's run that command in both `clients/client-go` and `clients/client-shell` on every `yarn generate` run.

It will also be useful to add that command to the [renovate config](https://renovatebot.com/docs/configuration-options/#gomod).

[2019-07-29 14:17] helfi92 commented on #631
@ruchikabgosain You have the right idea :)

[2019-07-29 16:24] rbrishabh commented on #1122
Hey! I have little to no knowledge of go. Should I take up this issue?

[2019-07-29 16:28] djmitche commented on #1122
In fact most of the code to write would be in JS under `infrastructure/builder/src/generate`, so maybe!  But start by getting the `clients/client-go` and `clients/client-shell` tests to run -- in other words, get a working go development environment up and running.

[2019-07-29 17:04] djmitche opened #1123 "[UI] Log viewer links from artifacts list to empty artifacts keep spinning"
**Describe the bug**
Artifacts for a run which are detected to be "logs" by the UI are displayed in a dedicated log-viewer window.  This doesn't seem to load.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://taskcluster-ui.herokuapp.com/tasks/BkoMwSh5TbqEE_W69Zq8Wg
2. Click on "Artifacts"
1. Click on the `xvfb.log` artifact
4. See error

**Expected behavior**
Displays the (short

[2019-07-29 17:25] helfi92 commented on #1123
Hm, doesn't seem to load in the old UI as well: https://tools.taskcluster.net/groups/BStks92NTxiOxwlEXajNlw/tasks/BkoMwSh5TbqEE_W69Zq8Wg/runs/0/artifacts

[2019-07-29 17:34] djmitche commented on #1123
Ah, looks like it's empty.  So perhaps the code doesn't detect empty artifacts correctly.  All of the other logfiles on that push *do* display correctly.

[2019-07-29 18:21] djmitche commented on #1099
That's on the taskcluster-staging cluster, which runs the new UI and does not support CLI logins (yet).  The URL is based on `$TASKCLUSTER_ROOT_URL`, and the only value of that variable that will work right now is `https://taskcluster.net`.

[2019-07-29 18:45] helfi92 commented on #1099
@djmitche I'm not sure I understand the question or how it relates to this issue. Could you elaborate, please? Thanks!

[2019-07-29 20:09] djmitche commented on #1099
It wasn't a question, but an answer to @arku as to why that login process didn't work.

[2019-07-30 05:37] Shubhamchinda commented on #1123
Hey , can I work on this?

[2019-07-30 14:23] #639 closed

[2019-07-30 18:15] shubhamgupta2956 commented on #965
@helfi92 can I take another issue until I got unblocked?

[2019-07-30 18:36] helfi92 commented on #965
@djmitche Just informed me that the download link is not working and that we should be using https://github.com/taskcluster/taskcluster/releases/download/v15.0.0/taskcluster-linux-amd64 instead. See if that helps.

[2019-07-30 18:41] helfi92 commented on #965
Also, feel free to create a PR to fix the link in the README. I think there are extra quotes by mistake: https://github.com/taskcluster/taskcluster/tree/master/clients/client-shell#installation

[2019-07-30 19:29] shubhamgupta2956 commented on #965
It is working now but it still does not give me access token though it gives a clientId to me. Also when I visited the denylist page, it says "Bad mac". How can I solve this?

[2019-07-30 22:49] helfi92 commented on #965
Bad mac means you are using bad credentials (probably the wrong access token for the client ID). What command did you run on your terminal?

[2019-07-31 05:14] shubhamgupta2956 commented on #965
export TASKCLUSTER_ROOT_URL="https://taskcluster.net" eval $(./taskcluster-linux-amd64 signin --name taskcluster-web-server)

[2019-07-31 11:55] helfi92 commented on #965
This is weird. Where is it giving you the client ID. In the terminal or browser? Can you provide a screenshot of where it's giving it to you, please?

[2019-07-31 12:50] #1062 closed

[2019-07-31 15:29] helfi92 commented on #1002
@arshadkazmi42 The only thing left would be to update the dependency and add the appropriate prop :)

[2019-07-31 16:57] #1002 closed

[2019-07-31 21:06] escapewindow opened #1140 "add worker-oriented chain of trust documentation"
We have chain of trust documentation [here](https://scriptworker.readthedocs.io/en/latest/chain_of_trust.html) and a roadmap [here](https://docs.google.com/document/d/1nr8mBpiK527ojD1yeTJYONtDRE3ADBCbIWm7q8nRgSA/edit), but we don't have any documentation for the docker-worker and generic-worker implementation and maintenance.

[2019-08-01 00:24] Shubhamchinda commented on #1123
Hey, Thanks a lot!

Could you please tell me what we need to show when the page keeps on loading since the artifacts are empty.
Thanks again!

[2019-08-01 03:09] shubhamgupta2956 commented on #965
It gives the access token this time. I used mozilla oAuth last time and it does not provides any token. I don't know how it worked this time. But I now got the scope problem and when I tried to add it, it says that I am not authorized.
![Screenshot from 2019-08-01 08-38-03](https://user-images.githubusercontent.com/43504292/62262883-e7ff9b00-b437-11e9-8a83-371465a3bb35.png)

[2019-08-01 12:24] helfi92 commented on #965
Try again. I just gave you that missing scope.

[2019-08-01 12:57] helfi92 commented on #1123
I think showing an empty log is okay.

[2019-08-01 15:58] shubhamgupta2956 commented on #965
I got disabled now.
![Screenshot from 2019-08-01 21-27-19](https://user-images.githubusercontent.com/43504292/62308582-35652200-b4a3-11e9-87f3-796a3363a1ea.png)

[2019-08-01 17:03] helfi92 commented on #965
I'm not sure why. @djmitche Would you happen to know by any chance why @shubhamgupta2956 client got disabled?

[2019-08-01 17:38] shubhamgupta2956 commented on #965
Can there be any problem with the clientId?
My clientId is `mozilla-auth0/oauth2|firefoxaccounts|6de766304ad44497b89bbe624c0da144|shubham.gupta2956@gmail.com/`

[2019-08-01 18:12] helfi92 commented on #965
If you navigate to https://taskcluster-ui.herokuapp.com/auth/clients?search=mozilla-auth0%2Foauth2%7Cfirefoxaccounts%7C6de766304ad44497b89bbe624c0da144 you will see that you've created many client IDs. The client ID with the required scopes is the one in https://github.com/taskcluster/taskcluster/issues/965#issuecomment-517100620 since that's the only I gave permission. All the others will complai

[2019-08-01 18:18] shubhamgupta2956 commented on #965
The client ID is not in the link you have provided. Please remove the scope from the previous client ID and add it in https://github.com/taskcluster/taskcluster/issues/965#issuecomment-517387079. Sorry for inconvenience

[2019-08-01 19:33] #1140 closed

[2019-08-01 21:48] djmitche commented on #965
The client scanner probably did that.

[2019-08-02 12:52] helfi92 commented on #965
Done. Added the scopes to https://taskcluster-ui.herokuapp.com/auth/clients/mozilla-auth0%2Foauth2|firefoxaccounts|6de766304ad44497b89bbe624c0da144|shubham.gupta2956%40gmail.com%2F.

[2019-08-03 05:31] tomprince opened #1148 "[UI] Allow pasting an full index to find tasks."
Most ways of interacting with the index don't treat the last component specially, so all components are separated by `.`. It would be nice to paste that form of index both into the UI, and into a URL, and be able to see the task. Currently, you need to edit the index to replace the trailing `.` with `/` to be able to see the index.

[2019-08-03 12:15] #1079 closed

[2019-08-03 15:00] shubhamgupta2956 commented on #965
I am still disabled...
![Screenshot from 2019-08-03 20-28-17](https://user-images.githubusercontent.com/43504292/62413504-548fbb00-b62d-11e9-8aef-d3aca64e514f.png)

[2019-08-04 18:03] tomprince opened #1150 "[UI] The worker page doesn't contain worker information."
The page for an individual worker such as
https://taskcluster-ui.herokuapp.com/provisioners/aws-provisioner-v1/worker-types/hg-push/workers/us-west-2/i-0130a316a7ba1733a
doesn't include the worker-id or worker-group.

[2019-08-05 14:42] djmitche opened #1156 "Task group without a decision task repeatedly shows an error"
When viewing [this](https://taskcluster-ui.herokuapp.com/tasks/groups/B-8evnFQRbuX6yeLO49IRg) task group, I get an error bar:

![image](https://user-images.githubusercontent.com/28673/62472850-9c1d6080-b76d-11e9-977b-0c10fcaf2bdb.png)

After dismissing this, it reappears almost instantly.  It looks like it's looking for the decision task (since it's referring to a taskId matching the taskGroupId).

[2019-08-05 16:40] djmitche opened #1159 "Task "Edit" button does not correctly fill in the editor"
**Describe the bug**
When selecting the "Edit" option, I'm taken to a blank "Create Task" page

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://dustin.taskcluster-dev.net/tasks/CM18iwb-T6CU4G49mqxREw (or any active task)
2. Click on "Edit"
4. See empty editor

**Expected behavior**
An editor prepared with the contents of the task.

[2019-08-06 12:20] shubhamgupta2956 commented on #965
@helfi92 can I take any other issue until this got fixed?

[2019-08-06 13:14] helfi92 commented on #1148
Perhaps we could add a search box that takes in a namespace name (e.g., buildbot.branches.mozilla-esr52.linux64-artifact). Would that help?

[2019-08-06 13:23] helfi92 commented on #325
Re-opening this issue since it was agreed to keep this view for the beginning of redeployability.

[2019-08-06 13:24] helfi92 commented on #325
@ziyadElon Are you still interested in tackling this issue?

[2019-08-06 13:25] helfi92 commented on #1150
Re-opened https://github.com/taskcluster/taskcluster/issues/325.

[2019-08-06 13:25] #1150 closed

[2019-08-06 14:21] helfi92 commented on #1156
This issue probably only happens when the task group is running, re-showing the error whenever an update happens and the listener triggers.

Culprit: When the task event listener triggers, the error object reference changes which makes the ErrorPanel component re-display the error since the `error` prop reference changes.

[2019-08-06 14:25] helfi92 commented on #1156
@djmitche How often is there a task group without a decision task?

[2019-08-06 14:31] djmitche commented on #1156
In Firefox CI, rarely, but in general, quite often.

[2019-08-06 14:44] helfi92 commented on #1159
To fix this issue, you would need to delete the indexed DB `taskDefinitons` table.

![Screen Shot 2019-08-06 at 10 30 00 AM](https://user-images.githubusercontent.com/3766511/62548685-31cff300-b835-11e9-9951-539afc95ff53.png)

We could technically do a https://dexie.org/docs/Dexie/Dexie.version() version upgrade but since that change was done a while ago when nobody outside Taskcluster was using t

[2019-08-06 14:45] #627 closed

[2019-08-06 15:41] helfi92 commented on #965
@shubhamgupta2956 Are you able to create then view a secret owned by you?

1. Login
2. Create a secret
3. View the secret you just created

[2019-08-06 17:12] tomprince commented on #1148
I often have a full index path, not just the namespace, and would like to be able to use this directly. This is particularly important for namespaces like https://taskcluster-ui.herokuapp.com/tasks/index/gecko.v2.try.revision that have hundreds or thousands of entries in effectively random order.

[2019-08-06 17:20] helfi92 commented on #1148
You would be able to use the full index path, for example, `gecko.v2.try.revision.0001b4f6ab73f02e12bc7594ed840bb6789357a7.firefox.decision` in the search box after the search component gets implemented.

[2019-08-06 18:03] djmitche commented on #1159
Indeed, that fixed it - thanks!

[2019-08-06 18:03] #1159 closed

[2019-08-07 18:34] rbrishabh commented on #325
I would love to take this up @helfi92 !

[2019-08-07 19:10] helfi92 commented on #325
Go for it @rbrishabh.

[2019-08-08 22:00] helfi92 commented on #818
Resolved in https://github.com/taskcluster/taskcluster/commit/e202a48c0183d8f4c9420ff7cb0a051e567b1d51.

[2019-08-08 22:00] #818 closed

[2019-08-09 12:48] Shubhamchinda commented on #1123
Hey @helfi92 , Sorry for late response I had some intern work to finish.

I tried to find the solution but I didn't see any change in the `props/state` of the Log file or anything which is related to fetching a log when there're empty log artifacts. Could please guide me a little here?

Thanks a lot :)

[2019-08-09 15:52] helfi92 commented on #1123
Hey @Shubhamchinda. I think the fix will need to be done in https://github.com/mozilla-frontend-infra/react-lazylog since it takes care of displaying the loading component. I think the issue lies in https://github.com/mozilla-frontend-infra/react-lazylog/blob/3cc37f8f32a5103ac3157c4c2a4ae32278512030/src/components/LazyLog/index.jsx#L573-L598. Hope that helps.

[2019-08-09 18:58] arku commented on #1148
@helfi92 I would like to attempt building this feature.

[2019-08-09 19:10] shubhamgupta2956 commented on #965
No, I can't add secret. It is still showing the user is disabled.

[2019-08-09 19:18] helfi92 commented on #1148
👋 @arku. Go for it :)

[2019-08-09 19:32] helfi92 commented on #965
Do you mind trying again. I just created a role with the scopes: https://tools.taskcluster.net/auth/roles/login-identity%3Amozilla-auth0%2Foauth2|firefoxaccounts|6de766304ad44497b89bbe624c0da144|shubham.gupta2956%40gmail.com

If that doesn't work, what clientId is it saying that it's disabled?

[2019-08-09 19:52] shubhamgupta2956 commented on #965
It is still not working. Can it be due to roleID instead of clientID?

[2019-08-09 19:53] helfi92 commented on #965
What clientId is it saying that it's disabled?

[2019-08-09 19:54] helfi92 commented on #965
Actually. I just enabled your clientId. Not sure why it got disabled. It should work now.

[2019-08-09 19:56] shubhamgupta2956 commented on #965
It is now saying
`Client with clientId 'mozilla-auth0/oauth2|firefoxaccounts|6de766304ad44497b89bbe624c0da144|shubham.gupta2956@gmail.com' not found`

[2019-08-09 21:28] helfi92 commented on #965
Right it doesn't exist. The one that exists ends with a forward slash at the end of the name.

[2019-08-09 21:53] shubhamgupta2956 commented on #965
I think I had misplaced the access key for this clientID. How can I get it again?

[2019-08-09 21:57] helfi92 commented on #965
You'll need to run the command in https://github.com/taskcluster/taskcluster/issues/965#issuecomment-514379895, click on "Create a new clientId", then edit the client ID name accordingly.

![Screen Shot 2019-08-09 at 5 55 51 PM](https://user-images.githubusercontent.com/3766511/62811230-f8b2af80-bace-11e9-98ec-90e2ebd24422.png)

[2019-08-09 21:59] helfi92 commented on #965
Actually, if you probably just need to run the command in the previous comment then login in the UI with good credentials. The role that I setup should allow that client to work.

[2019-08-10 12:51] shubhamgupta2956 commented on #965
But how can I login if I don't have access token? Also I can't access that page until I am not logged in.

[2019-08-10 13:38] helfi92 commented on #965
**1)** Run `./taskcluster signin --name taskcluster-web-server` in the terminal. Wait for a new browser tab to open.

**2a)** If you are already logged in to tools.taskcluster.net, you will see:

![Screen Shot 2019-08-10 at 9 29 09 AM](https://user-images.githubusercontent.com/3766511/62822436-82a35c80-bb51-11e9-90c3-c37d7f8c62fa.png)

Click on "Create a new ClientID" and then create a client ID.

[2019-08-10 13:42] shubhamgupta2956 commented on #965
It worked and now I can access both the pages. I will try to finish this task ASAP.

[2019-08-11 16:23] shubhamgupta2956 commented on #965
I am now getting this
![Screenshot from 2019-08-11 21-45-46](https://user-images.githubusercontent.com/43504292/62836578-5fc49580-bc82-11e9-858e-dd83b0f6cd9d.png)
Do I have to generate a separate access token every time?

[2019-08-11 17:18] helfi92 commented on #965
I extended the expiration of the client ID. It should work now :)

[2019-08-12 08:45] Shubhamchinda commented on #1123
Thank @helfi92 .
I looked into it and I noticed we have no condition for the return value when the log is empty in [`renderNoRows`](https://github.com/mozilla-frontend-infra/react-lazylog/blob/3cc37f8f32a5103ac3157c4c2a4ae32278512030/src/components/LazyLog/index.jsx#L573-L598). Do I need to add that or do you need the same [`Line`](https://github.com/mozilla-frontend-infra/react-lazylog/blob/3cc37

[2019-08-12 13:29] helfi92 commented on #1123
When the log is streaming, `loaded` will be `false`. I think that's why we don't do `if(loaded)` and do `if (count)`. I wonder if something like `if(count || (!stream && loaded))` would do it. Thoughts?

Regarding the `no-console`, issue, something like https://github.com/mozilla-frontend-infra/bugzilla-graphql-gateway/blob/651c3bd2d97411c21119cc1c0e348f6f515b425b/.neutrinorc.js#L31 should work.

[2019-08-12 17:08] Shubhamchinda commented on #1123
I didn't put the `stream` in the `if` condition as it's value was `false` in both cases but yeah you're correct it should be in the condition. Anyways, I tested  `if(count || (!stream && loaded))`, it's working fine.
[code]
The text `No filter matches` shouldn't be same for both conditions, right ?

[2019-08-12 22:33] shubhamgupta2956 commented on #965
@helfi92 I am getting this. I can't detect the problem.
![Screenshot from 2019-08-13 03-53-39](https://user-images.githubusercontent.com/43504292/62903081-32a9dd00-bd7f-11e9-9263-e136cc7acfd8.png)

[2019-08-13 01:40] arku commented on #965
@shubhamgupta2956 It would be helpful if you could push your changes and share a link to your branch. If I have to guess, it looks like you're trying to render an object. Something like

[code]

where `something` is an object.

Does that help?

[2019-08-13 13:29] helfi92 commented on #1123
Ah, sorry, I didn't realize this was inside the `renderNoRows` method. I think something as simple as the following would do it:

[code]

If the log is streaming, `loaded` will be false anyways.

[2019-08-13 16:26] Shubhamchinda commented on #1123
Made the changes and created the [PR](https://github.com/mozilla-frontend-infra/react-lazylog/pull/51).
 Thanks a lot! :)

[2019-08-13 22:10] helfi92 commented on #1123
@Shubhamchinda Thanks for your work in react-lazylog :) The last thing we need to do is update the package.json via `yarn add react-lazylog` inside the `ui` directory. Feel free to create a PR.

[2019-08-13 22:42] helfi92 commented on #965
One more view to go \o/

[2019-08-14 08:09] Shubhamchinda commented on #1123
My pleasure man. I'm looking forward to contribute more. :)

[2019-08-14 12:57] #1123 closed

[2019-08-14 13:14] rbrishabh commented on #325
Hey @helfi92 !

Sorry for the short delay!
Had a busy week! Working on this, will create a PR and ask some questions today!

Have a wonderful day =)!

[2019-08-14 13:51] helfi92 commented on #325
Awesome, thanks!

[2019-08-14 18:26] helfi92 opened #1181 "Log search filter background color"
We should try to give a background color to the filter icon when selected.

STR:

1. Navigate to https://taskcluster-ui.herokuapp.com/tasks/Kp5viqUERuKejEkgz8u4dA/runs/0/logs/live/https%3A%2F%2Fqueue.taskcluster.net%2Fv1%2Ftask%2FKp5viqUERuKejEkgz8u4dA%2Fruns%2F0%2Fartifacts%2Fpublic%2Flogs%2Flive.log

![Screen Shot 2019-08-14 at 2 19 57 PM](https://user-images.githubusercontent.com/3766511/630457

[2019-08-14 19:14] arku commented on #1181
I'm on it.

[2019-08-14 19:28] arku commented on #1181
@helfi92 Got a question. Is it fine if we update the active filter styles [here](https://github.com/mozilla-frontend-infra/react-lazylog/blob/master/src/components/SearchBar/index.module.css#L23) or should we pass it to `LazyLog` component in some way?

[2019-08-14 20:34] helfi92 commented on #1181
There's probably a way to override the css directly from this repo. I think we already do it somewhere.

[2019-08-14 21:37] arku commented on #1181
@helfi92 You're right. Let me get to it.

[2019-08-15 13:33] helfi92 opened #1185 "Date picker text color on light theme not visible"
STR:

1. Navigate to https://taskcluster-ui.herokuapp.com/auth/clients/mozilla-auth0%2Fad|Mozilla-LDAP|mtabara%2F
2. Click on the calendar icon

![Screen Shot 2019-08-15 at 9 32 18 AM](https://user-images.githubusercontent.com/3766511/63097892-97139a80-bf3f-11e9-9f31-0ea6d73d7e0a.png)

**Actual:**

![Screen Shot 2019-08-15 at 9 08 26 AM](https://user-images.githubusercontent.com/3766511/63097821-6

[2019-08-15 14:13] #325 closed

[2019-08-15 15:59] rbrishabh commented on #1185
Hey! I would love to take this up!

[2019-08-15 17:37] Patil2099 commented on #749
There is no requirements.txt file Adding one would save some time in installing dependencies @djmitche

[2019-08-15 17:40] djmitche commented on #749
@Patil2099 that sounds like a good PR!

[2019-08-15 17:40] Patil2099 commented on #749
Where should I add the text file ?

[2019-08-15 17:41] djmitche commented on #749
where you'd expect to find it :)

[2019-08-15 17:46] helfi92 commented on #1185
Hey @rbrishabh. Go for it :)

[2019-08-16 12:02] #1181 closed

[2019-08-18 15:31] ss77995ss commented on #987
@helfi92 , I make some progress on this issue but `GoToLine` and `Follow` button is not working now. I think I need some advice or idea to fix this problem, thanks!

[2019-08-19 18:27] helfi92 commented on #965
Amazing work @shubhamgupta2956! We are very grateful for your help 🥇

[2019-08-19 18:27] #965 closed

[2019-08-19 18:28] helfi92 commented on #1185
How is it going @rbrishabh? Let me know if you had questions for me :)

[2019-08-20 19:55] #660 closed

[2019-08-21 12:18] helfi92 commented on #705
Resolved in https://github.com/mozilla-frontend-infra/codetribute/commit/dd1c8dca332fafd86e39ee19060ea39fed971666. Thanks @patrickkang :)

[2019-08-21 12:18] #705 closed

[2019-08-21 14:16] rbrishabh commented on #1185
Sorry @helfi92 ! I was out on a small vacation! =)

Yep, I do have some questions for you, but I just want to dig in a little bit more before I post them. I will get back to you in 4-5 hours!

Have a wonderful day!

[2019-08-21 17:36] helfi92 opened #1207 "[docs] Make use of warning panels"
STR:

1. Navigate to https://taskcluster-ui.herokuapp.com/docs/reference/platform/auth/roles#stars-in-parameters
2. Find the text where it says ```"WARNING: be careful using * in scopes that will be expanded with a parameterization, as results may not be what you expect."```

Let's go over our docs and make warnings stand out so users see them.

For example, in https://taskcluster-ui.herokuapp.com

[2019-08-21 17:44] aimenbatool commented on #1207
I'm taking this issue.

[2019-08-22 13:25] djmitche opened #1211 "[UI] Can't copy from scope expander"
Steps to reproduce:

* https://taskcluster-ui.herokuapp.com/auth/scopes/expansions
* enter a scope like `assume:project:taskcluster:gecko:level-3-sccache-buckets`
* click the expand button way down in the corner
* try to copy/paste the resulting expanded scopes

[2019-08-22 14:07] helfi92 commented on #1211
To fix this issue, we would need to stop using the button prop https://github.com/taskcluster/taskcluster/blob/master/ui/src/views/Scopes/ScopesetExpander/index.jsx#L87

and instead add a hover effect similar to the one used by a button to

https://github.com/taskcluster/taskcluster/blob/bb08a08d5aa050680b22cd6fe227ac0339dd03ad/ui/src/theme.js#L159-L170

In the interest of maintaining consistency,

[2019-08-22 17:14] djmitche opened #1213 "upgrade to go1.12.9"
1.12.8 is a sec fix, and 1.12.9 came out two days later.

[2019-08-22 18:31] helfi92 opened #1216 "[UI] Add isLoggedIn"
This would help make sure the UI is synchronized with web-server.

[2019-08-22 18:58] #1216 closed

[2019-08-22 19:56] #1213 closed

[2019-08-22 21:24] aimenbatool commented on #1207
Hi @helfi92 ! which service am I suppose to run to get this documentation? [As mentioned](https://github.com/taskcluster/taskcluster#usage) there are individual services.

[2019-08-22 22:45] arku commented on #1207
@aimenbatool This issue is related to the docs site which lives in [`ui`](https://github.com/taskcluster/taskcluster/tree/master/ui). You can find the instructions [here](https://github.com/taskcluster/taskcluster/blob/master/dev-docs/development-process.md#hacking-on-the-ui) to get the UI up and running. Once done, you can visit http://localhost:5080/docs/ to view the docs. Let us know if you hav

[2019-08-23 04:37] rbrishabh commented on #1211
I would like to take this up!

[2019-08-23 04:44] helfi92 commented on #1211
Go for it

[2019-08-24 10:46] Hansolo-72 commented on #1211
can I take this ?

[2019-08-24 10:47] rbrishabh commented on #1211
Hi @Hansolo-72, I am already doing this! 😀

[2019-08-25 07:23] aimenbatool commented on #1207
@arku Thanks!

[2019-08-26 02:05] Callek opened #1233 "Support replyTo in task definition notify email"
In the API notify email we support replyTo, but not in the task definition.

I can imagine making replyTo be behind a per-e-mail scope (such as task.notify.email.replyTo.<email>) or not at all and be in task.extra

I suspect we'd need to modify on or about https://github.com/taskcluster/taskcluster/blob/406583d316a34dcc86f90bf8bc196e82a6a6f923/services/notify/src/handler.js#L131

This would allow

[2019-08-26 04:07] arku commented on #1148
My bad, totally forgot this task 🙈

Will make some progress tomorrow.

[2019-08-26 13:47] carpecodeum commented on #749
hey can i work on this issue? this would be a good first issue for me.

[2019-08-26 13:54] djmitche commented on #749
I believe @Shubhamchinda is already working on it -- sorry!

[2019-08-26 17:30] djmitche opened #1240 "smoketest - create a task for built-in/succeed and wait for it to succeed"
Add a new test to the `yarn smoketest` by adding a module to `infrastructure/tooling/src/smoketest/checks/`.  In this case, it would create a new task for the `built-in/succeed` worker-type, and wait for that task to be claimed and succeed.

See #1218.

[2019-08-26 17:30] djmitche opened #1241 "smoketest - create a task for built-in/fail and wait for it to succeed"
Add a new test to the `yarn smoketest` by adding a module to `infrastructure/tooling/src/smoketest/checks/`.  In this case, it would create a new task for the `built-in/fail` worker-type, and wait for that task to be claimed and fail.

See #1218.

[2019-08-26 17:31] djmitche opened #1242 "smoketest - create a sequence of tasks with dependencies and see them succeed in order"
Add a new test to the `yarn smoketest` by adding a module to `infrastructure/tooling/src/smoketest/checks/`.  In this case, it would create a sequence of dependent tasks for the `built-in/succeed` worker-type, and see that they are executed in order.

See #1218.

[2019-08-26 17:32] djmitche opened #1243 "smoketest - create a hook and trigger it"
Add a new test to the `yarn smoketest` by adding a module to `infrastructure/tooling/src/smoketest/checks/`.  In this case, it would create a new hook and trigger it, observing the resulting task being created.

See #1218.

[2019-08-26 17:33] djmitche opened #1244 "smoketest - create an indexed task and find it in the index"
Add a new test to the `yarn smoketest` by adding a module to `infrastructure/tooling/src/smoketest/checks/`.  In this case, it would create a task with routes for the index service, and once that task is completed look to see that the task is correctly shown in the index.

See #1218.

[2019-08-26 17:33] djmitche opened #1245 "smoketest - create a client and use it"
Add a new test to the `yarn smoketest` by adding a module to `infrastructure/tooling/src/smoketest/checks/`.  In this case, it would create a client in the auth service, get back an accessToken, and then use the resulting accessToken to make an API call.

See #1218.

[2019-08-26 17:34] djmitche opened #1246 "smoketest - create a role and expand it"
Add a new test to the `yarn smoketest` by adding a module to `infrastructure/tooling/src/smoketest/checks/`.  In this case, it would create a parameterized role in the auth service, then call `auth.expandScopes` to see that the role expands properly.

See #1218.

[2019-08-26 17:35] djmitche opened #1247 "smoketest - create a secret and read it back"
Add a new test to the `yarn smoketest` by adding a module to `infrastructure/tooling/src/smoketest/checks/`.  In this case, it would create a secret in the secrets service, then read that secret back.

See #1218.

[2019-08-26 17:36] djmitche opened #1248 "smoketest - purge a cache"
Add a new test to the `yarn smoketest` by adding a module to `infrastructure/tooling/src/smoketest/checks/`.  In this case, it would call the purge-cache service to create a purge, then pretend to be a worker and see that the purge was properly recorded.

See #1218.

[2019-08-26 17:48] djmitche opened #1249 "[worker-manager] Allow selection of providers from the configured providers, and provide a default configuration based on providerType."

[2019-08-27 14:21] helfi92 opened #1252 "[UI] Date picker hover effect"
STR:

1. Navigate to https://taskcluster-ui.herokuapp.com/auth/clients/mozilla-auth0%2Fad|Mozilla-LDAP|haali
2. Click on the calendar icon under "Expires"
3. Hover on the year

Expected: A hover effect similar to the demo examples in https://material-ui-pickers.dev/demo/datetime-picker

![Screen Shot 2019-08-27 at 10 20 41 AM](https://user-images.githubusercontent.com/3766511/63779323-5ce9b780-c8b

[2019-08-28 09:30] rbrishabh commented on #1252
Definitely! I am doing this one! =)

[2019-08-28 12:49] #1252 closed, assigned to rbrishabh

[2019-08-29 12:51] djmitche opened #1256 "Can't copy/paste label from task"
**Describe the bug**
The label and other gray pills for a bug can't be copy/pasted.

![image](https://user-images.githubusercontent.com/28673/63941655-0e662580-ca3a-11e9-84aa-327b7fda3421.png)

In general, copy/paste doesn't work for a lot of parts of the UI, which makes debugging hard since I have to carefully retype things or find them in the DOM inspector and copy from there.  If it's possible

[2019-08-29 15:30] rbrishabh commented on #1256
Can I take this one up? @helfi92

[2019-08-29 19:57] #1249 closed

[2019-08-29 22:57] shubhamgupta2956 commented on #965
Thanks :slightly_smiling_face:  . Can you please suggest me which issue should I pick next.

[2019-08-30 13:12] helfi92 commented on #965
Hey @Shubhamchinda, always great to hear from you :) 2 things I think you can help me with:

1. We have a new view that's missing a confirmation step when deleting http://localhost:5080/worker-manager/test-2%2Ftest. Adding a confirmation step similar to the other views you worked on would be really awesome.

2. The save button in the light theme looks weird http://localhost:5080/worker-manager/tes

[2019-08-30 13:13] helfi92 opened #1262 "[UI] worker manager UX"
Copied from https://github.com/taskcluster/taskcluster/issues/965#issuecomment-526596438:

1. We have a new view that's missing a confirmation step when deleting http://localhost:5080/worker-manager/test-2%2Ftest. Adding a confirmation step similar to the other views you worked on would be really awesome.

2. The save button in the light theme looks weird http://localhost:5080/worker-manager/test-

[2019-08-30 13:14] helfi92 commented on #965
Filed https://github.com/taskcluster/taskcluster/issues/1262 :)

[2019-08-30 16:54] helfi92 opened #1263 "Update date-fns to at least v2.0.0"
Relates to https://github.com/taskcluster/taskcluster/pull/1230.

The [pre-release CHANGELOG](https://gist.github.com/kossnocorp/a307a464760b405bb78ef5020a4ab136) will be useful to know what changed. We should pay special attention the changes prefixed with `BREAKING`.

[2019-08-30 17:12] helfi92 commented on #1256
I think one way to make a chip selectable is via:

[code]

A neat way to do this is to create `src/component/Chip` instead and all instances of Chip use that component.

[2019-08-30 17:20] Shubhamchinda commented on #965
Hey, @helfi92 , I'd love to work on it!
Thanks a lot :)

[2019-08-30 17:23] Shubhamchinda commented on #1263
Can I take this?

[2019-08-30 17:26] helfi92 commented on #1263
Go for it :)

[2019-08-30 17:45] Shubhamchinda commented on #965
I think you tagged me by mistake.
Let me know if you got anything else for me. :)

[2019-09-01 18:03] carpecodeum commented on #217
can i take this ?

[2019-09-01 18:04] carpecodeum commented on #444
can i take this if this issue is not being worked on?

[2019-09-02 17:21] rbrishabh commented on #1256
Alright, I'm on it!

[2019-09-03 13:10] djmitche commented on #444
@aryabharat is it OK if @carpecodeum takes this issue?

[2019-09-03 13:16] #1263 closed

[2019-09-03 13:19] helfi92 commented on #217
Go for it.

[2019-09-03 14:28] helfi92 opened #1273 "[UI] Remove warning in devtools"
STR:

1. Navigate to http://localhost:5080/
2. Open devtools

**Actual:**

![Screen Shot 2019-09-03 at 10 26 28 AM](https://user-images.githubusercontent.com/3766511/64181921-55d32400-ce35-11e9-819c-2537290f5e98.png)

**Expected:** No warning in devtools.

[2019-09-03 14:29] helfi92 commented on #965
😅 hehe sorry for that. I will definitely help you find an issue to work on :)

[2019-09-03 14:30] helfi92 commented on #1273
@Shubhamchinda Do you want to work on this issue? I think the issue is coming from the `Dashboard` component which every view uses. Removing this warning may actually remove this warning from every single view :)

[2019-09-03 14:31] helfi92 commented on #1262
@shubhamgupta2956 Let me know if you had any questions for me :-)

[2019-09-03 15:06] aryabharat commented on #444
Sure @djmitche

[2019-09-03 16:42] Shubhamchinda commented on #1273
Hey @helfi92 , Why not. I 'll definitely work on this.

Thanks a lot! I'll submit a PR very soon.

[2019-09-03 21:14] #1211 closed

[2019-09-03 21:17] helfi92 commented on #1256
Resolved in https://github.com/taskcluster/taskcluster/commit/9708ad3226e0696947e1a5dd65eed60e7b346975.

[2019-09-03 21:17] #1256 closed

[2019-09-06 16:39] carpecodeum commented on #444
Ok thank you i will start working on it.

[2019-09-06 23:10] KWierso opened #1305 "[UI] Can the task viewer's log viewer show the current run time for the task?"
I feel like it would be a useful addition to show the runtime of the current task from the logviewer UI. If we're viewing a live log, having it autoupdate with the current runtime would be nice, too.

[2019-09-06 23:11] KWierso commented on #1305
Something like this:

![Screenshot_2019-09-06 build-docker-image-desktop1604-test-iris](https://user-images.githubusercontent.com/172215/64465312-d8234880-d0c0-11e9-90ce-86bee816ea2e.png)

[2019-09-09 12:32] helfi92 commented on #1305
By runtime, do you mean the status (e.g., "Running") of the Task? Also, I am assuming you are referring to the [new UI](https://taskcluster-ui.herokuapp.com/)?

[2019-09-09 13:25] helfi92 opened #1306 "[UI] Hook form"
In an effort to start to start the ball rolling on https://github.com/taskcluster/taskcluster/issues/835, I think we can start by working on the hooks view (e.g., https://taskcluster-ui.herokuapp.com/hooks/garbage/abc456).

The main task may involve making use of extra spacing between sections, adding dividers/borders, changing header variants, etc. to make the form easier to read.

[2019-09-09 14:22] Pep-DEV101 commented on #217
I am up for it

[2019-09-09 14:24] helfi92 commented on #217
How is it going @carpecodeum?

[2019-09-09 14:24] carpecodeum commented on #217
I am sorry but i am already working on this

[2019-09-09 14:25] helfi92 commented on #217
Sounds good. @Pep-DEV101 feel free to tackle another issue.

[2019-09-09 15:12] rbrishabh commented on #1306
Hey! I'm about to read more into this.. But I'm taking this one up!
@helfi92

[2019-09-09 17:31] KWierso commented on #1305
No. In a situation where a task started running at 10:34:00 and the current time is 10:38:00, the runtime for the task would be 04:00 (four minutes, zero seconds).

30 seconds later, the runtime would be 04:30 (four minutes, thirty seconds).

When the task finishes at 10:45:37, the final runtime for the task would be 11:37 (eleven minutes, thirty-seven seconds).

[2019-09-10 13:24] helfi92 opened #1315 "[UI] Remove warning"
Navigate to http://localhost:5080/auth/clients/email%2Fbastien%40nextcairn.com%2Ftc-notify-test

![Screen Shot 2019-09-10 at 9 23 28 AM](https://user-images.githubusercontent.com/3766511/64617554-ab1ab280-d3ac-11e9-9b2b-bfa407593ded.png)

Let's try to remove this error from the dev-tools.

[2019-09-10 13:41] MisraAnandita commented on #1315
Hi I would like to  contribute to this issue.  I am a beginner in open source. I have gone through the Task cluster website and have read the initial details about the tool. However, I am unable to open the link provided above for the issue. Could you help me with this?
Thank you!

[2019-09-10 13:57] helfi92 commented on #1315
Hi @MisraAnandita 👋

The [README](https://github.com/taskcluster/taskcluster/tree/master/ui#readme) inside the `ui/` directory should have information on how to run the UI locally. Once that's done, the link above should work. Give it a try and let me know.

[2019-09-10 14:07] helfi92 commented on #1315
[Hacking on the UI](https://github.com/taskcluster/taskcluster/blob/master/dev-docs/development-process.md#hacking-on-the-ui) will help as well.

[2019-09-10 15:18] rbrishabh commented on #1306
Hey @helfi92 !

For some reason, after pulling the latest code from master, and trying to work on this bug on a different branch, I keep getting this error:

![now](https://user-images.githubusercontent.com/22501334/64626875-36776080-d40c-11e9-9605-9b5186463751.png)

I am not sure why this error is coming. I did try and restart both web-server and ui many times, but still this persists.

Any idea

[2019-09-10 15:21] helfi92 commented on #1306
Any interesting output in the dev-tools? A screenshot might help.

[2019-09-10 15:42] rbrishabh commented on #1306
Nevermind! Fourth time lucky.

I restarted it again this to get a screenshot, and it worked.

Anyways, coming back to the main issue, by [this](https://github.com/taskcluster/taskcluster/issues/1306#issue-491094872) comment, you meant,

We want to make use of extra space by:
1. Adding dividers / borders (Is this what we need for dividers - https://material-ui.com/components/dividers/ - of course o

[2019-09-10 15:44] helfi92 commented on #1273
How is it going @Shubhamchinda? :-)

[2019-09-10 15:55] helfi92 commented on #1306
Right now the UI feels rather cluttered (things are too close to each other). Adding spacing and dividers might help make things more breathable. Dividers may not be needed but it is worth experimenting with them.

Maybe. I'm not sure. When I referred to spacing, I was referring more to the space between each component. Feel free to experiment with whatever comes to mind.

Maybe. I'm also not sure

[2019-09-10 16:16] rbrishabh commented on #1306
Alright! That leaves me with a lot of open room to be artistic!

I'll get to this, and will soon create a PR where we can then discuss how to proceed this. :D

[2019-09-11 14:41] MisraAnandita commented on #1315
Hi @helfi92 Thank you for your prompt reply. It helped me a lot. I cloned the repository to Github Desktop. Installed node and yarn. Did the dependency installations for yarn. As I set the TASKCLUSTER_ROOT_URL to point to a Taskcluster deployment and then try to run yarn start on the services/web-server folder, I have been getting the following error:
$ NODE_ENV=development node src/main.js devSer

[2019-09-11 16:19] rbrishabh commented on #1315
Hi @MisraAnandita ! There was some talk regarding this issue in windows in [this](https://github.com/taskcluster/taskcluster/pull/1236#issuecomment-524837219) comment.

There seems to be an issue with running Taskcluster on Windows.

I am working on a PR to fix that.

Meanwhile, you could use WSL for Windows.

This will help you get started:
https://docs.microsoft.com/en-us/windows/wsl/install-win

[2019-09-11 18:36] #1099 closed

[2019-09-13 09:25] nowaktz commented on #441
A few weeks already passed :wink:
Was there any progress?

[2019-09-13 12:05] djmitche commented on #441
Ah, I forgot I'd filed this issue -- we now have [deployment docs!](https://docs.taskcluster.net/docs/manual/deploying/)

Are you looking for such documentation, or for an issue to work on?

[2019-09-13 12:05] #441 closed

[2019-09-13 14:26] nowaktz commented on #441
Thanks! I'm looking for a simple way to deploy Taskcluster with TreeHerder and other services (e.g. [MinIO](https://github.com/minio/minio) in place of AWS S3, and simple local RabbitMQ cluster) necessary to bootstrap an experimental build/test/deploy pipeline.

Any chance that you have such a recipe?

[2019-09-14 05:38] Shubhamchinda commented on #1273
Hey @helfi92 , Sorry I was a liitle busy this week, I'll do to it now! :)

[2019-09-14 09:45] ededals commented on #1240
Hi,

I would like to try to solve this. Is there some example on how to create a task of built/in succeed type ir should I pretty much go and discover it myself?

[2019-09-16 11:56] helfi92 commented on #1273
No worries. Sounds good!

[2019-09-16 12:51] helfi92 opened #1363 "[UI] Change text field into text area"
STR:

1. Navigate to http://localhost:5080/worker-manager/gecko-t-tc-worker%2Fwcosta-build-tests

Actual:

![Screen Shot 2019-09-16 at 8 48 07 AM](https://user-images.githubusercontent.com/3766511/64959239-b9f6de80-d85e-11e9-879c-c31ee34d1428.png)

Expected: A text area of multi-line. Something similar to https://taskcluster-ui.herokuapp.com/auth/roles/hook-id%3Ahg-push%2Fci-admin

![Screen Shot 2

[2019-09-16 14:17] djmitche commented on #441
Cool!  https://lists.mozilla.org/listinfo/tools-taskcluster would be a good place to discuss that.  I don't know too much about deploying treeherder, but as far as Taskcluster things should be relatively straightforward as long as you've got a Kubernetes environment to put it in.

As far as clouds:
 * AWS is used for artifact storage.  I suspect that some minor patches could make that work with mi

[2019-09-16 14:17] djmitche commented on #441
Oh, haha, I'd already linked to that :)

[2019-09-16 14:20] rajk1121 commented on #1363
Hello, I am a complete beginner towards open source contribution. I would like to fix this issue if possible. Please tell me if I can?

[2019-09-16 14:22] djmitche commented on #1240
You'll probably want to try creating such a task using the [task creator](https://tools.taskcluster.net/task-creator/).  Once you're signed in, if you let me know your clientId as shown at https://tools.taskcluster.net/credentials then I can grant you permission to create a task for that worker pool (specifically, you'll set provisionerId to `built-in` and workerType to `succeed`).

[2019-09-16 14:24] djmitche commented on #1363
@helfi92, the "Expected" section here still isn't rendering the markdown (it still shows the `[]` and `()` of the link, for example).  Didn't we solve this with tabs in another view?

[2019-09-16 14:47] helfi92 commented on #1363
Ah right. We should use the `MarkdownTextArea` component similar to how it's done in  https://taskcluster-ui.herokuapp.com/hooks/garbage/abc456:

![Screen Shot 2019-09-16 at 10 45 19 AM](https://user-images.githubusercontent.com/3766511/64967770-1a8e1780-d86f-11e9-98ad-c921db7c8177.png)

https://github.com/taskcluster/taskcluster/blob/ac895214a24408b91d2b44f6c591c277950dacba/ui/src/components/Hook

[2019-09-16 14:49] helfi92 commented on #1363
@rajk1121 Go for it. To get your UI running locally, you can refer to [Hacking on the UI](https://github.com/taskcluster/taskcluster/blob/master/dev-docs/development-process.md#hacking-on-the-ui) docs.

[2019-09-16 14:56] ededals commented on #1240
My clientId: mozilla-auth0/github|43218607|ededals

[2019-09-16 15:01] djmitche commented on #1240
You should be all set!

[2019-09-16 15:08] rajk1121 commented on #1363
Do I need to set up the project locally on my Windows machine. If yes, then please guide me or tell me from where I can get help regarding this matter. Thanks.

[2019-09-16 15:21] helfi92 commented on #1363
Yes, you will need to set up the project locally. From https://github.com/taskcluster/taskcluster/blob/master/dev-docs/development-process.md#hacking-on-the-ui:

It relies on a microservice called web-server, which you will need to run in a different terminal window.
To run the Taskcluster UI:

[2019-09-16 15:46] rajk1121 commented on #1363
Alright. Will get onto it. I will get in touch with you with ASAP after I set it up locally.

[2019-09-16 18:57] helfi92 commented on #1207
Resolved in https://github.com/taskcluster/taskcluster/commit/044e603f4e15bb326d4071dd6e9ef3ccb55660b5.

[2019-09-16 18:57] #1207 closed

[2019-09-16 19:00] helfi92 commented on #1095
No longer relevant.

[2019-09-16 19:00] #1095 closed

[2019-09-16 19:06] helfi92 opened #1366 "[UI] Remove warnings from console"
STR:

1. Navigate to http://localhost:5080/tasks/groups/eiNJBx5RRB6U0Y4D2IO3XQ
2. Open the developer tools

Expected: No warnings in the console

Actual: There are 2 warnings:

1. ```Invalid value for prop `component` on <div> tag```
2. `[JSS] Could not find the referenced rule input in TaskGroup.`

[2019-09-16 19:08] helfi92 commented on #1366
@aimenbatool Are you interested in tackling this issue?

[2019-09-16 19:30] Shubhamchinda commented on #1273
@helfi92
The warnings are gone by removing the below line :

I read somewhere that `react-router-dom` doesn't have a component prop, So should we just remove it?

Thanks as always!

[2019-09-16 20:02] helfi92 commented on #1273
I think the problem, if i understand correctly from the warning, is that the `div` element doesn't take a `component` prop. The `Link` component is needed so we can't remove it unfortunately.

You should be able to remove this warning by probably doing something like:

[code]

then if `DOCS_ONLY` is `true`, we could render:

[code]

else, we render:

[code]

[2019-09-17 06:47] rajk1121 commented on #1363
I tried running the project locally n my windows machine with WSL. On running 'yarn start' command I am getting this error in services/web-server/src/main.js
![os](https://user-images.githubusercontent.com/34133408/65017650-e4bb6280-d944-11e9-8ce0-0dac99c04927.PNG)

I am stuck at this error. Any special command to be executed before?

[2019-09-17 09:25] aimenbatool commented on #1366
Yes! I'm taking it.

[2019-09-17 12:27] helfi92 commented on #1363
You are running an older version of node. The one we use is https://github.com/taskcluster/taskcluster/blob/7743b620ade0d61bca3e596784962693373d7752/package.json#L7

You can use https://github.com/nvm-sh/nvm to switch between different versions of node.

[2019-09-17 17:06] rajk1121 commented on #1363
Oh Thanks!! That thing worked for me. I will get back to you with further proceedings.

[2019-09-17 17:22] Shubhamchinda commented on #1273
Yes, I know.

Thanks a lot. I'll submit a PR tomorrow.

[2019-09-17 20:56] #1262 closed

[2019-09-18 12:37] #1273 closed

[2019-09-18 12:39] helfi92 commented on #1366
I think the first warning was resolved in https://github.com/taskcluster/taskcluster/commit/d435dbd67eba708f82e41c5e9dacffca9b4db30c. We can just take care of the second warning here.

[2019-09-18 18:10] Patil2099 commented on #1058
@djmitche  Can I work on this issue if you found the video link?
Thanks!

[2019-09-18 18:42] Patil2099 commented on #1315
@helfi92 If no one is working on it, can I take this issue?

[2019-09-18 19:04] helfi92 commented on #1315
@MisraAnandita Are you still working on this issue?

[2019-09-18 22:11] stephendonner opened #1371 "Broken link to Taskcluster index from gecko-decision-task page"
Hi team!

Just letting you know there's a broken link on https://docs.taskcluster.net/docs/tutorial/gecko-decision-task in https://tc.example.com/index/#gecko.v2.mozilla-central.latest.firefox/gecko.v2.mozilla-central.latest.firefox.decision - the link text reads "the Taskcluster index".

[2019-09-19 00:51] djmitche commented on #1371
Thanks!  Yeah, the tutorial is pretty outdated.  Maybe we should just remove it :)

[2019-09-19 10:33] rajk1121 commented on #1363
Whenever I go to http://localhost:5080/worker-manager/gecko-t-tc-worker%2Fwcosta-build-tests, the page shows the below error. Tried to figure out what could be the reason but couldn't help it. Please tell me where I am going wrong.
![os](https://user-images.githubusercontent.com/34133408/65236782-ea58aa00-daf6-11e9-8f77-6caf30697d61.PNG)

[2019-09-19 10:36] helfi92 commented on #1363
Does http://localhost:5080/worker-manager work fine? Did you add any code or is this what you get when you first fire up the page?

[2019-09-19 11:01] rajk1121 commented on #1363
No, http://localhost:5080/worker-manager also doesn't seems to be working. It too throws the same error.

No I didn't add up any code. This is what I get as soon as I visit http://localhost:5080/worker-manager or http://localhost:5080/worker-manager/gecko-t-tc-worker%2Fwcosta-build-tests

[2019-09-19 11:13] rajk1121 commented on #1363
This is what the browser console say:
![os1](https://user-images.githubusercontent.com/34133408/65239404-8c2ec580-dafc-11e9-94a7-038485dad6e6.PNG)

[2019-09-19 11:25] helfi92 commented on #1363
The first warning was recently fixed so if you pull the latest changes it will be gone. However, that won't fix your issue.

Hm, can you try running the following in `ui/`:

[code]

[2019-09-19 11:44] rajk1121 commented on #1363
No, it didn't worked. The error is coming due to the empty response for graphql:
![os2](https://user-images.githubusercontent.com/34133408/65241289-cc904280-db00-11e9-9153-a170e6c34878.PNG)

Can't figure out how to remove it.

[2019-09-19 11:54] helfi92 commented on #1363
Apologies, https://github.com/taskcluster/taskcluster/issues/1363#issuecomment-533087594 was meant to be run in `services/web-server`:

[code]

If that doesn't fix this, do you have the `ui/src/static/env.js` file? The content of that file should be:

[code]

[2019-09-19 12:11] rajk1121 commented on #1363
Oh yes, 'export' statement should have been written in services/web-server but it really skipped from my mind too. I will try this and get back to you with a fix probably this time.

[2019-09-19 15:09] helfi92 commented on #1306
How is it going @rbrishabh?

[2019-09-19 15:17] rbrishabh commented on #1306
I made some changes! I will put up a PR later today so that we can see how this is going.

[2019-09-20 13:37] helfi92 commented on #564
One way to achieve that is to create two new speed dial buttons "Rerun Failed Tasks" and "Retrigger Failed Tasks" in the Task group view that would have the necessary logic to rerun the tasks.

[2019-09-20 13:49] helfi92 opened #1375 "[UI] Add link to /tasks in homepage"
STR:

1. Navigate to http://localhost:5080/
2. Login (fyi: the client ID and access token can be set to anything)
3. Look at the logged in page

Actual:

![Screen Shot 2019-09-20 at 9 45 30 AM](https://user-images.githubusercontent.com/3766511/65331790-73212580-db8b-11e9-9096-a694654ac7f8.png)

Expected:

"I want to look at a task or group of tasks" is split into two:

1. I want to look at a task

[2019-09-20 13:56] helfi92 opened #1376 "[UI] Add next page button to a page in docs"
STR:

1. Navigate to http://localhost:5080/docs/manual/design/

**Actual:** There is no button to navigate to the next page of the navigation tree

**Expected:** There should be a button similar to the other sections (e.g., http://localhost:5080/docs/manual/access-control)

[2019-09-20 14:00] djmitche commented on #1058
@Patil2099 sure, I think at this point we can just remove any broken links.

[2019-09-20 14:59] helfi92 commented on #1376
Actually, it turns out that going to http://localhost:5080/docs/manual/access-control/third-party then clicking on the next button will end up showing the buttons in http://localhost:5080/docs/manual/design/.

We can see the same behavior with every top level sections (i.e., the titles that are shown as capital letters in the UI).

[2019-09-20 15:00] rajk1121 commented on #1363
@helfi92  This should have been the expected behaviour after the fix or do I have to get the 'Write' and 'Preview' tabs as well.
![os1](https://user-images.githubusercontent.com/34133408/65337234-692c1080-dbe5-11e9-896e-65cc78704ec2.PNG)

[2019-09-20 15:13] helfi92 commented on #1363
Yep, we should have the "Write" and "Preview" tabs as well (https://github.com/taskcluster/taskcluster/issues/1363#issuecomment-531810781). Feel free to proceed with a PR after that. Thanks!

[2019-09-20 17:36] petemoore opened #1377 "[UI] Worker pool description should be rendered as markdown"
**Describe the bug**
The worker pool page (https://taskcluster-ui.herokuapp.com/worker-manager/some-worker-pool-id) renders the worker pool description as plain text, but I believe this should be rendered as markdown.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://taskcluster-ui.herokuapp.com/worker-manager/gecko-1%2Fwin2012-gamma

**Expected behavior**
Description to be rende

[2019-09-20 18:00] helfi92 commented on #1377
Duplicate of https://github.com/taskcluster/taskcluster/issues/1363.

[2019-09-20 18:00] #1377 closed

[2019-09-20 20:15] virgilt commented on #1376
@helfi92 Hi, may I work on this please?

[2019-09-20 20:23] aimenbatool commented on #1375
Hi! Can I take this?

[2019-09-20 20:42] helfi92 commented on #1376
Definitely. Go for it.

[2019-09-20 20:44] virgilt commented on #1376
@helfi92 Thanks!

[2019-09-20 20:47] djmitche commented on #564
Ideally those operations would be implemented as [actions](https://docs.taskcluster.net/docs/manual/design/conventions/actions), which the UI will automatically make available.  There's a surprising amount of subtlety in what "retrigger" and "failed" mean, so we prefer to leave it to the CI system to define those things instead of assuming we know.

[2019-09-21 06:01] rajk1121 commented on #1363
Is it Fine now :

![os1](https://user-images.githubusercontent.com/34133408/65368785-1f820b00-dc63-11e9-9da3-fffdb6ac7600.PNG)

[2019-09-22 07:06] RajendrasinhParmar commented on #1376
@virgilt Did you already started working on this issue?

[2019-09-22 11:32] rajk1121 commented on #1363
@helfi92 Submitted a request for PR for issue #1363. Please review it and tell me if it's fine or not.

Thanks.

[2019-09-22 13:59] Rolikasi commented on #1376
Hi, I'm beginner in FOSS and want to fix this issue.
I'm trying to run project on windows using WSL
But getting error
Can you help me or provide some suggestions?
![error1](https://user-images.githubusercontent.com/44370635/65389034-6eb76100-dd73-11e9-93ce-5b1c4d46be26.PNG)

[2019-09-22 14:34] virgilt commented on #1376
@RajendrasinhParmar yes working on it

[2019-09-23 12:50] petemoore commented on #1363
I believe the PR is #1379.

[2019-09-23 13:48] rajk1121 commented on #1363
@petemoore Yeah. It is indeed.

[2019-09-23 14:16] helfi92 commented on #564
Even better! Is there a Bugzilla bug on file for this or should I create one?

[2019-09-23 14:46] helfi92 commented on #1363
Resolved in https://github.com/taskcluster/taskcluster/commit/0b850723ed6a880dcf18a900a4dbea3775c9b8d4. Thank you @rajk1121 🎉

[2019-09-23 14:46] #1363 closed

[2019-09-23 18:00] helfi92 commented on #1315
@Patil2099 I haven't heard back from @MisraAnandita. Feel free to tackle this issue.

[2019-09-24 03:00] virgilt commented on #1376
@helfi92 I'm a bit stuck, this is much more complicated that any other react application I've worked on. I can see where the Button component is, but not sure how it is being rendered to the page.

[2019-09-24 12:17] shubhamgupta2956 commented on #1243
@helfi92 @djmitche I want to work on this issue. Please assign it to me. I couldn't find any path like `infrastructure/tooling/src/smoketest/checks/`. Does I have to create it or I am missing something. Also can you please give me an example of adding test.

[2019-09-24 13:00] helfi92 commented on #1366
Resolved in https://github.com/taskcluster/taskcluster/commit/1d97c53560ac1b20d53b3e79572a407b8996fc54.

[2019-09-24 15:56] helfi92 opened #1384 "[UI] link not appearing"
STR:

1. Navigate to https://taskcluster-ui.herokuapp.com/worker-manager/gecko-1%2Fwin2012-gamma
2. Switch to the light theme by clicking the light bulb icon

<img width="423" alt="Screen Shot 2019-09-24 at 11 54 15 AM" src="https://user-images.githubusercontent.com/3766511/65528277-10e55f00-dec2-11e9-83be-640388e7c9a1.png">

Acutal (the text ci-admin is missing):

<img width="578" alt="Screen Sho

[2019-09-24 16:17] Shubhamchinda commented on #1384
I'd like to take this!

[2019-09-24 16:33] rbrishabh commented on #1306
Hey @helfi92 ! Sorry for the short delay! I have exams till Friday. I will put a PR as soon as possible!

[2019-09-24 17:18] helfi92 commented on #1306
No worries at all! Good luck on your exams :)

[2019-09-24 17:30] helfi92 opened #1385 "[UI] Error panel "X" icon button in light theme"
**Reserved** for [outreachy](https://www.outreachy.org/) candidates. In order for this to be assigned to you, make sure to complete the first step of the application process outlined in the [project description](https://www.outreachy.org/december-2019-to-march-2020-internship-round/communities/mozilla/#build-a-component-that-can-display-a-json-schema).

---

STR:

1. Navigate to https://taskcluste

[2019-09-24 17:34] rbrishabh commented on #1385
Hey! This seems like something I can do quickly! Can I take it up?

[2019-09-24 17:35] helfi92 opened #1386 "[UI] Remove page information from /tasks/index"
STR:

1. Navigate to https://taskcluster-ui.herokuapp.com/tasks/index
2. Click on the "?" icon button in the app bar. An empty drawer will pop out.

![Screen Shot 2019-09-24 at 1 33 42 PM](https://user-images.githubusercontent.com/3766511/65535717-f1edc980-decf-11e9-8c03-afdbd78b3c4d.png)

We should remove the drawer from this view only.

[2019-09-24 17:35] rbrishabh commented on #1306
Thanks!

[2019-09-24 17:40] helfi92 opened #1387 "[UI] Replace text field by MarkdownTextArea"
**Reserved** for [outreachy](https://www.outreachy.org/) candidates. In order for this to be assigned to you, make sure to complete the first step of the application process outlined in the [project description](https://www.outreachy.org/december-2019-to-march-2020-internship-round/communities/mozilla/#build-a-component-that-can-display-a-json-schema).

---

This is the exact same issue as https:/

[2019-09-24 17:54] helfi92 opened #1388 "[UI] Make use of the Warning component for notes & warnings"
**Reserved** for [outreachy](https://www.outreachy.org/) candidates. In order for this to be assigned to you, make sure to complete the first step of the application process outlined in the [project description](https://www.outreachy.org/december-2019-to-march-2020-internship-round/communities/mozilla/#build-a-component-that-can-display-a-json-schema).

---

Continuation of https://github.com/task

[2019-09-24 18:13] helfi92 opened #1389 "[UI] Add breadcrumbs to /tasks/index/"
STR:

1. Navigate to https://community-tc.services.mozilla.com/tasks/index
2. Click on `Buildbot`
3. Click on `branches`
4. Click on  `mozilla-esr52` then `linux64-artifact`
5. Navigate back to the step 2

**Actual:** You need to press the back button a couple of times

**Expected:** There is a breadcrumbs component that you can just click on "Buildbot" for example and it will bring you back there

[2019-09-24 18:18] Rolikasi commented on #1315
Hello, I'm studying react and try to learn on practice.
I've removed this error. Sorry that I didn't ask to work on this issue
Should I proceed with a PR?

[2019-09-24 19:32] Patil2099 commented on #1315
@helfi92 i thought I was going to work on it.

[2019-09-24 20:14] helfi92 opened #1391 "[UI] Expand panel in Schema Index"
**Reserved** for [outreachy](https://www.outreachy.org/) candidates. In order for this to be assigned to you, make sure to complete the first step of the application process outlined in the [project description](https://www.outreachy.org/december-2019-to-march-2020-internship-round/communities/mozilla/#build-a-component-that-can-display-a-json-schema).

---

STR:

1. Navigate to https://taskcluste

[2019-09-24 21:37] #1375 closed

[2019-09-25 12:47] djmitche commented on #1243
Have you updated your repository?  The path exists:
  https://github.com/taskcluster/taskcluster/tree/master/infrastructure/tooling/src/smoketest/checks

There's a `ping` test in there already, which creates one check for each service.  Each check is created with `exports.tasks.push`, adding a [console-taskgraph](https://github.com/djmitche/console-taskgraph) task to the list of things to be done.

[2019-09-25 12:53] djmitche commented on #1315
@Patil2099 oops, had you already gotten started?  #1388 might be a good one.

[2019-09-25 20:26] helfi92 commented on #1385
@rbrishabh I just realized that you have a couple of issues assigned to your name so I went ahead and made the issue unassigned to make room for other contributors. Sorry about that. Wishing you all the best on your exams!

[2019-09-25 21:00] helfi92 opened #1395 "[UI] Remove copy icon button from Task view"
**Reserved** for [outreachy](https://www.outreachy.org/) candidates. In order for this to be assigned to you, make sure to complete the first step of the application process outlined in the [project description](https://www.outreachy.org/december-2019-to-march-2020-internship-round/communities/mozilla/#build-a-component-that-can-display-a-json-schema).

---

STR:

1. Navigate to https://taskcluste

[2019-09-25 23:50] djmitche opened #1396 "Scope expander fails"
**Describe the bug**
Scope expander shows an error when expanding scopes.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://taskcluster-ui.herokuapp.com/auth/scopes/expansions
1. Enter `assume:repo:github.com/taskcluster/monopacker:branch:*`
1. Click on the button thing in the lower right
1. See error `t.data is undefined`

**Expected behavior**
Expansion of the scopes

[2019-09-25 23:53] djmitche opened #1397 ""Compare Scopesets" does not expand scopes"
**Describe the bug**
The scope comparison tool should expand any `assume:..` roles in the scopes and then compare the resulting, expanded scopesets.  It appears to just compare the given scopesets.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://taskcluster-ui.herokuapp.com/auth/scopes/compare
1. Enter `assume:repo:github.com/taskcluster/monopacker:branch:*` in one box and `ass

[2019-09-25 23:55] djmitche opened #1398 ""Compare Scopesets" and "Expand Scopesets" should have a linkable URL"
**Reserved** for [outreachy](https://www.outreachy.org/) candidates. In order for this to be assigned to you, make sure to complete the first step of the application process outlined in the [project description](https://www.outreachy.org/december-2019-to-march-2020-internship-round/communities/mozilla/#build-a-component-that-can-display-a-json-schema).

---

When working with scopes in a chat conv

[2019-09-26 12:50] helfi92 commented on #1397
From my understanding of https://bugzilla.mozilla.org/show_bug.cgi?id=1444268#c11, the compare scopesets tool is not supposed to expand scopes. There's a PR open to fix the regression that was introduced in the view that expands scopes. Maybe that will help?

[2019-09-26 12:55] helfi92 commented on #1315
Resolved in https://github.com/taskcluster/taskcluster/commit/b476ccce5f434cbc230586841328d20f1abac312 🎉

[2019-09-26 12:55] #1315 closed

[2019-09-26 13:10] djmitche commented on #1397
Ah, that bug is at best ambiguous about it!  Could we consider this a feature request, then?  Perhaps an "expand" button on each scope-entry widget that will expand it?

[2019-09-26 13:15] #1396 closed

[2019-09-26 13:53] helfi92 commented on #1397
Sure thing!

[2019-09-26 20:07] helfi92 opened #1403 "[UI] Add hover effect to the link icon in /auth/scopes"
**Reserved** for [outreachy](https://www.outreachy.org/) candidates. In order for this to be assigned to you, make sure to complete the first step of the application process outlined in the [project description](https://www.outreachy.org/december-2019-to-march-2020-internship-round/communities/mozilla/#build-a-component-that-can-display-a-json-schema).

---

**Describe the bug**
The hover effect o

[2019-09-27 11:45] zbeproud commented on #1395
@helfi92 Can I please try to fix this issue?

[2019-09-27 12:36] helfi92 commented on #1395
Hi @zbeproud. From https://github.com/taskcluster/taskcluster/issues/1395#issue-498521170, this issue is actually reserved for [outreachy](https://www.outreachy.org/) candidates. In order for this to be assigned to you, make sure to complete the first step of the application process outlined in the [project description](https://www.outreachy.org/december-2019-to-march-2020-internship-round/communi

[2019-09-27 12:45] zbeproud commented on #1395
@helfi92 I seem to have missed the deadline to apply for this. If not this issue, is there another issue which I as a beginner can solve?

[2019-09-27 12:57] djmitche commented on #1395
Let's try https://github.com/taskcluster/tc-admin/issues/15 and see how that goes.  There are a few other bits to work on with tc-admin and ci-admin, if you enjoy that issue.

[2019-09-27 15:13] #1156 closed

[2019-09-30 11:41] petemoore opened #1405 "[UI] Copy/paste broken in live log pages"
**Describe the bug**

It isn't possible to select/copy test from the live log of a task from the "Run Logs" tab.

**To Reproduce**

Steps to reproduce the behavior:

1. Go to a running task in the "Task & Group Inspector"
2. Click on "Run Logs"
3. Scroll down to the logs
4. Try to select/copy text

**Expected behavior**

It should be possible to select text, it to be highlighted when selected, and

[2019-09-30 12:46] djmitche commented on #1405
@petemoore can you confirm this is in the new UI?

[2019-09-30 13:31] helfi92 opened #1406 "[UI] Remove error in console"
**Reserved** for [outreachy](https://www.outreachy.org/) candidates. In order for this to be assigned to you, make sure to complete the first step of the application process outlined in the [project description](https://www.outreachy.org/december-2019-to-march-2020-internship-round/communities/mozilla/#build-a-component-that-can-display-a-json-schema).

---

**Describe the bug**
Navigating to the

[2019-09-30 13:44] helfi92 opened #1407 "[UI] Remove material-ui warning in console"
**Reserved** for [outreachy](https://www.outreachy.org/) candidates. In order for this to be assigned to you, make sure to complete the first step of the application process outlined in the [project description](https://www.outreachy.org/december-2019-to-march-2020-internship-round/communities/mozilla/#build-a-component-that-can-display-a-json-schema).

---

**Describe the bug**
Some views complai

[2019-09-30 13:54] helfi92 opened #1408 "[UI] Remove defaultTabIndex warning in console"
**Reserved** for [outreachy](https://www.outreachy.org/) candidates. In order for this to be assigned to you, make sure to complete the first step of the application process outlined in the [project description](https://www.outreachy.org/december-2019-to-march-2020-internship-round/communities/mozilla/#build-a-component-that-can-display-a-json-schema).

---

**Describe the bug**
Clicking the "Prev

[2019-09-30 14:09] helfi92 opened #1409 "[UI] Add tooltip to button icon"
**Reserved** for [outreachy](https://www.outreachy.org/) candidates. In order for this to be assigned to you, make sure to complete the first step of the application process outlined in the [project description](https://www.outreachy.org/december-2019-to-march-2020-internship-round/communities/mozilla/#build-a-component-that-can-display-a-json-schema).

---

**Describe the bug**
When a user hovers

[2019-09-30 14:13] ededals commented on #1240
Hey @djmitche
I think I finally understood how to do this, but there is one problem. When I am trying to run the test I receive some exception connected to permissions:

[code]

Is this connected to wrong run method of my test or should I specify extra permissions in tools.taskcluster.net?

[2019-09-30 14:19] helfi92 commented on #1306
Hey @rbrishabh 👋 I have a local copy of some enhances I would like to integrate in the hook view. I think it might give an idea of what I am looking for which will help in other views that have forms. Perhaps you can work on improving the layout of http://localhost:5080/quickstart? If that sounds interesting, I can create an issue for it and have it assigned to you :) I plan on pushing my branch s

[2019-09-30 14:26] rbrishabh commented on #1306
Hey @helfi92! Alright! That sounds great!
I actually had to get a new laptop because the last one was too slow to run taskcluster (particularly after some patch during September - before that it worked a little faster on Windows) and in general - it was slow.

To put it into context, I had to wait at least 45 mins to get Taskcluster up and running. And then wait 10 mins for it to compile when I ma

[2019-09-30 15:11] djmitche commented on #1240
Awesome!  That the error is unhandled *is* a problem, but otherwise the fix is to run the tests with credentials that have the necessary scopes.  What are you using for TASKCLUSTER_CLIENT_ID?

[2019-09-30 17:13] helfi92 opened #1412 "[UI] Improve layout of the quickstart view"
http://localhost:5080/quickstart

[2019-09-30 17:17] helfi92 commented on #1306
Wow. I'm so sorry you had to go through that. Hopefully you will have a better experience with the new laptop!

Filed https://github.com/taskcluster/taskcluster/issues/1412 :)

Have a look at https://github.com/taskcluster/taskcluster/pull/1410#issue-322846137 for the hook layout. It should give a general idea of the things we should try to do for the quickstart view. Let me know if you had any qu

[2019-09-30 17:19] helfi92 commented on #1412
@rbrishabh I should be able to assign you this task after you accept the invitation in your email :)

[2019-09-30 17:39] #1306 closed

[2019-09-30 17:49] helfi92 opened #1413 "[UI] Improve layout of worker pool view"
**Reserved** for [outreachy](https://www.outreachy.org/) candidates. In order for this to be assigned to you, make sure to complete the first step of the application process outlined in the [project description](https://www.outreachy.org/december-2019-to-march-2020-internship-round/communities/mozilla/#build-a-component-that-can-display-a-json-schema).

---

**Describe the bug**
In an effort to [i

[2019-09-30 19:37] rbrishabh commented on #1412
Hey @helfi92! I accepted the invitation! Looking into this one.

[2019-09-30 19:39] rbrishabh commented on #1306
I had a look at #1410! Looks great! I get the general idea!

I'll ask if I have any questions! Thanks! :)

[2019-09-30 20:51] helfi92 opened #1416 "[UI] Search placeholder"
**Reserved** for [outreachy](https://www.outreachy.org/) candidates. In order for this to be assigned to you, make sure to complete the first step of the application process outlined in the [project description](https://www.outreachy.org/december-2019-to-march-2020-internship-round/communities/mozilla/#build-a-component-that-can-display-a-json-schema).

---

**To Reproduce**
Steps to reproduce the

[2019-09-30 20:58] helfi92 opened #1417 "[UI] Add helper text to scopes text field"
**Reserved** for [outreachy](https://www.outreachy.org/) candidates. In order for this to be assigned to you, make sure to complete the first step of the application process outlined in the [project description](https://www.outreachy.org/december-2019-to-march-2020-internship-round/communities/mozilla/#build-a-component-that-can-display-a-json-schema).

---

**Describe the bug**
The scopes text fi

[2019-09-30 21:33] helfi92 opened #1420 "[UI] Add tooltip to link"
**Reserved** for [outreachy](https://www.outreachy.org/) candidates. In order for this to be assigned to you, make sure to complete the first step of the application process outlined in the [project description](https://www.outreachy.org/december-2019-to-march-2020-internship-round/communities/mozilla/#build-a-component-that-can-display-a-json-schema).

---

**To Reproduce**
Steps to reproduce the

[2019-09-30 21:39] helfi92 opened #1421 "[UI] Remove horizontal line from Task view"
**Reserved** for [outreachy](https://www.outreachy.org/) candidates. In order for this to be assigned to you, make sure to complete the first step of the application process outlined in the [project description](https://www.outreachy.org/december-2019-to-march-2020-internship-round/communities/mozilla/#build-a-component-that-can-display-a-json-schema).

---

**To Reproduce**
Steps to reproduce the

[2019-09-30 22:06] Zitle-Nancy commented on #1407
Hi, I want to try fix this is still available?

[2019-09-30 23:07] helfi92 commented on #1407
Hi @Zitle-Nancy. From https://github.com/taskcluster/taskcluster/issues/1407#issue-500287017, this issue is actually reserved for outreachy candidates. In order for this to be assigned to you, make sure to complete the first step of the application process outlined in the project description.

[2019-10-01 08:09] Shubhamchinda commented on #1384
Hey @helfi92 , I hope you're doing great!

I think the problem is in [mozilla-frontend-infra/components/Markdown](https://github.com/mozilla-frontend-infra/components/blob/master/src/components/Markdown/index.jsx) as the link may has styling issues when the theme is light( As we can click on it but it's not visible ).

Am I going in right direction?

Thanks!

[2019-10-01 13:26] djmitche commented on #1384
(commented on the issue linked ^^ just above)

[2019-10-01 17:53] pachicodes commented on #1421
Hello, I am an outreachy applicant and would like to work on this issue!
TY

[2019-10-01 18:36] Rolikasi commented on #1386
Hello, **helif92**!
I'm an outreachy candidate, I completed the first step of application process. Can I work on this issue?
I think I can do it fast!)

[2019-10-01 18:54] djmitche commented on #1386
Sounds good, go ahead!  Once you've accepted the invite, let me know by commenting here and I will assign this issue to you.

[2019-10-01 18:58] djmitche commented on #1421
Hi! In order for this to be assigned to you, make sure to complete the first step of the application process outlined in the [project description](https://www.outreachy.org/december-2019-to-march-2020-internship-round/communities/mozilla/#build-a-component-that-can-display-a-json-schema).

[2019-10-01 19:21] Soundharyaam commented on #1416
Hi, I would like to contribute to this issue for outreachy project. Could you please assign it to me?

[2019-10-01 19:24] djmitche commented on #1416
done!

[2019-10-01 19:25] Rolikasi commented on #1386
I've accepted the invite!
Start working on this issue!

[2019-10-01 19:25] djmitche commented on #1386
All yours :)

[2019-10-01 21:50] Rolikasi commented on #1386
I'm ready for a PR!

[2019-10-01 21:53] ANURADHAJHA99 commented on #1417
I have completed the first part of the application. KIndly assign the following issue to me.

[2019-10-01 22:07] olympiawoj commented on #1421
Hey @djmitche! I've completed the first step of the app & would like to work on this issue as my first contribution.

[2019-10-01 22:17] olympiawoj commented on #1421
I am trying to re-create the issue in my local environment and am getting a connection error while the UI stays in a loading state. I have my web server running on port 3050 and my project running on http://localhost:5080/ with no other connections running - please advise.

_[HPM] Error occurred while trying to proxy request /graphql from localhost:5080 to http://localhost:3050 (ECONNRESET) (https

[2019-10-01 22:52] prehistoricpancake commented on #1407
Hi @helfi92 I'd like to work on this. Already completed the first step of the process.

[2019-10-01 22:56] marianazangrossi commented on #1385
Can I try to resolve it?

[2019-10-01 23:50] vishakhanihore commented on #1420
@helfi92 Hello Hassan, I am Vishakha, an outreachy applicant. I would love to be a part of this project.
Regarding the first step, I have completed it. Please see the following attached Screenshots:
<img width="1440" alt="Screenshot 2019-10-02 at 5 18 45 AM" src="https://user-images.githubusercontent.com/54327666/66008459-26ffaa80-e4d4-11e9-9136-4e25b3398c00.png">
<img width="713" alt="Screenshot

[2019-10-02 08:01] Rolikasi commented on #1395
I can work on it!

[2019-10-02 09:02] Rolikasi commented on #1387
Should we have the "Write" and "Preview" tabs?

[2019-10-02 09:24] ANURADHAJHA99 commented on #1417
I have already made the pull request. The link to my pull request is https://github.com/taskcluster/taskcluster/pull/1446

[2019-10-02 10:21] ANURADHAJHA99 commented on #1413
Kindly assign the following issue to me.

[2019-10-02 10:56] bini11 commented on #1409
Hey @helfi92 I'm an outreachy applicant and have completed the first step & would like to work on this bug.

[2019-10-02 11:14] vishakhanihore commented on #1421
@djmitche Please assign me the issue, I have completed the first step and mailed the result to you as well

[2019-10-02 11:17] vishakhanihore commented on #1408
I want to work on it , Please assign me the following

[2019-10-02 11:19] vishakhanihore commented on #1387
I think we are supposed to wait until the issue is assigned to us.

[2019-10-02 11:23] vishakhanihore commented on #1388
I want to work on this

[2019-10-02 11:57] Rolikasi opened #1448 "[UI] Add hover effect to the link icon in /auth/clients and /auth/roles"
The same issue as #1403

**Describe the bug**
The hover effect on list items is missing for the list of scopes.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to http://localhost:5080/auth/roles
and http://localhost:5080/auth/clients
2. Hover mouse on an item from the list

**Expected behavior**
Hovering adds an effect on the icon.

Actual:

![Screen Shot 2019-09-26 at 4 03 01 PM](https:

[2019-10-02 12:14] Rolikasi commented on #1387
I live in UTC+6 timezone. I work on these issues during a day, because it's unproductive to wait until evening or night((

[2019-10-02 12:15] Rolikasi commented on #1448
@helfi92 @djmitche, I just found this similar to #1403 issue
Can you assign it to me

[2019-10-02 12:18] katherine95 commented on #1406
I have completed the first step and would like to be assigned this one @helfi92

[2019-10-02 12:31] vishakhanihore commented on #1387
Pretty same here +5:30

On Wed, 2 Oct, 2019, 17:44 Edil, <notifications@github.com> wrote:

[2019-10-02 12:39] devnoorfatima commented on #1420
Hi! @helfi92  .I have sent the email of the screenshots which have been checked by @djmitche. I also have sent the username of github which I was being asked. I want to work on this issue as my first contribution.

[2019-10-02 14:02] vishakhanihore commented on #1389
I would like to work on this.

[2019-10-02 14:08] vishakhanihore commented on #1391
I would love to solve the following.

[2019-10-02 14:18] Rolikasi commented on #1408
Hey, @helfi92 . For this issue do we need to clone https://github.com/mozilla-frontend-infra/components repo then change component and PR on that repo?
How can I see if error doesn't showing up after my fix?

[2019-10-02 14:43] mkneumann777 commented on #1421
I believe I can tackle this issue.

[2019-10-02 14:57] ajinkabeer commented on #1421
Hello @djmitche,
I have sent you my GitHub username via email. Can I work on this issue?

[2019-10-02 14:58] Jo-IE commented on #1403
Hi @helfi92 , I would like to work on this please :)

[2019-10-02 14:58] devnoorfatima commented on #1421
I have accepted the invitation for collaboration. Can you please assign this issue to me.

[2019-10-02 15:01] devnoorfatima commented on #1409
I want to work on this issue.

[2019-10-02 15:03] ajinkabeer commented on #1406
@helfi92 @djmitche
I would like to work on this issue. Can you please assign it to me?

[2019-10-02 15:30] vishakhanihore commented on #1391
Can I be assigned this issue now?

[2019-10-02 15:31] vishakhanihore commented on #1389
@helfi92 Can I be assigned this now? I have accepted the invite.

[2019-10-02 15:36] Aishat-Akinyemi commented on #1409
Hello @helfi92 I am an outreachy applicant, I  I want to contribute to "Improve Firefox Containers Add-ons" project. Can I choose any of the bugs on this link
[https://codetribute.mozilla.org/languages/javascript?tag%3Doutreachy](url)    thank you!

[2019-10-02 15:38] 47analogy commented on #1389
@helfi92 I would like to work on this issue for Outreachy. Could you please assign it to me?

[2019-10-02 15:41] 47analogy commented on #1391
@helfi92  I would like to work on this issue for Outreachy. Could you please assign it to me?

[2019-10-02 16:04] djmitche commented on #1407
All yours @prehistoricpancake

[2019-10-02 16:12] djmitche commented on #1395
All yours!

[2019-10-02 16:17] djmitche commented on #1413
We want to make sure everyone gets a chance to work on an issue, and we don't have too many!  So let's save this for another applicant.  You can take a look at the other issues, not labeled "outreachy", and find one that looks good.  Those are likely to be a bit more challenging.

[2019-10-02 16:17] SirPhemmiey commented on #1391
@helfi92 @djmitche I want to work on this issue for Outreachy. I have finished the first step as required and i've been given a go-ahead. Please assign this to me. Thanks

[2019-10-02 16:18] djmitche commented on #1387
We want to make sure everyone gets a chance to work on an issue, and we don't have too many!  So let's save this for another applicant.  You can take a look at the other issues, not labeled "outreachy", and find one that looks good.  Those are likely to be a bit more challenging.

[2019-10-02 16:20] djmitche commented on #1388
All yours!

We want to make sure everyone gets a chance to work on an issue, and we don't have too many!  So once this is done, please look at other issues, not labeled "outreachy", and find one that looks good.  Those are likely to be a bit more challenging.

[2019-10-02 16:20] ANURADHAJHA99 commented on #1413
@djmitche I completely agree with you. Sure, I will find other issues and work on them. Thank you very much for the feedback.

[2019-10-02 16:21] djmitche commented on #1448
We want to make sure everyone gets a chance to work on an issue, and we don't have too many!  I see this has a PR already, meaning another applicant doesn't get a chance.  You can take a look at the other issues, not labeled "outreachy", and find one that looks good.  Those are likely to be a bit more challenging.

[2019-10-02 16:23] djmitche commented on #1420
Sounds good, it's all yours!

[2019-10-02 16:26] ANURADHAJHA99 commented on #1397
@djmitche Can you please assign the above issue to me? Thank you.

[2019-10-02 16:31] djmitche commented on #1408
We want to make sure everyone gets a chance to work on an issue, and we don't have too many!  So let's save this for another applicant.  You can take a look at the other issues, not labeled "outreachy", and find one that looks good.  Those are likely to be a bit more challenging.

Let's see what @helfi92 says about the PR -- I suspect, especially given the red X's, that it's not the full solution.

[2019-10-02 16:35] djmitche commented on #1421
Hi everyone!

pachicodes, make sure to complete the first step of the application process outlined in the [project description](https://www.outreachy.org/december-2019-to-march-2020-internship-round/communities/mozilla/#build-a-component-that-can-display-a-json-schema).

@olympiawoj has completed that step and is the first to comment here, so I will assign to them.  I apologize to @vishakhanihore

[2019-10-02 16:37] djmitche commented on #1406
@katherine95 it's all yours.  I'll assign to you once you accept the invitation.

[2019-10-02 16:41] mkneumann777 commented on #1398
I would like to try and tackle this 'bug.'

[2019-10-02 16:42] djmitche commented on #1409
@bini11 all yours.  I'll assign this to you once you accept the invite.

@Aishat-Akinyemi you will want to look for issues in the mozilla/contain-facebook and mozilla/multi-account-containers GitHub repositories.  These issue are for another Outreachy project.  Sorry!

[2019-10-02 16:42] devnoorfatima commented on #1420
![1](https://user-images.githubusercontent.com/44938970/66063727-6b835880-e55d-11e9-9467-36d7e04bf3fe.png)
I get this error as I add the id in search bar and press enter

[2019-10-02 16:44] djmitche commented on #1389
@vishakhanihore I see you're already assigned #1388.  @47analogy it's all yours!

[2019-10-02 16:46] 47analogy commented on #1389
Appreciate it! If I have any questions, I'll reach out here.

[2019-10-02 16:47] djmitche commented on #1391
@vishakhanihore and @47analogy both have issues assigned already, so this one is for @SirPhemmiey :)

[2019-10-02 16:48] djmitche commented on #1397
Sure thing!  This one will be a good bit more challenging.  Look at the "scope expander" tool, and check the docs about roles and scopes for some background.

[2019-10-02 16:50] ANURADHAJHA99 commented on #1397
@djmitche Sure, That's what I am currently doing, trying to understand the tool. Thank you very much.

[2019-10-02 16:53] djmitche commented on #1398
All yours!

[2019-10-02 16:54] djmitche commented on #1420
Do you see anything in the console where you are running `yarn start`?  That usually happens when something returns an error message instead of JSON (since "Error" starts with "E").  You can also look in the browser's network inspector to see what the response body is -- you can probably see the whole error message there, and that might help to debug what's wrong.

[2019-10-02 16:57] devnoorfatima commented on #1420
![2](https://user-images.githubusercontent.com/44938970/66064794-88b92680-e55f-11e9-8a0b-73d4ef8e2985.png)
This is what I am getting in the console

[2019-10-02 16:57] djmitche commented on #1420
Are both the `ui/` and `services/web-server` running?

[2019-10-02 16:58] devnoorfatima commented on #1420
![3](https://user-images.githubusercontent.com/44938970/66064865-b0a88a00-e55f-11e9-938a-3ec18398f9d1.png)
this is the terminal

[2019-10-02 16:59] djmitche commented on #1420
Ah, looks like the web-server process isn't running.

[2019-10-02 17:03] devnoorfatima commented on #1420
![10](https://user-images.githubusercontent.com/44938970/66065247-6d025000-e560-11e9-9710-1e1e9e3ce041.png)
when I go to ui/ and give this command yarn start I get this error

[2019-10-02 17:07] devnoorfatima commented on #1420
It worked out. The website and the page is showing up now thanks a lot

[2019-10-02 17:34] Rolikasi commented on #1403
@djmitche , @helfi92 , If nobody assigned to this issue, can I take it? I can't find unassigned UI issues without outreachy label.
Or can you suggest me an issue that will help me better understand how to work with JSON schema?

[2019-10-02 17:35] Rolikasi commented on #1376
@virgilt , hi! Are you working on this issue? Do you need some help?

[2019-10-02 17:53] vishakhanihore commented on #444
@djmitche Please assign me this.

[2019-10-02 17:54] vishakhanihore commented on #217
@djmitche Please assign me this, its been stale . Thanks

[2019-10-02 18:01] djmitche opened #1452 "Remove redundancy in index JSON schemas"
`services/index/schemas/v1/list-tasks-response.yml` contains a subschema that is identical to `services/index/schemas/v1/indexed-task-response.yml`.  Use `$ref` to eliminate the duplication by referring from the former to the latter.  Let's also change the name of the latter from "indexed task response" to just "indexed task".

[2019-10-02 18:03] Jo-IE commented on #1403
Thank you @djmitche !

[2019-10-02 18:04] ajinkabeer commented on #1408
Can I work on this issue please? @djmitche

[2019-10-02 18:25] djmitche commented on #444
@vishakhanihore go ahead and have a look.  @carpecodeum if you are still actively working on this, let us know ASAP?

As you can see from the comments here, this is a tricky one!

[2019-10-02 18:26] djmitche commented on #217
@carpecodeum if you are still working on this, please let us know.  Hopefully the two of you can divide up this issue and #444 :)

[2019-10-02 18:28] djmitche commented on #1408
Sure, have a look!

[2019-10-02 18:28] Rolikasi commented on #1452
Cool! I will work on this issue!
I'll update you with my progress tomorrow
Thanks!

[2019-10-02 18:41] Henikilan commented on #1413
@helfi92 @djmitche
I would like to work on this issue. Can you please assign it to me?

[2019-10-02 19:01] imbstack opened #1455 "Pattern does not have way to view whole if cut off"
**Describe the bug**
In the schema viewers of the docs site, if a string has a pattern that is too long, it will be cut off and an ellipsis will be shown. This is great, the only issue is that there's no way I can find to see the entire thing

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [the listTaskGroup api doc](https://docs.taskcluster.net/docs/reference/platform/queue/api#listTa

[2019-10-02 19:05] Shubhamchinda commented on #1455
I'd like to take this!

[2019-10-02 19:05] imbstack commented on #1455
I believe the fix will occur in https://github.com/taskcluster/react-schema-viewer

[2019-10-02 19:07] djmitche commented on #1455
Hi! Sorry @Shubhamchinda but this issue is reserved for [outreachy](https://www.outreachy.org/) candidates.

Outreachy applicants: in order for this to be assigned to you, make sure to complete the first step of the application process outlined in the [project description](https://www.outreachy.org/december-2019-to-march-2020-internship-round/communities/mozilla/#build-a-component-that-can-display

[2019-10-02 19:11] Rolikasi commented on #1452
@djmitche , do I need to use something like this:
items: {$ref: "schemas/v1/indexed-task-response.yml" }
or just
items: {$ref: "indexed-task-response.yml" }
in line 13?

[2019-10-02 19:13] Shubhamchinda commented on #1455
No problem @djmitche . I'll find another issue, maybe not a `good first issue` as I want to explore more. Let me know if there's anything I can work on!
Cheers!

[2019-10-02 19:16] Ivilili commented on #1455
Hi! I'm Outreachy candidate, can I work on this one?

[2019-10-02 19:25] devnoorfatima commented on #1420
https://github.com/taskcluster/taskcluster/pull/1456
the pull request for this issue

[2019-10-02 19:26] djmitche commented on #1452
The value of the $ref property is a relative URI (just like `href=..` in HTML), so the second form is correct.  Note, though, that schema ID's end with `.json#`, rather than `.yml`.

[2019-10-02 19:26] djmitche commented on #1413
Done!

[2019-10-02 19:29] djmitche commented on #1455
You can!

[2019-10-02 19:38] djmitche commented on #1398
You can find the scopesets utilities under "Authorization" section of the menu. It might help to read a little bit about scopes in the documentation to understand what these tools do.

As for the UI changes, if you search for task MSjwqraNRdS4Q4i3CSLjuw in the task inspector, you'll see that the URL changes to include the taskId, e.g., `https://localhost:5080/tasks/MSjwqraNRdS4Q4i3CSLjuw`.  We wan

[2019-10-02 19:39] Rolikasi commented on #1452
Thank you! 1 more question before a PR:
Did you mean by "change the name" the title inside indexed-task-response.yml
or to change the indexed-task-response.yml to indexed-task.yml?

[2019-10-02 19:42] djmitche commented on #1452
both :)

[2019-10-02 19:49] djmitche opened #1459 "Role editor should show description in markdown"
**Describe the bug**
The role editor should show the description in rendered Markdown

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any role
1. See the description as a text-entry box, rather than as rendered markdown (so for example `*foo*` instead of *foo*).

**Expected behavior**
A tabbed view showing both a preview and a place to write the description, similar to how hooks are di

[2019-10-02 19:51] djmitche opened #1460 "Client editor should show description in markdown"
**Describe the bug**
The client editor should show the description in rendered Markdown

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a client like https://taskcluster-ui.herokuapp.com/auth/clients/static%2Ftaskcluster%2Froot
1. See the description as a text-entry box, rather than as rendered markdown (so for example `*foo*` instead of *foo*).

**Expected behavior**
A tabbed view sho

[2019-10-02 19:55] vishakhanihore commented on #1460
Can I be assigned this ?

[2019-10-02 20:17] djmitche commented on #1460
We want to make sure everyone gets a chance to work on an issue, and we don't have too many!  So let's save this for another applicant.  You can take a look at the other issues, not labeled "outreachy", and find one that looks good.  Those are likely to be a bit more challenging.

[2019-10-02 20:18] #1388 closed

[2019-10-02 20:20] vishakhanihore commented on #1376
@djmitche I would like to work on this

[2019-10-02 20:20] vishakhanihore commented on #1122
@djmitche I would like to work on this

[2019-10-02 20:34] djmitche commented on #1376
Let's see how @virgilt is doing first.  Then @Rolikasi :)

Open source apps aren't *always* this busy :)

[2019-10-02 20:41] djmitche commented on #1122
Sure!  This is a bit of a tricky one, and not React-related, but in JS.  There are some notes in my last comment.

[2019-10-02 20:52] Rolikasi commented on #1459
Do we also need to switch text-entry box to a rendered Markdown in https://taskcluster-ui.herokuapp.com/quickstart in description field or not?

[2019-10-02 21:06] djmitche commented on #1459
That particular example is OK because the description is always empty when that page loads.  But it may make sense for other views!

[2019-10-02 22:51] vishakhanihore commented on #217
@helfi92 @djmitche So, I did a research and tried to `symlink` the `hterm-udmjs` library on local and tried to solve, But ALAS, The issue regarding FF Bug was already solved in original `chromium's hterm` and the following package is made from that consideration. I think there is some error in our code.
I will try to debug using our code. In the meanwhile if you have any suggestion, I am all ears.

[2019-10-03 00:22] virgilt commented on #1376
@djmitche I think I almost have it. If I don’t figure it out by tomorrow night then I’ll hand it off to @Rolikasi if that’s ok.

[2019-10-03 02:30] djmitche commented on #1376
Great, thanks!  Feel free to collaborate, too -- it's open source, after all :)

[2019-10-03 03:05] LeoSilvaGomes commented on #1460
Can I try to fix this issue?

[2019-10-03 03:35] ajinkabeer commented on #1408
I was able to see the warning on my localhost. My question is should I fork and clone the repository that you mentioned in the context and then make a pull request ?
Thanks
@helfi92 @djmitche

[2019-10-03 04:07] vishakhanihore commented on #1408
Yes,you need fork and clone to make a PR.

On Thu, 3 Oct, 2019, 09:05 Ajin Kabeer, <notifications@github.com> wrote:

[2019-10-03 05:35] ajinkabeer commented on #1408
I have fixed the issue and have made a pull request. Can you please take a look ? @djmitche @helfi92
#51 [UI] Remove defaultTabIndex warning in console #50

[2019-10-03 05:36] ajinkabeer commented on #1408
I think I have fixed the issue and have made a pull request. Can you please take a look ? @djmitche @helfi92

mozilla-frontend-infra/components#51

[2019-10-03 06:00] vishakhanihore commented on #1058
@djmitche Please assign me this. I would love to send a PR.

[2019-10-03 08:15] FahdJamy commented on #1460
@LeoSilvaGomes are you going to take on this one??

[2019-10-03 08:54] somchi commented on #1416
Hi, i have complete the first step to make contribution and i will like to make contribution to this issue.

[2019-10-03 09:07] JiwoonKim commented on #1459
Hi! I just sent a screenshot regarding the first step for the Outreachy program.
May I take this issue?

[2019-10-03 09:08] katherine95 commented on #1406
Thank you, Dustin. I am experiencing issues enabling the two-factor
authentication so that I can accept the repo invite.

On Wed, 2 Oct 2019 at 20:52, Dustin J. Mitchell <notifications@github.com>
wrote:

[2019-10-03 09:10] FahdJamy commented on #1459
Sent in the screenshot yesterday. Can I take on this Issue?

[2019-10-03 09:13] FahdJamy commented on #1460
Hey @LeoSilvaGomes are you going to take on this or should I take it on?
I completed the first step for submitting a screenshot.

[2019-10-03 09:55] somchi commented on #1459
I did like to work on this issues

[2019-10-03 10:16] ajinkabeer commented on #1247
I am interested in working on this test. Can you assign it to me please?
@djmitche

[2019-10-03 11:29] somchi commented on #1460
i did like to fix this issue

[2019-10-03 12:19] echessa commented on #1460
Hi @djmitche if no one who has responded before me get's assigned, than I'd like to take this issue.

[2019-10-03 12:19] echessa commented on #1459
Hi @djmitche if no one get's assigned this, I'd like to take it on.

[2019-10-03 13:31] djmitche opened #1472 "SyntaxError in ui/docs/manual/using/namespaces.mdx"
[code]

I'm not sure why mdx-loader considers this a "warning" instead of an error.

@vishakhanihore did you see this issue when you made these changes?

[2019-10-03 13:43] sccofield commented on #1459
hi @djmitche, can I work on this issue, I am one of the outreachy interns.

[2019-10-03 13:44] djmitche commented on #1472
Hm, I actually don't know how to fix this..

[2019-10-03 13:49] djmitche commented on #1472
The bits I don't know:
 * how to make this error show up in CI
 * how to allow writing "regular" Markdown within `<Warning>..</Warning>`.

[2019-10-03 13:56] djmitche commented on #1459
Hi folks -- I'm sorry it's so busy here (it's not usually the case!).  First to ask was @JiwoonKim.

[2019-10-03 13:57] djmitche commented on #1460
@LeoSilvaGomes is the first to ask after @vishakhanihore.

I'm sorry things are so busy these days!  Unfortunately we always get a *lot* of contributors, and it's difficult to think of enough good first tasks for all of them!  Likely some folks will "disappear" and we can reassign those issues.  Note that you can also find a larger set of bugs to work on in https://codetribute.mozilla.org/projects

[2019-10-03 13:57] djmitche commented on #1459
I'm sorry things are so busy these days!  Unfortunately we always get a *lot* of contributors, and it's difficult to think of enough good first tasks for all of them!  Likely some folks will "disappear" and we can reassign those issues.  Note that you can also find a larger set of bugs to work on in https://codetribute.mozilla.org/projects/taskcluster.  Not all of them are quite as "quick" as thos

[2019-10-03 14:04] carpecodeum commented on #217
yes @vishakhanihore you can take this up

[2019-10-03 14:08] djmitche commented on #1058
Let's leave this for other Outreachy applicants.  It's good practice in the process of making a PR.

[2019-10-03 14:12] djmitche commented on #1247
Sure!  You can find a bit of an example in #1240.  To finish this, you'll need Taskcluster credentials.  Sign in to https://tools.taskcluster.net, then go to "Manage Credentials" and tell me what it shows for ClientId.  Once that is done, we can create a client for you to use.

[2019-10-03 14:13] sccofield commented on #1058
Hi @djmitche I am an outreachy applicant. Can I work on this issue?

[2019-10-03 14:14] djmitche commented on #1058
All yours!

[2019-10-03 14:22] vishakhanihore commented on #1472
I will take a look as soon as I get free from my classesm

On Thu, 3 Oct, 2019, 19:21 Dustin J. Mitchell, <notifications@github.com>
wrote:

[2019-10-03 14:26] JiwoonKim commented on #1459
@djmitche thanks!

[2019-10-03 14:46] katherine95 commented on #1406
@djmitche I have a [PR](https://github.com/taskcluster/taskcluster/pull/1475) for this issue.

[2019-10-03 15:11] ajinkabeer commented on #1408
All checks have been passed. Can you take a look please ? @djmitche

[2019-10-03 15:17] sccofield commented on #1058
hi @djmitche I worked on the issue on a new branch, and I have been trying to push, so that I can raise a PR, but I keep getting
`remote: Permission to taskcluster/taskcluster.git denied to sccofield.`
`fatal: unable to access 'https://github.com/taskcluster/taskcluster.git/': The requested URL returned error: 403`

[2019-10-03 15:41] olsenme commented on #1460
Has this issue been assigned?

[2019-10-03 15:47] shilpiverma509 commented on #1416
Hi @djmitche I would like to work on this issue

[2019-10-03 16:29] shilpiverma509 commented on #1409
@djmitche  Can I work on this issue if this is still to be done? I have already worked this out on my local branch. However, I am unable to push as it gives me an error :ERROR: Permission to taskcluster/taskcluster.git denied to shilpiverma509.

[2019-10-03 16:47] katherine95 commented on #1058
@sccofield, fork this repo then push to your remote, it will link the PR to this repo automatically. I hope this helps.

[2019-10-03 16:58] katherine95 commented on #1405
@djmitche Has anyone taken up this task?

[2019-10-03 17:50] bini11 commented on #1409
@shilpiverma509 I have already added tooltips and submitted Pull request for this issue
 which is currently waiting for a review.

[2019-10-03 18:07] JiwoonKim commented on #987
Hi! I'm an Outreachy Applicant and have completed the first step (sending screenshot). Can I take this issue?

[2019-10-03 18:13] sccofield commented on #1058
@katherine95 Thanks a lot. It was really helpful.

[2019-10-03 19:11] FahdJamy commented on #1460
Yes @olsenme, the Task was assigned to **Leo**.

[2019-10-03 19:59] Rolikasi commented on #1376
@virgilt , how is it going?
I made research and found the solution for this issue!
The problem is with window.location.pathname (URL):
It is not only in top level sections, you can try to load http://localhost:5080/docs/manual/access-control/third-party/
If it end with "/" the function findChildFromRootNode(node) doesn't work

Should I make a PR for this issue?

[2019-10-03 20:02] djmitche commented on #1416
Hi folks - note that this is already assigned to someone :)

Unfortunately we always get a *lot* of contributors, and it's difficult to think of enough good first tasks for all of them!  Likely some folks will "disappear" and we can reassign those issues.  Note that you can also find a larger set of bugs to work on in https://codetribute.mozilla.org/projects/taskcluster.  Not all of them are quite

[2019-10-03 20:12] djmitche commented on #1405
Not yet.  I think the first thing to do would be to confirm that this bug is, in fact, the case -- I believe since @petemoore mentioned "Task & Group Inspector" that this is the old UI (for example, https://tools.taskcluster.net/groups/Gw48tjKCSxah55TSN8JGxQ/tasks/J79ITApVTW6zwcmb1vHXuQ/runs/0/logs/public%2Flogs%2Flive.log).

You can try the taskId from that link in the new UI, and try copy/pastin

[2019-10-03 20:16] djmitche commented on #1409
Sorry @shilpiverma509 !  But, you can help out by having a look at @bini11's PR (#1471) and commenting on it.

[2019-10-03 20:17] katherine95 commented on #1405
Okay, trying it out. Will let you know

[2019-10-03 20:19] djmitche commented on #987
Hi @JiwoonKim please have a look.  @ss77995ss are you still working on this?

[2019-10-03 20:31] Rolikasi commented on #773
Hi, @subhdcode20.

[2019-10-03 21:03] katherine95 commented on #1405
@djmitche just to seek clarification, am I reproducing it correctly in the new UI? Below is a [gif ](http://g.recordit.co/WUWRb9tqVs.gif)with how I am trying to reproduce it. It seems to allow copy/paste.

http://g.recordit.co/WUWRb9tqVs.gif

[2019-10-03 21:17] djmitche commented on #1405
I think the gif cuts off before the interesting part (i see you clicking on the live log link..) but yes, the part I see looks correct.  So yes, I think this works fine!  Thanks for verifying!

[2019-10-03 21:17] #1405 closed

[2019-10-03 21:30] katherine95 commented on #1405
Oh I see the gif record didn't complete, any way you are welcome.

[2019-10-04 00:19] chefoce commented on #1460
Hi, I would like to contribute to this issue for outreachy project. Could you please assign it to me?

[2019-10-04 00:34] chefoce commented on #835
Hi, I would like to contribute to this issue for outreachy project. Could you please assign it to me?

[2019-10-04 01:41] ss77995ss commented on #987
@djmitche I'm confronting with some obstacles now, and still cannot figure it out yet, but it is OK to give someone a try :)

[2019-10-04 01:47] vishakhanihore commented on #1472
@djmitche AFAIK, Such issues didn't come up in my PR #1451 as the CI passed at that time.
BTW is this error coming up in `console` or `CI Build` ?

[2019-10-04 01:52] vishakhanihore commented on #895
@arku Are you still working on it?

[2019-10-04 03:14] virgilt commented on #1376
@Rolikasi Actually didn't see your comment until I had already figured it out. Wish I had seen it sooner, would have saved a lot of time. You're right though. I added a regular expression to remove the "/" at the end of the node.

[2019-10-04 04:10] ajinkabeer commented on #1247
Yes, my client id is _mozilla-auth0/github\|30138596\|ajinkabeer_
@djmitche

[2019-10-04 08:47] owlishDeveloper opened #1487 "[UI] Focus on tab is broken in Create Worker Pool form"
**Please do not work on this issue without asking and being assigned first! If you already have some issues assigned to you, please wait until your PR is merged before asking for a new one! Thank you!**

When filling out the form to create a workerpool, you can't move the focus from the last field of the form (the code editor) to Save button with the Tab key.

**To Reproduce**
Steps to reproduce t

[2019-10-04 09:00] owlishDeveloper opened #1488 "[UI] Focus on tab is broken in Create Hook form"
**Please do not work on this issue without asking and being assigned first! If you already have some issues assigned to you, please wait until your PR is merged before asking for a new one! Thank you!**

When filling out the form to create a hook, you can't move the focus from the last field of the form (the code editor) to Save button with the Tab key.

**To Reproduce**
Steps to reproduce the beh

[2019-10-04 09:12] Rolikasi commented on #1488
Hello @owlishDeveloper, I'm assigned to some issues and made PRs to all of them, but mentor will check them only next week. Can I take this issue to work on?

[2019-10-04 10:11] ANURADHAJHA99 commented on #1397
@djmitche I used the expander tool. However even after reading the docs, I am still unable to comprehend how did it expand to so many scopes. How are the relation of one scope defined with another scope? I am very sorry but can you please clear my doubt?

[2019-10-04 12:45] djmitche commented on #1460
Oops, sorry, I meant to assign to @LeoSilvaGomes when I commented about 24h ago, and they have filed a PR for the issue.

[2019-10-04 12:45] djmitche commented on #1460
We have had an overwhelming response to this Outreachy round and the good getting-started issues we have accumulated are mostly assigned to other applicants already.  There are a few things you can do:
 * look for other good-first-bugs (not labeled "outreachy") in this issue tracker or in https://codetribute.mozilla.org/projects/taskcluster, noting that some of the bugs there are quite a bit harde

[2019-10-04 13:06] vishakhanihore commented on #1487
@owlishDeveloper Please can you assign me this issue

[2019-10-04 14:29] vishakhanihore commented on #749
@djmitche Its good to be closed now I think.

[2019-10-04 14:57] JiwoonKim commented on #1487
Hi! I am an Outreachy Applicant and have been invited! Can I take this issue?

[2019-10-04 14:57] djmitche commented on #1488
Hi @Rolikasi -- we still have lots of other applicants looking for their first contributions, and you have made a lot of good contributions already.  Good next steps for you would be to find some more-difficult tasks to work on, or to start in on writing your application.  Thanks!

[2019-10-04 14:57] shilpiverma509 commented on #1488
Hi @djmitche @owlishDeveloper  Can I take this issue to work on?

[2019-10-04 14:57] JiwoonKim commented on #1488
Hi! I am an Outreachy Applicant and have been invited! Can I take this issue?

[2019-10-04 14:59] djmitche commented on #1487
We want to make sure everyone gets a chance to work on an issue, and we don't have too many!  So let's save this for another applicant.  You can take a look at the other issues, not labeled "outreachy", and find one that looks good.  Those are likely to be a bit more challenging.

[2019-10-04 15:00] djmitche commented on #1488
Sure @, this will make a good first contirbution.

[2019-10-04 15:15] djmitche commented on #835
Sure!  There is a bit of web design to do here, too, to think of a way to achieve both "breathable" and "compact" at the same time.  Try a few things, decide what you like best, and make a PR -- then @helfi92 and @owlishDeveloper can comment next week.

[2019-10-04 15:16] JiwoonKim commented on #1246
Hi! I am an Outreachy Applicant and have previously submitted one pull request for one of the `good first issue` labeled issues. I am still waiting for the pull request to be approved, but thought that this is an interesting issue because my last issue was about editing the role UI :)
I understand that the other `good first issue` labeled issues are reserved for other applicants (I hope they all g

[2019-10-04 15:17] djmitche commented on #1472
It's coming up in the terminal where I ran `yarn start`.  It doesn't seem to show up in CI -- I'm not sure why!  Thanks for your notes..

[2019-10-04 15:18] chefoce commented on #835
Great!! i will start work in this right now, thanks

[2019-10-04 15:19] djmitche commented on #895
@vishakhanihore I see three [issues assigned to you](https://github.com/taskcluster/taskcluster/issues/assigned/vishakhanihore) right now.  Let's get those finished up first, please!

[2019-10-04 15:31] vishakhanihore commented on #1472
@djmitche My fork is insync with the upstream/master and I still cant see this error in web-server nor ui.

[2019-10-04 15:33] djmitche commented on #1472
I merged the PR, so it's fixed in master now :)

[2019-10-04 15:43] djmitche commented on #1247
Great!  I created a role to give you the necessary scopes to run the smoketests: https://tools.taskcluster.net/auth/roles/login-identity%3Amozilla-auth0%2Fgithub|30138596|ajinkabeer

The next step is for you to create a new client, using https://tools.taskcluster.net/auth/clients/.  The tool will suggest the beginning of the clientId, and you can add "smoketests" to the end of it to remember what

[2019-10-04 15:47] djmitche commented on #1397
[This page](https://docs.taskcluster.net/docs/reference/platform/auth/scopes) and the few pages that follow it should help explain.  Basically, a scope that starts with `assume:` can "expand" into a lot more scopes, and the scope expander tool is a way for users to see this in action.  You can see the roles that are defined in https://taskcluster-ui.herokuapp.com/auth/roles.

[2019-10-04 15:51] #749 closed

[2019-10-04 15:52] djmitche commented on #1246
Are you still working on #987?

[2019-10-04 15:53] ANURADHAJHA99 commented on #1397
@djmitche So our main task is to introduce the aspect of "scope expander tool" in "Scope comparison tool"?

[2019-10-04 15:54] djmitche commented on #1397
Yes, as an option (so a button for each text area that will expand the scopes in that text area)

[2019-10-04 15:55] ANURADHAJHA99 commented on #1397
Okay, Thank you so much for the help. I got it now. I am working on it!!

[2019-10-04 16:21] ededals commented on #1241
I think a small modification to succeed tests will also cover this case. I will try to make the changes.

[2019-10-04 16:49] Hexcles opened #1492 "client-go requires an invalid pseudo-version of streadway/amqp"
**Describe the bug**

In module-aware mode, `go get` complains about an invalid pseudo-version.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new go module that requires clients-go (`github.com/taskcluster/taskcluster/clients/client-go/v18 v18.0.3`).
2. Run `go get`.
3. See error:
[code]

**Expected behavior**
No error produced

**Platform (please complete the following informatio

[2019-10-04 17:00] devnoorfatima commented on #1487
Can I work on this issue.

[2019-10-04 17:01] devnoorfatima commented on #1421
@olympiawoj  do you need any help in this issue.

[2019-10-04 17:08] shilpiverma509 commented on #1488
Can we use tabIndex attribute here if I am understanding correctly.

[2019-10-04 17:59] djmitche commented on #1492
I think Renovate is actually the thing doing something wrong here :(

[2019-10-04 20:18] #1420 closed

[2019-10-04 20:18] djmitche commented on #1487
Sure!

[2019-10-04 21:01] #1058 closed

[2019-10-04 21:08] djmitche commented on #1492
Same issue in https://github.com/taskcluster/taskcluster-worker-runner/pull/47.  What I don't get is, things work fine running e.g., `go test ./...` in `clients/client-go`.  And the day is right, it just seems the time is a little off.  **weird**

I think go modules has some growing to do.. I'm hoping it's less buggy in go1.13!

[2019-10-04 21:29] Hexcles commented on #1492
Timezones? I didn't read too much about pseudo versions. Does it assume UTC?

---
Sent from my cellphone.

On Fri., Oct. 4, 2019, 17:08 Dustin J. Mitchell, <notifications@github.com>
wrote:

[2019-10-05 02:55] ajinkabeer commented on #1247
Thanks for the detailed explanation. I have set the environment variables and on running `yarn smoketest` and it returns no errors.

Now I can work on creating the test.

![smoke](https://user-images.githubusercontent.com/30138596/66248859-81557100-e749-11e9-8ac8-38ed6ad22a90.JPG)

@djmitche

[2019-10-05 03:06] ajinkabeer commented on #1247
I was able to set the secret, get it and check the value is same and then remove it and then getting the secret fails. @djmitche

- Setting the secret

![1](https://user-images.githubusercontent.com/30138596/66248961-e3fb3c80-e74a-11e9-8af5-03c78af98c4a.JPG)

- Getting the secret and checking if the value is same

![2](https://user-images.githubusercontent.com/30138596/66248972-186ef880-e74b-11e9-

[2019-10-05 05:51] devnoorfatima commented on #1487
When I click on create it says Auth required ?

[2019-10-05 11:29] shilpiverma509 commented on #1488
@djmitche  @JiwoonKim any guidance here?

[2019-10-05 11:46] ANURADHAJHA99 commented on #1397
@djmitche I was going through the taskcluster repository and tried to understand the codebase of 'RoleScopesTable' and other files in the components directory. I am however stuck, about the expandScope function. Is it available in the 'utils' directory? I wanted to see the function to get an idea about how exactly the expansion of scopes takes place. Also while comparing the two scopes there was a

[2019-10-05 12:53] djmitche commented on #1492
The minutes differ, and not by a multiple of 30.  Dunno..

[2019-10-05 13:06] djmitche commented on #1247
Hm, I got an email about a comment that I don't see here..

[2019-10-05 13:06] djmitche commented on #1247
whoops, wrong button!

[2019-10-05 13:06] djmitche commented on #1247
Anyway, yes, the next step is writing the test that will call those Secret service API methods.

[2019-10-05 13:07] djmitche commented on #1487
That's OK -- you don't need to actually create a worker pool here, just make sure the focus works (which, if hitting "tab" and "enter" shows that error, it does).

[2019-10-05 13:08] djmitche commented on #1488
It sounds like you have the right idea.. try it out and see if it works?

[2019-10-05 13:12] djmitche commented on #1397
I'm glad you're working to figure this out!  The expandScopes function is an [API method on the auth service](https://docs.taskcluster.net/docs/reference/platform/auth/api#expandScopes).  You can find the code [here](https://github.com/taskcluster/taskcluster/blob/master/services/auth/src/scoperesolver.js) but it's probably not an especially enlightening read -- it's heavily optimized so that it c

[2019-10-05 13:13] ajinkabeer commented on #1247
Yes, I deleted the comment because I felt it was irrelevant.  It was screenshots of some trivial doubts I had.  Yes, I understood the task.

[2019-10-05 13:13] forking-renovate[bot] opened #1498 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

File: `package.json`
Error type: The renovate configuration file contains some invalid settings
Message: `Invalid configuration option: enabeledManagers`

[2019-10-05 13:35] #1498 closed

[2019-10-05 14:18] devnoorfatima commented on #1487
But the save button is disabled, so would i be able to see the results.

[2019-10-05 14:20] djmitche commented on #1487
Ah, good point.  If you click the "sign in" in the upper right and put nonsense in for the clientId and accessToken, it will enable that button.

[2019-10-05 14:23] ededals commented on #1242
Hey,

I would like to try to solve this. How many tasks should I create?Will three be enaugh?

[2019-10-05 16:48] Jo-IE commented on #631
Hi, I'm looking into this issue, and this is my thought process so far on resolving it:

1) passing in an array of objects as stated in the above comments in `/ui/src/components/AwsProvisionerWorkerTypeTable/index.jsx`

2) changing the values in the header `map` function (https://github.com/taskcluster/taskcluster/blob/master/ui/src/components/DataTable/index.jsx#L134-L141) to `header.label`  wher

[2019-10-05 18:04] djmitche commented on #631
That sounds about right!  Yes, the label should default to the camelCase version of the id.  In some uses of DataTable, we'll want to override that completely, though -- for example, we might want to write `{label: 'Provisioner', id: 'provisionerId'}`.

[2019-10-05 18:06] djmitche commented on #1242
Three is good, yeah.

[2019-10-05 18:07] djmitche commented on #1242
@all-contributors please add ededals for code

[2019-10-05 18:13] shilpiverma509 commented on #1488
@djmitche I tried doing with tabIndex={-1} on the CodeEditor. This didn't work out.

[2019-10-05 18:15] djmitche commented on #1488
We might have to wait for @helfi92 to return next week, then.  I'm not an expert on the topic.  Feel free to keep trying to figure it out, though!

[2019-10-06 12:31] djmitche commented on #1407
@prehistoricpancake are you still working on this?

[2019-10-06 12:32] djmitche commented on #1389
@47analogy are you still working on this?

[2019-10-06 12:32] djmitche commented on #1391
@SirPhemmiey are you still working on this?

[2019-10-06 12:32] djmitche commented on #1403
@Jo-IE are you still working on this?

[2019-10-06 12:33] djmitche commented on #1413
@Henikilan are you still working on this?

[2019-10-06 12:33] djmitche commented on #1455
@Ivilili are you still working on this?

[2019-10-06 12:33] djmitche commented on #1398
@mkneumann777 are you still working on this?

[2019-10-06 12:33] vishakhanihore commented on #1389
Can I take it ?

On Sun, 6 Oct, 2019, 18:02 Dustin J. Mitchell, <notifications@github.com>
wrote:

[2019-10-06 12:34] vishakhanihore commented on #1391
Can I take it ?

On Sun, 6 Oct, 2019, 18:02 Dustin J. Mitchell, <notifications@github.com>
wrote:

[2019-10-06 12:38] djmitche commented on #1389
@vishakhanihore there are still many people who have not made their first contribution, so please allow them to claim this one.  Note that you already have three open issues assigned to you!

[2019-10-06 12:38] djmitche commented on #1391
@vishakhanihore there are still many people who have not made their first contribution, so please allow them to claim this one.

[2019-10-06 13:17] shilpiverma509 commented on #1488
@djmitche Sure I am trying out here. Meanwhile can I also work on some other unassigned issue?

[2019-10-06 13:18] Henikilan commented on #1413
@djmitche
Finished 3 days ago, there is a pull request for this one [here](https://github.com/taskcluster/taskcluster/pull/1470)

[2019-10-06 13:30] shilpiverma509 commented on #1391
Can I work on this ? @djmitche

[2019-10-06 14:26] Jo-IE commented on #1403
hi @djmitche , I submitted my latest PR ( #1480 ) for it yesterday, you left a comment that I would need to wait for another reviewer for it to be merged.

[2019-10-06 14:26] Jo-IE commented on #1403
I am now working on #631 :)

[2019-10-06 14:37] shilpiverma509 commented on #1391
I think the problem lies in the way the state variable expanded is set in this case. @djmitche Please let me know if I can try working on this one.

[2019-10-06 15:44] devnoorfatima commented on #1487
I understood this issue [UI] Focus on tab is broken in Create Worker Pool
form #1487 but I am not getting that one point to work on.Can you help me a
bit.

On Sat, Oct 5, 2019 at 7:20 PM Dustin J. Mitchell <notifications@github.com>
wrote:

[2019-10-06 16:00] Jo-IE commented on #631
I think I will wait till my previous PR #1403 is merged before making a PR for this issue because I just tried to make a PR and my commit included changes from the previous PR for issue #1403

[2019-10-06 17:10] mkneumann777 commented on #1398
Yes, I am still working towards solving this issue. I just finished up my Web Developer Bootcamp and started working through a React.js course so I can have an understanding of JSX and React.js as a whole.

[2019-10-06 17:40] ANURADHAJHA99 commented on #1397
@djmitche I was working on the scopesetComparison index.jsx and I finally understood how the scopesetExpander.jsx works. However, I had a doubt, can we use the "ScopeExpander class" in scopesetComparison.jsx by importing it and add an expander button on the bottom left? That's how I am thinking about forming the solution. Please correct me if I am wrong. Thank you for helping me.

[2019-10-06 21:44] djmitche commented on #1488
Let's see if @SirPhemmiey is still working on #1391, and if not you can take it.

[2019-10-06 21:44] djmitche commented on #1413
Oh, sorry, I somehow missed the reference to that pull request right above my comment!

[2019-10-06 21:45] djmitche commented on #1403
Perfect.  Sorry for my confusion!

[2019-10-06 21:47] djmitche commented on #1487
I'm not sure what the question is there.  My comment yesterday shows how you can enable the "create" button.  It will still give an error instead of actually creating a worker-pool, but that's good -- we don't want to actually create any worker pools! And the important thing is that "tab" works.

[2019-10-07 01:36] 47analogy commented on #1389
@djmitche Yes, I'm still working on it. PR will be coming soon.

[2019-10-07 03:00] prehistoricpancake commented on #1407
@djmitche on it!

[2019-10-07 07:59] SirPhemmiey commented on #1488
I didn't find my way around it. Another person can take it.

[2019-10-07 09:31] Ivilili commented on #1455
Yes.. still working on this

[2019-10-07 12:12] ANURADHAJHA99 commented on #1397
@djmitche I have added the "ScopeExpander button" as required, however, i am having difficulty styling the button. Actually I have to position the button in the bottom left which is creating some problems,
@withStyles(theme => ({
  actionButton: {
  ...theme.mixins.fab,
  },
this is the piece of code for styling the button, I have tried googling but it is not helping out, can you please guide me?

[2019-10-07 12:34] devnoorfatima commented on #1488
@djmitche I am working on issue #1487 which is similar to this one and i'm finding my way around so can I take this one too.

[2019-10-07 13:30] shilpiverma509 commented on #1488
@devnoorfatima  I was working on it, However, I am blocked here and still trying out. If you have already figured out the solution you can take it and I will check your PR for your solution. I think we can learn from each other.

[2019-10-07 13:32] shilpiverma509 commented on #1391
@djmitche  I have submitted a PR for this issue. Can you assign it to me now as @SirPhemmiey suggested to take this issue.

[2019-10-07 14:16] SirPhemmiey commented on #1488
@shilpiverma509, that's good of you. @devnoorfatima, we can learn from each other.

[2019-10-07 14:20] prehistoricpancake commented on #1407
Hey @djmitche quick question, I'm having trouble fixing this. Looked at [mui docs on this](https://material-ui.com/components/tooltips/#disabled-elements) implemented it in a similar way but I still get the console error.

Here's the code:
`<div
          disabled={isDisabled}
          style={disabled ? { pointerEvents: 'none' } : {}}>
          <span {...spanProps}> {ButtonComponent}</span>

[2019-10-07 14:44] #1417 closed

[2019-10-07 15:11] devnoorfatima commented on #1488
Yes sure why not I'll let you know as soon as I get the solution. I am working on it but nothing seems to be working. After all learning is what matters the most.

[2019-10-07 15:19] devnoorfatima commented on #1488
Oh I am sorry I just read your comment that you've asked for this issue already. I would never have asked for it if I knew it earlier.

[2019-10-07 15:25] devnoorfatima commented on #1488
Oh I am sorry @shilpiverma509 I thought it's you who said that "another person can take this issue" it was a misunderstanding ,I thought you are talking about this issue.Now I read the comments and get to know that two persons are talking about two issues.Sorry this issue is yours.

[2019-10-07 17:30] #1409 closed

[2019-10-07 18:01] #1416 closed

[2019-10-07 18:13] devnoorfatima commented on #1487
I tried the tabIndex it does not make it work also I tried doing it by making a function and putting an eventlistener but still it does not work.Can you please help me out a bit.

[2019-10-07 18:48] ANURADHAJHA99 commented on #1397
@helfi92 Can you please guide me with the above problems? Thank you for answering my queries.

[2019-10-07 19:11] djmitche opened #1518 "[UI] Profile shows n/a for scopes"
**Describe the bug**
The "profile" view should show the user's current (basic and expanded) scopes.  It appears to show "n/a" instead

**To Reproduce**
Steps to reproduce the behavior:
1. Sign in to https://community-tc.services.mozilla.com/ with GitHub
2. Click your picture and choose "Account"
3. See "n/a"

**Expected behavior**
Shows scopes

**Screenshots**
![Screenshot_2019-10-07 Profile - Com

[2019-10-07 19:11] djmitche commented on #1518
(note that the signature is not especially secret - it's useless without the accessToken - but I figured I'd obscure it anyway.

[2019-10-07 19:16] djmitche commented on #1518
This may be related to https://bugzilla.mozilla.org/show_bug.cgi?id=1586874.

[2019-10-07 19:56] ANURADHAJHA99 commented on #1518
@djmitche  Can you please assign the following issue to me? I would like to work on it.

[2019-10-07 19:58] djmitche commented on #1407
I'll defer to @helfi92 on that :)

[2019-10-07 19:59] djmitche commented on #1518
Sure!  I think the required fix is actually much smaller: when no scopes are returned, instead of reading "n/a", it should read "*no scopes*".

[2019-10-07 20:02] ANURADHAJHA99 commented on #1518
@djmitche Okay I will try to fix that. Thank you for helping out.

[2019-10-07 20:05] djmitche commented on #1492
https://github.com/taskcluster/taskcluster-worker-runner/pull/48 suggests this is also true for `golang.org/x/tools@v0.0.0-20190722020823-e377ae9d6386`.  I will see if I can reproduce this reliably and shake out *all* of the fallout.

[2019-10-07 20:35] ANURADHAJHA99 commented on #1518
@djmitche I have solved the issue. Please kindly review it. Thank you for assigning me. This the link to the PR. https://github.com/taskcluster/taskcluster/pull/1520

[2019-10-07 21:03] djmitche commented on #1397
I don't see a class with that name, so I'm not sure how to answer.

[2019-10-07 21:12] ANURADHAJHA99 commented on #1245
@djmitche I would like to take this issue and do more research on it and try to solve it. Can you please assign the following issue to me?

[2019-10-07 21:17] ANURADHAJHA99 commented on #1245
Can you please give me an insight into how the clients are made? Also, how are we going to run the test(the platform where we are going to run the test) etc? I am sorry to cause you inconvenience, but it will be very helpful.

[2019-10-07 21:30] #1518 closed

[2019-10-07 21:38] Ivilili commented on #1455
Hi @djmitche @helfi92 I have a question about this issue. It's not only taskGroupId pattern that is cut, but also every other longer pattern. Should I make a pattern component, so that every longer pattern has a tooltip?

[2019-10-08 00:56] chefoce commented on #835
Hi i tried to start working with [UI] Improve layout of forms #835, but i don’t have clear in what file should i do the improvement, could someone help me with that? thanks